@charset "utf-8";

/* layout */
.ui_cover{padding-right:.9375rem;padding-left:.9375rem}
.ui_table{display:table;table-layout:fixed;width:100%}
.ui_table>li{display:table-cell;vertical-align:middle}
.ui_cols:after{content:'';display:block;clear:both}
.ui_cols>li{float:left}
.ui_align_mid{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;text-align:center}
.ui_align_mid:before{height:100%;content:'';display:inline-block;vertical-align:middle}
.ui_align_mid .ele{position:relative;display:inline-block;vertical-align:middle;margin:0 auto 0 -.1rem}

#wrap {width:100%;height:100%;}
#header{
           position:relative;
           border-bottom:1px solid #727272;background-color:#fff;
  /* Status bar height on iOS 11.0 */
  padding-top: constant(safe-area-inset-top);
  /* Status bar height on iOS 11+ */
  padding-top: env(safe-area-inset-top);
}
#header h1 img{width:4.90625rem}
#container {min-height:100%;margin-top:-3rem;margin-bottom:-1.6rem;}
#ct{padding:3rem 0 1.6rem;}
#ct.none{padding-bottom:0;min-height:auto;}
#footer{padding:.46875rem 1rem;background-color:#efefef;overflow:hidden;}
#footer h3{font-size:.625rem;font-weight:400;color:#3d3d3d}
#footer img.logo{/*position:absolute;top:.25rem;right:1rem;height:1.0625rem*/}
/*#footer.fix{position:fixed;bottom:0;left:0;right:0}*/


/* content */
.agency_select{padding-top:1.5625rem}
.agency_select:after{display:block;clear:both;content:''}
.agency_select input{width:1px;height:1px;border:0;margin:-1px;padding:0;overflow:hidden;position:absolute;clip:rect(0,0,0,0)}
.agency_select > p{font-size:.75rem}
.agency_select ul{margin-top:.625rem}
.agency_select ul:after{content:'';display:block;clear:both}
.agency_select ul>li{position:relative;float:left;width:50%;height:5.75rem}
.agency_select ul label{border:1px solid #e1e1e1}
.agency_select ul input:checked + label:after{content:'';display:block;position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;border:2px solid #8951ff}
.agency_select ul input:checked .ele{margin-top:-.3rem}
 /* =SK */
.agency_select ul li:first-child img{width:5.875rem}
/* =KT */
.agency_select ul li:nth-child(2) label{border-left:0}
.agency_select ul li:nth-child(2) img{width:1.875rem}
/* =LGU */
.agency_select ul li:nth-child(3) img{width:5.875rem}
.agency_select ul li:nth-child(3) label{border-top:0}
/* =알뜰 */
.agency_select ul li:nth-child(4) img{width:5.1875rem}
.agency_select ul li:nth-child(4) label{border-top:0;border-left:0}
.agency_select .btn_skip{margin-top:1.2rem;width:100%}
.agency_select .agreelist{margin-top:.625rem;padding-left:1.67rem}
.agency_select .agreelist .checkbox{vertical-align:top}
.agency_select .agreelist input:checked + label:after{display:none}
.agency_select .agreelist li{width:7.09375rem;height:auto}
.agency_select .agreelist li.all{width:auto;float:none;margin-bottom:.3rem;margin-left:-1.67rem}
.agency_select .agreelist li.all label{font-weight:500;font-size:.8125rem;color:#111}
.agency_select .agreelist label{border:0}

.telecom_select{padding-top:1.5625rem}
.telecom_select > p{font-size:.75rem}
.telecom_select .list{margin-top:.625rem;border:1px solid #e1e1e1;border-top:0}
.telecom_select .list li{display:table;width:100%;border-top:1px solid #e1e1e1}
.telecom_select .list .logo, .telecom_select .list p{display:table-cell;vertical-align:middle}
.telecom_select .list .logo{width:5.25rem}
.telecom_select .list .logo img{width:auto;height:1.5625rem}
.telecom_select .list p{padding:.625rem;background-color:#f3f3f5;font-size:.625rem;color:#707070}
.telecom_select .checkbox{text-align:center}
.telecom_select .checkbox input + label{padding-left:0;padding-bottom:1.75rem}
.telecom_select .checkbox input + label:before{width:1.0625rem;height:1.0625rem;left:50%;margin-left:-.53rem;bottom:0;background-image:url(../img/pass/checkbox_circle.png)}
.telecom_select .checkbox input + label:active:before,
.telecom_select .checkbox input:checked + label:active:before,
.telecom_select .checkbox input:checked + label:before{background-image:url(../img/pass/checkbox_circle_on.png)}

.result_area{padding-top:3.75rem;padding-bottom:4.84375rem;background-color:#fff;text-align:center}
.result_area .tit{font-weight:500;font-size:.9375rem}
.result_area .txt{margin-top:.5rem;font-size:.75rem}
.result_area .btn_skip{width:100%;margin-top:1rem}
.result_area .btn_skip2{width:100%;margin-top:2.1875rem}
.result_area .cau{text-align:center;margin-top:.3125rem;font-size:.625rem}

.result_area2{padding-top:1.5625rem}
.result_area2 h2{text-align:center;font-size:1.0625rem;font-weight:400}
.result_area2 h2 b{font-weight:700}
.result_area2 ul{text-align:right;font-size:.75rem;margin-top:1.6875rem;padding:.35rem 1.2rem .75rem;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.result_area2 li{position:relative;margin-top:.25rem}
.result_area2 .stit{position:absolute;top:0;left:0;color:#000}
.result_area2 figure{position:relative;width:11.9375rem;height:5.1875rem;margin:2.0625rem 0 .875rem 4.5rem;background:url(../img/pass/bg_pass_pw2.png) no-repeat;background-size:100% auto}
.result_area2 figure + p{line-height:1.3;font-size:.875rem;text-align:center}

.certify_step{padding-top:1.6875rem;padding-bottom:1rem;background-color:#fff;font-size:.75rem}
.certify_step .stit{position:absolute;top:.2rem;left:0;text-indent:-10rem;background:url(../img/pass/bg_text.png) no-repeat;background-size:100% auto;width:2.375rem;height:.625rem}
.certify_step .twinkle{position:absolute;bottom:.3rem;left:5.4rem}
.certify_step .list li{position:relative;padding-left:2.84375rem;margin-top:.9375rem;letter-spacing:-.06rem}
.certify_step .list li strong{font-weight:700}
.certify_step .list li:first-child{height:7rem;margin-top:0;background:url(../img/pass/bg_pass_pw.png) no-repeat 3.75rem 100%;background-size:auto 5.1875rem}
.certify_step .list li:nth-child(2) .stit{background-position:0 -.875rem}
.certify_step .btn_area2{margin-top:1.09375rem}

.app_down{padding-top:1.25rem;padding-bottom:1.25rem}
.app_down>ul:after{content:'';display:block;clear:both}
.app_down>ul>li:first-child{float:left;line-height:1.3;padding-top:.3125rem;font-size:.75rem;color:#272727}
.app_down>ul>li:last-child{float:right}
.app_down img{width:9.21875rem}
.app_down .cau{position:relative;margin-top:1.375rem;padding:.8125rem 0 0 .375rem;border-top:1px solid #c0c2c3;font-size:.6875rem;color:#666}
.app_down .cau:before{content:'*';position:absolute;top:1rem;left:0}
.app_down .btn_certify{width:100%;margin-top:.625rem}
.app_down .btns li{margin-top:.46875rem}
.app_down .btns li:first-child{margin-top:0}
.app_down .btns li>button{background-color:rgba(255,255,255,.5);position:relative;display:inline-block;width:8.125rem;line-height:2.4375rem;text-align:center;vertical-align:top;font-size:.6875rem;color:#111;border-radius:.25rem;border:1px solid #cecfcf;box-shadow:.2rem .2rem .75rem rgba(74,75,76,.1)}
.app_down .btns li>button:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;left:0;z-index:-1;background-color:rgba(255,255,255,.5)}
.app_down .btns li>button span{position:relative;display:inline-block;width:5.75rem;text-align:left}
.app_down .btns li>button .ico_com{position:absolute;top:50%;margin-top:-.4rem;right:0}

.certify_end .list_caution{margin-top:1.375rem;padding-top:1.125rem;border-top:1px solid #a5a8a8}
.certify_end .btn_skip{width:100%;margin-top:.75rem}
.certify_end .btn_area{margin-top:0}
.certify_false .list_caution{padding-top:1rem;padding-bottom:1rem}
.certify_false .btn_skip{width:100%;margin-top:.75rem}
.certify_user .ui_cover{padding-top:1.25rem;padding-bottom:1.25rem;}
.certify_num .ui_cover{}
.certify_num fieldset{height:16.3rem;padding-top:1.25rem;background-color:#fff;}
.certify_num fieldset .btn_area2{margin-top:1rem;}

/* popup */
.ly_app .elm{padding-top:2.8125rem;padding-bottom:2.1875rem}
.ly_app h2{font-weight:400;font-size:.8125rem;color:#111}
.ly_app h2+p{margin-top:.3rem;font-size:.625rem;color:#adadad}
.ly_app ul{margin-top:1.875rem}
.ly_app li{margin-top:-.375rem}
.ly_app li:first-child{margin-top:0}
.ly_app li img{width:9.21875rem}