.select-card-container {
  padding-top: 16px;
}

.select-card-container .title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.select-card-container .card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 24px;
}

.select-card-container .card-list .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 14px 0;
  background-color: #F6F6F9;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-card-container .card-list .card-item.active {
  border: 1px solid #151515;
}

.select-card-container .card-list .card-item .img-wrap {
  width: 42px;
  height: 42px;
}

.select-card-container .card-list .card-item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.select-card-container .card-list .card-item .card-name {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.select-card-container .note-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.select-card-container .note-wrap li {
  position: relative;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.select-card-container .note-wrap li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7.5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.register-card-container {
  padding-top: 16px;
}

.register-card-container .card-reg li .input-container.label-error .custom-input {
  border: 1px solid #FF0000;
}

.register-card-container .card-reg li .card-number-wrap {
  display: flex;
  align-items: center;
}

.register-card-container .card-reg li .card-number-wrap .col-box {
  display: flex;
  gap: 8px;
}

.register-card-container .card-reg li .card-number-wrap .col-box .custom-input {
  padding: 0 12px;
}

.register-card-container .card-reg li .card-number-wrap .logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  margin-left: 12px;
}

.register-card-container .card-reg li .input-container {
  margin-top: 8px;
}

.register-card-container .card-reg li .input-container + .helper-text {
  display: none;
}

.register-card-container .card-reg li .input-container.text-error + .helper-text {
  display: block;
}

.register-card-container .card-reg li label {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.register-card-container .card-reg li .input-container .custom-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  height: 48px;
  padding: 0 16px;
}

.register-card-container .card-reg li .input-container .custom-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #B0B0B3;
}

.modal-slide.modal-agree .modal-content {
  max-width: 768px;
  left: 50%;
  transform: translateX(-50%);
}