.charge-container {
  padding-top: 16px;
}
.charge-container .input-wrap {
  position: relative;
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #D6D6D6;
}
.charge-container .input-wrap .charge-input {
  position: relative;
}
.charge-container .input-wrap .charge-input .fake-label {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 286px;
  padding: 30.5px 0 11.5px 17px;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
}
.charge-container .input-wrap .charge-input .fake-label .number {
  opacity: 0;
}
.charge-container .input-wrap .charge-input .fake-label .unit {
  display: none;
  color: #151515;
}
.charge-container .input-wrap .charge-input.error .fake-label .unit {
  color: #FC0626;
}
.charge-container .input-wrap .charge-info-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.charge-container .input-wrap .add-money-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 26px;
}

.charge-container .input-wrap .charge-info-text + .add-money-btn-wrap {
  margin-top: 16px;
  margin-bottom: 0;
}
.charge-container .input-wrap .add-money-btn-wrap button {
  padding: 8px 13px;
  border: 1px solid #E5E5E5;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.32px;
  text-align: center;
  letter-spacing: -0.03em;
}
.charge-container .input-wrap input + .add-money-btn-wrap {
  margin-top: 18px;
}
.charge-container .money-info-wrap {
  margin-top: 26px;
}
.charge-container .money-info-wrap dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.charge-container .money-info-wrap dl:last-child {
  margin-bottom: 0;
}

.charge-container .money-info-wrap dl dt {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.charge-container .money-info-wrap dl dd {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.charge-container .money-info-wrap dl dd .registration-btn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #F6F6F9;
}
.charge-container .money-info-wrap dl dd .registration-btn img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.charge-container .money-info-wrap dl dd .registration-btn i {
  margin-left: 4px;
}
.charge-container .complete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
  text-align: center;
}
.charge-container .complete-text::before {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  transform-origin: center;
}
.charge-container .fail-text .sub-text {
  margin-top: 11px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;

}
.charge-container .complete-text.fail::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning.svg) 0 0 / cover no-repeat;
}

.charge-container .complete-text.gray.fail::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning-gray.svg) 0 0 / cover no-repeat;
}

.charge-container .complete-text.fail .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #151515; 
}

.charge-container .complete-text.fail .sub-title {
  display: block;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: #151515; 
  margin-top: 2px;
}

.charge-container .retto-alert {
  position: absolute;
  left: 0;
  bottom: 112px;
  width: 100%;
  padding: 0 20px;
}
.charge-container .retto-alert p {
  position: relative;
  color: #151515;
  border-radius: 16px;
  padding: 16px 0;
  padding-left: 88px;
  background-color: #E0FF63;
}

.charge-container .retto-alert p::before {
  display: block;
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 56px;
  height: 56px;
  background: url('../../images/payment/retto-ball-img.png') 0 0 / cover no-repeat;
}

.charge-container .phone-info-wrap {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px 0 13px;
  border-radius: 16px;
  background-color: #F6F6F9;
}

.charge-container .phone-info-wrap .agency {
  height: 25px;
  margin-right: 8px;
  padding: 0 12px;
  border-radius: 16px;
  color: #E0FF63;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.02em;
  background-color: #151515;
}
.charge-container .phone-info-wrap .phone-number {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}
.charge-container .phone-info-wrap .phone-info-btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url(../../images/common/icon-info-circle.svg) 0 0 / cover no-repeat;
}

.charge-container .btn-small {
  padding: 8px 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: center;
}

.charge-container .complete-text .lottie-check {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  transform-origin: center;
}

/* 계좌 선택하기 바텀 시트 팝업 */
.modal.modal-slide.select-account .list-wrap {
  padding-bottom: 30px;
}
.modal.modal-slide.select-account .list-wrap li a {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.modal.modal-slide.select-account .list-wrap li a img {
  width: 62px;
  height: 62px;
  margin-right: 8px;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-name {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-number {
  color: #515151;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.modal.modal-slide.select-account .list-wrap li a .icon-star {
  margin-left: auto;
}