.charge-container {
  padding-top: 16px;
}
.charge-container + .bottom-area {
  padding-bottom: 0;
}
.charge-container.complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
}
.charge-container .input-wrap {
  position: relative;
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d6d6d6;
}
.charge-container .input-wrap .charge-input {
  position: relative;
}
.charge-container .input-wrap .charge-input .fake-label {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 286px;
  padding: 30.5px 0 11.5px 17px;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
}
.charge-container .input-wrap .charge-input .fake-label .number {
  opacity: 0;
}
.charge-container .input-wrap .charge-input .fake-label .unit {
  display: none;
  color: #151515;
}
.charge-container .input-wrap .charge-input.error .fake-label .unit {
  color: #fc0626;
}
.charge-container .input-wrap .charge-info-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #454545;
}
.charge-container .input-wrap .add-money-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  /* margin-bottom: 26px; */ /* 계좌 머니 충전에서 하단 여백이 생겨서 주석 */
}

.charge-container .input-wrap .charge-info-text + .add-money-btn-wrap {
  margin-top: 16px;
  margin-bottom: 0;
}
.charge-container .input-wrap .add-money-btn-wrap button {
  padding: 8px 13px;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.32px;
  text-align: center;
  letter-spacing: -0.03em;
}
.charge-container .input-wrap input + .add-money-btn-wrap {
  margin-top: 18px;
}
.charge-container .money-info-wrap {
  margin-top: 26px;
}
.charge-container .money-info-wrap dl {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.charge-container .money-info-wrap dl:last-child {
  margin-bottom: 0;
}

.charge-container .money-info-wrap dl dt {
  color: #151515;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.charge-container .money-info-wrap dl dt .sub-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #888;
}

.charge-container .money-info-wrap dl dd {
  color: #151515;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.charge-container .money-info-wrap dl dd .registration-btn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #f6f6f9;
}
.charge-container .money-info-wrap dl dd .registration-btn img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.charge-container .money-info-wrap dl dd .registration-btn i {
  margin-left: 4px;
}
.charge-container .complete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
  text-align: center;
}
.charge-container .complete-text::before {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  transform-origin: center;
}
.charge-container .complete-text .small-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #151515;
  margin-top: 2px;
}
.charge-container .fail-text .sub-text {
  margin-top: 11px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;
}
.charge-container .complete-text.fail::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning.svg) 0 0 / cover no-repeat;
}

.charge-container .complete-text.gray.fail::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning-gray.svg) 0 0 / cover
    no-repeat;
}

.charge-container .complete-text.fail .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #151515;
}

.charge-container .complete-text.fail .sub-title {
  display: block;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: #151515;
  margin-top: 2px;
}

.charge-container .retto-alert {
  position: absolute;
  left: 0;
  bottom: 112px;
  width: 100%;
  padding: 0 20px;
}
.charge-container .retto-alert p {
  position: relative;
  color: #151515;
  border-radius: 16px;
  padding: 16px 0;
  padding-left: 88px;
  background-color: #e0ff63;
}

.charge-container .retto-alert p::before {
  display: block;
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 56px;
  height: 56px;
  background: url("../../images/payment/retto-ball-img.png") 0 0 / cover
    no-repeat;
}

.charge-container .phone-info-wrap {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px 0 13px;
  border-radius: 16px;
  background-color: #f6f6f9;
}

.charge-container .phone-info-wrap .agency {
  height: 25px;
  margin-right: 8px;
  padding: 0 12px;
  border-radius: 16px;
  color: #e0ff63;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.02em;
  background-color: #151515;
}
.charge-container .phone-info-wrap .phone-number {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}
.charge-container .phone-info-wrap .phone-info-btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url(../../images/common/icon-info-circle.svg) 0 0 / cover
    no-repeat;
}

.charge-container .btn-small {
  padding: 7px 12px;
  border: 1px solid #e5e5e8;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: center;
}

.charge-container .complete-text .lottie-check {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  transform-origin: center;
}
.charge-container.kyc .complete-text .lottie-check {
  width: 64px;
  height: 64px;
}
.charge-container .gray-box {
  background: #f6f6f9;
  border: 0;
  border-radius: 16px;
  padding: 16px 0;
  text-align: center;
  margin-top: 28px;
}
.charge-container .gray-box .label-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #151515;
  margin-bottom: 4px;
}
.charge-container .gray-box .label-list li:last-of-type {
  margin-bottom: 0;
}
.charge-container .gray-box .label-list li::before {
  content: "";
  display: block;
  background: url(../../images/common/ico-certified.svg) no-repeat center /
    contain;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* 계좌 선택하기 바텀 시트 팝업 */
.modal.modal-slide.select-account .list-wrap {
  padding-bottom: 30px;
}
.modal.modal-slide.select-account .list-wrap li a {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.modal.modal-slide.select-account .list-wrap li a img {
  width: 62px;
  height: 62px;
  margin-right: 8px;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-name {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-number {
  color: #515151;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.modal.modal-slide.select-account .list-wrap li a .icon-star {
  margin-left: auto;
}

.transform-container {
  margin-top: 16px;
}
.transform-wrap {
  background: #f6f6f9;
  border-radius: 12px;
  border: 1px solid #e5e5e8;
  padding: 13px 16px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  display: flex;
  justify-content: space-between;
}
.transform-wrap .bold-text {
  font-weight: 700;
  color: #151515;
}
.transform-container + .charge-container {
  padding-top: 4px;
}
.transform-container + .charge-container .input-wrap {
  border-bottom: 0;
}
.transform-container + .charge-container .input-wrap .charge-info-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #888888;
}
.charge-container .charge-money-wrap {
  background: #f7ffc7;
  border-radius: 16px;
  padding: 16px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  display: flex;
  justify-content: center;
}
.charge-container .charge-money-wrap > dl {
  display: flex;
  align-items: center;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #151515;
}
.charge-container .charge-money-wrap > dl dt > i {
  margin-left: 2px;
}
.charge-container .charge-money-wrap > dl dd {
  color: #151515;
  font-weight: 700;
  margin-left: 8px;
}

/* 대기머니 */
.charge-container .input-wrap .charge-input.wait-input .custom-input {
  background: #f6f6f9;
  border: 1px solid #e5e5e8;
  color: #454545;
}
.charge-container .input-wrap .charge-input.wait-input .custom-input::placeholder {
  color: #454545;
}
.charge-container .input-wrap .charge-input.wait-input .icon-del {
  display: none;
}
.charge-container .input-wrap.border-bottom-0 {
  border-bottom: 0;
  padding-bottom: 0;
}
.charge-container .comp-info-wrap {
  max-width: 247px;
  background: #f6f6f9;
  border-radius: 16px;
  padding: 16px 24px;
  margin: 28px auto 0;
}
.charge-container .comp-info-wrap .comp-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #454545;
  margin-bottom: 4px;
}
.charge-container .comp-info-wrap .comp-info.last {
  border-top: 1px solid #e5e5e8;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 0;
}
.charge-container .comp-info-wrap .comp-info b {
  font-weight: 700;
}
/* //대기머니 */

/* 출금 */
.charge-container.withdrawal-container .input-wrap {
  padding-bottom: 0;
  border-bottom: 0;
}
/* //출금 */