#content {
  display: flex;
  flex-direction: column;
}
.fine-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 76px;
}
.fine-container .complete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  color: #151515;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
  text-align: center;
}
.fine-container .complete-text .small-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #151515;
  margin-top: 32px;
}
.fine-container .complete-text .small-text .line {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #E5E5E8;
}
.fine-container .gray-box {
  background: #f6f6f9;
  border: 0;
  border-radius: 16px;
  padding: 16px 20px;
  text-align: center;
  margin-top: 28px;
}
.fine-container .gray-box.stretch dl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.fine-container .gray-box.stretch dl:last-of-type {
  margin-bottom: 0;
}
.fine-container .gray-box.stretch dl dt {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -2%;
  text-align: center;
  color: #454545;  
}
.fine-container .gray-box.stretch dl dd {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #454545;  
}
.fine-container .bottom-list {
  margin-top: auto;
}
.fine-container .list-box {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  cursor: grab;
  background-color: #fff;
}
.fine-container .list-box .img-wrap {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 62px;
  height: 62px;
  margin-right: 8px;
}
.fine-container .list-box .img-wrap img {
  position: relative;
  z-index: 1;
  width: 42px;
  height: 42px;
}
.fine-container .list-box .text-wrap {
  padding-right: 10px;
}
.fine-container .list-box .text-wrap .title-text {
  align-items: center;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.fine-container .list-box .text-wrap .sub-text {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.fine-container .list-box .right-box {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.fine-container .list-box .right-box .active-btn {
  padding: 7px 12px;
  border: 1px solid #e5e5e8;
  border-radius: 8px;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fff;
  white-space: nowrap;
}

.bottom-area .container {
  display: flex;
}
.bottom-area .container .btn + .btn {
  margin-left: 8px;
}
.bottom-area .btn.btn-cancel {
  border: 1px solid #e5e5e8;
  border-radius: 16px;
  color: #151515;
  background-color: #fff;
}

#promptNo {
  display: block;
} 