.payment-container {
  overflow: hidden;
  padding: 0;
}

.payment-container .tab {
  display: flex;
  width: calc(100% - 40px);
  margin: auto;
  border: 2px solid #F3F4F5;
  border-radius: 48px;
  background-color: #F3F4F5;
}

.payment-container .tab button {
  width: 33.333%;
  height: 43px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
}

.payment-container .tab button.active {
  background-color: #fff;
}

.payment-container .tab-contents ul {
  margin-top: 20px;
}

.payment-container .tab-contents ul li {
  /* transition: all 0.3s; */
}

.payment-container .tab-contents ul li.sortable-chosen {
  opacity: 1;
}
.payment-container .tab-contents ul li.sortable-ghost {
  opacity: 1;
}
.payment-container .tab-contents ul li.sortable-drag {
  display: none;
}

.payment-container .tab-contents ul li .list-box {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
  padding: 0 20px;
  transition: 0.2s all;
  cursor: grab;
  background-color: #fff;
}

.payment-container .tab-contents ul li.sortable-chosen .list-box {
  background-color: #fafafa;
  transform: translateX(0) !important;
}

.payment-container .tab-contents ul li.sortable-drag .delete-btn {
  display: none;
}

.payment-container .tab-contents ul li .img-wrap {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.payment-container .tab-contents ul li .list-box .text-wrap .title-text {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.17px;
  letter-spacing: -0.03em;
}
.payment-container .tab-contents ul li .list-box .text-wrap .sub-text {
  color: #515151;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.82px;
  letter-spacing: -0.03em;
}

.payment-container .tab-contents ul li .list-box .text-wrap .error-text {
  margin-top: 2px;
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.38px;
  letter-spacing: -0.03em;
}

.payment-container .tab-contents ul li .list-box .right-box {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.payment-container .tab-contents ul li .list-box .right-box .handle {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  text-indent: -9999px;
  background: url('../../images/common/icon-list-drag.svg') 0 0 / cover no-repeat;
  user-select: none;
  -webkit-user-select: none;
}

.payment-container .tab-contents ul li .list-box .right-box .active-btn {
  padding: 4px 8px;
  border-radius: 8px;
  color: #222;
  font-weight: 700;
  line-height: 18px;
  background-color: #F1F1F1;
}

.payment-container .tab-contents ul li .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  color: #fff;
  background-color: #FF5959;
  transform: translateX(100%);
}

.sortable-ghost {
  opacity: 0;
}