#content {
  display: flex;
}
.payment-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px 0 0;
}

.tab {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  border-radius: 48px;
  background: #EFEFF1;
}

.tab button { 
  width: 84px;
  height: 38px;
  margin: 0 -4px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.5px;
  background: #EFEFF1;
}

.tab button.active {
  font-weight: 700;
  background-color: #E0FF63;
  z-index: 1;
}
.payment-container .tab-contents {
  display: flex;
  flex: 1;
}
.payment-container .tab-contents > div {
  flex: 1;
  flex-direction: column;
  display: none;
}
.payment-container .tab-contents > div:first-child {
  display: flex;
}

.payment-container .tab-contents .drag-list {
  padding: 0;
}

.payment-container .tab-contents .drag-list ul:first-child {
  margin-top: 20px;
}

.payment-container .tab-contents .drag-list ul li {
  /* transition: all 0.3s; */
}

.payment-container .tab-contents .drag-list ul li.sortable-chosen {
  opacity: 1;
}
.payment-container .tab-contents .drag-list ul li.sortable-ghost {
  opacity: 1;
}
.payment-container .tab-contents .drag-list ul li.sortable-drag {
  display: none;
}

.payment-container .tab-contents .drag-list ul li .list-box {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  padding: 0 20px;
  transition: 0.2s all;
  cursor: grab;
  background-color: #fff;
}

.payment-container .tab-contents .drag-list ul li.sortable-chosen .list-box {
  background-color: #F6F6F9;
  transform: translateX(0) !important;
}

.payment-container .tab-contents .drag-list ul li.sortable-drag .delete-btn {
  display: none;
}

.payment-container .tab-contents .drag-list ul li .img-wrap {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 62px;
  height: 62px;
  margin-right: 8px;
}

.payment-container .tab-contents .drag-list ul li .img-wrap img {
  position: relative;
  z-index: 1;
  width: 42px;
  height: 42px;
}

.payment-container .tab-contents .drag-list.card ul li .img-wrap img {
  width: auto;
  height: 52px;
}

.payment-container .tab-contents .drag-list.card ul li .img-wrap img.rotate {
  transform: rotate(90deg);
  width: 52px;
  height: auto;
}

.payment-container .tab-contents .drag-list.phone ul li .list-box .img-wrap::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #F6F6F9;
}

.payment-container .tab-contents .drag-list.phone ul li .list-box .text-wrap .error-text {
  margin-top: 0;
}

.payment-container .tab-contents .drag-list ul li .list-box .text-wrap .title-text {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.payment-container .tab-contents .drag-list ul li .list-box .text-wrap .sub-text {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.payment-container .tab-contents .drag-list ul li .list-box .text-wrap .error-text {
  margin-top: 4px;
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.02em;
}

.payment-container .tab-contents .drag-list ul li .list-box .right-box {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.payment-container .tab-contents .drag-list ul li .list-box .right-box .handle {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  font-size: 0;
  text-indent: -9999px;
  background: url('../../images/common/icon-list-drag.svg') right center / 20px 20px no-repeat;
  user-select: none;
  -webkit-user-select: none;
}

.payment-container .tab-contents .drag-list ul li .list-box .right-box .active-btn {
  padding: 7px 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fff;
}

.payment-container .tab-contents .drag-list ul li .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  color: #fff;
  background-color: #FF596F;
  transform: translateX(100%);
}
.payment-container .tab-contents .drag-list ul li .phone-btn {
  height: 34px;
  padding: 0 12px;
  border-radius: 8px;
  color: #151515;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
  border: 1px solid #E5E5E8;
}
.payment-container .tab-contents .drag-list ul li .phone-btn.complete {
  color: #D1D1D5;
}

.payment-container .tab-contents .drag-list .sortable-list {
  margin-bottom: 20px;
}

.payment-container .tab-contents .drag-list .sortable-list li {
  margin-top: 16px;
}

.sortable-ghost {
  opacity: 0;
}

.payment-container .empty-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}
.payment-container .empty-list p {
  margin-top: 100px;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;

}
.payment-container .empty-list p::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: auto;
  margin-bottom: 8px;
  background: url(../../images/common/icon-exclamation-circle.svg) 0 0 / cover no-repeat;
}

.payment-container .banner-wrap {
  margin-top: auto;
  padding: 0 16px;
}
.payment-container .bottom-area .container {
  position: relative;
  z-index: 10;
}

.payment-container .bottom-area .container .balloon-text-box {
  position: absolute;
  left: 50%;
  top: -23px;
  transform: translate(-50%, 0);
  height: 28px;
  padding: 0 8px;
  border-radius: 16px;
  color: #E0FF63;
  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
  letter-spacing: -2%;
  background-color: #151515;
}

.payment-container .bottom-area .container .balloon-text-box::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #151515;
}

.payment-container .bottom-area {
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}

.payment-container .bottom-area::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}

.payment-container .bottom-area .btn.tertiary i {
  margin-right: 4px;
}

#header .container .header-box .phone-info-btn {
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url(../../images/common/icon-info-circle.svg) 0 0 / cover no-repeat;
}

.modal-slide.modal-phone-change .btn-wrap {
  padding: 16px 0;
}

.modal-slide.modal-phone-change .gray-box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
  padding: 20px;
  border-radius: 16px;
  background: #F6F6F9;
}

.modal-slide.modal-phone-change .gray-box-wrap .phone-info {
  display: flex;
  align-items: center;
}

.modal-slide.modal-phone-change .gray-box-wrap .phone-info span {
  height: 20px;
  margin-right: 4px;
  padding: 0 9px;
  border-radius: 10px;
  color: #E6FF82;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  background: #151515;
}

.modal-slide.modal-phone-change .gray-box-wrap .phone-info p {
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.03em;
}

.modal-slide.modal-phone-change .gray-box-wrap .info-text {
  margin-top: 16px;
  color: #151515;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
  text-align: center;
}