.receipt-container .receipt-wrap {
  padding-bottom: 17px;
}

.receipt-container .receipt-wrap .logo-box {
  overflow: hidden;
  height: 73px;
  padding: 15px 20px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #E0FF63;
}
.receipt-container .receipt-wrap .receipt-box {
  position: relative;
  margin-top: -33px;
  padding: 24px 20px 0;
  border: 1px solid #E0FF63;
  border-bottom: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #fff;
}
.receipt-container .receipt-wrap .receipt-box .price-text {
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.receipt-container .receipt-wrap .receipt-box .amount-text {
  margin: 2px 0 16px;
  color: #151515;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
}
.receipt-container .receipt-wrap .receipt-box .border-box {
  padding: 20px 0;
  border-top: 1px solid #E5E5E8;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl {
  display: flex;
  min-height: 30px;
  padding: 6px 0;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: -0.02em;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl dt {
  flex: 0 0 auto;
  width: 100px;
  margin-right: 10px;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl dd {
  color: #151515;
}
.receipt-container .receipt-wrap .receipt-box::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 100%;
  height: 17px;
  background: url(../../images/payment/receipt-line-img.png) 0 0 / 100% 100% no-repeat;
}

.receipt-container .note-wrap {
  margin-top: 8px;
  padding-left: 12px;
  color: #454545;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.receipt-container .note-wrap li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 12px;
}
.receipt-container .note-wrap li:last-child {
  margin-bottom: 0;
}
.receipt-container .note-wrap li::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 7.5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D1D1D5;
}