.receipt-container .receipt-wrap {
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid #E0FF63;
  border-bottom: none;
}
.receipt-container .receipt-wrap .logo-box {
  height: 73px;
  padding: 15px 20px 0;
  background-color: #E0FF63;
}
.receipt-container .receipt-wrap .receipt-box {
  margin-top: -33px;
  padding: 24px 20px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #fff;
}
.receipt-container .receipt-wrap .receipt-box .price-text {
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.receipt-container .receipt-wrap .receipt-box .amount-text {
  margin: 2px 0 16px;
  color: #151515;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
}
.receipt-container .receipt-wrap .receipt-box .border-box {
  padding: 20px 0;
  border-top: 1px solid #E5E5E8;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 13px;
  line-height: 18.2px;
  letter-spacing: -0.02em;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl dt {
  width: 100px;
  margin-right: 10px;
}
.receipt-container .receipt-wrap .receipt-box .border-box dl dd {
  color: #151515;
}