/* 설정 메인 */
.setting-container {
  padding: 0;
}

.setting-container .setting-list.border-bottom {
  padding-bottom: 30px;
  border-bottom: 8px solid #0000000d;
}

.setting-container .setting-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 22px;
  margin-top: 32px;
  padding: 0 20px;
}
.setting-container .setting-list li:nth-of-type(1) {
  margin-top: 24px;
}
.setting-container .setting-list li .btn-text-box {
  display: flex;
  align-items: center;
}
.setting-container .setting-list li .btn-text-box button {
  margin-left: 6px;
}
.setting-container .setting-list li .setting-name {
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.setting-container .setting-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}
.setting-container .setting-list li a.btn-out {
  width: auto;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #454545;
  text-decoration: underline;
}
.modal-body .easy-payment-text {
  margin-bottom: 28px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

/* 금액 보기 바텀 시트 */
.price-view-modal.type-title .modal-body {
  padding: 0 16px 20px;
}
.price-view-modal .gray-box {
  padding: 32px 0;
  border-radius: 17px;
  background-color: #f6f6f9;
  border: none;
  text-align: center;
}

.price-view-modal .gray-box .price-wrap {
  position: relative;
  height: 45px;
  margin-bottom: 12px;
}

.price-view-modal .gray-box .price-wrap h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 45px;
  font-size: 32px;
  font-weight: bold;
}

.price-view-modal .gray-box .price-wrap h2.text {
  color: #8bc104;
}

.price-view-modal .gray-box .price-wrap h2.price {
  display: none;
}

.price-view-modal .gray-box .main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}

.price-view-modal .gray-box .sub-text {
  margin-top: 4px;
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.card-container {
  padding: 0;
}
.card-container .box {
  border-radius: 12px;
  background: #f6f6f9;
  padding: 16px 20px;
  margin: 0 20px;
}
.card-container .box .card-info {
  display: flex;
  align-items: center;
  display: none;
}
.card-container .box .card-info.active {
  display: flex;
}
.card-container .box .card-info .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  margin-left: 8px;
}
.card-container .box .card-info.cancel .card-img {
  opacity: 50%;
}
.card-container .box .card-info .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-container .box .card-info .card-text .big-text {
  display: flex;
  align-items: center;
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -3%;
  color: #151515;
}
.card-container .box .card-info .card-text .big-text .badge {
  display: none;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #e0ff63;
  background-color: #151515;
  border-radius: 16px;
  padding: 0 8px;
  height: 22px;
  margin-left: 4px;
  display: none;
}
.card-container .box .card-info.cancel .card-text .big-text .badge {
  display: block;
}
.card-container .box .card-info .card-text .small-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  margin-top: 2px;
}
.card-container .box .tab-toggle {
  display: flex;
  margin: 0 auto 20px;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 100px;
  max-width: 156px;
}
.card-container .box .tab-toggle button {
  flex: 1;
  padding: 11px 0;
  font-size: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #151515;
  border-radius: 100px;
  max-width: 84px;
}
.card-container .box .tab-toggle .active {
  background: #151515;
  color: #fff;
  font-weight: 700;
}
.setting-list.q-list li {
  margin-top: 24px;
}
.q-list li:first-of-type .setting-name {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #151515;
}
.q-list li:first-of-type .setting-name + p {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  margin-top: 2px;
}
.q-list li .setting-name {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
}
.q-list li .setting-name + p {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #f04806;
  margin-top: 4px;
}

.type-title .gray-box-wrap {
  background: #f6f6f9;
  border-radius: 16px;
  padding: 16px 20px;
}
.type-title .gray-box-wrap li {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
  padding-left: 11px;
}
.type-title .gray-box-wrap li:last-of-type {
  margin-bottom: 0;
}
.type-title .gray-box-wrap li::before {
  display: block;
  content: "";
  position: absolute;
  left: 2px;
  top: 6px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #d1d1d5;
}
.type-title .gray-box-wrap li p {
  width: 50%;
  padding: 0;
  justify-content: start;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
}
