/* 설정 메인 */
.setting-container {
  padding: 0;
}

.setting-container .setting-list.border-bottom {
  padding-bottom: 30px;
  border-bottom: 8px solid #0000000D;
}

.setting-container .setting-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 22px;
  margin-top: 30px;
  padding: 0 20px;
}
.setting-container .setting-list li .btn-text-box {
  display: flex;
  align-items: center;
}
.setting-container .setting-list li .btn-text-box button {
  margin-left: 6px;
}
.setting-container .setting-list li .setting-name {
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.setting-container .setting-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}
.modal .modal-body .note-wrap {
  padding-bottom: 20px;
}
.modal .modal-body .note-wrap li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 20px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.modal .modal-body .note-wrap li:last-child {
  margin-bottom: 0;
}

.modal .modal-body .note-wrap li::before {
  display: block;
  content: "";
  position: absolute;
  left: 2px;
  top: 10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #7D7D7D;
}
.easy-payment-text {
  margin-bottom: 28px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}