/* 거래 내역 */
#content {
  display: flex;
}

.transaction-history-container {
  padding: 16px 0 0 0;
}
.transaction-history-container .month-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  margin-bottom: 16px;
}
.transaction-history-container .month-wrap .month-text {
  margin: 0 28px;
  color: #151515;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
}
/* 거래 내역 END */

/* 거래 내역 탭 */
.trade-tab-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 63px;
  overflow-x: auto;
  width: 100%;
  padding: 16px 16px;
  background-color: #fff;
  -ms-overflow-style: none;
}
.trade-tab-wrap::-webkit-scrollbar {
  display: none;
}
.trade-tab-wrap.fixed {
  box-shadow: 0px 4px 4px 0px #E5E5E880;
}
.trade-tab-wrap .tab-list {
  display: flex;
  gap: 8px;
}
.trade-tab-wrap .tab-list button {
  padding: 8px 16px;
  border: 1px solid #D6D6D6;
  border-radius: 40px;
  color: #1C1B1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.trade-tab-wrap .tab-list button.active {
  border: 1px solid #333333;
  color: #fff;
  background-color: #333333;
}
/* 거래 내역 탭 END */

/* 상세 거래 내역 */
.trade-list {
  padding: 0 16px;
  margin-top: 8px;
}
.trade-list li {
  display: flex;
  margin-bottom: 24px;
}
.trade-list li:last-child {
  margin-bottom: 0;
}
.trade-list li .date-text {
  flex: 0 0 auto;
  width: 50px;
  padding-top: 4px;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.trade-list li .time-text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.trade-list li .detail-text {
  color: #151515;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.trade-list li .type {
  margin-left: auto;
  color: #454545;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
}
.trade-list li .list-contents-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trade-list li .list-contents-box .right-text-box:first-child {
  margin-top: 0;
}

.trade-list li .right-text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2px;
  padding: 4px 0;
}
.trade-list li .right-text-box .top-text {
  display: flex;
  align-items: center;
  height: 20px;
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;

}
.trade-list li .right-text-box .top-text .type-text {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.trade-list li .right-text-box .top-text .type-text::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: #E5E5E8;
}
.trade-list li .right-text-box .detail-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 44px;
  padding-right: 16px;
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}
.trade-list li .bottom-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.trade-list li .bottom-text-box .amount {
  color: #454545;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
.trade-list li .bottom-text-box .amount.enter {
  color: #8BC104;
}
/* 상세 거래 내역 END */

/* 필터 팝업 */
.modal-slide.modal-filter .modal-body {
  padding: 30px 20px 38px;
}
.modal-slide.modal-filter .modal-body p {
  color: #151515;
  font-size: 12px;
  line-height: 20px;
}
.modal-slide.modal-filter .modal-body .btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}
.modal-slide.modal-filter .modal-body .btn-wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 4px);
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  color: #999999;
}
.modal-slide.modal-filter .modal-body .btn-wrap button.active {
  border: 1px solid #020C22;
  color: #151515;
  font-weight: 600;
}
.modal-slide.modal-filter .modal-body .btn-wrap button.active::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../images/common/icon-check-orange.svg) 0 0 / cover no-repeat;
}
.modal-slide.modal-filter .modal-body .section:last-child {
  margin-top: 32px;
}
/* 필터 팝업 END */
/* 기간 팝업 */
.modal-slide.modal-period .period-list li button {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.modal-slide.modal-period .year-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  margin: 4px 0 8px;
}
.modal-slide.modal-period .year-wrap .year-text {
  margin: 0 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.03em;
  text-align: center;
}
.modal-slide.modal-period .month-list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  padding: 0 24px;
}
.modal-slide.modal-period .month-list-wrap li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 45px;
  text-align: center;
}
.modal-slide.modal-period .month-list-wrap li button {
  height: 38px;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;
}
.modal-slide.modal-period .month-list-wrap li button.active {
  padding: 0 12px;
  border-radius: 20px;
  color: #E0FF63;
  font-weight: 700;
  background-color: #151515;
}

.modal-slide.modal-period .btn-area {
  padding: 20px 16px;
}
/* 기간 팝업 END */

/* 머니 */
.money-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.money-container .top-contents-wrap {
  padding: 20px 16px 0;
}
.money-container .top-contents-wrap .top-contents-box {
  padding: 32px 20px 20px;
  background: linear-gradient(109deg, #E1FC89 22.64%, rgba(137, 236, 152, 0.8) 99.71%);
  border-radius: 16px;
}
.money-container .top-contents-wrap .top-contents-box .connect-btn {
  padding: 8px 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
}
.money-container .top-contents-wrap .top-contents-box .top-text-wrap .bank-text {
  color: #454545;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.02em;
}

.money-container .top-contents-wrap .top-contents-box .money-amount {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.money-container .top-contents-wrap .top-contents-box .money-amount::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../images/common/icon-arrow-right.svg) 0 0 / cover no-repeat;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
  border-radius: 12px;
  gap: 8px;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button.charge-btn {
  background-color: #fff;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button.withdraw-btn {
  color: #fff;
  background-color: #151515;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap .card-make-guide {
  position: absolute;
  left: 50%;
  top: -22px;
  transform: translateX(-50%);
  height: 28px;
  padding: 0 8px;
  border-radius: 16px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #9A5BF1 0%, #28C85D 50%, #9A5BF1 100%);
  background-size: 400% 100%;
  animation: bradient-balloon 10s infinite linear;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap .card-make-guide::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #6192A7;

}
.money-container .banner-wrap {
  margin: 16px 0 20px;
  padding: 0 16px;
}
.money-container .aml-info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  margin: 8px 0 20px;
  padding: 0 16px;
  border-radius: 8px;
  background-color: #F6F6F9;
}
.money-container .aml-info-wrap .text-wrap {
  display: flex;
  color: #454545;
  font-size: 13px;
}
.money-container .aml-info-wrap .text-wrap i {
  margin-right: 4px;
}
.money-container .add-view-btn-wrap {
  margin: 50px 0 26px;
}
.money-container .add-view-btn-wrap .add-view-btn {
  display: flex;
  align-items: center;
  height: 34px;
  margin: auto;
  padding: 0 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  color: #151515;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: center;
}
.money-container .add-view-btn-wrap .add-view-btn::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(../../images/common/icon-plus.svg) 0 0 / cover no-repeat;
}
.money-container .empty-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.money-container .empty-list p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;

}
.money-container .empty-list p::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: auto;
  margin-bottom: 8px;
  background: url(../../images/common/icon-exclamation-circle.svg) 0 0 / cover no-repeat;
}
.info-text-wrap {
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 16px;
  background: #FFFFFFCC;
}
.info-text-wrap dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.03em;
}
.info-text-wrap dl:first-child {
  margin-bottom: 8px;
}
.info-text-wrap dl dd {
  font-weight: 700;
}

/* 보유 머니 바텀 시트 팝업 */
.modal-slide.money-info {

}

.modal-slide.money-info .modal-body {
  padding: 20px 16px 30px;
}
.modal-slide.money-info .modal-body dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  color: #454545;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.modal-slide.money-info .modal-body .bold-text-wrap {
  height: 22px;
  color: #151515;
}
.modal-slide.money-info .modal-body .bold-text-wrap:first-child {
  margin-bottom: 12px;
}
.modal-slide.money-info .modal-body .bold-text-wrap:last-child {
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E5E5E8;
}

/* 휴대폰 충전 상세 바텀 시트 */
.modal-slide.type-title.modal-charge-detail .modal-body {
  padding: 20px 16px 0;
}

.modal-slide.type-title.modal-charge-detail .modal-body dl {
  display: flex;
  justify-content: space-between;
  height: 22px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
}

.modal-slide.type-title.modal-charge-detail .modal-body dl:last-child {
  margin-bottom: 0;
}

.modal-slide.type-title.modal-charge-detail .modal-body dl dt {
  color: #454545;
}

.modal-slide.type-title.modal-charge-detail .modal-body dl dd {
  font-weight: 500;
}

.modal-slide.type-title.modal-charge-detail .modal-body dl dd.price {
  color: #8BC104;
}

.modal-slide.type-title.modal-charge-detail .btn-wrap {
  padding: 20px 16px;
}
@keyframes bradient-balloon {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -400% center;
  }
}