/* 거래 내역 */
.transaction-history-container {
  padding: 30px 0 0 0;
}
.transaction-history-container .month-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: #FFF6ED;
}
.transaction-history-container .month-wrap .next-btn {
  transform: rotate(180deg);
}
.transaction-history-container .month-wrap .month-text {
  margin: 0 26px;
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}
/* 거래 내역 END */

/* 거래 내역 탭 */
.trade-tab-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 63px;
  overflow-x: auto;
  width: 100%;
  padding: 16px 16px;
  background-color: #fff;
  transition: 0.3s;
}
.trade-tab-wrap.fixed {
  box-shadow: 0px 4px 4px 0px #E5E5E880;
}
.trade-tab-wrap .tab-list {
  display: flex;
  gap: 8px;
}
.trade-tab-wrap .tab-list button {
  padding: 8px 16px;
  border: 1px solid #D6D6D6;
  border-radius: 40px;
  color: #1C1B1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.trade-tab-wrap .tab-list button.active {
  border: 1px solid #333333;
  color: #fff;
  background-color: #333333;
}
/* 거래 내역 탭 END */

/* 상세 거래 내역 */
.trade-list {
  padding: 0 16px;
}
.trade-list li {
  display: flex;
  margin-bottom: 24px;
}
.trade-list li:last-child {
  margin-bottom: 0;
}
.trade-list li .date-text {
  flex: 0 0 auto;
  margin-right: 16px;
  padding-top: 6px;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.trade-list li .time-text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.trade-list li .detail-text {
  margin-top: 4px;
  color: #151515;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.trade-list li .type {
  color: #7d7d7d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
}
.list-contents-wrap {
  width: 100%;
}
.trade-list li .list-contents-box {
  display: flex;
  justify-content: space-between;
  padding: 6px 0 4px;
}
.trade-list li .list-contents-box:last-child {
  margin-bottom: 0;
}
.trade-list li .list-contents-box .left-text-box .top-text {
  display: flex;
  align-items: center;
  color: #7D7D7D;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;

}
.trade-list li .list-contents-box .left-text-box .top-text .line {
  display: block;
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: #D9D9D9;
}
.trade-list li .list-contents-box .left-text-box .detail-text {
  margin-top: 2px;
  color: #151515;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.trade-list li .right-text-box {
  margin-left: auto;
  text-align: right;
}
.trade-list li .right-text-box .amount {
  margin-top: 4px;
  color: #151515;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
}
.trade-list li .right-text-box .amount.enter {
  color: #187D3A;
}
/* 상세 거래 내역 END */

/* 필터 팝업 */
.modal-slide.modal-filter .modal-body {
  padding: 30px 20px 38px;
}
.modal-slide.modal-filter .modal-body p {
  color: #151515;
  font-size: 12px;
  line-height: 20px;
}
.modal-slide.modal-filter .modal-body .btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}
.modal-slide.modal-filter .modal-body .btn-wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 4px);
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  color: #999999;
}
.modal-slide.modal-filter .modal-body .btn-wrap button.active {
  border: 1px solid #020C22;
  color: #151515;
  font-weight: 600;
}
.modal-slide.modal-filter .modal-body .btn-wrap button.active::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../images/common/icon-check-orange.svg) 0 0 / cover no-repeat;
}
.modal-slide.modal-filter .modal-body .section:last-child {
  margin-top: 32px;
}
/* 필터 팝업 END */
/* 기간 팝업 */
.modal-slide.modal-period .period-list li button {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
/* 기간 팝업 END */

/* 머니 */
.money-container {
  padding: 0;
}
.money-container .top-contents-wrap {
  padding: 20px 16px 0;
}
.money-container .top-contents-wrap .top-contents-box {
  margin-bottom: 16px;
  padding: 32px 20px 20px;
  background: linear-gradient(109deg, #E0FF63 32.96%, rgba(137, 236, 169, 0.8) 99.71%);
  border-radius: 16px;
}
.money-container .top-contents-wrap .top-contents-box .connect-btn {
  padding: 8px 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
}
.money-container .top-contents-wrap .top-contents-box .top-text-wrap {
  display: flex;
  justify-content: space-between;
}

.money-container .top-contents-wrap .top-contents-box .money-amount {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 37.8px;
}
.money-container .top-contents-wrap .top-contents-box .money-amount::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../images/common/icon-arrow-right.svg) 0 0 / cover no-repeat;
}
.money-container .top-contents-wrap .top-contents-box .bank-text {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  background: #FFFFFF33;
}
.money-container .top-contents-wrap .top-contents-box .bank-text img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-radius: 12px;
  gap: 8px;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button.charge-btn {
  background-color: #fff;
}
.money-container .top-contents-wrap .top-contents-box .money-control-wrap button.withdraw-btn {
  color: #fff;
  background-color: #151515;
}
.money-container .add-view-btn-wrap {
  margin-top: 142px;
}
.money-container .add-view-btn-wrap .add-view-btn {
  display: flex;
  align-items: center;
  height: 34px;
  margin: auto;
  padding: 0 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  color: #151515;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: center;
}
.money-container .add-view-btn-wrap .add-view-btn::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(../../images/common/icon-plus.svg) 0 0 / cover no-repeat;
}
.money-container .empty-list {
  display: flex;
  justify-content: center;
}
.money-container .empty-list p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;

}
.money-container .empty-list p::before {
  display: block;
  content: "";
  width: 140px;
  height: 140px;
  margin-bottom: 16px;
  background-color: #F6F6F9;
}
.info-text-wrap {
  margin-top: 24px;
  padding: 10px 16px;
  border-radius: 16px;
  background: #FFFFFFCC;
  border: 2px solid #FFFFFF;
}
.info-text-wrap dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.03em;
}
.info-text-wrap dl:first-child {
  margin-bottom: 8px;
}
.info-text-wrap dl dd {
  font-weight: 700;
}

/* 보유 머니 바텀 시트 팝업 */
.modal-slide.money-info {

}

.modal-slide.money-info .modal-body {
  padding: 20px 16px 30px;
}
.modal-slide.money-info .modal-body dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  color: #454545;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.modal-slide.money-info .modal-body .bold-text-wrap {
  height: 22px;
  color: #151515;
}
.modal-slide.money-info .modal-body .bold-text-wrap:first-child {
  margin-bottom: 12px;
}
.modal-slide.money-info .modal-body .bold-text-wrap:last-child {
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E5E5E8;
}