@charset "utf-8";

html,body{height:100%;}

/* Reset */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,blockquote,button,address{
margin:0; padding:0; -webkit-text-size-adjust:none;font-weight: normal;font-family:"RixHead M Regular";line-height: 1;}
body,input,textarea,select,table,button{}
i, em{font-style:normal;}
li, dd, dt{list-style:none;backface-visibility: unset;}
table{width:100%;border-collapse:collapse}
a{color:inherit;background: transparent; outline:0; border: 0; text-decoration: none;backface-visibility: unset;}
*:focus{outline-style:none;}
button{background-color: transparent;border: none;}
html,*,::before,::after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

.wrapDiscount{}
.wrapDiscount .boxReward{padding: 30px;border-bottom: 8px solid #f2f2f2;text-align: center;}
.wrapDiscount .boxReward .txt1{margin-bottom: 12px;}
.wrapDiscount .boxReward .txt1 img{height: 25px;}
.wrapDiscount .boxReward .txt2{margin-bottom: 20px;color: #333;font-size: 14px;line-height: 1.43;}
.wrapDiscount .boxReward .btnWrap button{width: 200px;height: 50px;color: #fff;font-size: 15px;background-color: #58cbc7;border-radius: 2px;}
.wrapDiscount .boxPoint{position: relative;padding: 20px;border-bottom: 8px solid #f2f2f2;}
.wrapDiscount .boxPoint .txt1{margin-bottom: 10px;color: #000;font-size: 13px;line-height: 1;}
.wrapDiscount .boxPoint .txt2{color: #000;font-size: 34px;line-height: 1;}
.wrapDiscount .boxPoint .btnWrap{position: absolute;right: 20px;bottom: 20px;}
.wrapDiscount .boxPoint .btnWrap button{width: 110px;height: 40px;color: #fff;font-size: 15px;background-color: #58cbc7;border-radius: 10px;}
.wrapDiscount .boxPoint .btnWrap button:disabled{background-color: #bbb;}
.wrapDiscount .promotion h3{padding: 20px;color: #000;font-size: 20px;line-height: 1;}
.wrapDiscount .promotion li{position: relative;padding-bottom: 40px;}
.wrapDiscount .promotion .vi{position: relative;}
.wrapDiscount .promotion .vi img.banner{width: 100%;}
.wrapDiscount .promotion .vi img.rb{position: absolute;z-index: 2;top: 10px;left: 10px;height: 24px;}
.wrapDiscount .promotion .txt1{padding: 20px 20px 10px;color: #3976fd;font-size: 13px;line-height: 1.46;}
.wrapDiscount .promotion .txt1 .ty1{display: inline-block;padding: 2px 6px;color: #fff;font-size: 12px;background-color: #7da91c;text-align: center;vertical-align: middle;}
.wrapDiscount .promotion .txt2{padding: 0 110px 6px 20px;color: #000;font-size: 17px;line-height: 1.47;}
.wrapDiscount .promotion .txt3{padding: 0 110px 0 20px;color: #888;font-size: 13px;line-height: 1.46;}
.wrapDiscount .promotion .btnWrap{position: absolute;right: 20px;bottom: 58px;}
.wrapDiscount .promotion .btnWrap button{width: 84px;height: 30px;border: 1px solid #3976fd;color: #3976fd;font-size: 14px;}


/* popup */
.popup-s3 {
    display:none;
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.popup-s3.popup-multiple{
    background:rgba(0, 0, 0, 0.05)
}
.popup-s3__inner {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.popup-s3__box {
    width:91.39%;
    max-width: 450px;
    background: #fff;
    margin:0 auto;
    flex-basis: 0;
    position: relative;
    box-sizing: border-box;
    border-radius:5px;
    border-radius:5px;
    padding: 18px 0 10px;
}
.popup-s3__box .popTitle{position: relative;padding-bottom: 16px;border-bottom: 1px solid #e5e5e5;color: #000;font-size: 18px;text-align: center;}
.popup-s3__box .popTitle .btnClose{position: absolute;top: -12px;right: 8px;width: 38px;height: 38px;background: url(../img/btn_close.png) 10px 10px no-repeat;background-size: 18px 18px;text-indent: -9999px;}
.popup-s3__box .popTxt{padding: 10px 0;color: #000;font-size: 16px;line-height: 1.44;text-align: center;letter-spacing: -.8px;}
.popup-s3__box .provision{max-height: 345px;padding: 20px 10px 0;overflow-y: auto;overflow-x:hidden;}
.popup-s3__box .provision .atc{padding:20px 0;margin:0 10px;}
.popup-s3__box .provision .atc .subject{position: relative;}
.popup-s3__box .provision .atc .subject .checkbox > label{font-size:14px;font-weight:500}
.popup-s3__box .provision .atc.all{background-color: rgba(88,203,199,.2);margin:0;padding:20px 10px;}
.popup-s3__box .provision .atc.all .subject .checkbox > label{font-size:13px;}
.popup-s3__box .provision .atc.tits{font-size:16px;padding-top:10px;font-weight: 500;}
.popup-s3__box .provision .btnMore{position: absolute;top: 50%;right: -10px;width: 30px;height: 30px;margin-top: -15px;background: url(../img/btn_more.png) no-repeat;background-size: 30px 30px;text-indent: -9999px;}
.popup-s3__box .provision .bg-box{margin-top:20px;background:#f9f9f9;padding:20px 15px;}
.popup-s3__box .provision .reward-box .atc{border-bottom:1px solid #e5e5e5}
.popup-s3__box .provision .tbl{max-width:100%;overflow-x:auto;}
.popup-s3__box .provision .tbl table{font-size: 12px;background-color: #fff;border-top: 2px solid #58cbc7;border-bottom: 2px solid #dbdbdb;width:100%;table-layout: fixed;}
.popup-s3__box .provision .tbl table th{color: #000;line-height: 1.5;border: 1px solid #dbdbdb;border-left: none;}
.popup-s3__box .provision .tbl table td{padding: 8px 10px;color: #727272;line-height: 1.5;border: 1px solid #dbdbdb;border-left: none;}
.popup-s3__box .provision .tbl table tr th:last-child,.popup-s3__box .provision .tbl table tr td:last-child{border-right: none;}
.popup-s3__box .provision .tbl table tr:last-child td{border-bottom:0 none;}
.popup-s3__box .provision .noti{padding: 12px 0 10px;color: #727272;font-size: 12px;line-height: 1.5;}
.popup-s3__box .btnWrap{display: flex;margin-top: 30px;padding: 0 10px;}
.popup-s3__box .btnWrap button{width: 100%;height: 50px;margin: 0 2px;font-size: 15px;border-radius: 2px;}
.popup-s3__box .btnWrap button.btnCancel{color: #000;border: 1px solid #d3d3d3;}
.popup-s3__box .btnWrap button.btnJoin{color: #fff;background-color: #58cbc7;}
.popup-s3__box .provision .list-st1 li{font-size:13px;line-height:22px;color:#727272;padding-left:7px;position:relative;}
.popup-s3__box .provision .list-st1 li:before{content:'';width:4px;height:1px;background:#727272;position:absolute;left:0;top:11px;}
.popup-s3__box .provision .list-st1 li.last{padding-left:0;font-size:12px;}
.popup-s3__box .provision .list-st1 li.last:before{display:none;}

.popup-s3__box .provision iframe{height:320px;width:100%}

.popup-s3__box .provision .reward-terms{padding:0 10px;}
.popup-s3__box .provision .reward-terms .desc_txt p, .popup-s3__box .provision .reward-terms .desc_txt li {font-size:14px;line-height:24px;color:#727272}
.popup-s3__box .provision .reward-terms .tits{font-size:16px;line-height:26px;font-weight: 500;color:#000;}
.popup-s3__box .provision .reward-terms .tits ~ .tits{margin-top:30px;}
.popup-s3__box .provision .reward-terms .tits ~ .tbl{margin-top:20px;}
.popup-s3__box .provision .reward-terms .sub_tits{margin-top:20px;font-size:14px;line-height:24px;color:#727272}
.popup-s3__box .provision .reward-terms .tits_desc{margin-top:10px;font-size:14px;line-height:24px;color:#727272}

/*checkbox*/
.checkbox {position:relative; display:inline-block; vertical-align:top; }
.checkbox input[type=checkbox] {position:absolute; top:0; left:0; width:20px; min-height:20px; opacity:0;}
.checkbox > label {display:inline-block; vertical-align:middle; min-height:20px; font-size: 12px; line-height:20px; }
.checkbox > label::before {content:''; display:inline-block;margin-right: 8px; vertical-align:top; width:20px; height:20px;background:url('../img/ic_check.png') 0 0 no-repeat; background-size: 20px auto;transition:.2s;}
.checkbox input[type=checkbox]:disabled + label::before {}
.checkbox input[type=checkbox]:checked + label::before {background-image: url(../img/ic_check_on.png);}


/* 200420 404 error */
.error_msg404{position:relative;min-height:100%;}
.error_msg404 .tits{color:#fff;line-height:47px;background:#58cbc7;padding-left:20px;font-size:18px;font-weight:500}
.error_msg404 .error_cont{position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);text-align: center;min-width:320px;}
.error_msg404 .error_cont .error_txt{margin-top:20px;}
.error_msg404 .error_cont .error_txt .txt{font-size:15px;line-height:23px;}
.error_msg404 .error_cont .error_btn{margin-top:40px;}
.error_msg404 .error_cont .error_btn a{display:inline-block;border-radius:21px;width:150px;line-height:40px;border:1px solid #58cbc7; color:#58cbc7;font-size:15px;font-weight: 500;}