@charset "UTF-8";

@import url(../../public/fonts/sbaggro/SBAggro.min.css);

/**
* ============================================================
* Friend : 친구  초대 이벤트, 인맥왕 이벤트
* ============================================================
*/


/* ----- tab ----- */
.navTab { position: fixed; top: 58px; left: 0; clear: both; width: 100%; height: 50px; background-color: #fff; z-index: 100; }
.navTab .nav { margin: 0 -20px; }
.navTab li { float: left; width: 50%; }
.navTab li a { display: block; padding: 4px 0 0; height: 50px; line-height: 42px; font-size: 16px; text-align: center; }
.navTab li.active a { border-bottom: 4px solid #2378fe; font-weight: 700; }
.navTab li + li.active a { border-color: #ffcd11; }

/* ----- content ----- */
/* 이벤트 공통 */
.eventWrap { font-size: 15px; letter-spacing: -0.01em; line-height: 1.3; color: #dedede; word-break: keep-all; }
.eventWrap .inner { padding-left: 25px; padding-right: 25px; }
.eventWrap .eventImg { margin: auto; max-width: 375px; }
.eventWrap .section { padding: 60px 0; }
.eventWrap .sectionTitle,
.eventWrap .subTitle { font-size: 17px; font-weight: 700; line-height: 1.2; }
.eventWrap .sectionTitle { margin-bottom: 18px; color: #fff; }
.eventWrap .section .list strong,
.eventWrap .section .info strong  { color: #fff; }
.eventWrap .section.visual { padding: 100px 0 0; overflow: hidden; text-align: center; }
.eventWrap .section.how .list { padding: 0 6px 0 29px; }
.eventWrap .section.how .list li { position: relative; }
.eventWrap .section.how .list li:not(:first-child) { margin-top: 24px; }
.eventWrap .section.how .list li .number { display: block; position: absolute; top: -1px; left: -29px; width: 20px; height: 20px; background-color: #fff; border-radius: 50%; font-weight: 700; line-height: 20px; color: #222; text-align: center; }
.eventWrap .section.how .list .boxDash { margin-top: 10px; padding: 8px 10px; border: 1px dotted #dedede; border-radius: 10px; font-size: 12px; line-height: 1.4; }
.eventWrap .section.notice { padding-bottom: 80px; font-size: 13px; color: #c0c0c0; }
.eventWrap .section.notice .list { padding-left: 9px; text-indent: -9px; }
.eventWrap .section.notice .list li:not(:first-child) { margin-top: 10px; }
.eventWrap .fixedBottom { position: fixed; left: 0; bottom: 0; padding: 20px 0; width: 100%; background: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, .6));
	animation: fixedBottomUp .3s 1.3s both ease-out; z-index: 99; }
.eventWrap .slideUp { position: relative; animation: slideUp .4s .2s both ease-out; }
.eventWrap .aniDelay2 { animation-delay: .6s; }
.eventWrap .aniDelay3 { animation-delay: 1s; }
@keyframes slideUp {
	0% { opacity: 0; bottom: -40px; }
	100% { opacity: 1; bottom: 0; }
}
@keyframes fixedBottomUp {
	0% { bottom: -120px; }
	100% { bottom: 0; }
}

/* 친구 초대 이벤트 */
.eventFriend { background-color: #222; }
.eventFriend .btnColor { background-color: #2378fe; }
.eventFriend .section.visual { background-color: #f7f7f7; color: #575757; }
.eventFriend .section.visual .txt { position: relative; font-size: 14px; line-height: 23px; z-index: 2; }
.eventFriend .section.visual .date { margin-top: 7px; font-size: 17px; color: #151515; }
.eventFriend .section.visual .img2 { margin-top: -53px; }
.eventFriend .section.info { background-color: #2378fe; color: #fff; text-align: center; }
.eventFriend .section.info .sectionTitle { display: inline-block; margin-bottom: 20px; padding: 12px 16px 0; height: 40px; border-radius: 20px; background-color: #fff;
	font-family: 'SBAggro', 'Pretendard'; font-size: 18px; font-weight: 500; line-height: 20px; color: #2378fe; vertical-align: top; }
.eventFriend .section.info .subTitle { margin-bottom: 25px; font-family: 'SBAggro', 'Pretendard'; font-size: 24px; font-weight: 400; }
.eventFriend .section.info .subTitle strong { font-size: 30px; font-weight: 500; color: #fbfa47; }
.eventFriend .section.info .infoImg { margin: 0 auto; max-width: 310px; }
.eventFriend .section.reward { padding-top: 0; }
.eventFriend .section.reward .subTitle { font-size: 19px; white-space: nowrap; }
.eventFriend .section.reward .list { margin-bottom: 40px; font-size: 16px; line-height: 25px; color: #575757; text-align: left; }
.eventFriend .section.reward .list strong { font-size: 18px; color: #151515; }
.eventFriend .section.reward .list li:last-child strong { color: #2378fe; }
.eventFriend .section.reward .list li { padding: 25px; margin-bottom: 10px; height: 100px; border-radius: 10px; opacity: .3;
	background: #fff url(../../public/images/referral/friend-reward.png) no-repeat right 0/150px auto; animation: fadeInlope1 3s infinite; }
.eventFriend .section.reward .list li:nth-child(2) { animation-name: fadeInlope2; background-position: right -100px; }
.eventFriend .section.reward .list li:nth-child(3) { animation-name: fadeInlope3; background-position: right -200px; }
.eventFriend .section.reward .list li:nth-child(4) { animation-name: fadeInlope4; background-position: right -300px; }
.eventFriend .section.reward .info i { vertical-align: -4px; animation: rotate 3s linear infinite; }
.eventFriend .section.reward .info { font-size: 18px; }
.eventFriend .section.reward .info.sm { margin-top: 5px; font-size: 14px; color: #dedede; }
.eventFriend .section.how { background-color: #0f3674; }
@keyframes fadeInlope1 {
	0%, 100% { opacity: .3; }
	40%, 85% { opacity: 1; }
}
@keyframes fadeInlope2 {
	0%, 15%, 100% { opacity: .3; }
	55%, 85% { opacity: 1; }
}
@keyframes fadeInlope3 {
	0%, 30%, 100% { opacity: .3; }
	70%, 85% { opacity: 1; }
}
@keyframes fadeInlope4 {
	0%, 45%, 100% { opacity: .3; }
	85% { opacity: 1; }
}
@keyframes rotate {
	0%, 60% { transform: rotate(0); }
	100% { transform: rotate(-360deg); }
}

/* 인맥왕 이벤트 */
.eventRanking { overflow-x: hidden; background-color: #151515; }
.eventRanking .btnColor { background-color: #ffcd11; color: #151515; }
.eventRanking .myStatus { pointer-events: none; }
.eventRanking .sectionTitle,
.eventRanking .subTitle { color: #ffcd11; }
.eventRanking .section.visual { background: linear-gradient(#2b2b2b 0%, #151515 100%); }
.eventRanking .section.visual .eventLabel { margin: 0 auto; display: inline-block; padding: 0 12px; height: 28px; border: 1px solid #fff; border-radius: 14px; line-height: 26px; vertical-align: top; }
.eventRanking .section.info { background-color: #222; }
.eventRanking .section.info p + .sectionTitle { margin-top: 40px; }
.eventRanking .section.info p + p { margin-top: 8px; }
.eventRanking .section.info .textLg { font-size: 18px; color: #fff; }
.eventRanking .section.info .list { margin-top: 18px; padding: 10px 20px 0; background-color: #3f3f3f; font-size: 14px; color: #fff; }
.eventRanking .section.info .list li { padding: 10px 0; line-height: 1.1; }
.eventRanking .section.info .list li:last-child { padding-bottom: 15px; border-bottom: 1px solid #555; }
.eventRanking .section.info .list li span + span { float: right; width: 50%; text-align: right; }
.eventRanking .section.info .listDesc { padding: 15px 20px; background-color: #3f3f3f; text-align: right; font-size: 13px; color: #b7b7b7; }
.eventRanking .section.ranking { font-size: 13px; color: #b7b7b7; }
.eventRanking .section.ranking .titleArea { position: relative; font-size: 11px; line-height: 1.1; }
.eventRanking .section.ranking .titleArea .sectionTitle { margin-bottom: 2px; font-size: 22px; }
.eventRanking .section.ranking .btnArea { position: absolute; top: 3px; right: 0; }
.eventRanking .section.ranking .btnRefresh { width: 35px; height: 35px; background: #ffcd11 url(../../public/images/referral/icon/refresh.svg) no-repeat center/35px 35px; border-radius: 50%; font-size: 0; }
.eventRanking .section.ranking .myStatus { position: absolute; top: 57px; left: 25px; } /* 말풍선 위치 */
.eventRanking .section.ranking .top3,
.eventRanking .section.ranking .list li { clear: both; }
.eventRanking .section.ranking .top3:after,
.eventRanking .section.ranking .list li:after { content: ''; clear: both; display: block; }
.eventRanking .section.ranking .top3 { margin-top: 40px; padding: 15px 0; background-color: #2a2a2a; border: .5px solid #fff; border-radius: 10px; text-align: center; }
.eventRanking .section.ranking .top3 li { float: left; width: 33.333%; height: 125px; }
.eventRanking .section.ranking .top3 li:nth-child(2) { position: relative; }
.eventRanking .section.ranking .top3 li:nth-child(2):before { content: ''; display: block; position: absolute; top: 15px; width: 100%; height: 95px; border-left: 0.5px solid #fff; border-right: 0.5px solid #fff; }
.eventRanking .section.ranking .top3 .number { display: inline-block; width: 65px; height: 70px; background: url(../../public/images/referral/top3-bg.png) no-repeat 0 0/65px auto; font-size: 0; vertical-align: top; }
.eventRanking .section.ranking .top3 li:nth-child(2) .number { background-position: 0 -70px; }
.eventRanking .section.ranking .top3 li:nth-child(3) .number { background-position: 0 -140px; }
.eventRanking .section.ranking .top3 .point { font-size: 14px; color: #fff; }
.eventRanking .section.how { background-color: #222; }
.eventRanking .section.how .list li .number { background-color: #ffcd11; }
.eventRanking .section.notice .sectionTitle { color: #fff; }
.eventRanking .fixedBottom .myStatus { position: absolute; top: -30px; left: 0; width: 100%; text-align: center; }
.eventRanking .bounce { animation: bounce 1.6s ease-in-out infinite; }
@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(6px); }
}
