@charset "UTF-8";

/**
* ============================================================
* RewardSlide : 내 초대 현황 > 적립 내역 슬라이드
* ============================================================
*/


/* slide */
.rewardSlide { font-size: 0; }
.rewardSlide .list { font-size: 13px; line-height: 20px; white-space: nowrap; }
.rewardSlide .list li { clear: both; position: relative; padding: 13px 0; border-bottom: 1px solid #d7d7d7; }
.rewardSlide .list li:after { content: ''; clear: both; display: block; }
.rewardSlide .list li:nth-child(5) { border-bottom: 0; }
.rewardSlide .list li span { display: inline-block; line-height: 20px; }
.rewardSlide .list .date { display: block; color: #575757; }
.rewardSlide .list .point { position: absolute; top: 0; right: 0; font-size: 16px; font-weight: 700; line-height: 66px; }
.rewardSlide .list .label { padding: 0 5px; background-color: #fbfa47; font-size: 11px; line-height: 14px; vertical-align: 1px; color: #151515; }
.rewardSlide .list .active .point { color: #2378fe; }
.rewardSlide .list .labelWithdraw { background-color: #e2e2e2; color: #bdbdbd; }
.rewardSlide .list .withdraw .name,
.rewardSlide .list .withdraw .date { color: #bdbdbd; }

.rankingSlide .slick-slide { outline: none; }

/* paging */
.rewardSlide .paging { margin: 15px auto 0; line-height: 30px; font-size: 15px; color: #fff; text-align: center; }

/* slide navigation */
.rewardSlide .slick-arrow { position: absolute; left: 50%; bottom: -45px; margin-left: -54px; width: 30px; height: 30px;
	background: url(../../public/images/referral/icon/arrow-left.svg) no-repeat center/6px auto; font-size: 0; text-align: center; transition: opacity .3s; }
.rewardSlide .slick-arrow.slick-next { margin-left: 24px; background-image: url(../../public/images/referral/icon/arrow-right.svg); }
.rewardSlide .slick-arrow.slick-disabled { opacity: .3; cursor: default; }

/* react용 */
.rankingSlide :global .slick-slide { outline: none; }
.rewardSlide :global .slick-arrow { position: absolute; left: 50%; bottom: -45px; margin-left: -54px; width: 30px; height: 30px;
	background: url(../../public/images/referral/icon/arrow-left.svg) no-repeat center/6px auto; font-size: 0; text-align: center; transition: opacity .3s; }
.rewardSlide :global .slick-arrow.slick-next { margin-left: 24px; background-image: url(../../public/images/referral/icon/arrow-right.svg); }
.rewardSlide :global .slick-arrow.slick-disabled { opacity: .3; cursor: default; }
