apps/010pay/010pay/.prettierignore
apps/010pay/010pay-brand/.prettierignore
apps/couchip/.prettierignore
apps/cs/.prettierignore
apps/pg/spay/.prettierignore
apps/whitelabel/.prettierignore
.prettierrc
.vscode
apps/pg/spay/prettierignore_
apps/010pay/010pay/.prettierignore
apps/010pay/010pay/.prettierignore_
apps/pg/spay/..prettierignore
