@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
}

html {
  @apply overflow-hidden;
}

.container {
  @apply min-w-[100svw] h-[100svh] m-0;

  * {
    max-width: 600px;
  }
}
