@charset "UTF-8"; @import url(../fonts/pretendard/pretendard-subset.min.css); /* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; } 
html { -ms-touch-action: none; } 
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; } 
html, body { width: 100%; height: 100%; } 
body { background-color: #fff; font-family: 'pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 13px; line-height: 1.5; letter-spacing: -0.03em; color: #444; } 
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; } 
fieldset { border: 0; } 
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; } 
img, video, audio, object, embed, iframe { max-width: 100%; } 
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; } 
table { border-spacing: 0; border-collapse: collapse; } 
ul, ol, menu { list-style: none; } 
a { color: #222; text-decoration: none; } 
address, em, i { font-style: normal; } 
del { text-decoration: none; } 
button { overflow: hidden; border: 0; background: none; } 
h1, h2, h3, h4, h5 { font-weight: 700; line-height: 1.4; } 
strong, b { font-weight: 700; } 
pre { word-break: break-all; white-space: pre-line; } 
.mlAuto { margin-left: auto !important; } 
.mrAuto { margin-right: auto !important; } 
/*:focus { outline: 0; } */


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'pretendard', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; letter-spacing: -0.03em; color: #222; vertical-align: top; } 
label, input, select, textarea { outline: none; } 
textarea { padding: 10px; width: 100%; border: 1px solid #ccc; resize: none; } 
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; } 
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly],
.disabled, .readonly { background-color: transparent; color: #9a9a9a; -webkit-text-fill-color: #9a9a9a; opacity:1; } 
code { padding: 2px 4px; background-color: #f9f2f4; font-size: 96%; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; color: #c7254e; } 

/* ----- input, select ----- */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"],
.input, select, .select { display: inline-block; padding: 7px 0; width: 100%; height: 48px; border-bottom: 1px solid #ccc; line-height: 30px; vertical-align: top; } 
.input input[type="text"], .input input[type="password"], .input input[type="number"], .input input[type="email"], .input input[type="tel"],
.input { padding: 0; } 
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] { font-weight: 600; } 
.input select, .input .select, .input input, .input .input { height: 44px; border: 0; } 
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus, .input.focus { border-color: #FF6114; z-index: 2; border-width: 2px; } 
select, .select { background: transparent url("../images/kyc/common/select-bg.svg") right 10px center no-repeat; background-size: 24px auto; text-align: left; } 
select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg.png?ver=20210331"); color: #888; cursor: default; } 
input[type="date"]::-webkit-calendar-picker-indicator { background: url('../images/kyc/common/calendar.svg') no-repeat center / contain; width: 24px; height: 24px; } 

/* input number */
input[type='number'] { -moz-appearance: textfield; } 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } 
.required:after { content: ' *'; color: red; }
.container { max-width: 1024px; margin: 0 auto; } 

#wrap header { display: flex; align-items: center; justify-content: center; height: 100px; } 
#wrap .logo { width: 148px; height: 22px; background: url('../images/kyc/logo.png') no-repeat center / contain; margin: 0 auto; } 

.textLeft { text-align: left !important; } 
.textRight { text-align: right !important; } 
.textCenter { text-align: center !important; } 

.content {
  padding: 50px 0 70px;
}

.radioWrap {
  margin-bottom: 40px;
}

.radioWrap .radioStep {
  margin-bottom: 30px;
}

.radioWrap .title {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
  color: #222;
  margin-bottom: 14px;
}

.checkBox > input[type="checkbox"], .checkBox > input[type="radio"] {
  position: absolute;
  top: auto;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkBox > input + label {
  position: relative;
  display: inline-block;
  line-height: 22px;
  padding-left: 32px;
  font-size: 16px;
  color: #000;
  margin-bottom: 14px;
  white-space: nowrap;
  z-index: 1;
}

.checkBox > input + label::before {
  content: '';
  position: absolute;
  left: 2px;
  width: 22px;
  height: 22px;
  background: url(../images/kyc/common/radio-off.svg) no-repeat center / contain;
}

.checkBox > input:checked + label::before {
  background: url(../images/kyc/common/radio-on.svg) no-repeat center / contain;
}
.checkBox > input:checked:disabled + label::before {
  background: url(../images/kyc/common/radio-gray-on.svg) no-repeat center / contain;
}

.checkBox > input[type="checkbox"] + label::before {
  background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain;
}

.checkBox > input[type="checkbox"]:checked + label::before {
  background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain;
}

.checkBox.round > input + label::before {
  background: url(../images/kyc/common/radio-off.svg) no-repeat center / contain;
}

.checkBox.round > input:checked + label::before {
  background: url(../images/kyc/common/radio-on.svg) no-repeat center / contain;
}

.checkBox.box > input + label::before {
  background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain;
}

.checkBox.box > input + label:checked:before {
  background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain;
}

.checkBox > input + label + .btnLink {
  display: inline-block;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.9px;
  letter-spacing: -0.02em;
  margin-top: 3px;
  margin-left: 3px;
}

.formGroup .checkBox > input + label {
  margin-bottom: 0;
  width: auto;
  min-width: auto;
  margin-top: 13px;
  font-weight: 400;
}

.title-main {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.title {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin-top: 60px;
}
.formContainer {
  padding: 20px 0 40px;
  margin: 0 auto;
  min-width: 1024px;
}

.title + .formGroup {
  margin-top: 20px;
}
.formGroup {
  position: relative;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.formGroup:last-of-type {
  margin-bottom: 0;
}

.formGroup .subBottomTitle {
  width: 100%;
  margin-top: 8px;
  margin-left: 126px;
  color: #5c5c5c;
}

.formGroup.col-4 {
  flex-wrap: wrap;
  gap: 10px;
  /* 간격 조정 */
}

.formGroup label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  width: 126px;
  min-width: 126px;
  margin-top: 15px;
}

.formGroup label + .compText {
  font-family: Pretendard;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #171717;
  height: 48px;
  max-height: 48px;
  line-height: 48px;
}

.formGroup input, .formGroup select {
  width: 100%;
  min-width: 332px;
  max-width: 332px;
  height: 48px;
  max-height: 48px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  border: 1px solid #dadada;
  border-radius: 4px;
  margin-bottom: 0;
}

.formGroup input::placeholder, .formGroup select::placeholder {
  color: #acacac;
}

.formGroup input:read-only {
  background-color: #F5F5F7;
}

.formGroup .checkBox input:read-only {
  background-color: transparent;
}

.formGroup select + input {
  margin-left: 10px;
}

.formGroup .checkBox {
  position: relative;
  overflow: hidden;
}

.formGroup .checkBox + .checkBox {
  margin-left: 20px;
}

.formGroup .checkBox.col {
  margin-left: 10px;
}

.formGroup .sub-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5C5C5C;
  margin-top: 8px;
}

.selectBox {
  position: relative;
  width: 100%;
  min-width: 332px;
  max-width: 332px;
  height: 48px;
  max-height: 48px;
  border: 1px solid #dadada;
  border-radius: 4px;
  background: transparent url(../images/kyc/common/select-bg.svg) right 10px center no-repeat;
  background-size: 24px;
  cursor: pointer;
  color: #acacac;
}
.selectBox + input {
  margin-left: 10px;
}
.selectBox .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  color: #acacac;
  max-width: inherit;
}
.selectBox .optionList {
  position: absolute;
  top: 51px;
  left: -1px;
  width: 332px;
  background: #fff;
  color: #333;
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  padding: 20px 10px;
  display: none;
  z-index: 10;
}
.selectBox.active .optionList {
  max-height: 250px;
  border: 1px solid #dadada;
  display: block;
  overflow-y: scroll;
}
.selectBox .optionItem {
  padding: 0;
  transition: .1s;
  font-size: 15px;
  margin-bottom: 15px;
}
.selectBox .optionItem:last-of-type {
  margin-bottom: 0;
}
/* 스크롤 커스텀 */
.optionList::-webkit-scrollbar {
  width: 20px;
}

/* 스크롤바 막대 설정*/
.optionList::-webkit-scrollbar-thumb {
  background-color: rgba(203, 203, 203, 1);
  border-radius: 10px;
  border: 8px solid rgba(255,255,255,1);
  /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}

.optionList::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  /* 스크롤바 뒷 배경을 투명 처리한다 */
}
.postalContainer, .accountContainer, .sideBtnWrap {
  display: flex;
  gap: 10px;
}
.postalContainer button, .accountContainer button, .sideBtnBox button {
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #3e3e3e;
  color: #3E3E3E;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  width: 124px;
  max-width: 124px;
  max-height: 48px;
  font-weight: 700;
  font-size: 15px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #B0B0B0;
  margin: 50px 0;
}

.footerWrap {
  background-color: #f6f6f6;
}

.formWrap + .btnWrap {
  margin-top: 40px;
}
.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-family: Pretendard;
  line-height: 19.09px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin: 0 5px;
  padding: 13px 10px;
  color: #3e3e3e;
  min-width: 140px;
  border: 1px solid #3e3e3e;
  background-color: #fff;
  border-radius: 5px;
}
.btnNext {
  border-color: #3E3E3E;
  background-color: #3E3E3E;
  color: #fff;
}

/* footer */
.footerWrap .footerInfo {
  font-family: 'Pretendard', sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.6;
  padding: 50px 0;
}

.footerWrap .footerInfo strong {
  display: block;
  font-weight: 700;
  margin-right: 4px;
}

.footerWrap .footerInfo .companyName {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 20px;
}

.footerWrap .footerInfo .contact {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #111;
}

.footerWrap .footerInfo .contact span {
  display: flex;
  font-family: Pretendard;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333;
}

.footerWrap .footerInfo .contact a {
  color: #333;
  text-decoration: none;
}

.checkBox > input + label + .btnLink {
  display: inline-block;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.9px;
  letter-spacing: -0.02em;
  margin-top: 3px;
  margin-left: 3px;
}
.checkBox > input + label {
  position: relative;
  display: inline-block;
  line-height: 22px;
  padding-left: 32px;
  font-size: 16px;
  color: #000;
  margin-bottom: 14px;
  white-space: nowrap;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.btnLink {
  text-decoration: underline;
  cursor: pointer;
}
.grayText {
  color: #666;
}
/*  */
/* 모달 */
 .modal {
  display: none;
  /* 기본적으로 보이지 않음 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

 .modal.modal-prompt .modal-content {
  width: 400px;
  padding: 0;
}

 .modal-content {
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #888;
  width: 500px;
  max-height: 790px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .modalMd .modal-content {
  width: 600px;
  min-height: 600px;
}

 .modalWide .modal-content {
  width: 800px;
  min-height: 400px;
  overflow-y: scroll;
}

 .modalWide.modalFullHeight .modal-content {
  width: 840px;
  max-height: 898px;
  overflow-y: scroll;
}

 .modalWide.modalFullHeight .guideList li {
  padding-left: 15px;
}

 .modalWide.modalFullHeight .guideList li::before {
  font-size: 16px;
}

 .modalMd.modalAddress .modal-content {
  min-height: inherit;
  height: auto;
}

 .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

 .modal h2 {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}

 .modal h3,  .modal .title {
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: center;
  color: #000;
  margin-bottom: 14px;
}

 .modal .termsTitle {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #333;
  margin-bottom: 10px;
  margin-top: 0;
}

 .modal .termsText {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #666;
  margin-bottom: 56px;
}

 .modal .termsText + .title {
  margin-top: -40px;
}

 .modal .guideWrap .guideList li {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: left;
}

 .modal .guideWrap {
  padding: 10px;
  margin-bottom: 20px;
}

.modal .guideWrap.pd20 {
  padding: 20px;
}

.modal .formContainer {
  padding: 0 0 20px;
}

.modal .formContainer:last-of-type {
  padding-bottom: 0;
}

.modal .radioWrap + .btnWrap {
  margin-top: -20px;
}

.modal .btnWrap {
  margin-bottom: 30px;
}

.modal .btnWrap:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal .formGroup {
  height: 48px;
  margin-bottom: 14px;
}

/*  .modal .formGroup + .formGroup { margin-top: -14px; } */
.modal .formGroup.col-4 {
  height: auto;
  padding-left: 20px;
}

.modal .formGroup:last-of-type {
  margin-bottom: 0;
}

.modal .formGroup input:read-only {
  background-color: #F5F5F7;
}

.modal .checkBox > input + label {
  margin-bottom: 0;
}

.modal .formGroup .checkBox input:read-only {
  background-color: transparent;
}

.modal .formGroup .checkBox {
  width: 17%;
}

.modal .formGroup .checkBox {
  width: auto;
}

.modal .formGroup .checkBox.full-width {
  width: 100%;
  margin-left: 0;
}

.modal .formGroup .checkBox label {
  width: auto;
  min-width: auto;
  white-space: nowrap;
  font-weight: 400;
}

.modal .infoTitle {
  position: relative;
  font-family: Pretendard;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #000;
  margin-bottom: 16px;
  padding-left: 20px;
}

.modal .infoTitle::before {
  content: '・';
  position: absolute;
  font-size: 24px;
  left: 0;
}

.modal .noBullet .infoTitle {
  padding-left: 0;
}

.modal .noBullet .infoTitle::before {
  display: none;
}
.modal .noti-list-wrap {
  margin-bottom: 20px;
}

/*  */
/* 테이블 */
.tableWrap table {
  width: 100%;
  min-width: 1024px;
  border-collapse: collapse;
  margin: 0 0 40px;
  font-size: 14px;
  text-align: center;
}

.tableWrap.tableCenter table {
  text-align: center;
  table-layout: fixed;
  font-size: 13px;
  margin-bottom: 20px;
}

.tableWrap.tableCenter table th {
  width: 100px;
  text-align: center;
  font-weight: 600;
  height: 48px;
  color: #000;
}

.tableWrap.tableCenter table td {
  width: 100px;
  text-align: center;
  border-right: 1px solid #cbcbcb;
  font-weight: 600;
  color: #000;
}

.tableWrap table .won {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.tableWrap table .lightGray {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #666;
}

.tableWrap.tableCenter table td > p {
  margin-bottom: 4px;
}

.tableWrap.tableCenter table td > p:last-of-type {
  margin-bottom: 0;
}

.tableWrap.tableCenter table th:last-of-type {
  width: auto;
  border-right: 0;
}

.tableWrap.tableCenter table td:last-of-type {
  width: auto;
  text-align: left;
  border-right: 0;
  font-weight: 400;
}

.tableWrap.tableCenter table td[rowspan]:last-of-type {
  border-left: 1px solid #cbcbcb;
}

.tableWrap th, .tableWrap td {
  padding: 12px 15px;
}

.tableWrap td:first-of-type {
  font-size: 15px;
  font-weight: 700;
}

.tableWrap td.grayText {
  color: #999;
}

.tableWrap .onrageText {
  color: #FF6114;
}

.tableWrap th {
  background-color: #f4f4f4;
  font-weight: bold;
  height: 60px;
}

.tableWrap.type2 td:nth-of-type(1) {
  width: 300px;
}

.tableWrap.type2 td:nth-of-type(3) {
  width: 160px;
}

.tableWrap td .checkBox {
  white-space: nowrap;
  margin: 0 auto;
}

.tableWrap td .checkBox > input + label {
  margin-bottom: 10px;
  color: #333;
  font-size: 15px;
}

.tableWrap td .checkBox:last-of-type > input + label {
  margin-bottom: 0;
}

.tableWrap thead tr {
  border-top: 2px solid #333;
}

.tableWrap tbody tr {
  border-bottom: 1px solid #CBCBCB;
}

.tableWrap tbody tr.disabled td:not(:first-of-type) {
  font-weight: 400;
}

.tableWrap .radioGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableWrap .radioGroup input {
  margin-right: 5px;
}

.tableWrap .btnWrap {
  margin-bottom: 20px;
}

.tableWrap .btnWrap .btn {
  margin-right: 0;
}

.tableWrap table button {
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #3e3e3e;
  color: #3E3E3E;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  width: 98px;
  min-width: 98px;
  max-width: 98px;
  max-height: 48px;
}

.tableWrap table button.btnDown {
  padding: 0;
  max-height: 38px;
  height: 38px;
  font-size: 14px;
  font-weight: 500;
}

.tableWrap .type2 td .checkBox {
  width: auto;
  margin-bottom: 10px;
}

.tableWrap .type2 td .checkBox:last-of-type {
  margin-bottom: 0;
}

.tableWrap .type2 td .checkBox label {
  margin-bottom: 0;
}

.tableWrap .type2 td .checkBox > input + label {
  text-align: left;
}

.tableWrap .type2 td input + label, .tableWrap .type2 td label {
  font-weight: 400;
}

.tableWrap .type2 td label .guideList {
  margin-top: 10px;
}

.tableWrap .type2 tbody td:first-of-type {
  text-align: left;
}

.tableWrap.type4 th {
  border-right: 1px solid #cbcbcb;
  height: 48px;
}

.tableWrap.type4 th:last-of-type {
  border-right: 0;
}

.tableWrap.type4 td .checkBox {
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
}

.tableWrap.type4 .checkBox > input + label::before {
  left: 50%;
  transform: translateX(-50%);
}

.tableWrap.type4 .checkBox.left > input + label::before {
  left: 0;
  transform: none;
}

.tableWrap.type4 .checkBox.left + .left {
  margin-left: 10px;
}

.tableWrap.tableCenter table th:nth-of-type(2) {
  width: 60px;
}

.modal .tableWrap.tableCenter table th:nth-of-type(2) {
  width: auto;
}

.tableWrap.tableCenter table td:nth-of-type(3) {
  width: 60px;
}

.tableWrap.tableCenter table td.alignRight {
  text-align: right;
}

.tableWrap.type4 .checkBox > input + label {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  padding-left: 22px;
  padding-right: 0;
}

.tableWrap.type4 td .checkBox > input + label {
  margin-bottom: 0;
}

.tableWrap.type4 td span {
  margin: 0 5px;
}

.tableWrap.type4.tableCenter table td {
  font-weight: 400;
}

.tableWrap.type4.tableCenter .checkBox > input + label::before {
  left: 0;
  transform: none;
}

.tableWrap.type4.tableCenter .checkBox + .checkBox {
  margin-left: 5px;
}

.tableWrap.type4 .checkBox > input + label::before {
  width: 18px;
  height: 18px;
}

.tableWrap.type5 .checkBox.checkBoxText {
  margin-right: 10px;
}

.tableWrap.type5 .checkBox.checkBoxText:last-of-type {
  margin-right: 0;
}

.tableWrap.type5 .checkBox.checkBoxText > input + label::before {
  transform: translateX(-22px);
  left: 50%;
}

.tableWrap.type5 .dFlex + .dFlex {
  margin-top: 10px;
}

.tableWrap.type6 th, .tableWrap.type6 td {
  font-weight: 400;
}

.tableWrap.tableCenter.type6 table td {
  font-weight: 400;
}
.modal .tableWrap table {
  min-width: auto;
}

.checkBox.box > input + label::before {
  background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain;
}

.checkBox.box > input:checked + label::before {
  background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain;
}

.checkBox.box > input:checked + label {
  font-weight: 600;
}

.form-col2 {
  display: flex;
}
.form-col2 .input-btn input {
  width: 121px;
  min-width: initial;
}
.form-col2 .input-btn input:nth-of-type(2) {
  width: 40px;
  margin-right: 10px;
  min-width: initial;
}
.form-col2 .form-item {
  float: left;
  line-height: 48px;
}
.form-col2 .input-btn .space {
  margin: 0 10px;
}

/*  */
.guideWrap {
  background-color: #F5F5F7;
  padding: 20px;
  border-radius: 10px;
}
.guideWrap.white {
  background-color: #fff;
  border: 1px solid #dadada;
}
.guideWrap .guideText {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.noti-list li {
  position: relative;
  padding-left: 10px;
  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #303030;
}
.noti-list li::before {
  content :'';
  position: absolute;
  left: 0;
  top: 9px;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
}
.noti-list.no-desc li {
  padding-left: 0;
}
.noti-list.no-desc li::before {
  display: none;
}
.noti-list .noti-list {
  margin-left: 10px;
}