@charset "UTF-8";

@import url(../fonts/nanumsquareround/nanumsquareround.min.css);
@import url(../fonts/pretendard/pretendard-subset.min.css);
@import url(../fonts/play/play.min.css);

/**
* ====================== TABLE OF INDEX ======================
* - #RESET
* - #FORM
* - #LAYOUT
* - #COMPONENT
* - #CONTENT
* - #UTILITY
* ============================================================
*/


/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; }
html { -ms-touch-action: none; }
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { background-color: #fff; font-family: 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 13px; line-height: 1.5; letter-spacing: -0.03em; color: #444; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; }
fieldset { border: 0; }
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; }
img, video, audio, object, embed, iframe { max-width: 100%; }
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
ul, ol, menu { list-style: none; }
a { color: #222; text-decoration: none; }
address, em, i { font-style: normal; }
del { text-decoration: none; }
button { overflow: hidden; border: 0; background: none; }
h1, h2, h3, h4, h5 { font-weight: 700; line-height: 1.4; }
strong, b { font-weight: 700; }
pre { word-break: break-all; white-space: pre-line; }
/*:focus { outline: 0; }*/

/** for IE **/
button:active { border-style: outset; }
select::-ms-expand { display: none; } /* 화살표 없애기 for IE10, 11 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height: 0; }  /* IE 삭제 버튼(X) 숨기기 for IE10, 11 */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; letter-spacing: -0.03em; color: #222; vertical-align: top; }
label, input, select, textarea { outline: none; }
textarea { padding: 10px; width: 100%; border: 1px solid #ccc; resize: none; }
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; }
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly],
.disabled, .readonly { background-color: transparent; color: #9a9a9a; -webkit-text-fill-color: #9a9a9a; opacity:1; }
code { padding: 2px 4px; background-color: #f9f2f4; font-size: 96%; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; color: #c7254e; }

/* ----- input, select ----- */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"],
.input, select, .select { display: inline-block; padding: 7px 0; width: 100%; height: 45px; border-bottom: 1px solid #ccc; line-height: 30px; vertical-align: top; }
.input input[type="text"], .input input[type="password"], .input input[type="number"], .input input[type="email"], .input input[type="tel"],
.input { padding: 0; }
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] { font-weight: 700; }
.input select, .input .select, .input input, .input .input { height: 44px; border: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus, .input.focus { border-color: #faa61a; z-index: 2; }
select, .select { background: transparent url("../images/select-bg.png?ver=20210331") right center no-repeat; background-size: 10px auto; text-align: left; }
select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg.png?ver=20210331"); color: #888; cursor: default; }
.custom-musinsa input[type="checkbox"], .custom-musinsa input[type="radio"] { display: none; }

/* input number */
input[type='number'] { -moz-appearance: textfield; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

/* ----- checkbox, radio ----- */
.checkbox { position: relative; display: inline-block; vertical-align: top; }
.checkbox > input[type="checkbox"], .checkbox>input[type="radio"] { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.checkbox > input + label { position: relative; display: block; padding-left: 30px; line-height: 22px; cursor: pointer; }
.checkbox > input + label:before { content: ''; position: absolute; top: 0; left: 0; display: block; width: 22px; height: 22px; border: 1px solid #ddd; border-radius: 50%; } /* circle border */
.checkbox > input + label:after { content: ''; position: absolute; top: 6px; left: 5px; display: block; width: 12px; height: 8px; border-left: 2px solid #ddd; border-bottom: 2px solid #ddd; -webkit-transform: rotate(-50deg); -moz-transform: rotate(-50deg); -ms-transform: rotate(-50deg); -o-transform: rotate(-50deg); transform: rotate(-50deg); } /* check icon */
.checkbox.child > input + label { font-size: 12px; color: #9a9a9a; }
.checkbox.child > input + label:before { border: 0; }
.checkbox.square > input + label { padding-left: 26px; font-size: 13px; color: #757575; }
.checkbox.square > input + label:before { top: 1px; width: 20px; height: 20px; border-radius: 0; }
.checkbox.square > input + label:after { top: 5px; left: 4px; }
.checkbox.square > input:checked + label:before { border-color: #ddd !important; }
.checkbox.square > input:checked + label:after { border-color: #222 !important; }
.checkbox.circle > input + label { font-size: 14px; }
.checkbox.circle > input + label:after { top: 5px; left: 5px; width: 12px; height: 12px; background-color: #ddd; border: 0; border-radius: 50%; }
.checkbox label .text-info-box { display: block; margin-top: 8px; font-size: 12px; font-weight: 400; color: #9a9a9a; }

/* checked */
.checkbox > input:checked + label:before { border-color: #faa61a; background-color: #faa61a; }
.checkbox > input:checked + label:after { border-color: #fff; }
.checkbox.child > input:checked + label:before { border: 0; background: none; }
.checkbox.child > input:checked + label:after { border-color: #222; }
.checkbox.circle > input:checked + label:after { background-color: #faa61a; }
.checkbox.circle > input:checked + label:before,
.checkbox.square > input:checked + label:before { background: none; }
.checkbox-inline-group { margin: 0 -10px; }
.checkbox-inline-group .checkbox { padding: 0 10px; }
.checkbox-block-group { text-align: left; }
.checkbox-block-group .checkbox { display: block; }
.checkbox-block-group .checkbox ~ .checkbox { margin-top: 5px; }

/* ----- table ----- */
.table,
.terms table { border-collapse: collapse; table-layout: fixed; border-spacing: 0; width: 100%; color: #757575; }
.table th, .table td,
.terms table th, .terms table td { height: 31px; border: 1px solid #ececec; padding: 5px; text-align: center; vertical-align: middle; }
.table th,
.terms table th { background: #f8f9fa; font-weight: 400; color: #444; }
.table thead th,
.terms table thead th { text-align: center; }
.table-list td { text-align: center; }
.table-view tbody th { text-align: left; }
.table .text-left { text-align: left; }
.table .text-right { text-align: right; }
.table .text-center { text-align: center; }

/* button style group */
.check-group { position: relative; clear: both; padding-left: 1px; width: 100%; font-size: 0; }
.check-group:after { content: ''; display: block; clear: both; }
.check-group input { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0; }
.check-group:not(.telecom-list) label { position: relative; display: inline-block; margin-left: -1px; padding-top: 2px; width: 50%; width: calc(50% + 1px); height: 45px; border-radius: 0; font-size: 14px; line-height: 41px; border: 0; color: #9a9a9a; text-align: center; vertical-align: middle; cursor: pointer; }
.check-group input:checked + label { border-color: #222; color: #222; font-weight: 700; z-index: 2; }
.check-group input:disabled + label,
.check-group input[readonly] + label { background: #f8f9fa; color: #aaa; cursor: default; }
.check-group input:checked:disabled + label,
.check-group input:checked[readonly] + label { border-color: #aaa; color: #757575; }
.check-group label:hover { -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.045); -moz-box-shadow: inset 0 0 100px rgba(0,0,0,.045); box-shadow: inset 0 0 100px rgba(0,0,0,.045); }
.check-group.grid3 label { width: 33.333%; white-space: nowrap; overflow: hidden; }
.check-group.grid4 label { width: 25%; width: calc(25% + 1px); white-space: nowrap; overflow: hidden; }
.check-group > input:first-child + label,
.check-group li:first-child label { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.check-group > label:last-child,
.check-group li:last-child label { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.check-group input:disabled + label:hover,
.check-group input[readonly] + label:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
	   only screen and (-webkit-min-device-pixel-ratio: 1.25),
	   only screen and (min-device-pixel-ratio: 1.25),
	   only screen and (min-resolution: 1.25dppx) {
			select, .select { background-image: url("../images/select-bg@2x.png?ver=20210331"); }
			select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg@2x.png?ver=20210331"); }
}

/* @3x Images (Pixel Ratio of 2.25+) */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
	   only screen and (-webkit-min-device-pixel-ratio: 2.25),
	   only screen and (min-device-pixel-ratio: 2.25),
	   only screen and (min-resolution: 2.25dppx) {
			select, .select { background-image: url("../images/select-bg@3x.png?ver=20210331") }
			select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg@3x.png?ver=20210331"); }
}

/** for IE **/
button:active { border-style: outset; }
select::-ms-expand { display: none; } /* 화살표 없애기 for IE10, 11 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height: 0; }  /* IE 삭제 버튼(X) 숨기기 for IE10, 11 */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/** placeholder **/
input::placeholder { color: #bbb; font-weight: 400; height: auto; line-height: 1; }
textarea::placeholder { color: #bbb; font-weight: 400; line-height: 1; }
/* webkit */
input::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
textarea::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #aaa; font-weight: 400; }
textarea:-moz-placeholder { color: #aaa; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #aaa; font-weight: 400; }
textarea::-moz-placeholder { color: #aaa; font-weight: 400; }
/* IE10+ */
input:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
.placeholder { color: #bbb !important; }


/* #LAYOUT
------------------------------------------------------------*/
/* clearfix */
.wrap, #header, #content, #footer, .container, .container-fluid, .brand-name, .page-title { clear: both; }
.wrap:after, #content:after, #footer:after, .container:after, .container-fluid:after, #header:after, .brand-name:after, .page-title:after { content: ''; display: block; clear: both; }
.container { margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: 20px; width: 100%; max-width: 700px; }
.container-fluid { position: relative; margin-left: auto; margin-right: auto; }

/* ----- default layout ----- */
body > form.main_form { width: 100%; height: 100%; }
.wrap { position: relative; width: 100%; height: 100%; min-width: 320px; }

/* ----- header ----- */
#header { display: flex; align-items: center; position: relative; top: 0; left: 0; right: 0; min-width: 320px; padding: 0; width: 100%; height: 26px; background-color: transparent; text-align: center;
	-webkit-transition: top .2s ease-in-out; transition: top .2s ease-in-out; z-index: 100; }
#header.header-up { top: -56px; }
#header.header-down { top: 0; }
#header > .container { position: relative; }
#header .brand-name { padding: 7px 0; font-size: 0; }
#header [class|="btn"] { position: absolute; top: 0; width: 30px; height: 30px; }
#header .btn-back { left: 13px; }
#header .btn-notice { right: 50px; width: 30px; height: 30px; }
#header .btn-close { right: 13px; width: 30px; height: 30px; }

/* ----- brand logo ----- */
.my-logo { display: inline-block; }
.my-logo, .my-logo img { height: 12px; vertical-align: top; }
.my-logo, .my-logo.joonggo img { height: 16px; }

/* ----- main content ----- */
#content { padding: 0; }
.iframe-wrap { width: 100%; height: 100%; overflow: hidden; }
.iframe-wrap > iframe { margin: 0; padding: 0; border: 0; }
.iframe-wrap:after { display: none; }

/* ----- common text ----- */
h2.page-title { margin: 20px 0 0; font-size: 18px; font-weight: 700; }
h2.pay-type { margin: 20px 0 10px; font-size: 12px; }
h2.pay-type.sr-only { margin: 0; font-size: 0; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }

/* 금액 숫자 */
.price { font-weight: 700; }
.price .value { font-family: play; font-weight: 400; line-height: 1.1; letter-spacing: -0.03em; vertical-align: -0.08em; }

.form-type, .form-type li {
	clear: both;
}
.form-type:after, .form-type > li:after {
	content: '';
	clear: both;
	display: block;
}

/* ----- modal ----- */
.modal-open { overflow: hidden; }
.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer { clear: both; }
.modal-dialog:after, .modal-content:after, .modal-header:after, .modal-body:after, .modal-footer:after { content: ''; clear: both; display: block; }
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; z-index: 999; }
.modal:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: -1; }
.modal-dialog { position: absolute; top: 50%; left: 0; padding: 20px; width: 100%; text-align: center; z-index: 2; }
.modal-content { width: 100%; min-width: 280px; max-width: 400px; overflow: hidden; display: inline-block; border-radius: 10px; background: #fff; text-align: left; vertical-align: top; }
.modal-header { position: relative; }
.modal-header .btn-close { position: absolute; top: 8px; right: 8px; }
.modal-body { padding: 24px; min-height: 80px; }
.modal-body h3 { margin-bottom: 15px; font-size: 18px; font-weight: 700; line-height: 1.5; color: #222; }
.modal-body h3:empty { margin-bottom: 0; }
.modal-footer .btn:not(.btn-xl) { float: left; width: 100%; height: 56px; font-size: 17px; line-height: 48px; border: 0; border-radius: 0; background-color: #fff; font-weight: 700; color: #151515; }
.modal-footer { border-top: 1px solid #e2e2e2; }
.modal-footer.type2 .btn { position: relative; width: 50%; float: right; }
.modal-footer.type2 .btn:last-child { border-right: 1px solid #e2e2e2; }
.modal-footer.type2 .btn-cancel {color: #ccc; }
.modal-body .info-list { font-size: inherit; color: inherit; }
.modal-new .subject { font-size: 14px; }
.modal-new .table-box { margin: 10px 0; font-size: 11px; border: 1px solid #ececec; border-radius: 10px; overflow: hidden; }
.modal-new .table-box thead th { padding: 9px 5px; border-left: 1px solid #ececec; border-top: none; border-right: none; }
.modal-new .table-box td { padding: 11px 10px; font-weight: 700; text-align: left; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; border-left: none; }
.modal-new .table-box th:first-child { width: 115px; border-left: none; }
.modal-new .table-box td:first-child { text-align: center; color: #444; }
.modal-new .table-box td:last-child { border-right: none; }
.modal-new .table-box tr:last-child td { border-bottom: none; }
.modal-new .table-box td .subject { font-size: 11px; font-weight: 400; margin-top: 5px; }
.modal-new .text-info { font-size: 15px; color: #151515; }

/* 공통 모달 */
#alertContents, #confirmContents { font-size: 15px; line-height: 1.6; color: #151515; }
.modal-body h3:empty + #alertContents,
.modal-body h3:empty + #confirmContents { padding: 10px 0; text-align: center; }

/* 전체 화면 모달 (공지사항, 약관, 영수증) */
.modal-full .modal-dialog { top: 0; bottom: 0; padding: 0; margin-top: 0 !important; height: 100%; overflow: hidden; background-color: #fff; }
.modal-full .modal-content { width: 100%; max-width: 100%; height: calc(100% - 90px); overflow-y: auto; border-radius: 0; }
.modal-full .modal-body { padding: 30px 0 0; }
.modal-full .modal-footer { position: absolute; left: 0; bottom: 0; width: 100%; }
.modal-full .modal-footer .btn { border-radius: 0; }

@media only screen and (max-width: 359px) {
	.modal-dialog { padding: 20px; }
}

/* ----- 인증 ----- */
/* 휴대폰결제 통신사 선택 */
.telecom-list { clear: both; margin: -4px; font-size: 0; }
.telecom-list:after { content: ''; display: block; clear: both; }
.telecom-list li { position: relative; display: inline-block; padding: 4px; width: 33.33%; }
.telecom-list:after { content: ''; display: block; clear: both; }
.telecom-list input { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0; }
.telecom-list label { position: relative; display: block; padding: 0 0 10px; width: 100%; border: 1px solid #ddd; border-radius: 3px; font-size: 13px; line-height: 1.1; font-weight: 700; text-align: center; cursor: pointer; }
.telecom-list label span { display: block; }
.telecom-list label .logo img { position: relative; width: 60px; z-index: -1; }
.telecom-list input:checked + label { border-color: #444; }
.telecom-list .label-event { display: block; position: absolute; top: 4px; right: 4px; width: 28px; height: 16px; padding-top: 1px;
	border-bottom-left-radius: 3px; border-top-right-radius: 3px; background-color: #444;
	font-size: 12px; line-height: 14px; font-weight: 700; color: #fff; text-align: center; }

@media all and (min-width: 360px) {
	.telecom-list label { padding: 5px 0 12px; font-size: 14px; }
	.telecom-list label .name { margin-top: 3px; }
}
@media all and (min-width: 430px) {
	.telecom-list label { padding: 10px 0 15px; }
	.telecom-list label .name { margin-top: 5px; }
}

/* 휴대폰결제 통신사 선택 버튼 그룹 스타일 */
.select-telecom .check-group li { float: left; margin-left: -1px; width: 100%; width: calc(100% + 1px); }
.select-telecom .check-group.grid2 li { width: 50%; width: calc(50% + 1px); }
.select-telecom .check-group.grid3 li { width: 33.333%; width: calc(33.333% + 1px); }
.select-telecom .check-group.grid4 li { width: 25%; width: calc(25% + 1px); }
.select-telecom .check-group.grid-full li { width: 21%; width: calc(21% + 1px); }
.select-telecom .check-group.grid-full li:last-child { width: 37%; width: calc(37% + 1px); }
.select-telecom .check-group li label { margin-left: 0; width: 100%; overflow: visible; }
.select-telecom .check-group li.select { padding: 0 0 0 0; background-position: right 10px center; }
.select-telecom .check-group li.select label { padding-right: 20px; }
.select-telecom .check-group .label-event, .modal-btn-list .btn-list li .btn .label-event { display: block; position: absolute; top: -5px; right: -5px; z-index: 3; padding: 1px 6px 0; background-color: #45a3e3; border-radius: 8px; font-size: 11px; font-weight: 700; line-height: 14px; color: #fff; }
.modal-btn-list .btn-list li .btn .label-event { top: 16px; right: 25px; }
.modal-btn-list .btn-list .btn { position: relative; margin-top: -1px; width: 100%; border-radius: 0; font-size: 18px; font-weight: 700; line-height: 48px; color: #151515; border-bottom: 1px solid #ddd; }
.modal-btn-list .btn-list li:first-child .btn { margin-top: 0; border-radius: 10px 10px 0 0; }
.modal-btn-list .btn-list li:last-child .btn { border-radius: 0 0 10px 10px; border-bottom: 0; }
.modal-btn-list .btn-list li .subject { font-size: 13px; font-weight: 400; line-height: 1; margin-top: -8px; padding-bottom: 11px; color: #9a9a9a; }
.modal-btn-list .modal-dialog { -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

@media all and (max-width: 359px) {
	.select-telecom .check-group li label { font-size: 13px; }
}

/* 휴대폰결제 ARS 인증 */
.section.auth-ars-box { position: relative; margin-top: 15px; padding: 18px 20px 12px; border: 1px solid #222; border-radius: 7px; font-size: 14px; font-weight: 700; line-height: 1.1;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.15); -moz-box-shadow: 0 3px 10px rgba(0,0,0,.15); box-shadow: 0 3px 10px rgba(0,0,0,.15); }
.section.auth-ars-box .timer { margin-top: 6px; }
.section.auth-ars-box .number { position: absolute; top: 4px; right: 15px; font-family: play; font-size: 55px; color: #222; letter-spacing: .1em; }

/* 커스텀 무신사 UI */
body.pc .container { max-width: 360px; }
body.custom-musinsa { background-color: #e2e2e2; font-family: 'Pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; }
body.custom-musinsa label, body.custom-musinsa input, body.custom-musinsa select, body.custom-musinsa textarea, body.custom-musinsa button { font-family: 'Pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; }
body.custom-musinsa input[type="text"], body.custom-musinsa input[type="password"], body.custom-musinsa input[type="number"], body.custom-musinsa input[type="email"], body.custom-musinsa input[type="tel"], body.custom-musinsa .input, select, body.custom-musinsa .select { height: auto; border: 0; }
body.custom-musinsa input::placeholder { font-size: 14px; }

.custom-musinsa .btn { border-radius: 6px; line-height: 42px; border: 0; color: #fff; font-weight: 700; }
.custom-musinsa .btn-full { width: 100%; }
.custom-musinsa .btn-default { background-color: #e2e2e2; }
.custom-musinsa .btn-next { background-color: #151515; }
.custom-musinsa .select-telecom .check-group li.select label { padding-right: 0; }
.custom-musinsa .line { width: 100%; height: 1px; background-color: #9f9f9f; }

.custom-musinsa #header [class|="btn"] { width: 10px; height: 10px; top: 0; }
.custom-musinsa #header .btn-back { background: url('../images/custom/musinsa/ico_back_bk.svg') no-repeat; background-size: contain; left: 17px; }
.custom-musinsa #header .btn-close { background: url('../images/custom/musinsa/ico_close.svg') no-repeat; background-size: contain; top: 6px; right: 26px; }
.custom-musinsa #header .brand-name { padding: 0; font-size: 16px; text-indent: -9999px; }
.custom-musinsa .container-wrap::before { content: ''; position: absolute; left: 0; width: 1px; height: calc(100% + 1px); }
.custom-musinsa #footer { position: fixed; bottom: 0; width: 100%; height: 90px; padding: 0; z-index: 10; background-color: #e2e2e2; }
.custom-musinsa #footer .footer-wrap { text-align: center; }
.custom-musinsa #footer .footer-wrap .my-logo img { vertical-align: middle; }
.custom-musinsa #footer .btn { font-size: 18px; padding: 0; border: 0; border-radius: 0; line-height: 56px; }
.custom-musinsa #footer .btn-default, .custom-musinsa #footer .btn:disabled { background-color: #9f9f9f; color: #fff; }
.custom-musinsa #footer .btn-next { background-color: #ff9f00; }
.custom-musinsa .wrap { background-color: #e2e2e2; height: auto; }
.custom-musinsa .container-wrap { background-color: #fff; }
.custom-musinsa .section { padding: 20px; margin: 0; }
.custom-musinsa .order-info.list-table { font-size: 12px; }
.custom-musinsa .order-wrap { position: relative; }
.custom-musinsa .order-wrap::after { content: ''; position: absolute; bottom: 0; display: block; width: 100%; height: 6px; background-color: #ff9f00; }
/* table ui */
.order-info.list-table { position: relative; margin-top: 15px; padding-bottom: 20px; font-size: 13px; line-height: 20px; white-space: nowrap; }
.order-info.list-table:after { content: ''; display: block; position: absolute; left: -20px; right: -20px; bottom: 0; height: 5px; background-color: #f4f4f4; }
.order-info.list-table li { clear: both; position: relative; margin-top: 5px; padding-left: 80px; }
.order-info.list-table li:first-child { margin-top: 0; }
.order-info.list-table .dt { display: block; position: absolute; top: 0; left: 0; width: 70px; font-weight: 700; color: #757575; }
.order-info.list-table .dd { display: block; text-align: right; }
.order-info.list-table .price .value { display: inline-block; margin: -4px 3px -4px 0; font-size: 22px; }
.order-info.list-table .price-orignal { text-decoration: line-through; color: #b7b7b7; }
.order-info.list-table .price-discount { margin-left: 5px; }
.order-info.list-table .goods { display: block; overflow: hidden; text-overflow: ellipsis; font-size: 15px; }
.order-info.list-table + .section { margin-top: 25px; }
.custom-musinsa .order-info.list-table:after { display: none; }
.custom-musinsa .order-info.list-table .dt { font-weight: 400; color: #9f9f9f; }
.custom-musinsa .order-info.list-table .dd { font-size: 14px; font-weight: 400; color: #151515; }
.custom-musinsa .order-info.list-table .goods { font-size: 14px; font-weight: 400; }
.custom-musinsa .order-info.list-table .price { font-size: 15px; font-weight: 500; }
.custom-musinsa .order-info.list-table .price .value { font-size: 18px; font-weight: 700; font-family: 'Pretendard'; }

.custom-musinsa .accordion-section { width: 100%; }
.custom-musinsa .accordion-list li { margin-bottom: 8px; }
.custom-musinsa .accordion-list .info-box li { margin-bottom: -6px; }
.custom-musinsa .accordion-list .subject { position: relative; }
.custom-musinsa .accordion-list .accordion-title { display: flex; align-items: center; position: relative; height: 48px; background-color: #fff; border-radius: 6px 6px 6px 6px; font-size: 16px; font-weight: 700; padding: 15px 12px 14px 12px; box-shadow: 0px 3px 5px #0000001a; }
.custom-musinsa .accordion-list .accordion-title button { display: block; width: 100%; text-align: left; }
.custom-musinsa .accordion-list .accordion-title .subject { font-size: 16px; color: #151515; }
.custom-musinsa .accordion-list .accordion-title .ico-arrow { position: absolute; top: 9px; right: 0; display: inline-block; width: 22px; height: 6px; background: url(../images/custom/musinsa/ico_arr_down.svg) center no-repeat; background-size: contain; transition: transform .2s; } 
.custom-musinsa .accordion-list .active .accordion-title { border-radius: 6px 6px 0 0; box-shadow: 0px 2px 4px #00000029; }
.custom-musinsa .accordion-list .active .accordion-title .ico-arrow { transform: rotate(-180deg); }
.custom-musinsa .accordion-list .active .accordion-item { max-height: 200vh; }
.custom-musinsa .accordion-list .accordion-item { position: relative; max-height: 0; padding: 12px; background-color: #f8f8f8; border-top: 1px solid #e2e2e2; border-radius: 0 0 6px 6px; overflow: hidden; transition: max-height .3s ease-in-out; }
.custom-musinsa .accordion-list .accordion-item .content + .content .subject { margin-top: 20px; }
.custom-musinsa .accordion-list .accordion-item .subject { height: 19.5px; font-size: 14px; color: #151515; }
.custom-musinsa .accordion-list .accordion-item .subject .check-box { position: absolute; top: 0; right: 0; left: 0; width: 100%; font-size: 0; }

.custom-musinsa .form-type .form-item input[type="checkbox"], .custom-musinsa .form-type .form-item input[type="radio"], .custom-musinsa .accordion-list .accordion-item .subject .check-box input[type="checkbox"] { position: absolute; display: none; }
.custom-musinsa .accordion-list .accordion-item .subject .check-box input[type="checkbox"] + label::before { content: ''; position: absolute; top: -1px; right: 0; display: block; width: 22px; height: 22px; background-image: url('../images/custom/musinsa/bullet_check_off.svg'); background-repeat: no-repeat; background-size: contain; }
.custom-musinsa .accordion-list .accordion-item .subject .check-box input[type="checkbox"]:checked + label::before { background-image: url('../images/custom/musinsa/bullet_check_on.svg'); }
.custom-musinsa .accordion-list .list-sub { margin-top: 9px; }
.custom-musinsa .accordion-list .list-item { position: relative; font-size: 13px; font-weight: 400; color: #575757; }
.custom-musinsa .accordion-list .list-item .check-box input[type="checkbox"] { position: absolute; text-indent: -9999px; font-size: 0; display: none; }
.custom-musinsa .accordion-list .list-item .check-box input[type="checkbox"] + label { display: inline-block; color: #575757; font-size: 13px; }
.custom-musinsa .accordion-list .list-item .btn-right { position: absolute; top: 2px; right: 3px; font-size: 10px; text-decoration: underline; }
.custom-musinsa .accordion-list .list-item .btn-right a { color: #575757; }
.custom-musinsa .accordion-item .text-danger { font-size: 11px; color: #fb3636; }

.custom-musinsa .check-box input[type="checkbox"] + label { font-size: 14px; }

.custom-musinsa .accordion-list .active .accordion-item.active { max-height: 200vh; padding: 12px; transition: max-height .2s ease-in-out; }
.custom-musinsa .select-telecom { margin-top: 12px; }
.custom-musinsa .select-telecom .check-group li { background-color: #e2e2e2; border-radius: 6px; margin-right: 6px; }
.custom-musinsa .select-telecom .check-group li:last-child { margin-right: 0; }
.custom-musinsa .check-group:not(.telecom-list) label { font-size: 13px; font-weight: 400; height: 36px; line-height: 32px; border-radius: 6px; color: #575757; }
.custom-musinsa .select-telecom input[type="radio"]:checked + label { background-color: #151515; color: #fff; }

.custom-musinsa .select-telecom .check-group li { float: left; margin-left: -1px; width: 100%; width: calc(100% + 1px); height: auto; }
.custom-musinsa .select-telecom .check-group.grid2 li { width: 50%; width: calc(50% - 2px); }
.custom-musinsa .select-telecom .check-group.grid3 li { width: 33.333%; width: calc(33.333% - 3px); }
.custom-musinsa .select-telecom .check-group.grid4 li { width: 25%; width: calc(25% - 4px); }
.custom-musinsa .select-telecom .check-group.grid-full li { width: 21%; width: calc(21% - 5px); }
.custom-musinsa .select-telecom .check-group.grid-full li:last-child { width: 37%; width: calc(37% + 1px); }

.custom-musinsa .box-shadow { box-shadow: 0px 2px 4px #00000029 }
.custom-musinsa .container-wrap + .container-wrap { padding: 8px 0; background-color: transparent; }
.custom-musinsa .container-wrap:nth-child(2) .container { padding: 0 8px; }

.custom-musinsa .form-type li { position: relative; margin-top: 0; }
.custom-musinsa .form-type .input-btn { position: relative; width: 100%; }
.custom-musinsa .form-type .input-btn .time { position: absolute; z-index: 10; top: 13px; right: 12px; color: #fb3636; line-height: 1; }
.custom-musinsa .form-type .form-item { float: left; line-height: 40px; }
.custom-musinsa .form-type .form-item.form-item-full { width: 100%; }
.custom-musinsa .form-type .input-btn input { border: 1px solid #ccc; border-radius: 6px; padding: 4px 0 4px 12px; font-size: 14px; font-weight: 400; color: #151515; min-height: 40px; }
.custom-musinsa .form-type .input-btn input::placeholder { color: #ccc; }
.custom-musinsa .form-type .input-btn input:active, .custom-musinsa .form-type .input-btn input:focus { border: 1px solid #151515; }
.custom-musinsa .form-type .input-btn { width: 65%; }
.custom-musinsa .form-type .input-time-wrap .input-btn { width: calc(100% - 94px); }
.custom-musinsa .form-type .input-time-wrap .btn { width: 88px; float: right; font-size: 13px; line-height: 40px; font-weight: 400; }
.custom-musinsa .form-type .input-time-wrap .input-btn input { padding-right: 50px; }
.custom-musinsa .form-type .form-col2 input { display: inline-block; width: calc(100% - 46px); margin-right: 3px; }
.custom-musinsa .form-type .input-btn input + input { width: 40px; margin-right: 0; }
.custom-musinsa .form-type .check-btn { padding-left: 10px; font-size: 0; }
.custom-musinsa .form-type .check-btn.text-star { letter-spacing: 8px; color: #575757; font-size: 16px; }
.custom-musinsa .form-type .form-item label { display: flex; align-items: center; font-size: 13px; color: #575757; }

.custom-musinsa .form-type .form-item input[type="checkbox"] + label::after { position: relative; top: 0; content: ''; display: inline-block; width: 22px; height: 22px; margin-left: 4px; background-image: url(../images/custom/musinsa/bullet_check_off.svg); background-repeat: no-repeat; background-size: contain; }
.custom-musinsa .form-type .form-item input[type="checkbox"]:checked + label::after { background-image: url('../images/custom/musinsa/bullet_check_on.svg'); }
.custom-musinsa .form-type input[type="radio"] + label::before { position: relative; top: 0; content: ''; display: inline-block; width: 22px; height: 22px; margin-right: 3px; background-image: url(../images/custom/musinsa/bullet_radio_off.svg); background-repeat: no-repeat; background-size: contain; }
.custom-musinsa .form-type input[type="radio"]:checked + label::before { background-image: url('../images/custom/musinsa/bullet_radio_on.svg'); }
.custom-musinsa .form-type.col-2 { font-size: 0; }
.custom-musinsa .form-type.col-2 li { display: inline-block; width: 50%; }

.custom-musinsa .noti-list { margin-top: 6px; font-size: 13px; }
.custom-musinsa .noti-list .num { position: relative; top: 0px; display: inline-block; font-size: 13px; vertical-align: top; width: 10px; height: 13px; }
.custom-musinsa .noti-list .num img { width: 100%; height: 100%; }
.custom-musinsa .accordion-list .noti-list li { margin-bottom: 0; }
.custom-musinsa .input-box { margin-top: 14px; }
/* .custom-musinsa .input-box:not(nth-child(1)) { margin-top: 14px; } */
.custom-musinsa .input-box:first-child { margin-top: 0; }

.custom-musinsa .input-box .form-type .input-btn input { background-color: #fff; }
.custom-musinsa .input-box .form-type .text-sub { display: block; line-height: 1; padding-top: 6px; margin-bottom: 8px; font-size: 11px; color: #575757; }
.custom-musinsa .input-box .form-type .text-sub.clear { clear: both; }
.custom-musinsa .form-type .text-sub { line-height: 1; padding-top: 6px; margin-bottom: 8px; font-size: 11px; color: #575757; }
.custom-musinsa .confirm-box { text-align: center; margin-top: 12px; padding-top: 12px; border-top: 1px solid #9f9f9f; font-size: 14px; font-weight: 500; color: #151515; }
.custom-musinsa .confirm-box input[type="checkbox"] + label { color: #151515; }
.custom-musinsa .confirm-box input[type="checkbox"] + label::after { position: relative; top: 0; content: ''; display: inline-block; width: 22px; height: 22px; margin-left: 4px; background-image: url(../images/custom/musinsa/bullet_check_off.svg); background-repeat: no-repeat; background-size: contain; vertical-align: top; }
.custom-musinsa .confirm-box input[type="checkbox"]:checked + label::after { background-image: url('../images/custom/musinsa/bullet_check_on.svg'); }
.custom-musinsa .confirm-box .check-box { display: flex; justify-content: center; align-items: center; }
.custom-musinsa .confirm-box .check-box label { display: flex; align-items: center; }

.custom-musinsa .auth-box { color: #151515; text-align: center; }
.custom-musinsa .auth-box-title { font-size: 14px; font-weight: 700; }
.custom-musinsa .auth-box-content { display: inline-block; font-size: 30px; color: #fff; border-radius: 6px; background-color: #151515; padding: .5px 12px; margin-top: 4px; margin-bottom: 12px; }

/* modal */
.modal {}
.modal-head .subject { font-size: 15px; font-weight: 700; color: #151515; line-height: 52px; }
.modal-dialog {}
body.pc .modal-terms .container, .modal-terms .container { padding: 0 24px; max-width: 700px; }
.modal-terms .modal-content { position: relative; overflow: hidden; }
.modal-terms .modal-body { max-height: 50vh; overflow-y: scroll; padding: 18px 0 100px; border-top: 1px solid #e2e2e2; font-size: 12px; color: #151515; }
.modal-terms .modal-footer { position: absolute; bottom: 0; width: 100%; height: 62px; padding: 0 14px 14px; border-radius: 0 0 10px 10px; background-color: #fff; }
.modal-terms .modal-footer::after { content: ''; position: absolute; top: -30px; left: 0; width: 100%; height: 30px; background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1)); }
.modal-terms .modal-footer .btn { width: 100%; height: 48px; background-color: #151515; }

@keyframes max-height {
	0% { height: 0; opacity: 0; }
	100% { height: 100%; opacity: 1; }
}

/* #UTILITY
------------------------------------------------------------*/
/* display */
.pull-left { float: left; }
.pull-right { float: right; }
.position-static { position: static; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }

.blind { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
.hidden { display: none !important; }
.hidden-mobile { display: none !important; }
.hidden-pc { display: block !important; }

.visible,
.dp-block { display: block !important; }
.dp-inlineblock { display: inline-block !important; }

/* PC */
@media all and (min-device-width: 1025px) {
	.hidden-mobile { display: block !important; }
	.hidden-pc { display: none !important; }
	.visible { display: block !important; }
	.dp-inlineblock { display: inline-block !important; }
}

/* tablet - iPad Pro, Nexus */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	.hidden-mobile { display: none !important; }
	.hidden-pc { display: block !important; }
}

/*mobile device */
@media (min-width:200px) and (max-width:320px){
	.wrap, #header, .modal-content { min-width: auto; }

	.custom-musinsa .check-group:not(.telecom-list) label { font-size: 12px; }
	.custom-musinsa .form-type .check-btn.text-star { letter-spacing: 4px; }
	.custom-musinsa .form-type.col-2 li { width: auto; }

	.custom-musinsa .form-type.col-2 { display: flex; justify-content: space-between; }

}

/* decoration */
.underline { display: inline-block; padding-bottom: 1px; border-bottom: 1px solid #757575; line-height: 1.1; }
.mark-underline { display: inline-block; position: relative; color: #444; z-index: 1; }
.mark-underline:before { content: ''; display: block; position: absolute; top: 50%; left: 0; width: 100%; height: .6em; background-color: #faa61a; opacity: .35; z-index: -1; } /* custom color 예외 */

/* size */
.w100p { width: 100%; }
.w150 { width: 150px; }

/* spacing */
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.mgt0 { margin-top: 0 !important; }
.mgt10 { margin-top: 10px !important; }
.mgt15 { margin-top: 15px !important; }
.mgt20 { margin-top: 20px !important; }
.mgt25 { margin-top: 25px !important; }
.mgt30 { margin-top: 30px !important; }
.mgb10 { margin-bottom: 10px !important; }
.mgl5 { margin-left: 5px !important; }
.mgl10 { margin-left: 10px !important; }

/* align */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* text */
.nowrap { white-space: nowrap; }
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.word-break { word-break: break-all; }
.word-break-normal { word-break: normal; }
.word-break-keep { word-break: keep-all; }
.text-dark { color: #222; }
.text-body { color: #444; }
.text-light { color: #757575; }
.text-lighter,
.text-info { color: #9a9a9a; }
.text-primary { color: #faa61a; }
.text-danger,
.text-error { color: #f43542; }
.text-secondary { color: #45a3e3; }
.text-regular { font-weight: 400; }
.text-bold { font-weight: 700; }
.text-bolder { font-weight: 800; }
.sr-only { font-size: 0; text-indent: -100000px; }

/* 삼성페이 ARS */
.ssPayArs { max-width: 700px; margin: 20px auto 0; padding: 40px 20px 0; border-top: 5px solid #f4f4f4;}
.ssPayArs .sub-title { display: flex; position: relative; }
.ssPayArs .sub-title::before { content: ""; width: 23px; height: 23px; margin-right: 8px; background-image: url('../images/samsungpay/img_phone.png'); background-size: cover; }
.ssPayArs .sub-text { margin: 9px 0 20px; font-size: 12px; color: #9a9a9a; }
.ssPayArsCheck { display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; left: 0; top: 50%; transform: translateY(-60%); width: 100%;}
.ssPayArsCheck { font-size: 15px; text-align: center; }
.ssPayArsCheck .number-wrap {display: flex; margin: 36px 0 ;}
.ssPayArsCheck .number-wrap div {display: flex; justify-content: center; align-items: center; width: 87px; height: 87px; margin: 0 4px; border: 1px solid #222222; border-radius: 7px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);}
.ssPayArsCheck .number-wrap div span {font-size: 65px; font-family: "Play"; font-weight: 700; color: #000;}
.ssPayArsCheck .sub-text { font-size: 15px; text-align: center; }

/* loading */
.loading, .passloading { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); font-size: 0; line-height: 0; text-align: center; z-index: 9999; }
.loading:after, .passloading:after { content: ''; position: absolute; top: 50%; left: 50%; margin: -50px 0 0 -24px; width: 48px; height: 48px; border: 4px solid #fff; border-top-color: #faa61a; border-radius: 50%; animation: spin 1s linear infinite; }
.loading .text, .passloading .text { display: block; position: absolute; top: 50%; left: 0; margin-top: 20px; width: 100%; font-size: 13px; text-indent: 0; color: #fff; }
.passloading .text + .text { margin-top: 40px; }
@keyframes spin {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}