@charset "UTF-8";

/* text */
.modal-footer .btn:not(.btn-xl),
.terms h3,
.text-primary { color: #faa61a; }

/* background */
.checkbox > input:checked + label:before,
.checkbox.circle > input:checked + label:after,
.switch .switch-inner:before,
.badge-primary,
.btn-primary:not(:disabled),
.bg-primary { background-color: #faa61a; }

/* border */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus,
.input.focus,
.checkbox > input:checked + label:before,
.btn-primary:not(:disabled),
.bubble-bg,
.bubble:after,
.card.active,
.pay-complete .headline:before,
.pay-complete .headline:after,
.border-primary { border-color: #faa61a; }
.loading:after { border-top-color: #faa61a; }
