@charset "UTF-8"; @import url(../fonts/pretendard/pretendard-subset.min.css); /**
* ====================== TABLE OF INDEX ======================
* - #RESET
* - #FORM
* - #LAYOUT
* - #COMPONENT
* - #CONTENT
* - #UTILITY
* ============================================================
*/


/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; } 
html { -ms-touch-action: none; } 
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; } 
html, body { width: 100%; height: 100%; } 
body { background-color: #fff; font-family: 'Pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 13px; line-height: 1.5; letter-spacing: -0.03em; color: #444; } 
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; } 
fieldset { border: 0; } 
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; } 
img, video, audio, object, embed, iframe { max-width: 100%; } 
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; } 
table { border-spacing: 0; border-collapse: collapse; } 
ul, ol, menu { list-style: none; } 
a { color: #222; text-decoration: none; } 
address, em, i { font-style: normal; } 
del { text-decoration: none; } 
button { overflow: hidden; border: 0; background: none; } 
h1, h2, h3, h4, h5 { font-weight: 700; line-height: 1.4; } 
strong, b { font-weight: 700; } 
pre { word-break: break-all; white-space: pre-line; } 
/*:focus { outline: 0; } */


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'Pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 16px; letter-spacing: -0.03em; color: #222; vertical-align: top; } 
label, input, select, textarea { outline: none; } 
textarea { padding: 10px; width: 100%; border: 1px solid #ccc; resize: none; } 
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; } 
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly],
.disabled, .readonly { background-color: transparent; color: #9a9a9a; opacity:1; } 
code { padding: 2px 4px; background-color: #f9f2f4; font-size: 96%; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; color: #c7254e; } 

/* ----- input, select ----- */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"],
.input, select, .select { display: inline-block; padding: 7px 0; width: 100%; height: 45px; border-bottom: 1px solid #ccc; line-height: 30px; vertical-align: top; } 
.input input[type="text"], .input input[type="password"], .input input[type="number"], .input input[type="email"], .input input[type="tel"],
.input { padding: 0; } 
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] { font-weight: 700; } 
.input select, .input .select, .input input, .input .input { height: 44px; border: 0; } 
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus, .input.focus { z-index: 2; } 
select, .select { background: transparent url(../images/custom/ebpp/arrow.png) no-repeat center / contain; text-align:left; background-position: right 8px center; background-size: 13px auto; } 
select:disabled, .select:disabled, select[readony], .select[readony] { color: #888; cursor: default; } 

/* input number */
input[type='number'] { -moz-appearance: textfield; } 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } 

/* ----- checkbox, radio ----- */
.checkbox { position: relative; display: inline-block; vertical-align: top; } 
.checkbox > input[type="checkbox"], .checkbox>input[type="radio"] { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.checkbox > input + label { position: relative; display: block; padding-left: 30px; line-height: 22px; cursor: pointer; } 
.checkbox > input + label:before { content: ''; position: absolute; top: 0; left: 0; display: block; width: 22px; height: 22px; border: 1px solid #ddd; border-radius: 50%; } /* circle border */
.checkbox > input + label:after { content: ''; position: absolute; top: 6px; left: 5px; display: block; width: 12px; height: 8px; border-left: 2px solid #ddd; border-bottom: 2px solid #ddd; -webkit-transform: rotate(-50deg); -moz-transform: rotate(-50deg); -ms-transform: rotate(-50deg); -o-transform: rotate(-50deg); transform: rotate(-50deg); } /* check icon */
.checkbox.child > input + label { font-size: 12px; color: #9a9a9a; } 
.checkbox.child > input + label:before { border: 0; } 
.checkbox.square > input + label { padding-left: 26px; font-size: 13px; color: #757575; } 
.checkbox.square > input + label:before { top: 1px; width: 20px; height: 20px; border-radius: 0; } 
.checkbox.square > input + label:after { top: 5px; left: 4px; } 
.checkbox.square > input:checked + label:before { border-color: #ddd !important; } 
.checkbox.square > input:checked + label:after { border-color: #222 !important; } 
.checkbox.circle > input + label { font-size: 14px; } 
.checkbox.circle > input + label:after { top: 5px; left: 5px; width: 12px; height: 12px; background-color: #ddd; border: 0; border-radius: 50%; } 
.checkbox label .text-info-box { display: block; margin-top: 8px; font-size: 12px; font-weight: 400; color: #9a9a9a; } 

/* checked */
.checkbox > input:checked + label:before { border-color: #faa61a; background-color: #faa61a; } 
.checkbox > input:checked + label:after { border-color: #fff; } 
.checkbox.child > input:checked + label:before { border: 0; background: none; } 
.checkbox.child > input:checked + label:after { border-color: #222; } 
.checkbox.circle > input:checked + label:after { background-color: #faa61a; } 
.checkbox.circle > input:checked + label:before,
.checkbox.square > input:checked + label:before { background: none; } 
.checkbox-inline-group { margin: 0 -10px; } 
.checkbox-inline-group .checkbox { padding: 0 10px; } 
.checkbox-block-group { text-align: left; } 
.checkbox-block-group .checkbox { display: block; } 
.checkbox-block-group .checkbox ~ .checkbox { margin-top: 5px; } 

/* button style group */
.check-group { position: relative; clear: both; padding-left: 1px; width: 100%; font-size: 0; } 
.check-group:after { content: ''; display: block; clear: both; } 
.check-group input { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0; } 
.check-group:not(.telecom-list) label { position: relative; display: inline-block; margin-left: -1px; padding-top: 2px; width: 50%; width: calc(50% + 1px); height: 45px; border-radius: 0; font-size: 14px; line-height: 41px; border: 1px solid #ddd; color: #9a9a9a; text-align: center; vertical-align: middle; cursor: pointer; } 
.check-group input:checked + label { border-color: #222; color: #222; font-weight: 700; z-index: 2; } 
.check-group input:disabled + label,
.check-group input[readonly] + label { background: #f8f9fa; color: #aaa; cursor: default; } 
.check-group input:checked:disabled + label,
.check-group input:checked[readonly] + label { border-color: #aaa; color: #757575; } 
.check-group label:hover { -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.045); -moz-box-shadow: inset 0 0 100px rgba(0,0,0,.045); box-shadow: inset 0 0 100px rgba(0,0,0,.045); } 
.check-group.grid3 label { width: 33.333%; white-space: nowrap; overflow: hidden; } 
.check-group.grid4 label { width: 25%; width: calc(25% + 1px); white-space: nowrap; overflow: hidden; } 
.check-group > input:first-child + label,
.check-group li:first-child label { border-top-left-radius: 3px; border-bottom-left-radius: 3px; } 
.check-group > label:last-child,
.check-group li:last-child label { border-top-right-radius: 3px; border-bottom-right-radius: 3px; } 
.check-group input:disabled + label:hover,
.check-group input[readonly] + label:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; } 

/* focus */
.check-group input:focus + label { -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,.4); box-shadow: 0 0 5px rgba(0,0,0,.4); } 
.checkbox input:focus + label:before { -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,.4); box-shadow: 0 0 5px rgba(0,0,0,.4); } 

/* ----- switch ----- */
.switch { position: relative; display: inline-block; width: 55px; } 
.switch .switch-checkbox { position: absolute; top: 0; left: 0; margin: 0; width: 0; height: 0; z-index: -1; } 
.switch .switch-label { position: relative; display: block; margin: 0; width: 100%; height: 26px; overflow: hidden; cursor: pointer; border-radius: 13px; } 
.switch .switch-inner { display: block; width: 200%; margin-left: -100%; -webkit-transition: margin .2s ease-in 0s; -moz-transition: margin .2s ease-in 0s; -ms-transition: margin .2s ease-in 0s; transition: margin .2s ease-in 0s; } 
.switch .switch-inner:before,
.switch .switch-inner:after { content: '저장'; display: block; float: left; padding: 4px 9px; width: 50%; height: 26px; font-size: 11.5px; font-weight: 700; color: #fff; line-height: 18px; } 
.switch .switch-inner:before { background-color: #faa61a; } /* on */
.switch .switch-inner:after { background-color: #ddd; text-align: right; } /* off */
.switch .switch-switch { display: block; position: absolute; top: 0; right: 29px; margin: 3px; width: 20px; height: 20px; border-radius: 50%; background-color: #fff; -webkit-transition: right .2s ease-in 0s; -moz-transition: right .2s ease-in 0s; -ms-transition: right .2s ease-in 0s; transition: right .2s ease-in 0s; } 
.switch .switch-checkbox:checked + .switch-label .switch-inner { margin-left: 0; } 
.switch .switch-checkbox:checked + .switch-label .switch-switch { right: 0; } 
.switch input:focus + .switch-label .switch-switch { -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,.4); box-shadow: 0 0 5px rgba(0,0,0,.4); } 

/** for IE **/
button:active { border-style: outset; } 
select::-ms-expand { display: none; } /* 화살표 없애기 for IE10, 11 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height: 0; } /* IE 삭제 버튼(X) 숨기기 for IE10, 11 */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; } 

/** placeholder **/
input::placeholder { color: #bbb; font-weight: 400; height: 35px; line-height: 35px; } 
textarea::placeholder { color: #bbb; font-weight: 400; line-height: 21px; } 
/* webkit */
input::-webkit-input-placeholder { color: #bbb; font-weight: 400; } 
textarea::-webkit-input-placeholder { color: #bbb; font-weight: 400; } 
/* firefox 4-18 */
input:-moz-placeholder { color: #aaa; font-weight: 400; } 
textarea:-moz-placeholder { color: #aaa; font-weight: 400; } 
/* firefox 19+ */
input::-moz-placeholder { color: #aaa; font-weight: 400; } 
textarea::-moz-placeholder { color: #aaa; font-weight: 400; } 
/* IE10+ */
input:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; } 
textarea:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; } 
.placeholder { color: #bbb !important; } 

/* ----- table ----- */
.table,
.terms table { border-collapse: collapse; table-layout: fixed; border-spacing: 0; width: 100%; color: #757575; } 
.table th, .table td,
.terms table th, .terms table td { height: 31px; border: 1px solid #ececec; padding: 5px; text-align: center; vertical-align: middle; word-break: break-all; } 
.table th,
.terms table th { background: #f8f9fa; font-weight: 400; color: #444; } 
.table thead th,
.terms table thead th { text-align: center; } 
.table-list td { text-align: center; } 
.table-view tbody th { text-align: left; } 
.table .text-left { text-align: left; } 
.table .text-right { text-align: right; } 
.table .text-center { text-align: center; } 

/* ----- terms ----- */
.terms { font-size: 12px; } 
.terms h3 { font-size: 16px; font-weight: 700; color: #faa61a; } 
.terms h4 { font-size: 15px; font-weight: 700; color: #222; } 
.terms h5 { font-size: 13px; font-weight: 700; color: #222; } 
.terms h3,
.terms h4,
.terms h5,
.terms p,
.terms li,
.terms table { margin: .25em 0; } 
.terms .indent { padding-left: 1.25em; } 
.terms.scroll { padding-left: 3px; padding-right: 3px; } 

/* #LAYOUT
------------------------------------------------------------*/
/* clearfix */
.wrap, #header, #content, #footer, .container, .container-fluid, .brand-name, .page-title { clear: both; } 
.wrap:after, #content:after, #footer:after, .container:after, .container-fluid:after, #header:after, .brand-name:after, .page-title:after { content: ''; display: block; clear: both; } 
.container { margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: 20px; width: 100%; max-width: 700px; } 
.container-fluid { position: relative; margin-left: auto; margin-right: auto; } 

/* ----- default layout ----- */
body > form.main_form { width: 100%; height: 100%; } 
.wrap { position: relative; width: 100%; height: 100%; min-width: 320px; } 

/* ----- header ----- */
#header { position: fixed; top: 0; left: 0; right: 0; min-width: 320px; padding: 13px 0; width: 100%; height: 56px; background-color: #fff; text-align: center; -webkit-transition: top .2s ease-in-out; transition: top .2s ease-in-out; z-index: 100; } 
#header.header-up { top: -56px; } 
#header.header-down { top: 0; } 
#header > .container { position: relative; } 
#header .brand-name { padding: 7px 0; font-size: 0; } 
#header [class|="btn"] { position: absolute; top: 0; width: 30px; height: 30px; } 
#header .btn-back { left: 13px; } 
#header .btn-notice { right: 50px; width: 30px; height: 30px; } 
#header .btn-close { right: 13px; width: 30px; height: 30px; } 

/* ----- brand logo ----- */
.my-logo { display: inline-block; } 
.my-logo, .my-logo img { height: 12px; vertical-align: top; } 
.krc .my-logo, .krc .my-logo img { height: 15px; vertical-align: top; } 
.my-logo, .my-logo.joonggo img { height: 16px; } 

/* ----- main content ----- */
#content { padding: 56px 0 0; } 
.iframe-wrap { width: 100%; height: 100%; overflow: hidden; } 
.iframe-wrap > iframe { margin: 0; padding: 0; border: 0; } 
.iframe-wrap:after { display: none; } 

/* ----- common text ----- */
h2.page-title { margin: 20px 0 0; font-size: 18px; font-weight: 700; } 
h2.pay-type { margin: 20px 0 10px; font-size: 12px; } 
h2.pay-type.sr-only { margin: 0; font-size: 0; } 
h3 { font-size: 16px; } 
h4 { font-size: 14px; } 
h5 { font-size: 13px; } 

.check-box > input[type="checkbox"], .check-box>input[type="radio"] {
	position: absolute;
	top: auto;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.btn-back, .btn-close, .btn-star {
	display: inline-block;
	background: none;
	font-size: 0;
	vertical-align: top;
}

#header .btn-close {
	width: 12px;
	height: 12px;
	background: url('../images/custom/ebpp/ico_close.svg') no-repeat center / contain;
	top: 8px;
	right: 20px;
}

/* ebpp */
#content .page-title {
	font-size: 24px;
	font-weight: 700;
	color: #2B2B2B;
	margin-bottom: 20px;
}
#content .order-info {
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 12px;	
}
#content .order-info .order-box::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	background: url('../images/custom/ebpp/line.png') no-repeat center / cover;
}
#content .order-info .order-box:last-of-type::after {
	display: none;
}
#content .order-info .prd {
	margin-bottom: 12px;
}
#content .order-info .prd:last-of-type {
	margin-bottom: 0;
}
#content .order-info .prd-title {
	font-size: 16px;
	font-weight: 700;
	color: #3E3E3E;
	margin-bottom: 14px;
}
#content .order-info .left {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #6a6a6a;
}
#content .order-info .right {
	float: right;
	font-size: 14px;
	font-weight: 700;
	color: #3E3E3E;
}

#content .order-noti {
	background: #f1f1f1;
	padding: 15px 28px;
	word-break: keep-all;
}

#content .order-info + .order-noti { 
	margin-bottom: 30px;
}

#content .pay-type .sub-title {
	font-size: 20px;
	font-weight: 700;
	color: #2b2b2b;
	margin-bottom: 20px;
}

.select-group {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 12px;
}
.select-group::after {
	content: '';
	display: block;
	clear: both;
}
.select-group li {
	width: 100%;
	font-size: 0;
	color: #929292;
	margin-right: 9px;
}
.select-group li:last-of-type {
	margin-right: 0;
}
.select-group:not(.telecom-list) label {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #929292;
	border-radius: 5px;
	line-height: 48px;
	border: 1px solid #CBCBCB;
}
.select-group input:checked + label {
	color: #2b2b2b;
	border: 1px solid #2b2b2b;
	font-weight: 700;
}
.select-content {
	display: none;
}
.select-content.current {
	display: block;
}
.select-list {
	display: none;
	grid-template-columns: repeat(3, 1fr); /* 3개의 동일한 너비의 열 */
	gap: 10px; /* 그리드 아이템 사이의 간격 */
}
.select-list li {
	color: #2b2b2b;
	background-color: #eee;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	line-height: 50px;
}
.select-list li.active {
	background-color: #3E3E3E;
	color: #fff;
	font-weight: 700;
}
.select-list + div > .form-type {
	margin-top: 63px;
}
.select-list.active {
	display: grid;
}
.btn-content {
	margin-top: 20px;
	margin-bottom: 24px;
	text-align: center;
}
.btn-content .btn-more {
	position: relative;
	display: none;
	font-size: 16px;
	font-weight: 700;
	color: #2b2b2b;
	margin: 0 auto;
	padding: 0 15px;
}
.btn-content .prev::before {
	content: '';
	display: block;
	width: 7px;
	height: 13px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6.5px;
	background: url('../images/custom/ebpp/btn_arrow_right.png') no-repeat center / contain;
	transform: rotate(180deg);
}
.btn-content .next::after {
	content: '';
	display: block;
	width: 7px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6.5px;
	background: url('../images/custom/ebpp/btn_arrow_right.png') no-repeat center / contain;
}
.btn-content .btn-more.active {
	display: block;
}
.accordion-list {
	margin-bottom: 12px;
}
.accordion-list .accordion-title {
	display: flex;
	justify-content: space-between;
	margin-top: 23px;
}
.accordion-list .accordion-title .subject {
	font-size: 16px;
	font-weight: 500;
	color: #2b2b2b;
}
.accordion-list .arrow-toggle {
	width: 32px;
	height: 32px;
	background: url(../images/custom/ebpp/arrow.png) no-repeat center / 13px auto;
	transition: all .3s ease-in-out;
}
.check-box > input + label {
	position: relative;
	display: block;
	line-height: 19px;
	padding-left: 32px;
	padding-right: 20px;
	font-size: 16px;
	color: #747474;
}
.check-all > input + label {
	position: relative;
	display: block;
	line-height: 24px;
	padding-left: 34px;
	font-size: 16px;
	color: #2b2b2b;
}
.check-all > input + label::before {
	content: '';
	position: absolute;
	left: 0;
	width: 24px;
	height: 24px;
	background: url(../images/custom/new/check_off.png) no-repeat center / contain;
}
.check-all > input:checked + label::before {
	background: url(../images/custom/new/check_on.png) no-repeat center / contain;
}
#content {
	padding: 56px 0 159px 0 !important;
}
#footer {
	position: fixed;
	width: 100%;
	height: 159px;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
}
#footer > .container {
	margin-top: auto;
	margin-bottom: 20px;
}
#footer .btn {
	background-color: #2b2b2b;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	width: 100%;
	line-height: 56px;
	border-radius: 10px;
}
#footer .btn:disabled, #footer .btn.disabled {
	background-color: #DFDFDF;
	color: #fff;
}

.hidden, .modal { display: none;}

/* modal */
/* ----- modal ----- */
.modal-open { overflow: hidden; } 
.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer { clear: both; } 
.modal-dialog:after, .modal-content:after, .modal-header:after, .modal-body:after, .modal-footer:after { content: ''; clear: both; display: block; } 
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; z-index: 999; word-break: keep-all; } 
.modal:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: -1; } 
.modal-dialog { position: absolute; top: 50%; left: 0; padding: 20px; width: 100%; text-align: center; z-index: 2; } 
.modal-content { 
	width: 100%;
	min-width: 280px;
	max-width: 310px;
	overflow: hidden;
	display: inline-block;
	border-radius: 20px;
	background: #fff;
	text-align: left;
	vertical-align: top;
	font-size: 16px;
} 
.modal-header { position: relative; } 
.modal-header .btn-close { position: absolute; top: 8px; right: 8px; } 
.modal-body { display:flex; justify-content:center; align-items:center; flex-wrap: wrap; padding:20px; min-height:128px; width: 100%; } 
.modal-body h3 { display: block; width: 100%; text-align: left; font-size: 20px; font-weight: 700; line-height: 1.5; color: #2b2b2b; } 
.modal-body h3:empty { margin-bottom: 0;display: none; } 
.modal-footer { border-top: 1px solid #e2e2e2; } 
.modal-footer .btn:not(.btn-xl) { float: left; width: 100%; height: 56px; font-size: 16px; line-height: 48px; border: 0; border-radius: 0; background-color: #fff; font-weight: 500; color: #2b2b2b; } 
.modal-footer.type2 .btn { position: relative; width: 50%; } 
.modal-footer.type2 .btn:last-child { border-left: 1px solid #e2e2e2; } 
.modal-footer.type2 .btn-cancel { color: #FF5656; } 
.modal-body .content { width: 100%; }
.modal-body .info-list { font-size: inherit; color: inherit; } 
.modal-new .subject { font-size: 14px; } 
.modal-new .table-box { margin: 10px 0; font-size: 11px; border: 1px solid #ececec; border-radius: 10px; overflow: hidden; } 
.modal-new .table-box thead th { padding: 9px 5px; border-left: 1px solid #ececec; border-top: none; border-right: none; } 
.modal-new .table-box td { padding: 11px 10px; font-weight: 700; text-align: left; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; border-left: none; } 
.modal-new .table-box th:first-child { width: 115px; border-left: none; } 
.modal-new .table-box td:first-child { text-align: center; color: #444; } 
.modal-new .table-box td:last-child { border-right: none; } 
.modal-new .table-box tr:last-child td { border-bottom: none; } 
.modal-new .table-box td .subject { font-size: 11px; font-weight: 400; margin-top: 5px; } 
.modal-new .text-info { font-size: 15px; color: #151515; } 
.modal-new .modal-body #alertContents { text-align: center; } 
.modal-new .modal-body #alertContents strong { font-size: 16px; } 
.modal-new .modal-body #alertContents .small-text { font-size: 13px; } 

/* 공통 모달 */
#alertContents, #confirmContents { font-size: 16px; line-height: 1.2; color: #2b2b2b; } 
.modal-body h3:empty + #alertContents,
.modal-body h3:empty + #confirmContents { padding: 10px 0; text-align: center; } 

/* 전체 화면 모달 (공지사항, 약관, 영수증) */
.modal-full .modal-dialog { top: 0; bottom: 0; padding: 0; margin-top: 0 !important; height: 100%; overflow: hidden; background-color: #fff; } 
.modal-full .modal-content { width: 100%; max-width: 100%; height: 100%; overflow-y: auto; border-radius: 0; } 
.modal-full .modal-head { display:flex; align-items:center; position:relative; top:0; left:0; right:0; min-width:320px; padding:0; width:100%; height:60px; background-color:transparent; text-align:center } 
.modal-full .modal-head>.container { position:relative; height:30px; } .modal-full .modal-head .brand-name { padding:7px 0; font-size:0 } 
.modal-full .modal-head .btn-close { position:absolute; top:-4px; right:13px; width:32px; height:32px; background:url(../images/custom/new/btn_close.png) no-repeat center / contain } 
.modal-full .modal-body { padding: 20px 0 159px; } 
.modal-full .modal-body .terms-title { font-size: 22px; font-weight: 700; color: #2b2b2b; margin-bottom: 20px; } 
.modal-full .modal-body .terms-title-sub { font-size: 14px; font-weight: 700; color: #2A2A2A; } 
.modal-full .modal-body .terms-title-sub + p { margin-bottom: 20px; } 
.modal-full .modal-body .container { height: 100%; } 
.modal-full .modal-footer { position:fixed; width:100%; height:159px; bottom:0; display:flex; justify-content:center; align-items:center; border-top: 0;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%);
  } 
.modal-full .modal-footer .btn-wrap {width: 100%;padding: 0 20px; margin-top: auto; margin-bottom: 20px; } 
.modal-full .modal-footer .btn-wrap .btn {width: 100%;height: 56px;border-radius: 10px;font-size: 20px;font-weight: 700;background-color: #2B2B2B;color: #fff; } 
.modal-full .modal-footer .btn-wrap .btn.btn-default {background-color: #DFDFDF;color: #fff; } 
.modal-full .modal-footer .btn-wrap .btn.btn-default {background-color: #DFDFDF;color: #fff; } 

.list-sub .list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 13px;
}
.list-sub .list-item:last-of-type {
	margin-bottom: 32px;
}
.list-sub .list-item .btn-right {
	font-size: 16px;
	color: #747474;
}
.list-sub .list-item .btn-right > a span {
	font-size: 16px;
	color: #747474;
	text-decoration: underline;
}
.modal .check-box > input + label::before {
	content: '';
	position: absolute;
	left: 2px;
	width: 20px;
	height: 20px;
	background: url(../images/custom/ebpp/check_off.png) no-repeat center / 13px auto;
}
.modal .check-box > input:checked + label::before {
	background: url(../images/custom/ebpp/check_on.png) no-repeat center / 13px auto;
}
 .modal-footer {
	width: 100%;
	height: auto;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal .btn-wrap {
	width: 100%;
	padding: 0 ;
}
.modal .btn-wrap .btn {
	width: 100%;
	height: 56px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700;
	background-color: #2B2B2B;
	color: #fff;
}
.modal-slide .modal-dialog {
	display: flex;
	align-items: end;
	padding: 0;
	bottom: 0;
}
.modal-slide .modal-content {
	max-width: none;
	border-radius: 20px 20px 0 0;
	left: 0;
}
.modal-slide .list-sub {
	margin-top: 28px;
}
.modal-slide .modal-body h3 {
	text-align: left;
}
/* //modal */

.terms .indent {
	padding-left: 1.25em;
}
/* //ebpp */