@charset "UTF-8"; @import url(../fonts/pretendard/pretendard-subset.min.css); /* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; } 
html { -ms-touch-action: none; } 
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; } 
html, body { width: 100%; height: 100%; } 
body { background-color: #fff; font-family: 'pretendard', 'Nanum Square Round', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 13px; line-height: 1.5; letter-spacing: -0.03em; color: #444; } 
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; } 
fieldset { border: 0; } 
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; } 
img, video, audio, object, embed, iframe { max-width: 100%; } 
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; } 
table { border-spacing: 0; border-collapse: collapse; } 
ul, ol, menu { list-style: none; } 
a { color: #222; text-decoration: none; } 
address, em, i { font-style: normal; } 
del { text-decoration: none; } 
button { overflow: hidden; border: 0; background: none; } 
h1, h2, h3, h4, h5 { font-weight: 700; line-height: 1.4; } 
strong, b { font-weight: 700; } 
pre { word-break: break-all; white-space: pre-line; } 
.mlAuto { margin-left: auto !important; } 
.mrAuto { margin-right: auto !important; } 
/*:focus { outline: 0; } */


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'pretendard', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; letter-spacing: -0.03em; color: #222; vertical-align: top; } 
label, input, select, textarea { outline: none; } 
textarea { padding: 10px; width: 100%; border: 1px solid #ccc; resize: none; } 
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; } 
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly],
.disabled, .readonly { background-color: transparent; color: #9a9a9a; -webkit-text-fill-color: #9a9a9a; opacity:1; } 
code { padding: 2px 4px; background-color: #f9f2f4; font-size: 96%; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; color: #c7254e; } 

/* ----- input, select ----- */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"],
.input, select, .select { display: inline-block; padding: 7px 0; width: 100%; height: 48px; border-bottom: 1px solid #ccc; line-height: 30px; vertical-align: top; } 
.input input[type="text"], .input input[type="password"], .input input[type="number"], .input input[type="email"], .input input[type="tel"],
.input { padding: 0; } 
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] { font-weight: 600; } 
.input select, .input .select, .input input, .input .input { height: 44px; border: 0; } 
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus, .input.focus { border-color: #FF6114; z-index: 2; border-width: 2px; } 
select, .select { background: transparent url("../images/kyc/common/select-bg.svg") right 10px center no-repeat; background-size: 24px auto; text-align: left; } 
select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg.png?ver=20210331"); color: #888; cursor: default; } 
input[type="date"]::-webkit-calendar-picker-indicator { background: url('../images/kyc/common/calendar.svg') no-repeat center / contain; width: 24px; height: 24px; } 

/* input number */
input[type='number'] { -moz-appearance: textfield; } 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } 

.container { max-width: 1024px; margin: 0 auto; } 

#wrap header { display: flex; align-items: center; justify-content: center; height: 100px; } 
#wrap .logo { width: 148px; height: 22px; background: url('../images/kyc/logo.png') no-repeat center / contain; margin: 0 auto; } 

/* 테이블 */
.kyc .modal table { border: 0; border-top: 1px solid #000; border-bottom: 1px solid #000; } 
.kyc .modal table tr { border-bottom: 1px solid #cbcbcb; } 
.kyc .modal table tr:last-of-type { border-bottom: 0; } 
.kyc .modal table th { background-color: #F5F5F7; padding: 9px 10px; border: 0; text-align: left; color: #000000; border-right: 1px solid #cbcbcb; } 
.kyc .modal table td { background-color: #fff; padding: 9px 10px; border: 0; text-align: left; color: #333; } 
.kyc .modal table a { text-decoration: underline; color: #1E8AFF; } 
.kyc .tableWrap table { table-layout: fixed; } 
.kyc .modal .tableWrap table { min-width: auto; } 
.kyc .tableWrap.type3 .modal-content { width: 840px; } 
.kyc .tableWrap.type3 td { border-right: 1px solid #CBCBCB; } 
.kyc .tableWrap.type3 td:first-of-type { width: 100px; } 
.kyc .tableWrap.type3 td:nth-of-type(3), .kyc .tableWrap.type3 td:nth-of-type(4) { width: 165px; } 
.kyc .tableWrap.type3 td:last-of-type { border-right: 0; } 
.kyc .tableWrap + .title { margin-top: -26px; margin-bottom: 10px; } 
.kyc .modal .tableWrap + .title { margin-top: 0; } 
.kyc .tableWrap.firstNameNoBr table td:first-of-type { white-space: nowrap; } 
/* 테이블 */

.grayText { color: #666; } 
.darkText { color: #5c5c5c; } 
.blackText { color: #000; } 
.alignLeft { text-align: left !important; } 
.alignCenter { text-align: center !important; } 
.alignRight { text-align: right !important; } 
.mediumText { font-weight: 500 !important; } 
.boldText { font-weight: 600 !important; } 
.extraBoldText { font-weight: 700 !important; } 

.dFlex { display: flex; } 
.dAlignCenter { align-items: center; } 
.dJustifyCenter { justify-content: center; } 
.dJustifyStart { justify-content: start; } 
.dSpaceBetween { justify-content: space-between; } 
.dEnd { justify-content: end; } 

.mt0 { margin-top: 0 !important; } 
.mt10 { margin-top: 10px !important; } 
.mt40 { margin-top: 40px !important; } 
.pl0 { padding-left: 0 !important; } 

/* 셀렉트박스 */
.kyc #businessTypeContainer1 .formGroup:last-of-type, .kyc #businessTypeContainer2 .formGroup:last-of-type { margin-bottom: 20px; } 
/* 셀렉트박스 */

/* 폼 스타일링 */
form { max-width: 400px; margin: 0 auto; } 
label { display: block; margin-bottom: 10px; font-weight: 700; } 
input[type="text"], input[type="tel"] { width: 100%; padding: 8px 10px; margin-bottom: 40px; border: 1px solid #ddd; border-radius: 4px; } 
input[type="text"]::placeholder, input[type="tel"]::placeholder { font-weight: 400; color: #ACACAC; } 
.required:after { content: ' *'; color: red; } 
.timer { position: absolute; right: 10px; display: inline-block; padding-left: 8px; height: 45px; line-height: 45px; font-family: Pretendard; font-size: 15px; font-weight: 600; text-align: left; color: #1E8AFF; display: none; } 
button { padding: 10px 20px; background-color: #000; color: white; border: none; border-radius: 4px; cursor: pointer; } 
button:disabled { background-color: #ccc; } 
#sendCodeBtn { width: 102px; min-width: 102px; padding-left: 0; padding-right: 0; } 
.btnFull { width: 100%; height: 48px; font-family: Pretendard; font-size: 15px; font-weight: 700; line-height: 17.9px; text-align: center; color: #fff; } 
.kyc .selectBox * { box-sizing: border-box; } 
.kyc .selectBox { position: relative; width: 100%; min-width: 332px; max-width: 332px; height: 48px; max-height: 48px; border: 1px solid #dadada; border-radius: 4px; background: transparent url("../images/kyc/common/select-bg.svg") right 10px center no-repeat; background-size: 24px; cursor: pointer; color: #acacac; } 
.kyc .selectBox:after { content: ''; display: block; width: 2px; height: 100%; position: absolute; top: 0; right: 35px; } 
.kyc .selectBox + input { margin-left: 10px; } 

.kyc .selectBox .label { display: flex; align-items: center; width: inherit; height: inherit; border: 0 none; outline: 0 none; padding-left: 15px; background: transparent; cursor: pointer; color: #acacac; max-width: inherit; } 
.kyc .selectBox.comp .label { color: #222; } 

.kyc .selectBox .optionList { position: absolute; top: 51px; left: -1px; width: 332px; background: #fff; color: #333; list-style-type: none; padding: 0; border-radius: 5px; overflow: hidden; max-height: 0; padding: 20px 10px; display: none; z-index: 10; } 

.kyc .selectBox.active .optionList { max-height: 250px; border: 1px solid #dadada; display: block; overflow-y: scroll; } 

.kyc .selectBox .optionItem { padding: 0; transition: .1s; font-size: 15px; margin-bottom: 15px; } 
.kyc .selectBox .optionItem:last-of-type { margin-bottom: 0; } 

/* 스크롤 커스텀 */
.kyc .optionList::-webkit-scrollbar { width: 20px; } 
/* 스크롤바 막대 설정*/
.kyc .optionList::-webkit-scrollbar-thumb { background-color: rgba(203, 203, 203, 1); border-radius: 10px; border: 8px solid rgba(255,255,255,1); /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */ } 
.kyc .optionList::-webkit-scrollbar-track { background-color: rgba(0,0,0,0); /* 스크롤바 뒷 배경을 투명 처리한다 */ } 

.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer { clear: both; } 
.modal-dialog:after, .modal-content:after, .modal-header:after, .modal-body:after, .modal-footer:after { content: ''; clear: both; display: block; } 
.modal { display: none; position: fixed; top: 0; left: 0; padding: 0 20px; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; z-index: 999; } 
.modal:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
.modal-dialog { position: absolute; top: 50%; left: 0; margin-top: -0; padding: 20px; width: 100%; z-index: 2; } 
.modal-content { width: 100%; min-width: 280px; overflow: hidden; display: inline-block; border-radius: 18px; background-color: #fff; text-align: left; vertical-align: top; } 
.modal-header { position: relative; padding: 20px; background-color: #fff; } 
.modal-header .modal-title { font-size: 18px; font-weight: 800; line-height: 20px; } 
.modal-header .btn-close { position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; } 
.modal-body { padding: 35px 24px; min-height: 90px; background-color: #fff; font-size: 14px; } 
.modal-body h3 { margin-bottom: 13px; font-size: 18px; color: #151515; } 
.modal-body h3:empty { margin-bottom: 0; } 

/* 로그인 */
.title { font-family: Pretendard; font-size: 20px; font-weight: 700; line-height: 23.87px; text-align: center; color: #000; } 
.subTitle { font-family: Pretendard; font-size: 14px; font-weight: 600; line-height: 22px; text-align: left; color: #333; } 
.subTitle + .subTitleContent { margin-top: 10px; margin-bottom: 40px; font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 22px; text-align: left; color: #666; } 
.inputItem { display: flex; align-items: start; justify-content: center; flex-direction: column; } 
.inputItem > div { position: relative; width: 100%; } 
.inputItem.col-2 { flex-direction: row; align-items: center; justify-content: space-between; } 
.inputItem.col-2 button { height: 48px; margin-top: -7px; margin-left: 8px; white-space: nowrap; } 
/* //로그인 */

/* kyc 공통 */
.kyc .titleWrap { display: flex; align-items: baseline; justify-content: center } 
.kyc .titleWrap .text { font-family: Pretendard; font-size: 18px; font-weight: 700; line-height: 21.48px; letter-spacing: -0.02em; text-align: center; color: #000; margin-left: 10px; } 
.kyc .textLeft { text-align: left !important; } 
.kyc .textRight { text-align: right !important; } 
.kyc .textCenter { text-align: center !important; } 
.kyc .content { padding: 50px 0 70px; } 
.kyc .content .title { font-family: Pretendard; font-size: 18px; font-weight: 700; line-height: 21.48px; text-align: left; margin-bottom: 40px; } 
.kyc .content .title + .tableWrap { margin-top: -20px; } 
.kyc .stepWrap { display: flex; justify-content: center; margin-bottom: 40px; } 
.kyc .stepWrap .step { display: flex; } 
.kyc .stepWrap .step::after { content: ''; display: block; width: 40px; height: 40px; background: url('../images/kyc/common/dot.svg') no-repeat center / contain; margin: 0 10px; } 
.kyc .stepWrap .step:last-of-type::after { display: none; } 
.kyc .stepWrap .step .step-number { position: relative; font-family: Pretendard; font-weight: 700; font-size: 18.67px; line-height: 22.28px; text-align: left; color: #CBCBCB; width: 40px; height: 40px; line-height: 40px; border: 1px solid #CBCBCB; border-radius: 100%; text-align: center; box-sizing: border-box; } 
.kyc .stepWrap .step.step-active .step-number { background-color: #FF6114; border-color: #FF6114; color: #fff; } 
.kyc .stepWrap .step.step-end .step-number { background-color: #3e3e3e; border-color: #3e3e3e; color: #fff; } 
.kyc.comp .content .title { font-size: 20px; } 

.kyc .guideWrap { background-color: #F5F5F7; padding: 20px; border-radius: 10px; margin-bottom: 40px; } 
.kyc .guideWrap .title { font-family: Pretendard; font-size: 16px; font-weight: 700; line-height: 19.09px; text-align: left; color: #222; margin-bottom: 14px; } 
.kyc .guideSubWrap { margin-bottom: 40px; } 
.kyc .guideSubWrap .title { font-family: Pretendard; font-size: 14px; font-weight: 600; line-height: 22px; text-align: left; color: #333333; margin-bottom: 10px; } 
.kyc .guideSubWrap .info { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 22px; text-align: left; color: #666; } 
.kyc .guideWrap .guideText { font-family: Pretendard; font-weight: 600; font-size: 15px; line-height: 100%; letter-spacing: 0%; color: #000; text-align: center; margin-bottom: 22px; } 
.kyc .guideWrap.white { background-color: #fff; border: 1px solid #dadada; } 
.kyc .guideWrap.white .checkBox > input + label { margin-bottom: 0; } 
.kyc .guideWrap.white .checkBox.center { text-align: center; } 

.kyc .guideList li { position: relative; font-family: Pretendard; font-size: 15px; font-weight: 400; line-height: 20px; text-align: left; color: #666; margin-bottom: 10px; padding-left: 20px; } 
.kyc .guideList li::before { content: '・'; position: absolute; font-size: 24px; left: 0; } 
.kyc .guideList li .openModalBtn { font-family: Pretendard; font-size: 15px; font-weight: 600; line-height: 17.9px; text-align: left; color: #666666; cursor: pointer; } 
.kyc .darkText .guideList li { color: #5c5c5c; } 
.kyc .guideWrap .guideList li:last-of-type { margin-bottom: 0; } 

.kyc .radioWrap { margin-bottom: 40px; } 
.kyc .radioWrap .radioStep { margin-bottom: 30px; } 
.kyc .radioWrap .title { font-family: Pretendard; font-size: 16px; font-weight: 700; line-height: 19.09px; text-align: left; color: #222; margin-bottom: 14px; } 

.kyc .checkBox > input[type="checkbox"], .kyc .checkBox > input[type="radio"] { position: absolute; top: auto; left: 0; width: 0; height: 0; font-size: 0; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.kyc .checkBox > input + label { position: relative; display: inline-block; line-height: 22px; padding-left: 32px; font-size: 16px; color: #000; margin-bottom: 14px; white-space: nowrap; z-index: 1; } 
.kyc .checkBox > input + label::before { content: ''; position: absolute; left: 2px; width: 22px; height: 22px; background: url(../images/kyc/common/radio-off.svg) no-repeat center / contain; } 
.kyc .checkBox > input:checked + label::before { background: url(../images/kyc/common/radio-on.svg) no-repeat center / contain; } 
.kyc .checkBox > input[type="checkbox"] + label::before { background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain; } 
.kyc .checkBox > input[type="checkbox"]:checked + label::before { background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain; } 
.kyc .checkBox.round > input + label::before { background: url(../images/kyc/common/radio-off.svg) no-repeat center / contain; } 
.kyc .checkBox.round > input:checked + label::before { background: url(../images/kyc/common/radio-on.svg) no-repeat center / contain; } 
.kyc .checkBox.box > input + label::before { background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain; } 
.kyc .checkBox.box > input + label:checked:before { background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain; } 
.kyc .checkBox > input + label + .btnLink { display: inline-block; font-family: Pretendard; font-size: 15px; font-weight: 400; line-height: 17.9px; letter-spacing: -0.02em; margin-top: 3px; margin-left: 3px; } 
.kyc .formGroup .checkBox > input + label { margin-bottom: 0; width: auto; min-width: auto; margin-top: 13px; font-weight: 400; } 
.kyc .formGroup.stake > input { background: transparent url("../images/kyc/common/percentage.svg") right 15px center / 16px auto no-repeat; } 
.kyc .checkBox.alignCenter > input + label { width: auto; display: inline-block; margin-top: 40px; margin-bottom: 40px; } 
.kyc .tableWrap + div .checkBox.alignCenter > input + label { margin-top: 0; } 
.kyc .formWrap + .btnWrap { margin-top: 40px; } 
.kyc .default .checkBox > input + label::before { background: url(../images/kyc/common/radio-gray-off.svg) no-repeat center / contain; } 
.kyc .default .checkBox > input:checked + label::before { background: url(../images/kyc/common/radio-gray-on.svg) no-repeat center / contain; } 
.kyc .default .checkBox > input + label { color: #999; } 

.kyc .btnWrap { display: flex; align-items: center; justify-content: center; } 
.kyc .btn { font-family: Pretendard; line-height: 19.09px; text-align: center; font-size: 15px; font-weight: 700; margin: 0 5px; padding: 13px 10px; color: #3e3e3e; min-width: 140px; border: 1px solid #3e3e3e; background-color: #fff; border-radius: 5px; } 
.kyc .btnNext { border-color: #3E3E3E; background-color: #3E3E3E; color: #fff; } 
.kyc .btnLink { text-decoration: underline; cursor: pointer; } 
.kyc .btnOrange { background-color: #FF6114 !important; border-color: #FF6114 !important; color: #fff !important; } 
.kyc .btnOff, .kyc .btn:disabled { border-color: #DADADA !important; background-color: #DADADA !important; color: #fff; } 
.kyc .btnHide { display: none; } 
.formContainer { padding: 20px 0 40px; margin: 0 auto; min-width: 1024px; } 
.formGroup { position: relative; display: flex; align-items: start; flex-wrap: wrap; margin-bottom: 20px; } 
.formGroup:last-of-type { margin-bottom: 0; } 
.formGroup .subBottomTitle { width: 100%; margin-top: 8px; margin-left: 126px; color: #5c5c5c; } 
.kyc .formGroup.col-4 { flex-wrap: wrap; gap: 10px; /* 간격 조정 */ } 
.kyc .formGroup label { display: block; margin-bottom: 0; font-weight: bold; width: 126px; min-width: 126px; margin-top: 15px; } 
.formGroup input,
.formGroup select { width: 100%; min-width: 332px; max-width: 332px; height: 48px; max-height: 48px; padding: 10px; font-size: 15px; font-weight: 400; line-height: 15px; border: 1px solid #dadada; border-radius: 4px; margin-bottom: 0; } 
.formGroup input::placeholder, .formGroup select::placeholder { color: #acacac; } 
.formGroup input:read-only { background-color: #F5F5F7; } 
.formGroup .checkBox input:read-only { background-color: transparent; } 
.formGroup select + input { margin-left: 10px; } 
.formGroup .checkBox { position: relative; overflow: hidden; } 
.formGroup .checkBox + .checkBox { margin-left: 20px; } 
.formGroup .checkBox.col { margin-left: 10px; } 
.formGroup .sub-text { font-family: Pretendard; font-weight: 400; font-size: 14px; line-height: 100%; letter-spacing: 0%; color: #5C5C5C; margin-top: 8px; } 
.postalContainer,
.accountContainer,
.sideBtnWrap { display: flex; gap: 10px; } 
.postalContainer button,
.accountContainer button,
.sideBtnBox button { padding: 15px 0; background-color: #fff; border: 1px solid #3e3e3e; color: #3E3E3E; border-radius: 5px; cursor: pointer; white-space: nowrap; width: 124px; max-width: 124px; max-height: 48px; font-weight: 700; font-size: 15px; } 

/* 테이블 */
.kyc .tableWrap table { width: 100%; min-width: 1024px; border-collapse: collapse; margin: 0 0 40px; font-size: 14px; text-align: center; } 
.kyc .tableWrap.tableCenter table { text-align: center; table-layout: fixed; font-size: 13px; margin-bottom: 20px; } 
.kyc .tableWrap.tableCenter table th { width: 100px; text-align: center; font-weight: 600; height: 48px; color: #000; } 
.kyc .tableWrap.tableCenter table td { width: 100px; text-align: center; border-right: 1px solid #cbcbcb; font-weight: 600; color: #000; } 
.kyc .tableWrap table .won { color: #666; font-family: Pretendard; font-size: 13px; font-weight: 400; line-height: 18px; letter-spacing: -0.02em; } 
.kyc .tableWrap table .lightGray { font-size: 13px; font-weight: 400; line-height: 18px; letter-spacing: -0.02em; text-align: center; color: #666; } 

.kyc .tableWrap.tableCenter table td > p { margin-bottom: 4px; } 
.kyc .tableWrap.tableCenter table td > p:last-of-type { margin-bottom: 0; } 
.kyc .tableWrap.tableCenter table th:last-of-type { width: auto; border-right: 0; } 
.kyc .tableWrap.tableCenter table td:last-of-type { width: auto; text-align: left; border-right: 0; font-weight: 400; } 
.kyc .tableWrap.tableCenter table td[rowspan]:last-of-type { border-left: 1px solid #cbcbcb; } 
.kyc .tableWrap th, .kyc .tableWrap td { padding: 12px 15px; } 
.kyc .tableWrap td:first-of-type { font-size: 15px; font-weight: 700; } 
.kyc .tableWrap td.grayText { color: #999; } 
.kyc .tableWrap .onrageText { color: #FF6114; } 
.kyc .tableWrap th { background-color: #f4f4f4; font-weight: bold; height: 60px; } 
.kyc .tableWrap.type2 td:nth-of-type(1) { width: 300px; } 
.kyc .tableWrap.type2 td:nth-of-type(3) { width: 160px; } 
.kyc .tableWrap td .checkBox { white-space: nowrap; margin: 0 auto; } 
.kyc .tableWrap td .checkBox > input + label { margin-bottom: 10px; color: #333; font-size: 15px; } 
.kyc .tableWrap td .checkBox:last-of-type > input + label { margin-bottom: 0; } 
.kyc .tableWrap thead tr { border-top: 2px solid #333; } 
.kyc .tableWrap tbody tr { border-bottom: 1px solid #CBCBCB; } 
.kyc .tableWrap tbody tr.disabled td:not(:first-of-type) { font-weight: 400; } 
.kyc .tableWrap .radioGroup { display: flex; align-items: center; justify-content: center; } 
.kyc .tableWrap .radioGroup input { margin-right: 5px; } 
.kyc .tableWrap .btnWrap { margin-bottom: 20px; } 
.kyc .tableWrap .btnWrap .btn { margin-right: 0; } 
.kyc .tableWrap table button { padding: 15px 0; background-color: #fff; border: 1px solid #3e3e3e; color: #3E3E3E; border-radius: 5px; cursor: pointer; white-space: nowrap; width: 98px; min-width: 98px; max-width: 98px; max-height: 48px; } 
.kyc .tableWrap table button.btnDown { padding: 0; max-height: 38px; height: 38px; font-size: 14px; font-weight: 500; } 
.kyc .tableWrap .type2 td .checkBox { width: auto; margin-bottom: 10px; } 
.kyc .tableWrap .type2 td .checkBox:last-of-type { margin-bottom: 0; } 
.kyc .tableWrap .type2 td .checkBox label { margin-bottom: 0; } 
.kyc .tableWrap .type2 td .checkBox > input + label { text-align: left; } 
.kyc .tableWrap .type2 td input + label, .kyc .tableWrap .type2 td label { font-weight: 400; } 
.kyc .tableWrap .type2 td label .guideList { margin-top: 10px; } 
.kyc .tableWrap .type2 tbody td:first-of-type { text-align: left; } 
.kyc .tableWrap.type4 th { border-right: 1px solid #cbcbcb; height: 48px; } 
.kyc .tableWrap.type4 th:last-of-type { border-right: 0; } 
.kyc .tableWrap.type4 td .checkBox { position: relative; width: auto; height: auto; margin: 0; } 
.kyc .tableWrap.type4 .checkBox > input + label::before { left: 50%; transform: translateX(-50%); } 
.kyc .tableWrap.type4 .checkBox.left > input + label::before { left: 0; transform: none; } 
.kyc .tableWrap.type4 .checkBox.left + .left { margin-left: 10px; } 
.kyc .tableWrap.tableCenter table th:nth-of-type(2) { width: 60px; } 
.kyc .modal .tableWrap.tableCenter table th:nth-of-type(2) { width: auto; } 
.kyc .tableWrap.tableCenter table td:nth-of-type(3) { width: 60px; } 
.kyc .tableWrap.tableCenter table td.alignRight { text-align: right; } 
.kyc .tableWrap.type4 .checkBox > input + label { font-size: 13px; font-weight: 400; line-height: 18px; letter-spacing: -0.02em; text-align: center; padding-left: 22px; padding-right: 0; } 
.kyc .tableWrap.type4 td .checkBox > input + label { margin-bottom: 0; } 
.kyc .tableWrap.type4 td span { margin: 0 5px; } 
.kyc .tableWrap.type4.tableCenter table td { font-weight: 400; } 
.kyc .tableWrap.type4.tableCenter .checkBox > input + label::before { left: 0; transform: none; } 
.kyc .tableWrap.type4.tableCenter .checkBox + .checkBox { margin-left: 5px; } 

.kyc .tableWrap.type4 .checkBox > input + label::before { width: 18px; height: 18px; } 
.kyc .tableWrap.type5 .checkBox.checkBoxText { margin-right: 10px; } 
.kyc .tableWrap.type5 .checkBox.checkBoxText:last-of-type { margin-right: 0; } 
.kyc .tableWrap.type5 .checkBox.checkBoxText > input + label::before { transform: translateX(-22px); left: 50%; } 
.kyc .tableWrap.type5 .dFlex + .dFlex { margin-top: 10px; } 
.kyc .tableWrap.type6 th, .kyc .tableWrap.type6 td { font-weight: 400; } 
.kyc .tableWrap.tableCenter.type6 table td { font-weight: 400; } 
.kyc .checkBox.box > input + label::before { background: url(../images/kyc/common/checkbox-off.svg) no-repeat center / contain; } 
.kyc .checkBox.box > input:checked + label::before { background: url(../images/kyc/common/checkbox-on.svg) no-repeat center / contain; } 
.kyc .checkBox.box > input:checked + label { font-weight: 600; } 
/* 테이블 */

/* 모달 */
.kyc .modal { display: none; /* 기본적으로 보이지 않음 */
position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */ } 
.kyc .modal.modal-prompt .modal-content { width: 400px; padding: 0; } 
.kyc .modal-content { background-color: #fff; margin: 0 auto; padding: 0 20px; border: 1px solid #888; width: 500px; max-height: 790px; overflow: hidden; border-radius: 10px; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.kyc .modalMd .modal-content { width: 600px; min-height: 600px; } 
.kyc .modalWide .modal-content { width: 800px; min-height: 400px; } 
.kyc .modalWide.modalFullHeight .modal-content { width: 840px; max-height: 898px; overflow-y: scroll; } 
.kyc .modalWide.modalFullHeight .guideList li { padding-left: 15px; } 
.kyc .modalWide.modalFullHeight .guideList li::before { font-size: 16px; } 
.kyc .modalMd.modalAddress .modal-content { min-height: inherit; height: auto; } 

.kyc .close { position: absolute; right: 20px; top: 10px; font-size: 24px; cursor: pointer; } 
.kyc .modal h2 { font-family: Pretendard; font-size: 18px; font-weight: 700; line-height: 58px; text-align: center; color: #000; margin-bottom: 10px; } 
.kyc .modal h3, .kyc .modal .title { font-family: Pretendard; font-size: 15px; font-weight: 700; line-height: 17.9px; text-align: center; color: #000; margin-bottom: 14px; } 
.kyc .modal .termsTitle { font-family: Pretendard; font-size: 14px; font-weight: 600; line-height: 22px; text-align: left; color: #333; margin-bottom: 10px; } 
.kyc .modal .termsText { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 22px; text-align: left; color: #666; margin-bottom: 56px; } 
.kyc .modal .termsText + .title { margin-top: -40px; } 
.kyc .modal .guideWrap .guideList li { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.04em; text-align: left; } 
.kyc .modal .guideWrap { padding: 10px; margin-bottom: 20px; } 
.kyc .modal .guideWrap.pd20 { padding: 20px; } 
.kyc .modal .formContainer { padding: 0 0 20px; } 
.kyc .modal .formContainer:last-of-type { padding-bottom: 0; } 
.kyc .modal .radioWrap + .btnWrap { margin-top: -20px; } 
.kyc .modal .btnWrap { margin-bottom: 30px; } 
.kyc .modal .btnWrap:last-child { margin-top: 20px; margin-bottom: 20px; } 
.kyc .modal .formGroup { height: 48px; margin-bottom: 14px; } 
/* .kyc .modal .formGroup + .formGroup { margin-top: -14px; } */
.kyc .modal .formGroup.col-4 { height: auto; padding-left: 20px; } 
.kyc .modal .formGroup:last-of-type { margin-bottom: 0; } 
.kyc .modal .formGroup input:read-only { background-color: #F5F5F7; } 
.kyc .modal .checkBox > input + label { margin-bottom: 0; } 
.kyc .modal .formGroup .checkBox input:read-only { background-color: transparent; } 
.kyc .modal .formGroup .checkBox { width: 17%; } 
.kyc .modal .formGroup .checkBox { width: auto; } 
.kyc .modal .formGroup .checkBox.full-width { width: 100%; margin-left: 0; } 
.kyc .modal .formGroup .checkBox label { width: auto; min-width: auto; white-space: nowrap; font-weight: 400; } 
.kyc .modal .infoTitle { position: relative; font-family: Pretendard; font-size: 17px; font-weight: 700; line-height: 20px; text-align: left; color: #000; margin-bottom: 16px; padding-left: 20px; } 
.kyc .modal .infoTitle::before { content: '・'; position: absolute; font-size: 24px; left: 0; } 
.kyc .modal .noBullet .infoTitle { padding-left: 0; } 
.kyc .modal .noBullet .infoTitle::before { display: none; } 
/* //모달 */
#birthDate { width: 100%; min-width: 332px; max-width: 332px; height: 48px; max-height: 48px; padding: 10px; font-size: 15px; line-height: 15px; border: 1px solid #dadada; border-radius: 4px; margin-bottom: 0; } 
.kyc .ownerCheckWrap .formWrap .radioWrap { margin-bottom: 0; } 
/* //kyc 공통 */

/* 개인 */
/* //개인 */

/* 법인 */
.kyc .repTypeWrap { display: flex; flex-wrap: wrap; align-items: center; padding: 20px; border: 1px solid #DADADA; border-radius: 10px; margin-bottom: 40px; } 
.kyc .repTypeWrap .guideList { margin-top: 10px; } 
.kyc .repTypeWrap .title { font-size: 15px; font-weight: 500; line-height: 1; text-align: left; margin-bottom: 0; } 
.kyc .repTypeWrap .title span { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 22px; text-align: left; color: #666; } 
.kyc .repTypeWrap .title span.accordionBtn { cursor: pointer; text-decoration: underline; } 
.kyc .repTypeWrap .btn { min-width: 98px; max-width: inherit; padding: 13px 10px; } 
.kyc .repTypeWrap .moreViewWrap { flex-basis: 100%; /* 전체 너비를 차지하게 함 */
margin-top: 20px; /* 위의 요소와 간격을 줌 */ } 
.kyc .repTypeWrap .moreViewWrap.tableWrap { display: none; width: 100%; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap table { table-layout: fixed; min-width: auto; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap th { color: #000; border-right: 1px solid #CBCBCB; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap th:last-of-type { border-right: 0; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap td { width: 100px; border-right: 1px solid #CBCBCB; color: #000; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap td:last-of-type { border-right: 0; text-align: left; } 
.kyc .repTypeWrap .moreViewWrap.tableWrap .guideList li { color: #000; } 

.kyc .ownerCheckWrap { display: flex; align-items: center; flex-direction: column; padding: 40px; border: 1px solid #DADADA; border-radius: 10px; margin-bottom: 40px; display: none; } 
.kyc .ownerCheckWrap .line { width: 100%; height: 1px; background: #E3E3E7; margin: 40px 0; } 
.kyc .ownerCheckWrap .title { font-family: Pretendard; font-size: 22px; font-weight: 700; line-height: 22px; text-align: center; color: #000; } 
.kyc .ownerCheckWrap .formWrap, .kyc .ownerCheckWrap .form-group { width: 100%; } 
.kyc .ownerCheckWrap .formWrap.center { width: 520px; margin: 0 auto; } 
.kyc .ownerCheckWrap .formWrap { display: flex; flex-wrap: wrap; gap: 20px 28px; /* form-group 간의 간격 */
padding: 20px 0; } 
.kyc .ownerCheckWrap .formWrap .form-group { flex: 1 1 calc(50% - 20px); /* 한 줄에 2개씩 배치되게 설정 */
display: flex; align-items: center; justify-content: space-between; } 
.kyc .ownerCheckWrap .formWrap .form-group.full-width { flex: 100%; justify-content: start; } 
.kyc .ownerCheckWrap .formWrap .form-group label { white-space: nowrap; margin-bottom: 0; width: 126px; } 
.kyc .ownerCheckWrap .formWrap .form-group input[type="text"] { max-width: 332px; margin-bottom: 0; } 
.kyc .ownerCheckWrap .guideList li { position: relative; font-family: Pretendard; font-size: 15px; font-weight: 400; line-height: 20px; text-align: left; color: #666; margin-bottom: 10px; padding-left: 20px; } 
.kyc .ownerCheckWrap .guideList li::before { content: '・'; position: absolute; font-size: 24px; left: 0; } 
.kyc .ownerCheckWrap .midText { font-family: Pretendard; font-size: 18px; font-weight: 400; line-height: 36px; text-align: center; color: #000; margin: 0; } 
.kyc .ownerCheckWrap .midText strong { font-weight: 600; text-decoration: underline; } 
.kyc .ownerCheckWrap .nameType { font-family: Pretendard; font-size: 17px; font-weight: 600; line-height: 20.29px; text-align: center; color: #000; margin-bottom: 20px; } 
.kyc .ownerCheckWrap .nameTitle { font-family: Pretendard; font-size: 20px; font-weight: 600; line-height: 23.87px; text-align: center; color: #000; } 
/* //법인 */

/* 계약서 */
.kyc.agreement .content .title { margin-bottom: 20px; } 
.kyc.agreement .content .agreeText { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 16.71px; text-align: left; color: #222; margin-bottom: 50px; display: none; } 
.kyc.agreement .content .agreeText.active { display: block; } 
/* .kyc.agreement .content .agreeText .box { margin-bottom: 20px; } */
.kyc.agreement .content .agreeText .box p { margin-bottom: 5px; } 
.kyc.agreement .checkBox > input + label { font-size: 16px; line-height: 18px; padding-left: 28px; margin: 0; } 
.kyc.agreement .checkBox > input + label::before { width: 18px; height: 18px; } 
.kyc.agreement table .checkBox > input + label { font-size: 14px; } 
.kyc.agreement .tableWrap td .checkBox > input + label { margin-bottom: 0; } 

.kyc .colWrap { display: flex; justify-content: center; align-items: center; } 

.kyc .agreementPage .agreementPageTitle { font-family: Pretendard; font-size: 18px; font-weight: 600; line-height: 21.48px; text-align: center; color: #000; margin-bottom: 20px; } 
.kyc .agreementPage .agreementPage2Col { display: flex; justify-content: space-around; gap: 0 10px; } 
.kyc .agreementPage .companyName { font-family: Pretendard; font-size: 12px; font-weight: 700; line-height: 9.55px; text-align: left; color: #000; text-decoration: underline; } 
.kyc .agreementPage .paraTitle { font-family: Pretendard; font-size: 8px; font-weight: 700; line-height: 9.55px; text-align: left; color: #000; } 
.kyc .agreementPage .agreementPage2Col > div { width: 50%; font-family: Pretendard; font-size: 12px; font-weight: 400; line-height: 14px; text-align: left; color: #000; } 
.kyc .agreementPage .agreementPage2Col > div > p { margin-bottom: 10px; } 
.kyc .agreementPage .agreementPage2Col > div > p:last-of-type { margin-bottom: 0; } 
.kyc.agreement .content .agreeText .paraTitle { font-family: Pretendard; font-size: 14px; font-weight: 7400; line-height: 16.71px; text-align: left; color: #222; margin-bottom: 10px; } 
.kyc.agreement .content .agreeText .paraTitle + p { font-family: Pretendard; font-size: 14px; font-weight: 400; line-height: 16.71px; text-align: left; color: #222; } 
.kyc .agreementPage .agreementPage2Col .tableWrap table { min-width: auto; } 
.kyc.agreement .agreementPage .companyName { font-size: 14px; } 
.kyc.agreement .tableWrap th { height: auto; } 
.kyc.agreement .agreementPage2Col { width: 100%; display: flex; justify-content: start; } 
.kyc.agreement .agreementPage2Col .left, .kyc.agreement .agreementPage2Col .right { flex: 1; min-width: 300px; } 
.kyc.agreement .agreementPage2Col > div { column-count: 2; column-gap: 40px; width: 100%; } 
.kyc.agreement .tableWrap.tableWrapTopBorder0 td { border-right: 1px solid #cbcbcb; } 
.kyc.agreement .tableWrap.tableWrapTopBorder0 thead th:last-of-type, .kyc.agreement .tableWrap.tableWrapTopBorder0 td:last-of-type { border-right: 0; } 
.kyc.agreement .tableWrap.tableWrapTopBorder0 td[rowspan]:last-of-type { border-left: 1px solid #cbcbcb; } 
.kyc.agreement .tableWrap table tr { border-bottom: 1px solid #cbcbcb; } 
.kyc.agreement .tableWrap.tableWrapTopBorder0 table tbody tr:first-of-type { border-top: 1px solid #cbcbcb; } 
.kyc .tableWrap.tableWrapTopBorder0 .title { margin-bottom: 10px; } 
.kyc .tableWrap.tableWrapTopBorder0 .noti-list .noti-list { padding-left: 12px; } 
/* .kyc.agreement .tableWrap.tableWrapTopBorder0 .listWrap { margin-bottom: 20px; } */
.kyc .tableWrap.tableWrapTopBorder0 .listWrap { margin-bottom: 20px; } 
.kyc.agreement .tableWrap .seal { display: flex; align-items: center; justify-content: flex-end; margin-top: 20px; gap: 10px; font-size: 14px; } 
.kyc.agreement .tableWrap .seal { font-family: Pretendard; font-weight: 400; text-align: center; color: #000; } 
.kyc.agreement .tableWrap .noti-list { margin-top: 10px; font-family: Pretendard; font-weight: 400; text-align: left; } 
.kyc.agreement table td .title { font-family: Pretendard; font-weight: 600; text-align: left; } 
.kyc.agreement .content table .title { margin-bottom: 0; } 
.kyc.agreement .tableWrap table th { background-color: #F5F5F7; padding: 9px 10px; border: 0; text-align: center; color: #000000; border-left: 1px solid #cbcbcb; border-right: 1px solid #cbcbcb; height: auto; } 
.kyc.agreement .tableWrap table th:first-of-type { border-left: 0; } 
.kyc.agreement .tableWrap table { border-top: 1px solid #000; border-bottom: 1px solid #000; } 
.kyc.agreement .colWrap .checkBox + .checkBox { margin-left: 10px; } 
.kyc.agreement .content .title + .tableWrap { margin-top: 0; } 
/* 계약서 */

/* */
.kyc .agreementPage { height: 100%; } 
.kyc .agreementPage .agreementPageTitle { font-family: Pretendard; font-size: 18px; font-weight: 600; line-height: 21.48px; text-align: center; color: #000; margin-bottom: 20px; } 
.kyc .agreementPage .agreementPageSubTitle { font-family: Pretendard; font-size: 10px; font-weight: 600; line-height: 11.93px; text-align: left; } 

.kyc .agreementPage .agreementPage1Col { font-family: Pretendard; font-size: 8px; font-weight: 400; line-height: 14px; text-align: left; color: #000; } 
.kyc .agreementPage .agreementPage1Col .companyName { font-family: Pretendard; font-size: 8px; font-weight: 700; line-height: 9.55px; text-align: left; color: #000; text-decoration: underline; } 
.kyc .agreementPage .agreementPage2Col { width: 100%; display: flex; justify-content: start; } 
.kyc .agreementPage .agreementPage2Col > div { column-count: 2; /* 두 개의 열로 나눔 */
column-gap: 40px; /* 열 사이의 간격 */
width: 100%; /* 콘텐츠가 100% 너비를 차지 */ } 
.kyc .agreementPage .agreementPage2Col .left, .kyc .agreementPage .agreementPage2Col .right { flex: 1; /* 양쪽을 동일하게 차지 */
min-width: 300px; /* 최소 너비를 설정하여 너무 작아지지 않도록 방지 */ } 
.kyc .agreementPage .companyName { font-family: Pretendard; font-size: 8px; font-weight: 700; line-height: 9.55px; text-align: left; color: #000; text-decoration: underline; } 
.kyc .agreementPage .paraTitle { font-family: Pretendard; font-size: 8px; font-weight: 700; line-height: 9.55px; text-align: left; color: #000; margin-bottom: 4px; } 
.kyc .agreementPage .paraTitle + .noti-list { margin-top: 0; } 
.kyc .agreementPage .agreementPage2Col > div { width: 100%; font-family: Pretendard; font-size: 12px; font-weight: 400; line-height: 14px; text-align: left; color: #000; } 
.kyc .agreementPage .agreementPage2Col > div > p { margin-bottom: 10px; font-size: 8px; } 
.kyc .agreementPage .agreementPage2Col > div > p:last-of-type { margin-bottom: 0; } 
.kyc .accountContainer .btn + .btn { margin-left: -5px; } 
.kyc .modal .noti-list-wrap { margin-bottom: 20px; } 

.kyc .content .tableWrap .title { font-family: Pretendard; font-size: 14px; font-weight: 600; line-height: 22px; text-align: left; } 
/* */

.kyc .addressResultWrap { font-family: Noto Sans KR; font-size: 15px; font-weight: 400; line-height: 21.72px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #666; } 
.kyc .addressResultWrap .noResult { padding: 73px 0 93px; } 
.kyc .addressResultWrap .addressTable { width: 100%; } 
.kyc .modal.modalAddress table tr:last-of-type { border-bottom: 1px solid #DADADA; } 
.kyc .addressResultWrap .addressResultContainer { text-align: left; } 
.kyc .addressResultWrap table th { border: 0; text-align: center; } 
.kyc .addressResultWrap table td { text-align: center; } 
.kyc .addressResultWrap table td:first-of-type { font-weight: 700; } 
.kyc .addressResultWrap .pagination { text-align: center; margin: 14px 0 20px; } 
.kyc .addressResultWrap .pagination .page-btn { background-color: transparent; font-size: 15px; font-weight: 400; line-height: 24px; color: #929292; line-height: 40px; padding: 0 20px; } 
.kyc .addressResultWrap .pagination .page-btn.active { color: #000; font-weight: 700; } 
.kyc .addressResultWrap .header { font-size: 15px; font-weight: 400; line-height: 21.72px; text-align: left; color: #666; margin-bottom: 14px; } 
.kyc .addressResultWrap .header strong { color: #000; } 
.kyc .modalAddress .formGroup input { max-width: calc(100% - 126px); } 
.kyc .modalAddress .pagination .left,
.kyc .modalAddress .pagination .right { width: 40px; height: 40px; background: url('../images/custom/krc/arrow-left.svg') no-repeat center /9px; } 
.kyc .addressResultWrap .pagination .page-btn.right { transform: rotateY(180deg); } 

.kyc .notiTextWrap { margin-bottom: 40px; } 
.kyc .notiTextWrap p { font-family: Pretendard; font-size: 15px; font-weight: 400; line-height: 27px; text-align: center; color: #222; } 
.kyc.comp .content { padding-top: 180px; } 

.kyc #commonAlert .modal-body,
.kyc #commonPrompt .modal-body { font-family: Roboto, "Noto Sans KR"; } 
.kyc #commonAlert .modal-body h3:empty + p,
.kyc #commonPrompt .modal-body h3:empty + p { font-size: 16px; color: #222; letter-spacing: -0.04em; } 

.kyc .modal-content .modal-body .title { font-family: Pretendard; font-size: 18px; font-weight: 700; line-height: 21.48px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #000; } 
.kyc .modal-content .modal-body .sub { font-family: Pretendard; font-size: 15px; font-weight: 400; line-height: 17.9px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #000; } 
.kyc .modal-footer { text-align: center; padding-bottom: 20px; } 
.kyc .modal-footer .btn { font-family: Pretendard; font-size: 15px; font-weight: 700; line-height: 17.9px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #fff; width: 140px; height: 48px; background-color: #3E3E3E; border: 0; } 
.kyc .modal-footer .btn.btnGray { background-color: #3E3E3E; } 
.kyc .modal-footer .btn.btnOrange { background-color: #FF6114; } 

.kyc .modal.modal-alert .modal-body { padding: 30px 24px 40px; } 
.kyc .modal.modal-alert .modal-content { width: 400px; } 
.kyc .modal.modal-alert h3, .kyc .modal.modal-alert .title { font-family: Pretendard; font-weight: 700; font-size: 18px; line-height: 100%; letter-spacing: 0%; text-align: center; } 
.kyc .modal.modal-alert #alertContents { font-family: Pretendard; font-weight: 400; font-size: 15px; line-height: 22px; letter-spacing: 0%; text-align: center; color: #000; margin-top: 4px; } 

.botText { margin-top: 20px; font-family: Pretendard; font-size: 17px; font-weight: 600; line-height: 20.29px; letter-spacing: -0.02em; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #000; } 

.botText > p > span { font-weight: 400; } 
.botSignWrap { display: flex; justify-content: space-between; align-items: flex-start; padding: 20px; gap: 40px; width: 100%; max-width: 800px; margin: 0 auto; margin-top: 60px; } 
.botSignWrap h3 { font-family: Pretendard; font-size: 16px; font-weight: 600; line-height: 19.09px; letter-spacing: -0.02em; } 
.botSignWrap.center { justify-content: center; } 
.botSignWrap.center .company { width: auto; } 
.botSignWrap.center .company > p { justify-content: start; } 
.botSignWrap.center .company > p > strong { width: 100px; } 
.botSignWrap.center .company > p span { text-align: left; } 
.botSignWrap.center .seal { margin-top: 0; align-items: end; } 

.botSignWrap .company { width: 45%; text-align: center; font-family: Pretendard; font-size: 16px; font-weight: 600; line-height: 19.09px; letter-spacing: -0.02em; text-align: left; color: #000; } 

.botSignWrap .seal { margin-top: -10px; display: flex; flex-direction: column; align-items: end; color: #000; } 

.botSignWrap .seal p { font-family: Pretendard; font-size: 12px; font-weight: 400; line-height: 14.32px; text-align: center; margin-bottom: 10px; color: #5C5C5C; } 

.botSignWrap .seal img { width: 70px; height: auto; margin-bottom: 3px; } 
.botSignWrap .company h3 { margin-bottom: 12.9px; } 
.botSignWrap .company > p { display: flex; flex-direction: row; justify-content: start; margin-bottom: 10px; } 
.botSignWrap .company > p:last-of-type { margin-bottom: 0; } 
.botSignWrap .company > p > strong { width: 60px; margin-right: 10px; text-align: left; font-weight: 400; } 

.footerWrap { background-color: #f6f6f6; } 
.footerWrap .footerInfo { font-family: 'Pretendard', sans-serif; font-size: 12px; color: #333; line-height: 1.6; padding: 50px 0; } 

.footerWrap .footerInfo strong { display: block; font-weight: 700; margin-right: 4px; } 

.footerWrap .footerInfo .companyName { font-family: Pretendard; font-weight: 700; font-size: 17px; line-height: 100%; letter-spacing: 0%; color: #000; margin-bottom: 20px; } 
.footerWrap .footerInfo .contact { margin-top: 20px; display: flex; flex-wrap: wrap; gap: 20px; color: #111; } 

.footerWrap .footerInfo .contact span { display: flex; font-family: Pretendard; font-size: 13px; line-height: 100%; letter-spacing: 0%; color: #333; } 

.footerWrap .footerInfo .contact a { color: #333; text-decoration: none; } 