@charset "UTF-8";
@import url(./fonts/pretendard/pretendard-subset.min.css);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
/* .page {
width: 21cm;
min-height: 29.7cm;
padding: 2cm;
margin: 0 auto;
} */
@page {
size: A4;
margin: 0;
}
@media print {
html, body {
    width: 210mm;
    height: 297mm;
}
}
html {
  height: 100%;
  -ms-touch-action: none;
}
body,
p,
ul,
menu,
ol,
li,
dl,
dt,
dd,
form,
table,
th,
td,
fieldset,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
address,
i,
svg {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #575757;
  word-break: keep-all;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
img {
  vertical-align: top;
  -ms-interpolation-mode: bicubic; /* ie 이미지 계단 현상 해결 */
}
img,
video,
audio,
object,
embed,
iframe {
  max-width: 100%;
}
caption,
legend {
  width: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul,
ol,
menu {
  list-style: none;
}
a {
  color: #575757;
  text-decoration: none;
  cursor: pointer;
}
address,
em,
i {
  font-style: normal;
}
del {
  text-decoration: none;
}
button {
  overflow: hidden;
  border: 0;
  background: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-weight: 700;
  line-height: 1.2;
}
pre {
  word-break: break-all;
  white-space: pre-line;
}
strong {
  font-weight: 700;
}
/*:focus { outline: 0; } */
/* font family */
body,
table,
label,
select,
textarea,
button,
input {
  font-family: "Pretendard", "Malgun Gothic", "Dotum", "Apple SD Gothic Neo",
    sans-serif !important;
}
body {
  padding: 10px 26px 26px;
}
.mt-10 {
  margin-top: -10px;
}
.mt22 {
  margin-top: 22px;
}
.logo-wrap {
  position: relative;
  line-height: 12px;
  margin-bottom: 3px;
}
.logo-wrap .float-text {
  position: absolute;
  right: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  color: #000;
}
.logo {
  width: auto;
  height: 12px;
}
.wrap {
  position: relative;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  border: 2px solid #000;
  padding: 30px 0;
}
.container {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: inherit;
}
.mtAuto {
    margin-top: auto;
}
.alignCenter {
    text-align: center;
}
.botText {
    margin-top: 10px;
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.55px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
}
.botText .alignCenter {
    font-family: Pretendard;
    font-size: 9px;
    font-weight: 600;
    line-height: 10.74px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}
.botText .alignCenter span {
    font-weight: 400;
}
.table {
  font-size: 9px;
  font-weight: 700;
  border-collapse: collapse;
}
.table table {
  width: 100%;
}
.table th {
  background-color: #ececec;
  line-height: 40px;
  border: 1px solid #000;
}
.table td {
  background-color: #fff;
  line-height: 40px;
  border: 1px solid #000;
}
.table.col th {
  width: 102px;
}
.table.col td {
  width: auto;
  text-align: center;
  color: #ff0000;
}
.table.row th,
.table.row td {
  line-height: 30px;
  min-height: 30px;
}
.table.row td {
  text-align: center;
  color: #ff0000;
}
.table.result th,
.table.result td {
  font-size: 10px;
  line-height: 30px;
}
.table.result th {
  width: 110px;
}
.table.result td {
  letter-spacing: 5px;
}

.noti-list {
margin-top: 10px;
font-family: Pretendard;
font-size: 8px;
font-weight: 400;
line-height: 14px;
text-align: left;
}

.noti-list li {
position: relative;
color: #000;
font-size: 8px;
font-weight: 400;
line-height: 14px;
}
.noti-list ul li {
    padding-left: 10px;
}
.noti-list ul li p + .noti-list {
    margin-top: 0;
}
.alert-text {
  margin-top: 3px;
  font-size: 9px;
  font-weight: 500;
  line-height: 14px;
  color: #7f7f7f;
}

.bottom-center-text {
  margin-top: 9px;
  font-size: 9px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.bottom-center-text2 {
  margin-top: 36px;
  font-size: 12px;
  font-weight: 700;
}

.center-wrap {
  margin: 0 auto;
  text-align: center;
}

.company-wrap {
  width: 310px;
  margin: 48px auto 0;
  text-align: left;
}

.company-wrap .company {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  vertical-align: middle;
  margin-left: 67px;
}
.company-wrap .logo {
  display: inline-block;
  width: auto;
  height: 54px;
  vertical-align: middle;
}
.company-wrap .logo img {
  width: auto;
  height: 100%;
}

.date-wrap {
  width: 310px;
  margin: 5px auto 0;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.date-wrap p {
  display: inline-block;
  margin-left: 67px;
}

.date-wrap span {
  color: #ff0000;
}
.date-wrap span.text {
  color: #000;
  margin-left: 4px;
  margin-right: 11px;
}

.bottom-wrap {
    font-size: 8px;
    color: #000;
    font-family: Pretendard;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
}

.bottom-wrap .left {
  position: absolute;
  bottom: 0;
  left: 26px;
}

.bottom-wrap .right {
  position: absolute;
  bottom: 0;
  right: 26px;
}

.confirm h1 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 1.8px;
  margin-top: 10px;
}

.des-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.4px;
  margin-top: 40px;
}
.des-list dt {
  display: inline-block;
  width: 25%;
}
.des-list dd {
  display: inline-block;
  width: 74%;
}

.confirm-text {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 28px;
  letter-spacing: 0.35px;
}

.confirm .center-wrap .date-wrap {
  width: 310px;
  margin: 108px auto 0;
  text-align: left;
  font-size: 14px;
}
.confirm .date-wrap span {
  color: #000;
}
.confirm .company-wrap .company {
  margin-left: 45px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1.8px;
}

.kyc .agreementPage { height: 100%; }
.kyc .agreementPage .agreementPageTitle {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.48px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.kyc .agreementPage .agreementPageSubTitle {
    font-family: Pretendard;
    font-size: 10px;
    font-weight: 600;
    line-height: 11.93px;
    text-align: left;
}

.kyc .agreementPage .agreementPage1Col { 
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #000;
}
.kyc .agreementPage .agreementPage1Col .companyName {
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 700;
    line-height: 9.55px;
    text-align: left;
    color: #000;
    text-decoration: underline;
}
.kyc .agreementPage .agreementPage2Col { 
    width: 100%; /* 전체 너비 */
    display: flex; /* flexbox를 활용하여 레이아웃 관리 */
    justify-content: start; /* 왼쪽부터 채우기 */
}
.kyc .agreementPage .agreementPage2Col > div {
    column-count: 2; /* 두 개의 열로 나눔 */
    column-gap: 40px; /* 열 사이의 간격 */
    width: 100%; /* 콘텐츠가 100% 너비를 차지 */
}
.kyc .agreementPage .agreementPage2Col.type2 > div {
  column-count: 1; /* 두 개의 열로 나눔 */
}
.kyc .agreementPage .agreementPage2Col .left, .kyc .agreementPage .agreementPage2Col .right {
    flex: 1; /* 양쪽을 동일하게 차지 */
    min-width: 300px; /* 최소 너비를 설정하여 너무 작아지지 않도록 방지 */
}
.kyc .agreementPage .companyName {
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 700;
    line-height: 9.55px;
    text-align: left;
    color: #000;
    text-decoration: underline;
}
.kyc .agreementPage .paraTitle {
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 700;
    line-height: 9.55px;
    text-align: left;
    color: #000;
    margin-bottom: 4px;
}
.kyc .agreementPage .paraTitle + .noti-list {
    margin-top: 0;
}
.kyc .agreementPage .agreementPage2Col > div { 
    width: 100%;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #000;
 }
 .kyc .agreementPage .agreementPage2Col > div > p {
    margin-bottom: 10px;
    font-size: 8px;
 }
 .kyc .agreementPage .agreementPage2Col > div > p:last-of-type {
    margin-bottom: 0;
 }
.kyc .agreementPage .agreementPage2Col .left {}
.kyc .agreementPage .agreementPage2Col .right {}

.botSignWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.botSignWrap.center {
  justify-content: center;
}
.botSignWrap.center .company {
  width: auto;
}
.botSignWrap.center .company > p {
  justify-content: start;
}
.botSignWrap.center .company > p > strong {
  width: 100px;
}
.botSignWrap.center .company > p span {
  text-align: left;
}
.botSignWrap.center .seal {
  margin-top: 0;
  align-items: end;
}

.botSignWrap .company {
    width: 45%;
    text-align: center;
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 600;
    line-height: 9.55px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
}

.botSignWrap .seal {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.botSignWrap .seal span {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}

.botSignWrap .seal img {
    width: 40px; /* 도장 이미지 크기 */
    height: auto;
    margin-bottom: 3px;
}
.botSignWrap .company h3 {
    margin-bottom: 12.9px;
}
.botSignWrap .company > p {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}
.botSignWrap .company > p:last-of-type {
    margin-bottom: 0;
}
.botSignWrap .company > p > strong {
    width: 28px;
    margin-right: 10px;
    text-align: left;
}

.kyc .agreementPage {
    font-family: Pretendard;
    font-size: 9px;
    font-weight: 700;
    line-height: 10.74px;
    text-align: left;
    color: #000;
}
.kyc .agreementPage .title {
    font-family: Pretendard;
    font-size: 9px;
    font-weight: 700;
    line-height: 10.74px;
    text-align: left;
    color: #000;
}
.kyc .agreementPage .title + .tableWrap {
    margin-top: 6px;
}
.kyc .agreementPage .tableWrap + div > .title {
    margin-top: 20px;
}

/* 테이블 */
.kyc .tableWrap table { border: 0; border-top: 1px solid #000; border-bottom: 1px solid #000;font-family: Pretendard;
    font-size: 8px;
    font-weight: 600;
    line-height: 9.55px;
    text-align: center;
     }
     .kyc .tableWrap table + .subTitle {
        margin-top: -6px;
        margin-bottom: 12px;
        font-family: Pretendard;
        font-size: 8px;
        font-weight: 400;
        line-height: 9.55px;
        text-align: left;
        color: #000;
     }
.kyc .tableWrap table tr { border-bottom: 1px solid #cbcbcb; }
.kyc .tableWrap.tableWrapTopBorder0 thead tr { border-top: 0; }
.kyc .tableWrap.tableWrapTopBorder0 table tbody tr:first-of-type { border-top: 1px solid #cbcbcb; }
.kyc .tableWrap.tableWrapTopBorder0.tableWrapTopBorder1 tbody tr:first-of-type { border-top: 1px solid #000; }
.kyc .tableWrap.tableWrapTopBorder0 th, .kyc .tableWrap.tableWrapTopBorder0 td { text-align: center; }
.kyc .tableWrap.tableWrapTopBorder0 td { border-right: 1px solid #cbcbcb; }
.kyc .tableWrap.tableWrapTopBorder0 thead th:last-of-type, .kyc .tableWrap.tableWrapTopBorder0 td:last-of-type { border-right: 0; }
.kyc .tableWrap.tableWrapTopBorder0 td[rowspan]:last-of-type { border-left: 1px solid #cbcbcb; }
.kyc .tableWrap.tableWrapTopBorder0 td:first-of-type { border-left: 0; }
.kyc .tableWrap table tr:last-of-type { border-bottom: 0; }
.kyc .tableWrap table th {  background-color: #F5F5F7; padding: 9px 10px; border: 0; text-align: left; color: #000000; border-left: 1px solid #cbcbcb; border-right: 1px solid #cbcbcb; height: auto;  }
.kyc .tableWrap table th:first-of-type { border-left: 0;}
.kyc .tableWrap table td { background-color: #fff; padding: 9px 10px; border: 0; text-align: left; color: #333; }
.kyc .tableWrap table a { text-decoration: underline; color: #1E8AFF; }
.kyc .tableWrap table { table-layout: fixed; min-width: auto; }
.kyc .tableWrap.type3 .modal-content { width: 840px; }
.kyc .tableWrap.type3 td { border-right: 1px solid #CBCBCB; }
.kyc .tableWrap.type3 td:first-of-type { width: 100px; }
.kyc .tableWrap.type3 td:nth-of-type(3), .kyc .tableWrap.type3 td:nth-of-type(4) { width: 165px; }
.kyc .tableWrap.type3 td:last-of-type { border-right: 0; }
.kyc .tableWrap + .title { margin-top: -26px; margin-bottom: 10px; }
.kyc .agreementPage .tableWrap td .checkBox > input + label {
    margin-bottom: 0;
    text-align: left;
    width: auto;
}
.kyc .agreementPage .checkBox > input + label {
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-left: 12px;
    padding-right: 0px;
    margin-bottom: 0;
}
.kyc .agreementPage .checkBox > input + label::before {
    width: 9px;
    height: 9px;
}
.kyc .agreementPage .tableWrap td .checkBox {
    margin: 0;
}
.kyc .agreementPage .colWrap {
    justify-content: start;
}
.kyc .agreementPage .colWrap + .colWrap {
  margin-top: 5px;
}
.kyc .agreementPage .tableWrap td .checkBox {
    width: auto;
    min-height: 9px;
}
.kyc .agreementPage .tableWrap td .checkBox + .checkBox {
    margin-left: 5px;
}
.kyc .tableWrap .noti-list + table {
    margin-top: 5px;
}
.kyc .tableWrap .noti-list {
    margin-top: 5px;
}
.kyc .tableWrap td .noti-list {
    margin-top: 0;
}
.kyc .tableWrap .noti-list 
.kyc .tableWrap .noti-list li {
    position: relative;
    padding-left: 5px;
    line-height: 10px;
}

.kyc .tableWrap .noti-list.noneBullet li {
    padding-left: 0;
}
.kyc .tableWrap .noti-list.noneBullet li::before {
    display: none;
}
.kyc .tableWrap .noti-list.numberBullet li {
    padding-left: 10px;
}
.kyc .tableWrap .noti-list.numberBullet li::before {
    top: auto;
    transform: none;
    width: auto;
    height: auto;
    background-color: transparent;
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(1)::before {
    content: '1. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(2)::before {
    content: '2. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(3)::before {
    content: '3. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(4)::before {
    content: '4. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(5)::before {
    content: '5. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(6)::before {
    content: '6. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(7)::before {
    content: '7. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(8)::before {
    content: '8. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(9)::before {
    content: '9. ';
}
.kyc .tableWrap .noti-list.numberBullet li:nth-of-type(10)::before {
    content: '10. ';
}
.kyc .tableWrap tfoot {
    border-top: 1px solid #cbcbcb;
}

.kyc .tableWrap .noti-list li::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: #000;
}
.kyc .agreementPage .tableWrap table {
    margin-bottom: 12px;
}
.kyc .agreementPage .tableWrap.full-width table { width: 100%; }
.kyc .agreementPage .tableWrap table th, .kyc .agreementPage .tableWrap table td {
    padding: 7px 10px;
}
.kyc .agreementPage .addText {
    position: absolute;
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.55px;
    text-align: left;
    color: #000;
    top: 10px;
    left: 10px;
}
.kyc .agreementPage table td .title {
    font-family: Pretendard;
    font-size: 8px;
    font-weight: 600;
    line-height: 9.55px;
    text-align: left;
}
.kyc .agreementPage .tableWrap .listWrap {
    margin-bottom: 10px;
}
.kyc .agreementPage .tableWrap .listWrap:last-of-type {
    margin-bottom: 0;
}
.kyc .agreementPage .tableWrap .seal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
    font-size: 14px;
}

.kyc .agreementPage .tableWrap .seal {
    font-family: Pretendard;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: center;
    color: #000;
}
.kyc .agreementPage .tableWrap .seal .name {
    font-weight: 600;
}

.kyc .agreementPage .tableWrap .seal img {
    width: 30px; /* 도장 이미지 크기 */
    height: auto;
}
.kyc .agreementPage .tableWrap .seal .date {
    font-family: Pretendard;
    font-size: 6.85px;
    font-weight: 400;
    line-height: 8.18px;
    text-align: center;
    color: #5C5C5C;
    margin-top: 2.3px;
}
.kyc .agreementPage .tableWrap tfoot td {
    padding: 5px;
}
.kyc .tableWrap tfoot .noti-list {
    margin-top: 0;
}
/* 테이블 */

.kyc .pdfText {
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  margin: 20px 0;
}
.kyc .pdfText strong {
  font-weight: 700;
  text-decoration: underline;
}