@charset "UTF-8";

/**
* ============================================================
* 네이버페이
* ====================== TABLE OF INDEX ======================
* - #RESET
* - #FORM
* - #CONTENT
* - #UTILITY
* ============================================================
*/


/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; }
html { -ms-touch-action: none; }
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { background-color: #fff; font-family: 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; line-height: 1.5; letter-spacing: -0.03em; color: #303038; word-break: keep-all; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; }
fieldset { border: 0; }
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; }
img, video, audio, object, embed, iframe { max-width: 100%; }
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
ul, ol, menu { list-style: none; }
a { color: #222; text-decoration: none; }
address, em, i { font-style: normal; }
del { text-decoration: none; }
button { overflow: hidden; border: 0; background: none; }
h1, h2, h3, h4, h5, strong, b { font-weight: 700; }
pre { word-break: break-all; white-space: pre-line; }


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none;
	font-family: 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; letter-spacing: -0.03em; vertical-align: top; }
label, input, select, textarea { outline: none; }
label { color: #303038; }
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; }
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], select { display: block; padding: 11px 15px; width: 100%; height: 44px;
	border: 1px solid #C8CACC; border-radius: 4px; font-size: 15px; line-height: 20px; color: #1E1E23; vertical-align: top; }
select { background: transparent url("../images/naverpay/select.svg") no-repeat right 18px center / 10px 6px; text-align: left; }
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly] { background-color: #f6f7f8; color: #bdbdbd; -webkit-text-fill-color: #bdbdbd; opacity: 1; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
select:focus, textarea:focus { padding: 10px 14px; border: 2px solid #303038; }
select:focus { background-position: right 17px center; }

/** for IE **/
button:active { border-style: outset; }
select::-ms-expand { display: none; } /* 화살표 없애기 for IE10, 11 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height: 0; }  /* IE 삭제 버튼(X) 숨기기 for IE10, 11 */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/** placeholder **/
input.placeholder { color: #AAAAAC; }
input::placeholder { color: #AAAAAC; font-weight: 400; height: 20px; line-height: 20px; }
textarea::placeholder { color: #AAAAAC; font-weight: 400; line-height: 21px; }
/* webkit */
input::-webkit-input-placeholder { color: #AAAAAC; font-weight: 400; }
textarea::-webkit-input-placeholder { color: #AAAAAC; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #AAAAAC; font-weight: 400; }
textarea:-moz-placeholder { color: #AAAAAC; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #AAAAAC; font-weight: 400; }
textarea::-moz-placeholder { color: #AAAAAC; font-weight: 400; }
/* IE10+ */
input:-ms-input-placeholder { color: #AAAAAC !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: #AAAAAC !important; font-weight: 400 !important; }

/* ----- checkbox, radio ----- */
.checkbox { position: relative; display: inline-block; vertical-align: top; }
.checkbox input[type="checkbox"], .checkbox>input[type="radio"] { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.checkbox input + label { position: relative; display: block; padding-left: 30px; line-height: 22px; cursor: pointer; background: url('../images/naverpay/checkbox.svg') no-repeat 0 center / 22px; }
.checkbox.circle input + label { padding-left: 22px; background-image: url('../images/naverpay/radio.svg'); background-size: 18px; }
.checkbox input:checked + label { background-image: url('../images/naverpay/checkbox-active.svg'); }
.checkbox.circle input:checked + label { background-image: url('../images/naverpay/radio-active.svg'); }
.checkbox-inline-group .checkbox + .checkbox { margin-left: 40px; }

/* ----- form group ----- */
.form-type { margin-bottom: 24px; }
.form-type li { clear: both; margin-top: 16px; }
.form-type li:first-child { margin-top: 0; }


/* #CONTENT
------------------------------------------------------------*/
/* layout */
.wrap, #header, #content, #footer, .container { min-width: 320px; }
.wrap, #header, #content, #footer, .container, .section, .form-type li { clear: both; }
.wrap:after, #content:after, #footer:after, .container:after, .section:after, .form-type li:after { content: ''; display: block; clear: both; }
.wrap { position: relative; width: 100%; height: 100%; }
.container { margin: 0 auto; padding: 0 20px; width: 100%; max-width: 800px; }
.section ~ .section { border-top: 8px solid #F0F2F4; }
.section { padding: 20px 0; }
.title { margin-bottom: 10px; font-size: 15px; font-weight: 700; line-height: 22px; }
#header { padding: 24px 0; font-size: 0; line-height: 0; }
#header .logo { float: left; margin-top: 2px; }
#header .logo img { width: auto; height: 25px; }
#header .btn-close { float: right; margin-right: -7px; width: 30px; height: 30px; background: url('../images/naverpay/btn-close.svg') no-repeat center center / 100%; font-size: 0; margin-left: auto; }
#header .bar { display: inline-block; width: 1px; height: 12px; background-color: #ccc; margin: 0 8px; }
#header > .container { display: flex; align-items: center; }
#header .logo2 { height: 20px; }
#header .logo2 img { height: 100%; }
#content { padding-bottom: 80px; }
#footer { position: fixed; left: 0; right: 0; bottom: 0; z-index: 99; width: 100%; background-color: #fff; }
#footer .btn { display: block; margin: auto; width: 100%; height: 60px; background-color: #09AA5C; font-size: 18px; font-weight: 700; color: #fff; text-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

/* ----- 슬라이드 공통 ----- */
/* owl carousel */
.owl-carousel { clear: both; margin: auto; }
.owl-carousel:after { content: ''; display: block; clear: both; }
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev { position: absolute; top: 50%; margin-top: -15px; width: 30px; height: 30px; }
.owl-carousel .owl-nav button.owl-prev { left: -10px; }
.owl-carousel .owl-nav button.owl-next { right: -10px; background-position: -30px -90px; }
.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled { opacity: .3; }
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span { width: 10px; height: 18px; font-size: 0; line-height: 1.5em; }
.owl-carousel .owl-nav button.owl-next span:before,
.owl-carousel .owl-nav button.owl-prev span:before { content: ''; position: absolute; top: 50%; left: 50%; width: 1em; height: 1em; margin-top: -0.5em; margin-left: -0.167em; border: 1px solid #222; border-width: 1px 0 0 1px;
	font-size: 12px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.owl-carousel .owl-nav button.owl-next { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.owl-carousel .owl-nav button:focus { outline: 1px dashed #ccc; }
.owl-carousel .owl-dots { font-size: 0; text-align: center; }
.owl-carousel .owl-dots .owl-dot { display: inline-block; }
.owl-carousel .owl-dots .owl-dot span { display: block; width: 5px; height: 5px; margin: 8px 4px; background-color: #ddd; -webkit-backface-visibility: visible; -webkit-transition: opacity .2s ease; transition: opacity .2s ease; border-radius: 50%; }
.owl-carousel .owl-dots .owl-dot.active span { background: #444; }

/* 공통 모달 */
#alertContents, #confirmContents { font-size: 14px; line-height: 1.6; }
.modal-body h3:empty + #alertContents,
.modal-body h3:empty + #confirmContents { padding: 10px 0; text-align: center; }

/* 전체 화면 모달 (공지사항, 약관, 영수증) */
.modal-full .modal-dialog { top: 0; bottom: 0; padding: 0; margin-top: 0 !important; height: 100%; overflow: hidden; background-color: #fff; }
.modal-full .modal-content { width: 100%; max-width: 100%; height: calc(100% - 90px); overflow-y: auto; border-radius: 0; }
.modal-full .modal-body { padding: 30px 0 0; }
.modal-full .modal-footer { position: absolute; left: 0; bottom: 0; width: 100%; }
.modal-full .modal-footer .btn { border-radius: 0; }

@media only screen and (max-width: 359px) {
	.modal-dialog { padding: 20px; }
}

/* content */
.order-info { padding: 5px 0; line-height: 22px; }
.order-info li { position: relative; margin-bottom: 15px; padding-left: 100px; }
.order-info .title { position: absolute; top: 0; left: 0; margin-bottom: 0; width: 100px; }
.order-info .value { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #1E1E23; text-align: right; }
.order-info .value.price { margin: -2px 0; font-size: 22px; font-weight: 700; line-height: 26px; }
.pay-type .label { display: block; padding: 20px 20px 20px 60px; width: 100%; height: 84px;
	border-radius: 9px; border: 1px solid  #09AA5C; background: #fff url('../images/naverpay/icon-npoint.svg') no-repeat 20px center / 28px;
	font-size: 16px; font-weight: 700; line-height: 42px; color: #09AA5C; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07); }
.info-list { font-size: 13px; color: #666; }
.info-list li { position: relative; padding-left: 6px; }
.info-list li:before { content: ''; display: block; position: absolute; top: 9px; left: 1px; width: 2px; height: 2px; background-color: #666; }

/* PC ver. */
.ui-pc #header .btn-close { display: none; }
.ui-pc #content { padding-bottom: 117px; }
.ui-pc #footer { padding: 18px 20px; border-top: 1px solid #F0F2F4; }
.ui-pc #footer .btn { max-width: 760px; }

/* ----- modal ----- */
.modal-open { overflow: hidden; }
/* .modal-open .modal { overflow-x: hidden; overflow-y: auto; } */
.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer { clear: both; }
.modal-dialog:after, .modal-content:after, .modal-header:after, .modal-body:after, .modal-footer:after { content: ''; clear: both; display: block; }
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; z-index: 999; }
.modal:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: -1; }
.modal-dialog { position: absolute; top: 50%; left: 0; padding: 20px; width: 100%; text-align: center; z-index: 2; }
.modal-content { width: 100%; min-width: 280px; max-width: 400px; overflow: hidden; display: inline-block; border-radius: 10px; background: #fff; text-align: left; vertical-align: top; }
.modal-header { position: relative; }
.modal-header .btn-close { position: absolute; top: 8px; right: 8px; }
.modal-body { padding: 25px 20px; min-height: 80px; }
.modal-body h3 { margin-bottom: 15px; font-size: 18px; font-weight: 700; line-height: 1.5; color: #222; }
.modal-body h3:empty { margin-bottom: 0; }
.modal-footer .btn:not(.btn-xl) { float: left; width: 100%; height: 50px; font-size: 16px; line-height: 48px; border: 0; border-top: 1px solid #ddd; border-radius: 0; background-color: #fff; font-weight: 700; color: #faa61a; }
.modal-footer.type2 .btn { position: relative; width: 50%; }
.modal-footer.type2 .btn + .btn { border-left: 1px solid #ddd; }
.modal-body .info-list { font-size: inherit; color: inherit; }
.modal-new .subject { font-size: 14px; }
.modal-new .table-box { margin: 10px 0; font-size: 11px; border: 1px solid #ececec; border-radius: 10px; overflow: hidden; }
.modal-new .table-box thead th { padding: 9px 5px; border-left: 1px solid #ececec; border-top: none; border-right: none; }
.modal-new .table-box td { padding: 11px 10px; font-weight: 700; text-align: left; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; border-left: none; }
.modal-new .table-box th:first-child { width: 115px; border-left: none; }
.modal-new .table-box td:first-child { text-align: center; color: #444; }
.modal-new .table-box td:last-child { border-right: none; }
.modal-new .table-box tr:last-child td { border-bottom: none; }
.modal-new .table-box td .subject { font-size: 11px; font-weight: 400; margin-top: 5px; }
.modal-new .text-info { font-size: 12px; }

/* ----- 약관 상세 모달 ----- */
.modal-terms .modal-body { height: 100%; }
.modal-terms .modal-body > .container { position: relative; height: 100%; }
.modal-terms .modal-body .nav { padding: 0 20px; clear: both; height: 70px; }
.modal-terms .modal-body .nav .item { width: 100%; height: 70px; text-align: center; }
.modal-terms .modal-body .nav .item h3 { margin-bottom: 0; padding-top: 4px; line-height: 22px; }
.modal-terms .modal-body .nav .item .select-sm { display: inline-block; margin-top: 5px; padding: 0; width: 92px; height: 25px; border-bottom: 1px solid transparent; font-size: 13px; line-height: 24px; font-weight: 700; opacity: .5; border: 0; }
.modal-terms .modal-body .nav .item .select-sm:focus { border-color: #757575; outline: 0; }
.modal-terms .modal-body .nav .owl-next,
.modal-terms .modal-body .nav .owl-prev { top: 0; margin-top: 0; }
.modal-terms .modal-body .terms { width: 100%; height: calc(100% - 70px); overflow-y: auto; text-align: left; }
.modal-terms .modal-body .terms h3 { margin: .214em 0; }

/* ----- 약관 동의 ----- */
.agree-terms, .agree-terms .agree-all, .agree-terms .terms-list, .agree-terms .terms-list li { clear: both; }
.agree-terms:after, .agree-terms .agree-all:after, .agree-terms .terms-list:after, .agree-terms .terms-list li:after { content: ''; clear: both; display: block; }
.agree-terms h3,
.agree-all .checkbox > input + label { font-weight: 700; }
.agree-terms .checkbox { display: block; }
.terms-list .checkbox { float: left; padding: 4px 0; width: 90%; }
.terms-list .btn { float: right; margin-right: -11px; } /* 상세 보기 버튼 */

/* 브릿지페이지 */
/* ----- button ----- */
.naverpay-bridge .btn { position: relative; display: inline-block; padding: 0 1em; border: 1px solid #ddd; background-color: transparent; border-radius: 3px; font-size: 14px; font-weight: 400; color: #444; line-height: 43px; text-align: center; }

/* color, style */
.naverpay-bridge .btn-default { background-color: #f8f9fa; }
.naverpay-bridge .btn-primary { border-color: #faa61a; background-color: #faa61a; color: #fff; }
.naverpay-bridge .btn-secondary { border-color: #444; background-color: #444; color: #fff; }
.naverpay-bridge .btn-info { border: 1px solid #9a9a9a; background-color: #fff; color: #9a9a9a; }
.naverpay-bridge .btn-info:active { border: 1px solid #ddd; }
.naverpay-bridge .btn-white { background-color: #fff !important; color: #757575; }

/* size */
.naverpay-bridge .btn-xs { padding: 0 .75em; font-size: 13px; line-height: 23px; }
.naverpay-bridge .btn-sm { font-size: 13px; line-height: 28px; }
.naverpay-bridge .btn-md { font-size: 13px; line-height: 33px; }
.naverpay-bridge .btn-lg { width: 100%; font-size: 16px; }
.naverpay-bridge .btn-xl { width: 100%; font-size: 18px; line-height: 48px; font-weight: 700; }

.naverpay-bridge #content { padding-bottom: 100px !important; }
.naverpay-bridge #footer { position: fixed; left: 0; right: 0; bottom: 0; z-index: 99; width: 100%; background-color: #fff; }
.naverpay-bridge #footer .btn { display: block; margin: auto; width: 100%; height: 60px; background-color: #09AA5C; font-size: 18px; font-weight: 700; color: #fff; text-shadow: 0 0 2px rgba(0, 0, 0, 0.2); border: 0; }
.naverpay-bridge #footer .btn:disabled { background-color: #e2e2e2; color: #fff; }
.naverpay-bridge #footer .copy { background-color: #F0F2F4; padding: 9.5px; text-align: center; font-size: 14px; font-weight: 700; color: #B4B9BC; letter-spacing: -.3px; }
.naverpay-bridge #footer .copy::before { content: ''; display: inline-block; background: url('../images/naverpay/symbol-settlebank-gray.svg') no-repeat center / contain; width: 24px; height: 18px; margin-right: 6px; vertical-align: middle; position: relative; top: -2px; }

.naverpay-bridge .pay-type .label { position: relative; display: block; padding: 20px 20px 20px 60px; width: 100%; height: 84px;
	border-radius: 9px; border: 1px solid #DCDEE0; background: #fff url('../images/naverpay/icon-npoint.svg') no-repeat 20px center / 28px;
	font-size: 16px; font-weight: 700; line-height: 42px; color: #303038; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07); }
.naverpay-bridge .pay-type .label::after { content: ''; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); display: inline-block; background: url(../images/naverpay/radio.svg) no-repeat center / 18px; width: 18px; height: 18px; }
.naverpay-bridge .pay-type .label.card { background: #fff url('../images/naverpay/icon-ncard.svg') no-repeat 20px center / 28px; }
.naverpay-bridge .pay-type .label.active { border: 1px solid #09AA5C; color: #09AA5C; }
.naverpay-bridge .pay-type .label.active::after { background: url(../images/naverpay/radio-active.svg) no-repeat center / 18px; }
.naverpay-bridge .pay-type .pay-type-title { margin-bottom: 24px; }
.naverpay-bridge .pay-type .pay-type-title:nth-child(2) { margin-bottom: 14px; }

.naverpay-bridge .info-list { font-size: 13px; color: #666; }
.naverpay-bridge .info-list li { position: relative; padding-left: 6px; }
.naverpay-bridge .info-list li:not(:last-child) { margin-bottom: 8px; }
.naverpay-bridge .info-list li:before { content: ''; display: block; position: absolute; top: 9px; left: 1px; width: 2px; height: 2px; background-color: #666; }

.naverpay-bridge .agree-list .form-type-title { border-bottom: 1px solid #F0F2F4; }
.naverpay-bridge .agree-list .title { position: relative; margin-bottom: 21px; }
.naverpay-bridge .agree-list .form-type-sub .title .ico-arrow { display: inline-block; background: #fff url('../images/naverpay/arrow-right.svg') no-repeat center / 4px 8px; width: 30px; height: 30px; position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 1; }
.naverpay-bridge .agree-list .form-type-title label { color: #09AA5C; }
.naverpay-bridge .agree-list .form-type-sub label { color: #767678; font-weight: 400; }

/* PC ver. */
.naverpay-bridge.ui-pc #content { padding-bottom: 117px !important; }
.naverpay-bridge.ui-pc #footer { padding: 0; border-top: 1px solid #F0F2F4; }
.naverpay-bridge.ui-pc #footer .copy { margin-top: 20px; }

/* ----- button ----- */
.btn { position: relative; display: inline-block; padding: 0 1em; border: 1px solid #ddd; background-color: transparent; border-radius: 3px; font-size: 14px; font-weight: 400; color: #444; line-height: 43px; text-align: center; }

/* color, style */
.btn-default { background-color: #f8f9fa; }
.btn-primary { border-color: #faa61a; background-color: #faa61a; color: #fff; }
.btn-secondary { border-color: #444; background-color: #444; color: #fff; }
.btn-info { border: 1px solid #9a9a9a; background-color: #fff; color: #9a9a9a; }
.btn-info:active { border: 1px solid #ddd; }
.btn-white { background-color: #fff !important; color: #757575; }

/* size */
.btn-xs { padding: 0 .75em; font-size: 13px; line-height: 23px; }
.btn-sm { font-size: 13px; line-height: 28px; }
.btn-md { font-size: 13px; line-height: 33px; }
.btn-lg { width: 100%; font-size: 16px; }
.btn-xl { width: 100%; font-size: 18px; line-height: 48px; font-weight: 700; }
/* 브릿지페이지 */

/* #UTILITY
------------------------------------------------------------*/
.hidden { display: none; }
.sr-only { font-size: 0; text-indent: -100000px; line-height: 0; }
