@charset "UTF-8";

/**
* ============================================================
* 네이버페이
* ====================== TABLE OF INDEX ======================
* - #RESET
* - #FORM
* - #CONTENT
* - #UTILITY
* ============================================================
*/


/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; }
html { -ms-touch-action: none; }
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { background-color: #fff; font-family: 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; line-height: 1.5; letter-spacing: -0.03em; color: #303038; word-break: keep-all; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; }
fieldset { border: 0; }
img { vertical-align: top; -ms-interpolation-mode: bicubic; border: 0; }
img, video, audio, object, embed, iframe { max-width: 100%; }
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
ul, ol, menu { list-style: none; }
a { color: #222; text-decoration: none; }
address, em, i { font-style: normal; }
del { text-decoration: none; }
button { overflow: hidden; border: 0; background: none; }
h1, h2, h3, h4, h5, strong, b { font-weight: 700; }
pre { word-break: break-all; white-space: pre-line; }


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { border: 0; border-radius: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none;
	font-family: 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 15px; letter-spacing: -0.03em; vertical-align: top; }
label, input, select, textarea { outline: none; }
label { color: #303038; }
input[type="image"], input[type="submit"], input[type="cancel"], button, select { cursor: pointer; }
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], select { display: block; padding: 11px 15px; width: 100%; height: 44px;
	border: 1px solid #C8CACC; border-radius: 4px; font-size: 15px; line-height: 20px; color: #1E1E23; vertical-align: top; }
select { background: transparent url("../images/naverpay/select.svg") no-repeat right 18px center / 10px 6px; text-align: left; }
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly] { background-color: #f6f7f8; color: #bdbdbd; -webkit-text-fill-color: #bdbdbd; opacity: 1; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
select:focus, textarea:focus { padding: 10px 14px; border: 2px solid #303038; }
select:focus { background-position: right 17px center; }

/** for IE **/
button:active { border-style: outset; }
select::-ms-expand { display: none; } /* 화살표 없애기 for IE10, 11 */
input::-ms-clear,
input::-ms-reveal { display: none; width : 0; height: 0; }  /* IE 삭제 버튼(X) 숨기기 for IE10, 11 */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/** placeholder **/
input.placeholder { color: #AAAAAC; }
input::placeholder { color: #AAAAAC; font-weight: 400; height: 20px; line-height: 20px; }
textarea::placeholder { color: #AAAAAC; font-weight: 400; line-height: 21px; }
/* webkit */
input::-webkit-input-placeholder { color: #AAAAAC; font-weight: 400; }
textarea::-webkit-input-placeholder { color: #AAAAAC; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #AAAAAC; font-weight: 400; }
textarea:-moz-placeholder { color: #AAAAAC; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #AAAAAC; font-weight: 400; }
textarea::-moz-placeholder { color: #AAAAAC; font-weight: 400; }
/* IE10+ */
input:-ms-input-placeholder { color: #AAAAAC !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: #AAAAAC !important; font-weight: 400 !important; }

/* ----- checkbox, radio ----- */
.checkbox { position: relative; display: inline-block; vertical-align: top; }
.checkbox input[type="checkbox"], .checkbox>input[type="radio"] { position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.checkbox input + label { position: relative; display: block; padding-left: 30px; line-height: 22px; cursor: pointer; background: url('../images/naverpay/checkbox.svg') no-repeat 0 center / 22px; }
.checkbox.circle input + label { padding-left: 22px; background-image: url('../images/naverpay/radio.svg'); background-size: 18px; }
.checkbox input:checked + label { background-image: url('../images/naverpay/checkbox-active.svg'); }
.checkbox.circle input:checked + label { background-image: url('../images/naverpay/radio-active.svg'); }
.checkbox-inline-group .checkbox + .checkbox { margin-left: 40px; }

/* ----- form group ----- */
.form-type { margin-bottom: 24px; }
.form-type li { clear: both; margin-top: 16px; }
.form-type li:first-child { margin-top: 0; }


/* #CONTENT
------------------------------------------------------------*/
/* layout */
.wrap, #header, #content, #footer, .container { min-width: 320px; }
.wrap, #header, #content, #footer, .container, .section, .form-type li { clear: both; }
.wrap:after, #content:after, #footer:after, .container:after, .section:after, .form-type li:after { content: ''; display: block; clear: both; }
.wrap { position: relative; width: 100%; height: 100%; }
.container { margin: 0 auto; padding: 0 20px; width: 100%; max-width: 800px; }
.section ~ .section { border-top: 8px solid #F0F2F4; }
.section { padding: 20px 0; }
.title { margin-bottom: 10px; font-size: 15px; font-weight: 700; line-height: 22px; }
#header { padding: 24px 0; font-size: 0; line-height: 0; }
#header .logo { float: left; margin-top: 2px; }
#header .logo img { width: auto; height: 25px; }
#header .btn-close { float: right; margin-right: -7px; width: 30px; height: 30px; background: url('../images/naverpay/btn-close.svg') no-repeat center center / 100%; font-size: 0; }
#content { padding-bottom: 80px; }
#footer { position: fixed; left: 0; right: 0; bottom: 0; z-index: 99; width: 100%; background-color: #fff; }
#footer .btn { display: block; margin: auto; width: 100%; height: 60px; background-color: #09AA5C; font-size: 18px; font-weight: 700; color: #fff; text-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

/* content */
.order-info { padding: 5px 0; line-height: 22px; }
.order-info li { position: relative; margin-bottom: 15px; padding-left: 100px; }
.order-info .title { position: absolute; top: 0; left: 0; margin-bottom: 0; width: 100px; }
.order-info .value { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #1E1E23; text-align: right; }
.order-info .value.price { margin: -2px 0; font-size: 22px; font-weight: 700; line-height: 26px; }
.pay-type .label { display: block; padding: 20px 20px 20px 60px; width: 100%; height: 84px;
	border-radius: 9px; border: 1px solid  #09AA5C; background: #fff url('../images/naverpay/icon-npoint.svg') no-repeat 20px center / 28px;
	font-size: 16px; font-weight: 700; line-height: 42px; color: #09AA5C; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07); }
.info-list { font-size: 13px; color: #666; }
.info-list li { position: relative; padding-left: 6px; }
.info-list li:before { content: ''; display: block; position: absolute; top: 9px; left: 1px; width: 2px; height: 2px; background-color: #666; }

/* PC ver. */
.ui-pc #header .btn-close { display: none; }
.ui-pc #content { padding-bottom: 117px; }
.ui-pc #footer { padding: 18px 20px; border-top: 1px solid #F0F2F4; }
.ui-pc #footer .btn { max-width: 760px; }


/* #UTILITY
------------------------------------------------------------*/
.hidden { display: none; }
.sr-only { font-size: 0; text-indent: -100000px; line-height: 0; }
