

/* ±âº» ½ºÅ¸ÀÏ */

body.body_main { margin:0; background:#FB8C17 url(http://file.sayclub.co.kr/images/pmang/one/common/bg_main.jpg) repeat-x top; }


/* ÆùÆ® ±âº» */

body,td,font,input,textarea,pre,select { font:12px µ¸¿ò; color:#534741; }

a:link { color:#534741; text-decoration:none; }
a:visited { color:#534741; text-decoration:none; }
a:hover { color:#2E8BB1; text-decoration:underline;}

.11px { font-size:11px; }
.10px { font-size:10px; }

.m1 { letter-spacing:-1; }


/* Å×ÀÌºí/etc ½ºÅ¸ÀÏ */

.fixed { table-layout:fixed; }
.inline { display:inline; vertical-align:top; }

input.radio { width:12px; height:15px; }
input.checkbox { width:15px; height:17px; }

/* ¸µÅ©½ºÅ¸ÀÏ */
.white_12 { color:#FFFFFF;  text-decoration:none; font:12pt }
.white { color:#FFFFFF;  text-decoration:none; }
.white a:link { color:#FFFFFF;  text-decoration:none; }
.white a:visited { color:#FFFFFF;  text-decoration:none; }
.white a:hover { color:#FFFFFF;  text-decoration:underline; }

.black { color:#000000;  text-decoration:none; }
.black a:link { color:#000000;  text-decoration:none; }
.black a:visited { color:#000000;  text-decoration:none; }
.black a:hover { color:#2E8BB1;  text-decoration:underline; }

.sky { color:#2E8BB1;  text-decoration:none; }
.sky a:link { color:#2E8BB1;  text-decoration:none; }
.sky a:visited { color:#2E8BB1;  text-decoration:none; }
.sky a:hover { color:#2E8BB1;  text-decoration:underline; }

.sky02 { color:#45A9C3;  text-decoration:none; }
.sky02 a:link { color:#45A9C3;  text-decoration:none; }
.sky02 a:visited { color:#45A9C3;  text-decoration:none; }
.sky02 a:hover { color:#45A9C3;  text-decoration:underline; }

.gray_bown { color:#998675;  text-decoration:none; }
.gray_bown a:link { color:#998675;  text-decoration:none; }
.gray_bown a:visited { color:#998675;  text-decoration:none; }
.gray_bown a:hover { color:#998675;  text-decoration:underline; }

.gray_bown02 { color:#706A67;  text-decoration:none; }
.gray_bown02 a:link { color:#706A67;  text-decoration:none; }
.gray_bown02 a:visited { color:#706A67;  text-decoration:none; }
.gray_bown02 a:hover { color:#706A67;  text-decoration:underline; }

.gray_bown03 { color:#534741;  text-decoration:none; }
.gray_bown03 a:link { color:#534741;  text-decoration:none; }
.gray_bown03 a:visited { color:#534741;  text-decoration:none; }
.gray_bown03 a:hover { color:#534741;  text-decoration:underline; }

.orange { color:#FF4200;  text-decoration:none; }
.orange a:link { color:#FF4200;  text-decoration:none; }
.orange a:visited { color:#FF4200;  text-decoration:none; }
.orange a:hover { color:#FF4200;  text-decoration:underline; }

.orange02 { color:#F7941D;  text-decoration:none; }
.orange02 a:link { color:#F7941D;  text-decoration:none; }
.orange02 a:visited { color:#F7941D;  text-decoration:none; }
.orange02 a:hover { color:#F7941D;  text-decoration:underline; }

.orange03 { color:#FF7800;  text-decoration:none; }
.orange03 a:link { color:#FF7800;  text-decoration:none; }
.orange03 a:visited { color:#FF7800;  text-decoration:none; }
.orange03 a:hover { color:#FF7800;  text-decoration:underline; }

.blue { color:#195DB6;  text-decoration:none; }
.blue a:link { color:#195DB6;  text-decoration:none; }
.blue a:visited { color:#195DB6;  text-decoration:none; }
.blue a:hover { color:#195DB6;  text-decoration:underline; }

.blue02 { color:#5F81AE;  text-decoration:none; }
.blue02 a:link { color:#5F81AE;  text-decoration:none; }
.blue02 a:visited { color:#5F81AE;  text-decoration:none; }
.blue02 a:hover { color:#5F81AE;  text-decoration:underline; }

.home_tab { color:#F7941D;  text-decoration:none; }
.home_tab a:link { color:#F7941D;  text-decoration:none; }
.home_tab a:visited { color:#F7941D;  text-decoration:none; }
.home_tab a:hover { color:#F7941D;  text-decoration:underline; }

.home_gray { color:#666666;  text-decoration:none; }
.home_gray a:link { color:#666666;  text-decoration:none; }
.home_gray a:visited { color:#666666;  text-decoration:none; }
.home_gray a:hover { color:#2E8BB1;  text-decoration:underline; }

.login_gray { color:#534741;  text-decoration:none; }
.login_gray a:link { color:#534741;  text-decoration:none; }
.login_gray a:visited { color:#534741;  text-decoration:none; }
.login_gray a:hover { color:#2E8BB1;  text-decoration:underline; }

.channel_info { color:#736357;  text-decoration:none; }
.channel_info a:link { color:#736357;  text-decoration:none; }
.channel_info a:visited { color:#736357;  text-decoration:none; }
.channel_info a:hover { color:#736357;  text-decoration:underline; }

.card_channel { color:#358FAA;  text-decoration:none; }
.card_channel a:link { color:#358FAA;  text-decoration:none; }
.card_channel a:visited { color:#358FAA;  text-decoration:none; }
.card_channel a:hover { color:#358FAA;  text-decoration:underline; }

.card_channel_green { color:#2C7D00;  text-decoration:none; }
.card_channel_green a:link { color:#2C7D00;  text-decoration:none; }
.card_channel_green a:visited { color:#2C7D00;  text-decoration:none; }
.card_channel_green a:hover { color:#2C7D00;  text-decoration:underline; }

.card_channel_green02 { color:#448A7B;  text-decoration:none; }
.card_channel_green02 a:link { color:#448A7B;  text-decoration:none; }
.card_channel_green02 a:visited { color:#448A7B;  text-decoration:none; }
.card_channel_green02 a:hover { color:#448A7B;  text-decoration:underline; }

.card_casual_orange_l { color:#F1A442;  text-decoration:none; }
.card_casual_orange_l a:link { color:#F1A442;  text-decoration:none; }
.card_casual_orange_l a:visited { color:#F1A442;  text-decoration:none; }
.card_casual_orange_l a:hover { color:#F1A442;  text-decoration:underline; }

.card_casual_blue { color:#4A58B1;  text-decoration:none; }
.card_casual_blue a:link { color:#4A58B1;  text-decoration:none; }
.card_casual_blue a:visited { color:#4A58B1;  text-decoration:none; }
.card_casual_blue a:hover { color:#4A58B1;  text-decoration:underline; }

.card_casual_blue_d { color:#445B82;  text-decoration:none; }
.card_casual_blue_d a:link { color:#445B82;  text-decoration:none; }
.card_casual_blue_d a:visited { color:#445B82;  text-decoration:none; }
.card_casual_blue_d a:hover { color:#445B82;  text-decoration:underline; }

.card_casual_sky { color:#61A7CD;  text-decoration:none; }
.card_casual_sky a:link { color:#61A7CD;  text-decoration:none; }
.card_casual_sky a:visited { color:#61A7CD;  text-decoration:none; }
.card_casual_sky a:hover { color:#61A7CD;  text-decoration:underline; }

.card_casual_green_l { color:#6AB741;  text-decoration:none; }
.card_casual_green_l a:link { color:#6AB741;  text-decoration:none; }
.card_casual_green_l a:visited { color:#6AB741;  text-decoration:none; }
.card_casual_green_l a:hover { color:#6AB741;  text-decoration:underline; }

.card_casual_pink { color:#FF747D;  text-decoration:none; }
.card_casual_pink a:link { color:#FF747D;  text-decoration:none; }
.card_casual_pink a:visited { color:#FF747D;  text-decoration:none; }
.card_casual_pink a:hover { color:#FF747D;  text-decoration:underline; }

.card_board_green { color:#406618;  text-decoration:none; }
.card_board_green a:link { color:#406618;  text-decoration:none; }
.card_board_green a:visited { color:#406618;  text-decoration:none; }
.card_board_green a:hover { color:#406618;  text-decoration:underline; }

/* GNB °ü·Ã ½ºÅ¸ÀÏ ======================================== */

.gnb { width:82; white-space:nowrap; padding:5 8 1 0; color:#FFFFFF; }
.gnb a { color:#FFFFFF; text-decoration:none; }
.gnb a:visited { color:#FFFFFF; text-decoration:none; }
.gnb a:hover { color:#BD1A12; text-decoration:none; }

.gnb_td { border-bottom:1px solid #FFB22E; }
.gnb_ico { margin:0 1 3 1; }

ul.gnb_list { white-space: nowrap; margin:0; list-style:none; border-bottom:1px solid #FFB22E; }
ul.gnb_listend { white-space: nowrap; margin:0; list-style:none; }
li.gnb_blt { width:87; padding:5 5 1 8; display:inline; background-image:url(http://file.sayclub.co.kr/images/pmang/one/home/bu_gnb_arw_off.gif); background-repeat:no-repeat; background-position:0 9 0 0; }
li.gnb_blton { width:87; padding:5 5 1 8; display:inline; background-image:url(http://file.sayclub.co.kr/images/pmang/one/home/bu_gnb_arw_on.gif); background-repeat:no-repeat; background-position:0 9 0 0; }
li.gnb_bltless { width:87; padding:5 5 1 8; display:inline; }

/* 160517 */
.test{border:1px solid red !important}
.oneclick{color:#636363}
.oneclick p{margin:0;}
.oneclick .ti{display:block;margin-bottom:5px}
.oneclick .label_sec{border-bottom: 1px solid #cfc4aa; border-width: 0 0 1px 0; padding-bottom:5px;margin-bottom: 7px;padding-top:3px}
.oneclick .label_sec label{width: 81px;display: inline-block;}
.oneclick .label_sec label.black{font-weight:bold}
.oneclick .ti_arrow{background:url(/Crusader/image/ico_box_arw_orange.gif) no-repeat left top;border-bottom:1px dotted #cfc4aa;color:#000;font-weight:bold;padding-left:18px;padding-bottom:5px;margin-bottom:7px}
.oneclick .box{padding:5px 18px;line-height:18px;color:#000}
.oneclick .box .sel{min-width:195px;margin-bottom:10px}
.oneclick .point{color:#f13300}
.oneclick dl, .oneclick dt, .oneclick dd{margin:0;padding:0}
.oneclick .step_2 dl{margin-bottom:5px}
.oneclick .step_2 dt, .oneclick .step_2 dd{display:inline-block}
.oneclick .step_2 dt{width:115px}
.oneclick .step_2 .text{border:1px solid #cfc4aa;width:61px;height:20px}
.t_right{text-align:right}
/* .shadow{background:url(/Crusader/image/bg_shadow.png);position:fixed;width:100%;height:100%;top:0;left:0} */
.shadow .btn{position:absolute;text-indent:-9999px;overflow:hidden;display:block}
.layer{/* position:absolute;top:20%;left:50%;margin-left:-210px; */position:relative;background:#fff;width:360px;border:1px solid #666666;padding:50px 30px}
.layer .btn{position:absolute;text-indent:-9999px;overflow:hidden;display:block}
.layer p{margin:0;padding:0}
.layer ul, .layer li{list-style:none;margin:0;padding:0}
.layer .ti{font-size:14px;color:#000;border-bottom:2px solid #4d4d4d;padding-left:2px;padding-bottom:6px;margin:0;}
.layer .ti_dot{font-size:12px;color:#000;font-weight:bold;background:url(/Crusader/image/bg_dot.png) no-repeat 6px 2px;padding-left:20px;border-bottom:1px solid #c4c4c4;margin-top:20px;padding-bottom:5px}
.layer .ti_arrow{font-size:12px;color:#636363;background:url(/Crusader/image/bg_arrow.png) no-repeat 6px 2px;padding-left:15px}
.layer .btnarea{clear:both;text-align:center;margin-top:20px}
.layer .btn_ok{display:inline-block;background:url(/Crusader/image/btn_ok.png) no-repeat;width:58px;height:29px;text-indent:-9999px;overflow:hidden}
.layer .btn_tel{display:inline-block;background:url(/Crusader/image/btn_tel.png) no-repeat;width:82px;height:28px;text-indent:-9999px;overflow:hidden}
.layer .btn_x{top:10px;right:10px;background:url(/Crusader/image/btn_x.png) no-repeat;width:19px;height:19px}
.layer .table{border-collapse:collapse;width:100%;background:#f8f8f8;padding:0;margin-bottom:10px;}
.layer .table th, .layer .table td{padding:13px 0px 10px 20px;border-bottom:1px solid #e7e7e7;}
.layer .table th{text-align:left;color:#000;width:33%}
.layer .table td{color:#636363;text-align:left}
.layer .border th, .layer .border td{border-bottom:1px solid #c4c4c4 }
.layer .step1 .list{margin-top:5px}
.layer .step1 .list a{float:left;font-weight:normal;display:inline-block;width:79px;height:40px;line-height:42px;text-align:center;border:1px solid #ddd;margin-left:-1px;margin-bottom:-1px;background:#fff}
.layer .step1 .list a:hover{color:#636363;background:#ebf8fe;text-decoration:none}
.layer .step1 .list a:active, .layer .step1 .list a.on {color:#fff;font-weight:bold;background:#00799c;text-decoration:none}
.layer .text{border:1px solid #c4c4c4;height:17px;width:73px;padding:3px 5px 0 5px}
.layer .select{border:1px solid #c4c4c4;height:22px;vertical-align:top;min-width:55px}
.layer .text2{width:173px;}
.layer .text3{width:13px;}
.layer .radio{width:12px;height:12px;vertical-align:top;margin-top:-1px}
.layer .step2_2 .tel .text{width:25px}
.layer .step3 .box{text-align:center;background:#f8f8f8 url(/Crusader/image/icon_tel.gif) no-repeat center 30%;padding-top:155px;padding-bottom:30px;margin-bottom:20px}