@charset "UTF-8";

/**
* ============================================================
* Guide : 핫딜 안내
* ============================================================
*/


/* ----- slide ----- */
.guideSlide { position: relative; }
.guideSlide .guideSlideBox { display: block !important; padding: 30px 0; }
.guideSlide .guideSlideBox.gift { background-color: #fff2e3; }
.guideSlide .guideSlideBox.zero { background-color: #fffee3; }
.guideSlide .guideSlideBox.free { background-color: #ffeded; }
.guideSlide .guideSlideBox.time { background-color: #e4f0ff; }
.guideTitle { font-size: 22px; line-height: 24px; }
.guideSlide .guideTxt { margin-top: 12px; color: #575757; }
.guideSlide .guideTitle .imgLogo { display: inline-block; width: auto; height: 21px; vertical-align: -2px; }
.guideSlide .guideImg { width: 100%; height: 200px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.guideSlide .guideImg.gift { background-image: url(../../public/images/hotdeal/guide-gift.png?ver=20220519); }
.guideSlide .guideImg.time { background-image: url(../../public/images/hotdeal/guide-time2.png?ver=20220519); }
.guideSlide .guideImg.zero { background-image: url(../../public/images/hotdeal/guide-zero.png?ver=20220519); }
.guideSlide .guideImg.free { background-image: url(../../public/images/hotdeal/guide-free.png?ver=20220519); }
.guideSlide .guideTitBox { min-height: 90px; padding: 0 30px; }

/* slide dots */
.guideSlide .slick-dots { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); font-size: 0; }
.guideSlide .slick-dots li { display: inline-block; margin: 0 3px; }
.guideSlide .slick-dots li button { width: 7px; height: 7px; background-color: #e0e0e0; border-radius: 50%; font-size: 0; text-indent: -100000px; }
.guideSlide .slick-dots li.slick-active button { background-color: #575757; }

/* react용 */
.guideSlide :global .slick-dots { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); font-size: 0; }
.guideSlide :global .slick-dots li { display: inline-block; margin: 0 3px; }
.guideSlide :global .slick-dots li button { width: 7px; height: 7px; background-color: #e0e0e0; border-radius: 50%; font-size: 0; text-indent: -100000px; }
.guideSlide :global .slick-dots li.slick-active button { background-color: #575757; }

/* ----- list ----- */
.guideList { background-color: #fff; }
.guideList li a { clear: both; }
.guideList li a:after { content: ''; clear: both; display: block; }
.guideList li a { display: block; background: url(../../public/images/hotdeal/icon/icon-arrow-right.svg?ver=20220519) no-repeat right 20px center / 6px 9px; font-size: 17px; line-height: 65px; }

/* csList */
.csList { padding: 30px 0; }
.csList .csTitle { margin-bottom: 10px; font-size: 15px; font-weight: 700; }
.csList .csDesc { margin-bottom: 12px; line-height: 15px; font-size: 13px; color: #575757; }
.csList .csDesc .title:after { content: ''; display: inline-block; margin: 0 6px 0 10px; width: 1px; height: 15px; background-color: #c9c9c9; vertical-align: top; }
.csList .box a { display: block; padding: 0 15px; border-radius: 10px; line-height: 65px; background-color: #fff; color: #575757; }
.csList .box .logo { width: auto; height: 13px; vertical-align: -2px; }
.csList .box .desc { float: right; font-size: 17px; font-weight: 700; }
.csList .box { margin: 0 -7px; }

/* ----- @media ----- */
@media screen and (max-width: 359px) {
	.guideSlide .guideSlideBox { padding: 25px; }
	.guideSlide .guideTitBox { padding: 0 5px; }
	.guideSlide .guideTxt { font-size: 13px; }
}
