@charset "UTF-8";

/**
* ============================================================
* MainMoney : 메인 상단 머니
* ============================================================
*/

/* main content */
.moneyBox .box {
  height: 50px;
  background-color: #151515;
  padding: 0 20px;
  color: #fff;
  border-radius: 10px;
}
.moneyBox .moneyLeft {
  float: left;
  width: 50%;
  font-size: 14px;
  line-height: 47px;
}
.moneyBox .moneyLeft * {
  vertical-align: middle;
}
.moneyBox .moneyLeft .moneyLogo img {
  margin-right: 2px;
  width: 25px;
  height: auto;
}
.moneyBox .moneyLeft .iconQuestion {
  display: inline-block;
  margin-left: 2px;
  width: 17px;
  height: 17px;
  background-color: #2e2e2e;
  border-radius: 50%;
}
.moneyBox .moneyRight {
  float: right;
  width: 50%;
  text-align: right;
}
.moneyBox .moneyRight .moneyPrice {
  font-size: 18px;
  line-height: 50px;
}
