/* 250527 */
.charge-container {
  padding-top: 16px;
}

.charge-container.complete {
  height: calc(100vh - 188px);
  display: flex ;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.charge-container .input-wrap {
  position: relative;
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d6d6d6;
}

.charge-container .input-wrap .charge-input {
  position: relative;
}

.charge-container .input-wrap .charge-input .fake-label {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 286px;
  padding: 30.5px 0 11.5px 17px;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
}

.charge-container .input-wrap .charge-input .fake-label .number {
  opacity: 0;
}

.charge-container .input-wrap .charge-input .fake-label .unit {
  display: none;
  color: #151515;
}

.charge-container .input-wrap .charge-input.error .fake-label .unit {
  color: #fc0626;
}

.charge-container .input-wrap .charge-info-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #454545;
}

.charge-container .input-wrap .add-money-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  /* margin-bottom: 26px; */
  /* 계좌 머니 충전에서 하단 여백이 생겨서 주석 */
}

.charge-container .input-wrap .charge-info-text + .add-money-btn-wrap {
  margin-top: 16px;
  margin-bottom: 0;
}

.charge-container .input-wrap .add-money-btn-wrap button {
  padding: 8px 13px;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14.32px;
  text-align: center;
  letter-spacing: -0.03em;
}

.charge-container .input-wrap input + .add-money-btn-wrap {
  margin-top: 18px;
}

.charge-container .money-info-wrap {
  margin-top: 26px;
}

.charge-container .money-info-wrap dl {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.charge-container .money-info-wrap dl:last-child {
  margin-bottom: 0;
}

.charge-container .money-info-wrap dl dt {
  color: #151515;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.charge-container .money-info-wrap dl dt .sub-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #888;
}

.charge-container .money-info-wrap dl dd {
  color: #151515;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.charge-container .money-info-wrap dl dd .registration-btn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #f6f6f9;
}

.charge-container .money-info-wrap dl dd .registration-btn img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.charge-container .money-info-wrap dl dd .registration-btn i {
  margin-left: 4px;
}

.charge-container .complete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: -0.03em;
  text-align: center;
}

.charge-container .complete-text::before {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  transform-origin: center;
}

.charge-container .complete-text p span {
  color: #8BC104;
}

.charge-container .complete-text .small-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #151515;
  margin-top: 2px;
}

.charge-container .fail-text .sub-text {
  margin-top: 11px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: center;
}

.charge-container .complete-text.fail::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning.svg) 0 0 / cover no-repeat;
}

.charge-container .complete-text > span {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #151515;
  margin-top: 2px;
}

.charge-container .complete-text.gray.fail::before {
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 50%;
  background: url(../../images/common/icon-warning-gray.svg) 0 0 / cover no-repeat;
}

.charge-container .complete-text.fail .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #151515;
}

.charge-container .complete-text.fail .sub-title {
  display: block;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: #151515;
  margin-top: 2px;
}

.charge-container .retto-alert {
  position: absolute;
  left: 0;
  bottom: 112px;
  width: 100%;
  padding: 0 20px;
}

.charge-container .retto-alert p {
  position: relative;
  color: #151515;
  border-radius: 16px;
  padding: 16px 0;
  padding-left: 88px;
  background-color: #e0ff63;
}

.charge-container .retto-alert p::before {
  display: block;
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 56px;
  height: 56px;
  background: url("../../images/payment/retto-ball-img.png") 0 0 / cover no-repeat;
}

.charge-container .phone-info-wrap {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px 0 13px;
  border-radius: 16px;
  background-color: #f6f6f9;
}

.charge-container .phone-info-wrap .agency {
  height: 25px;
  margin-right: 8px;
  padding: 0 12px;
  border-radius: 16px;
  color: #e0ff63;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.02em;
  background-color: #151515;
}

.charge-container .phone-info-wrap .phone-number {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.charge-container .phone-info-wrap .phone-info-btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url(../../images/common/icon-info-circle.svg) 0 0 / cover no-repeat;
}

.charge-container .btn-small {
  padding: 7px 12px;
  border: 1px solid #e5e5e8;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: center;
}

.charge-container .complete-text .lottie-check {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  transform-origin: center;
}

.charge-container.kyc .complete-text .lottie-check {
  width: 64px;
  height: 64px;
}

.charge-container .gray-box {
  background: #f6f6f9;
  border: 0;
  border-radius: 16px;
  padding: 16px 0;
  text-align: center;
  margin-top: 28px;
}

.charge-container .gray-box .label-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #151515;
  margin-bottom: 4px;
}

.charge-container .gray-box .label-list li:last-of-type {
  margin-bottom: 0;
}

.charge-container .gray-box .label-list li::before {
  content: "";
  display: block;
  background: url(../../images/common/ico-certified.svg) no-repeat center / contain;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* 계좌 선택하기 바텀 시트 팝업 */
.modal.modal-slide.select-account .list-wrap {
  padding-bottom: 30px;
}

.modal.modal-slide.select-account .list-wrap li a {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.modal.modal-slide.select-account .list-wrap li a img {
  width: 62px;
  height: 62px;
  margin-right: 8px;
}

.modal.modal-slide.select-account .list-wrap li a .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-name {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.modal.modal-slide.select-account .list-wrap li a .text-wrap .bank-number {
  color: #515151;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.modal.modal-slide.select-account .list-wrap li a .icon-star {
  margin-left: auto;
}

.transform-container {
  margin-top: 16px;
}

.transform-wrap {
  background: #f6f6f9;
  border-radius: 12px;
  border: 1px solid #e5e5e8;
  padding: 13px 16px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  display: flex;
  justify-content: space-between;
}

.transform-wrap .bold-text {
  font-weight: 700;
  color: #151515;
}

.transform-container + .charge-container {
  padding-top: 4px;
}

.transform-container + .charge-container .input-wrap {
  border-bottom: 0;
}

.transform-container + .charge-container .input-wrap .charge-info-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #888888;
}

.charge-container .charge-money-wrap {
  background: #f7ffc7;
  border-radius: 16px;
  padding: 16px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #454545;
  display: flex;
  justify-content: center;
}

.charge-container .charge-money-wrap > dl {
  display: flex;
  align-items: center;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #151515;
}

.charge-container .charge-money-wrap > dl dt > i {
  margin-left: 2px;
}

.charge-container .charge-money-wrap > dl dd {
  color: #151515;
  font-weight: 700;
  margin-left: 8px;
}

/* 대기머니 */
.charge-container .input-wrap .charge-input.wait-input .custom-input {
  background: #f6f6f9;
  border: 1px solid #e5e5e8;
  color: #454545;
}

.charge-container .input-wrap .charge-input.wait-input .custom-input::placeholder {
  color: #454545;
}

.charge-container .input-wrap .charge-input.wait-input .icon-del {
  display: none;
}

.charge-container .input-wrap .charge-input.wait-input.switch-input .custom-input {
  color: #7CAC04;
}

.charge-container .input-wrap .charge-input.wait-input.switch-input .custom-input::placeholder {
  color: #7CAC04;
}

.charge-container .input-wrap.border-bottom-0 {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 40px;
}

.charge-container .comp-info-wrap {
  max-width: 247px;
  background: #f6f6f9;
  border-radius: 16px;
  padding: 16px 24px;
  margin: 28px auto 0;
}

.charge-container .comp-info-wrap .comp-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #454545;
  margin-bottom: 4px;
}

.charge-container .comp-info-wrap .comp-info.last {
  border-top: 1px solid #e5e5e8;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 0;
}

.charge-container .comp-info-wrap .comp-info b {
  font-weight: 700;
}

/* //대기머니 */
/* 출금 */
.charge-container.withdrawal-container .input-wrap {
  padding-bottom: 0;
  border-bottom: 0;
}

/* //출금 */
/* 전환하기 */
.charge-container .input-wrap .charge-input + .charge-input::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/common/chevron-circle-down.svg) no-repeat center / contain;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
}

.charge-container .switch-info-wrap {
  padding: 24px 16px;
  border-radius: 16px;
  background-color: #F6F6F9;
  color: #454545;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
}

.charge-container .switch-info-wrap li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 12px;
}

.charge-container .switch-info-wrap li:last-of-type {
  margin-bottom: 0;
}

.charge-container .switch-info-wrap li::before {
  display: block;
  content: "";
  position: absolute;
  left: 2px;
  top: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #7D7D7D;
}

.charge-container .switch-info-wrap li .sub-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  letter-spacing: -2%;
  color: #888;
  margin-top: 8px;
}

.switch-info-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: right;
  color: #888;
  margin-bottom: -25px;
  margin-top: 8px;
}

.switch-info-wrap li a {
  text-decoration: underline;
}

/* //전환하기 */
/* 캐시전환 퍼블 */
.headline .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #454545;
}

.headline .sub-title {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #888;
  margin-top: 4px;
}

.swiper-wrap {
  overflow: hidden;
  padding-bottom: 40px;
}

.mySwiper {
  width: 100%;
  padding: 0 28px;
  box-sizing: border-box;
  margin-top: 24px;
  margin-left: 16px;
  padding-left: 28px;
  padding-right: 28px;
  overflow: visible;
  box-sizing: border-box;
}

.mySwiper .card {
  background: transparent;
}

.swiper-slide {
  width: 300px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 16px;
}

.mySwiper {
  position: relative;
  margin: 16px 0;
}

.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 300px;
  padding: 20px;
  position: relative;
}

.swiper-slide:first-of-type {
  margin-left: 20px;
}

.mySwiper .swiper-slide .card {
  padding: 0;
  border-radius: 0;
}

.mySwiper .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #172FB6;
  margin-bottom: 4px;
}

.mySwiper .content {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #888888;
}

.swiper-slide.first {
  background-color: #E3EDFF;
}

.swiper-slide.first::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 143px;
  height: 134px;
  background: url(../images/conversion/slide-01.png) no-repeat center / contain;
}

.swiper-slide.second {
  background-color: #E5D7FD;
}

.swiper-slide.second::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 133px;
  height: 113px;
  background: url(../images/conversion/slide-02.png) no-repeat center / contain;
}

.swiper-slide.second .title {
  color: #562390;
}

.swiper-slide.third {
  background-color: #F7FFC7;
}

.swiper-slide.third::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -29px;
  width: 150px;
  height: 141px;
  background: url(../images/conversion/slide-03.png) no-repeat center / contain;
}

.swiper-slide.third .title {
  color: #53730C;
}

.card h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

#wrap.conversion {
  height: 100%;
}

.conversion #content {
  padding-bottom: 0 !important;
  min-height: 100%;
}

.conversion .bottom {
  background: #F6F6F9;
  padding: 20px 0;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  flex: 1;
}

.conversion .bottom .title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: left;
  color: #151515;
  margin-top: 20px;
}

.conversion .bottom .asset-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.conversion .bottom .asset-item {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  height: 75px;
}

.conversion .bottom .asset-item:last-of-type {
  margin-bottom: 0;
}

.conversion .bottom .asset-info {
  display: flex;
  align-items: center;
}

.conversion .bottom .icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.conversion .bottom .icon-s {
  background: url(../images/conversion/icon-s.png) no-repeat center / contain;
}

.conversion .bottom .icon-c {
  background: url(../images/conversion/icon-c.png) no-repeat center / contain;
}

.conversion .bottom .text-wrap .label {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #151515;
}

.conversion .bottom .text-wrap .sub {
  font-size: 12px;
  color: #888;
}

.conversion .bottom .value-wrap {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversion .bottom .value-wrap strong {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -3%;
  color: #151515;
}

.conversion .bottom .value-wrap .sub {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  color: #B0B0B3;
}

.conversion .bottom .end .value-wrap strong {
  color: #D1D1D5;
}

.conversion .bottom .arrow {
  display: inline-block;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background: url(../images/conversion/arrow-right.svg) no-repeat center / contain;
}

.conversion .bottom .guide-list {
  color: #454545;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  margin-top: 32px;
}

.conversion .bottom .guide-list li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 12px;
}

.conversion .bottom .guide-list li:last-of-type {
  margin-bottom: 0;
}

.conversion .bottom .guide-list li::before {
  content: '';
  display: block;
  position: absolute;
  top: 7.5px;
  left: 0;
  z-index: 2;
  width: 4px;
  height: 4px;
  background-color: #D1D1D5;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}

.conversion .bottom .guide-list li a {
  text-decoration: underline;
}

.modal-conversion .modal-body {
  text-align: center;
}

.modal-conversion .modal-body img {
  width: 246px;
  height: 140px;
  margin-bottom: 8px;
}

.modal .modal-body .section-title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: left;
  color: #151515;
  align-items: start;
  padding-left: 13px;
  margin-bottom: 8px;
}

.modal-switch .modal-title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 8px;
  color: #151515;
}

.modal-switch .modal-desc {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #454545;
  margin-bottom: 24px;
}

.modal-switch .conversion-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F6F9;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 4px;
}

.modal-switch .conversion-box .label {
  font-size: 13px;
  color: #888;
  margin-bottom: 4px;
}

.modal-switch .conversion-box .to .label {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #151515;
}

.modal-switch .conversion-box .amount {
  font-size: 16px;
  font-weight: 700;
  color: #888;
}

.modal-switch .conversion-box .amount.color-amount {
  color: #8BC104;
}

.modal-switch .arrow {
  margin: 0 15px;
  width: 24px;
  height: 24px;
  background: url(../images/common/icon-gray-right.svg) no-repeat center / contain;
}

.modal-switch .info-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  color: #B0B0B3;
}

.modal-switch .modal-footer.two-btns {
  display: flex;
  padding: 16px 20px 20px;
}

.modal-switch .btn.btn-cancel {
  flex: 1;
  padding: 12px 0;
  background: #fff;
  color: #151515;
  font-weight: 500;
}

.modal-switch .btn.btn-confirm {
  flex: 1;
  padding: 12px 0;
  background: #000;
  color: #e0ff63;
  font-weight: 700;
}

.bottom-area.two-btns .container {
  display: flex;
}

.bottom-area.two-btns .btn {
  flex: 1;
  font-weight: 700;
  padding: 12px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.bottom-area.two-btns .btn.btn-cancel {
  padding: 12px 0;
  background: #fff;
  color: #151515;
  font-weight: 500;
  border: 1px solid #E5E5E8;
}

.bottom-area.two-btns .btn + .btn {
  margin-left: 8px;
}

/* //캐시전환 퍼블 */
/* 약관 상세 모달 */
.modal-terms .modal-content {
  height: calc(100% - 60px);
}

.modal-terms .modal-body {
  height: calc(100% - 60px);
  overflow: hidden;
}

.modal-terms .nav {
  height: 60px;
}

.modal-terms .nav .owl-stage-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 59px;
}

.modal-terms .nav .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
}

.modal-terms .nav .owl-nav > div {
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: 1px solid #151515;
}

.modal-terms .nav .owl-nav .owl-next {
  margin-left: -1px;
}

.modal-terms .nav .owl-nav > div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -2px;
  width: 12px;
  height: 12px;
  border-top: 1px solid #151515;
  border-left: 1px solid #151515;
}

.modal-terms .nav .owl-nav .owl-prev:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-terms .nav .owl-nav .owl-next:before {
  margin-left: -9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.modal-terms .nav .owl-nav > div.disabled:before {
  border-color: #e1e1e1;
}

.modal-terms .nav .item {
  padding-right: 60px;
  height: 60px;
}

/* 시행일 미표시 */
.modal-terms .nav .item.has-select {
  padding-right: 165px;
}

/* 시행일 표시 */
.modal-terms .nav .item h2 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #151515;
  line-height: 1.3;
  word-break: break-all;
}

.modal-terms .nav .item .select-sm {
  position: absolute;
  top: 0;
  right: 58px;
  padding: 0 0 0 10px;
  width: 100px;
  height: 30px;
  border: 1px solid #151515;
  background-position: right 5px center;
  font-size: 12px;
  line-height: 28px;
}

.modal-terms:not(.modal-fullpage) .terms {
  width: 100%;
  height: calc(100% - 65px);
  text-align: left;
}

.modal-terms .terms h3 {
  margin: 0.214em 0;
}

.modal-content {
  max-width: 320px;
}

.modal-slide .modal-body {
  max-width: 700px;
}

.modal .terms, .modal .terms p {
  display: block;
  font-size: 11px;
  color: #151515;
  word-break: normal;
  text-align: left;
  line-height: inherit;
}

#content {
  display: flex;
  flex-direction: column;
}

.headline {
  font-family: Pretendard;
  padding-top: 20px;
  color: #151515;
  word-break: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 0 12px;
}

.headline.center {
  text-align: center;
  margin-top: 20px;
}

.headline.center .title {
  font-weight: 400;
}

.headline.center .title .highlight {
  font-weight: 700;
}

.highlight:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  padding: 0 1px;
  width: 100%;
  height: 12px;
  display: inline-block;
  background-color: #E0FF63;
}

.modal-slide.type-title .modal-head {
  position: relative;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.3px;
  text-align: left;
  color: #151515;
  min-height: 65px;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
  padding: 20px;
}

.modal-slide.type-title .modal-body {
  overflow-y: auto;
  /* max-height: calc(80vh - 68px); */
  padding: 0;
  border-radius: 0;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  min-height: inherit;
  color: #151515;
}

.modal-slide .modal-footer {
  max-width: 700px;
}

.container {
  max-width: 700px;
}

.lottie-loading {
  display: block;
  width: 150px;
  height: 47px;
  transform-origin: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
