@font-face {
	font-family: 'GangwonEduSaeeum';
	font-weight: 400;
	font-display: swap;
	src: local('GangwonEduSaeeum Regular'), url('GangwonEduSaeeum.woff') format('woff2'), url('GangwonEduSaeeum.woff2') format('woff');
}