@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../Paperlogy/Paperlogy-7Bold.woff2') format('woff2'),
        url('../Paperlogy/Paperlogy-7Bold.woff') format('woff'),
        url('../Paperlogy/Paperlogy-7Bold.otf') format('opentype'),
        url('../Paperlogy/Paperlogy-7Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../Paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2'),
        url('../Paperlogy/Paperlogy-8ExtraBold.woff') format('woff'),
        url('../Paperlogy/Paperlogy-8ExtraBold.otf') format('opentype'),
        url('../Paperlogy/Paperlogy-8ExtraBold.ttf') format('truetype');
}