/*
눈누 : https://noonnu.cc/font_page?search=%EC%96%B4%EA%B7%B8%EB%A1%9C%EC%B2%B4
샌드박스 어그로체 https://sandbox.co.kr/fonts/aggro

https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff
https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff
https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff
*/

@font-face {
	font-family: 'SBAggro';
	src: url('SBAggroL.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'SBAggro';
	src: url('SBAggroM.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'SBAggro';
	src: url('SBAggroB.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}
