@charset "UTF-8";
@import url(../fonts/notosanskr-v13/notosanskr.min.css);
@import url(../fonts/roboto/roboto.min.css);

/* base */
html { font-size: 16px; }
body { min-width: 320px; font-family: Roboto, 'Noto Sans KR', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; font-size: 14px; letter-spacing: -0.03em; color: #767676; }
strong { font-weight: 500; }
a:hover { text-shadow: none; color: #faa61a; }
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url("../images/select-bg.png") no-repeat; background-size: 15px; background-position: right 10px center; }
small, .small { font-size: 86%; }

/* input */
input[type='number'] { -moz-appearance: textfield; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="radio"], input[type="checkbox"] { width: 14px; height: 14px; }

/* code */
code { line-height: 1.2; padding: 0.2rem 0.3rem }
pre { margin: 0; word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-break: break-all; }

/** for ie **/
/* button:active { border: 0; } */
select::-ms-expand { display: none; } /* 화살표 숨김 for IE10, 11 */
input[type=text]::-ms-clear{ display: none; } /* IE 삭제 버튼(X)) 숨김 */

/** placeholder **/
input::placeholder { color: #bbb; font-weight: 400; height: 18px; line-height: 18px; }
textarea::placeholder { color: #bbb; font-weight: 400; height: inherit; line-height: inherit; }
/* webkit */
input::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
textarea::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #aaa; font-weight: 400; }
textarea:-moz-placeholder { color: #aaa; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #aaa; font-weight: 400; }
textarea::-moz-placeholder { color: #aaa; font-weight: 400; }
/* ie10+ */
input:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
.placeholder { color: #bbb !important; }

/* grid */
@media (min-width: 992px) {
	.container { max-width: 980px; }
}
@media (min-width: 1200px) {
	.container { max-width: 1140px; }
}


/* COMPONENT
----------------------------------------------------------- */
/* ----- form ----- */
.form-control { border-color: #d0d0d0; outline: none; }
select.form-control { padding-right: 30px; }
.form-group .control-label { position: relative; font-size: 13.2px; color: #212121; }
.form-group .control-label.required:after { position: absolute; top: 6px; right: -15px; content: "*"; display: block; font-size: 18px; font-weight: 700; line-height: 1; vertical-align: top; color: #faa61a; }
.form-check-input { margin-top: .25rem; }
.form-check-label { color: #767676; }

/* input file */
.custom-file { height: 38px; }
.file-bg { display: block; position: absolute; top: 1px; right: 1px; width: 80px; height: 36px; overflow: hidden; border-left: 1px solid #d0d0d0; text-align: right; z-index: 2; }
.file-bg:after { position: absolute; top: 0; right: 0; content: '파일 선택'; display: block; width: 79px; background: #fff; border-top-right-radius: 4px; border-bottom-right-radius: 4px; line-height: 36px; text-align: center; z-index: -1; transition: all 0.15s ease-in-out; }
.file-bg:hover:after { background-color: #f3f4f8; color: #212121; }
.file-bg input { width: 100%; height: 36px; opacity: 0; }
.custom-file .btn-icon { position: absolute; top: 6px; right: 80px; width: 30px; }

/* balidation message */
.help-block { color: #faa61a; }

/* ----- button  ----- */
.btn { padding: 9px 15px; font-size: 14px; line-height: 18px; white-space: nowrap; }
.btn-xs { padding: 4px 8px; font-size: 12px; }
.btn-sm { padding: 7px 15px; font-size: 14px; }
.btn-lg,
.search-btn { font-size: 16px; }
.btn-lg { padding-top: 11px; padding-bottom: 11px; height: 42px; }
.btn-icon { padding: .22em .3em; min-width: auto !important; color: #767676; }
.btn-icon:hover,
.btn-icon:focus { color: #212121; box-shadow: none; }
.btn-area { clear: both; }
.btn-area:after { content: ''; clear: both; display: block; }

@media (min-width: 992px) {
	.board-area .btn,
	.modal-footer .btn { min-width: 100px; }
	.board-area .btn-xs { min-width: 50px; }
}

/* ----- badge ----- */
.badge { padding: .166em .416em .25em; border-radius: .25em; font-size: 84%; line-height: 1.1; }

/* ----- card ----- */
.card-light { background: #f5f5f5; }
.card .card-body,
.card .card-footer { padding: 1.25rem 2rem; }
.card.card-sm .card-body { padding: 1.25rem; }
.card .card-icon { font-size: 1.625rem; color: #faa61a; }
.card .card-icon-img { padding: 1.875rem 0 .5rem; }
.card .card-icon-img img { width: 65px; height: auto; }
.card .card-title { margin: .5rem 0 1.5rem; font-size: 1.75rem; font-weight: 400; }
.card .card-title.sm { margin: .5rem 0 1rem; font-size: 1.428rem; }
.card .card-text { line-height: 1.6; }

/* ----- alert ----- */
.modal-body > .alert { font-size: 13px; }
.alert-title { font-size: 15px; color: inherit; }
.alert p { margin: 0; }
.alert-info,
.callout-block.callout-block-info { background-color: #e7f2ff; }

/* ----- table ----- */
/* common */
.table { border-collapse: collapse !important; margin: 0; font-size: 13.2px; }
.table thead th { vertical-align: middle; }
.table th { color: #212121; }
.table a { text-decoration: none; }
.table a.text-link { text-decoration: underline; -webkit-text-decoration-color: rgba(33, 33, 33, 0.3); text-decoration-color: rgba(33, 33, 33, 0.3); }
.table a.text-link:hover { -webkit-text-decoration-color: #faa61a; text-decoration-color: #faa61a; }
.table-responsive > .table-bordered { border-top: 1px solid #767676; }
.table-bordered tr > *:first-child { border-left-color: #c3c3c3; }
.table-bordered tr > *:last-child { border-right-color: #c3c3c3; }
.table-bordered tr:last-child > * { border-bottom-color: #c3c3c3; }
.table-bordered a { color: #212121; text-decoration: underline; }
.table-bordered a.btn { text-decoration: none; }
.table-bordered a.btn-default:hover { color: #212121; }
.table .subject .category { color: #212121; font-weight: 500; }
.table .subject a:hover .category { color: #faa61a; }
.table .subject .badge { vertical-align: .166em; }
.table tr.this td { opacity: .5; }
.table-hover tbody tr { cursor: pointer; }

.table-striped tbody tr:nth-of-type(odd) { background-color: #fafafa; }

/* table cell color (온라인 문서용 포함) */
.table-primary, .table-primary th, .table-primary td,
.docs-article .table-primary, .docs-article .table-primary th, .docs-article .table-primary td { background-color: #fee6bf; }
.table-secondary, .table-secondary th, .table-secondary td,
.docs-article .table-secondary, .docs-article .table-secondary th, .docs-article .table-secondary td { background-color: #d9d9d9; }
.table-info, .table-info th, .table-info td,
.docs-article .table-info, .docs-article .table-info th, .docs-article .table-info td { background-color: #e7f2ff; }
.table-success, .table-success th, .table-success td,
.docs-article .table-success, .docs-article .table-success th, .docs-article .table-success td { background-color: #e7f4eb; }
.table-warning, .table-warning th, .table-warning td,
.docs-article .table-warning, .docs-article .table-warning th, .docs-article .table-warning td { background-color: #fdf6e5; }
.table-danger, .table-danger th, .table-danger td,
.docs-article .table-danger, .docs-article .table-danger th, .docs-article .table-danger td { background-color: #f6e2e1; }
.table-light, .table-light th, .table-light td,
.docs-article .table-light, .docs-article .table-light th, .docs-article .table-light td { background-color: #fff; }
.table-dark, .table-dark th, .table-dark td,
.docs-article .table-dark, .docs-article .table-dark th, .docs-article .table-dark td { background-color: #656668; border-color: #555; color: #fff; }

/* list */
.table-list { text-align: center; }
.table-list th, .table-list td { padding: 8px 5px; vertical-align: middle; }
.table-list .num { width: 60px; }
.table-list .file { width: 30px; }
.table-list .name { width: 70px; }
.table-list .date { width: 70px; white-space: nowrap; }
.table-list .datetime { width: 120px; word-break: keep-all; }
.table-list .button { width: 80px; }
.table-list .button .btn { white-space: nowrap; }
.table-list td.subject { text-align: left; }
.table-list td.subject .count { color: #faa61a; }
.table-list td.subject.reply { padding-left: 1.5rem; }
.table-list td.subject.reply .badge-primary { background: none; border: 1px solid #faa61a; color: #faa61a; }
.table-list td.file svg { color: #b2b2b2; }

/* detail */
.table-detail th, .table-detail td { padding-left: 0; padding-right: 0; }
.table-detail td.subject { padding: 0.625rem 0; font-size: 1.125rem; color: #212121; }
.table-detail td.subject .badge { font-size: 80%; }
.table-detail td.etc span { margin-right: 1.5rem; display: inline-block; }
.table-detail td.etc span:last-child { margin-right: 0; }
.table-detail td.etc span svg,
.table-detail td.file svg:first-child { margin-right: 4px; color: #b2b2b2; }
.table-detail td.file a { color: #212121; }
.table-detail td.file a:hover { color: #faa61a; }
.table-detail td.content { padding: 20px 0; }
.table-detail td.content img { max-width: 100%; }
.table-detail td.content ul,
.table-detail td.content ol { padding-left: 1.2857em; }
.table-detail table { border-collapse: collapse !important; margin: 0 0 1rem; width: 100%; }
.table-detail table th,
.table-detail table td { padding: 5px 10px; border: 1px solid #e0e0e0; vertical-align: middle; }
.table-detail table th { background-color: #f0f0f0; font-weight: 400; color: #212121; }
.table-detail table thead > tr:first-child > th,
.table-detail table tbody > tr:first-child > th,
.table-detail table tbody > tr:first-child > td { border-top: 1px solid #e0e0e0; }
.table-detail table td { color: #767676; word-break: break-all; }
.table-detail table.text-center th,
.table-detail table.text-center td { padding-left: 5px; padding-right: 5px; }
.table-detail table thead th { text-align: center; }
.table-detail table tbody th { background-color: #f8f8f8; }
.table-detail table p,
.table-detail table ul,
.table-detail table ol { margin: 0; }
.table-detail td.content a:not(.btn) { color: #212121; text-decoration: underline; -webkit-text-decoration-color: rgba(33, 33, 33, 0.3); text-decoration-color: rgba(33, 33, 33, 0.3); }
.table-detail td.content a:not(.btn):hover { color: #faa61a;  -webkit-text-decoration-color: #faa61a; text-decoration-color: #faa61a; }

/* write */
.table-write th, .table-write td { padding-left: 0; padding-right: 0; height: 55px; }
.table-write th { padding-top: 18px; width: 80px; }
.table-write td { vertical-align: middle; }
.table-write td .form-group { margin-bottom: 0; }

/* datatable */
div.dataTables_wrapper div.dataTables_info { padding-top: .65em; color: #b2b2b2; }
.table.dataTable { border-collapse: collapse !important; }
tbody tr.datatableSelected { background-color: #fff5e4; }
td.data-left { text-align: left; }
td.data-right { text-align: right; }
td.data-center { text-align: center; }

/* etc */
.table th .required { display: inline-block; height: 15px; overflow: hidden; font-size: 18px; font-weight: 700; color: #faa61a; line-height: 1; vertical-align: -0.32em; }

/* ----- .accordion ----- */
.accordion-board { border-top: 1px solid #767676; font-size: 13.2px; }
.accordion-board .card { border: 0; }
.accordion-board .card .card-header { margin-bottom: 0; padding: 0; background: none; border: 0; border-bottom: 1px solid #e0e0e0; }
.accordion-board .card .card-header .btn { position: relative; padding: 10px 30px 10px 10px; width: 100%; text-align: left; color: #212121; transition: none; font-weight: 400; white-space: normal; }
.accordion-board .card .card-header .btn:after { content: '\f078'; display: compact; position: absolute; top: 50%; right: 10px; margin-top: -7px; font-size: 90%; font-family: 'Font Awesome 5 Free'; font-weight: 900; color: #767676; } /* down icon */
.accordion-board .card.active .card-header .btn:after { content: '\f077'; } /* up icon */
.accordion-board .card .card-header .btn:focus { box-shadow: none; font-weight: 500; }
.accordion-board .card .card-header .btn:hover,
.accordion-board .card.active .card-header .btn,
.accordion-board .card.active .card-header .btn:focus { color: #faa61a; }
.accordion-board .card.active .card-header .btn { font-weight: 500; }
.accordion-board .card .card-header .btn span { display: block; }
.accordion-board .card .card-header .btn span.category { margin-bottom: 3px; font-size: 12px; color: #767676; font-weight: 400; }
.accordion-board .card .card-body { padding: 20px 10px; background: #f5f5f5; border: 0; border-bottom: 1px solid #e0e0e0; line-height: 1.7; }

/* ----- dropdown ----- */
.dropdown > .btn,
.dropup > .btn { border-radius: 0; text-align: left; }
.dropdown-toggle::after { float: right; margin-left: .875rem; border: 0; font-family: 'Font Awesome 5 Free'; font-weight: 900; }
.dropdown .dropdown-toggle::after { content: '\f078'; }
.dropup .dropdown-toggle::after { content: '\f077'; margin-left: .875rem; border: 0; }
.dropdown .dropdown-menu,
.dropup .dropdown-menu { margin: 0; font-size: .875rem; }
.dropdown-divider { border-color: #ededed; }
.navbar .dropdown-toggle::after { top: .05rem; }

/* ----- modal ----- */
.modal { min-width: 320px; }
.modal-header { border-bottom-color: #e0e0e0; }
.modal-footer { justify-content: center; border-top-color: #e0e0e0; }

/* ----- window popup(서비스 이용약관 팝업) ----- */
.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.popup .header { position: absolute; top: 15px; left: 15px; right: 15px; padding-bottom: 15px; border-bottom: 2px solid #212121; }
.popup .header .title { margin: 0; font-size: 20px; line-height: 30px; letter-spacing: -0.05em; }
.popup .main { position: absolute; top: 75px; left: 15px; right: 15px; bottom: 15px; overflow: hidden; overflow-y: auto; }
@media only screen and (min-device-width: 992px) {
	.popup .header { top: 30px; left: 30px; right: 30px; padding-bottom: 30px; }
	.popup .header .title { font-size: 28px; }
	.popup .main { top: 120px; left: 30px; right: 30px; bottom: 30px; }
}

@media (max-width: 991px) {
	.card .card-title { font-size: 1.5rem; }
	.card .card-body,
	.card .card-footer { padding: 1.25rem; }
	.table-list .num { display: none; }
	.table-list .subject { padding-left: 0; }
	.table-list .file,
	.table-list .date { padding-left: 0; padding-right: 0; }
	.table-list.table-bordered .subject,
	.table-list.table-bordered .date { padding-left: 8px; padding-right: 8px; }
	.table-write td .count { display: inline-block; margin-top: 5px; }
}

@media (min-width: 992px) {
	.table { font-size: 14px; }
	.table-list { table-layout: fixed; }
	.table-list .num,
	.table-list .name { width: 100px; }
	.table-list .file { width: 40px; }
	.table-list .date { width: 100px; }
	.table-list .datetime { width: 160px; }
	.table-list .button { width: 150px; }
	.table-list td.subject a { display: inline-block; max-width: 92%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: top; }
	.table-list td.subject.reply { padding-left: 2rem; }
	.table-list td.subject .count { display: inline-block; color: #faa61a; vertical-align: top; }
	.table-detail td.etc span { margin-right: 2.5rem; }
	.table-detail td.content { padding: 30px 0; }
	.table-write th { padding-top: 18px; width: 200px; }
	.table-write td.category .form-group { max-width: 250px; }

	.accordion-board { font-size: 14px; }
	.accordion-board .card .card-header .btn { padding: 10px 60px 10px 20px; }
	.accordion-board .card .card-header .btn:after { right: 20px; }
	.accordion-board .card .card-header .btn span { float: left; }
	.accordion-board .card .card-header .btn span.category { margin-bottom: 0; width: 15%; font-size: 14px; }
	.accordion-board .card .card-header .btn span.category + span.subject { width: 85%; }
	.accordion-board .card .card-body { padding: 30px 20px; }
}

/* LAYOUT
----------------------------------------------------------- */
/* ----- skip navigation ----- */
#skipNav { position: absolute; left: 0; top: 0; width: 100%; list-style-type: none; z-index: 1050; }
#skipNav li a { position: absolute; left: 0; top: -50px; display: block; width:100%; padding: 10px 0; background: #faa61a; font-size: 1rem; color: #fff; text-align: center; text-decoration: none; z-index: 2; }
#skipNav li a:active,
#skipNav li a:focus { top: 0; }

/* ----- header ----- */
.header .branding { min-height: 69px; }
.header .navbar-brand { padding: 6px 0; font-size: 0; line-height: 40px; }
.header .site-logo img { width: auto; height: 20px; }
.header .site-logo .logo-text { margin-left: .5rem; font-size: 18px; font-weight: 500; vertical-align: middle; }
.header .site-logo .logo-text .sub-title { position: relative; margin-left: .3rem; padding-left: .5rem; color: #faa61a; }
.header .site-logo .logo-text .sub-title:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -0.5rem; width: 1px; height: 1rem; background: #aaa; }
.header .navbar-toggler { float: right; }
.header .navbar-nav .btn { margin-top: 5px; padding: 6px 15px; font-size: 13.2px; font-weight: 400; }

.header .top-search-box { margin: 0 30px; }
.top-search-box .search-form .search-input { padding: 10px 45px 10px 20px; height: 40px; background: #f0f0f0; border: 0; border-radius: 20px; line-height: 20px; }
.top-search-box .search-form .search-btn { top: 0; padding: 0 5px 0 0; width: 45px; height: 38px; line-height: 36px; }
.top-search-box .search-form .search-btn i { vertical-align: 0; }

.header .member-nav li { display: inline-block; }
.header .member-nav li + li { margin-left: .5rem; }
.header .member-nav li a { position: relative; display: block; padding: .5rem; font-size: 13.2px; color: #b2b2b2; white-space: nowrap; }
.header .member-nav li a:hover { color: #faa61a; }

/* ----- sub visual ----- */
.sub-visual .container { background: url("../images/sub-visual-service.png") right bottom no-repeat; background-size: 1140px auto; }
.service-wrapper .sub-visual .container { background-image: url("../images/sub-visual-service.png"); }
.docs-wrapper .sub-visual .container { background-image: url("../images/sub-visual-docs.png"); }
.forum-wrapper .sub-visual .container { background-image: url("../images/sub-visual-forum.png"); }
.admin-wrapper .sub-visual .container { background-image: url("../images/sub-visual-admin.png"); }
.mypage-wrapper .sub-visual .container { background-image: url("../images/sub-visual-mypage.png"); }
.sub-visual .page-heading,
.sub-visual .page-heading + p { margin-bottom: 0; }
.sub-visual.home { margin-bottom: 30px; }
.sub-visual.home .container { margin-bottom: -30px; padding-left: 30px; min-height: 300px; background-image: url("../images/sub-visual-service-home.png"); }
.service-wrapper .sub-visual.home .container { background-image: url("../images/sub-visual-service-home.png"); }
.docs-wrapper .sub-visual.home .container { background-image: url("../images/sub-visual-docs-home.png"); }
.forum-wrapper .sub-visual.home .container { background-image: url("../images/sub-visual-forum-home.png"); }
.admin-wrapper .sub-visual.home .container { background-image: url("../images/sub-visual-admin-home.png"); }
.mypage-wrapper .sub-visual.home .container { background-image: url("../images/sub-visual-mypage-home.png"); }
.sub-visual.home .page-heading { margin-bottom: .5em; font-size: 2.5rem; font-weight: 300; }

/* ----- lnb ----- */
.lnb { border-bottom: 1px solid #e0e0e0; }
.lnb .navbar { padding: 0; font-weight: 400; }
.lnb .navbar li + li { margin-left: 1.5rem; }
.lnb .navbar .nav-link { padding: 20px 3px; margin-bottom: -1px; color: #b2b2b2; font-weight: 400; line-height: 20px; }
.lnb .navbar .nav-link:hover { color: #faa61a; }
.lnb .navbar .active .nav-link { font-weight: 500; color: #faa61a; box-shadow: inset 0 -3px 0 rgba(250,166,26,.7); }

/* ----- sub title ----- */
.page-title .page-heading { margin: 0; padding: 1em 0; font-size: 2.5rem; font-weight: 300; text-align: center; }
.page-title .page-heading .text-muted.small { margin-top: .5rem; font-size: 13.2px; }

/* ----- content ----- */
#content { margin-top: -90px; padding-top: 90px; }
.page-content { padding-bottom: 6rem; }
.page-content .icon-holder-big { margin: 0 auto 30px; width: 96px; height: 96px; border: 3px dashed #b2b2b2; border-radius: 50%; font-size: 46px; line-height: 86px; color: #b2b2b2; }
.sub-visual.home ~ .page-content .card-body { word-break: keep-all; }

/* ----- footer ----- */
.footer { font-size: 0.875rem; }
.footer .sitemap { padding: 50px 0 30px; border-bottom: 1px solid #454545; }
.footer .sitemap strong { color: #b2b2b2; }
.footer .footer-col .col-heading { color: #fff; font-weight: 300; }
.footer .footer-col a { color: #888; }
.footer .company-info { padding: 20px 0 50px; line-height: 1.7; }
.footer .company { padding-top: 30px; color: #b2b2b2; }
.footer .company span { display: inline-block; margin-right: 1rem; }
.footer .copyright { margin-top: .5rem; color: #767676; }
.footer .dropdown,
.footer .dropup { padding-top: 30px; max-width: 350px; }
.footer .dropdown .btn,
.footer .dropup .btn { padding-top: 10px; padding-bottom: 10px; border: 0; background: #464646; color: #b2b2b2; }
.footer .dropdown-menu { width: 100%; }

.footer .btn-top { display: none; position: fixed; right: 2rem; bottom: 2rem; z-index: 9; padding-bottom: 3px; width: 60px; height: 60px;
	border-radius: 50%; border: 0; background-color: #212121; font-size: 0; line-height: 0; color: #fff; text-align: center; opacity: .7; }
.footer .btn-top span { display: inline-block; width: 0; font-size: 0; line-height: 0; }
.footer .btn-top svg { font-size: 20px; }
@media (max-width: 375px) {
	.footer .btn-top { bottom: 1rem; right: 1rem; width: 50px; height: 50px; }
	.footer .btn-top svg { font-size: 18px; }
}

@media (max-width: 991px) {
	.header .site-logo .logo-text .sub-title { display: none; }
	.header .navbar-collapse { position: relative; position: fixed; padding-top: 120px; top: 0; bottom: 0; left: 0; width: 100%; min-width: 320px; overflow-y: scroll; background: #fff; z-index: -1; }
	.header .navbar-collapse:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 120px; background: #fff; border-bottom: 1px solid #ededed; z-index: -1; }
	.header .gnb { height: 100%; overflow-y: scroll; }
	.header .gnb > li { border-bottom: 1px solid #ededed; }
	.header .gnb > li > a { position: relative; padding-left: 15px; padding-right: 15px; }
	.header .gnb > li.show > a,
	.header .gnb > li > a:focus { background: #fef2dd; }
	.header .gnb > li > ul { background: #fafafa; border-top: 1px solid #ededed; border-radius: 0; }
	.header .gnb a:focus { outline: none; }
	.header .gnb ul a { padding-top: 8px; padding-bottom: 8px; }
	.header .top-search-box { position: absolute; top: 65px; left: 15px; right: 110px; margin: 0; max-width: 300px; }
	.header .member-nav { position: absolute; top: 69px; right: 15px; }
	.header .member-nav li + li { margin-left: .5rem; }
	.header .member-nav li a { padding: 0; width: 32px; height: 32px; border-radius: 50%; background: #b2b2b2; font-size: 0; line-height: 0; color: #fff; text-align: center; }
	.header .member-nav li a svg { height: 32px; font-size: .875rem; vertical-align: middle; }
	.header .member-nav li a span { display: inline-block; width: 0; font-size: 0; line-height: 0; }

	.sub-visual, .lnb { display: none; }
	.page-title .page-heading { font-size: 1.75rem; }
}
@media (min-width: 992px) {
	.header .gnb .dropdown .dropdown-toggle::after { display: none; }
}
@media (min-width: 1200px) {
	.header .site-logo img { height: 22px; }
	.header .gnb > li + li { margin-left: 40px; }

	.lnb .navbar li + li { margin-left: 2rem; }

	.sub-visual.home .container { padding-left: 50px; min-height: 360px; }
	.sub-visual.home .page-heading { font-size: 2.875rem; }
}


/* DOCS
----------------------------------------------------------- */
/* ----- header ----- */
.docs-sidebar-toggler { top: 14px; background-color: transparent; }
.docs-logo-wrapper { top: 5px; }
.docs-top-utilities { padding-top: 14px; }

/* footer */
.docs-wrapper ~ .footer:not(.theme-bg-dark) { margin-left: 300px; }
@media (max-width: 1199.98px) {
	.docs-wrapper ~ .footer:not(.theme-bg-dark) { margin-left: 0; }
}

/* ----- side bar ----- */
.docs-sidebar { letter-spacing: -0.06em; }
.docs-sidebar .top-search-box { padding: 1rem 1rem 0; }
.docs-nav .nav-item { position: relative; margin: 0; }
.docs-nav .nav-link { position: relative; display: block; padding-right: 30px !important; font-size: 16px; color: #767676; line-height: 2.1875em; font-weight: 400; }
.docs-nav .nav-link:before { display: none; }
.docs-nav .nav-item .btn-bookmark { position: absolute; top: .4375rem; right: -0.4rem; padding: .5rem; }
.docs-nav .nav-item .nav-item .btn-bookmark { top: .125rem; }
.docs-nav .nav-item .nav-item .nav-item .btn-bookmark { top: 0; }
.docs-nav .nav-link .theme-icon-holder { line-height: 1.3; }
.docs-nav .btn-bookmark:not(.active) .off { display: block; color: #b2b2b2; }
.docs-nav .btn-bookmark:not(.active) .on { display: none; }
.docs-nav .btn-bookmark.active .off { display: none; }
.docs-nav .btn-bookmark.active .on { display: block; color: #767676; }
.docs-nav .btn-bookmark:focus { box-shadow: none; }

.docs-nav ul { width: 100%; list-style-type: none; padding: 0; margin: 0; }
.docs-nav > ul > li + li.nav-item { margin-top: 1rem; }
.docs-nav > ul > li > .nav-link { color: #212121; font-size: 20px; font-weight: 500; }
.docs-nav > ul > li > ul > li > .nav-link { font-size: 16px; }
.docs-nav > ul > li > ul > li > ul > li > .nav-link { font-size: 14px; }

.docs-nav ul ul > li > .nav-link { border-left: 3px solid #f3f4f8; padding-left: 15px !important; }
.docs-nav ul ul ul li .nav-link { padding-left: 35px !important; }
.docs-nav .nav-link.active { border-left-color: #faa61a; }

/* ----- docs content ----- */
.docs-article h1,
.docs-article h2,
.docs-article h3,
.docs-article h4,
.docs-article h5 { margin-bottom: 1rem; color: #212121; }
.docs-article .docs-section .docs-section .section-heading,
.docs-article h3 { font-size: 1.5rem; }
.docs-article h4 { font-size: 1.125rem; }
.docs-article h5 { font-size: 1rem; }
.docs-article .docs-section > .docs-section { border-top: 1px dashed #e0e0e0; border-bottom: 0; }
.docs-article .docs-section > * ~ .docs-section { margin-top: 2rem; }
.docs-article .docs-section > .docs-section + .docs-section { margin-top: 0; }
.docs-article .docs-section img { max-width: 100%; }

/* table */
.docs-article table { border-collapse: collapse !important; margin: 0 0 1rem; width: 100%; }
.docs-article table th,
.docs-article table td { padding: 5px 10px; border: 1px solid #e0e0e0; vertical-align: middle; }
.docs-article table th { background-color: #f0f0f0; color: #212121; }
.docs-article table td { color: #767676; word-break: break-all; }
.docs-article table.text-center th,
.docs-article table.text-center td { padding-left: 5px; padding-right: 5px; }
.docs-article table thead th { text-align: center; font-weight: 500; }
.docs-article table tbody th { background-color: #f8f8f8; font-weight: 400; }
.docs-article table a { color: #212121; text-decoration: underline; }
.docs-article table code { display: inline-block; }

/* list */
.docs-article li { padding-top: 0; padding-bottom: 0; margin-top: .5em; margin-bottom: .5em; }

@media (max-width: 991px) {
	.header .docs-branding .member-nav { top: 19px; right: 15px; }
	.docs-article { padding-left: 0; padding-right: 0; }
	.docs-article .docs-section .docs-section .section-heading,
	.docs-article h3 { font-size: 1.25rem; }
	.docs-article h4 { font-size: 1.125rem; }
	.docs-article h5 { font-size: 1rem; }
}

/* html highlighter */
.hljs { padding: 1.25rem; }
.docs-code-block { margin-bottom: 1rem; padding: 0; }
.docs-code-block code { line-height: 1.5; }

/* help block */
.docs-article .callout-block { margin-top: 0; }


/* CONTENT
----------------------------------------------------------- */
/* ----- section ----- */
.section ~ .section { margin-top: 50px; }
.section-title { font-size: 22px; font-weight: 400; color: #212121; }

/* 	----- board ----- */
caption, legend { margin: 0; padding: 0; font-size: 0; }

/* search */
.board-search { margin-bottom: 2rem; background: #f0f0f0; border: 0; text-align: center; }
.board-search .card-body { padding: 1.25rem; }
.board-search .form-control,
.board-search .btn { height: 42px; padding-top: 11px; padding-bottom: 11px; }
.board-search .btn { font-size: 16px; }
@media (max-width: 575px) {
	.board-search .btn { width: 120px; }
}
@media (min-width: 992px) {
	.board-search .btn { width: 120px; }
}

/* board area */
.board-area .btn-area { clear: both; margin-top: 1.5rem; }
.board-area .btn-area:after { content: ''; clear: both; display: block; }
.board-area .btn-area .btn ~ .btn { margin-left: .2em; }
.board-area .content { line-height: 1.7; }
.board-area .info { margin-top: 8px; font-size: 13.2px; color: #b2b2b2; line-height: 1.3; }
.board-top { margin-bottom: .25rem; }
.board-bottom .pagination { margin: 1.5rem auto 0; }

/* table */
.board-area .table ~ .table-responsive { margin-top: 3rem; }

/* ----- comment ----- */
.comment-area .form-group { margin-bottom: 10px; }
.comment-write { padding: 30px 0 10px; }
.comment-write label { color: #212121; }
.comment-write .btn { white-space: nowrap; }
.comment-list .item { padding: 1.25rem 0; border-bottom: 1px solid #e0e0e0; }
.comment-list .item .comment-header svg { margin-right: 2px; }
.comment-list .item .name { margin-right: 10px; color: #212121; }
.comment-list .item .name svg { color: #b2b2b2; }
.comment-list .item .date { margin-left: 1rem; font-size: 13.2px; line-height: 2em; color: #b2b2b2; }
.comment-list .item .btn-icon { margin-top: -3px; }
.comment-list .item .content,
.comment-list .item .btn-area { margin-top: .5rem; }

/* paginate */
.page-link { border-color: #e0e0e0; color: #212121; }
.page-link:hover { background-color: #faa61a; border-color: #faa61a; color: #fff; }
.page-item.disabled .page-link { border-color: #e0e0e0; color: #d0d0d0; }
.page-item.active .page-link { background-color: #f0f0f0; border-color: #e0e0e0; color: #212121; }

/* ----- 서비스, 마이 페이지 ----- */
/* 서비스 소개, 서비스별 테스트 신청, 나의 서비스 */
.section .section-title { margin-bottom: .625rem; line-height: 1.3; }
.section .section-content { line-height: 1.7; }
.section .status { margin-bottom: .625rem; font-size: 13.2px; color: #b2b2b2; }
.section .status span { margin-right: .5em; }
.section .status span:last-child { margin-right: 0; }
.section .status .badge { padding: 6px; min-width: 55px; font-size: 13px; }

/* 서비스별 테스트 신청 */
.request-test-area .section-content { padding-top: 1.25rem; border-top: 1px solid #e0e0e0; font-size: 15px; }
.request-test-area .section-content ~ .btn-area { margin-top: 1.25rem; }

/* 마이페이지 홈 */
.sub-visual.home ~ .page-content .card-footer { background: #fff; font-size: 16px; color: #212121; line-height: 1.2; }
.sub-visual.home ~ .page-content .card-footer .title { color: #faa61a; }
.sub-visual.home ~ .page-content .card-footer .value { margin: 0 0 0 auto; }
.sub-visual.home ~ .page-content .card-footer .value strong { display: inline-block; margin-top: -0.25rem; font-size: 200%; font-weight: 500; line-height: 1.1; }

/* 나의 서비스 */
.myservice-area td { word-break: break-all; }

/* 북마크 */
.bookmark-area .table-list th { white-space: nowrap; }
.bookmark-area .table-list .subject a { width: 100%; overflow: visible; white-space: normal; }

@media (max-width: 991px) {
	.request-test-area .section-content { font-size: 14px; }
	.bookmark-area .table-list .datetime { display: none; }
}

/* ----- 통합 검색 ----- */
.search-category { clear: both; margin: 0; padding: 0; list-style-type: none; }
.search-category:after { content: ''; clear: both; display: block; }
.search-category li { float: left; margin-right: 50px; }
.search-category a { display: block; padding: 3px 0; font-size: 16px; color: #b2b2b2; }
.search-category a:hover { text-decoration: none; color: #faa61a; }
.search-category .active a { color: #faa61a; font-weight: 500; }
.search-result .result-guide { margin-top: 20px; padding: 1.5rem 1rem; border: 1px solid  #e0e0e0; border-radius: 0.25rem; font-size: 16px; text-align: center; color: #212121; }
.search-result .section { padding: 50px 0 0; border-top: 1px solid  #e0e0e0; }
.search-result .result-guide + .section { border-top: 0; }
.search-result .result-list { padding: 0; list-style-type: none; }
.search-result .result-list li { margin-top: 1.5em; }
.search-result .result-list li .text-link { display: inline-block; margin-bottom: .357em; font-size: 110%; }
.search-result .keyword { background: #fef2dd; color: #faa61a; }
.search-result .pagination { margin-top: 50px; }

@media (max-width: 991px) {
	.search-category li { margin-right: 0; width: 33.333%; }
	.search-result .result-guide { font-size: 15px; }
	.search-result .result-list { font-size: 13.2px; }
	.search-result .section { padding-top: 40px; }
	.search-result .section ~ .section { margin-top: 40px; }
}

/* ----- 약관 공통 ----- */
.terms { font-size: 14px; line-height: 1.4; color: #767676; }
.terms h3 { font-size: 18px; color: #faa61a; }
.terms h4 { font-size: 16px; }
.terms h5 { font-size: 14px; }
.terms h3,
.terms h4,
.terms h5,
.terms p,
.terms li,
.terms table { margin: .25em 0; }
.terms .indent { padding-left: 1.333em; }
.terms.scroll { padding-left: 3px; padding-right: 3px; font-size: 12px; }
.terms.scroll h3 { font-size: 16px; }
.terms.scroll h4 { font-size: 14px; }
.terms.scroll h5 { font-size: 12px; }


/* ----- 회원 폼(로그인, 회원가입, 회원정보) ----- */
.member-area { color: #212121; }
.member-area .info { margin-top: .5rem; font-size: 13.2px; color: #b2b2b2; }
.member-area .form-text { word-break: break-all; }
.member-area .btn-area .btn { width: 100%; }
.member-area .agree-terms .terms.scroll { margin-bottom: .3rem; padding: 10px 15px; max-height: 100px; overflow: hidden; overflow-y: auto; background: #f5f5f5; border: 1px solid #d0d0d0; border-radius: 0.25rem; }
.member-area .agree-terms + .agree-terms { margin-top: 1rem; }

/* ----- 관리자 모드 ----- */
.admin-wrapper .table-bordered th,
.admin-wrapper .table-bordered td { padding-top: 5px; padding-bottom: 5px; height: 28px; font-size: 13.2px; }

/* ----- 오류 ----- */
.error-wrapper { position: relative; display: flex; justify-content: center; align-items: center; padding: 30px 15px; min-height: 100%; text-align: center; }
.error-wrapper .error-icon { margin-bottom: 1rem; }
.error-wrapper .error-icon img { width: 126px; }
.error-wrapper h1 { font-size: 25px; font-weight: 400; }
.error-wrapper #content { margin: 0; padding: 0; }
.error-wrapper .btn { min-width: 125px; }
.error-wrapper .btn + .btn { margin-left: .625rem; }
@media (min-width: 992px) {
	.error-wrapper { font-size: 16px; }
	.error-wrapper .error-icon { margin-bottom: 2rem; }
	.error-wrapper h1 { font-size: 38px; font-weight: 300; }
	.error-wrapper .btn + .btn { margin-left: .625rem; }
}

/* ----- 로딩 ----- */
.loading { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); z-index: 9999; font-size: 0; line-height: 0; }
.loading:after { content: ''; position: absolute; top: 50%; left: 50%; margin: -24px 0 0 -24px; width: 48px; height: 48px; border: 4px solid #fff; border-top: 4px solid #faa61a; border-radius: 50%; animation:spin 1s linear infinite; }
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ----- main ----- */
.main-content .section ~ .section { margin-top: 0; }

/* visual */
.main-content .main-visual { font-size: 16px; line-height: 1.4; color: #212121; word-break: keep-all; }
.main-content .main-visual .page-heading { font-size: 26px; font-weight: 300; }
.main-content .main-visual .page-heading strong { font-weight: 500; }
.main-content .main-visual .hero-figur { max-width: 100%; }
.main-content .main-visual .btn-area .btn { min-width: 140px; }

/* feature */
.main-content .feature { padding: 60px 0; background: #f6f7f9; text-align: center; }
.main-content .feature .section-title { font-size: 26px; }

/* recent post */
.main-content .recent-post { padding: 60px 0 40px; }
.main-content .recent-post .section-title { margin-bottom: 1.25rem; font-size: 22px; }
.main-content .recent-post a { color: #767676; }
.main-content .recent-post a:hover { color: #faa61a; text-decoration: none; }
.main-content .recent-post .btn-more { padding: .5rem; font-size: 15px; line-height: 1; }
.main-content .recent-post .list { margin: 0 0 60px; padding: 0; list-style-type: none; }
.main-content .recent-post .list li { display: table; table-layout: fixed; width: 100%; border-top: 1px solid #d0d0d0; }
.main-content .recent-post .list li:first-child { border-top: 0; }
.main-content .recent-post .list a { display: table-row; font-size: .875rem; line-height: 22px; }
.main-content .recent-post .list a .title-wrap { display: table-cell; padding: 10px 0; }
.main-content .recent-post .list a .date { display: table-cell; padding: 10px 0; width: 85px; color: #b2b2b2; text-align: right; }
.main-content .recent-post .list a .category { float: left; display: inline-block; margin-right: 10px; padding: 0 10px; min-width: 60px; height: 22px; background: #faa61a; border-radius: 11px; font-size: 87.5%; color: #fff; text-align: center; vertical-align: top; }
.main-content .recent-post .list a .subject { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media (min-width: 992px) {
	.main-content .recent-post .row { margin-left: -30px; margin-right: -30px; }
	.main-content .recent-post .col-12 { padding-left: 30px; padding-right: 30px; }
	.main-content .main-visual .page-heading,
	.main-content .feature .section-title { font-size: 32px; }
	.main-content .main-visual .hero-figur { max-width: 100%; }
	.main-content .recent-post .list a .date { width: 100px; }
}

@media (min-width: 1200px) {
	.main-content .main-visual { font-size: 18px; }
	.main-content .main-visual .page-heading,
	.main-content .feature .section-title { font-size: 38px; }
}


/* UTITLIY
----------------------------------------------------------- */
/* display */
.pull-left { float: left; }
.pull-right { float: right; }

/* text */
.text-link,
* .text-link { text-decoration: underline; color: #212121; -webkit-text-decoration-color: rgba(33, 33, 33, 0.3); text-decoration-color: rgba(33, 33, 33, 0.3); }
.text-link:hover { color: #faa61a; -webkit-text-decoration-color: #faa61a; text-decoration-color: #faa61a; }
.text-muted { color: #b2b2b2; }
.text-dark { color: #212121 !important; }
.big { font-size: 20px; }
.word-break-all { word-break: break-all; }
.word-keep-all { word-break: keep-all; }
.text-lg { font-size: 120%; }
.text-sm { font-size: 85%; }

/* color */
.bg-wait { background-color: #f0f0f0; }
.docs-article table tbody .bg-wait th { background-color: transparent; }
tr.bg-wait th, tr.bg-wait td { opacity: .65; }


/* border */
 .border-theme { border-color: #e0e0e0 !important; }
