.container { position: relative; background: url(../../public/images/retto/balso-lotto-receive-bg.png) 0 0 / 100% 246px no-repeat; } 
.container .bgImg1 { position: absolute; top: 73px; right: 32px; z-index: 1; width: 120px; height: 120px; background: url(../../public/images/retto/balso-lotto-receive-1.png) 0 0 / cover no-repeat; } 
.container .bgImg2 { position: absolute; top: 123px; right: 113px; width: 44px; height: 43px; background: url(../../public/images/retto/balso-lotto-receive-2.png) 0 0 / cover no-repeat; } 
.container .bgImg3 { position: absolute; top: 24px; right: 0; width: 56px; height: 74px; background: url(../../public/images/retto/balso-lotto-receive-3.png) 0 0 / cover no-repeat; } 
.container .topWrap { padding: 32px; } 
.container .topWrap h3 { font-size: 20px; line-height: 28px; font-weight: 600; letter-spacing: -0.02em; } 
.container .topWrap .textBox { margin-top: 27px; } 
.container .topWrap .textBox .topText { font-size: 15px; letter-spacing: -0.02em; opacity: 0.7; line-height: 18px; } 
.container .topWrap .textBox .botText { margin-top: 3px; font-size: 30px; letter-spacing: -0.02em; font-weight: 700; line-height: 36px; } 
.container .botWrap { padding: 40px 24px 0; border-radius: 40px 40px 0 0; background-color: #fff; } 
.container .botWrap li img { width: 56px; height: 56px; } 
.container .botWrap li { display: flex; align-items: center; margin-bottom: 30px; } 
.container .botWrap li:last-child { margin-bottom: 0; } 
.container .botWrap li .textBox { margin-left: 15px; } 
.container .botWrap li .textBox .titleText { font-size: 16px; font-weight: 600; } 
.container .botWrap li .textBox .subText { margin-top: 4px; color: #748BFF; font-size: 14px; } 
.container .botWrap li button { width: 60px; height: 32px; margin-left: auto; border-radius: 20px; font-size: 12px; font-weight: 700; }
.container .botWrap li button.receiveBtn { color: #fff; background-color: #748BFF; }
.container .botWrap li button.viewBtn { color: #8D94A0; background-color: #F4F4F8; }