.container { padding-top: 30px; } 
.container h2 { font-size: 24px; font-weight: 700; line-height: 32.4px; letter-spacing: -0.02em; text-align: center; } 
.container .visualBox { position: relative; width: 325px; margin: auto; } 
.container .visualBox .showText { position: absolute; height: 52px; opacity: 0; animation: fadeUp 0.5s 1s ease-in-out forwards; }  
.container .visualBox .showText.showText1 { left: 17px; top: 5px; width: 197px; background: url(../../public/images/retto/write-review-textbox-01.png) 0 0 / cover no-repeat; animation-delay: 1s; }  
.container .visualBox .showText.showText2 { right: 0; top: 50px; width: 120px; background: url(../../public/images/retto/write-review-textbox-02.png) 0 0 / cover no-repeat; animation-delay: 1.3s; }  
.container .visualBox .showText.showText3 { left: 0; top: 71px; width: 109px; background: url(../../public/images/retto/write-review-textbox-03.png) 0 0 / cover no-repeat; animation-delay: 1.6s; }  
.container .visualBox .visualImg { position: relative; z-index: 1; width: 325px; height: 220px; margin: 20px auto -63px; background: url(../../public/images/retto/write-review-moa-01.png) 0 0 / cover no-repeat; } 
.container .visualBox .confettiLottie { position: absolute; left: 50%; top: -64px; transform: translateX(-50%); width: 500px; height: 380px; pointer-events: none; } 
.container .textareaWrap { position: relative; z-index: 2; width: calc(100% - 40px); height: 160px; margin: auto; padding: 16px 16px 30px 16px; border: 1px solid #E2E2E2; border-radius: 12px; background: #fff; } 
.container .textareaWrap textarea { width: 100%; height: 114px; border: none; } 
.container .textareaWrap textarea::placeholder { color: #ccc; font-size: 16px; font-weight: 400; line-height: 21.6px; text-align: left; } 
.container .textareaWrap .textareaLength { position: absolute; right: 16px; bottom: 8px; color: #7d7d7d; font-size: 12px; font-weight: 400; line-height: 18px; letter-spacing: -0.04em; text-align: left; } 
.container .textareaWrap .textareaLength span { margin: 0 2px; color: #ccc; } 
.btnWrap { position: fixed; left: 0; bottom: 30px; width: 100%;; padding: 0 20px; } 

@keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
  
}

