.modalClose { position: absolute; right: 16px; top: 16px; width: 22px; height: 22px; font-size: 0; text-indent: -9999px; background: url('../../public/images/coupon/icon/common/icon-close.svg') center center / cover no-repeat; } 

.bottomSheetBody { padding: 0 20px 0; } 
.bottomSheetBody>h2 { font-size: 22px; line-height: 26px; text-align: center; } 
.bottomSheetBody>p { color: #575757; margin-top: 6px; font-size: 16px; line-height: 19px; text-align: center; } 

/* 리또란? */
.rettoInfo { text-align: center; } 
.rettoInfo h2 { font-size: 22px; } 
.rettoInfo p { margin-top: 8px; color: #575757; font-size: 16px; line-height: 19px; } 
.rettoInfo .jewelWrap { display: flex; justify-content: center; margin: 25px 0 17px; } 
.rettoInfo .jewelWrap > div:nth-child(1) > span { animation: jewelRotate 0.4s 1s both; } 
.rettoInfo .jewelWrap > div:nth-child(2) > span { animation: jewelRotate 0.4s 1.2s both; } 
.rettoInfo .jewelWrap > div:nth-child(3) > span { animation: jewelRotate 0.4s 1.4s both; } 
.rettoInfo .textWrap { display: flex; justify-content: space-between; margin-bottom: 30px; padding: 17px 29px; border-radius: 10px; background-color: #f9f9f9; } 
.rettoInfo .textWrap li span { display: block; margin-bottom: 0; color: #575757; font-size: 12px; line-height: 14.4px; } 
.rettoInfo .textWrap li strong { color: #222; font-size: 20px; line-height: 24px; } 
.rettoInfo .jewelBox:nth-child(2)::before { display: block; content: ""; position: absolute; left: -36px; top: 8px; width: 47px; height: 37px; background: url('../../public/images/retto/apply-visual-arrow2.png') 0 0 / 100% auto no-repeat; } 
.rettoInfo .jewelBox:nth-child(2)::after { display: block; content: ""; position: absolute; right: -32px; top: 8px; width: 47px; height: 37px; background: url('../../public/images/retto/apply-visual-arrow2.png') 0 0 / 100% auto no-repeat; } 

.retto .modalContent { padding: 20px 20px 30px; } 
.applyAgree .modalContent { display: flex; flex-direction: column; align-items: center; } 
.applyAgree .modalContent :global .jewelImg { width: 60px; height: 60px; margin-top: 10px; animation: jewelRotate 0.4s 0.3s both; } 
.applyAgree .modalContent:global.ruby .jewelImg { background: url('../../public/images/retto/img-jewel-01.png') 0 0 / cover no-repeat; } 
.applyAgree .modalContent:global.ruby .jewelColor { color: #FF24C2; } 
.applyAgree .modalContent:global.emerald .jewelImg { background: url('../../public/images/retto/img-jewel-02.png') 0 0 / cover no-repeat; } 
.applyAgree .modalContent:global.emerald .jewelColor { color: #10C100; } 
.applyAgree .modalContent:global.diamond .jewelImg { background: url('../../public/images/retto/img-jewel-03.png') 0 0 / cover no-repeat; } 
.applyAgree .modalContent:global.diamond .jewelColor { color: #1A75FF; } 
.applyAgree .modalContent .mainText { margin-top: 6px; color:#575757; font-size: 18px; text-align: center; line-height: 22px; } 
.applyAgree .modalContent .mainText b { color: #151515; } 
.applyAgree .modalContent .subText { margin-top: 12px; color: #575757; font-size: 16px; text-align: center; } 
.applyAgree .modalContent .grayBox { width: 100%; margin-top: 14px; padding: 14px; border-radius: 10px; background-color: #F9F9F9; } 
.applyAgree .modalContent .grayBox dl { display: flex; align-items: center; justify-content: space-between; } 
.applyAgree .modalContent .grayBox dl:nth-child(2) { margin-top: 10px; } 
.applyAgree .modalContent .grayBox dl dt { color: #575757; font-size: 13px; line-height: 15.6px; } 
.applyAgree .modalContent .grayBox dl dd { color: #222; font-size: 14px; font-weight: 700; line-height: 17px; } 
.applyAgree .modalContent .grayBox .accountWrap { margin-left: 5px; color: #222; } 
.applyAgree .modalContent .grayBox .accountWrap img { width: 15px; height: 15px; margin-right: 3.5px; } 
.applyAgree .modalContent .benefitAlertWrap { display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 14px 0 41px; padding-left: 2px; } 
.applyAgree .modalContent .benefitAlertWrap .text { flex: 1; position: relative; display: flex; color: #151515; font-size: 16px; } 
.applyAgree .modalContent .benefitAlertWrap .text::before { display: block; content: ""; width: 14px; height: 14px; margin-top: 4px; margin-right: 3px; background: url('../../public/images/retto/icon-alert.png') 0 0 / cover no-repeat; } 
.applyAgree .modalContent .benefitAlertWrap .text .innerText { position: absolute; left: 17px; bottom: -15px; font-size: 11px; line-height: 13px; color: #575757; } 
.applyAgree .modalContent .benefitAlertWrap .toggleWrap { display: flex; align-items: center; position: relative; width: 44px; height: 24px; padding: 0 3px; background-color: #e2e2e2; border-radius: 22px; transition: 0.3s; } 
.applyAgree .modalContent .benefitAlertWrap .toggleWrap button { position: absolute; left: 3px; width: 18px; height: 18px; background-color: #fff; border-radius: 50%; transition: 0.3s; } 
.applyAgree .modalContent .benefitAlertWrap .toggleWrap.checked { background: #222; } 
.applyAgree .modalContent .benefitAlertWrap .toggleWrap.checked button { left: 23px; } 
.applyAgree .modalContent .grayBox + button { margin-top: 30px; } 

.account h2 { font-size: 18px; color: #151515; text-align: left; } 
.account .accountListWrap { margin-top: 15px; } 
.account .accountListWrap li { display: flex; align-items: center; margin-bottom: 10px; border: 1px solid #E2E2E2; padding: 12px 16px; border-radius: 12px; color: #222; font-size: 16px; line-height: 19px; } 
.account .accountListWrap li.active { border: 1px solid #151515; } 
.account .accountListWrap li.default::after { display: block; content: "대표 계좌"; margin-left: 6px; padding: 4px 8px; border-radius: 30px; background-color: #FFEAE2; color: #FF2B00; font-size: 10px; line-height: 12px; } 
.account .accountListWrap li:last-child { margin-bottom: 0; } 
.account .accountListWrap li img { width: 30px; height: 30px; margin-right: 7px; } 
.account .accountAdd { display: block; width: 103px; height: 40px; margin: 60px auto 30px; border-radius: 30px; background-color: #F1F1F1; color: #222; font-size: 16px; line-height: 19px; font-weight: 700; } 

.applyAccount .mainText { margin-bottom: 32px; font-size: 18px; color: #575757; line-height: 22px; text-align: center; } 
.applyAccount .mainText::before { display: block; content: ""; width: 150px; height: 88px; margin: 10px auto 6px; background: url('../../public/images/retto/img-jewel-set.png') 0 0 /cover no-repeat; } 
.applyAccount .mainText b { color: #222; } 
.retto .bottomBtn { width: 100%; padding-top: 15px; font-size: 16px; color: #acacac; text-align: center; line-height: 19px; } 

.applyReady .modalContent { padding-top: 30px; } 
.applyReady .mainText { text-align: center; color: #575757; font-size: 18px; line-height: 24px; } 
.applyReady .mainText b { color: #222222; } 
.applyReady .mainText .warning { color: #FB3636; } 
.applyReady .mainText::before { display: block; content: ""; width: 54px; height: 54px; margin: 8px auto 13px; background: url('../../public/images/retto/apply-ready-img.png') 0 0 / cover no-repeat; } 
.applyReady .mainText.noImg::before { display: none; } 
.applyReady .subText { margin: 10px 0 20px; text-align: center; color: #575757; font-size: 15px; line-height: 18px; } 

.levelChange .jewelWrap { display: flex; align-items: center; justify-content: center; } 
.levelChange .jewelWrap :global .jewelImg { display: block; background-repeat: no-repeat; background-size: cover; background-position: 0 0; } 
.levelChange .jewelWrap :global .jewelImg.ruby { width: 40px; height: 50px; background: url('../../public/images/retto/img-jewel-01.png') center center / 40px 40px no-repeat; } 
.levelChange .jewelWrap :global .jewelImg.emerald { width: 40px; height: 50px; background: url('../../public/images/retto/img-jewel-02.png') center center / 40px 40px no-repeat; } 
.levelChange .jewelWrap :global .jewelImg.diamond { width: 50px; height: 50px; background: url('../../public/images/retto/img-jewel-03.png') center center / 50px 50px no-repeat; } 
.levelChange .jewelWrap .dropText { display: none; } 
.levelChange .jewelWrap.leveldrop { margin-bottom: 40px; } 
/* .levelChange .jewelWrap.noChange { margin-bottom: -10px; }  */
.levelChange .jewelWrap.leveldrop span { position: relative; } 
.levelChange .jewelWrap.leveldrop .dropText { display: block; position: absolute; left: 50%; bottom: -24px; transform: translateX(-50%); width: 80px; color: #424242; text-align: center; } 
.levelChange .jewelWrap .arrow { display: block; width: 47px; height: 37px; margin: 0 3px; background: url('../../public/images/retto/apply-visual-arrow2.png') 0 0 / cover no-repeat } 
.levelChange .textWrap { margin-bottom: 20px; } 
.levelChange .textWrap .mainText { margin: 20px 0 12px; font-size: 18px; color: #151515; line-height: 22px; text-align: center; } 
.levelChange .textWrap .mainText b { color: #222; } 
.levelChange .textWrap .mainText b :global .ruby { color: #FF24C2; } 
.levelChange .textWrap .mainText b :global .emerald { color: #10C100; } 
.levelChange .textWrap .mainText b :global .diamond { color: #1A75FF; } 
.levelChange .textWrap .mainText .subText { margin-top: 10px; } 
.levelChange .textWrap .subText { margin-bottom: 20px; color: #575757; font-size: 16px; text-align: center; line-height: 19px; } 
.levelChange .textWrap .subText span { color: #FB3636; } 
.levelChange .textWrap .infoText { display: flex; align-items: center; justify-content: center; font-size: 13px; line-height: 15.6px; color: #222; text-align: center; } 
.levelChange .textWrap .infoText::before { display: block; content: ""; width: 16px; height: 16px; margin-right: 2px; background: url('../../public/images/retto/icon-alert.svg') 0 0 / cover no-repeat; } 
.levelChange .bottomBtn { width: 100%; padding-top: 15px; font-size: 16px; color: #acacac; text-align: center; line-height: 19px; } 

.rettoPrize { padding-bottom: 32px; text-align: center; } 
.rettoPrize p { color: #575757; } 


.rettoAlarm { padding-bottom: 32px; text-align: center; } 
.rettoAlarm p::after { display: block; content: ""; width: 120px; height: 107px; margin: 24px auto 13px; background: url('../../public/images/retto/main-alarm.png') 0 0 / cover no-repeat; } 

.moneyGive { padding-bottom: 32px !important; text-align: center; } 
.moneyGive .modalDialog { overflow: visible; }
.moneyGive .modalDialog .modalContent { border-radius: 16px; }
.moneyGive .moneyLottie { position: absolute; top: -48px; width: 284px; } 
.moneyGive .mainText { margin-top: 64px; font-size: 22px; line-height: 30px; font-weight: 700; } 
.moneyGive .subText { margin: 10px auto 30px; font-size: 16px; } 
.moneyGive .subText span { color: #FF2B00; font-weight: 700; } 

.rettoBanner { padding-bottom: 20px; } 
.rettoBanner>h2 { margin-bottom: 20px; } 

.rettoSaveingList { position: relative; padding: 0 30px 30px; text-align: center; } 
.rettoSaveingList h2 { margin-bottom: 5px; } 
.rettoSaveingList .botContWrap { display: flex; flex-direction: column; align-items: center; position: relative; } 
.rettoSaveingList .boxText { display: inline-block; position: absolute; top: 25px; left: auto; z-index: 1; height: 24px; padding: 0 8px; border-radius: 12px; color: #fff; font-size: 12px; font-weight: 700; line-height: 24px; background-color: #222; } 
.rettoSaveingList .boxText.red { font-weight: 400; background-color: #FF2B00; } 
.rettoSaveingList .rettoFillWrap { display: flex; justify-content: center; margin: 25px 0 20px; } 
.rettoSaveingList .rettoFillWrap div { position: relative; } 
.rettoSaveingList .rettoFillWrap div.success::before { display: block; content: ""; position: absolute; left: 50%; top: -15px; transform: translateX(-50%); width: 11px; height: 11px; background: url('../../public/images/retto/icon-bar-arrow-blue.svg') 0 0 / 100% auto no-repeat; animation: twinkle 1s ease-in-out infinite both; } 
.rettoSaveingList .rettoFillWrap div.success.emergency::before { display: block; content: ""; position: absolute; left: 50%; top: -15px; transform: translateX(-50%); width: 11px; height: 11px; background: url('../../public/images/retto/icon-bar-arrow-red.svg') 0 0 / 100% auto no-repeat; } 
.rettoSaveingList .rettoFillWrap div.success.emergency .bar { background: #FF2B00; } 
.rettoSaveingList .rettoFillWrap div.success .week { visibility: visible; } 
.rettoSaveingList .rettoFillWrap div .bar { display: block; width: 36px; height: 8px; margin: 0 1px; border-radius: 10px; } 
.rettoSaveingList .rettoFillWrap div .week { visibility: hidden; color: #575757; font-size: 11px; line-height: 13px; } 
.rettoSaveingList .rettoFillWrap div:nth-child(1) .bar { background-color: #84ACEA; } 
.rettoSaveingList .rettoFillWrap div:nth-child(2) .bar { background-color: #73A2EC; } 
.rettoSaveingList .rettoFillWrap div:nth-child(3) .bar { background-color: #639DFA; } 
.rettoSaveingList .rettoFillWrap div:nth-child(4) .bar { background-color: #5193FB; } 
.rettoSaveingList .rettoFillWrap div:nth-child(5) .bar { background-color: #3C8AFF; } 
.rettoSaveingList .rettoFillWrap div:nth-child(6) .bar { background-color: #2C80FF; } 
.rettoSaveingList .rettoFillWrap div:nth-child(7) .bar { background-color: #1975FF; } 
.rettoSaveingList .rettoFillWrap div .bar.off { background-color: #E2E2E2; } 
.rettoSaveingList .imgWrap { position: relative; height: 61px; margin-top: 58px; padding-bottom: 6px; } 
.rettoSaveingList .imgWrap :global .jewelImg { display: block; width: 58px; height: 58px; margin-top: 9px; margin: auto; animation: bounce-top 0.7s 0.8s infinite; } 
.rettoSaveingList .imgWrap:global.ruby .jewelImg { background: url('../../public/images/retto/img-jewel-01.png') 0 0 / cover no-repeat; } 
.rettoSaveingList .imgWrap:global.emerald .jewelImg { background: url('../../public/images/retto/img-jewel-02.png') 0 0 / cover no-repeat; } 
.rettoSaveingList .imgWrap:global.diamond .jewelImg { background: url('../../public/images/retto/img-jewel-03.png') 0 0 / cover no-repeat; } 
.rettoSaveingList .imgWrap .jewelShadow { display: block; width: 30px; height: 9px; margin: auto; background: url('../../public/images/retto/stamp-jewel-shadow.png') 0 0 / cover no-repeat; animation: shadow 0.7s 0.8s infinite; } 
.rettoSaveingList :global .swiper-button-prev { position: absolute; left: 0; top: 4px; z-index: 1; width: 40px; height: 40px; background: url('../../public/images/retto/icon-swiper-navigation.png') 0 0 / cover no-repeat; } 
.rettoSaveingList :global .swiper-button-next { position: absolute; right: 0; top: 4px; z-index: 1; width: 40px; height: 40px; background: url('../../public/images/retto/icon-swiper-navigation.png') 0 0 / cover no-repeat; transform: rotate(180deg); } 
.rettoSaveingList :global .swiper-button-disabled { display: none; } 
.rettoSaveingList .buttonWrap { padding: 0 6px; } 

.rettoPresent { padding-bottom: 30px; } 
.rettoPresent .conWrap .imgWrap { overflow: hidden; position: relative; width: 120px; height: 120px; margin: 18px auto 15px; border-radius: 50%; text-align: center; border: 1px solid #E2E2E2; } 
.rettoPresent .conWrap.fail::before { display: block; content: ""; width: 120px; height: 120px; margin: 17px auto 16px; background: url('../../public/images/retto/stamp-present-fail.png') 0 0 / 100% auto no-repeat; } 
.rettoPresent .conWrap.fail .imgWrap,
.rettoPresent .conWrap.fail p { display: none; } 
.rettoPresent .conWrap .imgWrap img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto; } 
.rettoPresent .conWrap p { margin: 14px 0 15px; font-size: 13px; line-height: 15.5px; text-align: center; } 

.rettoMission { padding: 0; } 
.rettoMission > p { font-size: 14px; } 
.rettoMission .bodyText { margin-bottom: 25px; color: #222; text-align: center; font-weight: 700; font-size: 16px; line-height: 22px; } 
.rettoMission .bodyText::before { display: block; content: ""; width: 115px; height: 112px; margin: 4px auto 10px; background: url("../../public/images/retto/mission-visual.png") 0 0 / 100% auto no-repeat; } 
.rettoMission .bodyText.success::before { display: block; content: ""; width: 284px; height: 130px; margin: -10px auto 3px; background: url("../../public/images/retto/mission-visual-success.png") 0 0 / 100% auto no-repeat; } 
.rettoMission .bodyText.fail::before { display: block; content: ""; width: 114px; height: 112px; margin: 8px auto 6px; background: url("../../public/images/retto/mission-visual-fail.png") 0 0 / 100% auto no-repeat; } 
.rettoMission .successSubtext { display: block; margin: 8px 0 20px; color: #575757; font-size: 14px; line-height: 20px; text-align: center; } 
.rettoMission .highlightBg { position: relative; z-index: 0; } 
.rettoMission .highlightBg::before { display: block; content: ""; position: absolute; left:0; bottom: 0; z-index: -1; width: 100%; height: 76%; background-color: #F6E8FF; } 
.rettoMission .giftimallList { display: flex; justify-content: space-between; padding: 0 20px 10px; } 
.rettoMission .giftimallListItem { width: calc(33.3333% - 6px); } 
.rettoMission .detailView { display: flex; justify-content: center; align-items: center; width: 100%; height: 70px; text-align: center; font-size: 14px; color: #222; } 
.rettoMission .detailView::after { display: block; content: ""; width: 12px; height: 12px; margin-left: 1px; background: url("../../public/images/retto/icon-arrow-down.png") 0 0 / 100% auto no-repeat; } 
.rettoMission .dropBox { display: block; padding: 15px 30px; background-color: #F9F9F9; color: #575757; } 
.rettoMission .dropBox h4 { font-size: 12px; line-height: 18px; } 
.rettoMission .dropBox p { margin: 0 0 10px; font-size: 11px; line-height: 18px; } 
.rettoMission .dropBox p.midText { line-height: 16px; } 
.rettoMission .dropBox p span { color: #FF2B00; font-weight: 700; } 

.turnChoice { padding: 0 20px 30px !important; } 
.turnChoice .topCon { display: flex; justify-content: center; position: relative; } 
.turnChoice .topCon button { display: block; width: 40px; height: 40px; position: absolute; top: 50%; transform: translateY(-50%); } 
.turnChoice .topCon button.leftBtn { left: 10px; background: url('../../public/images/retto/turn-left-img.png') 0 0 / cover no-repeat; } 
.turnChoice .topCon button.rightBtn { right: 10px; background: url('../../public/images/retto/turn-right-img.png') 0 0 / cover no-repeat; } 
.turnChoice .topCon .turnText { font-size: 22px; font-weight: 700; text-align: center; line-height: 26px; } 
.turnChoice .topCon .turnDate { margin-top: 5px; color: #575757; font-size: 16px; text-align: center; line-height: 19px; } 
.turnChoice .turnListWrap { display: flex; flex-wrap: wrap; margin-top: 20px; } 
.turnChoice .turnListWrap li { width: calc(33.3333% - 7px); height: 49px; margin-right: 10px; margin-bottom: 12px; border: 1px solid #E2E2E2; border-radius: 12px; text-align: center; line-height: 49px; font-size: 16px; color: #575757; } 
.turnChoice .turnListWrap li:nth-child(3n) { margin-right: 0; } 
.turnChoice .turnListWrap li.active { border: 1px solid #151515; font-weight: 700; color: #151515; } 
.turnChoice .turnListWrap li.disabled { color: #acacac; border: 1px solid #F1F1F1; background-color: #F1F1F1; } 
.turnChoice .turnListWrap li:last-child { margin-bottom: 0; } 
.turnChoice.ranking .turnListWrap li { margin-bottom: 0; } 

.addMoney .modalDialog { width: 188px; min-width: auto; padding: 20px 14px; color: #575757; } 
.addMoney .modalDialog h4 { display: flex; align-items: center; font-size: 12px; line-height: 18px; letter-spacing: -0.04em; } 
.addMoney .modalDialog h4::before { position: relative; display: block; content: ""; width: 13px; height: 16px; margin-right: 4px; background: url('../../public/images/retto/icon-receive-01.svg') 0 0 / cover no-repeat; } 
.addMoney .modalDialog p { margin: 8px 0 6px; font-size: 12px; line-height: 18px; letter-spacing: -0.04em; } 
.addMoney .modalDialog span { display: block; position: relative; padding-left: 7px; font-size: 11px; line-height: 18px; letter-spacing: -0.04em; } 
.addMoney .modalDialog span::before { display: block; content: "*"; position: absolute; left: 0; top: 2px; } 
.addMoney .modalDialog .closeBtn { display: block; position: absolute; right: 0; top: 0; width: 38px; height: 38px; background: url('../../public/images/retto/icon-small-close.svg') center center / 12px auto no-repeat; } 

.fillBoxAlert .textWrap { margin-top: 10px; text-align: center; } 
.fillBoxAlert .textWrap .topText { font-size: 18px; line-height: 24.3px; } 
.fillBoxAlert .textWrap .topText span { color: #FB3636; } 
.fillBoxAlert .textWrap .botText { margin: 10px 0 20px; color: #575757; font-size: 16px; line-height: 19px; } 

@keyframes shadow { 
 0% { transform: scale(1); animation-timing-function: ease-in; } 
 5% { transform: scale(0.8); animation-timing-function: ease-in; } 
 55% { transform: scale(0.4); animation-timing-function: ease-in; } 
 100% { transform: scale(1); animation-timing-function: ease-in; } 
 }

 @keyframes twinkle { 
 0% { opacity: 1; } 
 50% { opacity: 0; } 
 100% { opacity: 1; } 
 }


 @keyframes jewelRotate { 
 0% { transform: rotate(0); } 
 50% { transform: rotate(30deg); } 
 100% { transform: rotate(0); } 
 }
 .rankingOpinion { padding-bottom: 42px; } 
 .rankingOpinion .rankingOpinionTextarea { position: relative; width: 100%; height: 110px; margin: 20px 0 10px; padding: 17px 15px; border: 1px solid #CCCCCC; border-radius: 10px; } 
 .rankingOpinion .rankingOpinionTextarea textarea { width: 100%; height: 100%; font-size: 15px; outline: none; border: none; resize: none; line-height: 18px; } 
 .rankingOpinion .rankingOpinionTextarea textarea::placeholder { font-size: 15px; color: #acacac; font-weight: 400; } 
 .rankingOpinion .rankingOpinionTextarea .textLength { position: absolute; right: 10px; bottom: 10px; color: #acacac; font-size: 13px; text-align: right; line-height: 15.6px; } 