.subTitle { margin-top: 4px; font-size: 14px; line-height: 17px; color: #575757; } 

.borderBox { position: relative; padding: 20px; border: 1px solid #CCCCCC; background-color: #fff; border-radius: 12px; } 
.borderBox.topCon { overflow: auto; max-height: 364px; } 
.borderBox .turnText { display: block; margin-bottom: 9px; font-size: 13px; color: #575757; line-height: 16px; } 
.borderBox .lineBox { border-top: 1px solid #E2E2E2; padding: 10px 0 5px; } 
.borderBox .lineBox:first-child { border-top: none; padding-top: 4px; } 
.borderBox .lineBox:last-child { padding-bottom: 0; } 
.borderBox dl { display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 8px; } 
.borderBox dl:last-child { margin-bottom: 5px; } 
.borderBox dl dt { display: flex; width: 100px; color: #151515; font-size: 13px; font-weight: 500; line-height: 16px; } 
.borderBox dl dd { display: flex; align-items: center; justify-content: flex-end; width: calc(100% - 100px); color: #222; text-align: right; line-height: 18px; } 
.borderBox dl dd.off { color: #CCCCCC; } 
.borderBox dl dd span { margin-right: 3px; font-size: 12px; line-height: 14.4px; color: #575757; } 
.borderBox dl.large { margin-bottom: 12px; } 
.borderBox dl.large dt { font-size: 16px; font-weight: 700; line-height: 19px; color: #151515; } 
.borderBox dl.large dd { font-size: 16px; font-weight: 700; line-height: 19px; color: #FF2B00; } 
.borderBox dl dt.addicon { position: relative; padding-left: 10px; color: #575757; } 
.borderBox dl dt.addicon::before { display: block; content: ""; position: absolute; left: 0; top: 2px; width: 6px; height: 6px; border: 1px solid #ccc; border-width: 0 0 1px 1px; } 
.borderBox dl .icon1 { display: block; width: 13px; height: 16px; margin-left: 4px; background: url('../../public/images/retto/icon-receive-01.svg') 0 0 / cover no-repeat; } 
.borderBox .divider { position: absolute; top: -5px; left: 50%; transform: translateX(-50%); width: calc(100% - 24px); height: 9px; background: #fff; } 
.borderBox .divider::before { display: block; content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% - 12px); height: 1px; background: #151515; } 
.btnWrap { position: fixed; left: 0; bottom: 34px; width: 100%; padding: 0 20px; } 

.moneyGetWrap { padding: 30px 20px 60px; } 
.moneyGetWrap .titleWrap { margin-bottom: 30px; text-align: center; } 
.moneyGetWrap .titleWrap h2 { font-size: 24px; line-height: 29px; } 
.moneyGetWrap .titleWrap p { margin-top: 2px; font-size: 14px; line-height: 17px; } 
.moneyGetWrap .titleWrap p::after { display: block; content: ""; width: 137px; height: 99px; margin: 18px auto; background: url('../../public/images/retto/main-money-visual2.png') 0 0/ cover no-repeat; } 
.moneyGetWrap .borderBox { overflow: hidden; padding: 0; } 
.moneyGetWrap .borderBox dl { padding: 20px; } 
.moneyGetWrap .borderBox dt { color: #222; font-size: 15px; font-weight: 700; } 
.moneyGetWrap .borderBox dd { color: #FF2B00; font-size: 16px; font-weight: 700; } 
.moneyGetWrap .borderBox dd span { color: #FF522C; } 
.moneyGetWrap .borderBox .infoText { padding: 12px 0 21px 38px; background-color: #F9F9F9; } 
.moneyGetWrap .borderBox .infoText span { color: #FF522C; font-weight: 700; } 
.moneyGetWrap .borderBox .infoText .bank { margin-right: 2px; color: #222; font-weight: 400; } 
.moneyGetWrap .borderBox .infoText .botText { margin-top: 8px; padding-left: 2px; font-size: 12px; color: #575757; line-height: 14.4px; } 
.moneyGetWrap .borderBox .infoText .topText { position: relative; font-size: 13px; color: #575757; line-height: 16px; } 
.moneyGetWrap .borderBox .infoText .topText img { position: absolute; left: -19px; top: 0; width: 15px; height: 15px; } 
.moneyGetWrap .borderBox.botCon { overflow: visible; padding: 20px; } 
.moneyGetWrap .borderBox.botCon::before { position: absolute; left: 11px; top: -3px; display: block; content: ""; width: -webkit-calc(100% - 22px); width: -moz-calc(100% - 22px); width: calc(100% - 22px); height: 4px; background: url('../../public/images/retto/main-dash-line2.png') 0 center / auto 8px repeat; } 
.moneyGetWrap .borderBox.botCon .subText { margin-top: 8px; color: #575757; font-size: 13px; line-height: 16px; } 
.moneyGetWrap .borderBox.botCon dl { padding: 0; } 
.moneyGetWrap .grayBox { margin-top: 10px; padding: 20px; border-radius: 10px; background-color: #F9F9F9; text-align: center; } 
.moneyGetWrap .grayBox p { color: #222; text-align: center; font-size: 13px; line-height: 16px; } 
.moneyGetWrap .grayBox p span { display: flex; justify-content: center; position: relative; } 
.moneyGetWrap .grayBox p span::before { display: block; content: ""; width: 13px; height: 16px; margin-right: 3px; background: url('../../public/images/retto/icon-receive-01.svg') 0 0 / 13px auto no-repeat; }  
.moneyGetWrap .grayBox .email { margin: 12px 0 18px; color: #151515; font-size: 12px; border-bottom: 1px solid #151515; line-height: 1; }
.moneyGetWrap .grayBox li { position: relative; margin-bottom: 4px; padding-left: 5px; color: #575757; font-size: 11px; text-align: left; }
.moneyGetWrap .grayBox li::before { display: block; content: "·"; position: absolute; left: 0; top: 0;}
