.container { padding: 30px 20px 80px; } 
.container .titleWrap { text-align: center; } 
.container .titleWrap::after { display: block; content: ""; width: 284px; height: 130px; margin: 20px auto; background: url(../../public/images/retto/recommend-character-1.png) 0 0 / cover no-repeat; } 
.container .titleWrap .date { margin-bottom: 2px; color:#575757; font-size: 16px; line-height: 21.6px; } 
.container .titleWrap h2 { color:#151515; font-size: 24px; line-height: 32.4px; letter-spacing: 0.02em; } 
.container .rettoInfoWrap { margin-top: 15px; padding: 20px; border-radius: 14px; background-color: #F9F9F9; } 
.container .rettoInfoWrap .topCon { display: flex; align-items: center; border-radius: 14px; background-color: #F9F9F9; } 
.container .rettoInfoWrap .topCon::before { flex: 0 0 auto; display: block; content: ""; width: 60px; height: 60px; margin-right: 19px; background: url(../../public/images/retto/recommend-jewel-img.png) 0 0 / cover no-repeat; } 
.container .rettoInfoWrap .topCon .textWrap h4 { color: #151515; font-size: 14px; line-height: 19.6px; } 
.container .rettoInfoWrap .topCon .textWrap p { margin-top: 4px; color: #575757; font-size: 15px; line-height: 21px; } 
.container .rettoInfoWrap .topCon .textWrap strong { font-size: 22px; line-height: 29.7px; } 
.container .rettoInfoWrap .botText { position: relative; margin-top: 20px; padding: 10px 0 0 12px; border-top: 1px solid #E2E2E2; color: #575757; font-size: 12px; line-height: 18px; letter-spacing: -0.04em; word-break: keep-all; } 
.container .rettoInfoWrap .botText::before { display: block; content: ""; position: absolute; left: 2px; top: 17px; width: 3px; height: 3px; border-radius: 50%; background-color: #7D7D7D; } 
.container .infoText { margin: 20px 0 50px; color: #575757; text-align: center; font-size: 15px; } 
.container .infoText span { color: #151515; } 
.footerBtnWrap { position: fixed; left: 0; bottom: 0; width: 100%; padding: 20px; } 

@media screen and (max-width: 340px){
 .container .titleWrap h2 { font-size: 22px; } 
 .container .rettoInfoWrap .topCon .textWrap strong { font-size: 20px; } 
 }