.titleWrap { margin-bottom: 0; } 
.titleWrap .turn { display: inline-block; height: 24px; color: #151515; font-size: 12px; padding: 0 7px; font-weight: 700; line-height: 24px; background: #f1f1f1; border-radius: 20px; } 
.titleWrap .title { margin-top: 5px; color: #151515; font-size: 22px; font-weight: 700; line-height: 26px; } 
.rettoWrap { position: relative; height: 250px; } 
.rettoWrap .bgBox { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 100vh; height: 91px; background: url('../../public/images/retto/result-box.png') center 0 / 363px 91px no-repeat; } 
.rettoWrap .ballWrap { overflow: hidden; position: relative; width: 100%; max-width: 375px; height: 232px; margin: auto; } 
.rettoWrap .ballWrap .ball { display: flex; justify-content: center; align-items: center; position: absolute; left: 50%; top: 240px; width: 84px; height: 84px; color: #151515; font-size: 15px; font-weight: 700; background-size: 84px 84px; background-repeat: no-repeat; background-position: 0 0; transition: 0.3s ease-in-out; } 
.rettoWrap .ballWrap .ball:global.type1 { background-image: url('../../public/images/retto/result-ball-type-01.png'); } 
.rettoWrap .ballWrap .ball:global.type2 { background-image: url('../../public/images/retto/result-ball-type-02.png'); } 
.rettoWrap .ballWrap .ball:global.type3 { background-image: url('../../public/images/retto/result-ball-type-03.png'); } 
.rettoWrap .ballWrap .ball:global.type4 { background-image: url('../../public/images/retto/result-ball-type-04.png'); } 
.rettoWrap .ballWrap .ball:global.type5 { background-image: url('../../public/images/retto/result-ball-type-05.png'); } 
.rettoWrap .ballWrap.active .ball:nth-child(1) { left: 2px; top: 17px; transform: translateX(0) rotate(-20deg); } 
.rettoWrap .ballWrap.active .ball:nth-child(2) { left: 78px; top: 44px; transform: translateX(0) rotate(10deg); } 
.rettoWrap .ballWrap.active .ball:nth-child(3) { left: 169px; top: 13px; transform: translateX(0) rotate(0); } 
.rettoWrap .ballWrap.active .ball:nth-child(4) { left: 242px; top: 66px; transform: translateX(0) rotate(20deg); } 
.rettoWrap .ballWrap.active .ball:nth-child(5) { left: 18px; top: 115px; transform: translateX(0) rotate(-20deg); } 
.rettoWrap .ballWrap.active .ball:nth-child(6) { left: 99px; top: 140px; transform: translateX(0) rotate(-40deg); } 
.rettoWrap .ballWrap.active .ball:nth-child(7) { left: 183px; top: 128px; transform: translateX(0) rotate(0); } 
/* .rettoWrap .ballWrap .ball:nth-child(1) { transform: translateX(-50%) rotate(-20deg); } 
.rettoWrap .ballWrap .ball:nth-child(2) { transform: translateX(-50%) rotate(10deg); } 
.rettoWrap .ballWrap .ball:nth-child(3) { transform: translateX(-50%) rotate(0); } 
.rettoWrap .ballWrap .ball:nth-child(4) { transform: translateX(-50%) rotate(20deg); } 
.rettoWrap .ballWrap .ball:nth-child(5) { transform: translateX(-50%) rotate(-20deg); } 
.rettoWrap .ballWrap .ball:nth-child(6) { transform: translateX(-50%) rotate(-40deg); } 
.rettoWrap .ballWrap .ball:nth-child(7) { transform: translateX(-50%) rotate(0); }  */
.rettoWrap .ballWrap .ball:nth-child(1) {animation: ballShow 1s 1s both;}
.rettoWrap .ballWrap .ball:nth-child(2) {}
.rettoWrap .ballWrap .ball:nth-child(3) {}
.rettoWrap .ballWrap .ball:nth-child(4) {}
.rettoWrap .ballWrap .ball:nth-child(5) {}
.rettoWrap .ballWrap .ball:nth-child(6) {}
.rettoWrap .ballWrap .ball:nth-child(7) {}

.borderBox { margin-top: 0; } 
.bonusMission { height: 49px; margin: 10px 0; padding: 0 20px; border-radius: 12px; color: #222; font-size: 14px; line-height: 49px; background: #FFF2C2 url('../../public/images/retto/myretto-visual-03.png') right 20px center / 22px 22px no-repeat; } 

@keyframes ballShow { 
 0% { left: 50%; top: 240px; transform: translateX(-50%) rotate(0); } 
 100% { left: 2px; top: 17px; transform: translateX(0) rotate(-20deg);  } 
 }

