.topContent { position: relative; margin-bottom: -31px; padding: 30px 0 67px; text-align: center; background: linear-gradient(180deg, #1E0E00 0.04%, #2B1B0C 47.87%, #FFEBC4 167.88%); } 
.topContent::after { display: block; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); content: ""; width: 375px; height: 197px; background: url(../../public/images/retto/retto-tip-money-bg.png) 0 0 / cover no-repeat; } 
.topContent .titleText { color: #fff; font-size: 30px; line-height: 135%; } 
.topContent .titleText span { color: #FFB529; } 
.topContent p { margin-top: 14px; color: #fff; font-size: 16px; line-height: 135%; } 
.topContent .visualImg { position: relative; width: 159px; height: 131px; margin: 24px auto 0; font-size: 0; text-indent: -9999px; } 
.topContent .visualImg::before { display: block; content: ""; width: 159px; height: 131px; background: url(../../public/images/retto/retto-tip-money.png) 0 0 / cover no-repeat; animation: float 2s infinite ease-in-out; } 
.topContent .visualImg .twinkle1 { display: block; position: absolute; right: -12px; top: 0; width: 8px; height: 8px; background: url(../../public/images/retto/twinkle-img-01.png) 0 0 / cover no-repeat; animation: twinkle 1.5s infinite ease-in-out; } 
.topContent .visualImg .twinkle2 { display: block; position: absolute; right: -29px; top: 14px; width: 16px; height: 16px; background: url(../../public/images/retto/twinkle-img-02.png) 0 0 / cover no-repeat; animation: twinkle 1.5s 0.4s infinite ease-in-out; } 
.topContent .visualImg .twinkle3 { display: block; position: absolute; left: -26px; top: 80px; width: 15px; height: 15px; background: url(../../public/images/retto/twinkle-img-03.png) 0 0 / cover no-repeat; animation: twinkle 1.5s 0.8s infinite ease-in-out; } 
.roundedBox { border-radius: 12px; background-color: #F9F9F9; } 
.roundedBox.gradient { margin-top: 30px; border-radius: 12px; background: linear-gradient(90deg, #FFF0EC 0%, #FFEABF 100%); } 
.firstContent { position: relative; z-index: 1; padding: 50px 20px; border-radius: 32px 32px 0 0; background-color: #fff; } 
.firstContent .titleWrap { text-align: center; } 
.firstContent .titleWrap .titleText { color: #FF4600; font-size: 22px; line-height: 135%; } 
.firstContent .titleWrap .subText { margin-top: 10px; color: #222; font-size: 16px; line-height: 135%; } 
.firstContent .roundedBox.gradient { margin-bottom: 50px; padding: 30px 0; } 
.firstContent .roundedBox.gradient .titleText { margin-bottom: 20px; font-size: 18px; line-height: 135%; text-align: center; } 
.firstContent .roundedBox.gradient .infoWrap { width: 253px; margin: auto; } 
.firstContent .roundedBox.gradient .infoWrap li { display: flex; margin-bottom: 15px; } 
.firstContent .roundedBox.gradient .infoWrap li:last-child { margin-bottom: 0; } 
.firstContent .roundedBox.gradient .infoWrap li .imgWrap { flex: 0 0 auto; width: 68px; height: 68px; margin-right: 12px; background-repeat: no-repeat; background-position: center; background-size: cover; } 
.firstContent .roundedBox.gradient .infoWrap li .imgWrap { flex: 0 0 auto; width: 68px; height: 68px; background-repeat: no-repeat; background-position: center; background-size: cover; } 
.firstContent .roundedBox.gradient .infoWrap li:nth-child(1) .imgWrap { background-image: url(../../public/images/retto/retto-tip-icon-01.png); } 
.firstContent .roundedBox.gradient .infoWrap li:nth-child(2) .imgWrap { background-image: url(../../public/images/retto/retto-tip-icon-02.png); } 
.firstContent .roundedBox.gradient .infoWrap li:nth-child(3) .imgWrap { background-image: url(../../public/images/retto/retto-tip-icon-03.png); } 
.firstContent .roundedBox.gradient .infoWrap li .textWrap .target { color: #393939; font-size: 13px; font-weight: 700; line-height: 18px; } 
.firstContent .roundedBox.gradient .infoWrap li .textWrap .people { color: #FF5A00; font-size: 22px; font-weight: 700; line-height: 135%; } 
.firstContent .roundedBox.gradient .infoWrap li .textWrap .info { margin-top: 4px; color: #7d7d7d; font-size: 12px; line-height: 150%; letter-spacing: -0.48px; } 
.subtitleText { font-size: 20px; text-align: center; line-height: 135%; } 
.subtitleText span { color: #FF4600; } 
.firstContent .roundedBox.gray { margin-top: 20px; padding: 30px 0 0; text-align: center; } 
.firstContent .roundedBox.gray.first { margin-top: 30px; } 
.firstContent .roundedBox.gray h4 { font-size: 20px; line-height: 135%; } 
.firstContent .roundedBox.gray p { margin-top: 8px; color: #575757; font-size: 15px; line-height: 140%; } 
.firstContent .roundedBox.gray .mokup1 { width: 252px; height: 384px; margin: 30px auto 0; background: url(../../public/images/retto/retto-tip-frame-01.png) 0 0 / 100% auto no-repeat; } 
.firstContent .roundedBox.gray .mokup2 { width: 252px; height: 296px; margin: 30px auto 0; background: url(../../public/images/retto/retto-tip-frame-02.png) 0 0 / 100% auto no-repeat; } 
.firstContent .roundedBox.gray .mokup3 { width: 252px; height: 296px; margin: 30px auto 0; background: url(../../public/images/retto/retto-tip-frame-03.png) 0 0 / 100% auto no-repeat; } 
.secondContent { padding: 50px 0; background-color: #FF6C00; text-align: center; } 
.secondContent .subtitleText { display: inline-block; position: relative; color: #fff; } 
.secondContent .subtitleText:first-child:before { display: block; content: ""; position: absolute; left: -12px; top: 2px; width: 12px; height: 12px; background: url(../../public/images/retto/icon-point-text-01.png) 0 0 / cover no-repeat; } 
.secondContent .subtitleText:first-child:after { display: block; content: ""; position: absolute; right: -12px; top: 2px; width: 12px; height: 12px; background: url(../../public/images/retto/icon-point-text-02.png) 0 0 / cover no-repeat; } 
.secondContent .reviewWrap { display: flex; justify-content: space-between; margin: 30px auto 50px; padding: 0 20px; } 
.secondContent .reviewWrap li { width: calc(50% - 5px); height: 270px; padding: 20px 0 0 20px; border-radius: 12px; background-color: #fff; text-align: left; } 
.secondContent .reviewWrap li.medal1 { background: #fff url(../../public/images/retto/medal-img-01.png) bottom 15px right 15px / 60px 60px no-repeat; } 
.secondContent .reviewWrap li.medal2 { background: #fff url(../../public/images/retto/medal-img-02.png) bottom 15px right 15px / 60px 60px no-repeat; } 
.secondContent .reviewWrap li .name { color: #7d7d7d; font-size: 12px; line-height: 150%; letter-spacing: -0.48px; } 
.secondContent .reviewWrap li .titleText { margin: 10px 0; color: #222; font-size: 16px; line-height: 140%; font-weight: 700; } 
.secondContent .reviewWrap li .mainText { color: #222; font-size: 14px; line-height: 140%; } 
.marquee { display: flex; overflow: hidden; white-space: nowrap; position: relative; margin-top: 30px; } 
.marqueeContent { display: flex; animation: marquee 33s linear infinite; } 
.secondContent .slideWrap { display: flex; white-space: nowrap; } 
.secondContent .slideWrap li { display: flex; justify-content: space-between; flex: 0 0 auto; width: 376px; margin-right: 20px; padding: 24px; border-radius: 12px; background-color: #fff; text-align: left; } 
.secondContent .slideWrap li .name::before { display: block; content: ""; width: 18px; height: 12px; margin-bottom: 10px; background: url(../../public/images/retto/icon-point-text-03.png) 0 0 / cover no-repeat; } 
.secondContent .slideWrap li .name { color: #7d7d7d; font-size: 12px; } 
.secondContent .slideWrap li .mainText { margin-top: 10px; font-size: 16px; font-weight: 700; line-height: 135%; } 
.secondContent .slideWrap li .mainText span { color: #FF4600; } 
.secondContent .slideWrap li .imgWrap { width: 80px; height: 80px; margin-top: auto; border-radius: 10px; background-repeat: no-repeat; background-position: center; background-size: cover; } 
.secondContent .slideWrap li:nth-child(1) .imgWrap { background-image: url(../../public/images/retto/review-img-01.png); } 
.secondContent .slideWrap li:nth-child(2) .imgWrap { background-image: url(../../public/images/retto/review-img-02.png); } 
.secondContent .slideWrap li:nth-child(3) .imgWrap { background-image: url(../../public/images/retto/review-img-03.png); } 
.secondContent .slideWrap li:nth-child(4) .imgWrap { background-image: url(../../public/images/retto/review-img-04.png); } 
.secondContent .slideWrap li:nth-child(5) .imgWrap { background-image: url(../../public/images/retto/review-img-05.png); } 
.thirdContent { padding: 50px 20px 0; } 
.thirdContent .textWrap { text-align: center; } 
.thirdContent .textWrap h4 { margin-bottom: 6px; font-size: 20px; line-height: 135%; } 
.thirdContent .textWrap p { font-size: 16px; line-height: 135%; } 
.thirdContent .bannerWrap { margin-top: 30px; } 

@keyframes marquee { 
 0% { transform: translateX(0); } 
 100% { transform: translateX(-50%); } 
 }

@keyframes twinkle { 
 0% { opacity: 1; transform: scale(1.2); } 
 50% { opacity: 0; transform: scale(0.8); } 
 100% { opacity: 1; transform: scale(1.2); } 
 }

 @keyframes float { 
  0% { transform: translateY(4px); } 
  50% { transform: translateY(-2px); } 
  100% { transform: translateY(4px); } 
  }