.container { overflow: hidden; width: 100%; padding-bottom: 126px; text-align: center; background-color: #fff; } 
.container .visualSection { position: relative; height: 348px; padding: 32px 20px 0; background: linear-gradient(180deg, #FF932F 0%, #FF6B18 100%); } 
@media screen and (min-width: 720px){
 .container .visualSection { max-height: 620px; } 
 }
.container .visualSection .prizeWrap { display: inline-block; position: relative; margin-bottom: 16px; padding: 6px 24px 6px 40px; border-radius: 20px; color: #fff; font-size: 13px; line-height: 18px; background: #00000033; } 
.container .visualSection .prizeWrap::before { display: block; content: ""; position: absolute; left:16px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url(../../public/images/retto/home-img-party.png) 0 0 / cover no-repeat; } 
.container .visualSection .prizeWrap span { color: #E6FF00; } 
.container .visualSection .titleWrap .textWrap { color: #fff; text-align: left; } 
.container .visualSection .titleWrap .textWrap p { margin-bottom: 8px; font-size: 16px; line-height: 21.6px; font-weight: 700; } 
.container .visualSection .titleWrap .textWrap h2 { color: #fff; font-size: 30px; line-height: 36px; } 
.container .visualSection .titleWrap .textWrap h2 span { color: #E6FF00; } 
.container .visualSection .titleWrap .rettoSizeWrap { display: inline-block; margin-top: 48px; color: #fff; font-weight: 700; } 
.container .visualSection .titleWrap .rettoSizeWrap .firstText { display: flex; font-size: 15px; line-height: 18px; } 
.container .visualSection .titleWrap .rettoSizeWrap .firstText::after { display: block; content: ""; width: 16px; height: 16px; background: url(../../public/images/retto/icon-arrow-white-round.svg) 0 0 / cover no-repeat; } 
.container .visualSection .titleWrap .rettoSizeWrap .secondText { display: block; font-size: 22px; line-height: 30px; } 
.container .visualSection .character { position: absolute; right: 0; bottom: 0; z-index: 1; width: 144px; height: 188px; } 
.container .visualSection .character::after { display: block; content: ""; position: absolute; right: 0; bottom: 0; width: 144px; height: 188px; background: url(../../public/images/retto/home-main-01.png) 0 0 / cover no-repeat; animation: characterUp 0.6s 0.5s backwards cubic-bezier(0.26, 0.01, 0.19, 1.01); } 
.container .visualSection .hand { display: block; position: absolute; right: 26px; top: 292px; z-index: 2; width: 104px; height: 16px; background: url(../../public/images/retto/home-main-01_hand.png) 0 0 / cover no-repeat; animation: fadeIn 0.5s 0.5s backwards; } 
.container .visualSection .confettiLottie { position: absolute; right: -175px; top: 10px; width: 500px; height: 400px; animation: fadeIn 0.1s 1s backwards; pointer-events: none; } 
.container .visualSection .balloonText { position: absolute; bottom: 62px; left: 20px; z-index: 2; padding: 6px 8px; background-color: #222; border-radius: 10px; color: #fff; font-size: 11px; line-height: 13px; animation: btnUp 0.3s 0.9s backwards; } 
.container .visualSection .balloonText::before { display: block; content: ""; position: absolute; bottom: -6px; left: 17px; width: 5px; height: 6px; background: url(../../public/images/retto/balloonText-arrow.svg) 0 0 / cover no-repeat; } 
.container .visualSection .balloonText.isRetto { bottom: 35px; animation: btnUp 0.3s 1s backwards; } 
.container .visualSection .balloonText.isRetto::before { display: block; content: ""; position: absolute; bottom: auto; top: -6px; left: 17px; width: 5px; height: 6px; background: url(../../public/images/retto/balloonText-arrow.svg) 0 0 / cover no-repeat; transform: rotate(180deg) scaleX(-1); } 
.container .mainSectionWrap { position: relative; z-index: 1; margin-top: -46px; padding-top: 30px; background-color: #fff; border-radius: 32px 32px 0 0; } 
.container .mainSectionWrap .videoContainer { padding: 0 20px 50px; } 
.container .mainSectionWrap .videoContainer .textWrap { margin-bottom: 20px; font-size: 16px; line-height: 21.6px; color: #393939; } 
.container .mainSectionWrap .videoContainer .textWrap b { font-size: 20px; line-height: 27px; color: #151515; } 
.container .mainSectionWrap .videoContainer .videoWrap { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; } 
.container .mainSectionWrap .videoContainer .videoWrap > div { position: absolute; left: 0; top: 0; width: 100%; height: 100%; } 
.container .mainSectionWrap .videoContainer .thumbnail { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; } 
.container .mainSectionWrap .videoContainer .thumbnail.type1 { background: url(../../public/images/retto/home-video-thumbnail-1.png) 0 0 / cover no-repeat; } 
.container .mainSectionWrap .videoContainer .thumbnail.type2 { background: url(../../public/images/retto/home-video-thumbnail-2.png) 0 0 / cover no-repeat; } 
.container .mainSection { padding: 80px 0 0; text-align: left; } 
.container .mainSection.firstSection { padding-top: 10px; } 
.container .mainSection .topBox { display: inline-block; margin-left: 20px; padding: 8px 16px; border-radius: 20px; color: #fff; font-size: 14px; line-height: 19.6px; background-color: #222222; } 
.container .mainSection h4 { margin: 16px 0 14px; padding: 0 20px; font-size: 26px; line-height: 35.1px; text-align: left; } 
.container .mainSection h4 span { display: block; margin-bottom: 2px; color: #CCCCCC; } 
.container .mainSection h4 span.active { color: #151515; } 
.container .mainSection :global .swiper { margin-bottom: 24px; } 
.container .mainSection :global .swiper .swiper-slide .img-box { max-width: 335px; height: 230px; margin: auto; background-repeat: no-repeat; background-size: cover; background-position: center center; } 
.container .mainSection :global .swiper .swiper-slide .img-box.card { background-image: url(../../public/images/retto/home-img-card.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.receipt { background-image: url(../../public/images/retto/home-img-receipt.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.money { background-image: url(../../public/images/retto/home-img-money.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.vault { background-image: url(../../public/images/retto/home-img-vault.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.present { background-image: url(../../public/images/retto/home-img-present.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.present2 { background-image: url(../../public/images/retto/home-img-present-2.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.letter { background-image: url(../../public/images/retto/home-img-letter.png); } 
.container .mainSection :global .swiper .swiper-slide .img-box.code { background-image: url(../../public/images/retto/home-img-code.png); } 
.container .mainSection :global .swiper .swiper-pagination { position: static; margin-top: 16px; line-height: 0; } 
.container .mainSection :global .swiper-pagination .swiper-pagination-bullet { height: 8px; margin: 0 2px; background-color: #ccc; opacity: 1; } 
.container .mainSection :global .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { width: 24px; border-radius: 4px; background: #151515; } 
.container .mainSection .firstContent { display: flex; width: calc(100% - 40px); margin: 0 auto 24px; padding: 20px; border-radius: 14px; background-color: #F9F9F9; } 
.container .mainSection .firstContent .tip { display: inline-block; height: 24px; margin-right: 8px; padding: 2px 9px; border-radius: 14px; color: #fff; font-size: 14px; line-height: 20px; background-color: #FF5A00; font-weight: 700; } 
.container .mainSection .firstContent p { color: #393939; font-size: 15px; line-height: 21px; } 
.container .mainSection .firstContent p b { color: #FF5A00; } 
.container .mainSection .secondContent { width: calc(100% - 40px); margin: 0 auto 24px; padding: 0 20px; border-radius: 14px; background-color: #F9F9F9; } 
.container .mainSection .secondContent li:first-child { padding: 28px 88px 24px 0; border-bottom: 1px solid #E2E2E2; background: url(../../public/images/retto/home-second-con-01.png) top 20px right / 84px 84px no-repeat; } 
.container .mainSection .secondContent li:last-child { padding: 24px 88px 28px 0; background: url(../../public/images/retto/home-second-con-02.png) top 16px right / 84px 84px no-repeat; } 
.container .mainSection .secondContent li strong { display: block; font-size: 16px; line-height: 21.6px; } 
.container .mainSection .secondContent li p { margin-top: 4px; color: #393939; font-size: 15px; line-height: 21px; word-break: keep-all; } 
.container .mainSection button { display: block; width: calc(100% - 40px); margin: auto; } 
.container .toastWrap { position: fixed; bottom: 102px; left: 0; z-index: 10; width: 100%; padding: 0 20px; animation: btnDown 0.5s 1.4s backwards; }
.container .toastWrap .toastBox { position: relative; width: 100%; padding: 15px; border-radius: 15px; background: #151515CC; color: #fff; } 
.container .toastWrap .toastBox a { display: flex; align-items: center; color: #fff; } 
.container .toastWrap .toastBox a::before { display: block; content: ""; width: 40px; height: 24px; margin-right: 5px; background: url(../../public/images/retto/img-jewel-set3.png) 0 0 / cover no-repeat; } 
.container .toastWrap .toastBox a div { text-align: left; } 
.container .toastWrap .toastBox a div span { font-size: 12px; letter-spacing: -0.04em; line-height: 18px; } 
.container .toastWrap .toastBox a div p { display: flex; align-items: center; font-size: 14px; line-height: 20px; font-weight: 700; } 
.container .toastWrap .toastBox a div p::after { display: block; content: ""; width: 12px; height: 12px; margin-left: 2px; background: url(../../public/images/retto/icon-arrow-white2.svg) 0 0 / cover no-repeat; } 
.container .toastWrap .toastBox .closeBtn { display: block; position: absolute; right: 15px; top: 14px; width: 12px; height: 12px; background: url(../../public/images/retto/btn-close-white.svg) 0 0 / cover no-repeat; } 
.container .buttonWrap { position: fixed; left: 0; bottom: 0; width: 100%; padding: 8px 20px 28px; z-index: 1; background-color: #fff; } 
.container .buttonWrap:global.in { opacity: 1; } 
.container .buttonWrap:global.out { opacity: 0; pointer-events: none; } 

@keyframes characterUp { 
 0% { bottom: -142px; } 
 100% { bottom: 0; } 
 }

 @keyframes fadeIn { 
 0% { opacity: 0; } 
 100% { opacity: 1; } 
 }

@keyframes leafWave { 
 0% { transform: rotate(0); } 
 100% { transform: rotate(-15deg); } 
 }

 @keyframes btnUp { 
 0% { transform: translateY(-20px); opacity: 0; } 
 100% { transform: translateY(0); opacity: 1; } 
 }

 @keyframes btnDown { 
  0% { transform: translateY(20px); opacity: 0; } 
  100% { transform: translateY(0); opacity: 1; } 
  }

@keyframes bounce { 
 0% { margin-bottom: 0; } 
 50% { margin-bottom: -8px; } 
 100% { margin-bottom: 0px; } 
 }

 @media screen and (max-width: 345px){
 .foldSize { display: none; } 
 }

 @media screen and (max-width: 320px){
 .container .mainSection h4 { font-size: 25px; } 
 .container .mainSection .secondContent li:first-child { background: url(../../public/images/retto/home-second-con-01.png) top 20px right 0 / 84px 84px no-repeat; } 
 .container .mainSection .secondContent li:last-child { background: url(../../public/images/retto/home-second-con-02.png) top 16px right 0 / 84px 84px no-repeat; } 
 }