/* SUIT-Regular */
@font-face {
  font-family: 'SUIT';
  src: url('SUIT-Regular.woff2') format('woff2'),
       url('SUIT-Regular.woff') format('woff'),
       url('SUIT-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* SUIT-Medium */
@font-face {
  font-family: 'SUIT';
  src: url('SUIT-Medium.woff2') format('woff2'),
       url('SUIT-Medium.woff') format('woff'),
       url('SUIT-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* SUIT-SemiBold */
@font-face {
  font-family: 'SUIT';
  src: url('SUIT-SemiBold.woff2') format('woff2'),
       url('SUIT-SemiBold.woff') format('woff'),
       url('SUIT-SemiBold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* SUIT-Bold */
@font-face {
  font-family: 'SUIT';
  src: url('SUIT-Bold.woff2') format('woff2'),
       url('SUIT-Bold.woff') format('woff'),
       url('SUIT-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* SUIT-ExtraBold */
@font-face {
  font-family: 'SUIT';
  src: url('SUIT-ExtraBold.woff2') format('woff2'),
       url('SUIT-ExtraBold.woff') format('woff'),
       url('SUIT-ExtraBold.otf') format('opentype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}