@import url("../fonts/gmarketsans/gmarketsans.min.css");

.italic { font-style: italic !important; }
#header .util-wrap .util-menu li.join a:before { width: 16px; height: 15px; background: url("../img/join/btn-join.png") 0 0 no-repeat; top: 1px; }
#container .join-wrap-new .btn { display: inline-block; width: 340px; height: 70px; line-height: 77px; font-size: 25px; font-weight: 500; color: #fff; background-color: #222; border-radius: 15px; }
#container .join-wrap-new .btn-down { margin-top: 100px; background: #222 url('../img/join/btn-down.png') 50px center no-repeat; background-size: auto; text-indent: 62px; }
#container .join-wrap-new * { font-family: Gmarket Sans !important }
#container .join-wrap-new { width: 100%; margin: 0 auto; text-align: center; }
#container .join-wrap-new .font-normal { font-weight: 500 !important; }
#container .join-wrap-new .join-wrap-content { max-width: 1200px; margin: 0 auto; }
#container .join-wrap-new .section { position: relative; }
#container .join-wrap-new .section .join-tit { font-size: 50px; line-height: 56px; font-weight: 700; color: #252525; }
#container .join-wrap-new .section .join-tit-sub { position: relative; padding-top: 90px; font-size: 40px; line-height: 54px; font-weight: 700; color: #252525; }
#container .join-wrap-new .section .join-tit-sub::after { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 90px; height: 90px; }
#container .join-wrap-new .section .join-highlight { position: relative; z-index: 1; }
#container .join-wrap-new .section .join-highlight::after { content: ''; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); z-index: -1; background-color: #fddba3; width: 102%; height: 14px; }
#container .join-wrap-new .section2 .join-highlight::after, #container .join-wrap-new .section3 .join-highlight::after { bottom: 6px; }
#container .join-wrap-new .section .join-color { color: #faa61a; }

#container .join-wrap-new .section .join-wrap-list { margin-top: 55px; font-size: 0; }
#container .join-wrap-new .section .join-wrap-list > li { display: inline-block; width: 25%; padding: 0 40px; }
#container .join-wrap-new .section .join-wrap-list.round > li { width: 100%; padding: 0; }
#container .join-wrap-new .section .join-list-tit { padding: 15px 0 10px; border: 1px solid #faa61a; border-radius: 25px; font-size: 24px; font-weight: 700; color: #faa61a; }
#container .join-wrap-new .section .join-list-sub { position: relative; z-index: 1; padding-top: 130px; font-size: 0; }
#container .join-wrap-new .section .join-list-sub::after { content: ''; position: absolute; top: 47px; left: 50%; transform: translateX(-50%); width: 80px; height: 97px; z-index: -1; }
#container .join-wrap-new .section .join-list-sub li { font-size: 20px; line-height: 45px; margin: 6px 0; color: #444; border-radius: 10px; background-color: #e6e6e6; }
#container .join-wrap-new .section .join-list-sub-round li { position: relative; display: inline-block; width: 255px; height: 260px; margin-right: 60px; border-radius: 30px; background-color: #f7f7f7; vertical-align: top; }
#container .join-wrap-new .section .join-list-sub-round li::after { content: ''; display: inline-block; width: 13px; height: 20px; position: absolute; top: 50%; right: -36px; background: url('../img/join/arrow-right.png') no-repeat; transform: translateY(-50%); }
#container .join-wrap-new .section .join-list-sub-round li:last-child { margin-right: 0; }
#container .join-wrap-new .section .join-list-sub-round li:last-child::after { display: none; }
#container .join-wrap-new .section .join-list-sub-round .sub-tit { position: relative; padding-top: 110px; font-size: 15px; font-weight: 700; color: #222;}
#container .join-wrap-new .section .join-list-sub-round .sub-tit::after { content: ''; position: absolute; top: 43px; left: 50%; transform: translateX(-50%); width: 60px; height: 60px; }
#container .join-wrap-new .section .join-list-sub-round .sub-text { font-size: 16px; line-height: 24px; font-weight: 500; color: #999;}

#container .join-wrap-new .section1 { padding: 90px 0 217px; background-color: #fff; }
#container .join-wrap-new .section1 .join-image-wrap { position: absolute; top: 270px; left: 50%; transform: translateX(-50%); z-index: 1; }
#container .join-wrap-new .section1 .join-tit-sub::after { background: url(../img/join/join-section2.png) no-repeat; }

#container .join-wrap-new .section2 { padding: 258px 0 100px; background-color: #f7f7f7; }
#container .join-wrap-new .section2 .join-tit-sub::after { background: url(../img/join/join-section2.png) no-repeat; }
#container .join-wrap-new .section2 .sub1::after { background: url('../img/join/section2-list1.png') no-repeat; }
#container .join-wrap-new .section2 .sub2::after { background: url('../img/join/section2-list2.png') no-repeat; }
#container .join-wrap-new .section2 .sub3::after { background: url('../img/join/section2-list3.png') no-repeat; }
#container .join-wrap-new .section2 .sub4::after { background: url('../img/join/section2-list4.png') no-repeat; top: 51px; }

#container .join-wrap-new .section3 { padding: 100px 0 160px; background-color: #fff; }
#container .join-wrap-new .section3 .join-wrap-list { margin-top: 65px; }
#container .join-wrap-new .section3 .join-list-sub { padding-top: 40px; }
#container .join-wrap-new .section3 .join-tit-sub::after { background: url(../img/join/join-section3.png) no-repeat; }
#container .join-wrap-new .section3 .join-list-tit { display: inline-block; padding: 15px 30px 10px; }
#container .join-wrap-new .section3 .sub1::after { background: url('../img/join/section3-list1.png') no-repeat; }
#container .join-wrap-new .section3 .sub2::after { background: url('../img/join/section3-list2.png') no-repeat; }
#container .join-wrap-new .section3 .sub3::after { background: url('../img/join/section3-list3.png') no-repeat; }
#container .join-wrap-new .section3 .sub4::after { background: url('../img/join/section3-list4.png') no-repeat; }
#container .join-wrap-new .section3 .info-text { position: relative; margin-top: 40px; font-size: 20px; color: #222; }
#container .join-wrap-new .section3 .info-text .join-highlight::after { bottom: 0; }