@charset "utf-8";

/* layer */
#header{position:relative;background:url(../images/bg_header.gif) repeat-x 0 100%;background-size:.1rem auto}
#header h1{line-height:4.1rem;text-align:center;font-size:1.5rem;color:#000}
#header h1 img{height:1.8rem;width:auto;margin-top:1rem;}
#header .btn_cls{position:absolute;top:0;right:0;padding:1rem}
#header .client{position:absolute;top:1px;left:10px;top:.5rem;left:.7rem}
#header .client img{width:auto;height:39px;height:3rem}
#ct{padding:1.7rem 1.5rem}
.inner{padding-right:1.5rem;padding-left:1.5rem;padding-bottom:1.7rem}
.inner2{padding:3rem 1.5rem}
.scroll{overflow-y:auto;overflow-x:hidden}

/* contnet */
.agree_set{padding-top:.9rem}
.agree_set h2{margin:.9rem 0 .5rem;color:#000}
.agree_set ul{border:1px solid #d4d4d4;border-top:0}
.agree_set li{overflow:hidden;position:relative;padding:1.1rem 3.8rem 1.1rem 1rem;border-top:.1rem solid #d4d4d4}
.agree_set .btn_aree{position:absolute;top:0;right:0;padding:1.2rem}
.agree_set .btn_aree.active .ico_arr2{background-position:-3.4rem 0}
.agree_set li.a{overflow:visible;display:none;padding:0}
.agree_set li.a>div{height:12rem;padding:1rem}

.bank_list{*zoom:1;margin-top:1.25rem}
.bank_list:after{display:block;clear:both;content:''}
.bank_list .ico_upload{position:absolute;top:.8rem;left:-.2rem;z-index:1}
.bank_list li{position:relative;float:left;width:33.3%;padding-top:2px;padding-right:2px}
.bank_list li.last{width:33.4%;padding-right:0}
.bank_list button{width:100%;text-align:center;height:7.5rem;border:1px solid #e3e3e3;font-size:1.4rem}
.bank_list button.selected{border:.4rem solid #f45552}
.bank_list button>span{display:inline-block}
.bank_list img{width:auto;height:3.2rem}

.bank_slide{position:relative;padding-top:2.5rem}
.bank_slide .swiper-container{padding-bottom:2rem}
.bank_slide .swiper-slide{text-align:center}
.bank_slide .btn_bankadm{position:absolute;right:3rem;top:0;font-size:1rem;padding:.5rem;color:#7396aa}
.bank_slide .ticket{display:table;width:22.5rem;height:9.1rem;margin:0 auto;border:1px solid #e7e7e7;-webkit-border-radius:1.1rem;border-radius:1.1rem;box-shadow:0 .5rem 1.2rem rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 .5rem 1.2rem rgba(0, 0, 0, 0.1)}
.bank_slide .ticket img{height:auto;width:46%}
.bank_slide .flex{display:table-cell;vertical-align:middle}
.bank_slide .num{display:block;margin-top:.3rem;font-size:1.95rem}
.bank_slide .swiper-button-next, .bank_slide .swiper-button-prev,
.bank_slide .flex-direction-nav a{top:5.9rem;background-image:url(../images/common.png);background-size:16.5rem auto;vertical-align:middle;color:transparent;white-space:nowrap;width:1.1rem;height:2rem}
.bank_slide .flex-direction-nav a{position:absolute}
.bank_slide .swiper-button-next,
.bank_slide .flex-next{background-position:-9.6rem -12.5rem}
.bank_slide .flex-next{right:0}
.bank_slide .swiper-button-prev,
.bank_slide .flex-prev{background-position:-8.3rem -12.5rem}
.bank_slide .flex-prev{left:0}
.bank_slide .cau{margin-top:1.3rem;font-size:1.1rem;color:#828282}
.bank_slide .cau strong{color:#415564}
.bank_slide .swiper-pagination{transition:0}
.bank_slide .swiper-pagination-bullet,
.bank_slide .flex-control-paging a{width:.6rem;height:.6rem;margin:0 .25rem !important;background-color:#c3c3c3;opacity:1}
.bank_slide .flex-control-paging{height:.6rem;margin-top:1rem;text-align:center}
.bank_slide .flex-control-paging a{display:inline-block;color:transparent;white-space:nowrap;-webkit-border-radius:50%;border-radius:50%;vertical-align:top}
.bank_slide .swiper-pagination-bullet-active,
.bank_slide .flex-control-paging a.flex-active{background-color:#fd3634}
.bank_slide .nobank .ico_plus{margin-bottom:0.2rem}
.bank_slide .nobank{font-size:1.35rem}
/* ie */
.bank_slide.ie .swiper-pagination, .bank_slide.ie .swiper-button-next, .bank_slide.ie .swiper-button-prev, .bank_slide.ie .swiper-container{display:none}

.logo_fullname{padding-top:.7rem;padding-bottom:2.2rem;text-align:center}
.logo_fullname img{width:46%;height:auto}

.taxbx .checkbox{position:absolute;top:1.1rem;left:.7rem}
.taxbx .input{position:relative;height:auto;margin-top:-1px;padding-left:3.75rem}
.taxbx .input input[type="text"], .taxbx .input input[type="password"], .taxbx .input input[type="tel"]{height:4.5rem}
.taxbx .input:first-child{margin-top:0}
.taxbx .input.focus, .taxbx .input.on{z-index:1}
.taxbx .btn_del{padding:.3rem;position:absolute;top:1rem;right:.5rem}

.ars_form>ul{border-bottom:1px solid #e3e3e3}
.ars_form>ul>li{position:relative;font-size:1.5rem;border:1px solid #e3e3e3;border-bottom:0;height:5rem;padding-top:1.4rem;padding-left:7.5rem;color:#415564}
.ars_form .stit{position:absolute;top:1.5rem;left:1rem;font-size:1.4rem}
.ars_form li.master, .ars_form li.num .input, .ars_form li.pw .input{padding-left:7.5rem}
.ars_form li.num, .ars_form li.pw, .ars_form li.tax{padding-top:0;padding-left:0;border:0}
.ars_form li.buy{padding-top:.9rem;border-bottom:1px solid #e3e3e3}
.ars_form li.buy b{font-size:2rem}
.ars_form li.pw{height:auto}
.ars_form li.pw .error{display:none;margin-top:.7rem;text-align:center}
.ars_form li.pw .input .lbl{left:7.5rem;width:auto}
.ars_form li.pw .input.focus{padding-left:7.3rem}
.ars_form li.pw .input.focus{border:4px solid #fd3634}
.ars_form li.pw .input.focus input{padding-top:.55rem;height:4.4rem}
.ars_form li.tax{height:auto;margin-top:2rem}
.ars_form li.tax .checkbox.ty label{font-size:1.2rem;color:#828282}
.ars_form li.tax .btn_taxchg{position:absolute;top:0;right:0;margin-top:-.1rem;padding:.5rem;text-decoration:underline;font-size:1rem;color:#888}
.ars_form .skipbx{display:none;height:auto;position:absolute;top:-.6rem;right:0;left:0;z-index:10;padding:.4rem 1.1rem 1.1rem;border:1px solid #415564;background-color:#fff}
.ars_form .skipbx select{overflow:hidden;white-space:nowrap;width:100%;height:4rem;line-height:2.2rem;background:#fff url(../images/select_arr.png) no-repeat 100% 50%;background-size:auto .7rem;border:0;text-align:left;font-size:1.4rem}
.ars_form .skipbx .row{display:none}
.ars_form .skipbx .btn_save{margin-top:1.1rem;text-align:center}
.ars_form .skipbx .btn_save button{width:9rem}
.ars_form.mty{margin-top:1.2rem}

.ars_timer{padding-top:3.5rem;text-align:center}
.ars_timer h2{font-size:1.8rem}
.ars_timer .txt{margin-top:.5rem;font-size:1.3rem}
.ars_timer .timer{margin-top:1.5rem;font-weight:500;font-size:1.2rem}
.ars_timer .timer2{margin-top:4rem;font-weight:500;font-size:1.3rem}
.ars_timer .circle_motion, .ars_timer .circle{margin-top:3.5rem}
.ars_timer .circle.mty{margin-top:2rem}

.pw_set{padding-top:1.5rem;text-align:center}
.pw_set h2{font-size:1.8rem}
.pw_set .txt{margin-top:.2rem;margin-bottom:3.2rem;font-size:1.1rem;color:#7396aa}
.pw_set .input.focus{border:4px solid #415564}
.pw_set .input.focus input{height:4.4rem}

.adm_set h2{margin-top:1.5rem;margin-bottom:.5rem;font-size:1.1rem}
.adm_set .list_menu{border-top:1px solid #d7d7d7}
.adm_set .list_menu li{border:1px solid #d7d7d7;border-top:0}
.adm_set .list_menu a{display:block}
.adm_set .list_menu button, .adm_set .list_menu a{position:relative;width:100%;padding-left:1.1rem;line-height:4.9rem;font-size:1.3rem;text-align:left}
.adm_set .list_menu .ico_arr3{position:absolute;top:1.8rem;right:1.1rem}
.adm_set .list_bank{border-top:1px solid #d7d7d7}
.adm_set .list_bank li{position:relative;border:1px solid #d7d7d7;border-top:0;padding:1.5rem 0 1.4rem 1rem}
.adm_set .list_bank .checkbox.ty2 label{font-size:1.3rem}
.adm_set .list_bank .btn_del{position:absolute;top:.9rem;right:.6rem;padding:.5rem}
.adm_set .list_bank .name{margin-right:1.3rem}
.adm_set .btn_plus{width:100%}
.adm_set .tax_set{margin-top:0}

.tax_set{margin-top:3.4rem;border-top:1px solid #e1e1e1}
.tax_set article{padding:1.1rem;border:1px solid #e1e1e1;border-top:0;background-color:#fff}
.tax_set .row{display:none;margin-top:1.2rem}
.tax_set h3{background:url(../images/select_arr_gry.png) no-repeat 100% 50%;background-size:auto .7rem}
.tax_set h3 button{width:100%;font-size:1.4rem;text-align:left;color:#a0a0a0}
.tax_set article.active .row{display:block}
.tax_set article.active h3{background-image:url(../images/select_arr_up.png)}
.tax_set article.active h3 button{color:#415564}
.tax_set .caulst{margin-top:1.4rem}
.tax_set .caulst li{position:relative;padding-left:.5rem;font-size:1rem;color:#7396aa}
.tax_set .caulst li i{position:absolute;top:0;left:0}

#ct.bankskip{padding-right:0;padding-left:0}
#ct.userskip{padding:0}
#ct.userskip .tab_type{position:relative;z-index:1;margin-top:-.15rem}

/* popup */
.ly_pop{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99}
.ly_pop .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.ly_pop .cont{width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;text-align:center}
.ly_pop .cont:before{height:100%;content:'';display:inline-block;vertical-align:middle}
.ly_pop .ele{width:80%;position:relative;display:inline-block;vertical-align:middle;margin:0 auto 0 -2px;background:#fff}

.ly_ars h2{font-size:1.6rem}
.ly_ars p{margin-top:1.6rem;font-size:1.2rem}

.ly_withdraw .cau{padding:5rem 1.5rem;font-weight:500;font-size:1.6rem}

.ly_loading .ele{background:none}
.ly_loading .circle_motion{width:50px;height:50px}
.ly_loading .circle_motion .span{background-color:transparent;border:4px solid rgba(255,255,255,.3);border-top-color:#fff;animation:spin 1s linear infinite;;-webkit-animation: spin 1s linear infinite}
.ly_loading .circle_motion:before{content:'';display:block;position:absolute;top:-15px;bottom:-15px;right:-15px;left:-15px;border-radius:50%;background-color:#000;opacity:.6}
.ly_loading .img_loading{display:none}
.ly_loading.ie9_after .circle_motion{display:none}
.ly_loading.ie9_after .img_loading{display:inline}

.ly_subphone button{width:100%}
.ly_subphone li{border-top:.1rem solid #bebebe}
.ly_subphone li:first-child{border-top:0}
.ly_subphone li button{height:5.3rem;font-weight:500;font-size:1.6rem}
.ly_subphone li button.selected{background-color:#415564;color:#fff}