#content {
  background-color: #17181D;
}

.challenge-container {
  display: flex;
  flex-direction: column;
}

.challenge-container .title-section {
  position: relative;
  margin: 0;
  padding: 32px 0 84px;
  text-align: center;
}

.challenge-container .title-section .top-text {
  color: #FFFFFFCC;
}

.challenge-container .title-section .title-text {
  width: 327px;
  margin: 8px 0;
}

.challenge-container .title-section .sub-text {
  color: #FFFFFFCC;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.challenge-container .title-section .sub-text span {
  color: #E0FF63;
  font-weight: 700;
}

.challenge-container .title-section .img-wrap {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 424px;
  height: 180px;
}

.challenge-container .title-section .img-wrap span {
  position: absolute;
}

.challenge-container .title-section .img-wrap span.img-1 {
  left: 0;
  top: 0;
}

.rolling-wrap {
  overflow: hidden;
  width: 100%;
}

.rolling-item {
  display: flex;
  width: fit-content;
  white-space: nowrap;
}

.rolling-item img {
  display: inline-block;
  flex-shrink: 0;
  height: auto;
}

/* 왼쪽에서 오른쪽으로 롤링 (rolling-item-1) */
.rolling-item-1 {
  animation: roll-right 20s linear infinite;
}

.rolling-item-1 img {
  width: 868px;
}

/* 오른쪽에서 왼쪽으로 롤링 (rolling-item-2) */
.rolling-item-2 {
  animation: roll-left 20s linear infinite;
}

.rolling-item-2 img {
  width: 638px;
}

@keyframes roll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes roll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

