@charset "UTF-8";

/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; }
html { -ms-touch-action: none; }
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { min-width: 320px;  background-color: #fff; font-family: 'Gmarket Sans', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', Sans-serif; font-size: 13px; line-height: 1.5; letter-spacing: -0.03em; color: #222; word-break: keep-all; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; }
fieldset, img { border: 0; }
img { vertical-align: top; -ms-interpolation-mode: bicubic; }
img, video, audio, object, embed, iframe { max-width: 100% }
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
ul, ol, menu { list-style: none; }
a { color: #222; text-decoration: none; -webkit-transition: color .2s; -o-transition: color .2s; transition: color .2s; }
address, em, i { font-style: normal; }
del { text-decoration: none; }
button { overflow: hidden; border: 0; background: none; outline: 0; }
h1, h2, h3, h4, h5 { font-weight: 700; }
strong, b { font-weight: 700; }
pre { word-break: break-all; white-space: pre-line; }
/*:focus { outline: 0; }*/


/* #FORM
------------------------------------------------------------*/
label, input, select, textarea, button { outline: none; font-family: 'Gmarket Sans', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', Sans-serif; font-size: 15px; color: #222; vertical-align: top; }
textarea { padding: 9px 10px; width: 100%; border: 1px solid #ccc; border-radius: 3px; resize: vertical; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="image"], input[type="submit"], input[type="cancel"], button { cursor: pointer; }
input:disabled, select:disabled, textarea:disabled,
input[readonly], select[readonly], textarea[readonly],
.disabled, .readonly { background-color: transparent; color: #888; -webkit-text-fill-color: #888; opacity:1; }
input[type="radio"], input[type="checkbox"] { margin-right: 2px; width: 16px; height: 16px; vertical-align: -4px; }
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"],
select { display: inline-block; padding: 9px 10px; width: 100%; height: 40px; background-color: #fff; border: 1px solid #ccc; line-height: 20px; caret-color: #1257d6; vertical-align: top; border-radius: 3px; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus { border-color: #1a2485; z-index: 2; }
select { background: transparent url("../images/select-bg.png?ver=20210128") no-repeat; background-position: right 15px center; background-size: 10px auto; text-align: left; }
select:disabled, .select:disabled, select[readony], .select[readony] { background-image: url("../images/select-disabled-bg.png?ver=20210128"); color: #888; cursor: default; }

/* input number */
input[type='number'] { -moz-appearance: textfield; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }


/** for ie **/
button:active { border-style: outset; }
select::-ms-expand { display: none; } /* 화살표 숨김 for IE10, 11 */
input[type=text]::-ms-clear{ display: none; } /* IE 삭제 버튼(X)) 숨김 */

/** placeholder **/
input::placeholder { color: #bbb; font-weight: 400; height: 23px; line-height: 23px; }
textarea::placeholder { color: #bbb; font-weight: 400; height: inherit; line-height: inherit; }
/* webkit */
input::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
textarea::-webkit-input-placeholder { color: #bbb; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #aaa; font-weight: 400; }
textarea:-moz-placeholder { color: #aaa; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #aaa; font-weight: 400; }
textarea::-moz-placeholder { color: #aaa; font-weight: 400; }
/* ie10+ */
input:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: #bbb !important; font-weight: 400 !important; }
.placeholder { color: #bbb !important; }


/* #LAYOUT
------------------------------------------------------------*/
/* ----- container / grid ----- */
.container, .container-fluid { clear: both; padding-left: 25px; padding-right: 25px; }
.container { margin: auto; min-width: 320px; max-width: 1330px; }
.row { clear: both; margin-left: -15px; margin-right: -15px; }
.clearfix { clear: both; }
.container:after, .container-fluid:after, .row:after, .clearfix:after { content: ''; clear: both; display: block; }
.col { float: left; padding-left: 15px; padding-right: 15px; }

/* ----- 브라우저 업데이트 안내 ----- */
.info-ie-update { position: fixed; top: 0; left: 0; padding: 1.5rem -0px; width: 100%; z-index: 999;
	background: rgba(255,255,255,.9); -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3); box-shadow: 0 5px 10px rgba(0,0,0,.3);
	font-size: 1rem; line-height: 1.5; text-align: center; }
.info-ie-update a { display: inline-block; margin-top: .5rem; text-decoration: underline; color: #1a2485; }

/* -----  header ----- */
header { position: fixed; top: -120px; left: 0; clear: both; padding: 18px 0; width: 100%; z-index: 20;
	background: #fff; -webkit-box-shadow: 0 3px 5px rgba(26,36,133,.1);	box-shadow: 0 3px 5px rgba(26,36,133,.1); font-size: 0; color: #fff;
	-webkit-transition: top .3s; -o-transition: top .3s; transition: top .3s; }
header:after { content: ''; clear: both; display: block; }
header.fixed { top: 0; }
header .container { max-width: 1790px; }
header .logo { margin-top: 1px; float: left; }
header .logo a { display: block; }
header .logo img { width: 96.38px; height: 28px; }
header .logo img.white { display: none; }
header .nav-store { float: right; }
header .nav-store li { float: left; margin-left: 15px; }
header .nav-store li:first-child { margin-left: 0; }
header .nav-store li a { display: block; width: 30px; height: 30px; background: url("../images/010zeropay/nav-store.png?ver=20210128") 0 0 no-repeat; background-size: cover; font-size: 0; }
header .nav-store li:nth-child(2) a { background-position: 50% 0; }
header .nav-store li:nth-child(3) a { background-position: 100% 0; }

/* ----- footer ----- */
footer { position: relative; clear: both; padding: 40px 0 30px; background-color: #f2f2f2; font-family: 'Noto Sans KR'; font-size: 10px; color: #1d1d1b; text-align: center; }
footer:after { content: ''; clear: both; display: block; }
footer a { color: #1d1d1b; }
footer a:hover { color: #202c9e; }
footer .btn-top { position: absolute; top: -20px; right: 50%; z-index: 99; width: 40px; height: 40px; margin-right: -20px;
	background: #fff url("../images/010zeropay/icon-arrow-top.svg?ver=20210128") center center no-repeat; background-size: 13px auto;
	border: 1px solid #666; -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.26); box-shadow: 0 6px 10px rgba(0,0,0,.26); font-size: 0;
}
footer .footer-link { font-size: 0; }
footer .footer-link li { display: inline-block; }
footer .footer-link li:before { content: ''; display: inline-block; margin: 0 3px; width: 1px; height: 10px; background-color: #adadad; vertical-align: -1px; }
footer .footer-link li:first-child:before { display: none; }
footer .footer-link li a { font-size: 11px; font-weight: 500; }
footer .footer-info { margin: 15px 0 5px; }
footer .footer-info li.name { margin-bottom: 5px; font-weight: 700; }
footer .footer-info li.name img { width: auto; height: 11px; vertical-align: -0.125em; }

/* ----- fullpage ----- */
/* navigation */
#fp-nav.fp-right { right: 20px; }
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
	right: 20px; display: block; width: 100px;
	border: 1px solid #1a2485; border-radius: 15px; background: rgba(255,255,255,.5);
	font-family: 'Gmarket Sans', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', Sans-serif; font-size: 12px; line-height: 24px; color: #222; text-align: center;
}
.fp-viewing-intro #fp-nav ul li a span,
.fp-viewing-balance #fp-nav ul li a span,
.fp-viewing-intro .fp-slidesNav ul li a span,
.fp-viewing-balance .fp-slidesNav ul li a span { background: #fff; }

@media only screen and (min-width: 375px) {
	footer .footer-link li:before { margin: 0 8px; }
}

@media only screen and (min-width: 1024px) {
	/* ----- footer ----- */
	footer { padding: 60px 0 80px; font-size: 16px;  text-align: left; }
	footer .btn-top { top: -40px; right: 25px; margin-right: 0; width: 80px; height: 80px; background-size: 26px auto; }
	footer .footer-link li a { font-size: 18px; }
	footer .footer-link li:before { margin: 0 20px; height: 14px; vertical-align: 0; }
	footer .footer-info li { display: inline-block; margin-left: 20px; }
	footer .footer-info li.name { margin-bottom: 0; }
	footer .footer-info li:first-child { margin-left: 0; }
	footer .footer-info li.name img { height: 18px; }
}

@media only screen and (min-width: 1330px) {
	/* ----- header ----- */
	header { padding: 35px 0; background: none; -webkit-box-shadow: none; box-shadow: none; }
	header .logo { margin-top: 5px; }
	header .logo img { width: 137.67px; ;height: 40px; }
	header .nav-store li { margin-left: 30px; }
	header .nav-store li a { width: 50px; height: 50px; }

	/* ----- footer ----- */
	footer .btn-top { right: 50%; margin-right: -640px; }

	/* ----- fullpage ----- */
	/* 로고 컬러 반전, white */
	.fp-viewing-intro header img.default,
	.fp-viewing-balance header img.default { display: none; }
	.fp-viewing-intro header img.white,
	.fp-viewing-balance header img.white { display: block; }
}

/* ----- 모바일 가로  ----- */
#cover { display: none; }
@media only screen and (max-width: 900px) and (orientation:landscape) {
	#cover { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #1a2485; color: #fff; font-size: 16px; text-align: center; z-index: 999; }
	#cover .d-table, #cover .d-tablecell { width: 100%; height: 100%; }
	#cover .d-tablecell { padding-bottom: 10px; }
	#cover img { margin-bottom: 20px; width: 90px; }
}


/* #CONTENT
------------------------------------------------------------*/
/* ----- common ----- */
.content, .section { clear: both; }
.content:after, .section:after { content: ''; clear: both; display: block; }
.section-wrap { position: relative; padding: 50px 0; width: 100%; overflow: hidden; }
.section-title, .title-info { line-height: 1.1; letter-spacing: -0.05em; }
.section-title { margin-top: .3em; font-size: 36px; font-weight: 700; }
.section-title strong { color: #202c9e; }
.section-title small { display: block; font-size: 57%; font-weight: 500; }
.title-info { font-size: 16px; font-weight: 500; }

/* ----- intro ----- */
.intro { position: relative; background-color: #1a2485; color: #fff; text-align: center; }
.intro .fp-tableCell { vertical-align: bottom; }
.intro .intro-wrap { position: relative; padding-top: 65px; }
.intro .intro-wrap:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background-color: #fff; z-index: 3; }
.intro .title-info { color: #7c85de; }
.intro .section-title { line-height: 1.04; }
.intro .section-title strong { color: #04ff80; }
.intro .img-paper { position: absolute; top: 55px; left: 50%; margin-left: -160px; width: 320px; z-index: 2; }
.intro .txt { position: relative; z-index: 3; }
.intro .logo-box { position: relative; display: inline-block; padding: .16em .2em; font-size: 25px; height: 1.320em; line-height: 1; vertical-align: top; }
.intro .logo-box:before { content: ''; display: block; position: absolute; top: 46%; bottom: 0; left: 0; width: 100%; background-color: #3b47c1; z-index: 1; }
.intro .logo { position: relative; width: auto; height: 1em; z-index: 2; }
.intro .img { position: relative; margin-top: 30px; padding: 80px 0 115px; background: url("../images/010zeropay/intro-bg-m.png?ver=20210128") center bottom no-repeat; background-size: 400px auto; z-index: 2; }
.intro .img img { z-index: 2; }
.intro .img .img-puppy { position: relative; width: 290px; z-index: 2; }
.intro .img [class|='img-bubble'] { position: absolute; top: 0; left: 50%; width: 100px; z-index: 1; }
.intro .img .img-bubble-1 { margin-left: -130px; }
.intro .img .img-bubble-2 { margin-left: 30px; }

/* 스토어 버튼 */
.intro .nav-store { position: absolute; bottom: 45px; left: 0; width: 100%; font-size: 0; z-index: 5; }
.intro .nav-store li { display: inline-block; margin: 0 3px; }
.intro .nav-store li a { display: block; width: 100px; height: 70px; border-radius: 5px; background: #fff url("../images/010zeropay/intro-nav-store-m.png?ver=20210128") 0 0 no-repeat; background-size: cover;
	-webkit-box-shadow: 0 10px 15px rgba(0,9,94,.18); box-shadow: 0 10px 15px rgba(0,9,94,.18); font-size: 0; }
.intro .nav-store li:nth-child(2) a { background-position: 0 50%; }
.intro .nav-store li:nth-child(3) a { background-position: 0 100%; }

/* 아래로 이동 버튼(마우스 아이콘) */
.intro .btn-down { display: none; position: absolute; left: 50%; bottom: 5px; z-index: 10; margin-left: -17px; width: 34px; }

/* ----- animate ----- */
.animate__animated { opacity: 0; }
.animate__fadeIn, .animate__fadeInLeft, .animate__fadeInRight,
.animate__zoomIn, .animate__pulse { opacity: 1; }

/* ----- section navigation ----- */
.is-nav-section .section-wrap { position: relative; min-height: 100%; padding-top: 80px; }
.is-nav-section .fp-tableCell { vertical-align: top; }
.nav-section { position: relative; z-index: 10; }
.nav-section:before { content: ''; position: absolute; bottom: 0; left: 0; right: -100%; width: 200%; height: 1px; background-color: #ddd; }
.nav-section li { display: inline-block; margin-left: 30px; vertical-align: top; }
.nav-section li:first-child { margin-left: 0; }
.nav-section li a { position: relative; display: block; border-bottom: 2px solid transparent; font-size: 15px; font-weight: 500; color: #d7d7d7; line-height: 25px; z-index: 2; }
.nav-section li a .italic { padding-right: .2em; }
.nav-section li.active a { font-weight: 700; color: #202c9e; border-bottom-color: #202c9e; }

/* ----- speed ----- */
.speed .txt { position: relative; margin-top: 50px; z-index: 3; }
.speed .title-info { color: #777; }
.speed .section-title img.logo { margin-right: .05em; width: auto; height: 1em; vertical-align: -0.15em; }
.speed .list-auth { margin-top: 30px; }
.speed .list-auth li { display: block; margin-bottom: 15px; width: 90px; font-size: 11px; font-weight: 500; text-align: center; }
.speed .list-auth li:before { content: ''; display: block; margin: 0 auto 5px; width: 55px; height: 55px; background: url("../images/010zeropay/speed-auth.png?ver=20210128") 0 0 no-repeat; background-size: cover; }
.speed .list-auth li:nth-child(2):before { background-position: 50% 0; }
.speed .list-auth li:nth-child(3):before { background-position: 100% 0; }
.speed .img { position: absolute; bottom: .3%; right: -30%; width: 100%; z-index: 2; }
.speed .img .img-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background-color: #f1f2ff; z-index: 1; }
.speed .img .img-bg:after { content: ''; display: block; position: absolute; top: 17%; left: 17%; width: 66%; height: 66%; border-radius: 50%; background-color: #fff; }
.speed .img .img-phone { position: relative; z-index: 2; }

/* ----- recharge ----- */
.recharge .section-wrap { padding-bottom: 0; min-height: 585px; }
.recharge .container { position: relative; }
.recharge .title-info { color: #777; }
.recharge .section-title { margin-top: .2em; letter-spacing: -0.04em; }

/* slider txt */
.recharge .title-info,
.recharge .section-title small { opacity: 0; }
.recharge .active .title-info,
.recharge .active .section-title small { opacity: 1; }
.recharge .section-title strong { color: #efeff6; }
.recharge .active .section-title strong { color: #202c9e; }
.recharge .section-title small { font-weight: 700; }
.recharge .item-1 .section-title span { color: #f94312; }
.recharge .item-2 .section-title span { color: #008903; }
.recharge .item-3 .section-title span { color: #890064; }

/* slide img */
.recharge .slider { margin-top: 30px; width: 265px; }
.recharge .slider .owl-stage-outer { overflow: visible; }
.recharge .slider .owl-item { width: 265px !important; }
.recharge .slider .img { position: relative; padding: 50px 0 60px; overflow: visible; }
.recharge .slider .img-bg { position: relative; padding-top: 24%; width: 240px; height: 170px; text-align: center;
	background-color: #f0f1fe; border-radius: 0 40px 40px 40px; -webkit-transition: height .2s; -o-transition: height .2s; transition: height .2s; }
.recharge .slider .active .img-bg { height: 240px; }
.recharge .slider .img-bg .title { font-size: 40px; color: #e0e1f4; font-weight: 700; letter-spacing: -0.04em; line-height: 1.1; opacity: 1; -webkit-transition: opacity .2s; -o-transition: opacity .2s; transition: opacity .2s; }
.recharge .slider .active .img-bg .title { opacity: 0; }

.recharge .slider .img-detail { position: absolute; top: 0; left: -40px; width: 340px; opacity: 0; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.recharge .slider .img-detail img { position: absolute; top: 0; left: 0; display: block; width: 320px; height: auto; opacity: 0;
	-webkit-transition: all .6s; -o-transition: all .6s; transition: all .6s; }
.recharge .slider .active .img-detail { opacity: 1; }
.recharge .slider .active .img-detail img:nth-child(1) { opacity: 1; }
.recharge .slider .active .img-detail img:nth-child(2) { opacity: 1; -webkit-transition-delay: .5s; -o-transition-delay: .5s; transition-delay: .5s; }
.recharge .slider .active .img-detail img:nth-child(3) { opacity: 1; -webkit-transition-delay: .8s; -o-transition-delay: .8s; transition-delay: .8s; }

/* slide-pc name(custom dots) */
.recharge .owl-custom-dots { position: relative; margin-top: 8em; font-size: 8px; /*z-index: -1;*/ }
.recharge .owl-custom-dots .owl-dot { display: inline-block; margin-right: 1.2em; vertical-align: middle; cursor: pointer; }
.recharge .owl-custom-dots .owl-dot.active { padding-left: .5em; }
.recharge .owl-custom-dots .owl-dot .num { display: inline-block; position: relative; width: 1.5em; height: 1.5em; padding-top: .3em; font-size: 2em; font-weight: 700; line-height: 1.1; color: #fff; text-align: center; vertical-align: middle; }
.recharge .owl-custom-dots .owl-dot .num:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 1.5em; height: 1.5em; border-radius: .5em; background-color: #ebebeb; color: #fff; z-index: -1; }
.recharge .owl-custom-dots .owl-dot.active .num:after { top: -0.15em; left: -0.15em; width: 1.75em; height: 1.75em; background-color: #202c9e; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.recharge .owl-custom-dots .owl-dot .name { font-size: 0; font-weight: 500; color: #202c9e; vertical-align: middle; }
.recharge .owl-custom-dots .owl-dot.active .name { display: inline-block; margin: 0 0 0 .3em; padding-top: .2em; font-size: 2.6em; line-height: 1; }

/* slider-pc */
.recharge .slider-pc { position: relative; margin-top: 0; width: 55.9em; height: 84em; font-size: 6px; }
.recharge .slider-pc .owl-stage { height: 84em; overflow: hidden; }
.recharge .slider-pc .owl-item { width: 55.9em !important; }
.recharge .slider-pc .img { padding: 14em 0 20em; }
.recharge .slider-pc .img-bg { padding-top: 26%; width: 51.4em; height: 36.2em; border-radius: 0 8em 8em 8em; }
.recharge .slider-pc .img-bg .title { font-size: 8em; }
.recharge .slider-pc .img-bg { height: 36.2em; }
.recharge .slider-pc .active .img-bg { height: 51.4em; }
.recharge .slider-pc .active + div .img-bg,
.recharge .slider-pc .active + div + div .img-bg,
.recharge .slider-pc .active + div + div + div .img-bg { opacity: 0; }
.recharge .slider-pc .img-detail { left: -6em; width: 100em; height: 90em; }
.recharge .slider-pc .img-detail img { width: 74em; }

/* slider-txt-pc */
.recharge .slider-pc-txt { position: absolute; top: 18em; left: 56%; width: 100%; height: 85em; background-color: #fff; white-space: nowrap; font-size: 6px; z-index: 100; }
.recharge .slider-pc-txt .section-title.dis { color: #efeff6; }
.recharge .slider-pc-txt > div { position: absolute; top: 12em; left: 0; opacity: 0; -webkit-transition: opacity .2s; -o-transition: opacity .2s; transition: opacity .2s; }
.recharge .slider-pc-txt > .active { opacity: 1; }

/* ----- balance ----- */
.balance { background-color: #222; color: #fff; }
.balance .title-info { font-size: 20px; color: #909090; }
.balance .title-info .tip { width: 30px; height: auto; vertical-align: -0.2em; }
.balance .title-info .logo { margin-right: .05em; width: auto; height: 1em; vertical-align: -0.15em; }
.balance .section-title strong { color: #04ff80; }
.balance .img { position: relative; padding-right: 37px; text-align: right; }
.balance .img .img-phone { width: 170px; height: auto; }
.balance .img .img-zoom { position: absolute; top: 73px; right: 0; width: 207px; }

/* ----- goods ----- */
.goods .fp-tableCell { vertical-align: top; }
.goods .section-wrap { padding-top: 0; }
.goods .banner { background-color: #f5f6ff; }
.goods .banner .container { position: relative; padding: 45px 25px 35px; }
.goods .banner .container h2, .goods .banner .container p { position: relative; z-index: 2; }
.goods .banner .img { position: absolute; right: 0; top: 0; bottom: 0; width: 160px; height: 100%; z-index: 1;
	background: url("../images/010zeropay/goods-banner-m.png?ver=20210128") right bottom no-repeat; background-size: contain; }
.goods .banner .section-title { margin-top: 10px; }
.goods .banner .section-title strong { padding-right: 60px; }
.goods .list { margin-top: 30px; }

@media only screen and (min-width: 360px) {
	/* ----- common ----- */
	.section-title { font-size: 40px; }

	/* ----- speed ----- */
	.speed .list-auth { margin-top: 50px; }

	/* ----- recharge ----- */
	.recharge .slide-m { margin-top: 50px; }
}

@media only screen and (min-width: 768px) {
	/* ----- goods ----- */
	.goods .banner br { display: none; }
	.goods .banner .section-title strong { padding-right: 0; }
}

@media only screen and (min-width: 1024px) {
	/* ----- common ----- */
	.section-title { font-size: 70px; }
	.section-title small { font-size: 50%; }
	.title-info { font-size: 20px; }

	/* ----- intro ----- */
	.intro .title-info { font-size: 20px; }
	.intro .section-title { margin-top: .2em; }
	.intro .img-paper { margin-left: -450px; width: 900px; }
	.intro .logo-box { font-size: 40px; }
	.intro .intro-wrap:before { height: 132px; }
	.intro .img { font-size: 6px; margin-top: 4em; padding: 0 0 38em; background-image: url("../images/010zeropay/intro-bg.png?ver=20210128"); background-size: 68em auto; }
	.intro .img .img-puppy { width: 58em; }
	.intro .img [class|='img-bubble'] { top: 2.5em; width: 22em; }
	.intro .img .img-bubble-1 { margin-left: -37em; }
	.intro .img .img-bubble-2 { margin-left: 17em; }
	.intro .nav-store { bottom: 80px; }
	.intro .nav-store li { margin: 0 8px; }
	.intro .nav-store li a { width: 150px; height: 150px; background-image: url("../images/010zeropay/intro-nav-store.png?ver=20210128"); }

	/* ----- speed ----- */
	.speed .list-auth { margin: 60px 0 0 -15px; }
	.speed .list-auth li { display: inline-block; margin: 0; width: 140px; font-size: 18px; }
	.speed .list-auth li:before { width: 110px; height: 110px; }
	.speed .img { right: -30px; bottom: 0; width: 55%; }

	/* ----- balance ----- */
	.balance .section-wrap { padding: 40px 0 0; }
	.balance .title-info { font-size: 40px; }
	.balance .title-info .tip { width: 60px; vertical-align: -0.45em; }
	.balance .container { white-space: nowrap; }
	.balance .txt { float: left; padding-top: 90px; }
	.balance .img { float: right; margin-right: -10px; padding-right: 40px; min-width: 330px; }
	.balance .img .img-phone { width: 300px; }
	.balance .img .img-zoom { top: 150px; width: 330px; }

	/* ----- goods ----- */
	.goods .banner .img { top: 60px; bottom: -60px; width: 371px; background-image: url("../images/010zeropay/goods-banner.png?ver=20210128"); }
	.goods .list { margin-top: 60px; }
}

@media only screen and (min-width: 1330px) {
	/* ----- common ----- */
	.section-wrap { padding: 120px 0; }
	.section-title { font-size: 90px; }
	.title-info { font-size: 28px; }

	/* ----- intro ----- */
	.intro .title-info { font-size: 26px; }
	.intro .intro-wrap:before { height: 210px; }
	.intro .img-paper { margin-left: -640px; width: 1280px; }
	.intro .logo-box { font-size: 50px; }
	.intro .img { font-size: 8px; }
	.intro .nav-store { bottom: 125px; }
	.intro .nav-store li { margin: 0 8px; }
	.intro .nav-store li a { width: 190px; height: 190px; background-image: url("../images/010zeropay/intro-nav-store.png?ver=20210128"); }
	.intro .btn-down { display: block; }

	/* ----- section navigation ----- */
	.is-nav-section .section-wrap { padding-top: 130px; padding-bottom: 30px; }
	.nav-section li a { border-bottom-width: 4px; font-size: 24px; line-height: 48px; }

	/* ----- speed ----- */
	.speed .txt { margin-top: 150px; }
	.speed .img { width: 42%; }
	.speed .list-auth { margin-top: 70px; }

	/* ----- recharge ----- */
	.recharge .section-title { font-size: 80px; }
	.recharge .section-title small { font-size: 36px; }
	.recharge .owl-custom-dots { font-size: 9px; }
	.recharge .slider-pc,
	.recharge .slider-pc-txt { font-size: 8px; }

	/* ----- balance ----- */
	.balance .title-info { font-size: 45px; }
	.balance .title-info .tip { width: 80px; }
	.balance .txt { padding-top: 180px; }
	.balance .img { margin-right: -40px; padding-right: 40px; min-width: 500px; }
	.balance .img .img-phone { width: 394px; }
	.balance .img .img-zoom { top: 200px; width: 460px; }

	/* ----- goods ----- */
	.goods .section-wrap { padding-top: 120px; }
	.goods .section-title { font-size: 90px; }
}


/* #UTILITIES
------------------------------------------------------------*/
/* ----- typography ----- */
.text-primary { color: #202c9e; }
.italic { font-style: italic; }

/* ----- display ----- */
.hidden { display: none !important; }
.hidden-mobile { display: none !important; }
.hidden-pc { display: block !important; }

.d-table { display: table; }
.d-tablecell { display: table-cell; vertical-align: middle; }

@media only screen and (max-width: 1023px) {
	.hidden-mobile { display: none !important; }
}
@media only screen and (min-width: 1024px) {
	.hidden-mobile { display: block !important; }
	.hidden-pc { display: none !important; }
}
