@charset "UTF-8"; @import url(../fonts/pretendard/pretendard-subset.min.css); body { background-color: #fff; font-family: 'Pretendard' } 
input, button { font-family: 'Pretendard'; } 
label, textarea, button { font-family: 'Pretendard'; } 
.container-new { max-width: 700px; } 
.text-danger { color: #ff3701 !important; } 

.container-new .headline { text-align: left; background: url(../images/bg/bg-vbank.png) no-repeat right bottom / 125px auto; } 
.container-new .headline strong { font-size: 28px; line-height: 30px; color: #151515; word-break: keep-all; } 
.container-new .headline p { line-height: 1; margin-top: 12px; font-size: 14px; color: #575757; } 
.container-new .headline p > strong { font-size: 14px; font-weight: 700; color: #151515; } 
.container-new .headline p > span { font-size: 14px; } 
.container-new .headline2 {background: none;text-align: center;}
.container-new .headline2 p { font-size: 25px;font-weight: 400; color: #151515; } 
.container-new .headline2 p > strong { font-size: 25px; font-weight: 400; } 

.container-new .form-type .input { height: 70px; line-height: 70px; background-color: #fff; border: 1px solid #000; border-radius: 8px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); } 
.container-new .form-type .label-switch { margin-bottom: 0; padding: 22px 16px; } 
.container-new .form-type .input .time { top: 20px; right: 20px; } 

/* 번호입력 인풋 영역 */
.number-area { margin-top: 44px; } 
.number-area .number-container { background-color: #F6F6F6; border-radius: 8px; } 
.number-area .save { padding: 14px 12px; } 
.number-area .save > span { font-size: 12px; font-weight: 400; color: #575757; } 
.number-area .save .switch-container { float: right; } 
.number-area .number-container .input { position: relative; height: 70px; border: 1px solid #151515; border-radius: 8px; background-color: #fff; font-size: 24px; font-weight: 700; } 
.number-area .number-container .input.focus { border: 1px solid #151515; } 
.number-area .number-container .input .front { display: block; position: absolute; top: 0; left: 16px; font-size: 24px; font-weight: 700; line-height: 68px; color: #000; pointer-events : none; } 
.number-area .number-container .input input[type="tel"] { padding: 0 0 0 6px; height: 68px; font-weight: 700; vertical-align: middle; } 
.number-area .number-container .input input[type="tel"]::placeholder { font-weight: 700; } 

.number-area .number-container .fix-010 { padding-left: 62px } 
.number-area .number-container .fix-010.focus { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); } 

.switch-button { position: relative; margin-top: 3px; width: 24px; height: 12px; float: right; } 
.switch-button input { opacity:0; width: 0; height: 0; } 
.input input[type="tel"] { height: 100%; font-size: 24px; font-weight: 700; color: #000; caret-color: #ff3701; } 
.onoff-switch { position: absolute; cursor: pointer; top: 0; left: -5px; right: 0; bottom: 0; border-radius:20px; background-color: #CFCFCF; -webkit-transition: .4s; transition:.4s; } 
.onoff-switch:before { position: absolute; content: ""; height: 22px; width: 22px; left: -6px; bottom: -5px; background-color: #fff; -webkit-transition: .5s; transition: .4s; border-radius:20px; border: 1px solid #DEDEDE; } 
.switch-button input:checked + .onoff-switch { background-color: #ff3701; box-shadow: inset 1px 5px 1px #ff3701; } 
.switch-button input:checked + .onoff-switch:before { -webkit-transform: translateX(18px); -ms-transform: translateX(18px); transform: translateX(18px); } 
/* //번호입력 인풋 영역 */

/* 버튼 */
.btn-auth:focus { outline: none; } 
.btn-auth { display: block; width:100%; height: 60px; background-color: #E9E9E9; color: #fff; font-size: 18px; font-weight: 700; z-index: 10; } 
.btn-auth.sucess { background-color: #151515; } 
.bottom-area2.fixed { padding: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 700px; } 

/* 약관동의 */
.modal-new .btn-round { display: block; width: 100%; height: 60px; border-radius: 30px; border: 1px solid #CFCFCF; background-color: #151515; color: #fff; font-weight: 700; } 
.modal-new .btn-round:disabled { background-color: #fff; color: #151515; } 

/* 모달창 */
.modal-new { visibility: hidden; position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.5); transition: all .25s linear; } 
.modal-new.open { visibility: visible; } 
.modal-new.open .modal-wrap.open { transform: translate(-50%, 0); transition: transform .25s linear; } 
.modal-wrap { transform: translate(-50%, 100%); position: fixed; border-radius: 18px 18px 0 0; z-index: 1; left: 50%; bottom: 0; max-width: 700px; width: 100%; height: auto; overflow: hidden; background-color: #fff; } 
.modal-auth .modal-container { padding: 20px 22px 50px 22px; } 
.modal-auth .form-type { margin-top: 24px; } 
.modal-auth .noti-msg { display: block; font-size: 12px; color: #fb3636; margin-top: 12px; } 

.modal-new .modal-container { position: relative; padding: 20px 22px; } 

.modal-sub.open { visibility: visible; transform: translateY(0px); transition: all .1s linear; } 
.modal-sub { visibility: hidden; transform: translateY(100%); transition: all .25s linear; position: fixed; z-index: 1; left: 0; bottom: 0; width: 100%; height: 100%; overflow: auto; background-color: #fff; } 

.modal-sub.auth.open { visibility: visible; transform: translateY(0px); transition: all .1s linear; } 
.modal-sub.auth { visibility: hidden; transform: translateY(100%); transition: all .25s linear; position: fixed; z-index: 1; left: 0; bottom: 0; width: 100%; height: auto; overflow: auto; background-color: #fff; } 
.modal-slide .modal-content { max-width: 700px; left: 50%; transform: translateX(-50%); } 
/* //모달창 */

/* 체크박스 */
.checkbox > input + label { font-size: 14px; font-weight: 400; color: #575757; } 
.checkbox > input + label:before { top: 8px; left: 7px; width: 12px; height: 7px; } 
.checkbox > input + label::after { top: 0; width: 26px; height: 26px; } 
.agree-all .checkbox > input + label { font-size: 18px; font-weight: 700; color: #151515; padding-left: 30px; margin-bottom: 0; } 
.check-list li { display: block; position: relative; clear: both; } 

.check-wrap { margin: 0; } 
.check-wrap > .check-wrap-tit { font-size: 18px; font-weight: 700; color: #151515; } 
.check-wrap > .check-wrap-list { margin: 20px 0; } 
.check-wrap > .check-wrap-list li span + i { position: absolute; top: 11px; right: 1px } 
.check-wrap > .check-wrap-list > li input + label::before { border-color: #dadada; } 
.check-wrap > .check-wrap-list .checkbox { float: none; display: block; } 
.check-wrap > .check-wrap-list .checkbox > input + label { height: auto; line-height: 1.2; font-size: 14px; padding: 7px 0 7px 28px; margin: 0; } 
.check-wrap > .check-wrap-list .checkbox > input + label::after { top: 6px; width: 20px; height: 20px; } 
.check-wrap > .check-wrap-list .checkbox > input + label::before { top: 10px; left: 4px; } 

.info-change { position: absolute; min-width: 10px; width: auto; height: 30px; top: 0; right: 0; font-size: 13px; } 
.info-change > i { margin-top: 5px; } 

/* 스퀘어 */
.check-wrap.square > .check-wrap-list > li > .checkbox > input + label:after { background-color: #DADADA; } 
.check-wrap.square > .check-wrap-list .checkbox.child > input + label:before { border-color: #fff; } 
.check-wrap.square > .check-wrap-list .check-wrap-list > li input + label:before { border-color: #dadada; } 
.check-wrap.square > .check-wrap-list .check-wrap-list .checkbox.child > input + label:before { border-color: #dadada; } 
.check-wrap.square > .check-wrap-list .check-wrap-list .checkbox.child > input:checked + label:before { border-color: #151515; } 
.check-wrap.square > .check-wrap-list .checkbox > input + label { padding: 12px 0 12px 28px; } 
.check-wrap.square > .check-wrap-list .checkbox > input + label::before { top: 15px; } 
.check-wrap.square > .check-wrap-list .checkbox > input + label::after { top: 10px; } 
.check-wrap.square .checkbox > input + label::after { border-radius: 8px; } 
.check-wrap.square .checkbox.child > input:checked + label::after { background-color: #151515; } 
/* .check-wrap.square .check-wrap-list .btn-change { top: 12px; } */
.check-wrap.square .check-wrap-list .checkbox > input + label::before { width: 10px; height: 6px; top: 16px; left: 5px; } 

.check-wrap .check-wrap-list.square .square .checkbox.child > input:checked + label:before { left: 4px; border-color: #fff; } 
.check-wrap .check-wrap-list .square .checkbox.child > input:checked + label:before { left: 4px; border-color: #fff; } 
.check-wrap .check-wrap-list .square .checkbox > input:checked + label:after { background-color: #000; } 
.check-wrap .check-wrap-list .btn-change { position: absolute; top: 5px; right: 0; color: #151515; } 
.check-wrap .check-wrap-list .btn-change > i { margin-top: 4px; margin-left: 5px; } 
.check-wrap .check-wrap-list-sub .checkbox.child > input:checked + label::after { background-color: #fff; } 
.check-wrap .check-wrap-list-sub .checkbox.child > input:checked + label::before { border-color: #151515; } 
/* .check-wrap-list .check-wrap-list-sub { display: none; } */
/* .check-wrap-list .open .check-wrap-list-sub { display: block; } */
.icon-angle-left-sm:before, .icon-angle-right-sm:before { width: 7px; height: 7px; margin-top: -5px; } 
/* //체크박스 */

/* 얼럿모달 */
.modal-alert .modal-content { position: relative; overflow: visible; border: none; text-align: center; border-radius: 18px; } 
.modal-alert .modal-content::before { content: ''; position: absolute; top: -22px; left: 50%; transform: translateX(-50%); width: 54px; height: 54px; display: block; background: url(../images/bg/bg-alert.png) no-repeat center / 54px; z-index: 1; } 
.modal-alert .modal-body { border-radius: 18px 18px 0 0; padding: 30px 20px 20px 20px; } 
.modal-alert .modal-footer { margin-top: 20px; margin-bottom: 0; margin-right: 4px; background-color: #fff; border-radius: 0 0 18px 18px; border: none; } 
.modal-alert .modal-footer .btn:last-child { clear: both; color: #151515; width: 100%; font-size: 16px; font-weight: 700; padding: 0; border-top: 2px solid #dadada; border-radius: 0; } 
.modal-alert .modal-body h3 { font-size: 18px; margin-top: 10px; font-weight: 700; } 
.modal-alert .modal-body p { font-size: 14px; font-weight: 500; color: #575757; line-height: 20px; word-break: keep-all; } 
.modal-alert .modal-body p > span { display: block; color: #ff3701; } 

.modal-slide .modal-dialog { transform: none; } 

.modal-dialog { top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; } 

/* 입금확인 모달 */
.modal-new .modal-check .modal-container { padding: 0; } 
.modal-check { padding: 20px; text-align: center; } 
.modal-check .tit { font-size: 25px; line-height: 30px; margin-top: 20px; font-weight: 400; color: #151515; } 
.modal-check .tit > span { display: block; } 
.modal-check .tit .company { font-size: 14px; color: #151515; } 
.modal-check .tit .product { font-size: 14px; color: #575757; } 
.modal-check .box { padding: 16px; margin-top: 20px; margin-bottom: 25px; border-radius: 8px; background-color: #f9f9f9; } 
.modal-check .box .list-two-row li { margin-bottom: 20px; } 
.modal-check .box .list-two-row li::after { content: ''; display: block; clear: both; } 
.modal-check .box .list-two-row li:last-child { margin-bottom: 0; } 
.modal-check .box .list-two-row li span { float: left; font-size: 14px; color: #575757; } 
.modal-check .box .list-two-row li span:last-child { float: right; font-size: 15px; font-weight: 700; color: #151515; } 
/* //입금확인 모달 */
/* //얼럿모달 */

.modal-auth .title { font-size: 18px; font-weight: 700; color: #151515; } 

.form-type .phone-auth .input { border: 1px solid #151515; border-radius: 8px; height: 70px; } 
.form-type .phone-auth .input input { padding-left: 17px; } 
.form-type .phone-auth .input input::placeholder { font-weight: 700; } 
.form-type .phone-auth .input input:focus { box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); } 
.form-type .input .time { top: 21px; right: 20px; } 

/* 닫기버튼 */
/* #header .btn-close { top: -12px; } */
.icon-times:after, .icon-times:before { color: #151515; width: 18px; margin-left: -9px; } 
.modal-wrap .btn-close { position: absolute; right: 20px; top: 28px; z-index: 1; } 
.modal-wrap .icon-times:after, .modal-wrap .icon-times:before { width: 18px; } 
.modal-auth .btn-close { top: 23px; } 
.close { width:24px; height: 24px; } 
.close:before, .close:after { position: absolute; left: 15px; content:' '; height: 12px; width: 2px; background-color: #151515; } 
.close:before { transform: rotate(45deg); } 
.close:after { transform: rotate(-45deg); } 

/* .modal-new .close { position: absolute; top: 20px; right: 18px; } 
#myModal.modal-new .close { position: absolute; top: auto; bottom: 24px; } 
.modal-auth .close { top: 15px; } */
.modal-new .modal-wrap .btn-close { position: absolute; top: 20px; right: 20px; z-index: 1; } 
[class|="icon-times"]:after, [class|="icon-times"]:before { height: 2px; } 
/* //닫기버튼 */

.arrow-right { position: relative; line-height: 1.2; width: 12px; height: 26px; float: right; } 
.arrow-right::after { position: absolute; left: 0; top: 10px; content: ''; width: 7px; /* 사이즈 */ height: 7px; /* 사이즈 */ border-top: 1px solid #707070; /* 선 두께 */ border-right: 1px solid #707070; /* 선 두께 */ transform: rotate(45deg); /* 각도 */ } 

.join-agree, .join-agree .agree-all, .join-agree .agree-list, .join-agree .agree-list li { position: relative; } 
.agree-list .info-chg { position: absolute; top: 7px; right: 0 } 

.noti-container { position: relative; height: 48px; line-height: 48px; padding: 0 20px; font-size: 14px; background-color: #f9f9f9; } 
.noti-container .btn { position: absolute; top: 9px; right: 20px; background-color: #fff; border: 1px solid #e6e6e6; font-size: 14px; font-weight: 700; } 
.position-relative .btn { border-radius: 0; } 
.position-relative .noti-container { text-align: left } 
.position-relative .noti-container .btn { border-radius: 15px; } 

.bottom-area2 .container { padding: 0; } 

.headline p { font-size: 25px; font-weight: 500; color: #151515; } 
.headline p span {display: block; font-size: 14px;}
.headline .headLineSub strong { font-size: 14px; } 
.headline .product span { font-size: 14px; } 
.headline .product span:first-child { color: #151515; } 
.headline .product span:last-child { color: #575757; } 

/* 계좌정보 */
.account-box-new { border: 1px solid #707070; border-radius: 8px; text-align: left; height: 52px; } 
.account-box-new .account { width: 100%; height: 100%; color: #151515; font-size: 18px; line-height: 19px; font-weight: 700; } 
/* .account-box-new .logo { position: relative; top: 3px; } */
.account-box-new .logo { display: inline-block; vertical-align: middle; margin-top: 0; } 
/* //계좌정보 */