@charset "utf-8";

/* checkbox */
.checkbox.ty label{height:25px;line-height:23px;padding-left:35px;background-size:auto auto;font-size:16px;background-image:url(../../../../images/custom/bio11/pc/checkbox_chk.png)}
.checkbox.ty input:checked + label{background-image:url(../../../../images/custom/bio11/pc/checkbox_chk_on.png)}
.checkbox.ty label.on{background-image:url(../../../../images/custom/bio11/pc/checkbox_chk_on.png)}

/* 결제 > 현금영수증 레이어 */
.ars_form .skipbx select{overflow:hidden;white-space:nowrap;width:100%;height:auto;line-height:1.4;background:none;font-size:15px}
.ars_form .skipbx.biz{top:12px;padding:0;margin-bottom:19px}
.ars_form .skipbx.biz .tab_type_biz button{height:50px;font-size:15px}
.ars_form .skipbx.biz .taxbx {margin-top:0}
.ars_form .skipbx.biz .taxbx select{padding:16px 0 16px 15px;height:auto}
.ars_form .skipbx.biz .taxbx .input{padding-left:10px}
.ars_form .skipbx.biz .taxbx .input input[type='text']{padding:14px 10px;height:55px;line-height:1.8;font-size:15px}
