/* 250528 */
#content { min-height: auto; padding: 0; display: flex; justify-content: center; width: 100%; flex-direction: column; background: #171616; margin-top: -1px; } 

/* 공통적으로 wrap 안의 주요 콘텐츠들은 z-index: 2 이상으로 지정 */
#header > .container, .modal.modal-full .modal-head > .container { z-index: 10; } 
#header,
.headline,
.bottom-area.fixed, 
.modal-bottom-area.fixed { position: relative; z-index: 2; /* ::after 보다 위 */ } 

#header { height: 463px; background: url(../images/main/main.png) no-repeat top / cover; align-items: start; flex-direction: column; } 
#header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 339px;
  background: linear-gradient(180deg, rgba(141, 101, 78, 0.8) 0%, rgba(141, 101, 78, 0) 72.68%);
  z-index: 1;
}
#header::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
 background: rgba(0, 0, 0, 0.2); z-index: 1; /* 배경 레이어 */ } 
.bottom-area.fixed, .modal-bottom-area.fixed { background: transparent; } 
.headline { padding: 0; margin: 0 auto; } 
.headline > p { font-family: Pretendard; font-weight: 400; font-size: 18px; line-height: 140%; letter-spacing: -3%; text-align: center; color: #fff; margin-top: 56px; } 
.headline > p strong { font-family: Pretendard; font-weight: 700; font-size: 32px; line-height: 140%; letter-spacing: -3%; text-align: center; } 
.headline > p strong span { color: #E0FF63; } 
.bottom-area.fixed, .modal-bottom-area.fixed { margin-top: auto; } 

.float-wrap { position: relative; z-index: 11; height: 1px; width: 100%; top: 50px; } 
.float-wrap .img { display: block; position: absolute; } 
.float-wrap .img-1 { background: url(../images/main/box.png) no-repeat top / contain; width: 281px; height: 226px; z-index: 10; left: 50%; transform: translateX(-50%); } 
.float-wrap .img-2 { background: url(../images/main/left-money.png) no-repeat top / contain; width: 125px; height: 125px; z-index: 100; left: 50%; transform: translateX(-50%); top: 60px; margin-left: -90px; animation: floatUpDown 3s ease-in-out infinite; } 
.float-wrap .img-3 { background: url(../images/main/right-money.png) no-repeat top / contain; width: 91px; height: 91px; z-index: 1; left: 50%; transform: translateX(-50%); top: 14px; margin-left: 95px; animation: floatUpDown 3s ease-in-out infinite; animation-delay: 1500ms; } 
/* 위아래로 천천히 둥둥 */
@keyframes floatUpDown { 
 0% { transform: translateX(-50%) translateY(0); } 
 50% { transform: translateX(-50%) translateY(-15px); } 
 100% { transform: translateX(-50%) translateY(0); } 
 }

.section { padding: 16px 0 162px; gap: 16px 0; } 
.sec { border-radius: 16px; background: rgba(70, 59, 48, 0.5); padding: 40px 20px; } 
.sec .title { font-family: Pretendard; font-weight: 700; font-size: 24px; line-height: 140%; letter-spacing: -3%; text-align: center; color: #fff; } 
.sec .sub-title { font-family: Pretendard; font-weight: 400; font-size: 16px; line-height: 140%; letter-spacing: -2%; text-align: center; color: #C6BEAB; } 
.sec .title > .color { color: #E0FF63; } 
.sec.sec-1 .img { width: 200px; height: 112px; background: url(../images/main/section-1.png) no-repeat center / contain; margin: 20px auto 0; } 
.sec.sec-2 .img { width: 112px; height: 112px; background: url(../images/main/section-2.png) no-repeat center / contain; margin: 20px auto 0; } 
.sec.sec-3 .img { width: 112px; height: 112px; background: url(../images/main/section-3.png) no-repeat center / contain; margin: 20px auto 0; } 

.sec .line {
  width: 100%;
  height: 1px;
  background: rgba(160, 149, 122, 0.3);
  margin: 16px 0;
}
.list > li {
  position: relative;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -2%;
color: #C6BEAB;  
padding-left: 8px;
}
.list > li::before {
  content: '*';
  position: absolute;
  top: 0;
  left: 0;
}

.scroll-fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-fade-up.active {
  opacity: 1;
  transform: translateY(0);
}

.btn-wrap.vertical .btn.btn-confirm {
  position: relative;
  background: #E0FF63;
  font-family: Pretendard;
font-weight: 700;
font-size: 16px;
line-height: 140%;
letter-spacing: -2%;
text-align: center;
color: #151515;
border: 0;
}
.btn-wrap.vertical .btn.btn-cancel {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -2%;
  text-align: center;
  color: #fff;
}
.bottom-area, .modal-bottom-area, .bottom-banner-area {
  padding: 20px 0;
}
.bottom-area.bottom-area-fixed { position: fixed; clear: both; margin-top: 0; padding-bottom: 20px; bottom: 0; left: 0; right: 0; min-width: 320px; z-index: 99;background: linear-gradient(0deg, #221B17 50.3%, rgba(34, 27, 23, 0) 100%);
} 
.icon-close-white {
  background: url(../images/main/Icon-close-white.svg) no-repeat center / contain;
}
.balloon {
  display: inline-block;
  position: absolute;
  background: linear-gradient(90deg, #A25DF7 0%, #28C85D 100%);
  color: #fff;
  padding: 6.5px 8px;
  border-radius: 40px;
  font-family: Pretendard;
  font-weight: 700;
  font-size: 11px;
  line-height: 140%;
  text-align: center;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
  width: auto;
  animation: BalloonUpDown 1.5s ease-in-out infinite;
  white-space: nowrap;
}

.balloon::after {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  width: 12px;
  height: 6px;
  background: linear-gradient(90deg, #A25DF7 0%, #28C85D 100%);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: translateX(-50%);
  border-color: #28C85D transparent transparent transparent;
}
@keyframes BalloonUpDown { 
  0% { transform: translateX(-50%) translateY(0); } 
  50% { transform: translateX(-50%) translateY(-2px); } 
  100% { transform: translateX(-50%) translateY(0); } 
  }

  .modal-slide.type-title .terms-list-box.check-all-box .check-all.open {
    border-bottom: 0;
  }