.header { padding: 16px; border-bottom: 1px solid #eee; text-align: center; font-weight: bold; position: relative; } 
.back-btn { position: absolute; left: 16px; top: 16px; } 
.tab { display: flex; justify-content: center; gap: 8px; margin: 16px 0; } 
.tab button { padding: 8px 16px; border: none; border-radius: 20px; background: #f1f1f5; } 
.tab button.active { background: #111; color: #fff; } 
.card-box { padding: 20px; border-radius: 16px; background: #E5E5E8; margin-top: 16px; } 
.card-box .top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 24px; } 
.card-box .top.vertical { flex-direction: column; } 
.card-box .top.align-start { align-items: start; } 
.card-box .top.vertical .title { margin-top: 12px; } 
.card-box .title { font-family: Pretendard; font-weight: 400; font-size: 13px; line-height: 140%; letter-spacing: -2%; text-align: right; color: #454545; } 
.card-box .amount { font-family: Pretendard; font-weight: 700; font-size: 24px; line-height: 140%; letter-spacing: -3%; color: #151515; } 
.card-box .desc { display: flex; align-items: center; justify-content: end; } 
.card-box .desc .info-text { font-family: Pretendard; font-weight: 400; font-size: 14px; line-height: 140%; letter-spacing: -2%; text-align: right; color: #888; } 
.card-box .desc .price { font-family: Pretendard; font-weight: 500; font-size: 14px; line-height: 140%; letter-spacing: -2%; text-align: right; vertical-align: middle; color: #888; margin-left: 24px; } 
.card-box .bottom.btn-wrap { display: flex; gap: 0 8px; } 
.card-box .bottom .btn { color: #fff; height: 48px; line-height: 1; } 
.card-box .bottom .btn.btn-white { color: #151515; background-color: #fff; border-color: #fff; } 


.filters { display: flex; gap: 8px; align-items: center; justify-content: space-between; margin-top: 13px; } 
.filters button { flex: 1; padding: 8px; border-radius: 8px; border: 1px solid #ccc; background: #fff; } 
.filters .result-text { font-family: Pretendard; font-weight: 700; font-size: 14px; line-height: 140%; letter-spacing: -2%; color: #454545; } 
.btn-submit { margin: 16px 0; padding: 20px 12px; background: #151515; color: #fff; border: none; border-radius: 16px; font-weight: bold; width: 100%; font-size: 16px; } 
.list { margin: 20px 0; } 
.list-item { margin: 24px 0; } 
.list-item:first-of-type { margin-top: 0; } 
.list-item .date-text { display: block; flex: 0 0 auto; width: 50px; color: #454545; font-weight: 700; font-size: 16px; line-height: 30px; margin-bottom: 16px; } 
.list-item .date { font-family: Pretendard; font-weight: 400; font-size: 13px; line-height: 140%; letter-spacing: -2%; color: #888; margin-bottom: 8px; } 
.list-item .label { font-family: Pretendard; font-weight: 500; font-size: 16px; line-height: 140%; letter-spacing: -2%; color: #151515; } 
.list-item .desc { font-family: Pretendard; font-weight: 400; font-size: 14px; line-height: 160%; letter-spacing: -2%; color: #888; margin-left: 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex: 1; } 
.list-item .point { display: flex; align-items: center; font-family: Pretendard; font-weight: 700; font-size: 16px; line-height: 140%; text-align: right; color: #151515; margin-left: auto; } 
.list-item .point.minus { color: #B0B0B3; }
.list-item .point .icon { width: 16px; height: 16px; } 
.list-item .bottom-text { font-family: Pretendard; font-weight: 400; font-size: 14px; line-height: 160%; letter-spacing: -2%; color: #888; margin-top: 8px; } 
.list-item .top-wrap { margin-bottom: 8px; } 
.list-item .top-wrap .date-text { position: relative; margin-bottom: 0; font-family: Pretendard;font-weight: 400;font-size: 13px;line-height: 140%;color: #888888;width: auto;display: flex;align-items: center; } 
.list-item .top-wrap .date-text::after { content: ''; display: block; width: 1px; height: 10px; margin: 0 8px; background: #E5E5E8; } 
.list-item .top-wrap .product { margin-bottom: 0; font-family: Pretendard;font-weight: 400;font-size: 13px;line-height: 140%;letter-spacing: -2%;color: #888888; } 

.reward-history .tab-wrap { display: flex; border-bottom: 1px solid #E5E5E8; margin-bottom: 16px; } 

.reward-history .tab { position: relative; text-align: center; font-size: 16px; font-weight: 500; color: #bbb; justify-content: start; padding: 0 20px; gap: 0; margin: 0; height: 48px; align-items: center; } 

.reward-history .tab.active { font-weight: 700; color: #151515; } 
.reward-history .tab.active::after { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: calc(100% - 20px); height: 2px; background: #151515; } 
.reward-history .tab-content { height: 100%; display: flex
; flex-direction: column; display: none; } 

.reward-history .tab-content.active { display: flex; } 

.reward-history .icon { width: 16px; height: 16px; display: flex; justify-content: center; align-items: center; margin-right: 8px; } 

.reward-history .filters-wrap { display: none; } 
.reward-history .filters-wrap.active { display: block; } 
.reward-history .filters-tab { display: flex; justify-content: space-between; margin-top: 20px; gap: 0 6.5px; } 
.reward-history .filters-tab button { flex: 1; border: 1px solid #E5E5E8; font-family: Pretendard; font-weight: 600; font-size: 16px; line-height: 100%; letter-spacing: 0%; text-align: center; border-radius: 12px; line-height: 46px; color: #D1D1D5; } 
.reward-history .filters-tab button.active { color: #151515; } 
.reward-history { } 

select, .select { overflow: hidden; background: transparent url(../images/common/icon-arrow-down.svg) right center no-repeat; background-size: 16px auto; text-align: left; white-space: nowrap; line-height: 26px; height: auto; padding: 0 20px 0 0; } 
.select-box > span { overflow: hidden; background: transparent url(../images/common/icon-arrow-down.svg) right center no-repeat; background-size: 16px auto; text-align: left; white-space: nowrap; height: auto; padding: 0 20px 0 0; font-family: Pretendard; font-weight: 400; font-size: 16px; line-height: 26px; color: #151515; } 
.select-box > span.active { background: transparent url(../images/common/icon-arrow-up.svg) right center no-repeat; background-size: 16px auto; } 

.select-box + .select-box { margin-left: 16px; } 

.transaction-history-container .month-wrap { display: flex; justify-content: center; align-items: center; height: 33px; margin-bottom: 16px; } 
.icon-arrow-left.disabled { background: url(../images/common/icon-arrow-left-off.svg) center / 100% 100% no-repeat; background-color: transparent !important; pointer-events: none; } 
.icon-arrow-left { width: 20px; height: 20px; background: url(../images/common/icon-arrow-left.svg) center / 100% 100% no-repeat; font-size: 0; } 
.icon-arrow-right { width: 20px; height: 20px; background: url(../images/common/icon-arrow-right.svg) center / 100% 100% no-repeat; font-size: 0; } 
.size-16 { width: 16px; height: 16px; } 
.month-wrap { display: flex; justify-content: center; align-items: center; height: 33px; margin-bottom: 16px; margin-top: 32px; } 
.trade-tab-wrap { padding: 16px 0; } 
.tab-list { display: flex; gap: 8px; } 
.tab-list button.active { border: 1px solid #333333; color: #fff; background-color: #333333; } 
.tab-list button { padding: 8px 16px; border: 1px solid #D6D6D6; border-radius: 40px; color: #1C1B1F; font-size: 14px; font-weight: 400; line-height: 18px; letter-spacing: -0.02em; } 
.month-wrap .month-text { margin: 0 28px; color: #151515; font-size: 18px; font-weight: 500; line-height: 25.2px; } 

/* 기간 팝업 */
.modal-slide.modal-period .period-list li button { width: 100%; height: 60px; padding: 0 20px; line-height: 60px; font-size: 16px; font-weight: 400; text-align: left; } 
.modal-slide.modal-period .year-wrap { display: flex; justify-content: center; align-items: center; height: 41px; margin: 4px 0 8px; } 
.modal-slide.modal-period .year-wrap .year-text { margin: 0 12px; font-size: 18px; font-weight: 700; line-height: 25.2px; letter-spacing: -0.03em; text-align: center; } 
.modal-slide.modal-period .month-list-wrap { display: flex; flex-wrap: wrap; margin-bottom: 20px; padding: 0 24px; } 
.modal-slide.modal-period .month-list-wrap li { display: flex; align-items: center; justify-content: center; width: 25%; height: 45px; text-align: center; } 
.modal-slide.modal-period .month-list-wrap li button { height: 38px; color: #454545; font-size: 16px; font-weight: 500; line-height: 22.4px; letter-spacing: -0.02em; text-align: center; } 
.modal-slide.modal-period .month-list-wrap li button.active { padding: 0 12px; border-radius: 20px; color: #E0FF63; font-weight: 700; background-color: #151515; } 
.modal-slide.modal-period .month-list-wrap li button:disabled { color: #D1D1D5; } 

.modal-slide.modal-period .btn-area { padding: 20px 16px; } 
/* 기간 팝업 END */

/* 이용내역 없음 추가 */
.reward-history .empty-list p { font-size: 16px; font-weight: 500; line-height: 22.4px; letter-spacing: -0.02em; text-align: center; } 
.reward-history .empty-list p::before { display: block; content: ""; width: 64px; height: 64px; margin: auto; margin-bottom: 8px; background: url(../images/common/icon-exclamation-circle.svg) 0 0 / contain no-repeat; } 
.reward-history .empty-list { display: flex; flex: 1; justify-content: center; align-items: center; } 
/* //이용내역 없음 추가 */

.tab-content-wrap { display: flex; flex: 1; } 

.notice-area { display: flex; align-items: center; justify-content: start; background: rgba(238, 255, 149, 1); border-radius: 12px; margin-top: 16px; padding: 0 16px; height: 46px; } 
.notice-area .icon { width: 30px; height: 30px; background: url(../images/storage/coin.png) no-repeat center/30px; } 
.notice-area .right-wrap { display: flex; align-items: center; margin-left: auto; } 
.notice-area .right-wrap > span { font-family: Pretendard; font-weight: 700; font-size: 13px; line-height: 140%; letter-spacing: -2%; text-align: right; color: #151515; } 
.gradient-text { font-family: Pretendard; font-weight: 700; font-size: 13px; line-height: 140%; letter-spacing: -2%; background: linear-gradient(90deg, #9A5BF1 0%, #28C85D 63.87%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; /* 파이어폭스 지원 (선택적) */
 background-clip: text; color: transparent; } 
.icon.arrow-right { display: inline-block; width: 12px; height: 12px; background: url(../images/common/icon-arrow-right.svg) no-repeat center / contain; background-size: 12px; margin-right: 0; margin-left: 4px; } 

.btn { border-radius: 12px; }