.bridge-container {
  background: url(../../images/plcc/bridge-bg.png) no-repeat center center / cover;
}

.bridge-container .bridge-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bridge-container .bridge-content .bridge-img-wrap {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.bridge-container .bridge-content .bridge-img-wrap img {
  display: block;
  width: 230px;
  margin: auto;
}

.bridge-container .bottom-text {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  background-color: #F6F6F9;
  border-radius: 100px;
}

.bridge-container .bottom-text span {
  background: linear-gradient(90deg, #9A5BF1 0%, #28C85D 50%, #9A5BF1 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientFlow 3s ease-in-out infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}