#content{
  padding-bottom: 0 !important;
  background-color: #fff;
}

.icon-down-arrow-40 {
  display: block;
  width: 40px;
  height: 40px;
  margin: 54px auto 0;
  background: url(../../images/plcc/icon/icon-down-arrow-40.svg) no-repeat center center / contain;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes float-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes float-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.intro-container {
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.intro-container .top-contents-wrap .contents-wrap {
  padding: 80px 0;
  text-align: center;
}

.intro-container.out-version .top-contents-wrap .contents-wrap {
  padding: 0;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.first-content {
  padding: 40px 0 0;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.second-content {
  padding: 192px 0 150px;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.third-content {
  padding: 0;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.fourth-content {
  padding: 150px 0;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.fifth-content {
  padding: 150px 0;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.seventh-content {
  padding: 150px 0 0;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content {
  padding-bottom: 40px;
}


.intro-container.out-version .top-contents-wrap .contents-wrap.ninth-content {
  padding: 150px 0 50px;
}


.intro-container .top-contents-wrap .contents-wrap.gray-bg {
  background-color: #F6F6F9;
}

.intro-container .top-contents-wrap .contents-wrap .info-list-wrap {
  border-top: 1px solid #E5E5E8;
  text-align: left;
  padding: 0 20px;
  margin-top: 20px;
}

.intro-container .top-contents-wrap .contents-wrap .info-list-wrap .list-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.intro-container .top-contents-wrap .contents-wrap .info-list-wrap .bottom-notice-list {
  padding-bottom: 32px;
  display: none;
}

.intro-container .top-contents-wrap .contents-wrap .info-list-wrap .list-btn.open i {
  transform: rotate(180deg);
}

.intro-container .top-contents-wrap .contents-wrap .info-list-wrap .list-btn.open + .bottom-notice-list {
  display: flex;
  flex-direction: column;
}



.intro-container.out-version .top-contents-wrap .contents-wrap.gray-bg {
  background-color: #fff;
}

.intro-container.animations .top-contents-wrap .contents-wrap:not(.first-content) > .text-wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s 0.3s ease-in-out, transform 0.5s 0.3s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.active:not(.first-content) > .text-wrap {
  margin-bottom: 20px;
  transform: translateY(0);
  opacity: 1;
}

.intro-container .top-contents-wrap .contents-wrap .text-wrap .sub-title-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.intro-container .top-contents-wrap .contents-wrap.first-content .text-wrap .sub-title-text {
  font-size: 14px;
}

.intro-container .top-contents-wrap .contents-wrap .text-wrap .title-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.intro-container .top-contents-wrap .contents-wrap .img-wrap {
  margin: auto;
}

.intro-container .top-contents-wrap .contents-wrap .img-wrap img {
  width: 100%;
}

.intro-container .top-contents-wrap .contents-wrap .sub-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.intro-container .top-contents-wrap .contents-wrap.first-content {
  padding-top: 40px;
  padding-bottom: 195px;
}

.intro-container .top-contents-wrap .contents-wrap.first-content .text-wrap .title-text {
  font-size: 32px; 
}

.intro-container .top-contents-wrap .contents-wrap.first-content .img-wrap {
  position: relative;
  width: 375px;
  height: 375px;
  margin: 50px auto 0;
}

.intro-container .top-contents-wrap .contents-wrap.first-content .img-wrap img {
  width: 100%;
}

.intro-container.animations .top-contents-wrap .contents-wrap.first-content .img-wrap img {
  position: relative;
}

/* old 버전일 때 3D 카드 회전 애니메이션 적용 */
.intro-container.old .top-contents-wrap .contents-wrap.first-content .img-wrap {
  position: relative;
  width: 200px;
  height: 296px;
  margin: 62px auto 0;
  animation: cardRotate 3s ease-in-out infinite;
}

.intro-container.old .top-contents-wrap .contents-wrap.first-content .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 171px;
  height: 271px;
  backface-visibility: hidden;
  transition: transform 0.3s 0.5s ease-in-out;
}

.intro-container.old .top-contents-wrap .contents-wrap.first-content .img-wrap img:first-child {
  z-index: 1;
}

.intro-container.old .top-contents-wrap .contents-wrap.first-content.active .img-wrap img:first-child {
  transform: translate(calc(-50% + 14px), calc(-50% - 14px));
}

.intro-container.old .top-contents-wrap .contents-wrap.first-content.active .img-wrap img:last-child {
  transform: translate(calc(-50% - 14px), calc(-50% + 14px));
}

.intro-container .top-contents-wrap .contents-wrap.second-content .img-wrap {
  width: 315px;
  position: relative;
}

.intro-container.animations .top-contents-wrap .contents-wrap .img-wrap img {
  position: absolute;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content .img-wrap {
  width: 315px;
  height: 200px;
  position: relative;
}

.intro-container .top-contents-wrap .contents-wrap.second-content .lottie-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 349px;
  height: 349px;
}

.intro-container .top-contents-wrap .contents-wrap.third-content .img-wrap {
  width: 315px;
  position: relative;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content .img-wrap {
  width: 315px;
  height: 168px;
  position: relative;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content .sub-text {
  margin-top: 4px;
}

.intro-container .top-contents-wrap .contents-wrap.fourth-content .img-wrap {
  width: 315px;
}

.intro-container .top-contents-wrap .contents-wrap.fifth-content .img-wrap {
  width: 219px;
  margin-top: 46px;
}

.intro-container.animations .top-contents-wrap .contents-wrap.fifth-content .img-wrap {
  width: 375px;
  height: 186px;
  position: relative;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.fifth-content .img-wrap {
  margin-top: 20px;
}

.intro-container .top-contents-wrap .contents-wrap.sixth-content .img-wrap {
  overflow: hidden;
  position: relative;
  width: 100%; /* 필요에 따라 조정 */
  height: 160px;
  margin-top: 40px;
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content .img-wrap {
  width: 375px;
  height: 186px;
  position: relative;
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content .sub-text {
  margin-top: 0;
}

.intro-container .top-contents-wrap .contents-wrap.sixth-content .img-wrap img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 375px;
  min-width: 375px;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap {
  margin: 40px 0;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap > div {
  display: flex;
  flex-wrap: nowrap;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap .rolling-img {
  width: auto;
  max-width: none;
  height: 35px;
  padding-right: 6px;
  flex-shrink: 0;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap .rolling-img img {
  width: auto;
  height: 100%;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap > div:nth-child(1) .rolling-img-1 {
  animation: roll-left 11.14s linear infinite;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap > div:nth-child(2) .rolling-img-2 {
  animation: roll-right 11.64s linear infinite;
}

.intro-container .top-contents-wrap .contents-wrap.seventh-content .img-wrap > div:nth-child(3) .rolling-img-3 {
  animation: roll-left 12.8s linear infinite;
}

.intro-container .top-contents-wrap .contents-wrap.pb-0 {
  padding-bottom: 0;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-top: 40px;
}

/* 카드 회전 애니메이션 */
.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item {
  display: none;
  cursor: pointer;
  perspective: 1000px;
  width: 128px;
  height: 203px;
  margin: 0 auto;
  position: relative;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item.active {
  display: block;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item.card-tab-item-2 {
  width: 206px;
  height: 130px;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  transform-origin: center center;
}

.intro-container.animations .top-contents-wrap .contents-wrap.eighth-content .card-tab-wrap,
.intro-container.animations .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s 0.5s ease-in-out, transform 0.5s 0.5s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.eighth-content.active .card-tab-wrap,
.intro-container.animations .top-contents-wrap .contents-wrap.eighth-content.active .tab-btn-wrap {
  opacity: 1;
  transform: translateY(0);
}

.intro-container.animations .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img {
  transition: transform 0.8s 0.5s ease-in-out;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img.flipped {
  transform: rotateY(180deg);
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img img:first-child {
  transform: rotateY(0deg);
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .card-tab-item .card-tab-item-img img:last-child {
  transform: rotateY(180deg);
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 24px;
}


.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  width: 24px;
  height: 24px;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn.tab-btn-2 .circle {
  transform: rotate(-90deg);
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn .circle {
  flex-shrink: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 24px;
  height: 24px;
  margin: auto;
  border-radius: 50%;
  background: #F8FF21;
  padding: 1px;
  z-index: 2;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn.active .circle {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  box-sizing: content-box;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn .btn-text {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn.active .btn-text {
  display: block;
  width: max-content;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: linear-gradient(90deg, #9A5BF1 0%, #28C85D 100%);
  border-radius: 50%;
  z-index: 1;
}

.intro-container .top-contents-wrap .contents-wrap.eighth-content .tab-btn-wrap .tab-btn .circle::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #011C48;
  z-index: 1;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li {
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 8px;
  max-width: 315px;
  margin: auto;
  padding: 20px 24px;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.ninth-content .benefit-list li {
  flex-direction: column;
  align-items: flex-start;
}

.intro-container.out-version .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:first-child {
  background-color: #F6F6F9;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content .benefit-list li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s 0.5s ease-in-out, transform 0.5s 0.5s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content.active .benefit-list li {
  opacity: 1;
  transform: translateY(0);
  background: #F6F6F9;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li .img-wrap {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  margin: 0;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li .text-wrap {
  margin: 0;
  text-align: left;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li .text-wrap .title-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li .text-wrap .sub-text {
  margin: 0;
  color: #151515;
  font-size: 13px;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li .text-wrap .sub-text-sub {
  margin-top: 4px;
  color: #454545;
  font-size: 11px;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:first-child {
  background: #FFF0F2;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:last-child {
  margin-top: 12px;
  background: #FFF6ED;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:first-child .img-wrap {
  background: url(../../images/plcc/intro-benefit-img-1.png) no-repeat center center / contain;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:last-child .img-wrap {
  background: url(../../images/plcc/intro-benefit-img-2.png) no-repeat center center / contain;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s 0.8s ease-in-out, transform 0.5s 0.8s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content.active .benefit-list-wrap {
  opacity: 1;
  transform: translateY(0);
}


.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap .benefit-list-item-ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap .benefit-list-item-main {
  position: relative;
  width: 210px;
  height: 210px;
  background: url(../../images/plcc/card-benefit.png) no-repeat center center / contain;
  margin: 0 auto;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap .benefit-list-item-ball-1 {
  width: 70px;
  height: 100px;
  background: url(../../images/plcc/card-benefit-ball-1.png) no-repeat center center / contain;
  top: -4px;
  left: -38px;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap .benefit-list-item-ball-2 {
  width: 68px;
  height: 97px;
  background: url(../../images/plcc/card-benefit-ball-2.png) no-repeat center center / contain;
  top: 18px;
  right: -27px;
  left: auto;
}

.intro-container .top-contents-wrap .contents-wrap.ninth-content .benefit-list-wrap .benefit-list-item-ball-3 {
  width: 66px;
  height: 95px;
  background: url(../../images/plcc/card-benefit-ball-3.png) no-repeat center center / contain;
  bottom: -17px;
  right: -38px;
  left: auto;
  top: auto;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content.active .benefit-list-wrap .benefit-list-item-ball-1 {
  animation: float-up 2.5s ease-in-out infinite;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content.active .benefit-list-wrap .benefit-list-item-ball-2 {
  animation: float-up 2.5s ease-in-out infinite;
}

.intro-container.animations .top-contents-wrap .contents-wrap.ninth-content.active .benefit-list-wrap .benefit-list-item-ball-3 {
  animation: float-down 2.5s ease-in-out infinite;
}

.intro-container .bottom-contents-wrap {
  padding-bottom: 158px;
  background-color: #F6F6F9;
}

.intro-container.out-version .bottom-contents-wrap {
  padding-bottom: 0;
  background: #fff;
}

.intro-container .bottom-contents-wrap .card-info-list {
  padding: 20px 30px;
  border-bottom: 1px solid #E5E5E8;
}

.intro-container.out-version .bottom-contents-wrap .card-info-list {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 20px 0 50px;
  border-top: 1px solid #E5E5E8;
  border-bottom: none;
  background-color: #fff;
}

.intro-container .bottom-contents-wrap .card-info-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #151515;
}

.intro-container .bottom-contents-wrap .card-info-list li .value-text {
  text-align: right;
}

.intro-container .bottom-contents-wrap .card-info-list li .value-text span {
  font-size: 13px;
  font-weight: 400;
  color: #454545;
}

.intro-container .bottom-contents-wrap .terms-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 16px 20px;
}

.intro-container.out-version .bottom-contents-wrap .terms-wrap {
  padding-bottom: 158px;
  background-color: #F6F6F9;
}

.intro-container .bottom-contents-wrap .point-example-text {
  margin: 16px 0 12px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.intro-container .bottom-contents-wrap .table-scroll {
  padding-bottom: 0;
  padding-right: 0;
}

.intro-container .bottom-contents-wrap .dropdown-contents-list b {
  color: #151515;
  font-size: 12px;
}

.intro-container .bottom-contents-wrap .dropdown-contents-list li.gray-text {
  font-size: 12px;
  color: #888;
}

.intro-container .btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 16px;
  z-index: 100;
  background-color: transparent;
}

.intro-container .btn-wrap .btn-cashback {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 61px;
  color: #151515;
  background: linear-gradient(270deg, #E5F8FF 0%, #FCF1F4 50%, #FFFDD1 100%);
  border: none;
}

.intro-container .btn-wrap .btn-cashback {
  text-align: left;
}

.intro-container .btn-wrap .btn-cashback b {
  color: #187D3A;
  font-size: 14px;
}

.intro-container .btn-wrap .btn-cashback .btn-cashback-text {
  display: flex;
  flex-direction: column;
}

.intro-container .btn-wrap .btn-cashback .bottom-text {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
}

.intro-container .btn-wrap .btn-cashback .bottom-text i {
  width: 12px;
}

.intro-container .btn-wrap .btn-cashback::before {
  flex-shrink: 0;
  display: block;
  content: "";
  width: 52px;
  height: 52px;
  background: url(../../images/plcc/cashback-img.png) no-repeat center center / contain;
}

/* 애니메이션 */
@keyframes roll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes roll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

/* old */
.intro-container.old .top-contents-wrap .contents-wrap.first-content {
  padding-bottom: 0;
}

.intro-container.old .top-contents-wrap .contents-wrap.first-content .text-wrap .title-text {
  font-size: 32px;
}

.intro-container.old .top-contents-wrap .contents-wrap.second-content {
  padding: 150px 0 100px;
}

.intro-container.old .top-contents-wrap .contents-wrap.third-content {
  padding: 0;
} 

.intro-container.old .top-contents-wrap .contents-wrap.fourth-content {
  padding: 100px 0;
}

.intro-container.old .top-contents-wrap .contents-wrap.fifth-content {
  padding: 0;
}

.intro-container.old .top-contents-wrap .contents-wrap.eighth-content {
  padding: 100px 0;
}

.intro-container.old .top-contents-wrap .contents-wrap .text-wrap .sub-title-text {
  font-weight: 400;
}

.intro-container.old .top-contents-wrap .contents-wrap .text-wrap .title-text {
  font-size: 20px;
}

.intro-container.old .top-contents-wrap .contents-wrap.ninth-content .benefit-list li {
  flex-direction: row;
  align-items: center;
}

.intro-container.old .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:first-child {
  background-color: #EEF5FF;
}

.intro-container.old .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:first-child .img-wrap {
  background: url(../../images/plcc/old/intro-img-old-small-01.png) no-repeat center center / contain;
}

.intro-container.old .top-contents-wrap .contents-wrap.ninth-content .benefit-list li:last-child .img-wrap {
  background: url(../../images/plcc/old/intro-img-old-small-02.png) no-repeat center center / contain;
}

.intro-container.old .bottom-contents-wrap {
  background-color: #fff;
}

.intro-container.old .bottom-contents-wrap .card-info-list {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 13px 0 40px;
  background-color: #fff;
  border-bottom: none;
}

.intro-container.old .bottom-contents-wrap .terms-wrap {
  background-color: #F6F6F9;
}

/* old 외부*/
.intro-container.out-version.old .top-contents-wrap {
  padding-left: 30px;
  padding-right: 30px;
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap {
  background-color: #F6F6F9;
  margin-bottom: 16px;
  padding: 30px 0;
  border-radius: 16px;
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap.first-content {
  background-color: #fff;
  margin-bottom: 0;
  padding: 40px 0 150px;
}

.intro-container.out-version.old .top-contents-wrap {
  
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap.ninth-content {
  background-color: #fff;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 100px
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap.ninth-content.pay .benefit-list li:first-child {
  background-color: #F6F6F9;
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap.ninth-content.pay .benefit-list li:first-child .img-wrap {
  background: url(../../images/plcc/old/intro-img-old-04-1.png) no-repeat center center / contain;
}

.intro-container.out-version.old .top-contents-wrap .contents-wrap .text-wrap .sub-title-text {
  font-weight: 500;
  font-size: 14px;
}

.bottom-notice-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.bottom-notice-list li {
  position: relative;
  padding-left: 13px;
}

.bottom-notice-list li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 4px;
  height: 4px ;
  border-radius: 50%;
  background-color: #D1D1D5;
}

/* 유의사항 테이블 */
.intro-container .table-scroll.scroll-none {
  padding: 0 16px;
}

.intro-container .table-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  padding: 0 16px;
}

.intro-container .table-sub-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  padding: 0 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}

/* 애니메이션 */
.intro-container.animations .top-contents-wrap .contents-wrap.second-content .img-wrap .intro-ani-1-01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 188px;
  opacity: 0;
  transition: opacity 0.5s 0.6s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content .img-wrap .intro-ani-1-02 {
  top: 110px;
  left: -100%;
  width: 167px;
  opacity: 0;
  transition: opacity 0.8s 0.8s ease-in-out, left 0.8s 0.8s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content .img-wrap .intro-ani-1-03 {
  top: 94px;
  right: -100%;
  width: 152px;
  opacity: 0;
  transition: opacity 0.8s 1s ease-in-out, right 0.8s 1s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content.active .img-wrap .intro-ani-1-01 {
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content.active .img-wrap .intro-ani-1-02 {
  left: 29px;
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content.active .img-wrap .intro-ani-1-03 {
  right: 15px;
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content .sub-text {
  opacity: 0;
  transform: translateY(20px);
}

.intro-container.animations .top-contents-wrap .contents-wrap.second-content.active .sub-text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s 1s ease-in-out, transform 0.5s 1s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap .info-list-wrap .list-btn {
  opacity: 0;
}

.intro-container.animations .top-contents-wrap .contents-wrap.active .info-list-wrap .list-btn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s 1s ease-in-out, transform 0.5s 1s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content .img-wrap .intro-ani-2-01 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 202px;
  opacity: 0;
  transition: opacity 0.5s 0.8s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content .img-wrap .intro-ani-2-02 {
  top: 91px;
  right: 41px;
  width: 69px;
  opacity: 0;
  transition: opacity 0.5s 1s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content.active .img-wrap .intro-ani-2-01 {
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content.active .img-wrap .intro-ani-2-02 {
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content .sub-text {
  opacity: 0;
}

.intro-container.animations .top-contents-wrap .contents-wrap.third-content.active .sub-text {
  opacity: 1;
  transition: opacity 0.5s 1.2s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.fifth-content .img-wrap .intro-ani-3-01 {
  top: 0;
  left: -100%;
  width: 197px; 
  opacity: 0;
  transition: opacity 0.7s 0.5s ease-in-out, left 0.7s 0.5s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.fifth-content .img-wrap .intro-ani-3-02 {
  top: 0;
  right: -100%;
  width: 185px;
  opacity: 0;
  transition: opacity 0.7s 0.5s ease-in-out, right 0.7s 0.5s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.fifth-content.active .img-wrap .intro-ani-3-01 {
  top: 0;
  left: 60px;
  width: 197px; 
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.fifth-content.active .img-wrap .intro-ani-3-02 {
  top: 0;
  right: 60px;
  width: 185px;
  opacity: 1;
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content .img-wrap .intro-ani-4-01 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 239px; 
  height: auto;
  min-width: auto;
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content .img-wrap .intro-ani-4-02 {
  top: 40px;
  left: 50%;
  transform: translate(-50%, 20px);
  width: 300px; 
  height: auto;
  min-width: auto;
  opacity: 0;
  transition: opacity 0.3s 0.7s ease-in-out, transform 0.3s 0.7s ease-in-out;
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content.active .img-wrap .intro-ani-4-02 {
  opacity: 1;
  transform: translate(-50%, 0);
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content .sub-text {
  opacity: 0;
  transform: translateY(20px);
}

.intro-container.animations .top-contents-wrap .contents-wrap.sixth-content.active .sub-text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s 0.9s ease-in-out, transform 0.3s 0.9s ease-in-out;
}
