#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.plcc-main-wrap {
  background-color: #f6f6f9;
}

.plcc-main-wrap #header {
  background-color: #f6f6f9;
}

.main-container {
  padding: 0 16px 106px;
  background-color: #f6f6f9;
}

.card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px #e5e5e8;
  background-color: #fff;
  margin-top: 16px;
}

.card-box.card-info .card-status {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 22px;
  color: #e0ff63;
  font-size: 12px;
  padding: 0 8px;
  border-radius: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  background-color: #151515;
}

.card-box.card-info .card-status.cancel {
  color: #fff;
  background-color: #F04806;
}

.card-box.card-info .card-info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px 0 16px;
}

.card-box.card-info .card-info-area .card-img {
  width: 128px;
  height: 128px;
}

.card-box.card-info .card-info-area .card-img.close {
  opacity: 0.5;
}

.card-box.card-info .card-info-area .text-wrap {
  margin-top: 8px;
}

.card-box.card-info .card-info-area .text-wrap .card-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.4;
}

.card-box.card-info .card-info-area .text-wrap .card-name i {
  width: 16px;
  height: 16px;
}

.card-box.card-info .card-info-area .text-wrap .card-number {
  color: #454545;
  font-size: 13px;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 1.4;
}

.card-box.card-info .card-point-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  background: #f6f6f9;
}

.card-box.card-info .card-point-area .point-img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: url(../../images/plcc/main-point-img.png) no-repeat center center;
  background-size: contain;
}

.card-box.card-info .card-point-area .point-text {
  background: linear-gradient(90deg, #9a5bf1 0%, #28c85d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.card-box.card-info .card-point-area .point-text span {
  font-weight: 700;
}

.card-box.card-amount {
  padding: 17px 16px 23px;
}

.card-box.card-amount .amount-info-area .amount-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.card-box.card-amount .amount-info-area .amount-text {
  margin-top: 4px;
  color: #888888;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.card-box.card-amount .amount-point-area {
  position: relative;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  border-radius: 12px;
  background-color: #f6f6f9;
}

.card-box.card-amount .amount-point-area .point-text {
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.card-box.card-amount .amount-point-area .point-price {
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.card-box.card-amount .amount-point-area .balloon-text-box {
  position: absolute;
  top: -20px;
  right: 8px;
  height: 28px;
  background: linear-gradient(90deg, #9a5bf1 0%, #28c85d 100%);
  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 0 8px;
  border-radius: 16px;
}

.card-box.card-amount .amount-point-area .balloon-text-box::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 16px;
  width: 5px;
  height: 6px;
  background: url(../../images/plcc/balloon-arrow-img.png) no-repeat center
    center;
}

.card-box.card-pre-save {
  padding: 24px 20px 20px;
}

.card-box.card-pre-save .title-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  text-align: center;
}

.card-box.card-pre-save .title-text span {
  color: #1A9F46;
}

.card-box.card-pre-save .img-wrap {
  width: 303px;
  height: 101px;
  margin: 16px auto 0;
  background: url(../../images/plcc/main-pre-save-img.png) no-repeat center center;
  background-size: contain;
}

.card-box.card-pre-save .btn {
  color: #E0FF63;
}

.card-box.card-pre-save-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-box.card-pre-save-calc .title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
}

.card-box.card-pre-save-calc .title-wrap i {
  margin-left: auto;
  margin-right: 20px;
}

.card-box.card-pre-save-calc .title-wrap::before {
  content: "";
  display: block;
  width: 70px;
  height: 56px;
  margin-right: 8px;
  background: url(../../images/plcc/main-pre-save-calc-img.png) no-repeat center center;
  background-size: contain;
}

.card-box.card-pre-save-calc .contents-wrap {
  display: none;
  width: 100%;
}

.card-box.card-pre-save-calc.open .contents-wrap {
  display: block;
}

.card-box.card-pre-save-calc.open .title-wrap i {
  transform: rotate(180deg);
}

.card-box.card-pre-point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 16px;
}

.card-box.card-pre-point .pre-point-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.card-box.card-pre-point .pre-point-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 8px;
  background-color: #151515;
  color: #e0ff63;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  padding: 0 8px;
}

.card-box.card-pre-point .pre-point-status::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background: url(../../images/plcc/icon/icon-check-primary.svg) no-repeat
    center center;
}

.card-box.card-select {
  padding: 24px 0;
}

.select-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
}

.select-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
}

.select-text .select-count {
  color: #fc0626;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.select-text .select-count.empty {
  color: #454545;
}

.select-text .select-count.full {
  color: #7cac04;
}

.select-text .select-sub-text.need-more {
  color: #fc0626;
}

.card-box.card-select .gift-box-img {
  display: block;
  width: 86px;
  height: 48px;
  margin: 20px auto 0;
  background-image: url(../../images/plcc/touch-box-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.select-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 28px;
}

.select-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 56px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #e5e5e8;
  border-radius: 20px;
  background: #fff;
  color: #151515;
  font-size: 14px;
}

.select-item:focus,
.select-item:active {
  border: 1px solid #e5e5e8;
  box-shadow: inherit;
}

.select-item.active {
  background: #151515;
  color: #fff;
}

.card-box.card-select .select-complete-btn {
  display: none;
  width: 72px;
  height: 34px;
  margin: 20px auto 0;
  background: #151515;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
}

.card-box.card-touch {
  padding: 24px 16px;
}

.touch-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
}

.touch-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.touch-btn-wrap .touch-btn {
  margin: 0;
}

.touch-btn {
  width: fit-content;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  background: #f6f6f9;
  color: #151515;
  border-radius: 8px;
  padding: 5px 8px;
  margin: 16px auto 0;
}

.touch-list-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  margin-top: 32px;
  padding-bottom: 8px;
  box-sizing: content-box;
  border-bottom: 1px solid #e5e5e8;
}

.touch-list-title-wrap p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.touch-list-title-wrap .touch-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #888;
}

.touch-list-title-wrap .touch-more-btn i {
  width: 12px;
  height: 12px;
}

.select-filter-wrap {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.select-filter-wrap .choice-filter-btn {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border: 1px solid #e5e5e8;
  border-radius: 50%;
  background: url(../../images/plcc/icon/icon-filter.svg) no-repeat center
    center;
}

.select-filter-wrap .select-filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 56px;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #e5e5e8;
  border-radius: 20px;
  background: #fff;
  color: #151515;
  font-size: 14px;
}

.select-filter-wrap .select-filter-btn.active {
  background: #151515;
  color: #fff;
}

.touch-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.touch-list li {
  display: flex;
  align-items: center;
  height: 96px;
  border-radius: 16px;
  background: #fff;
  box-sizing: border-box;
}

.touch-list li .touch-item-img {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: #f6f6f9;
  flex-shrink: 0;
}

.touch-list li .touch-item-text {
  overflow: hidden;
  flex: 1;
  min-width: 0;
  margin-left: 16px;
  padding-right: 16px;
}

.touch-list li .touch-item-text .new-tag {
  display: inline-block;
  height: 20px;
  margin-right: 4px;
  padding: 0 4px;
  background-color: #f04806;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.touch-list li .touch-item-text .brand-text {
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.touch-list li .touch-item-text .title-text {
  margin: 2px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.touch-list li .touch-item-text .peperiod-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #888;
}

.touch-list li .apply-btn {
  width: 56px;
  height: 34px;
  margin-left: auto;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  background: #f6f6f9;
  flex-shrink: 0;
}

.benefit-wrap {
  margin-top: 32px;
}

.benefit-wrap .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.benefit-wrap .title-wrap .title-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.benefit-wrap .title-wrap .benefit-more-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #151515;
  background: #f6f6f9;
}

.benefit-wrap .title-wrap .benefit-more-btn i {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.benefit-wrap .benefit-swiper {
  overflow: hidden;
  margin-top: 12px;
}

.benefit-wrap .benefit-swiper .swiper-wrapper {
}

.benefit-wrap .benefit-swiper .swiper-slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 77px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px #e5e5e8;
}

.benefit-wrap .benefit-swiper .swiper-slide .benefit-item-img {
  width: 77px;
  height: 77px;
}

.benefit-wrap .benefit-swiper .swiper-slide .text-wrap {
  margin-left: 4px;
}

.benefit-wrap .benefit-swiper .swiper-slide .text-wrap .title-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.benefit-wrap .benefit-swiper .swiper-slide .text-wrap .peperiod-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.benefit-wrap .benefit-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  margin-top: 12px;
  background-color: #f6f6f9;
}

.benefit-wrap .benefit-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 2px;
  margin: 0;
  background-color: #e5e5e8;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s ease;
}

.benefit-wrap
  .benefit-swiper
  .swiper-pagination
  .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #151515;
}

/* touch */
.container.touch-container {
  padding: 0;
}

.touch-container .touch-list-wrap {
  padding: 0 16px 24px;
}

.touch-container .touch-list-wrap .more-large-btn {
  margin-top: 16px;
}

.more-large-btn {
  display: block;
  width: 100%;
  height: 56px;
  border: 1px solid #e5e5e8;
  border-radius: 16px;
  background: #fff;
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.touch-container .touch-benefit-wrap {
  padding: 32px 16px;
  border-top: 8px solid #f6f6f9;
}

.touch-container .touch-benefit-wrap .more-large-btn {
  margin-top: 24px;
}

/* 관심사 변경 팝업 */
.modal-interest-change .modal-body .select-list {
  padding: 0 16px;
}

.modal-interest-change .modal-body .select-text {
  display: block;
  font-size: 13px;
}

.modal-interest-change .btn-wrap {
  height: auto;
  margin-top: 16px;
  padding: 16px;
}

/* MY TOUCH */
.my-touch-wrap {
  background-color: #f6f6f9;
}

.my-touch-wrap #header {
  background-color: #f6f6f9;
}

.my-touch-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  background-color: #f6f6f9;
}

.my-touch-container .tab-btn-wrap {
  display: flex;
}

.my-touch-container .tab-btn-wrap .tab-btn {
  width: 100%;
  height: 48px;
  color: #b0b0b3;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.my-touch-container .tab-btn-wrap .tab-btn.active {
  color: #151515;
  font-weight: 700;
  border-bottom: 2px solid #151515;
}

.my-touch-container .tab-btn-wrap .tab-btn .tab-btn-text {
  position: relative;
}

.my-touch-container .tab-btn-wrap .tab-btn .tab-btn-text .new-icon {
  display: inline-block;
  position: absolute;
  top: -1px;
  right: -6px;
  width: 4px;
  height: 4px;
  background-color: #f04806;
  border-radius: 50%;
}

.my-touch-container .tab-content .list-wrap {
  padding: 32px 16px;
}

.my-touch-container .tab-content {
  display: none;
  flex-direction: column;
  flex: 1;
}

.my-touch-container .tab-content:first-child {
  display: block;
}

.my-touch-container .touch-list li {
  padding: 0 16px;
}

.my-touch-container .apply-coupon-tab .length-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.my-touch-container .empty-list-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px 16px;
  border-radius: 16px;
}

.my-touch-container .empty-list-wrap .empty-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.my-touch-container .empty-list-wrap .empty-text::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  background: url(../../images/common/icon-exclamation-circle.svg) no-repeat
    center center;
}

.my-touch-container .length-text {
  font-size: 14px;
  font-weight: 500;
  color: #454545;
  margin-bottom: 16px;
}

.my-touch-container .month-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-bottom: 20px;
}

.my-touch-container .month-selector button {
  width: 16px;
  height: 16px;
}

.my-touch-container .month-selector span {
  font-size: 18px;
  font-weight: 500;
  color: #151515;
  min-width: 100px;
  text-align: center;
}

.my-touch-container .new-tag {
  display: inline-block;
  padding: 2px 6px;
  background: #f04806;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  margin-right: 4px;
}

.my-touch-container .total-discount-text {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.my-touch-container .total-discount-text b {
  color: #f04806;
}

.modal.modal-card-recommend {
  position: fixed;
  display: block;
  top: auto;
  bottom: -120px;
  left: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0px -6px 8px 0px #e5e5e84d;
}

.modal.modal-card-recommend::before {
  display: none;
}

.modal.modal-card-recommend .modal-overlay {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-card-recommend .modal-content {
  position: relative;
}

.modal-card-recommend .modal-content h3 {
  padding-top: 16px;
  font-size: 16px;
  text-align: left;
}

.modal-card-recommend .modal-content .modal-body {
  padding: 0 16px;
}

.modal-card-recommend .modal-content .banner-wrap {
  width: 100%;
  padding: 16px 0 20px;
}

.modal-card-recommend .modal-content .banner-wrap img {
  width: 100%;
}

.modal-card-recommend.open {
  bottom: 0 !important;
}

.modal-card-recommend.open .modal-overlay {
  opacity: 1;
  visibility: visible;
}

.modal-card-recommend.open .modal-content {
  bottom: 0;
  box-shadow: none;
}

.icon-info {
  width: 16px;
  height: 16px;
  background: url(../../images/plcc/icon/icon-info.svg) center center / cover
    no-repeat;
  font-size: 0;
}