.pre-save-service-wrap #content {
  padding-bottom: 0 !important
}

.pre-save-service-container {
  overflow: hidden;
  padding: 28px 0 0;
}

.pre-save-service-container .top-contents-wrap {
  padding: 0 0 40px;
}

.pre-save-service-container .top-contents-wrap .title-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
  text-align: center;
}

.pre-save-service-container .top-contents-wrap .gray-box {
  width: calc(100% - 32px);
  margin: 24px auto 0;
  padding: 24px 0;
  background-color: #F6F6F9;
  border: none;
  border-radius: 16px;
  text-align: center;
}

.pre-save-service-container .top-contents-wrap .gray-box .sub-title-text {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.pre-save-service-container .top-contents-wrap .gray-box .sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.pre-save-service-container .top-contents-wrap .gray-box .sub-text span {
  color: #7CAC04;
  font-weight: 700;
}

.pre-save-service-container .top-contents-wrap .gray-box .img-wrap {
  width: 303px;
  height: 120px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 40px;
}

.pre-save-service-container .top-contents-wrap .gray-box .img-wrap:last-child {
  margin-bottom: 0;
}

.pre-save-service-container .top-contents-wrap .gray-box .img-wrap.img-1 {
  background: url(../../images/plcc/pre-save-service-img-1.png) center / 100% 100% no-repeat;
}

.pre-save-service-container .top-contents-wrap .gray-box .img-wrap.img-2 {
  background: url(../../images/plcc/pre-save-service-img-2.png) center / 100% 100% no-repeat;
}

.pre-save-service-container .top-contents-wrap .gray-box .img-wrap.img-3 {
  background: url(../../images/plcc/pre-save-service-img-3.png) center / 100% 100% no-repeat;
}

.pre-save-service-container .top-contents-wrap .contents-wrap {
  padding: 0 16px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .title-text {
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
  text-align: left;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 20px 16px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box .text-wrap {
  width: calc(100% - 92px);
  min-width: 0;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-1 {
  background-color: #F0FDF4;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 {
  background-color: #EEF5FF;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-3 {
  background-color: #F9F5FF;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box .text-wrap .sub-title-text {
  display: inline-block;
  height: 28px;
  padding: 0 12px;
  border-radius: 100px;
  line-height: 28px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #151515;
  margin-bottom: 12px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-1 .text-wrap .sub-title-text {
  background-color: #DDFBE6;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .text-wrap .sub-title-text {
  background-color: #D9E7FF;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-3 .text-wrap .sub-title-text {
  background-color: #F1E9FE;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box .text-wrap .sub-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box .img-wrap {
  position: relative;
  flex-shrink: 0;
  width: 92px;
  height: 84px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-1 .img-wrap {
  background: url(../../images/plcc/pre-save-service-card-img-1.png) center / 100% 100% no-repeat;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .img-wrap {
  background: url(../../images/plcc/pre-save-service-card-img-2.png) center / 75px 75px no-repeat;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-3 .img-wrap {
  background: url(../../images/plcc/pre-save-service-card-img-3.png) center / 100% 100% no-repeat;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .img-wrap .point-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 46px;
  left: 54px;  
  width: 25px;
  height: 25px;
  background-color: #151515;
  border-radius: 50%;
  font-weight: 700;
  font-size: 11px;
}

/* 페이드 애니메이션 */
.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .img-wrap .point-wrap .fade-numbers {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .img-wrap .point-wrap .fade-numbers .number-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: 700;
  color: #E0FF63;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .card-box.card-2 .img-wrap .point-wrap .fade-numbers .number-item.active {
  opacity: 1;
  transform: scale(1);
}

.pre-save-service-container .top-contents-wrap .contents-wrap .bottom-text {
  position: relative;
  margin-top: 20px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #F04806;
  text-align: left;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .bottom-text::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 1px;
  width: 4px;
  height: 4px;
  background-color: #D1D1D5;
  border-radius: 100%;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap {
  padding: 0;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .title-text {
  margin-bottom: 4px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .sub-text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap {
  padding: 0 16px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .bottom-text {
  color: #454545;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .info-text {
  position: relative;
  margin-top: 8px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
  text-align: left;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .info-text::before {
  content: '※';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap.table-contents-wrap .table-scroll .table-wrapper {
  padding: 0;
}

.table-scroll {
  width: 100%;
  overflow-x: auto;
  padding: 0 16px;
}

.table-wrapper {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden; 
  border: 1px solid #E5E5E8;
  margin-right: 16px;
}

.point-example-table {
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  white-space: nowrap;
  border-radius: 8px;
  overflow: hidden;
  color: #151515;
}

.table-scroll.scroll-none {
  overflow: hidden;
  padding: 0;
}

.table-scroll.scroll-none .table-wrapper {
  overflow-x: auto;
  display: block;
  margin-right: 0;
}

.table-scroll.scroll-none .point-example-table {
  width: 100%;
  white-space: normal;
}

@media (max-width: 320px) {
  .table-scroll.scroll-none .table-wrapper thead th,
  .table-scroll.scroll-none .table-wrapper tbody td {
    padding-left: 6px;
    padding-right: 6px;
  }
}


.point-example-table thead tr:first-child th:first-child {
  height: 57px;
}

.point-example-table th,
.point-example-table td {
  border: 1px solid #E5E5E8;
  white-space: nowrap;
  padding: 6px 12px;
  text-align: center;
}

.table-scroll.scroll-none .point-example-table th,
.table-scroll.scroll-none .point-example-table td {
  padding: 6px 0;
}

.point-example-table th {
  background-color: #F6F6F9;
}

.point-example-table thead tr:first-child th {
  font-size: 12px;
  font-weight: 700;
}

.point-example-table thead tr:last-child th {
  font-size: 12px;
  font-weight: 700;
}

.point-example-table td {
  font-size: 12px;
  font-weight: 500;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .point-example-list {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .point-example-list li {
  position: relative;
  margin-top: 8px;
  padding-left: 13px;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .point-example-list li span {
  color: #187D3A;
  font-weight: 500;
}

.pre-save-service-container .top-contents-wrap .contents-wrap .point-example-list li::before {
  content: '';
  position: absolute; 
  top: 8px;
  left: 1px;
  width: 4px;
  height: 4px;
  background-color: #D1D1D5;
  border-radius: 100%;
}

.pre-save-service-container .bottom-contents-wrap {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F9;
  padding: 40px 16px 112px;
  gap: 12px;
}

.dropdown-wrap-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 14px;
}

.dropdown-wrap {
  border-radius: 12px;
  background-color: #fff;
}

.dropdown-wrap .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 20px 16px;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.dropdown-wrap .dropdown-contents-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.dropdown-wrap .dropdown-contents {
  display: none;
  position: relative;
  flex-direction: column;
}

.dropdown-wrap .dropdown-contents-list li {
  position: relative;
  padding-left: 13px;
}

.dropdown-wrap .dropdown-contents-list li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 4px;
  height: 4px ;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.dropdown-wrap .dropdown-contents-list li.point-text {
  color: #000;
}

.dropdown-wrap .dropdown-contents-list li.point-text.color-45 {
  color: #454545;
}

.dropdown-wrap .dropdown-contents-list li.point-text::before {
  content: '※';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.pre-save-service-container .btn-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 16px;
}

.bottom-notice-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.bottom-notice-list li {
  position: relative;
  padding-left: 13px;
}

.bottom-notice-list li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 4px;
  height: 4px ;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.bottom-notice-list li.cross-icon {
  padding-left: 19px;
}

.bottom-notice-list li.cross-icon::before {
  content: '※';
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto ;
  border-radius: 0;
  background-color: transparent;
}