.input-wrap .input-container {
  margin-top: 8px;
}
.input-wrap .input-container .custom-input {
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.input-wrap .input-container .custom-input::placeholder {
  font-weight: 400;
  font-size: 16px;
}