.top-con-wrap {
  padding: 0 20px 40px;
}
.top-con-wrap .top-info {
  color: #575757;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.top-con-wrap .top-info .tooptip-box {
  display: inline-block;
  position: relative;
}
.top-con-wrap .top-info .tooptip-box .icon-question-mark {
  margin-top: 2px;
}
.top-con-wrap .top-info .tooptip-box .tooltip-text {
  display: none;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px #00000029;
  background-color: #fff;
}
.top-con-wrap .top-info .tooptip-box .tooltip-text h4 {
  margin-bottom: 4px;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
}
.top-con-wrap .top-info .tooptip-box .tooltip-text p {
  color: #575757;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.top-con-wrap .top-info .tooptip-box .tooltip-text::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: 10px;
  height: 6px;
  background: url(../images/common/icon-tooltip-arrow.svg) 0 0 / cover no-repeat;
}
.top-con-wrap .cust-info {
  margin-top: 40px;
}
.top-con-wrap .cust-info dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.top-con-wrap .cust-info dl:first-child {
  margin-top: 0;
}
.top-con-wrap .cust-info dl dt {
  color: #575757;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.top-con-wrap .cust-info dl dd {
  display: flex;
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
}
.top-con-wrap .cust-info dl dd .phone-info {
  height: 20px;
  margin-right: 6px;
  padding: 0 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: center;
  background-color: #7d7d7d;
}
.form-wrap {
  padding: 40px 20px 0;
  background-color: #f9f9f9;
}
.form-box {
  margin-top: 24px;
}
.form-box:first-child {
  margin-top: 0;
}
.form-box h4 {
  margin-bottom: 8px;
}
.input-container {
  margin-top: 8px;
}
.input-wrap .input-container .custom-input {
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.input-wrap .input-container .custom-input::placeholder {
  font-weight: 400;
  font-size: 16px;
}
.info-text {
  margin-top: 8px;
}
.input-wrap .error-message {
  margin-top: 8px;
  color: #fb3636;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}
.btn-wrap {
  padding: 40px 0 20px;
}

/* 풀 팝업 */
.popup-full-screen {
  display: none; /* 처음에는 숨겨진 상태 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.layer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #fff;
}
.layer-head h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
  text-decoration-skip-ink: none;

}
.popup-full-screen .full-screen-content {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  position: relative;
}
.custom-input:read-only {
  cursor: pointer;
}