@charset "UTF-8";

/**
* ============================================================
* Navigation(Nav) : 메뉴
* ============================================================
*/


/* tab style navigation - 핫딜 목록 */
.navTab { position: fixed; top: 58px; width: 100%; min-width: 280px; height: 45px; background-color: #fff; z-index: 100; }
.navTab .container { padding: 0; }
.navTab li { float: left; width: 25%; text-align: center; }
.navTab li a { position: relative; display: block; padding: 5px 0 0; font-size: 16px; font-weight: 700; line-height: 40px; color: #dedede; }
.navTab li.active a { color: #151515; font-weight: 700; }
.navTab li.active a:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #151515; }
