@charset "UTF-8";

/**
* ============================================================
* ShareEvent : 내 당첨 확률
* ============================================================
*/


/* headline */
.eventHeadline { font-size: 16px; }
.eventHeadline .productImg { position: relative; margin: auto; width: 55px; height: 55px; overflow: hidden; border-radius: 50%; background-color: #f1f1f1; }
.eventHeadline .productImg img { position: absolute; top: 3px; left: 50%; margin-left: -30px; width: 60px; height: 60px; }
.eventHeadline .productName { margin-top: 5px; }
.eventHeadline .eventTitle { margin-top: 3px; font-size: 18px; font-weight: 700; color: #151515; }

/* event detial box */
.eventBox { margin-top: 20px; width: 100%; border-radius: 20px; background: #fff; }
.eventBox .content { padding: 0 20px; width: 100%; font-size: 22px; vertical-align: middle; }
.eventBox .content .name { word-break: break-all; }
.eventBox .content .result { font-size: 30px; }

.eventBox .content .productWrap { height: 79px; line-height: 79px; border-bottom: 1px solid #e3e3e3; }
.eventBox .content .productImg { position: relative; float: left; width: 55px; height: 55px; margin-top: 15px; overflow: hidden; border-radius: 50%; background-color: #f1f1f1; }
.eventBox .content .productName { float: left; width: calc(100% - 70px); margin-left: 15px; font-size: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: left; }
.eventBox .content .winningWrap { height: 75px; line-height: 75px; }
.eventBox .content .winningWrap span:nth-child(1) {float: left; font-size: 16px; }
.eventBox .content .winningWrap span:nth-child(2) {float: right;font-size: 30px; }

/* 이벤트 설명 영역 */
.eventInfoBox { height: 306px; margin-top: 20px; width: 100%; border-radius: 20px; background: #fff url('../../public/images/hotdeal/bg-event-info.png') no-repeat right bottom / auto 200px }
.eventInfoBox .content { padding: 30px 20px 0; width: 100%; font-size: 16px; text-align: left; }
.eventInfoBox .content strong { display: block; margin-top: 10px; font-size: 25px; color: #151515; }