@charset "UTF-8";

/* checkbox */
.checkbox.ty label{background-image:url(../../../images/custom/bio11/checkbox_chk.png)}
.checkbox.ty input:checked+label,
.checkbox.ty label.on{background-image:url(../../../images/custom/bio11/checkbox_chk_on.png)}
.ars_form li.tax .control{display:block;font-size:initial}

/* 결제 > 현금영수증 레이어 */
.skipbx.biz{position:relative;top:1rem;margin-bottom: 2rem;padding:0;border:0}
.skipbx.biz .tab_type_biz{clear:both;background-color:#fff}
.skipbx.biz .tab_type_biz:after{content:'';display:block;clear:both}
.skipbx.biz .tab_type_biz li{float:left;width:50%}
.skipbx.biz .tab_type_biz button{width:100%;height:4.5rem;font-size:1.4rem;border:1px solid #e1e1e1}
.skipbx.biz .tab_type_biz button.active{border:1px solid #FD3634;color:#FD3634}
.skipbx.biz .taxbx{display:none;border:1px solid #e1e1e1;border-top:0}
.skipbx.biz .taxbx select{padding-left:1rem;width:43%;height:5rem;float:left;}
.skipbx.biz .taxbx .input{display:none;width:57%;border:0;padding-right:0;padding-left:1.5rem;margin-top:0}
.skipbx.biz .taxbx .input input[type="text"],
.skipbx.biz .taxbx .input input[type="tel"]{height:5rem;padding-right:1rem;font-size:1.4rem}
.skipbx.biz .taxbx>div:after{content:'';display:block;clear:both}
.skipbx.biz .taxbx>div>span{float:left}
