/*
눈누 : https://noonnu.cc/font_page?search=%EC%96%B4%EA%B7%B8%EB%A1%9C%EC%B2%B4
샌드박스 어그로체 https://sandbox.co.kr/fonts/aggro

https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff
https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff
https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff
*/

@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansTTFLight.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansTTFMedium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansTTFBold.ttf') format('truetype');
	font-weight: 700;
	font-weight: bold;
	font-display: swap;
}
