@property --ratio-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --correction {
  syntax: "<percent>";
  inherits: true;
  initial-value: 0%;
}
@property --ratio-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
:root {
  --labs-sys-color-surface: #444;
  --labs-sys-color-on-surface: hsl(0, 100%, 0%);
  --labs-sys-color-background: black;
  --labs-sys-radius-surface: 2rem;
  --c1: #ddb4eb;
}

.move_card_logo {
  background: url("../images/promotion/creditcard/card-up2.png") no-repeat center/contain;
  width: 260px;
  height: 400px;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 	margin-top: -53px;
  	margin-left: 4px; */
}
.move_card_logo:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.move_card_logo:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  color: white;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
  transform: perspective(100px) translateZ(calc(0.01rem + 0.5rem * var(--ratio-x))) translate(calc(0rem + var(--ratio-x) * -1rem), calc(0rem + var(--ratio-y) * -1rem)) rotateY(calc(-10deg * var(--ratio-x))) rotateX(calc(10deg * var(--ratio-y)));
}

.holo-bg {
  width: 260px;
  height: 400px;
  opacity: 1;
  position: absolute;
  --size: 0;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  background: radial-gradient(ellipse at calc(90% - var(--ratio-x) * 20%) calc(0% - var(--ratio-y) * 20%), rgba(255, 255, 255, 0.7), var(--c1) 1%, hsla(306deg, 100%, 63%, 0.76) 20%, transparent), linear-gradient(110deg, #0093ff calc(10% - var(--ratio-x) * 20%), #51d6fd calc(20% - var(--ratio-x) * 20%), #0093ff calc(30% - var(--ratio-x) * 20%), hsla(306deg, 100%, 63%, 0.76) calc(60% - var(--ratio-x) * 20%), transparent calc(100% - var(--ratio-x) * 20%), transparent);
  background: url("../images/promotion/creditcard/illusion3.png") no-repeat center/contain;
  transition: all 0.2s linear, opacity 0.8s ease;
  mix-blend-mode: soft-light;
}

.holo-lines {
  width: 260px;
  height: 400px;
  -webkit-mask-image: url("../images/promotion/creditcard/illusion3.png");
          mask-image: url("../images/promotion/creditcard/illusion3.png");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  content: "";
  position: absolute;
  --size: 0;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  pointer-events: none;
  background: linear-gradient(110deg, #0093ff calc(10% - var(--ratio-x) * 20% - var(--correction)), #51d6fd calc(20% - var(--ratio-x) * 20% - var(--correction)), #0093ff calc(30% - var(--ratio-x) * 20% - var(--correction)), hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1) calc(40% - var(--ratio-x) * 20% - var(--correction)), transparent calc(60% - var(--ratio-x) * 20% - var(--correction)), #51d6fd calc(70% - var(--ratio-x) * 20% - var(--correction)), black calc(80% - var(--ratio-x) * 20% - var(--correction)));
  transition: all 0.2s linear;
  pointer-events: none;
}

.circles {
  position: absolute;
  --size: 0;
  overflow: hidden;
  top: var(--size);
  left: var(--size);
  right: var(--size);
  bottom: var(--size);
  opacity: 1;
  transition: all 0.8s ease;
}
.circles:before {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at 50% 50%, hsla(194deg, 98%, 65%, 0.41) 0.25rem, transparent 0.25rem, transparent) repeat;
  background-size: 1rem 1rem;
  background-position: left top;
  transform: translate(-50%, -50%) rotate(45deg);
}
.circles:after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at 50% 50%, hsla(194deg, 98%, 65%, 0.41) 0.25rem, transparent 0.25rem, transparent) repeat;
  background-size: 1rem 1rem;
  background-position: left top;
  transform: translate(50%, 100%) rotate(45deg);
}

.move_card {
  margin-top: -36px;
  left: 50%;
  top: 100%;
  z-index: 103;
  overflow: hidden;
  width: 260px;
  height: 400px;
  margin-left: -130px;
  aspect-ratio: 3.126/4;
  color: var(--labs-sys-color-on-surface);
  position: relative;
  --ratio-x: 1;
  --ratio-y: 1;
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
  --correction: 100%;
}
.move_card .move_card_img {
  width: 260px;
  height: 400px;
}
.move_card:hover {
  transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
  --correction: 0%;
}
.move_card:hover .holo-bg {
  opacity: 1;
}
.move_card:hover .circles {
  opacity: 1;
}
.move_card.active {
  -webkit-animation: cardSlideUp 1s ease-in-out forwards;
          animation: cardSlideUp 1s ease-in-out forwards;
}
.move_card.rotate {
  -webkit-animation: rotate 10s ease-in-out infinite;
          animation: rotate 10s ease-in-out infinite;
  --correction: 30%;
}
.move_card.rotate .holo-bg {
  opacity: 1;
}
.move_card.rotate .circles {
  opacity: 1;
}
.move_card.cardMoveUp {
  -webkit-animation: cardMoveUp 1s ease-in-out forwards;
          animation: cardMoveUp 1s ease-in-out forwards;
}
.move_card.moveAni {
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}

@media only screen and (min-width: 767px) {
  .move_card {
    left: 50%;
    top: 100%;
    z-index: 103;
    overflow: hidden;
    margin-top: -20px;
    width: 260px;
    height: 400px;
    margin-left: -130px;
    aspect-ratio: 3.126/4;
    color: var(--labs-sys-color-on-surface);
    position: relative;
    --ratio-x: 1;
    --ratio-y: 1;
    transform-style: preserve-3d;
    transition: transform 0.2s linear;
    --correction: 100%;
  }
  .move_card .move_card_img {
    width: 260px;
    height: 400px;
  }
  .move_card:hover {
    transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
    --correction: 0%;
  }
  .move_card:hover .holo-bg {
    opacity: 1;
  }
  .move_card:hover .circles {
    opacity: 1;
  }
  .move_card.active {
    -webkit-animation: cardSlideUp 1s ease-in-out forwards;
            animation: cardSlideUp 1s ease-in-out forwards;
  }
  .move_card.rotate {
    -webkit-animation: rotate 10s ease-in-out infinite;
            animation: rotate 10s ease-in-out infinite;
    --correction: 30%;
  }
  .move_card.rotate .holo-bg {
    opacity: 1;
  }
  .move_card.rotate .circles {
    opacity: 1;
  }
  .move_card.cardMoveUp {
    -webkit-animation: cardMoveUp 1s ease-in-out forwards;
            animation: cardMoveUp 1s ease-in-out forwards;
  }
  .move_card.moveAni {
    -webkit-animation: moveDown 1s ease-in-out forwards;
            animation: moveDown 1s ease-in-out forwards;
  }
  @-webkit-keyframes cardMoveUp {
    0% {
      top: 0;
    }
    100% {
      top: -100px;
    }
  }
  @keyframes cardMoveUp {
    0% {
      top: 0;
    }
    100% {
      top: -100px;
    }
  }
  @-webkit-keyframes moveDown {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
  @keyframes moveDown {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
  @-webkit-keyframes cardSlideUp {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes cardSlideUp {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  .move_card {
    position: relative;
    width: 195px;
    height: 299px;
    margin-left: -97.5px;
    margin-top: -20px;
  }
  .move_card .move_card_img {
    width: 100%;
    height: 100%;
  }
  .move_card:hover {
    transform: none;
    --correction: 0%;
  }
  .move_card:hover .holo-bg {
    opacity: 1;
  }
  .move_card:hover .circles {
    opacity: 1;
  }
  .holo-bg {
    width: 100%;
    height: 100%;
    display: none;
  }
  .holo-lines {
    width: 100%;
    height: 100%;
    display: none;
  }
  .move_card_logo {
    width: 269.35px;
    height: 427.31px;
    display: none;
  }
  /* 	@keyframes cardMoveUp {
  		0% {
  			top: 0;
  		}
  		100% {
  			top: 5%;
  		}
  	} */
  @-webkit-keyframes moveDown {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
  @keyframes moveDown {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
  @-webkit-keyframes cardSlideUp {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes cardSlideUp {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
}
@-webkit-keyframes rotate {
  from {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
  30% {
    --ratio-x: -1.5;
    --ratio-y: 0.2;
  }
  50% {
    --ratio-x: .5;
    --ratio-y: .2;
  }
  70% {
    --ratio-x: -1.5;
    --ratio-y: -1.2;
  }
  to {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
}
@keyframes rotate {
  from {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
  30% {
    --ratio-x: -1.5;
    --ratio-y: 0.2;
  }
  50% {
    --ratio-x: .5;
    --ratio-y: .2;
  }
  70% {
    --ratio-x: -1.5;
    --ratio-y: -1.2;
  }
  to {
    --ratio-x: 1.2;
    --ratio-y: 1.2;
  }
}/*# sourceMappingURL=card_animation.css.map */