.content_wrap.credit_card.v4 .section.app-down .left-con .btn-wrap .down-btn.home::before {
    background: url(../images/promotion/creditcard//ico-home.png) no-repeat center / contain;
}
.content_wrap.credit_card.v4 .section.app-down .left-con .btn-wrap .down-btn.share::before {
    background: url(../images/promotion/creditcard//ico-share.png) no-repeat center / contain;
}
.content_wrap.credit_card.v4 .top-visual .container .card_wrap .card {
	border-radius: 0;
}
.content_wrap.credit_card.v4 .section02 .container .box .box-bottom > div {
	text-align: left;
}
.content_wrap.credit_card.v4 .section02 .container .box .box-top .left-wrap {
	text-align: left;
}
.content_wrap.credit_card.v4 .section02 .container.w-1064 .box {
    max-width: 1064px;
}
.info:before, .info-list li:before {
	display: none;
}
.content_wrap.credit_card.v4 .section02 .container .box.box2 .box-top .list > li .info {
	padding-left: 0;
	margin-top: 0;
}
.content_wrap.credit_card.v4 .section03 .container .tit_wrap {
	text-align: left;
}
.content_wrap.credit_card.v4 .section03 .container .right-wrap {
	margin-left: auto;
}
.content_wrap.credit_card.v4 .section04 .container {
	min-width: 1240px;
}
.wrap-v2 .section:not(.section-visual) {
	padding: 0;
}
.content_wrap.credit_card.v4 .section04.animation .container .card_area .talk_area .txt_up .txt.txt01 {
	text-align: left;
}
.content_wrap.credit_card.v4 .section04.animation .container .card_area .talk_area .txt_up .txt.txt02 {
	text-align: left;
}
.content_wrap.credit_card.v4 .app-down .container .left-con {
	text-align: left;
}
.content_wrap.credit_card.v4 .section.app-down .right-con p::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    background: url(../images/promotion/creditcard//ico-app.png) no-repeat center / contain;
}
.content_wrap.credit_card .section.app-down .container {
	min-width: 1240px
}
.section .accordion-header {
	background: #f9f9f9;
	border-radius: 10px 10px 0 0;
}
.section .accordion-body {
	background-color: #f9f9f9;
	border-radius: 0 0 10px 10px;
}
.section .accordion-header button { 
	position: relative;
	width: 100%;
	text-align: left;
}
.content_wrap.credit_card .section.notice .container .accordion-body .txt-info {
    text-align: left;
}
.btn_top {
    display: none;
    position: fixed;
    z-index: 998;
    bottom: -150px;
    right: 50%;
    opacity: 0;
    margin-right: -640px;
    width: 80px;
    height: 80px;
    border: 1px solid #666666;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.26);
    text-indent: -9999px;
    background: #ffffff url('../images/promotion/creditcard/arrow.png') no-repeat center center;
    transition: all 0.2s ease-in-out;
}
.btn_top.on {
    display: block;
    opacity: 1;
    bottom: 100px;
}
.content_wrap.credit_card.v4 .top-visual {
	height: 780px;
}
.content_wrap.credit_card.v4 .top-visual .container .card_wrap .card {
	position: relative;
	z-index: 1;
}
.content_wrap.credit_card.v4 .top-visual.animation .container .card_wrap .deco.deco-01 {
	z-index: 2;
}
.content_wrap.credit_card.v4 .top-visual.animation .container .card_wrap .deco.deco-02 {
	z-index: 2;
}
.content_wrap.credit_card.v4 .top-visual.animation .container .card_wrap .deco.deco-03 {
	z-index: 0;
}
.content_wrap.credit_card.v4 .top-visual.animation .container .card_wrap .deco.deco-04 {
	z-index: 2;
}
.content_wrap.credit_card.v4 .section02 .container .box .box-top .right-wrap {
	text-align: left;
}
.content_wrap.credit_card.v4 .section.app-down .left-con .btn-wrap .down-btn.home::before {
    background: url(../images/promotion/creditcard//ico-home.png) no-repeat center / contain;
}
.content_wrap.credit_card.v4 .top-visual .container {
	min-width: 1240px;
}
.content_wrap.credit_card.v4 .top-visual .right-wrap {
	margin-left: auto;
}
.content_wrap.credit_card.v4 .section01 .right-wrap {
	margin-left: auto;
}
.content_wrap.credit_card .top-visual .container {
	padding: 50px 0;
}
.content_wrap.credit_card.v4 .section01 .container {
	padding: 100px 0;
}
.content_wrap.credit_card .section.app-down .container {
	min-width: 886px;
}
.content_wrap.credit_card .section.notice .accordion-body .asterlist-list li::after {
	left: 1px;
}
.content_wrap.credit_card .section.notice .accordion-body table tbody td {
	text-align: left;
}
.modal .modal-dialog {
	background-color: transparent;
}
.content_wrap.credit_card.v4 .section03 .container .txt_tit .small {
    font-size: 30px;
}
.content_wrap.credit_card.v4 .section02 .container .box .box-top .number-wrap .number {
	font-family: 'pretendard';
}
.content_wrap.credit_card.v4 .section02 .container .box .box-bottom .right-wrap dl dt {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}
.content_wrap.credit_card.v4 .section04 {
	height: 477px;
}
.content_wrap.credit_card .section-wrap .link_btn_area {
	bottom: 70px;
}
.content_wrap.credit_card .section-wrap .link_btn_area.fixed {
	opacity: 1;
}
.link_btn_area.add-ani.mo-link-button.fixed.footer-fixed {
	bottom: 300px;
}
.content_wrap.credit_card.v4.renewal .top-visual {
  background: linear-gradient(180deg, #FBF1FF 0%, #B8A8FC 100%);
}
.content_wrap.credit_card.v4.renewal .top-visual .container .tit_wrap .txt_tit {
  color: #151515;
}
.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item {
  width: 395px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #222;
  background-color: #CFC2FE;
}
.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item.first {
  background: linear-gradient(90.61deg, #848FEF 2.68%, #7F6DEC 99.61%);
}
.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item.first > div {
  background: none;
}
.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item.first > div .label {
  background-color: #6E45E0;
}
.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item > div .label {
  background-color: #6E45E0;
}
.content_wrap.credit_card.v4.renewal .section01 {
  background: #F9EDFF;
}
.content_wrap.credit_card.v4.renewal .section01.animation path {
  fill: none;
  stroke: #748bff;
  stroke-linecap: round;
  stroke-dasharray: 530;
  stroke-width: 6px;
  animation: svg-ani03 0.2s 1s both;
}
.content_wrap.credit_card.v4.renewal .section01 .container .tit_wrap .txt_tit {
  color: #6E45E0;
  background: none;
  -webkit-text-fill-color: inherit;
}
.content_wrap.credit_card.v4.renewal .section01 .container .tit_wrap .txt_date {
  margin-top: 20px;
  color: #151515;
  font-size: 20px;
  line-height: 27px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box {
  padding: 40px 0 50px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap {
  position: relative;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .txt_title {
  color: #7D7D7D;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.1px;
  text-align: center;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .txt_title span {
  color: #393939;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .svg_03 {
  position: absolute;
  right: 82px;
  top: -28px;
  width: 136px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .svg_03 path {
  fill: none;
  stroke: #748bff;
  stroke-linecap: round;
  stroke-width: 6px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box {
  position: relative;
  width: 287px;
  margin: 59px auto 83px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol {
  position: absolute;
  z-index: 2;
  padding: 9.5px 20px;
  border-radius: 20px;
  color: #748BFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.9px;
  background: #D8E3FF;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_01 {
  left: -46px;
  top: -9px;
  z-index: 0;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_02 {
  right: -51px;
  top: 61px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_03 {
  left: -85px;
  top: 103px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_04 {
  right: -59px;
  bottom: -34px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .phone_img {
  position: relative;
  z-index: 1;
  display: block;
  width: 287px;
  height: 259px;
  margin: auto;
  background: url(../images/creditcard/v4/section01-renewal-01.png) 0 0/cover no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .persent_img {
  position: absolute;
  left: -45px;
  bottom: -56px;
  z-index: 2;
  width: 125px;
  height: 113px;
  background: url(../images/creditcard/v4/section01-renewal-02.png) 0 0/cover no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box h4 span {
  color: #151515;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 155px;
  margin: 24px 0 44px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 100%;
  background: linear-gradient(273.99deg, rgba(255, 255, 255, 0) 3.75%, rgba(255, 255, 255, 0.81) 42.56%, #FFFFFF 64.53%, #FFFFFF 97.25%);
  top: 0;
  left: 0;
  z-index: 1;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 100%;
  transform: rotate(180deg);
  background: linear-gradient(273.99deg, rgba(255, 255, 255, 0) 3.75%, rgba(255, 255, 255, 0.81) 42.56%, #FFFFFF 64.53%, #FFFFFF 97.25%);
  top: 0;
  right: 0;
  z-index: 1;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box {
  position: relative;
  margin-bottom: 26.3px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(1) {
  height: 26px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(2) {
  height: 32px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(2) .roller_list_3:first-child {
  animation: rollingleft1 60s linear infinite;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(2) .roller_list_3:last-child {
  animation: rollingleft2 60s linear infinite;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(3) {
  height: 26px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3 {
  position: absolute;
  padding: 0 10px;
  box-sizing: content-box;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3:first-child {
  animation: rollingleft1 70s linear infinite reverse;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3:last-child {
  animation: rollingleft2 70s linear infinite reverse;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3.list1 {
  width: 874px;
  height: 100%;
  background: url(../images/creditcard/v4/section01-renewal-04.png) center center/auto 100% no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3.list2 {
  width: 586px;
  height: 100%;
  background: url(../images/creditcard/v4/section01-renewal-05.png) center center/auto 100% no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box .roller_list_3.list3 {
  width: 851px;
  height: 100%;
  background: url(../images/creditcard/v4/section01-renewal-06.png) center center/auto 100% no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area {
  position: relative;
  width: calc(100% - 100px);
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  background: rgba(249, 237, 255, 0.5019607843);
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area::before {
  position: absolute;
  right: -28px;
  top: -28px;
  content: "";
  width: 102px;
  height: 85px;
  background: url(../images/creditcard/v4/section01-renewal-03.png) 0 0/cover no-repeat;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area > dl {
  margin-bottom: 10px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area > dl:last-child {
  margin-bottom: 0;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area > dl dd p {
  color: #393939;
  font-size: 13px;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area > dl dd:last-child {
  margin-bottom: 0;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap > .txt-bottom {
  margin-top: 16px;
  color: #575757;
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.04em;
}
.content_wrap.credit_card.v4.renewal .section01 .container .right-wrap > .txt-bottom a {
  color: inherit;
  border-bottom: 1px solid #575757;
}
.content_wrap.credit_card.v4.renewal .section02 {
  background: #A18FF5;
}
.content_wrap.credit_card.v4.renewal .section02::before {
  background: url(../images/creditcard/v4/section02-renewal-bg-01.png) center/contain no-repeat;
}
.content_wrap.credit_card.v4.renewal .section02 .container .label {
  background: #FCE774;
}
.content_wrap.credit_card.v4.renewal .section02 .container .tit_wrap .txt_tit {
  color: #FCE774;
}
.content_wrap.credit_card.v4.renewal .section02 .container .review_wrap::before {
  background: linear-gradient(90deg, #A18FF5 20%, rgba(161, 143, 245, 0) 100%);
}
.content_wrap.credit_card.v4.renewal .section02 .container .review_wrap::after {
  background: linear-gradient(90deg, rgba(161, 143, 245, 0) 0%, #A18FF5 80%);
}
.content_wrap.credit_card.v4.renewal .section02 .container .box .box-bottom {
  background: #6A4CEA;
}
.content_wrap.credit_card.v4.renewal .section03 {
  background: #FCEDFF;
}
.content_wrap.credit_card.v4.renewal .section03 .container .txt_tit, .content_wrap.credit_card.v4.renewal .section03 .box .left-wrap .tit {
  color: #6E45E0;
}
.content_wrap.credit_card.v4.renewal .section04 {
	height: auto;
  background: #E7DBFF;
}
.content_wrap.credit_card.v4.renewal .section04 .container .card_area .talk_area .txt_up .txt.txt02::after {
  color: #6E45E0;
}
@media only screen and (max-width: 767px) {
    .content_wrap.credit_card.v4 .top-visual {
        height: 665px;
        padding-top: 0;
    }
		    .content_wrap.credit_card.v4 .top-visual .container .right-wrap {
        position: absolute;
        z-index: 1;
    }
		    .content_wrap.credit_card.v4 .top-visual .container .benefit-list {
        position: relative;
				z-index: 10;
    }
		.wrap-v2 .section:not(.section-visual) {
			padding: 0;
		}
	.content_wrap.credit_card.v4 .app-down .container .left-con .btn-wrap a.down-btn::before {
			width: 24px;
			height: 24px;
			background: url('../images/promotion/creditcard/ico-app.png') no-repeat center / contain;
	}
	.content_wrap.credit_card.v4 .section04 .container {
		min-width: auto;
	}
	.content_wrap.credit_card .section.app-down .container {
		min-width: auto;
	}
	.btn_top {
		right: 25px;
		margin-right: 0;
		width: 40px;
		height: 40px;
		background-size: 13px 15px;
		box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
	.content_wrap.credit_card.v4 .section.app-down .left-con .btn-wrap .down-btn.home::before {
			background: url(../images/promotion/creditcard//ico-home.png) no-repeat center / contain;
	}
	.content_wrap.credit_card.v4 .top-visual .container {
		min-width: auto;
	}
	.content_wrap.credit_card.v4 .section01 .right-wrap {
		margin-left: 0;
	}
	.content_wrap.credit_card.v4 .section03 .container .right-wrap {
		margin-left: 0;
	}
	.content_wrap.credit_card.v4 .section03 .container .left-wrap {
		margin-right: 0;
	}
	.content_wrap.credit_card.v4 .section03 .container .tit_wrap {
		text-align: center;
	}
	.content_wrap.credit_card.v4 .app-down .container .left-con {
		text-align: center;
	}
	.content_wrap.credit_card.v4 .notice .container .accordion-body table tbody td {
		text-align: left;
	}
	.content_wrap.credit_card.v4 .section02 {
		padding: 50px 0;
	}
	.content_wrap.credit_card.v4 .section02 .container {
		padding: 0 20px;
	}
	.content_wrap.credit_card.v4 .section02 .container.full {
		padding: 0;
	}
	.content_wrap.credit_card.v4 .section-wrap .mo-link-button.link_btn_area {
		position: fixed;
	}
	.content_wrap.credit_card .section-wrap .link_btn_area {
		bottom: 0px;
	}
	.content_wrap.credit_card.v4 .section-wrap .mo-link-button.link_btn_area.footer-fixed {
		bottom: 0;
	}
	.content_wrap.credit_card.v4 .section-wrap .mo-link-button.link_btn_area.fixed.footer-fixed {
		bottom: 180px;
	}
	.content_wrap.credit_card.v4.renewal .top-visual .container .benefit-list .item {
    width: 335px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container {
    padding: 50px 20px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .tit_wrap {
    margin-bottom: 30px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .tit_wrap .txt_tit {
    margin-bottom: 0;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .tit_wrap .txt_date {
    margin-top: 8px;
    font-size: 14px;
    line-height: 19.6px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap {
    width: 100%;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box {
    width: 100%;
    padding: 20px 0;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap {
    display: inline-block;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .txt_title {
    font-size: 22px;
    line-height: 30px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .svg_03 {
    width: 112px;
    right: -12px;
    top: -30px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .txt_wrap .svg_03 path {
    stroke-width: 5px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box {
    width: 249px;
    margin: 48px auto 83px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol {
    padding: 7px 12px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_01 {
    left: 0;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_02 {
    right: 0;
    top: 54px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_03 {
    left: -23px;
    top: 122px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .txt_absol.txt_04 {
    right: -10px;
    bottom: -24px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .phone_img {
    width: 249px;
    height: 225px;
    background: url(../images/creditcard/v4/section01-renewal-01-mo.png) 0 0/cover no-repeat;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .img_box .persent_img {
    width: 90px;
    height: 80px;
    left: -24px;
    bottom: -50px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box h4 {
    font-size: 18px;
    line-height: 24.3px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box {
    margin: 16px 0 26px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 {
    height: 100px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box {
    margin-bottom: 19px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(1) {
    height: 19px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(1) .list1 {
    width: 638px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(2) {
    height: 24px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(2) .list2 {
    width: 440px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(3) {
    height: 19px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .flow_box .rolling_list_wrap_3 .roller_list_box:nth-child(3) .list3 {
    width: 650px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area {
    width: calc(100% - 40px);
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area::before {
    right: -12px;
    top: -18px;
    width: 66px;
    height: 54px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area dl {
    display: block;
    text-align: left;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area dl dt {
    display: inline-block;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap .box .info_area dl dd {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .content_wrap.credit_card.v4.renewal .section01 .container .right-wrap > .txt-bottom {
    font-size: 12px;
    margin-top: 12px;
    text-align: left;
  }
}

@keyframes svg-ani03 {
  0% {
    opacity: 0;
    stroke-dashoffset: 530;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}