#wrap, .container, .container-fluid, #header, .brand-name, #content, .clearfix, .section-info .item { clear: both; } 
#wrap:after, .container:after, .container-fluid:after, #header:after, .brand-name:after, #content:after, .clearfix:after, .section-info .item:after { content: ''; display: block; clear: both; } 
.section:after, .section-title:after {
	content: '';
	display: block;
	clear: both;
}
.card { padding: 0; }
.content_wrap.credit_card .top-visual { padding: 0; }
.content_wrap.credit_card .section .container .txt_tit .underline { border-bottom: 0; }
.content_wrap.credit_card .section .container .card_area .card .coupon .coupon_list li .point { font-family: 'pretendard'; }
.content_wrap.credit_card .section .container .card_area .card .slide-wrap .slide div { display: flex; justify-content: center; align-items: center; }
.content_wrap.credit_card .section.section01 .container .card_area .card.card03 .win-wrap { height: auto; }
.content_wrap.credit_card .section { padding: 0; }
.content_wrap.credit_card .section .container .card_area .card img { width: auto; }
.content_wrap.credit_card .section.section02 .container .card_area .card .info_area > p, .content_wrap.credit_card .section.section03 .container .card_area .card .info_area > p { text-align: left; }
.content_wrap.credit_card .section .container .card_area .card .info_area > dl dd { text-align: left; }
.content_wrap.credit_card .section.section06 .container .card_area .card .talk_area .txt_up .txt { text-align: left; font-weight: 400; }
.section .accordion-header {
	background: #f9f9f9;
	border-radius: 10px 10px 0 0;
}
.section .accordion-body {
	background-color: #f9f9f9;
	border-radius: 0 0 10px 10px;
}
.txt_area, .img_area, .card_area {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.animation .txt_area, .animation .img_area, .animation .card_area {
	position: relative;
	opacity: 1;
	animation: opacity 0.5s ease-in-out backwards;
}
.section .accordion-header button { 
	position: relative;
	width: 100%;
	text-align: left;
}
.content_wrap.credit_card .top-visual .bg.active {
  height: 651px;
}
.content_wrap.credit_card .top-visual .bg .sub_info {
	margin-top: 70px;
}
.content_wrap.credit_card .section.notice .container .accordion-body .txt-info { text-align: left; }
.content_wrap.credit_card .section .container .card_area .card { border-radius: 10px !important;}
.content_wrap.credit_card .section.section05 .container .card_area .card { border-radius: 0 !important;}

.btn_top {
	display: none;
	position: fixed;
	z-index: 998;
	bottom: -150px;
	right: 50%;
	opacity: 0;
	margin-right: -640px;
	width: 80px;
	height: 80px;
	border: 1px solid #666666;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.26);
	text-indent: -9999px;
	background: #ffffff url('../images/promotion/creditcard/arrow.png') no-repeat center center;
	transition: all 0.2s ease-in-out;
}
.btn_top.on {
	display: block;
	opacity: 1;
	bottom: 100px;
}
.content_wrap.credit_card .section.top-visual .container {
	padding: 40px 25px;
}
.content_wrap.credit_card .section.top-visual .container .logo_wrap .logo {
	height: 18px;
	text-align: center;
}
.content_wrap.credit_card .section .container {
	padding: 50px 20px;
}
.content_wrap.credit_card .section.notice .accordion-body table tbody td {
	text-align: left;
}
.content_wrap.credit_card .top-visual .retto_icon {
	top: 552px;
}
.content_wrap.credit_card .section.section03 .container .card_area .card .info_area > p {
	color: #7D7D7D;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
	letter-spacing: -0.72px;
}
.content_wrap.credit_card .section.section03 .container .card_area .card .info_area > dl dd {
	color: #000;
}
#wrap.card-credit .content_wrap.credit_card .section.notice .container {
	padding: 50px 0;
}
@media only screen and (max-width: 767px) {
	.content_wrap.credit_card .section.top-visual {
		padding-top: 0;
		height: 916px;
	}
	.content_wrap.credit_card .top-visual .bg.active {
		height: 455px;
	}
	.content_wrap.credit_card .section.top-visual .retto_icon {
		top: 429px;
	}
	.content_wrap.credit_card .section.section03 .container .card_area .card .info_area > p {
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 16.5px */
		letter-spacing: -0.44px;
	}
	.btn_top {
		right: 25px;
    margin-right: 0;
    width: 40px;
    height: 40px;
    background-size: 13px 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
	}
}
@media only screen and (min-width: 767px) {
	.rettoCreditCard .content-promotion {
		min-width: 1240px;
	}
	.content_wrap.credit_card .section .container {
		min-width: 800px;
		max-width: 1440px;
	}
	.content_wrap.credit_card .section.section04 .container .card_area .card.card01 img {
		max-width: 432px;
	}
	.content_wrap.credit_card .section.app-down .container {
		min-width: 1240px;
	}
	.content_wrap.credit_card .section-wrap .link_btn_area.fixed {
		z-index: 11;
	}
	.content_wrap.credit_card .section.app-down .left-con {
		display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: center;
	}
	.content_wrap.credit_card .section.app-down .left-con .btn-wrap {
		display: none;
	}
	.content_wrap.credit_card .section.section01 .container {
		min-width: 1240px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1240px) {	
	.content_wrap.credit_card .section .container .card_area .card .coupon .coupon_list li {
		font-size: 16px;
	}
	.content_wrap.credit_card .section .container .card_area .card .coupon .coupon_list li > div {
		padding: 5px 12px 5px 41px;
    margin: 4px 0;
	}
	.content_wrap.credit_card .section .container .card_area .card .coupon .coupon_list {
		left: 40px;
	}
	.content_wrap.credit_card .section .container .card_area .card {
		min-width: 400px;
		height: 325px;
	}
	.content_wrap.credit_card .top-visual .retto_icon {
		right: 0;
		bottom: 40px;
		margin-right: 0;
	}
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}