@charset "UTF-8";

.input-mark .mark i.on, .switch .switch-inner:before, .icon-star.on, .btn-star.on > .icon-star, .btn-primary, .loading-bar { background-color: #ff7e00; }
.icon-check.primary:before, .btn-primary, .btn-primary-outline, .home-sec.current .per { border-color: #ff7e00; }
.used-sec .price .add, .check-primary { color: #ff7e00 }
.text-primary { color: #ff7e00 !important; }
