.custom-pass.skt .modal:not(.modal-slide) .modal-footer .btn-confirm { position: static; top: 0; left: 0; }
.custom-pass.skt .modal:not(.modal-slide) .modal-footer .btn-cancel { margin-top: 0; margin-bottom: 0; background-color: #fff; color: inherit; }
.custom-pass.skt #commonPrompt {font-family: "Noto Sans KR";}
.custom-pass.skt .modal-body h3 {color: #222; line-height: 26px;}
.custom-pass.skt #commonPrompt .modal-body h3 {margin: 0 0 14px; font-size: 18px;}
.custom-pass.skt #commonPrompt .modal-body #promptWarning {margin: -6px 0 14px; color: #FC3F3F;}
.custom-pass.skt #commonPrompt .modal-body #promptContents {color: #7A7A7A;}
.custom-pass.skt #commonPrompt .modal-body #promptContents.noTitle {color: #222222;}
.custom-pass.skt .modal:not(.modal-slide) .modal-footer {display: flex;}
.custom-pass.skt .modal:not(.modal-slide) .modal-footer .btn {width: 100%; border: 1px solid #222222; border-radius: 8px; line-height: 40px; }
.custom-pass.skt .modal:not(.modal-slide) .modal-footer .btn-cancel {margin-right: 10px;}