/* 조회결과 */
.gigworker.target #content { padding-bottom: 100px !important; } 
.gigworker.target #content .container .titleWrap.small .subText { font-weight: 400; }
.gigworker.target #content .noteWrap { flex: 1; margin: 0; padding: 34px 24px; background-color: #f9f9f9; }
.gigworker.target .taxWrap { border-bottom: 10px solid #f9f9f9; padding-bottom: 32px; }
.gigworker.target .taxWrap:last-child { border-bottom: 0; }
.gigworker.target .visualImg { display: block; width: 138px; height: 137px; margin: 0 0 34px 57.33%; background: url("../images/gigworker/check-result-01.png") 0 / cover no-repeat; } 
.gigworker.target .tabWrap.fixed { position: relative; top: 44px; }
.gigworker.target .tabWrap .tab { font-size: 0; background-color: #f9f9f9; }
.gigworker.target .tabWrap .tab li { position: relative; float: left; font-size: 16px; font-weight: 700; color: #ccc; width: 50%; line-height: 56px; text-align: center; }
.gigworker.target .tabWrap .tab li.on { color: #151515; }
.gigworker.target .tabWrap .tab li.on::after { content: ''; position: absolute; bottom: 2px; display: block; width: 100%; height: 4px; background-color: #151515; }
.gigworker.target .tabWrap .tab::after, .gigworker.target .tabWrap .tab li::after { content: ''; display: block; clear: both; }
.gigworker.target .tabContent { margin-top: 40px; }
.gigworker.target .tabContent .content { display: none; }
.gigworker.target .tabContent .content.on { display: block; }
.gigworker.target .titleWrap { margin-top: 40px; font-size: 18px; font-weight: 700; color: #151515; }
.gigworker.target .titleWrap .sub { font-size: 12px; font-weight: 400; color: #575757; }
.gigworker.target .titleWrap .result { font-size: 22px; font-weight: 700; color: #151515; }
.gigworker.target #content .container .graphWrapVertical .barBg { display: flex; justify-content: space-between; position: relative; padding-top: 36px; border-bottom: 2px solid #eee; }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap { position: relative; width: 100%; height: 150px; display: flex; justify-content: space-between; align-items: end; padding-left: 96px; padding-right: 17px; }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap > .bar { width: 26px; height: 0px; border-radius: 17px 17px 0 0; background-color: #f6f6f6; transition: height 1s 0.5s ease-out; }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap > .bar.blue { background: linear-gradient(360deg, rgba(167,200,252,1) 0%, rgba(53,128,248,1) 100%); }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap > .bar .data { position: relative; top: -15px; left: -3px; display: inline-block; width: 30px; font-size: 12px; font-weight: 700; color: #151515; text-align: center; }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap > .line { position: absolute; left: 0; width: 0; height: 2px; background: url(../images/gigworker/horizon-dot.png) center / cover no-repeat; transition: all .6s; }
.gigworker.target #content .container .graphWrapVertical .barBg .barWrap > .line .hasBg { position: relative; top: -7px; display: block; width: 59.5px; height: 15px; padding-top: 1px; padding-left: 4px; color: #fff; font-size: 10px; background: url(../images/gigworker/check-textbox.png) center / cover no-repeat; }
.gigworker.target #content .container .graphWrapVertical .textWrap { display: flex; justify-content: space-between; width: 100%; margin-top: 6px; padding: 0 17px 0 96px; font-size: 12px; }

.gigworker.target .resultContent .content .box { margin: 8px 0; background-color: #f9f9f9; border-radius: 16px; padding: 20px; }
.gigworker.target .resultContent .content .box .year { float: left; line-height: 22px; font-size: 14px; font-weight: 700; color: #151515; }
.gigworker.target .resultContent .content .box .slide-area { padding-left: 72px; }
.gigworker.target .resultContent .content .box .slide-area .item { display: flex; justify-content: space-between; font-size: 12px; line-height: 22px; }
.gigworker.target .resultContent .content .box .slide-area .slick-dots { position: relative; top: 0; right: 0; margin-top: 16px; }
.gigworker.target .resultContent .content .box .slide-area .slick-dots li button:before { width: 6px; height: 6px; background-color: #ccc; }
.gigworker.target .resultContent .content .box .slide-area .slick-dots li.slick-active button:before { width: 18px; background-color: #575757; }
.gigworker.target .resultContent .content .box .slide-area .slick-dots li { margin-left: 6px; }

.gigworker.target .bot-btn { position: relative; z-index: 2; }
.gigworker.target #content .container .botBtnWrap::after { content: ''; position: fixed; z-index: 1; left: 50%; bottom: -20px; transform: translateX(-50%); max-width: 700px; width: 100%; height: 95px; padding: 0 20px; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%); }
/* 
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar { position: static; width: 26px; border-radius: 17px 17px 0 0; background-color: #f6f6f6; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar.blue { background-color: #3580f8; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar:nth-child(1) { left: 0; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar:nth-child(2) { left: 20%; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar:nth-child(3) { left: 40%; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar:nth-child(4) { left: 60%; }
.gigworker.checkTarget #content .container .graphWrap .barBg .barWrap > .bar:nth-child(5) { left: 80%; }
.gigworker.checkTarget #content .container .graphWrap .barBg::before, .gigworker #content .container .graphWrap .barBg::after { width: 0; }
.gigworker.checkTarget #content .container .graphWrap .textWrap { padding-left: 96px; padding-right: 17px; } */


.gigworker.checkTax #content { padding-bottom: 0 !important; }
.gigworker.checkTax .visualImg { display: block; width: 170px; height: 207px; margin: 70px auto 67px; background: url("../images/gigworker/check-result-02.png") 0 / cover no-repeat; } 
.gigworker.checkTax #content .noteWrap { flex: 1; margin: 0; padding: 34px 24px; background-color: #f9f9f9; }

.gigworker.checkNot #content { padding-bottom: 0 !important; } 
.gigworker.checkNot .visualImg { display: block; width: 227px; height: 174px; margin: 70px auto 67px; background: url("../images/gigworker/check-result-03.png") 0 / cover no-repeat; } 
.gigworker.checkNot #content .noteWrap { flex: 1; margin: 0; padding: 34px 24px; background-color: #f9f9f9; }