/* 나이스 신용진단 */
.creditCheck .content-promotion .highlight {position: relative;}
.creditCheck .content-promotion .highlight::before {content: ""; display: block; position: absolute; left: 0; top: auto; bottom: -1px; transform: none; width: 100%; height: 18px; background: #b6ed2f;}
.creditCheck .content-promotion .section {display: flex; flex-direction: column; align-items: center;}
.creditCheck .content-promotion .section img {display: block; max-width: 750px;}
.creditCheck .content-promotion .section1 {padding: 62px 0 45px; background-color: #404040;}
.creditCheck .content-promotion .section1 .text-img {width: 293px; margin-bottom: 28px;}
.creditCheck .content-promotion .section1 .rating-img {width: 375px;}
.creditCheck .content-promotion .section1 .money {position: absolute;}
.creditCheck .content-promotion .section1 .money-wrap {position: absolute; left:50%; top:0; transform: translateX(-50%); width: 375px; height: 100%;}
.creditCheck .content-promotion .section1 .money-wrap .money.money-1 {left: -35px; top:292px; width: 81px;}
.creditCheck .content-promotion .section1 .money-wrap .money.money-2 {right: -35px; top:130px; width: 85px;}
.creditCheck .content-promotion .section1 .money-wrap .money.money-3 {right: 4%; top:415px; width: 47px;}
.creditCheck .content-promotion .section1 .sub-text {width: 90%; padding-top: 30px; border-top: 1px solid #8c8c8c; color: #fff; font-size: 15px; line-height: 23px;}
.creditCheck .content-promotion .section1 .sub-text em {color: #c6ff24; font-weight: 700;}

.creditCheck .content-promotion .section2 {padding: 58px 0 75px;}
.creditCheck .content-promotion .section2 .text-img {width: 273px;}
.creditCheck .content-promotion .section2 .main-img {width: 375px;}
.creditCheck .content-promotion .section2 .sub-text {color: #151515; font-size: 22px;}
.creditCheck .content-promotion .section2 .sub-text em {font-weight: 700;}

.creditCheck .content-promotion .section3 {padding: 50px 0; background-color: #f1f1f1;}
.creditCheck .content-promotion .section3 .text-img {width: 140px; margin-bottom: 20px;}
.creditCheck .content-promotion .section3 ul li {display: flex; align-items: center; height: 53px; margin-bottom: 10px; padding: 0 40px 0 30px; color: #151515; font-size: 13px; background-color: #fff; border-radius: 10px;}
.creditCheck .content-promotion .section3 ul li::before {content: ""; display: block; width: 43px; height: 35px; margin-right: 12px; background-position: center center; background-repeat: no-repeat;}
.creditCheck .content-promotion .section3 ul li:nth-child(1)::before {background-image: url('../images/promotion/creditCheck/icon-1.png'); background-size: 33px auto;}
.creditCheck .content-promotion .section3 ul li:nth-child(2)::before {background-image: url('../images/promotion/creditCheck/icon-2.png'); background-size: 35px auto;}
.creditCheck .content-promotion .section3 ul li:nth-child(3)::before {background-image: url('../images/promotion/creditCheck/icon-3.png'); background-size: 40px auto;}
.creditCheck .content-promotion .section3 ul li:nth-child(4)::before {background-image: url('../images/promotion/creditCheck/icon-4.png'); background-size: 43px auto;}

.creditCheck .content-promotion .section.section3 .ani-slide-1 {animation-delay: 0.2s;}
.creditCheck .content-promotion .section.section3 .ani-slide-2 {animation-delay: 0.6s;}
.creditCheck .content-promotion .section.section3 .ani-slide-3 {animation-delay: 0.8s;}
.creditCheck .content-promotion .section.section3 .ani-slide-4 {animation-delay: 1s;}
.creditCheck .content-promotion .section.section3 .ani-slide-5 {animation-delay: 1.2s;}

.creditCheck .content-promotion .section4 {padding: 50px 0 65px; background-color: #fff;}
.creditCheck .content-promotion .section4 .money-box {position: relative; width: 147px; height: 72px; margin-bottom: 10px; background: url('../images/promotion/creditCheck/section-4-01.png') center center / contain no-repeat;}
.creditCheck .content-promotion .section4 .money-box::before {content: ""; display: block; position: absolute; left: 85px; top: 4px; width: 20px; height: 15px; background: url('../images/promotion/creditCheck/section-4-02.png') center center / contain no-repeat;}
.creditCheck .content-promotion .section4 .highlight {margin-bottom: 25px;}
.creditCheck .content-promotion .section4 .highlight::before {bottom: -4px; height: 13px;}
.creditCheck .content-promotion .section4 .text-img {width: 198px;}
.creditCheck .content-promotion .section4 .sub-text {color: #151515; font-size: 13px; line-height: 19px;}
.creditCheck .content-promotion .section4 .sub-text em {color: #008257; font-weight: 700;}

.creditCheck .content-promotion .section-notice {padding: 26px 0 106px;}
.creditCheck .content-promotion .section-notice .note h3 {color: #fff;}
.creditCheck .content-promotion .section-notice {background-color: #282828; color: #fff;}
.creditCheck .fixed-btn {display: flex; position: fixed; left: 0; bottom: 0; width: 100%; height: 65px; transition: margin .3s; z-index: 10;}
.creditCheck .fixed-btn .btn {border-radius: 0; border-color: #deff00; color: #151515; font-size: 22px; font-weight: 700; letter-spacing: -0.05em; background-color: #deff00;}

.creditCheck .content-promotion .section .ani-slide-1 {animation-delay: 0.2s;}
.creditCheck .content-promotion .section .ani-slide-2 {animation-delay: 0.6s;}
.creditCheck .content-promotion .section .ani-slide-3 {animation-delay: 1s;}
.creditCheck .content-promotion .section .ani-slide-4 {animation-delay: 1.4s;}
.creditCheck .content-promotion .section2.active .highlight::before{animation: highlight .5s 1.2s both ease-out;}
.creditCheck .content-promotion .section4.active .highlight::before{animation: highlight .5s 1.2s both ease-out;}
.modal-app.creditCheck-modal .modal-headline h3{text-align: left;}