@charset "utf-8";

@media (min-width:1072px) {
	.layout-payment.admin  { width: 1072px; }
}

@media (min-width:1475px) {
	.layout-payment.admin  { width: 1345px; max-width: 1345px; }
}

@media screen and (orientation: portrait) and (max-width: 359px) { /* 세로 모드 && 가로 360미만  */
	.layout-payment { height: 90%; }
}

@media screen and (orientation: portrait) and (min-width: 600px) { /* 세로 모드 && 가로 600이상  */
	.layout-payment { width: 600px; height: 600px; }
}

@media screen and (orientation: landscape) { /* 가로 모드  */
	.layout-payment { width: 60%; height: 100%; }
}

@media screen and (orientation: landscape) and (max-width: 600px) { /* 가로 모드 && 가로 600이하  */
	.layout-payment { width: 100%; height: 100%; }
}

@media screen and (orientation: landscape) and (min-width: 1000px) { /* 가로 모드 && 가로 1000이상  */
	.layout-payment { width: 600px; height: 600px; }
}