/* ----- popup ----- */
.popup { position: relative; width: 100%; height: 100%; }
.popup.fullSize { position: fixed; top: 0; left: 0; z-index: 999; background-color: #fff;}
.popup .header { position: absolute; top: 15px; left: 15px; right: 15px; padding-bottom: 15px; border-bottom: 2px solid #222; }
.popup .header .title { font-size: 20px; line-height: 30px; letter-spacing: -0.05em; }
.popup .header .btn-close { position: absolute; top: 0; right: 0; width: 30px; height: 30px; }
.popup .content { position: absolute; top: 75px; left: 15px; right: 15px; bottom: 15px; }
.popup .terms { width: 100%; height: 100%; overflow: hidden; overflow-y: auto; }
@media only screen and (min-device-width: 992px) {
	.popup .header { top: 30px; left: 30px; right: 30px; padding-bottom: 30px; }
	.popup .header .title { font-size: 28px; }
	.popup .content { top: 120px; left: 30px; right: 30px; bottom: 30px; }
}

/* ----- terms ----- */
.terms { font-size: 14px; line-height: 1.4; color: #666; word-break: normal; }
.terms h3 { font-size: 18px; color: #ff7e00; }
.terms h4 { font-size: 16px; color: #222; }
.terms h5 { font-size: 14px; color: #222; }
.terms h3,
.terms h4,
.terms h5,
.terms p,
.terms li,
.terms .table { margin: .25em 0; }
.terms .indent { padding-left: 1.333em; }
.terms.scroll { padding-left: 3px; padding-right: 3px; }

/* 약관 동의 */
.agree-area .terms-content { padding: 9px 10px; max-height: 150px; overflow-y: auto; border: 1px solid #ccc; border-radius: 3px; color: #666; }
.agree-area .terms-content * + p,
.agree-area .terms-content * + ul,
.agree-area .terms-content * + ol { margin-top: .769em; }