.balrotto-guide .header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 64px;
}

.balrotto-guide .header .header-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
}

.balrotto-guide .header .right-btn {
  position: absolute;
  top: auto;
  right: 24px;
}

.balrotto-guide .header .close-btn {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/torotto/close-btn.svg) 0 0 / cover no-repeat;
  font-size: 0;
  text-indent: -9999px;
}

.balrotto-guide .section {
  padding: 40px 0;
  text-align: center;
}

.balrotto-guide .section.section-1 {
  background-color: #EDF0FF;
}

.balrotto-guide .section.section-1 .title-text {
  font-size: 32px;
  line-height: 40px;
}

.balrotto-guide .section.section-1 .title-text span {
  font-size: 24px;
  line-height: 30px;
}

.balrotto-guide .section.section-1 .title-text em {
  color: #FF4600;
}