/* form */

label, input, textarea, button { font-size: inherit; }


/** placeholder **/
input::placeholder { color: $dark; font-weight: 400; height: 30px; line-height: 30px; }
textarea::placeholder { color: $dark; font-weight: 400; line-height: 21px; }
/* webkit */
input::-webkit-input-placeholder { color: $dark; font-weight: 400; }
textarea::-webkit-input-placeholder { color: $dark; font-weight: 400; }
/* firefox 4-18 */
input:-moz-placeholder { color: #b3b3b3; font-weight: 400; }
textarea:-moz-placeholder { color: #b3b3b3; font-weight: 400; }
/* firefox 19+ */
input::-moz-placeholder { color: #b3b3b3; font-weight: 400; }
textarea::-moz-placeholder { color: #b3b3b3; font-weight: 400; }
/* ie10+ */
input:-ms-input-placeholder { color: $dark !important; font-weight: 400 !important; }
textarea:-ms-input-placeholder { color: $dark !important; font-weight: 400 !important; }
.placeholder { color: $dark !important; font-weight: 400; }

input:focus, textarea:focus, button:focus { outline: none; }


/* checkbox */
.form-check {
	position: relative;
	display: block;
	margin-bottom: 6px;
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 0;
		height: 22px; // jquery-validation을 위해 높이 필수
		font-size: 0;
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	label {
		position: relative;
		display: block;
		padding: 3px 0 3px 38px;
		line-height: 22px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
			height: 28px;
			background: url('../images/icon/checkbox.svg') no-repeat 0 0/contain;
			@include transition(background-image, .2s);
		}
	}
	input:checked + label:after {
		background-image: url('../images/icon/checkbox-active.svg');
	}
}

/* form area(dark theme) */
.form-area {
	font-size: 1.1538rem;
	color: $white;
	.btn-area { margin-top: 40px; }
}

/* form group */
.form-group {
	margin-bottom: 20px;
	.control-label {
		display: block;
		margin-bottom: 5px;
		color: $light;
		.required {
			color: $secondary;
		}
	}
	.form-control {
		display: block;
		margin-bottom: 6px;
		width: 100%;
		min-height: 50px;
		padding: 14px 19px;
		border: 1px solid $darker;
		@include border-radius(10px);
		background-color: $darker;
		line-height: 20px;
		color: $white;
	}
	input {
		@include transition(border-color, .2s);
		&:focus { border-color: $gray; }
	}
	.terms {
		padding: 16px 0;
		font-size: 12px;
		line-height: 1.4;
		color: $light;
		word-break: normal;
		.scroll {
			padding: 0 19px;
			// height: 5.5em; overflow-y: auto; // 약관 내용 축소로 스크롤 제거
		}
	}
	label.error {
		position: relative;
		display: none;
		clear: both;
		padding-left: 10px;
		font-size: 12px;
		color: $primary;
		&:before {
			content: '!';
			display: inline-block;
			margin-right: 7px;
			font-family: $font-secondary;
			font-weight: 700;
		}
	}
}

/* ----- 태블릿 ~ PC ----- */
@media only screen and (min-width: 1024px) {
	.form-check label { padding-left: 40px; }
	.form-area {
		font-size: 1.125rem;
		.btn-area { padding-left: 120px; }
	}
	.form-group {
		position: relative;
		padding-left: 120px;
		margin-bottom: 12px;
		.control-label {
			position: absolute;
			top: 20px;
			left: 0;
			width: 100px;
			line-height: 20px;
			text-align: right;
		}
		.form-control {
			position: relative;
			min-height: 60px;
			line-height: 30px;
		}
		.terms {
			font-size: .9375rem;
			line-height: 1.4;
		}
		label.error {
			font-size: 14px;
		}
	}
}
