/* 250814 */
.partners .slide { height: auto; position: relative; } 
.partners .slide > div { height: 100%; } 
.partners .btn-down { display: block; } 
.header .menu .partners { justify-content: center; gap: 5px; min-width: auto; padding: 0 10px; min-width: 100px; }
.header .menu .partners:hover { background: #E6FF82; color: #111; border: 1px solid #E6FF82; }

.header .logo { width: 91px; height: 15px; } 
.header .partners-logo { display: block; background: url(../../images/common/partners-color.svg) no-repeat center / contain; width: 55px; height: 9px; margin-left: 10px; position: relative; top: -4px; } 
.header .menu-wrap { text-align: center; font-family: Pretendard; font-size: 15px; font-weight: 700; line-height: 150%; /* 22.5px */
 letter-spacing: -1px; color: #FDFFFC; display: flex; align-items: center; justify-content: space-between; gap: 0 30px; margin-left: 80px; margin-right: auto; } 
.header .menu-wrap a { position: relative; display: flex; justify-content: center; align-items: center; color: #fff; text-decoration: none; height: 42px; line-height: 21px; } 

.slide .title-wrap { align-items: center; } 

.partners .slide .btn-wrap .btn-down { background: #8BC104; font-family: Pretendard; font-weight: 600; font-size: 16px; line-height: 150%; letter-spacing: 0px; } 
.partners .slide .btn-wrap .btn-down::before { display: none; } 
.partners .slide .btn-wrap .btn-down::after { content: ''; display: block; margin-left: 5px; background: url(../../images/partners/ico-arrow-right.png) no-repeat center / contain; width: 8px; height:13px; } 

.slide > div { position: relative; width: 100%; height: calc(var(--vh, 1vh) * 100); display: flex
; align-items: center; justify-content: center; } 
.slide .content-wrap { display: flex; width: 1000px; justify-content: center; position: relative; z-index: 10; } 
.slide .title-wrap { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0; } 
.slide .title-wrap .title-box { display: flex; align-items: center; } 
.slide .main-title { font-family: Paperlogy; font-weight: 700; font-size: 54px; line-height: 120%; letter-spacing: 0px; text-transform: capitalize; color: #fff; margin-top: 0; margin-bottom: 0; opacity: 1; } 
.slide .btn-wrap { display: flex
; gap: 0 10px; margin-top: 50px; opacity: 1; } 
.slide .btn-wrap .btn-down { position: relative; display: flex
; align-items: center; justify-content: center; border-radius: 100px; background: rgba(255, 255, 255, 0.2); color: #fff; text-decoration: none; height: 50px; padding: 0 18px; } 

/* 각 섹션마다 배경색 다르게 */
.partners .slide-1 { background: url(../../images/partners/pc-main.png) no-repeat center /cover; height: 720px; } 
.partners .slide-2 { background: #fff; } 
.partners .slide-3 { background: #F6F6F9; } 
.partners .slide-8 { background: #000; } 

.partners .slide-2 .content-wrap { flex-direction: column; margin-top: 100px; } 
.partners .slide-2 .content-wrap .box-wrap { display: flex; align-items: center; justify-content: space-between; margin-bottom: 146px; } 
.partners .slide-2 .content-wrap .box-wrap:last-of-type { margin-bottom: 225px; } 
.partners .slide-2 .content-wrap .box-wrap .main-title { font-family: Paperlogy; font-weight: 600; font-size: 40px; line-height: 130%; letter-spacing: 0px; text-transform: capitalize; color: #1a1a1a; text-align: left; } 
.partners .slide-2 .content-wrap .box-wrap .sub-title { font-family: Pretendard; font-weight: 400; font-size: 16px; line-height: 160%; letter-spacing: -2%; color: #1a1a1a; text-align: left; } 
.partners .slide-2 .content-wrap .box-wrap .box-1-2 { width: 419px; height: 400px; background: url(../../images/partners/pc-box-1.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap .box-2-2 { width: 430px; height: 400px; background: url(../../images/partners/pc-box-2.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap .box-3-2 { width: 430px; height: 400px; background: url(../../images/partners/pc-box-3.png) no-repeat center / contain; } 
.partners .slide-2 .title-wrap { margin-bottom: 132px; } 
.partners .slide-2 .main-title { font-family: Paperlogy; font-weight: 600; font-size: 24px; line-height: 140%; letter-spacing: 0px; text-align: center; text-transform: capitalize; color: #8BC104; } 
.partners .slide-2 .sub-title { font-family: Paperlogy; font-weight: 600; font-size: 35px; line-height: 150%; letter-spacing: -1.5px; text-align: center; text-transform: capitalize; color: #1a1a1a; margin-top: 20px; } 

.partners .slide-3 .content-wrap { flex-direction: column; overflow: hidden; } 
.partners .slide-3 .content-wrap .box-wrap .box-3-1 { width: 542px; height: 264px; background: url(../../images/partners/pc-box-4.png) no-repeat center / contain; margin: 30px auto 120px; } 

.partners .slide-3 .title-wrap { margin-top: 80px; } 
.partners .slide-3 .content-wrap .main-title { font-family: Pretendard; font-weight: 700; font-size: 30px; line-height: 135%; letter-spacing: 0px; text-align: center; color: #151515; } 
.partners .slide-3 .content-wrap .contact-btn { width: auto; max-width: inherit; margin-top: 30px; font-family: Pretendard; font-weight: 600; font-size: 16px; letter-spacing: 0px; } 

.partners.ad .slide .btn-wrap .btn-down { background: #2258AE; } 
.partners.ad .slide-1 { background: url(../../images/partners/pc-ad-main.png) no-repeat center /cover; height: 720px; } 
.partners.ad .slide-2 { background: #F0F3F8; } 
.partners.ad .slide-2 .content-wrap .box-wrap:last-of-type { flex-direction: column-reverse; } 
.partners.ad .slide-2 .main-title {font-family: Paperlogy;font-weight: 600;font-size: 20px;line-height: 140%;letter-spacing: 0px;text-align: center;text-transform: capitalize;color: #2579FF; } 
.partners.ad .slide-2 .title-wrap { margin-bottom: 102px; } 
.partners.ad .slide-2 .content-wrap .box-wrap-col { display: flex; justify-content: space-around; margin-bottom: 189px; } 
.partners.ad .slide-2 .content-wrap .box-wrap-col .box-wrap { flex-direction: column-reverse; margin-bottom: 0; } 
.partners .slide-2 .content-wrap .box-wrap .box-1-2 { width: 292px; height: 557px; background: url(../../images/partners/pc-ad-box-1-1.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 419px; height: 400px; background: url(../../images/partners/pc-box-1.png) no-repeat center / contain; } 
.partners.ad .slide-2 .content-wrap .box-wrap .main-title { text-align: center; margin-top: 60px; font-family: Paperlogy; font-weight: 600; font-size: 40px; line-height: 140%; letter-spacing: 0px; text-align: center; text-transform: capitalize; } 
.partners.ad .slide-2 .content-wrap .box-wrap .sub-title { text-align: center; margin-top: 15px; font-family: Pretendard; font-weight: 400; font-size: 18px; line-height: 140%; letter-spacing: -3%; text-align: center; } 
.partners.ad .slide-2 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 292px; height: 557px; background: url(../../images/partners/pc-ad-box-1-2.png) no-repeat center / contain; } 
.partners.ad .slide-4 { background: #fff; } 
.partners.ad .slide-4 .content-wrap .box-wrap .main-title { text-align: left; margin-top: 0; font-family: Paperlogy; font-weight: 700; font-size: 50px; line-height: 120%; letter-spacing: 0px; text-transform: capitalize; color: #2579FF; } 
.partners.ad .slide-4 .content-wrap .box-wrap .sub-title { text-align: left; margin-top: 40px; } 
.partners.ad .slide-4 .content-wrap .box-wrap:last-of-type { flex-direction: row; margin-bottom: 120px; } 
.partners.ad .slide-4 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 460px; height: 563px; background: url(../../images/partners/pc-ad-box-2.png) no-repeat center / contain; } 
.partners.ad .slide-4 .content-wrap .box-wrap .box-2-2 { width: 453px; height: 563px; background: url(../../images/partners/pc-ad-box-3.png) no-repeat center / contain; } 
.partners.ad .slide-4 .content-wrap .box-wrap .box-3-2 { width: 424px; height: 563px; background: url(../../images/partners/pc-ad-box-4.png) no-repeat center / contain; } 
.partners.ad .slide-4 .main-title { display: none; }
.partners.ad .slide-4 .box-wrap .main-title { display: block; }

.partners.intro .slide-1 { background: url(../../images/partners/pc-intro-main.png) no-repeat center / cover; height: 100dvh; } 
.partners.intro .slide .main-title { font-family: Paperlogy; font-weight: 700; font-size: 50px; line-height: 140%; letter-spacing: 0px; text-align: center; } 
.partners.intro .slide .sub-title { font-family: Pretendard; font-weight: 700; font-size: 22px; line-height: 150%; letter-spacing: -1px; text-align: center; margin-top: 30px; } 
.partners.intro .slide > div { flex-direction: column; } 
.partners.intro .slide .content-wrap { margin-top: auto; } 
.partners.intro .slide .main-title .color { color: #E0FF63; } 
.partners.intro .bottom-fixed { position: relative; width: 100%; bottom: 0; left: 0; display: flex; align-items: center; margin-top: auto; justify-content: space-between; } 
.partners.intro .bottom-fixed a { position: relative; width: 50%; font-family: Pretendard; font-weight: 600; font-size: 22px; line-height: 140%; letter-spacing: -1px; color: #fff; text-decoration: none; padding: 20px; text-align: left; height: 155px; box-sizing: border-box; } 
.partners.intro .bottom-fixed a.left { background: #634E5C; } 
.partners.intro .bottom-fixed a.right { background: #2579FF; } 
.partners.intro .bottom-fixed a .icon-right { position: absolute; background: #fff; border-radius: 100%; width: 34px; height: 34px; display: flex; align-items: center; justify-content: center; top: 20px; right: 20px; } 

@media (max-width: 768px){
.header-wrap { background: transparent; } 
.header .menu-wrap { display: none; } 
.header .menu { display: none; } 
.menu-btn { display: flex; } 
.header .partners-logo { top: -4px; margin-left: 8px; } 
.partners .slide .btn-wrap .btn-down { margin: 0; } 
.fade-01, .fade-02, .fade-03, .fade-04 { transform: none; } 
.header .logo { width: 99px; height: 17px; } 

.partners .slide-1 { height: 880px; } 
.slide .main-title { font-size: 32px; line-height: 130%; } 
.slide .btn-wrap { flex-direction: column; gap: 10px 0; margin-top: 40px; } 

.partners .slide-2 .content-wrap { margin-top: 120px; } 
.slide .content-wrap { width: auto; } 

.partners .slide-2 .main-title { font-size: 28px; line-height: 120%; letter-spacing: -1px; transition: none; transform: none; } 
.partners .slide-2 .sub-title { font-weight: 600; font-size: 20px; line-height: 150%; letter-spacing: -1%; transition: none; transform: none; } 
.partners .slide-2 .title-wrap { margin-bottom: 60px; } 

.partners .slide-2 .content-wrap .box-wrap { flex-direction: column-reverse; margin-bottom: 120px; } 
.partners .slide-2 .content-wrap .box-wrap:last-of-type { margin-bottom: 120px; } 
.partners .slide-2 .content-wrap .box-wrap.reverse { flex-direction: column; } 

.partners .slide-2 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 345px; height: 270px; background: url(../../images/partners/mo-box-1.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap .box-1-2 { width: 345px; height: 270px; background: url(../../images/partners/mo-box-1.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap .box-2-2 { width: 345px; height: 270px; background: url(../../images/partners/mo-box-2.png) no-repeat center / contain; } 
.partners .slide-2 .content-wrap .box-wrap .box-3-2 { width: 345px; height: 270px; background: url(../../images/partners/mo-box-3.png) no-repeat center / contain; } 

.partners .slide-2 .content-wrap .box-wrap .main-title { font-weight: 600; font-size: 32px; line-height: 130%; letter-spacing: 0px; margin-top: 30px; text-align: center; } 
.partners .slide-2 .content-wrap .box-wrap .sub-title { font-weight: 400; font-size: 16px; line-height: 160%; letter-spacing: -2%; text-align: center; margin-top: 20px; } 
.slide-8 { height: auto; padding-top: 50px; padding-bottom: 60px; } 

.partners .slide-3 .title-wrap { margin-top: 64px; } 
.partners .slide-3 .content-wrap .main-title { font-weight: 700; font-size: 24px; line-height: 140%; letter-spacing: -3%; } 

.partners .slide-3 .content-wrap .box-wrap .box-3-1 { margin: 60px auto 72px; } 

.footer-left { flex-direction: column; align-items: start; } 
.footer-left .main-text { text-align: left; } 

.partners.ad .slide-2 .content-wrap .box-wrap-col { flex-direction: column; margin-bottom: 0; } 
.partners.ad .slide-2 .main-title {font-weight: 700;font-size: 28px;line-height: 120%;letter-spacing: -1px; } 
.partners.ad .slide-2 .sub-title { font-family: Paperlogy; font-weight: 600; font-size: 20px; line-height: 150%; letter-spacing: -1%; text-align: center; } 
.partners.ad .slide-2 .content-wrap .box-wrap .box-1-2 { width: 345px; height: 340px; background: url(../../images/partners/mo-ad-box-1-1.png) no-repeat center / contain; } 
.partners.ad .slide-2 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 345px; height: 340px; background: url(../../images/partners/mo-ad-box-1-2.png) no-repeat center / contain; } 
.partners.ad .slide-2 .title-wrap { margin-bottom: 60px; } 
.partners.ad .slide-2 .content-wrap .box-wrap .main-title { margin-top: 30px; font-family: Paperlogy; font-weight: 600; font-size: 32px; line-height: 130%; letter-spacing: 0px; text-align: center; text-transform: capitalize; } 
.partners.ad .slide-2 .content-wrap .box-wrap .sub-title { margin-top: 20px; font-family: Pretendard; font-weight: 400; font-size: 16px; line-height: 140%; letter-spacing: -2%; text-align: center; } 
.partners.ad .slide-2 .content-wrap .box-wrap-col .box-wrap { margin-bottom: 120px; } 
.partners.ad .slide-4 .content-wrap .box-wrap:nth-of-type(2) .box-1-2 { width: 280px; height: 372px; background: url(../../images/partners/mo-ad-box-2.png) no-repeat center / contain; } 
.partners.ad .slide-4 .main-title { font-family: Paperlogy; font-weight: 700; font-size: 20px; line-height: 120%; letter-spacing: -1px; text-transform: capitalize; display: block; }
.partners.ad .slide-4 .sub-title { margin-top: 12px; font-family: Paperlogy; font-weight: 600; font-size: 20px; line-height: 150%; letter-spacing: -1%; text-align: center; } 
.partners.ad .slide-4 .content-wrap .box-wrap { flex-direction: column; } 
.partners.ad .slide-2 .content-wrap .box-wrap.reverse { flex-direction: column-reverse; } 
.partners.ad .slide-4 .content-wrap .box-wrap:last-of-type { flex-direction: column; } 
.partners.ad .slide-4 .content-wrap .box-wrap .main-title { margin-top: 0; color: #1A1A1A; margin-bottom: 20px; } 
.partners.ad .slide-4 .content-wrap .box-wrap .sub-title { color: #1A1A1A; margin-bottom: 30px; } 
.partners.ad .slide-4 .content-wrap .box-wrap .box-2-2 { width: 296px; height: 372px; background: url(../../images/partners/mo-ad-box-3.png) no-repeat center / contain; } 
.partners.ad .slide-4 .content-wrap .box-wrap .box-3-2 { width: 279px; height: 372px; background: url(../../images/partners/mo-ad-box-4.png) no-repeat center / contain; } 

.partners.intro .slide-1 { background: url(../../images/partners/mo-intro-main.png) no-repeat center / cover; } 
.partners.intro .bottom-fixed { flex-direction: column; } 
.partners.intro .bottom-fixed a { width: 100%; height: 120px; font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 600; line-height: 140%; letter-spacing: -1px; } 
.partners.intro .slide .main-title { text-align: center; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30); font-family: Paperlogy; font-size: 28px; font-style: normal; font-weight: 700; line-height: 140%; text-transform: capitalize; } 
.partners.intro .slide .content-wrap { margin-top: auto; flex: 1; } 
.partners.intro .slide .title-wrap { margin-top: auto; margin-bottom: 52px; } 

}