.modalCommon .modalHeader { padding: 0 20px; height: 60px; }
.modalCommon .modalTitle { position: relative; font-size: 21px; padding-top: 22px; padding-bottom: 16px; line-height: 1; }
.modalCommon .modalTitle .modalClose { right: 0; }
.modalCommon .modalBody { padding: 0 20px 50px; }
.modalCommon .modalBody .modalItem { display: flex; flex-direction: column; align-items: center; margin-bottom: 17px; }
.modalCommon .modalBody .modalItem:last-child { margin-bottom: 5px; }
.modalList.empty { color: #a2a2a2; text-align: center; background-image: url('../../public/images/coupon/icon/common/empty.png'); background-size: 34px auto; background-position: center 0; background-repeat: no-repeat; padding: 60px 0 35px; margin-bottom: 0; }
.modalCommon .modalBody .barcodeWrap { width: 273px; height: 88px; border-radius: 10px; overflow: hidden; }
.modalCommon .modalBody .btnWrap { display: flex; align-items: center; margin-top: 15px; font-size: 14px; }

.name { font-weight: 700; }
.tel { font-size: 14px; margin-left: auto; }
.btn { width: auto; height: auto; padding: 6px 8px; color: #151515; font-size: 13px; font-weight: 500; border-radius: 5px; border: 1px solid #151515; background-color: #fff; margin-left: 10px; }
.modalHeader .modalClose { top: 20px; right: 20px; }
