@charset "UTF-8"; /**
* ============================================================
* BrandList : 브랜드 리스트
* ============================================================
*/
.header { position: relative !important; } 
div.BrandListWrap { background-color: #fff; } 
div.BrandListWrap:first-child { margin-top: 0; } 
.BrandListWrap .HotBrandTitle { font-size: 22px; font-weight: 700; } 
.BrandListWrap .HotBrandList { display: flex; justify-content: space-between; width: 100%; margin: 20px 0; } 
.BrandListWrap .HotBrandList li { position: relative; width: 17.91%; margin: 0; } 
.BrandListWrap .HotBrandList li button { width: 100%; } 
.BrandListWrap .HotBrandLink { display: block; width: 100%; padding: 16px 0; background-color: #fff; border: 1px solid #dfdfdf; border-radius: 5px; } 
.BrandListWrap .HotBrandLink span { font-weight: 700; } 
.BrandListWrap .HotBrandName { max-height: 28px; margin-top: 15px; font-size: 12px; color: #151515; overflow: hidden; line-height: 14px; } 

.BrandListWrap .HotBrandImg { position: relative; width: 100%; background-color: #fff; border-radius: 20px; } 
.BrandListWrap .HotBrandImg::after { display: block; content: ""; padding-bottom: 100%; } 
.BrandListWrap .HotBrandImg img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; } 

.BrandListBox { height: 130px; padding-top: 40px; } 
.BrandListBox .listTitle { font-size: 14px; font-weight: 700; color: #151515; text-align: center; } 
.BrandListBox .listIcon { display: block; margin: 0 auto 5px; width: auto; height: 37px; } 
.BrandListBox .listCount { color: #ff2b00; } 
.BrandListCafe { background-color: #e4ffec; } 
.BrandListCoupon { background-color: #ffe2bc; } 
.BrandListFood { background-color: #feffc7; } 
.BrandListGift { background-color: #dafff2; } 
.BrandListIcecream { background-color: #ffe7f2; } 
.BrandListMart { background-color: #dcfffa; } 
.BrandListMovie { background-color: #f6e7ff; } 

.BrandImg { display: block; width: 45px; height: 47px; margin: 0 auto; background-size: contain; } 
.BrandListTitle { font-size: 14px; font-weight: 700; color: #151515; text-align: center; } 
.BrandListCount { font-size: 14px; font-weight: 700; color: #ff2b00; text-align: center; } 

.BrandList .BrandListList { display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; margin: 0; } 
.BrandList .BrandListItem { position: relative; display: inline-block; width: auto; margin: 0; } 
.BrandList .BrandListItem button { width: 100%; } 
.BrandList .BrandListName { max-height: 28px; margin-top: 15px; font-size: 12px; color: #151515; overflow: hidden; line-height: 14px; } 

.BrandList { width: 100%; } 
.BrandList :global { width: 100%; height: 250px; margin-left: auto; margin-right: auto; } 
.BrandList :global .swiper { width: 100%; height: 100%; margin-left: auto; margin-right: auto; } 
.BrandList :global .swiper-slide { text-align: center; font-size: 18px; background: #fff; height: calc((100% - 30px) / 2) !important; display: flex; justify-content: center; align-items: center; } 
.BrandListWrap :global ul.slick-dots li button { background-color: #f1f1f1; } 
.BrandListWrap :global ul.slick-dots li.slick-active button { background-color: #a2a2a2; } 

.brandMain { display: flex; height: calc(100% - 58px); } 
.brandMain .brandTabWrap { overflow: auto; flex: 0 0 auto; display: flex; flex-direction: column; width: 109px; background-color: #f9f9f9; border-right: 1px solid #F1F1F1; } 
.brandMain .brandTabWrap li { height: 89px; border-bottom: 1px solid #F1F1F1; } 
.brandMain .brandTabWrap li.active { background-color: #fff; } 
.brandMain .brandTabWrap li button { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 89px; } 
.brandMain .brandTabWrap li button img { display: block; width: auto; height: 28px; margin-bottom: 7px; } 
.brandMain .brandTabWrap li button span { font-size: 13px; } 

.brandMain .brandListWrap { width: 100%; height: auto; overflow: auto; } 
.brandMain .brandListWrap li { display: flex; justify-content: center; float: left; width: 50%; height: 89px; } 
.brandMain .brandListWrap li a { padding: 0px 6px; } 
.brandMain .brandListWrap li a .imgWrap { overflow: hidden; position: relative; width: 50px; height: 50px; margin: 7px auto 0; } 
.brandMain .brandListWrap li a img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: block; width: 100%; height: auto; } 
.brandMain .brandListWrap li a span { display: block; margin-top: 2px; font-size: 13px; text-align: center; line-height: 15px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 

/* 브랜드 상세 */
.searchArea { float: left; font-size: 18px; line-height: 58px; position: relative; width: calc(100% - 52px); margin-left: 2px; } 
.searchArea input { height: 40px; line-height: 40px; margin-top: 10px; border-width: 1px; font-size: 15px; font-weight: 400; background-color: #f1f1f1; color: #a2a2a2; border-radius: 17px; } 
.searchArea input::placeholder { color: #a2a2a2; height: auto; font-weight: 400; } 
.searchBtn { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); } 
.giftBtn { float: right; margin-top: 16px; } 
.brandTitleArea { display: flex; align-items: center; justify-content: center; position: relative; width: 100%; height: 42px; color: #fff; text-align: center; border-bottom: 5px solid #f1f1f1; } 
.brandTitleArea .categoryListWrap { display: flex; flex-wrap: wrap; position: absolute; left: 0; top: 100%; z-index: 2; width: 100%; padding: 19px 9px 30px; border-radius: 0 0 20px 20px; background-color: #fff; box-shadow: 0px 20px 48px 0px #22222214; } 
.brandTitleArea .categoryListWrap li { width: 25%; margin-bottom: 17px; } 
.brandTitleArea .categoryListWrap li:nth-last-child(-n+4) { margin-bottom: 0; } 
.brandTitleArea .categoryListWrap li img { display: block; width: 68%; margin: auto; } 
.brandTitleArea .categoryListWrap li span { display: block; font-size: 13px; } 
.brandTitle { display: inline-flex; align-items: center; font-size: 18px; font-weight: 700; } 
.iconDown { display: block; width: 12px; height: 11px; margin-left: 8px; background: url("../../public/images/coupon/icon/common/icon-brand-down.svg") 0 0 / 100% auto no-repeat; } 
.iconDown.open { transform: rotate(180deg); } 
.brandListWrap { position: relative; } 
.brandListWrap .brandListBox { position: absolute; top: 0; left:0; z-index: 1; overflow: hidden; width: 100%; height: 100%; border-radius: 0 0 20px 20px; } 
.brandListWrap.open .brandListBox { height: auto; box-shadow: 0px 20px 48px 0px #22222214; } 
.brandListWrap.open ul { position: relative; height: auto !important; padding-bottom: 68px; z-index: 1; } 
.brandListWrap.open .openBtnWrap { bottom: 0; top: auto; } 
.brandListWrap.open .openBtnWrap::before { display: none; } 
.brandListWrap.open .openBtnWrap .openBtn { bottom: 20px; top: auto; transform: rotate(180deg); } 
.brandListWrap .areaBox { width: 100%; padding: 20px 15px; } 
.brandListWrap .areaBox div { width: 20%; } 
.brandListWrap .areaBox div::after { display: block; content: ""; padding-bottom: 67%; } 
.brandListWrap ul { display: flex; flex-wrap: wrap; height: 100%; padding: 20px 15px; background-color: #fff; } 
.brandListWrap ul li { width: 20%; margin: 0 0 15px; text-align: center; } 
.brandListWrap ul li .imgWrap { overflow: hidden; position: relative; width: 56%; margin: auto; border: 1px solid #f1f1f1; border-radius: 13px; background-color: #fafafa; } 
.brandListWrap ul li.active .imgWrap { border: 1px solid #151515; } 
.brandListWrap ul li .imgWrap::after { display: block; content: ""; width: 100%; padding-bottom: 100% } 
.brandListWrap ul li img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; } 
.brandListWrap ul li span { display: block; margin-top: 5px; font-size: 12px; line-height: 14px; } 
.brandListWrap ul li:nth-last-child(-n+5) { margin-bottom: 0; } 
.brandListWrap .openBtnWrap { position: absolute; top: 0; right: 0; width: 30%; height: 100%; } 
.brandListWrap .openBtnWrap::before { position: absolute; top: 0; right: 0; display: block; content: ""; width: 100%; height: 100%; background: linear-gradient(90deg, rgba(255,255,255, 0) 0%, rgba(255,255,255,0.95) 20%); } 
.brandListWrap .openBtnWrap .openBtn { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); z-index: 1; width: 28px; height: 29px; background: url("../../public/images/coupon/icon/common/icon-brand-down2.svg") 0 0 / cover no-repeat; text-indent: -9999px; font-size: 0; } 
.priceListContainer { position: relative; } 
.priceListContainer::after { display: block; content: ""; position: absolute; right: 0; top: 0; width: 60px; height: 100%; background: linear-gradient(90deg, rgba(249, 249, 249, 0) -22.13%, #F9F9F9 65.22%); opacity: 0; pointer-events: none; transition: 0.2s; } 
.priceListContainer.blur::after { opacity: 1; } 
.priceListWrap li { height: 48px; margin-right: 20px; } 
.priceListWrap { position: relative; display: flex; overflow-x: auto; overflow-y: hidden; height: 48px; padding: 0 20px; background-color: #f9f9f9; white-space: nowrap; -ms-overflow-style: none; scrollbar-width: none; } 
.priceListWrap::-webkit-scrollbar { display: none; } 
.priceListWrap li { height: 48px; margin-right: 20px; } 
.priceListWrap li:last-child { margin-right: 0; } 
.priceListWrap li button { height: 48px; font-size: 15px; color: #7d7d7d; } 
.priceListWrap li button.active { font-weight: 700; color: #151515; } 

.noItem { padding: 85px 0 100px; font-size: 14px; color: #575757; line-height: 17px; text-align: center; } 
.noItem::before { display: block; content: ""; width: 40px; height: 40px; margin: 0 auto 10px; background: url('../../public/images/coupon/icon/common/icon-noResult.svg') 0 0 / cover no-repeat } 

.specialSaleTitle { font-size: 18px; text-align: center; height: 42px; line-height: 42px; } 
