@charset "UTF-8";

/**
* ============================================================
* Common : 공통 UI
* ============================================================
*/

.containerWrap { padding-top: 47px; background-color: #fff; }
.containerWrap .containerWrapTitle { font-size: 22px; font-weight: 300; color: #0c0c0c; }
.myPageWrap { padding-top: 58px; min-height: 100%; background-color: #f6f6f6; }

/* layout */
.clearfix,
.container { clear: both; }
.clearfix:after,
.container:after { content: ''; clear: both; display: block; }
.container { width: 100%; margin: 0 auto; padding-left: 20px; padding-right: 20px; min-width: 280px; max-width: 700px; } /* 갤럭시 폴드 최대 683px 지원 추가 */
.wrap { height: auto; }
.flexWrap { display: flex; }
.halfWrap { width: 50%; }
.floatLeft { float: left; }
.floatRight { float: right; }
.bottomFixed { position: fixed; bottom: 0; width: 100%; z-index: 10; }
.marginLeft { margin-left: auto; }
.alignCenter { align-items: center; }
.betweenWrap { justify-content: space-between; }
.centerWrap { justify-content: center; }
.allCenterWrap { display: flex; justify-content: space-around; align-items: center; }
.directionCol { flex-direction: column; }
.bar { display: inline-block; width: 1px; height: 17px; margin: 0 20px; background-color: #575757; }
.mtAuto { margin-top: auto !important }

.paddingNone { padding: 0 !important }

/* 하단 고정 버튼 영역 */
.bottomFixedWrap { position: fixed; width: 100%; bottom: 0; z-index: 10; }
.bottomFixedWrap .btnWrap { display: flex; justify-content: space-around; position: relative; }
.bottomFixedWrap .btnWrap .btn { position: relative; width: 100%; line-height: 60px; padding: 0; }
.bottomFixedWrap .btnWrap.fourBtn .btn { font-size: 14px; }
.bottomFixedWrap .btnWrap.fourBtn .btn:nth-child(odd) { width: 22.5%; }
.bottomFixedWrap .btnWrap.fourBtn .btn:nth-child(even) { flex: 1; }
.bottomFixedWrap .btnWrap .btn:not(:last-child)::after { content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1px; height: 17px; transform: translateY(-50%); background-color: #575757; }
@media (max-width: 320px) {
.bottomFixedWrap .btnWrap.fourBtn .btn { font-size: 13px; }
}

/* icon */
.icon { position: relative; top: -1px; display: inline-block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: contain; background-color: #000; }
.iconSm { display: inline-block; width: 17px; height: 17px; background-size: contain; background-position: center; }

.iconBakery { background-image: url('../../public/images/coupon/icon/brand/icon-bakery.png'); background-color: transparent; }
.iconBakerySm { background-image: url('../../public/images/coupon/icon/brand/icon-bakery-sm.png'); background-color: transparent; }
.iconMart { background-image: url('../../public/images/coupon/icon/brand/icon-mart.png'); background-color: transparent; }
.iconMartSm { background-image: url('../../public/images/coupon/icon/brand/icon-mart-sm.png'); background-color: transparent; }
.iconFood { background-image: url('../../public/images/coupon/icon/brand/icon-food.png'); background-color: transparent; }
.iconFoodSm { background-image: url('../../public/images/coupon/icon/brand/icon-food-sm.png'); background-color: transparent; }
.iconIceCream { background-image: url('../../public/images/coupon/icon/brand/icon-icecream.png'); background-color: transparent; }
.iconIceCreamSm { background-image: url('../../public/images/coupon/icon/brand/icon-icecream-sm.png'); background-color: transparent; }
.iconMovie { background-image: url('../../public/images/coupon/icon/brand/icon-movie.png'); background-color: transparent; }
.iconMovieSm { background-image: url('../../public/images/coupon/icon/brand/icon-movie-sm.png'); background-color: transparent; }
.iconGift { background-image: url('../../public/images/coupon/icon/brand/icon-gift.png'); background-color: transparent; }
.iconGiftSm { background-image: url('../../public/images/coupon/icon/brand/icon-gift-sm.png'); background-color: transparent; }

.infoIcon { display: inline-block; vertical-align: top; margin-top: 2px; margin-right: 4px; width: 13px; height: 13px; }

.iconSearch { position: absolute; right: 73px; width: 25px; height: 58px; background-image: url('../../public/images/coupon/icon/common/search.svg'); background-color: transparent; }
.iconMy { position: absolute; right: 11px; width: 44px; height: 58px; background-image: url('../../public/images/coupon/icon/common/icon-my.svg'); background-color: transparent; background-size: 34px auto; background-position: 0; }
.iconReg { position: absolute; right: 21px; width: auto; height: 58px; font-size: 13px; font-weight: 500; color: #575757; background-color: transparent; }

.iconSort { display: inline-block; width: 12px; height: 12px; background-size: contain; background-position: center; background-repeat: no-repeat; }
.iconSortPopular { background-image: url('../../public/images/coupon/icon/common/icon-popular.svg'); }

.iconTimer { top: 0; width: 13px; height: 13px; margin-top: 1px; background-image: url('../../public/images/coupon/icon/common/icon-timer-color.png'); background-color: transparent; background-size: contain; }
.iconEarn { top: 0; width: 13px; height: 13px; margin-top: 1px; background-image: url('../../public/images/coupon/icon/common/icon-save-color.png'); background-color: transparent; background-size: contain; }
.iconSelect { top: 0; width: 13px; height: 13px; background-image: url('../../public/images/coupon/icon/common/icon-select-color.png'); background-color: transparent; background-size: contain; }
.iconDc { top: 0; width: 13px; height: 13px; margin-top: 1px; background-image: url('../../public/images/coupon/icon/common/icon-dc-color.png'); background-color: transparent; background-size: contain; }
.iconStock { top: 0; width: 13px; height: 13px; background-image: url('../../public/images/coupon/icon/common/icon-product-color.png'); background-color: transparent; background-size: contain; }
.iconCash { top: 0; width: 14px; height: 14px; margin-top: 0; background-image: url('../../public/images/coupon/icon/common/icon-cash.png'); background-color: transparent; }
.iconRaffle { top: 0; width: 14px; height: 14px; margin-top: 0; background-image: url('../../public/images/coupon/icon/common/icon-raffle-color.png'); background-color: transparent; }

.iconTimerColor { margin-top: 0; top: 0; width: 16px; height: 16px; background-image: url('../../public/images/coupon/icon/common/icon-timer-color.png'); background-color: transparent; }
.iconSaveColor { margin-top: 0; top: 0; width: 16px; height: 16px; background-image: url('../../public/images/coupon/icon/common/icon-save-color.png'); background-color: transparent; }
.iconSelectColor { margin-top: 0; top: 0; width: 16px; height: 16px; background-image: url('../../public/images/coupon/icon/common/icon-select-color.png'); background-color: transparent; }
.iconDcColor { margin-top: 0; top: 0; width: 16px; height: 16px; background-image: url('../../public/images/coupon/icon/common/icon-dc-color.png'); background-color: transparent; }
.iconProductColor { margin-top: 0; top: 0; width: 16px; height: 16px; background-image: url('../../public/images/coupon/icon/common/icon-product-color.png'); background-color: transparent; }

.iconArrow { display: inline-block; background-size: contain; background-position: center; }
.iconArrowRight { display: inline-block; width: 6px; height: 10px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-right.svg'); background-color: transparent; background-size: contain; }
.iconArrowDown { display: inline-block; width: 10px; height: 6px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-down.svg'); background-color: transparent; background-size: contain; }
.iconArrowDownWhite { display: inline-block; width: 10px; height: 6px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-down-white.png'); background-color: transparent; background-size: contain; background-repeat: no-repeat; }
.iconArrowUp { display: inline-block; width: 10px; height: 6px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-up.svg'); background-color: transparent; background-size: contain; }
.iconArrowUpOrange { display: inline-block; width: 10px; height: 6px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-up-orange.png'); background-color: transparent; background-size: contain; }
.iconArrowRoundDown { width: 12px; height: 12px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-down.svg'); background-size: contain; background-repeat: no-repeat; }

.iconPick { position: relative; top: 1px; left: -2px; margin-right: 2px; display: inline-block; width: 13px; height: 12px; background-image: url('../../public/images/coupon/icon/common/icon-pick.svg'); background-size: contain; background-position: center; background-repeat: no-repeat; }

.iconBtnAdd { width: 29px; height: 29px; background-image: url('../../public/images/coupon/icon/common/btn-add.png'); background-size: contain; background-color: #fff; }

.iconErrorRed { display: inline-block; width: 12.5px; height: 12.5px; background-image: url('../../public/images/coupon/icon/common/icon-error-red.png'); background-size: contain; background-repeat: no-repeat; }

/* button */
.btn { display: inline-block; padding: 5px 15px; width: 100%; height: 60px; background-color: #151515; border-radius: 10px; font-size: 18px; font-weight: 700; color: #fff; line-height: 1.2; }
.btn:disabled, .btnGray { background-color: #d5d5d5 !important; }
.btnSm { height: 30px; font-size: 13px; }
.btnMd { height: 50px; font-size: 16px; }
.btnIcon { display: inline-block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: contain; font-size: 0; line-height: 0; text-indent: -100000px; }
.btnWish { background-image: url(../../public/images/coupon/icon/common/icon-heart-white-stroke.png); }
.btnWish.active { background-image: url(../../public/images/hotdeal/icon/icon-heart-fill.svg); }
.btnShare { background-image: url(../../public/images/coupon/icon/common/icon-share.png); }
.btnDel { position: absolute; top: 19px; right: 9px; width: 22px; height: 22px; background-image: url(../../public/images/coupon/icon/common/btn-del.png); }
.btnClose { position: absolute; top: 19px; right: 9px; width: 22px; height: 22px; background-image: url(../../public/images/coupon/icon/common/btn-del.png); background-color: transparent; }
.btnDel.hide { display: none; }
.btnBgGray,
.btnBgGray:disabled { background-color: #f9f9f9; color: #151515; }
.btnBgWhite,
.btnBgWhite:disabled { background-color: #fff; color: #151515; }
.btn .release { display: block; font-size: 12px; font-weight: 400; }
.btn .release .time { color: #ff4a4a; }
.btnFull { width: 100%; }
.btnSelect { width: 100%; line-height: 53px; border: 1px solid #ddd; background-color: #fff; background-image: url(../../public/images/coupon/icon/common/icon-arrow-down.svg); background-color: transparent; background-repeat: no-repeat; background-position: center right 17px; border-radius: 10px; background-size: 10px auto; }
.btnArrow { width: 11px; height: 11px; background-color: #dfdfdf; background-repeat: no-repeat; background-size: auto 6px; background-position: center; }
.pageHeader { display: flex; align-items: center; justify-content: space-between; }
.pageHeader .btnClose { position: relative; top: auto; right: auto; width: 24px; height: 24px; background: url(../../public/images/hotdeal/icon/icon-close.svg) no-repeat center / 18px; font-size: 0; z-index: 10; }

/* label */
.label { position: absolute; top: 0; left: 0; padding: 4px 10px; font-size: 11px; font-weight: 700; color: #e6ff00; background-color: #151515; border-radius: 10px 10px 10px 0; }
.labelRound { position: absolute; top: 10px; right: 0; padding: 3px; font-size: 7px; font-weight: 700; color: #fff; border: 1px solid #fff; background-color: #E83919; border-radius: 50%; }
.italicRound { display: flex; width: 15px; height: 15px; border: 1px solid #151515; margin-right: 3px; border-radius: 50%; text-align: center; justify-content: center; align-items: center; }

/* textBox */
.textBox { display: inline-block; width: 60px; height: 31px; margin-top: 2px; line-height: 25px; text-align: center; color: #e6ff00; font-size: 12px; background: url(../../public/images/coupon/icon/common/text-box.png) no-repeat center / 60px auto; }

/* error toast */
.msg { position: relative; z-index: 1; line-height: 40px; text-align: center; border-radius: 7px; color: #151515; border: 1px solid #151515; background-color: #fff; }
.msgError { margin-bottom: 20px;  color: #ff2b00; border: 1px solid #ff2b00;  }

/* tooltip */
.tooltip { width: auto; padding: 6px 10px; border-radius: 5px; font-size: 10px; text-align: center; background-color: #000; color: #fff; }
.iconReg + .tooltip { position: absolute; right: 16px; bottom: -8px; }
.iconReg + .tooltip::after { content: ''; position: absolute; top: -4px; right: 15px; display: inline-block; border-right: 5px solid transparent; border-bottom: 5px solid #000; border-left: 5px solid transparent; }

/* 하단 버튼 영역 */
.btnBox.btnDetail { position: fixed; left: 0; bottom: 0; padding-top: 20px; padding-bottom: 20px; width: 100%; z-index: 99; }
.btnBox.bgGradientWhite { background: rgb(255,255,255); background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }
.btnBox.bgGradientGray { padding-top: 30px; background: rgb(249,249,249); background: linear-gradient(0deg, rgba(249,249,249,1) 70%, rgba(249,249,249,0) 100%); }
.btnBox p { font-size: 16px; line-height: 1.3; color: #575757; text-align: center; }
.btnBox p + p { margin-top: 13px; }

/* 안내사항 */
.titleInfo { font-size: 15px; color: #151515; font-weight: 700; }
.bottomInfo { padding: 30px 20px; background-color: #f1f1f1; }
.infoBox .infoText { position: relative; padding-left: 5px; font-size: 12px; color: #575757; word-break: keep-all; }
.infoBox .infoText::before { content: '·'; display: inline-block; position: absolute; top: 0; left: 0; margin-right: 5px; }
.infoBox .infoText:not(:last-child) { margin-bottom: 11px; }
.infoBox .infoTextBullet { margin-right: 6px; }

/* highlight */
.highlight { position: relative; z-index: 1; color: #151515; }
.highlight:before { content: ''; position: absolute; top: 50%; left: 0; z-index: -1; padding: 0 1px; width: 100%; height: 60%; transform: translateY(-40%); display: inline-block; background-color: #e6ff00; }

.auto { display: inline-block; width: 17px; height: 15px; background: url(../../public/images/coupon/icon/common/icon-auto.png) no-repeat top / 17px; vertical-align: top; margin-right: 3px; }
.auto.off { background-position: bottom;}

/* stamp */
.imgBox.stamp img {opacity: 0.6;}
.imgBox.stamp::after {position: absolute; display: block; background-size: cover; content: "";}
.imgBox.stamp_1::after {background-image: url("../../public/images/coupon/icon/common/stamp_1.png");}
.imgBox.stamp_2::after {background-image: url("../../public/images/coupon/icon/common/stamp_2.png");}
.imgBox.stamp_3::after {background-image: url("../../public/images/coupon/icon/common/stamp_3.png");}
.imgBox.stamp_4::after {background-image: url("../../public/images/coupon/icon/common/stamp_4.png");}
.imgBox.stamp_5::after {background-image: url("../../public/images/coupon/icon/common/stamp_5.png");}
.imgBox.stamp.rightSmall::after { right: 10px; bottom: 10px; width: 60px; height: 60px;}
.imgBox.stamp.rightMedium::after { right: 10px; top: 10px; width: 95px; height: 95px;}
.imgBox.stamp.centerSmall::after { right: 50%; bottom: 50%; transform: translate(50%, 50%); width: 60px; height: 60px;}
.imgBox.stamp.centerLarge::after { right: 50%; bottom: 50%; transform: translate(50%, 50%); width: 160px; height: 160px;}

.imgBox:global.stamp img {opacity: 0.6;}
.imgBox:global.stamp::after {position: absolute; display: block; background-size: cover; content: "";}
.imgBox:global.stamp_1::after {background-image: url("../../public/images/coupon/icon/common/stamp_1.png");}
.imgBox:global.stamp_2::after {background-image: url("../../public/images/coupon/icon/common/stamp_2.png");}
.imgBox:global.stamp_3::after {background-image: url("../../public/images/coupon/icon/common/stamp_3.png");}
.imgBox:global.stamp_4::after {background-image: url("../../public/images/coupon/icon/common/stamp_4.png");}
.imgBox:global.stamp_5::after {background-image: url("../../public/images/coupon/icon/common/stamp_5.png");}
.imgBox:global.stamp.rightSmall::after { right: 10px; bottom: 10px; width: 60px; height: 60px;}
.imgBox:global.stamp.rightMedium::after { right: 10px; top: 10px; width: 95px; height: 95px;}
.imgBox:global.stamp.centerSmall::after { right: 50%; bottom: 50%; transform: translate(50%, 50%); width: 60px; height: 60px;}
.imgBox:global.stamp.centerLarge::after { right: 50%; bottom: 50%; transform: translate(50%, 50%); width: 160px; height: 160px;}

/* slick slide */
.slick-slide { outline: none; }

@media screen and (max-width: 359px) {
	.btnBox p { font-size: 13px; }
	.btn { font-size: 16px; }
}

/* @2x Images (Pixel Ratio of 1.25+) */
@media not all, only screen and (-webkit-min-device-pixel-ratio: 1.25), not all, only screen and (min-resolution: 1.25dppx) {
	.iconEmotionSmile { background-image: url(../../public/images/hotdeal/emotion/smile@2x.png); }
}
/* @3x Images (Pixel Ratio of 2.25+) */
@media not all, only screen and (-webkit-min-device-pixel-ratio: 2.25), not all, only screen and (min-resolution: 2.25dppx) {
	.iconEmotionSmile { background-image: url(../../public/images/hotdeal/emotion/smile@3x.png); }
}

/* display */
.hidden { display: none !important; }
.textLeft { text-align: left; }
.textCenter { text-align: center; }
.textright { text-align: center; }

/* text */
.textBody { color: #575757; }
.textBlack { color: #151515; }
.textLight { color: #e6ff00; }
.textDanger { color: #ff4a4a; }
.textError { color: #ff2727; }
.textRed { color: #f93b00; }
.textGray { color: #a2a2a2 !important; }
.textLine { text-decoration: line-through; }
.italic { font-style: italic; }
.srOnly { font-size: 0; line-height: 0; text-indent: -100000px; }
