@charset "UTF-8";

/**
* ============================================================
* Nav : 네비게이션
* ============================================================
*/

.navWrap {  position: fixed; top: 58px; width: 100%; margin: 0 auto; padding: 0; height: 45px; background-color: #fff; z-index: 100; }
.navWrap .nav { display: flex; width: 100%; height: 40px; padding: 0 20px; border-bottom: 1px solid #d9d9d9; background-color: #fff; }
.navWrap .nav li { height: 100%; margin-right: 20px; line-height: 19px; font-size: 16px; }
.navWrap .nav li a { position: relative; height: 100%; padding: 14px 0 0; font-size: 16px; font-weight: 400; background-color: #fff; color: #7d7d7d; }
.navWrap .nav li.active a::after { position: absolute; left: 0; bottom: -1px; content: ""; width: 100%; height: 2px; background-color: #151515; }
.navWrap .nav li.active a { color: #151515; }