/* 기본 영역 */
.bgWrap { background-color: #f1f1f1; }
.CouponDetailWrap.hidden { display: none; }
.CouponDetailWrap .hideWrap { position: fixed; width: 100%; background-color: #fff; z-index: -1; }
.CouponDetailWrap .hideWrap.show { z-index: 1; opacity: 1; }
.CouponDetailWrap .hideWrap.hidden { z-index: -1; opacity: 0; }
.CouponDetailWrap { position: relative; padding-bottom: 125px; background-color: #fff; }
.CouponDetailWrap .infoBox { padding: 0; }
.CouponDetailWrap .InfoWrap { border-top: 10px solid #f1f1f1; border-bottom: 1px solid #ececec; }
.CouponDetailWrap .InfoTab { display: flex; justify-content: space-around; }
.CouponDetailWrap .InfoTab li { text-align: center; }
.CouponDetailWrap .InfoTab li button { position: relative; line-height: 49px; font-size: 15px; font-weight: 400; color: #151515; }
.CouponDetailWrap .InfoTab .active button { font-weight: 700; }
.CouponDetailWrap .InfoTab .active button::after { content: ''; position: absolute; bottom: 0; display: block; width: 100%; height: 4px; background-color: #151515; }

.CouponDetailInfoWrap .InfoTabContent { padding: 30px 20px; font-size: 13px; color: #575757; }
.CouponDetailInfoWrap .InfoTabContent p { position: relative; padding-left: 7px; line-height: 20px; }
.CouponDetailInfoWrap .InfoTabContent p::before { content: '-'; position: absolute; top: 0; left: 0; }

.CouponDetailWrap .imgBox { background-color: transparent; max-width: none; border: none; }
.CouponDetailWrap :global .slick-dots { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); }
.CouponDetailWrap :global .slick-dots li { display: inline-block; margin: 0 5px }
.CouponDetailWrap :global .slick-dots li.slick-active button {background-color: #151515; }
.CouponDetailWrap :global .slick-dots li button { width: 8px; height: 8px; font-size: 0; border-radius: 2.5px; background-color: #fff;}

.imgBox { position: relative; float: left; max-width: 150px; border: 1px solid #f1f1f1; border-radius: 10px; }
.InfoTabImage { display: block; margin: 0 -20px 10px; }
.InfoAlertMsg { color: #ff2b00; font-size: 12px; font-weight: 700; margin-bottom: 10px; }

.CouponDetailWrap .infoBox p { color: #151515; }
.CouponDetailWrap .infoBox p > strong { color: #ff2b00; }
.CouponDetailWrap .infoBox .infoLabel { display: inline-block; padding: 5px 9px; margin-top: 15px; color: #e6ff00; font-size: 11px; background-color: #000; border-radius: 2.5px; }
.CouponDetailWrap .infoBox .infoBrand { font-size: 13px; padding-top: 10px; font-weight: 700; }
.CouponDetailWrap .infoBox .infoBrand .bar { display: inline-block; width: 1px; height: 11px; margin: 0 7px; background-color: #dfdfdf;}
.CouponDetailWrap .infoBox .infoBrand .infoView { margin-right: 2px; color: #575757; font-weight: 400; }
.CouponDetailWrap .infoBox .infoProduct { margin-top: 5px; font-size: 17px; max-height: 34px; line-height: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } /* 구매완료 화면 제외하고는 제품명 한줄 말줄임처리 */
.CouponDetailWrap .infoBox .infoPriceLabel { margin-top: 29px; font-size: 14px; font-weight: 400; color: #575757; }
.CouponDetailWrap .infoBox .infoPrice { display: inline-block; margin-top: 3px; font-size: 23px; font-weight: 700; color: #ff2b00; }
.CouponDetailWrap .infoBox .infoPrice strong { color: #151515; }
.CouponDetailWrap .infoBox .infoDcPrice { position: relative; display: inline-block; margin-left: 3px; font-size: 15px; font-weight: 400; color: #a2a2a2; text-decoration: line-through; }

.CouponDetailWrap .infoBox .priceType2 .infoPriceLabel { margin-top: 29px; font-size: 14px; font-weight: 400; color: #575757; }
.CouponDetailWrap .infoBox .priceType2 .infoPrice { display: block; margin-top: 0; font-size: 15px; font-weight: 700; color: #ff2b00; }
.CouponDetailWrap .infoBox .priceType2 .infoPrice strong { color: #a2a2a2; font-weight: 400; text-decoration: line-through; }
.CouponDetailWrap .infoBox .priceType2 .infoDcPrice { position: relative; display: inline-block; margin-left: 0; font-size: 15px; font-weight: 400; color: #a2a2a2; text-decoration: line-through; }
.CouponDetailWrap .infoBox .priceType2 .infoPrice + .infoPrice { font-size: 23px; }
.CouponDetailWrap .infoBox .priceType2 .infoPrice + .infoPrice strong { color: #151515; font-weight: 700; text-decoration: none; }
.CouponDetailWrap .infoBox .priceType1 .infoPrice, .CouponDetailWrap .infoBox .priceType3 .infoPrice { margin-top: -5px; }

.CouponDetailWrap .labelBox { display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 20px; margin-bottom: 35px; }
.CouponDetailWrap .labelBox p > strong { color: #575757; font-weight: 700; }
.CouponDetailWrap .labelBox .labelBoxContent { line-height: 22px; padding: 0 5px; margin-right: 5px; margin-bottom: 5px; background-color: #f1f1f1; border-radius: 5px; }
.CouponDetailWrap .icon { height: 22px; }

/* 스켈레톤 */
.CouponDetailWrap.CouponDetailVoid .card, 
.CouponDetailWrap.CouponDetailVoid .infoBox .infoBrand,
.CouponDetailWrap.CouponDetailVoid .infoBox .infoLabel,
.CouponDetailWrap.CouponDetailVoid .infoProduct,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice,
.CouponDetailWrap.CouponDetailVoid .infoPrice,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox { position: relative; overflow: hidden; }
.CouponDetailWrap.CouponDetailVoid .infoLabel,
.CouponDetailWrap.CouponDetailVoid .infoBrand { overflow: hidden; background-color: #fff; }
.CouponDetailWrap.CouponDetailVoid .card::before, 
.CouponDetailWrap.CouponDetailVoid .infoLabel::before, 
.CouponDetailWrap.CouponDetailVoid .infoBrand::before, 
.CouponDetailWrap.CouponDetailVoid .infoProduct::before,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel::before,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice::before,
.CouponDetailWrap.CouponDetailVoid .infoPrice::before,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent::before,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox::before { content: ''; position: absolute; background-color: #f1f1f1; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }
.CouponDetailWrap.CouponDetailVoid .card::after, 
.CouponDetailWrap.CouponDetailVoid .infoLabel::after, 
.CouponDetailWrap.CouponDetailVoid .infoBrand::after,
.CouponDetailWrap.CouponDetailVoid .infoProduct::after,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel::after,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice::after,
.CouponDetailWrap.CouponDetailVoid .infoPrice::after,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent::after,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(90deg,#f2f2f2,#ddd,#f2f2f2); animation: loading 2s infinite linear; z-index: 10; }

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(460px);
  }
}

/* 축소 영역 */
.CouponDetailWrap.fixed + .CouponDetailWrap { padding-top: 200px; }
.CouponDetailWrap.fixed { position: fixed; top: 58px; width: 100%; background-color: #fff; z-index: 1; }
.CouponDetaiSmalllWrap { position: relative; display: flex; padding: 20px 0; }
.CouponDetaiSmalllWrap .imgBox { position: relative; float: left; width: 100px; height: 100px; border: 1px solid #f1f1f1; background-color: #fff; border-radius: 10px; overflow: hidden; }
.CouponDetaiSmalllWrap .imgBox img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; object-fit: contain; } /* 리스트 이미지 고정영역으로 지정하기 위해 필요 */
.CouponDetaiSmalllWrap .infoBox { position: absolute; top: 50%; transform: translateY(-50%); width: calc(100% - 115px); height: 100px; left: 115px; text-align: left; }
.CouponDetaiSmalllWrap .infoBox .infoProduct { margin-top: 2px; margin-bottom: auto; font-size: 15px; max-height: 17px; line-height: 17px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; } /* 구매완료 화면 제외하고는 제품명 한줄 말줄임처리 */
.CouponDetaiSmalllWrap .infoBox .infoDcPrice { position: relative; display: inline-block; margin-top: 9px; margin-right: 3px; font-size: 13px; font-weight: 500; color: #a2a2a2; text-decoration: line-through; }
.CouponDetaiSmalllWrap .infoBox .infoPrice { margin-top: 0; font-size: 18px; font-weight: 700; color: #ff2b00; }
.CouponDetaiSmalllWrap .infoBox .infoPrice strong { color: #151515; }

.CouponDetaiSmalllWrap .infoBox .infoBrand { font-size: 12px; margin-top: auto; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoBrand { margin-top: 0; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPriceLabel { margin-top: 29px; font-size: 14px; font-weight: 400; color: #575757; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPrice { display: block; margin-top: 0; font-size: 13px; font-weight: 700; color: #ff2b00; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPrice strong { color: #a2a2a2; font-weight: 400; text-decoration: line-through; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoDcPrice { position: relative; display: inline-block; margin-top: 5px; margin-left: 0; font-size: 13px; font-weight: 400; color: #a2a2a2; text-decoration: line-through; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPrice + .infoPrice { font-size: 17px; }
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPrice + .infoPrice strong { color: #151515; font-weight: 700; text-decoration: none; }
.CouponDetaiSmalllWrap .infoBox.priceType3 .infoPrice { margin-top: 20px; }

.TabContent { display: none; }
.TabContentOn { display: block; }
.TabContentBox { padding-bottom: 30px; border-bottom: 1px solid #ececec;}
.TabContentBox + .TabContentBox { border-bottom: 0;}
.TabContentBox > p { line-height: 20px; }
.TabContentBox .TabContentTitle { margin-top: 30px; margin-bottom: 20px; font-size: 14px; font-weight: 700; color: #151515; }
.TabContentBox .TabContentLeft { font-size: 13px; font-weight: 400; color: #575757; }
.TabContentBox .TabContentRight { display: inline-block; font-size: 13px; font-weight: 400; color: #151515; vertical-align: top; }
.TabContentBox span.TabContentLeft { display: inline-block; width: 30%; }

.infoIcon { display: inline-block; vertical-align: top; margin-top: 1px; margin-right: 5px; width: 13px; height: 13px; background-color: #eee; }
.infoBottomText { margin-top: 15px; font-size: 12px; color: #575757; }
.infoBottomText span { font-weight: 700; }

.nowViewWrap { line-height: 30px; text-align: center; background-color: #ffe5e0; font-size: 13px; }
.nowViewWrap span { color: #ff2b00; }

.CouponDetailWrap.barcode .card { display: flex; justify-content: center; }
.CouponDetailWrap.barcode .imgBox { background-color: transparent; max-width: 250px; border: none; margin-top: 20px; }
.CouponDetailWrap.barcode .infoBox { display: flex; flex-direction: column; justify-content: center; text-align: center; }

.CouponDetailWrap.barcode .modalList { margin-bottom: 24px; }
.CouponDetailWrap.barcode .modalItem { display: flex; flex-direction: column; align-items: center; margin-bottom: 17px; }
.CouponDetailWrap.barcode .modalItem:last-child { margin-bottom: 5px; }
.modalList.empty { color: #a2a2a2; text-align: center; background-image: url('../../public/images/coupon/icon/common/empty.png'); background-size: 34px auto; background-position: center 0; background-repeat: no-repeat; padding: 60px 0 35px; margin-bottom: 0; }
.CouponDetailWrap.barcode .barcodeWrap { width: 273px; height: 88px; margin-top: 15px; border-radius: 10px; overflow: hidden; }
.CouponDetailWrap.barcode .btnWrap { display: flex; align-items: center; margin-top: 15px; font-size: 14px; }
.CouponDetailWrap.barcode .infoProduct { font-size: 15px; }
.CouponDetailWrap.barcode .btn { width: auto; height: auto; padding: 6px 8px; color: #151515; font-size: 13px; font-weight: 500; border-radius: 5px; border: 1px solid #151515; background-color: #fff; margin-left: 10px; }
/* .CouponDetailWrap .CouponDetailBottomWrap .btnWrap { display: flex; justify-content: center; align-items: center; } */
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap { display: flex; justify-content: space-around; position: relative; }
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .btn { position: relative; width: 100%; padding: 22px 0; }
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .btn:not(:last-child)::after { content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1px; height: 17px; transform: translateY(-50%); background-color: #575757; }
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .bar { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; }

/* .CouponDetailWrap {padding-bottom: 125px;} */
.CouponDetailWrap .topCon {display: flex; justify-content: space-between; align-items: center; padding: 11px 20px; background-color: #f1f1f1;}
.CouponDetailWrap .name {margin-right: 5px; font-size: 14px; font-weight: bold;}
.CouponDetailWrap .number {font-size: 13px;}
.CouponDetailWrap .messageBtn {padding: 7px 10px 7px 27px; color: #e6ff00; border-radius: 14px; font-size: 12px; font-weight: bold;  background-color: #151515; background-image: url('../../public/images/coupon/icon/mypage/icon-message.png'); background-repeat: no-repeat; background-size: 13px 13px; background-position: 10px center;}

.CouponDetailWrap .mainCon {padding: 25px 20px; line-height: 1; }
.CouponDetailWrap .mainCon h4 {margin-bottom: 20px; font-size: 13.75px; font-weight: bold;}
.CouponDetailWrap .mainCon dl {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; font-size: 13px;}
.CouponDetailWrap .mainCon dl.useMarginTop {margin-top:25px;}
.CouponDetailWrap .mainCon dl.useBorderTop {margin-top: 16px; padding-top: 16px; border-top: 1px solid #ececec;}
.CouponDetailWrap .mainCon dt, .CouponDetailWrap .mainCon dd {width: 50%; margin-top: 14.5px;}
.CouponDetailWrap .mainCon dt:nth-child(1), .CouponDetailWrap .mainCon dd:nth-child(2) { margin-top: 0;}
.CouponDetailWrap .mainCon dt {color: #575757}
.CouponDetailWrap .mainCon dt.useIcon {padding-left: 7px; color: #575757; background-image: url('../../public/images/coupon/icon/mypage/icon-dotline.png'); background-repeat: no-repeat; background-size: 5px 6px; background-position: 0 center;}
.CouponDetailWrap .mainCon dd {text-align: right;}
.CouponDetailWrap .dropDown .btnWrap {display: flex; justify-content: space-between; align-items: center; padding: 25px 20px;}
.CouponDetailWrap .dropArea {padding: 0 20px; font-size: 13px; line-height: 1.5;}
.CouponDetailWrap .bottomBtn {background-color: #151515;}
.CouponDetailWrap .bottomBtn button {width: 50%; padding: 22px 0; color: #fff; font-size: 18px; font-weight: bold;}
.CouponDetailWrap .bottomBtn .btnGiftMe {padding-right: 21px; background-image: url('../../public/images/coupon/icon/mypage/icon-talk.png'); background-repeat: no-repeat; background-size: 17px auto; background-position: right center;}
.CouponDetailWrap .bottomBtn .bar {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin: 0px;}

/* 하단 버튼 영역 */
.CouponDetailBottomWrap { line-height: 65px; background-color: #151515; }
.CouponDetailBottomWrap button { height: 100%; font-size: 18px; font-weight: 700; color: #fff; }
.CouponDetailBottomWrap .btnWish { width: 20px; margin-right: 20px; background-size: auto 18px; }
.CouponDetailBottomWrap .btnShare { width: 20px; }

.bar { display: inline-block; width: 1px; height: 11px; margin: 0 20px; background-color: #575757; }