/* 기본 영역 */
.bgWrap { background-color: #f1f1f1; } 
.CouponDetailWrap .mainColor { color: #ff2b00 !important; } 
.CouponDetailWrap.hidden { display: none; } 
.CouponDetailWrap .hideWrap { position: fixed; width: 100%; background-color: #fff; z-index: -1; } 
.CouponDetailWrap .hideWrap.show { z-index: 1; opacity: 1; } 
.CouponDetailWrap .hideWrap.hidden { z-index: -1; opacity: 0; } 
.CouponDetailWrap { position: relative; padding-bottom: 125px; background-color: #fff; } 
.CouponDetailWrap .infoBox { padding: 36px 0 20px; } 
.CouponDetailWrap .InfoWrap { border-bottom: 1px solid #ececec; background-color: #fff; } 
.CouponDetailWrap .InfoWrap.fixed { position: fixed; top: 58px; width: 100%; z-index: 1; } 
.CouponDetailWrap .borderBottom { padding-bottom: 45px; border-bottom: 10px solid #f1f1f1; } 
.CouponDetailWrap .InfoTab { display: flex; justify-content: space-around; } 
.CouponDetailWrap .InfoTab li { text-align: center; } 
.CouponDetailWrap .InfoTab li button { position: relative; line-height: 49px; font-size: 15px; font-weight: 400; color: #151515; } 
.CouponDetailWrap .InfoTab .active button { font-weight: 700; } 
.CouponDetailWrap .InfoTab .active button::after { content: ''; position: absolute; bottom: 0; display: block; width: 100%; height: 4px; background-color: #151515; } 
.CouponDetailWrap .containerBorder { border-bottom: 10px solid #f1f1f1; } 

.CouponDetailInfoWrap.fixed { padding-top: 50px; } 
.CouponDetailInfoWrap .InfoTabContent { padding: 30px 20px 50px; font-size: 13px; color: #151515; line-height: 20px; } 
/* .CouponDetailInfoWrap .InfoTabContent p { position: relative; padding-left: 7px; }  */
/* .CouponDetailInfoWrap .TabContentBox p { position: relative; padding-left: 7px; }  */
.CouponDetailInfoWrap .TabContentBox .noteStrong { font-size: 13px; color: #151515; line-height: 20px; } 
.CouponDetailInfoWrap .TabContentBox .noteNormal { font-size: 11px; color: #575757; margin-left: 7px; line-height: 17px; } 
.CouponDetailInfoWrap .TabContentBox .noteNormal + .noteStrong { margin-top: 12px; } 
.CouponDetailInfoWrap .TabContentBox .noteStrong + .noteNormal { margin-top: 6px; } 
.CouponDetailInfoWrap .TabContentBox .noteStrong::before { content: '-'; position: absolute; top: 0; left: 0; } 
.CouponDetailInfoWrap .TabContentBox .noteNormal::before { content: '·'; position: absolute; top: 0; left: 0; } 
.CouponDetailInfoWrap .TabContentBox .noteTable { text-align: center; margin: 12px 0 12px; } 
.CouponDetailInfoWrap .TabContentBox .noteTable tr th { width: 50%; border: 1px solid #ececec; background-color: #ececec; font-size: 10px; font-weight: bold; color: #575757; } 
.CouponDetailInfoWrap .TabContentBox .noteTable tr th:first-child { border-right: 1px solid #fff; } 
.CouponDetailInfoWrap .TabContentBox .noteTable tr td { width: 50%; border: 1px solid #e2e2e2; font-size: 13px; color: #575757; } 

.CouponDetailWrap .card { display: flex; justify-content: center; position: relative; overflow: hidden; } 
.CouponDetailWrap .imgLabelWrap { display: flex; flex-wrap: wrap; position: absolute; left: 0; top: 0; z-index: 2; } 
.CouponDetailWrap .imgLabelWrap .imgLabel { display: flex; align-items: center; justify-content: center; height: 35px; padding: 0 17px; color: #fff; font-size: 13px; font-weight: 700; background-color: #151515; } 
.CouponDetailWrap .imgLabelWrap .imgLabel.type2 { background-color: #007271; } 
.CouponDetailWrap .imgLabelWrap .imgLabel.type3 { background-color: #132d4a; } 
.CouponDetailWrap .imgLabelWrap .imgLabel.type4 { background-color: #FF6711; } 
.CouponDetailWrap .imgBox { background-color: transparent; max-width: none; border: none; } 
.CouponDetailWrap :global .slick-dots { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); } 
.CouponDetailWrap :global .slick-dots li { display: inline-block; margin: 0 5px } 
.CouponDetailWrap :global .slick-dots li.slick-active button { background-color: #151515; } 
.CouponDetailWrap :global .slick-dots li button { width: 8px; height: 8px; font-size: 0; border-radius: 2.5px; background-color: #fff; } 
.CouponDetailWrap .alertInfo { display: flex; align-items: center; position: absolute; left: auto; bottom: 20px; padding: 10px 18px; border: 1px solid #ff2b00; border-radius: 30px; font-size: 16px; background-color: #fff; box-shadow: 0px 2px 4px 0px rgba(255, 43, 0, 0.3); } 
.CouponDetailWrap .alertInfo.fixed { position: fixed; bottom: 106px; z-index: 1; } 
.CouponDetailWrap .alertInfo .colorText { display: inline-block; min-width: 111px; margin-right: 3px; color: #ff2b00; } 
.CouponDetailWrap .alertInfo.fixed .colorText { min-width: 111px; } 
.CouponDetailWrap .alertInfo p { display: flex; } 
.CouponDetailWrap .alertInfo span { display: inline-block; width: 22px; margin: 0 2px; color: #ff2b00; font-weight: bold; } 
.CouponDetailWrap .alertInfo span:first-child { width: auto; } 
.CouponDetailWrap .alertInfo em { position: relative; top: -1px; color: #ff2b00; font-weight: bold; } 
.CouponDetailWrap .alertInfo i { display: block; content: ""; width: 1px; height: 15px; margin: 0 20px; background-color: #a2a2a2; } 
.CouponDetailWrap .alertInfo::before { display: block; content: ""; width: 15px; height: 17px; margin-right: 4px; background: url('../../public/images/coupon/icon/mypage/icon-clock.png') left center / 15px 17px no-repeat; } 

.imgBox { position: relative; float: left; max-width: 150px; border: 1px solid #f1f1f1; border-radius: 10px; } 
.InfoTabImage { display: block; margin: 0 -20px 10px; } 
.InfoAlertMsg { color: #ff2b00; font-size: 12px; font-weight: 700; margin-bottom: 10px; } 

.CouponDetailWrap .infoBox p { color: #151515; } 
.CouponDetailWrap .infoBox p > strong { color: #ff2b00; } 
.CouponDetailWrap .infoBox .infoBrand .bar { display: inline-block; width: 1px; height: 11px; margin: 0 7px; background-color: #dfdfdf; } 
.CouponDetailWrap .infoBox .infoBrand .infoView { margin-right: 2px; color: #575757; font-weight: 400; } 
.CouponDetailWrap .infoBox .infoProduct { margin-top: 5px; font-size: 17px; max-height: 34px; line-height: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } /* 구매완료 화면 제외하고는 제품명 한줄 말줄임처리 */
.CouponDetailWrap .infoBox .infoBrand { font-size: 13px; font-weight: 700; } 
.CouponDetailWrap .infoBox .priceWrap { display: flex; flex-direction: column; margin-top: 8px; line-height: 1; } 
.CouponDetailWrap .infoBox .infoPrice { font-size: 23px; font-weight: 700; color: #151515; } 
.CouponDetailWrap .infoBox .infoPrice .unitText { position: relative; top: -1px; font-size: 20px; } 
.CouponDetailWrap .infoBox .infoDcPrice { margin: 0 0 4px 3px; font-size: 15px; font-weight: 400; color: #a2a2a2; text-decoration: line-through; } 
.CouponDetailWrap .infoBox .infoPrice > span { color: #ff2b00; } 
/* 상세 금액 */
.CouponDetailWrap .priceDetailWrap { padding: 12px 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #151515; background-color: #f9f9f9; } 
.CouponDetailWrap .priceDetailWrap dl { display: grid; grid-template-columns: 2fr auto; color: #151515; line-height: 1; letter-spacing: -0.05em; } 
.CouponDetailWrap .priceDetailWrap dl :nth-child(-n+2) { margin-top: 0; } 

.CouponDetailWrap .priceDetailWrap .addBenefit { margin-top: 10px; padding: 10px 0 0; border-top: 1px solid #cacaca;justify-content: center;grid-template-columns: auto; text-align: center; } 
.CouponDetailWrap .priceDetailWrap .addBenefit dt { display: flex; align-items: center; color: #151515; font-size: 14px; font-weight: 400; } 
.CouponDetailWrap .priceDetailWrap .addBenefit dt span { font-weight: 700;}
.CouponDetailWrap .priceDetailWrap .addBenefit dd button { display: block; position: relative; float: right; width: 18px; height: 18px; border: 1px solid #151515; border-radius: 50%; } 
.CouponDetailWrap .priceDetailWrap .addBenefit dd button::before,
.CouponDetailWrap .priceDetailWrap .addBenefit dd button::after { display: block; position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%); content: ""; width: 9px; height: 2px; background-color: #151515; border-radius: 1px; transition: 0.5s; } 
.CouponDetailWrap .priceDetailWrap .addBenefit dd button::before { transform: translate(-50%, -50%) rotate(90deg); } 
.CouponDetailWrap .priceDetailWrap .addBenefit dd button.on::before { transform: translate(-50%, -50%) rotate(135deg); } 
.CouponDetailWrap .priceDetailWrap .addBenefit dd button.on::after { transform: translate(-50%, -50%) rotate(45deg); } 
.CouponDetailWrap .priceDetailWrap .addBenefit span.benefitAlert { color: #FF4600; font-weight: 700; } 
.CouponDetailWrap .priceDetailWrap span.benefitGray { color: #a2a2a2; } 
.CouponDetailWrap .priceDetailWrap dl.pointWrap { margin-top: 12px; } 
.CouponDetailWrap .priceDetailWrap dl span { margin-left: 4px; color: #ff2b00; } 
.CouponDetailWrap .priceDetailWrap dl dt { font-size: 13px; } 
.CouponDetailWrap .priceDetailWrap dl dt { position: relative; display: block; } 
.CouponDetailWrap .priceDetailWrap dl dt.soldout label span { color: #151515; } 
.CouponDetailWrap .priceDetailWrap dl dt.soldout label::after { display: block; content: ""; position: absolute; left: auto; top: 54%; transform: translateY(-50%); width: calc(100%); height: 1px; background-color: #FF2B00; } 
.CouponDetailWrap .priceDetailWrap dl dt > input[type="checkbox"] { position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; font-size: 0; box-shadow: none; } 
.CouponDetailWrap .priceDetailWrap dl dt > input + label { position: relative; display: inline-block; color: #151515; } 
/* .CouponDetailWrap .priceDetailWrap dl dt > input + label:before { content: ''; display: block; position: absolute; top: 54%; left: 0px; transform: translateY(-50%); z-index: 1; width: 13px; height: 13px; border: 1px solid #151515; border-radius: 2px; }  */
.CouponDetailWrap .priceDetailWrap dl dt > input + label.disabled { pointer-events: none; } 
.CouponDetailWrap .priceDetailWrap dl dt > input + label.disabled:before { border: 1px solid #f1f1f1; background-color: #f9f9f9; } 
/* .CouponDetailWrap .priceDetailWrap dl dt > input + label:before { content: ''; display: block; position: absolute; top: 50%; left: 0px; transform: translateY(-50%); z-index: 1; width: 15px; height: 15px; background: url(../../public/images/coupon/icon/common/icon-check-square-off.svg) no-repeat center / cover; border-radius: 5px; }  */
.CouponDetailWrap .priceDetailWrap dl dt > input:checked + label:before { background: #151515 url(../../public/images/coupon/icon/common/icon-check-square-on.svg) center center / 13px 13px no-repeat; border: 1px solid #151515; } 
.CouponDetailWrap .priceDetailWrap dl dd { text-align: right; font-size: 15px; color: #151515; } 
.CouponDetailWrap .priceDetailWrap dl dt,
.CouponDetailWrap .priceDetailWrap dl dd { margin-top: 12px; } 
.CouponDetailWrap .priceDetailWrap dl dd.soldout { font-weight: bold; font-size: 13px; letter-spacing: 0; } 
.CouponDetailWrap .priceDetailWrap dl dd.soldout em { position: static; color: #FF2B00; margin: 0; } 
.CouponDetailWrap .priceDetailWrap dl dd em { position: relative; top: -1px; margin-left: 3px; font-size: 13px; } 
.CouponDetailWrap .priceDetailWrap dl dd .pointCheck { display: inline-flex; align-items: center; font-size: 12px; } 
.CouponDetailWrap .priceDetailWrap dl dd .pointCheck i { margin-left: 6px; } 
.CouponDetailWrap .finalPrice { display: flex; justify-content: space-between; margin-top: 20px; padding: 12px 0; font-size: 16px; border-top: 1px solid #151515; border-bottom: 1px solid #151515; } 
.CouponDetailWrap .finalPrice .arrow { transform: rotate(-180deg);transition: .3s;}
.CouponDetailWrap .finalPrice.finalPriceOn {border-bottom: 0; }
.CouponDetailWrap .finalPrice.finalPriceOn .arrow { transform: rotate(-0);}
.CouponDetailWrap .finalPrice dt { display: flex; align-items: center; font-weight: 700; } 
/* .CouponDetailWrap .finalPrice dt::before { display: block; content: ""; width: 14px; height: 16px; margin-right: 5px;; background: url("../../public/images/coupon/icon/detail/icon-calculator.svg") center / cover no-repeat; }  */
.CouponDetailWrap .finalPrice .arrow {width: 16px;height: 16px;background: url("../../public/images/coupon/icon/common/icon-top.png") center / cover no-repeat;margin-top: 2px;margin-left: 4px;}
.CouponDetailWrap .arrow.on { transform: rotate(0deg);transition: .3s; }

.CouponDetailWrap .bannerWrap {padding: 21px 18px;margin-top: 20px;border-radius: 12px;background: #FFF1E3 url('../../public/images/coupon/bg/bg-notice.png') right 16px top 0 / contain no-repeat;}
.CouponDetailWrap .bannerWrap .txt {color: #575757;font-size: 16px;line-height: 19px;}
.CouponDetailWrap .bannerWrap p > strong {color: #151515;font-size: 16px;font-weight: 700;}
.CouponDetailWrap .bannerWrap .arrow { margin-left: 4px;}

.tooltopWrap { position: relative; display: flex; align-items: center; } 
.tooltipBtn { width: 18px; height: 18px; margin-left: 4px; background: url('../../public/images/coupon/icon/common/icon-question2.png') 0 0 / contain no-repeat; } 
.tooltip { position: absolute; left: -63px; bottom: 30px; z-index: 1; width: 234px; padding: 10px; border: 1px solid #151515; border-radius: 10px; font-size: 12px; background-color: #fff; box-shadow: -2px 0px 4px 0px rgba(21, 21, 21, 0.3); } 
.tooltip::after { display: block; content: ""; position: absolute; bottom: -9px; left: 70px; width: 9px; height: 10px; background: url('../../public/images/coupon/icon/common/tooltip-bg.png') 0 0 / 9px 10px no-repeat; } 
.tooltip.reverse { top: 30px; bottom: auto; } 
.tooltip.reverse::after { bottom: auto; top: -9px; transform: rotate(180deg); } 
.CouponDetailWrap .finalPrice dd { font-size: 16px; } 
.CouponDetailWrap .finalPrice span { color: #ff2b00; } 
.CouponDetailWrap .finalPrice .unitText { position: relative; top: -1px; font-size: 14px; color: #151515; } 
.bottomList { margin-top: 20px; font-size: 13px; letter-spacing: -0.05em; } 
.bottomList li { display: flex; } 
.bottomList li:before { display: block; content: "·"; margin-right: 3px; } 


/* 스켈레톤 */
.CouponDetailWrap.CouponDetailVoid .card, 
.CouponDetailWrap.CouponDetailVoid .infoBox .infoBrand,
.CouponDetailWrap.CouponDetailVoid .infoBox .infoLabel,
.CouponDetailWrap.CouponDetailVoid .infoProduct,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice,
.CouponDetailWrap.CouponDetailVoid .infoPrice,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox { position: relative; overflow: hidden; } 
.CouponDetailWrap.CouponDetailVoid .infoLabel,
.CouponDetailWrap.CouponDetailVoid .infoBrand { overflow: hidden; background-color: #fff; } 
.CouponDetailWrap.CouponDetailVoid .card::before, 
.CouponDetailWrap.CouponDetailVoid .infoLabel::before, 
.CouponDetailWrap.CouponDetailVoid .infoBrand::before, 
.CouponDetailWrap.CouponDetailVoid .infoProduct::before,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel::before,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice::before,
.CouponDetailWrap.CouponDetailVoid .infoPrice::before,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent::before,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox::before { content: ''; position: absolute; background-color: #f1f1f1; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; } 
.CouponDetailWrap.CouponDetailVoid .card::after, 
.CouponDetailWrap.CouponDetailVoid .infoLabel::after, 
.CouponDetailWrap.CouponDetailVoid .infoBrand::after,
.CouponDetailWrap.CouponDetailVoid .infoProduct::after,
.CouponDetailWrap.CouponDetailVoid .infoPriceLabel::after,
.CouponDetailWrap.CouponDetailVoid .infoDcPrice::after,
.CouponDetailWrap.CouponDetailVoid .infoPrice::after,
.CouponDetailWrap.CouponDetailVoid .labelBoxContent::after,
.CouponDetailVoid .CouponDetaiSmalllWrap .imgBox::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(90deg,#f2f2f2,#ddd,#f2f2f2); animation: loading 2s infinite linear; z-index: 10; } 

@keyframes loading { 
 0% { transform: translateX(0); } 
 50%,
 100% { transform: translateX(460px); } 
 }

/* 축소 영역 */
.CouponDetailWrap.fixed + .CouponDetailWrap { padding-top: 200px; } 
.CouponDetailWrap.fixed { position: fixed; top: 58px; width: 100%; background-color: #fff; z-index: 1; } 
.CouponDetaiSmalllWrap { position: relative; display: flex; padding: 20px 0; } 
.CouponDetaiSmalllWrap .imgBox { flex: 0 0 auto; position: relative; float: left; width: 100px; height: 100px; border: 1px solid #f1f1f1; background-color: #fff; border-radius: 10px; overflow: hidden; } 
.CouponDetaiSmalllWrap .imgBox img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; object-fit: contain; } /* 리스트 이미지 고정영역으로 지정하기 위해 필요 */
.CouponDetaiSmalllWrap .infoBox.priceType2 { position: absolute; top: 50%; left: 115px; transform: translateY(-50%); width: calc(100% - 115px); padding: 0; text-align: left; } 
.CouponDetaiSmalllWrap .infoBox .infoProduct { margin-top: 2px; margin-bottom: auto; font-size: 15px; max-height: 34px; line-height: 17px; overflow: hidden; display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
white-space: inherit;} /* 구매완료 화면 제외하고는 제품명 한줄 말줄임처리 */
.CouponDetaiSmalllWrap .infoBox .infoDcPrice { position: relative; display: inline-block; margin-top: 9px; margin-right: 3px; font-size: 13px; font-weight: 500; color: #a2a2a2; text-decoration: line-through; } 
.CouponDetaiSmalllWrap .infoBox .infoPrice { margin-top: 0; font-size: 18px; font-weight: 700; color: #ff2b00; } 
.CouponDetaiSmalllWrap .infoBox .infoPrice strong { color: #151515; } 

.CouponDetaiSmalllWrap .infoBox .infoBrand { font-size: 12px; margin-top: 6px; font-weight: 700; } 
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoBrand { margin-top: 0; } 
.CouponDetaiSmalllWrap .infoBox.priceType2 .priceWrap { margin-top: 13px; } 
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoPrice { display: block; margin-top: 0; font-size: 18px; font-weight: 700; color: #ff2b00; } 
.CouponDetaiSmalllWrap .infoBox.priceType2 .infoDcPrice { position: relative; display: inline-block; margin: 0 0 3px; font-size: 13px; font-weight: 400; color: #a2a2a2; text-decoration: line-through; } 

.TabContent { display: none; } 
.TabContentOn { display: block; } 
.TabContent > div > .TabContentBox:last-child { border-bottom: none; } 
.TabContentBox { padding: 30px 0 30px; border-bottom: 1px solid #ececec; } 
.TabContentBox > p { line-height: 20px; } 
.TabContentBox .TabContentTitle { margin-bottom: 20px; font-size: 14px; font-weight: 700; color: #151515; } 
.TabContentBox.hundredDealBox .TabContentTitle::before {display: none;}
.TabContentBox .TabContentLeft { font-size: 13px; font-weight: 400; color: #151515; line-height: 20px; } 
.TabContentBox .TabContentRight { display: inline-block; font-size: 13px; font-weight: 400; color: #151515; vertical-align: top; } 
.TabContentBox span.TabContentLeft { display: inline-block; width: 30%; } 

.infoIcon { display: inline-block; vertical-align: top; margin-top: 1px; margin-right: 5px; width: 13px; height: 13px; background-color: #eee; } 
.infoBottomText { margin-top: 15px; font-size: 12px; color: #575757; } 
.infoBottomText span { font-weight: 700; } 

.nowViewWrap { line-height: 30px; text-align: center; background-color: #ffe5e0; font-size: 13px; } 
.nowViewWrap span { color: #ff2b00; } 
.selfGift { display: flex; justify-content: space-between; align-items: center; position: absolute; top: 56px; left: 50%; transform: translateX(-50%); width: calc(100% - 40px); padding: 12px 12px 12px 16px; background-color: #FFFBC9; font-size: 13px; font-weight: 700; border-radius: 10px; animation: giftShow 1s 2s forwards; z-index: -1; } 
@keyframes giftShow {
  0% {
    top: 56px;
  }
  100% {
    top: -60px;
  }
}
.bottomBtnWrap {background-color: #151515;}
.selfGift p { line-height: 15.6px; } 
.selfGift a { position: relative; line-height: 1; } 
.selfGift a span { margin-right: 2px; color: #FF2B00; } 
.selfGift a.rightArrow { padding-right: 16px; }
.selfGift a.rightArrow::after { position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: block; content: ""; width: 16px; height: 16px; background: url('../../public/images/coupon/icon/common/icon-arrow-round-right.png') 0 0 / cover no-repeat; }

.CouponDetailWrap.barcode .card { display: flex; justify-content: center; } 
.CouponDetailWrap.barcode .imgBox { background-color: transparent; max-width: 250px; border: none; margin-top: 20px; } 
.CouponDetailWrap.barcode .infoBox { display: flex; flex-direction: column; justify-content: center; text-align: center; } 

.CouponDetailWrap.barcode .modalList { margin-bottom: 24px; } 
.CouponDetailWrap.barcode .modalItem { display: flex; flex-direction: column; align-items: center; margin-bottom: 17px; } 
.CouponDetailWrap.barcode .modalItem:last-child { margin-bottom: 5px; } 
.modalList.empty { color: #a2a2a2; text-align: center; background-image: url('../../public/images/coupon/icon/common/empty.png'); background-size: 34px auto; background-position: center 0; background-repeat: no-repeat; padding: 60px 0 35px; margin-bottom: 0; } 
.CouponDetailWrap.barcode .barcodeWrap { width: 273px; height: 88px; margin-top: 15px; border-radius: 10px; overflow: hidden; } 
.CouponDetailWrap.barcode .btnWrap { display: flex; align-items: center; margin-top: 15px; font-size: 14px; } 
.CouponDetailWrap.barcode .infoProduct { font-size: 15px; } 
.CouponDetailWrap.barcode .btn { width: auto; height: auto; padding: 6px 8px; color: #151515; font-size: 13px; font-weight: 500; border-radius: 5px; border: 1px solid #151515; background-color: #fff; margin-left: 10px; } 
/* .CouponDetailWrap .CouponDetailBottomWrap .btnWrap { display: flex; justify-content: center; align-items: center; } */
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap { display: flex; justify-content: space-around; position: relative; } 
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .btn { position: relative; width: 100%; padding: 22px 0; } 
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .btn:not(:last-child)::after { content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1px; height: 17px; transform: translateY(-50%); background-color: #575757; } 
.CouponDetailWrap .CouponDetailBottomWrap .btnWrap .bar { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; } 

/* .CouponDetailWrap { padding-bottom: 125px; } */
.CouponDetailWrap .topCon { display: flex; justify-content: space-between; align-items: center; padding: 11px 20px; background-color: #f1f1f1; } 
.CouponDetailWrap .name { margin-right: 5px; font-size: 14px; font-weight: bold; } 
.CouponDetailWrap .number { font-size: 13px; } 
.CouponDetailWrap .messageBtn { padding: 7px 10px 7px 27px; color: #e6ff00; border-radius: 14px; font-size: 12px; font-weight: bold; background-color: #151515; background-image: url('../../public/images/coupon/icon/mypage/icon-message.png'); background-repeat: no-repeat; background-size: 13px 13px; background-position: 10px center; } 

.CouponDetailWrap .mainCon { padding: 25px 20px; line-height: 1; } 
.CouponDetailWrap .mainCon h4 { margin-bottom: 20px; font-size: 13.75px; font-weight: bold; } 
.CouponDetailWrap .mainCon dl { display: grid; grid-template-columns: auto 1fr; font-size: 13px; } 
.CouponDetailWrap .mainCon dl.useMarginTop { margin-top:25px; } 
.CouponDetailWrap .mainCon dl.useBorderTop { margin-top: 16px; padding-top: 16px; border-top: 1px solid #ececec; } 
.CouponDetailWrap .mainCon dt, .CouponDetailWrap .mainCon dd { margin-top: 14.5px; } 
.CouponDetailWrap .mainCon dt:nth-child(1), .CouponDetailWrap .mainCon dd:nth-child(2) { margin-top: 0; } 
.CouponDetailWrap .mainCon dt { color: #575757 } 
.CouponDetailWrap .mainCon dt.useIcon { padding-left: 7px; color: #575757; background-image: url('../../public/images/coupon/icon/mypage/icon-dotline.png'); background-repeat: no-repeat; background-size: 5px 6px; background-position: 0 center; } 
.CouponDetailWrap .mainCon dd { text-align: right; } 
.CouponDetailWrap .dropDown .btnWrap { display: flex; justify-content: space-between; align-items: center; padding: 25px 20px; } 
.CouponDetailWrap .dropArea { padding: 0 20px; font-size: 13px; line-height: 1.5; } 
.CouponDetailWrap .bottomBtn { background-color: #151515; } 
.CouponDetailWrap .bottomBtn button { width: 50%; padding: 22px 0; color: #fff; font-size: 18px; font-weight: bold; } 
.CouponDetailWrap .bottomBtn .btnGiftMe { padding-right: 21px; background-image: url('../../public/images/coupon/icon/mypage/icon-talk.png'); background-repeat: no-repeat; background-size: 17px auto; background-position: right center; } 
.CouponDetailWrap .bottomBtn .bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin: 0px; } 

/* 하단 버튼 영역 */
.CouponDetailBottomWrap { line-height: 65px; background-color: #151515; } 
.CouponDetailBottomWrap button { overflow: visible; position: relative; height: 100%; font-size: 18px; font-weight: 700; color: #fff; } 
.CouponDetailBottomWrap .btnWish { width: 20px; margin-right: 20px; background-size: contain; } 
.CouponDetailBottomWrap .btnShare { width: 20px; } 
.addInfo { position: absolute; top: -18px; height: 30px; padding: 0 8px; z-index: 1; font-size: 12px; font-weight: bold; line-height: 30px; background-color: #ff2b00; color: #fff; border-radius: 10px; }
.addInfo em { color: #e6ff00; } 
.addInfo::after { display: block; content: ""; position: absolute; bottom: -5px; right: 30px; width: 6px; height: 6px; background: url('../../public/images/coupon/icon/common/text-box-arrow-1.png') 0 / cover no-repeat; } 

.bar { display: inline-block; width: 1px; height: 11px; margin: 0 20px; background-color: #575757; } 