.modalTitle { font-size: 18px; }
.modalBody { padding: 20px 20px 15px; margin: 0 -10px; }
.filterWrap { display: flex; flex-wrap: wrap; justify-content: space-between; }
.filterWrap .btn { width: calc(100% / 3); padding: 0 12px; text-align: center; }
.filterWrap .btn > button { width: 100%; margin-bottom: 13px; line-height: 48px; border: 1px solid #e3e3e3; border-radius: 8px; font-size: 16px; font-weight: 400; color: #575757; background-color: #fff; }
.filterWrap .btn.active > button { border: 1px solid #151515; color: #151515; font-weight: 700; }