@charset "UTF-8";

/**
* ============================================================
* Footer : 푸터
* ============================================================
*/

.footerWrap { margin-top: auto; padding: 30px 0; font-size: 14px; background-color: #f1f1f1; }
.fixBottomUse { padding-bottom: 125px; }
.fixBottomUse.detailBottom { padding-bottom: 180px; }
.footer { display: flex; justify-content: center; align-items: center; }
.footer a { color: #a2a2a2; }
.footer .txtBar { margin: 0 20px; color: #a2a2a2; }

.addressWrap { margin: 20px 0 0; text-align: center; }
.addressBtn { display: inline-block; font-size: 14px; color: #151515; font-weight: 700; }

.footerList { font-size: 12px; line-height: 26px; color: #575757; }
.footerList span { color: #a2a2a2; }
.footerList a { color: #575757; text-decoration: underline; }

.iconArrowDown { width: 24px; height: 20px; background-size: 10px 6px; background-position: 0 center;}