.wrap {height: 100%;}
.conWrap {height: 100%; padding-top: 90px; background-color: #fff;}
.conWrap .container {flex: 1; background-color: #f1f1f1; height: 100%;}
.conWrap .container .topCon {padding-bottom: 45px; background-color: #fff;}
.conWrap .container .topCon::after {display: none;}
.conWrap .container .topCon .inputWrap {margin-top: 16px;}
.conWrap .container .topCon .input {margin-top: 0; font-size: 16px; border: 1px solid #ccc;padding: 0 19px;}
.conWrap .container .topCon .input:focus { border: 1px solid #151515;}
.conWrap .container .topCon .input::placeholder { color: #d4d4d4; font-size: 16px; font-weight: normal; height: auto; }
.conWrap .container .botCon { flex:1; padding: 30px 0 100px; background-color: #f1f1f1;}
.conWrap .container .botCon .title { margin-bottom: 10px;}
.conWrap .container .botCon .infoText span {font-weight: bold; border-bottom: 1px solid #151515; color: #151515; }
.conWrap .container .botCon .infoText .other { display: block; font-weight: 400; border-bottom: none; color: #575757; }
.conWrap .container .floatBtn {display: block; position: fixed ; bottom: 0; left: 0; width: 100%; height: 65px; color: #fff; font-size: 18px; font-weight: bold; line-height: 65px; background-color: #d5d5d5;}
.conWrap .container .floatBtn:global.on {background-color: #151515;}