.containerWrap { margin-top: 20px; background-color: #fff; }
.guideList { margin: 10px 0; background-color: #fff; }
.guideList li { border-bottom: 1px solid #f6f6f6; }
.guideList li:last-child { border-bottom: 0; }
.guideList li a { display: block; background: url(../../public/images/hotdeal/icon/icon-arrow-right.svg?ver=20220519) no-repeat right 20px center / 6px 9px; font-size: 17px; line-height: 65px; }

/* csList */
.csList { padding: 30px 0; }
.csList .csTitle { margin-bottom: 10px; font-size: 15px; font-weight: 700; }
.csList .csDesc { margin-bottom: 12px; line-height: 15px; font-size: 13px; color: #575757; }
.csList .csDesc .title:after { content: ''; display: inline-block; margin: 0 6px 0 10px; width: 1px; height: 15px; background-color: #c9c9c9; vertical-align: top; }
.csList .box + .box { margin-top: 10px; }
.csList .box a { display: block; padding: 0 15px; border-radius: 10px; line-height: 65px; background-color: #fff; color: #575757; }
.csList .box .logo { width: auto; height: 13px; vertical-align: -2px; }
.csList .box .desc { float: right; font-size: 17px; font-weight: 700; }
.csList .box { margin: 0 -7px; }