@charset "UTF-8";

/**
* ============================================================
* LimitCoupon : 선착순 특가
* ============================================================
*/

.LimitCouponWrap { padding: 50px 0; background-color: #fff; }
.LimitCouponWrap .LimitCouponTitle { font-size: 22px; font-weight: 700; }
.LimitCouponWrap .LimitCouponList { display: flex; justify-content: space-between; width: 100%; margin: 20px 0 0; flex-direction: column; }
.LimitCouponWrap .LimitCouponList .LimitCouponItem { position: relative; width: 100%; padding: 20px 0; border-bottom: 1px solid #f1f1f1; }
.LimitCouponWrap .LimitCouponList .LimitCouponItem:first-child { padding: 0 0 20px; }
.LimitCouponWrap .LimitCouponList .LimitCouponItem:last-child { padding-bottom: 0; border: 0; }
.LimitCouponWrap .LimitCouponList .LimitCouponItem button { position: relative; width: 100%; }
.LimitCouponWrap .HotBrandLink { display: block; width: 100%; padding: 16px 0; background-color: #fff; border: 1px solid #dfdfdf; border-radius: 5px; }
.LimitCouponWrap .HotBrandLink span { font-weight: 700; }

.imgBox { position: relative; float: left; width: 150px; height: 150px; border: 1px solid #f1f1f1; background-color: #fff; border-radius: 10px; overflow: hidden; }
.imgBox img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; object-fit: contain; } /* 리스트 이미지 고정영역으로 지정하기 위해 필요 */

.infoBox { position: absolute; top: 50%; transform: translateY(-50%); width: calc(100% - 167px); left: 167px; text-align: left; } 
.infoBox p { color: #151515; }
.infoBox p > strong { color: #ff2b00; }
.infoBox .infoLabel { display: inline-block; padding: 5px 9px; margin-top: 15px; color: #e6ff00; font-size: 11px; background-color: #000; border-radius: 2.5px; }
.infoBox .infoBrand { font-size: 13px; font-weight: 700; }
.infoBox .infoProduct { margin-top: 10px; font-size: 17px; max-height: 34px; line-height: 17px; overflow: hidden; text-overflow: ellipsis; }
.infoBox .infoPrice { margin-top: 3px; font-size: 17px; font-weight: 700; color: #ff2b00; }
.infoBox .infoDcPrice { position: relative; top: -1px; display: inline-block; margin-right: 3px; font-size: 13px; font-weight: 500; color: #a2a2a2; text-decoration: line-through; }

.infoIcon { display: inline-block; vertical-align: top; margin-top: 1px; margin-right: 5px; width: 13px; height: 13px; background-color: #eee; }
.infoBottomText { margin-top: 15px; font-size: 12px; color: #575757; }
.infoBottomText span { font-weight: 700; }