.titleWrap { background-color: #fff; }
.menuWrap { padding-top: 15px; background-color: #fff; }
.menuList { display: flex; padding: 0; }
.menuList li { display: inline-block; width: 100%; }
.menuList li a { position: relative; display: inline-block; width: 100%; padding: 20px 0; margin: 0 auto; text-align: center; font-size: 16px; font-weight: 300; color: #151515; }
.menuList li a::before { content: ''; display: block; width: 25px; height: 29px; margin: 0 auto 10px; background-size: 25px auto; background-position: center; background-repeat: no-repeat; }
.menuList .menuStock a::before { background-image: url('../../public/images/coupon/icon/mypage/icon-stock.png'); }
.menuList .menuBuy a::before { background-image: url('../../public/images/coupon/icon/mypage/icon-buy.png'); }
.menuList .menuLike a::before { background-image: url('../../public/images/coupon/icon/mypage/icon-like.png'); }

.containerWrapTitle { padding-top: 30px; background-color: #fff; }