@charset "UTF-8";/**
* ============================================================
* Modal : 모달
* ============================================================
*/


/* common */
.modal { position: fixed; top: 0; left: 0; z-index: 999; padding: 0 20px; width: 100%; min-width: 280px; height: 100%; overflow-x: hidden; overflow-y: hidden; } 
.modalDialog { position: fixed; left: 0; bottom: 0; width: 100%; min-width: 280px; max-width: 700px; overflow: hidden; background-color: #fff; border-radius: 16px 16px 0 0; } 
.modalContent { background-color: #fff; width: 100%; } 
.modalHeader { position: relative; padding: 20px 20px 0; height: 58px; background-color: #fff; } 
.modalTitle { font-size: 16px; line-height: 58px; } 
.modalTitleSub { margin-top: 11px; font-size: 15px; line-height: 20px; color: #575757; } 
.modalHeader .btnClose { position: absolute; top: -4px; right: -4px; width: 28px; height: 28px; background: url(../../public/images/coupon/icon/common/icon-close.svg) no-repeat center / 28px; font-size: 0; z-index: 10; } 
.modalHeader .logo010 { width: 31px; height: 12px; vertical-align: 0; } 
.modalBody { padding: 0 25px 0; font-size: 16px; } 
.modalBody.bodyContainer { max-height: 350px; overflow-y: auto; } 
.modalBody .termsAgree { margin-top: 27px; } 
.modalFooter { padding: 20px 20px; } 
.modal .textLg { font-size: 106.25%; } 
.modal .textSm { font-size: 75%; color: #575757; } 

/* 공통 모달(alert, confirm) */
.modalCommon .modalHeader { padding: 0 30px; } 
.modalCommon .modalTitle { border-bottom: 1px solid #f1f1f1; } 
.modalCommon .modalTitleLine { line-height: 1; } 
.modalCommon .underBarTitle { padding-top: 30px; padding-bottom: 17px; line-height: 1; font-size: 18px; border-bottom: 1px solid #f1f1f1; } 
.modalCommon .modalBody { padding: 25px 30px; } 
.modalCommon .modalDialog { top: 50%; left: 50%; transform: translate(-50%, -50%); width: 87%; max-width: 328px; height: fit-content; border-radius: 16px; } 
.modalCommon .modalContent { padding: 0; height: auto; } 
.modalCommon .modalFooter { overflow: hidden; padding: 0; } 
.modalCommon .modalFooter .btn { display: inline-block; padding: 0 30px; width: 50%; height: 70px; border-radius: 0; background-color: #fff; font-size: 18px; line-height: 70px; } 
.modalCommon .modalFooter .btnCancel { float: left; color: #575757; font-weight: 400; text-align: left; } 
.modalCommon .modalFooter .btnConfirm { float: right; font-weight: 700; color: #151515; text-align: right; } 


/* 당첨 결과 */
.modalResult .modalBody { position: relative; line-height: 1.2; } 
.modalResult .txtArea { position: relative; padding-top: 15px; width: calc(100% - 9.063em); min-width: 8.125em; z-index: 2; } 
.modalResult .imgArea { position: absolute; right: 20px; bottom: 25px; } 
.modalResult .customerName,
.modalResult .productName { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.modalResult .title { font-size: 28px; line-height: 1.2; white-space: nowrap; } 
.modalResult .title .customerName { display: inline-block; max-width: calc(100% - 1em); vertical-align: top; } 
.modalResult .message { padding: 1.25em 0 0; min-height: 8.438em; } 
.modalResult .message .productName { color: #f93b00; } 
.modalResult .message p + p { margin-top: 3px; } 
.modalResult .imgArea .productImg { display: block; margin-right: 3px; width: 8.438em; height: 8.438em; overflow: hidden; border-radius: 50%; background-color: #f1f1f1; } 
.modalResult .imgArea .productImg img { margin: 5px -5px auto; width: 110%; height: 110%; } 
.modalResult .imgArea .loseImg { margin-right: 10px; width: 5.813em; height: auto; } 
.modalResult .imgArea .labelIcon { position: absolute; top: 0; right: 0; padding: 3px; width: 2.938em; height: 2.938em; border-radius: 50%; background-color: #fff; } 
.modalResult .imgArea .iconEmotionHappy { width: 100%; height: 100%; transform: rotate(10deg); background-position: -4px 0; background-size: auto 100%; } 
.modalResult .message.event { padding-top: 3.125em; } 
.modalResult.lose .txtArea { width: calc(100% - 7em); } 

/* 응모 완료 */
.modalInfo .modalContent { background-color: #f9f9f9; } 
.modalInfo .modalBody { position: relative; color: #575757; letter-spacing: -0.04em; } 
.modalInfo .modalBody strong { color: #151515; } 
.modalInfo .modalBody strong i { margin: -0.313em auto; } 
.modalInfo .modalBody .productImg { margin: 5px auto 10px; width: 8.438em; height: 8.438em; overflow: hidden; border-radius: 50%; background-color: #f1f1f1; } 
.modalInfo .modalBody .productImg img { margin: 5px -5px auto; width: 110%; height: 110%; } 

/* 당첨자 목록 */
.modalWinner .modalContent:after { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 60px; background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); pointer-events: none; } 
.modalWinner .winnerList { clear: both; min-height: 100px; line-height: 1.2; } 
.modalWinner .winnerList:after { content: ''; clear: both; display: block; } 
.modalWinner .winnerList li { float: left; margin-bottom: 10px; width: 50%; } 

/* 전체 화면(약관 상세) */
.modalFullpage .modalHeader { margin-top: 0; margin-bottom: 0; } 
.modalFullpage .modalDialog { height: 100%; max-height: 100%; overflow: hidden; border-radius: 0; } 
.modalFullpage .modalContent { height: 100%; padding: 0; } 
.modalFullpage .modalBody { position: absolute; top: 58px; left: 0; padding: 20px; width: 100%; height: calc(100% - 58px); overflow-y: auto; margin: 0; } 
.modalFullpage .btnClose { width: 58px; height: 58px; background-position: center; } 

/* 동작 */
/* .modal:not(.open) { display: none; } */
/* .modal:not(.open) { opacity: 0; } */
.modal.open:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); } 
.modalDialog.slideDialog { bottom: -100%; -webkit-transition: bottom .5s; transition: bottom .5s; } 
.modal.open .modalDialog.slideDialog { bottom: 0; -webkit-transition: bottom .2s; transition: bottom .2s; } 

.modal .slideModal { transform: translateY(100%); animation-duration: 0.3s; animation-fill-mode: forwards; } 

.modal.open .slideModal { animation-name: slideUp; } 

.modal.close .slideModal { animation-name: slideDown; } 

@keyframes slideUp { 
 0% { transform: translateY(100%); } 
 100% { transform: translateY(0); } 
 }

@keyframes slideDown { 
 0% { transform: translateY(0); } 
 100% { transform: translateY(100%); } 
 }

/* custom */
.marginY20 { margin-top: 20px; margin-bottom: 20px; } 

@media screen and (max-width: 359px){
 .modalBody { font-size: 14px; } 
.modalResult .title { font-size: 24px; } 
 }

/* 기프티몰 */
.modal .btn { display: inline-block; padding: 5px 15px; width: 100%; height: 60px; background-color: #151515; border-radius: 10px; font-size: 18px; font-weight: 700; color: #fff; line-height: 1.2; } 
.modal .btn:disabled { background-color: #d5d5d5; } 
.modalType2 .modalContent { background-color: #fff; } 
.modalType2 .modalHeader { height: auto; } 
.modalType2 .modalTitle { position: relative; line-height: 24px; padding-right: 30px; font-size: 20px; font-weight: 400; color: #151515; } 

/* 약관 모달 */
.modalTerms .modalHeader { padding-top: 36px; } 

.modalBrandSelect .modalHeader { padding-top: 0; } 
.modalBrandSelect .modalTitle { text-align: left; font-size: 18px; line-height: 58px; } 
.modalBrandSelect .modalBody { padding: 0; } 

/* 계좌 설정 */
.modalInfo .load { padding-top: 10px; padding-bottom: 10px; } 
.modalInfo .modalSelectAccount { background-color: #fff; } 
.modalInfo .modalSelectAccount .modalHeader { margin-top: 0; margin-bottom: 8px; } 
.modalInfo .modalSelectAccount .modalHeader .modalTitle { position: relative; font-size: 18px; line-height: 24px; } 
.modalInfo .loadBtnBox:nth-child(1) { margin-top: 0; } 
.modalInfo .loadBtnBox { margin-top: 12px; } 
.modalInfo .loadBtnBox.select .btnOption { border: 1px solid #151515; } 
.modalInfo .btnOption { width: 100%; line-height: 53px; border: 1px solid #ddd; border-radius: 10px; } 

/* 구매 완료 */
.success p.first { margin-top: 0; } 
.success .modalTitle { font-size: 18px; line-height: 1; } 
.success .modalBody { padding: 0; } 
.success .modalBottom { padding: 30px 0; background-color: #f9f9f9; } 
.success .modalBottom .titleInfo { margin-bottom: 15px; } 

/* .modal { box-shadow: 0px -5px 5px 0 rgb(0 0 0 / 10%); z-index: 1; } 
.modalTitle { margin-top: 17px; font-size: 21px; font-weight: 500; color: #151515; } 
.modalSubTitle { margin-bottom: 20px; font-size: 16px; font-weight: 500; color: #575757; } 
.modalInfoBox { display: flex; height: 50px; line-height: 50px; padding: 0 20px; background-color: #f1f1f1; border-radius: 10px; justify-content: space-between; } 
.modalInfoBox .title { font-size: 14px; font-weight: 500; color: #0c0c0c; } 
.modalInfoBox .money { font-size: 19px; font-weight: 700; color: #0c0c0c; } */

.modalMessage .modalHeader, .modalMessage .modalContent, .modalMessage .modalFooter { background-color: #c9e9ff; } 
.modalMessage .modalHeader { height: 30px; } 
.modalMessage .modalHeader .btnClose { top: 25px; right: 20px; } 
.modalMessage .modalBody { box-sizing: border-box; padding: 138px 16px 0; text-align: center; background-image: url("../../public/images/coupon/bg/bg-foryou.png"); background-repeat: no-repeat; background-size: 188px auto; background-position: center 15px; } 
.modalBody .toText, .modalBody .fromText { font-size: 13.5px; color: #151515; font-weight: 700; line-height: 45px; } 
.modalBody .toText { text-align: left; } 
.modalBody .fromText { text-align: right; } 
.modalBody .messageBox { padding: 20px 15px; border-radius: 5px; font-size: 15px; line-height: 19px; text-align: left; word-break: break-all; background-color: #fff; } 

.cancleTable { margin-top: 15px; padding: 20px 15px; font-size: 13px; background-color: #f9f9f9; border-radius: 5px; } 
.cancleTable .cancleTableLine { width: 100%; height: 1.5px; margin: 12px 0 17px; background-color: #dcdcdc; } 
.cancleTable .cancleTableRow { display: flex; justify-content: space-between; line-height: 22px; } 
.cancleTable .totalRow { font-size: 16px; font-weight: 700; } 

/* 순번 대기 팝업 */
.modalWaiting { padding: 0; text-align: center; } 
.modalWaiting .modalBody { padding: 0; text-align: center; } 
.modalWaiting .loadingWrap { position: relative; width: 200px; height: 200px; margin: 60px auto 16px; } 
.modalWaiting .loadingWrap .loading { position: relative; width: 200px; height: 200px; background: url("../../public/images/coupon/popup/loadingCircle.png") center / cover no-repeat; border-radius: 50%; animation: spin 1s ease-in-out infinite; -webkit-animation: spin 1.25s linear infinite; } 
.modalWaiting .loadingWrap .textBox { position: absolute; left: 50%; top: 34px; transform: translateX(-50%); color: #151515; font-size: 16px; line-height: 1; } 
.modalWaiting .loadingWrap .textBox::before { display: block; content: ""; width: 31px; height: 36px; margin: 0 auto 14px; background: url("../../public/images/coupon/popup/img_wait.png") center / cover no-repeat; } 
.modalWaiting .loadingWrap .textBox p { display: flex; align-items: center; justify-content: center; margin-top: 6px; font-weight: bold; font-size: 22px; line-height: 1
; } 
.modalWaiting .loadingWrap .textBox p strong { font-size: 32px; } 
.modalWaiting dl { display: flex; justify-content: space-between; align-items: center; margin: auto; padding: 10px; width: 230px; height: 34px; border-radius: 4px; font-size: 14px; background-color: #F9F9F9; } 
.modalWaiting dl dt { color: #575757; } 
.modalWaiting dl dd { color: #0088FF; } 
.modalWaiting .infoText { margin-top: 16px; font-size: 14px; line-height: 20px; } 
.modalWaiting .infoText b { font-weight: bold; color: #151515; } 
.modalWaiting .botBtnWrap { padding: 30px 20px 20px; } 
.modalWaiting .botBtnWrap button { display: block; width: 100%; height: 60px; font-size: 18px; font-weight: bold; background-color: #151515; color: #fff; border-radius: 10px; } 

@keyframes spin { to { -webkit-transform: rotate(360deg); } 
 }
@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); } 
 }

/* 100원딜 */
.slideCloseBtn { display: block; width: 31px; height: 5px; margin: auto; background-color: #cccccc; border-radius: 3px; } 
.hundredDeal .modalBody { padding: 0 20px; } 
.hundredDeal .titleText { margin-bottom: 35px; padding: 0 5px; } 
.hundredDeal .titleText .topText { font-size: 19px; color: #ff6c00; font-weight: bold; } 
.hundredDeal .titleText .botText { font-size: 26px; color: #151515; } 
.addEntry { display: flex; } 
.addEntry .imgWrap { overflow: hidden; width: 105px; margin-right: 12px; border-radius: 15px; } 
.addEntry .textWrap { display: flex; flex-direction: column; flex: 1; padding: 12px 0 3px; } 
.addEntry .textWrap .product { height: 35px; padding-right: 10px; font-size: 17px; line-height: 1.1; word-break: keep-all; color: #151515; } 
.addEntry .textWrap .botCon { display: flex; justify-content: space-between; align-items: center; height: 40px; margin-top: auto; color: #151515; } 
.addEntry .textWrap .botCon span { font-size: 18px; font-weight: bold; } 
.addEntry .textWrap .botCon .countBox { display: flex; align-items: center; justify-content: space-between; min-width: 105px; border: 1px solid #ccc; border-radius: 9px; font-size: 20px; } 
.addEntry .textWrap .botCon .countBox.disable { color: #ccc; } 
.addEntry .textWrap .botCon .countBox button { font-size: 0; text-indent: -9999px; width: 40px; height: 40px; } 
.addEntry .textWrap .botCon .countBox button.minusBtn { background: url('../../public/images/100deal/icon-minus.png') center / 12px 12px no-repeat; } 
.addEntry .textWrap .botCon .countBox button.plusBtn { background: url('../../public/images/100deal/icon-plus.png') center / 12px 12px no-repeat; } 
.addEntry .textWrap .botCon .countBox button.disable { opacity: 0.5; pointer-events: none; } 

/* 메인 팝업 */
.modalMain .modalDialog { max-width: 300px; } 
.modalMain .modalClick { display: flex; flex-direction: column; width: 100%; height: 100%; } 
.modalMain .modalHeader { position: relative; padding: 0 20px; height: 42px; } 
.modalMain .modalHeader .btnClose { right: 19px; top: auto; bottom: 0; width: 28px; height: 28px; background: url(../../public/images/coupon/icon/common/icon-close.svg) no-repeat 4px bottom / cover; z-index: 15; } 
.modalMain .modalBody { display: flex; flex-direction: column; flex: 1; padding: 0; } 
.modalMain .modalBody .popupTitle { position: relative; text-align: center; color: #151515; font-size: 16px; } 
.modalMain .modalBody .popupTitle strong span { display: inline-block; } 
.modalMain .modalBody .popupSubTitle, .modalMain .modalBody .popupTitle2 .popupSubTitle { color: #585858; } 
.modalMain .modalBody .popupMainTitle { position: relative; display: block; font-size: 29px; line-height: 1.1; width: 100%; height: auto; margin-top: 4px; left: 0; align-items: center; letter-spacing: -0.045em; } 
.modalMain .modalBody .popupMainTitle2 { font-size: 27.5px; line-height: 30px; padding-top: 3px; letter-spacing: -0.05em; top: 2px; } 
.modalMain .modalImgBox { display: flex; align-items: center; flex: 1; text-align: center; margin: 16px 0; padding-top: 0; } 
.modalMain .modalImgBox > img { max-width: 212.5px; } 
.modalMain .modalImgBox2 { position: relative; top: 3px; padding-top: 0; } 
.modalMain .modalFooter { margin-top: auto; padding: 0 20px; } 
.modalMain .modalFooter .btnFull { width: 100%; height: 52px; line-height: 52px; color: #fff; background-color: #151515; border-radius: 10px; font-size: 17px; text-align: center; } 
.modalMain :global .slick-slider { padding-bottom: 20px; } 
.modalMain :global .slick-dots { margin-top: 20px; text-align: center; line-height: 0; } 
.modalMain :global .slick-dots li { display: inline-block; height: 8px; margin: 0 5px; text-align: center; } 
.modalMain :global .slick-dots li.slick-active button { background-color: #a2a2a2; } 
.modalMain :global .slick-dots li button { width: 8px; height: 8px; font-size: 0; border-radius: 2.5px; background-color: #d9d9d9; } 
.modalMain :global .slick-track { display: flex; } 
.modalMain :global .slick-slide { height: auto; } 
.modalMain :global .slick-slide > div, .modalMain :global .slick-slide > div > div { height: 100%; } 
.modalMain :global .slick-slide img { margin: 0 auto; position: relative; } 