@charset "UTF-8";

/**
* ============================================================
* Nav : 네비게이션
* ============================================================
*/

.navWrap { position: fixed; width: 100%; margin: 0 auto; padding: 0; height: 47px; line-height: 47px; background-color: #fff; z-index: 100 }
.navWrap .container { height: 100%; padding: 0; }
.navWrap .nav { white-space: nowrap; overflow-x: auto; overflow-y: hidden; }
.navWrap .nav li { display: inline-block; height: 32px; text-align: center; line-height: 32px; color: #151515; }
.navWrap .nav li:first-child { margin-left: 20px; }
.navWrap .nav li:last-child { margin-right: 20px; }
.navWrap .nav li.active { background-color: #151515; border-radius: 16px; }
.navWrap .nav li.active button { color: #fff; font-weight: 700; background-color: #151515; }
.navWrap .nav li button { position: relative; height: 100%; padding: 0 15px; border-radius: 16px; font-size: 16px; font-weight: 400; background-color: #fff; color: #151515; }