.payWrap { position: relative; padding: 20px 0; }
.forMe { background-color: #fffbc9; background-image: url("../../public/images/coupon/bg/bg-forme.png"); background-repeat: no-repeat; background-size: 285px auto; background-position: center 9px; }
.forYou { background-color: #c9e9ff; background-image: url("../../public/images/coupon/bg/bg-foryou.png"); background-repeat: no-repeat; background-size: 285px auto; background-position: center 9px; }

.btnMsg { display: flex; width: 200px; line-height: 43px; margin: 0 auto; font-size: 15px; font-weight: 500; color: #fff; background-color: #ee9958; border-radius: 21px; justify-content: center; align-items: center; }

.btnOpen { background-color: transparent; color: #ee9958; }
.btn { padding: 8px; color: #fff; font-size: 13px; font-weight: 500; border-radius: 13px; background-color: #4e90ff; }
.btn + .btn { margin-left: 5px;}

/* 결제정보 */
.msgWrap { margin-top: 167px;}

.textBox { position: relative; }
.textBox .textCounter { position: absolute; right: 10px; bottom: 10px; font-size: 15px; color: #d4d4d4; }
.textArea { min-height: 150px; width: 100%; padding: 19px 15px; font-size: 15px; font-weight: 400; border: 1px solid #ddd; border-radius: 10px; background-color: #fff; resize: none; }
.textArea::placeholder { font-size: 15px; font-weight: 400; }

/* payInfoWrap */
.payInfoWrap { padding-bottom: 140px; }
.listTitle { margin-top: 40px; border-bottom: 2px solid #151515; padding-bottom: 15px; font-size: 15px; font-weight: 700; color: #151515; }
.listTitle.last { display: flex; justify-content: space-between; align-items: center; font-size: 18px; }
.listTitle.last span + span { color: #ff2b00; }
.infoProduct { white-space: nowrap; max-height: 17px !important; }
.infoBox { display: flex; flex-direction: column; }
.priceBox { display: flex; flex-direction: column; margin-top: auto; }
.priceBox .price { font-size: 13px; color: #575757; }
.priceBox .price span { width: 10%; font-size: 13px; color: #575757; }
.priceBox .price span + span { margin-left: 20px; font-size: 14px; color: #151515; }

.CouponDetaiSmalllWrap { border-bottom: 1px solid #ececec;}
/* //payInfoWrap */

/* inputBox */
.addBorderBottom { padding-bottom: 20px; border-bottom: 1px solid #ececec; }
.inputBox input:focus { padding: 0; }
.inputBox input[type="text"], .inputBox input[type="tel"] { height: 55px; padding: 0 15px; }
.inputBox .input { position: relative; text-align: right; }
.inputBox .input::placeholder { font-size: 16px; font-weight: 400; }
.inputBox .inputInfoBox { display: flex; justify-content: space-between; align-items: center; margin-top: 24px; }
.inputBox .inputInfoBox > p { font-size: 13px; color: #151515; }
.inputBox .inputInfoBox > p > strong { margin-right: 6px; }
.inputBox .checkbox { position: relative; display: block; }
.inputBox .checkbox > input[type="checkbox"] { position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; font-size: 0; }
.inputBox .checkbox > input + label { position: relative; display: inline-block; padding: 0 0 0 20px; font-size: 14px; font-weight: 400; line-height: 20px; }
.inputBox .checkbox > input + label::before { content: ''; display: block; position: absolute; top: 7px; left: 3px; z-index: 1; width: 9px; height: 7px; background: url(../../public/images/coupon/icon/common/icon-check-white.svg) no-repeat center / 9px 7px; }
.inputBox .checkbox > input + label::after { content: ''; display: block; position: absolute; top: 3px; left: 0; width: 15px; height: 15px; background-color: #fff; border: 1px solid #151515; border-radius: 3px; }
.inputBox .checkbox > input:checked + label:after { background-color: #151515;}
.inputBox.inputDouble .inputInfoBox { flex-direction: column; align-items: start; }
.inputBox.inputDouble .inputInfoBox > p { color: #575757; }
.inputBox.inputDouble .inputDoubleBox { position: relative; }
.inputBox.inputDouble .inputDoubleBox > span { position: absolute; top: 50%; left: 14px; transform: translateY(-50%); margin-top: 5px; z-index: 1; color: #575757; }
.inputBox.inputDouble .inputTop .input { padding-right: 35px; }
.inputBox.inputDouble .inputBottom .input { position: relative; top: -5px; margin-top: 0; background-color: #f1f1f1; z-index: -1; }
.inputBox.inputDouble .inputBottom .input { color: #575757; }
.inputBox.inputDouble .inputBottom > span { margin-top: -3px; }
.inputBox.inputDouble .iconArrowRoundDown { position: absolute; top: 50%; right: 18px; }
.forYou .inputBox .input { text-align: left; }
.forYou .inputGiftBox .name { width: 41%; }
.forYou .inputGiftBox .number { margin-left: 10px; }
.forYou .inputGiftBox .textArea { margin-top: 10px; }
.forYou input { font-weight: 500; }

.load .inputBox .input { text-align: left; }
.load .inputBox .inputInfoBox > p { font-size: 15px; }
.load .loadOptionBox { display: flex; margin-top: 10px; }
.load .loadOptionBox button { width: 25%; background-color: #f1f1f1; font-size: 14px; color: #151515; }
.load .accountBox .subTitle { font-size: 13px; color: #575757; }
.load .loadBtnBox { margin-top: 10px; }
.load .btnAdd { display: flex; justify-content: center; align-items: center;  width: 100%; line-height: 53px; padding: 0; border: 1px dashed #e1e1e1; background-color: #fff; font-size: 16px; color: #151515; }
.load .btnAdd i { margin-right: 7px; }

.inputBox.inputDouble .moneyInfoBox { display: flex; flex-direction: row; justify-content: space-between; }
.inputBox.inputDouble .moneyInfoBox > p span { color: #151515; }
.inputBox.inputDouble .moneyInfoBox .right { font-size: 16px; font-weight: 700; color: #151515; }
/* //inputBox */

.btnOption { display: flex; align-items: center; padding: 0 15px; }
.btnOption img { width: 30px; height: 30px; margin-right: 9px; }
.btnOption .label { margin-left: 3px; padding: 0 8px; font-size: 10px; color: #ff2b00; background-color: #ffeae2; border-radius: 10px; line-height: 19px; }

/* bottom */
.bottomFixed button { display: inline-block; width: 100%; height: 100%; line-height: 65px; font-size: 18px; font-weight: 700; color: #fff; background-color: #151515; }
.bottomFixed button:disabled { background-color: #d5d5d5; }
/* //bottom */