.payWrap { position: relative; padding: 20px 0; } 
.forMe { background-color: #fffbc9; background-image: url("../../public/images/coupon/bg/bg-forme.png"); background-repeat: no-repeat; background-size: 285px auto; background-position: center 9px; } 
.forYou { background-color: #c9e9ff; background-image: url("../../public/images/coupon/bg/bg-foryou.png"); background-repeat: no-repeat; background-size: 285px auto; background-position: center 9px; } 

.btnMsg { display: flex; width: 200px; line-height: 43px; margin: 0 auto; font-size: 15px; font-weight: 500; color: #fff; background-color: #ee9958; border-radius: 21px; justify-content: center; align-items: center; } 

.btnOpen { background-color: transparent; color: #ee9958; } 
.btn { padding: 8px; color: #fff; font-size: 13px; font-weight: 500; border-radius: 13px; background-color: #4e90ff; } 
.btn + .btn { margin-left: 5px; } 

/* 결제정보 */
.msgWrap { margin-top: 167px; } 

.textBox { position: relative; } 
.textBox .textCounter { position: absolute; right: 10px; bottom: 10px; font-size: 15px; color: #d4d4d4; } 
.textArea { min-height: 150px; width: 100%; padding: 19px 15px; font-size: 15px; font-weight: 400; border: 1px solid #ddd; border-radius: 10px; background-color: #fff; resize: none; } 
.textArea::placeholder { font-size: 15px; font-weight: 400; } 

/* payInfoWrap */
.payInfoContent { padding-bottom: 120px; } 
.payInfoWrap { padding-bottom: 140px; } 
.listTitle { margin-top: 40px; border-bottom: 2px solid #151515; padding-bottom: 15px; font-size: 15px; font-weight: 700; color: #151515; } 
.listTitle.first { margin-top: 20px; } 
.listTitle.last { display: flex; justify-content: space-between; align-items: center; font-size: 18px; } 
.listTitle.last span + span { color: #ff2b00; } 
.listTitle.last .unitText { position: relative; top: -1px; font-size: 16px; } 
.infoProduct { white-space: nowrap; max-height: 17px; } 
.infoBox { overflow: hidden; display: flex; flex-direction: column; margin-left: 15px; } 
.priceBox { display: flex; flex-direction: column; margin-top: auto; } 
.priceBox .price { font-size: 13px; color: #575757; } 
.priceBox .price .unitText { position: relative; top: -1px; font-size: 12px; color: #151515; } 
.priceBox .price span { width: 10%; font-size: 13px; color: #575757; } 
.priceBox .price span + span { margin-left: 20px; font-size: 14px; color: #151515; } 

.CouponDetaiSmalllWrap { border-bottom: 1px solid #ececec; } 
/* //payInfoWrap */

/* cardPointWrap */
.cardPointWrap { padding-top: 25px; } 
.cardPointWrap dl { display: flex; justify-content: space-between; } 
.cardPointWrap dl dt { font-size: 14px; font-weight: 700; } 
.cardPointWrap dl dt span { margin-left: 8px; color: #a2a2a2; font-size: 12px; font-weight: 500; } 
.cardPointWrap dl dd { color: #575757; font-size: 13px; } 
.cardPointWrap dl i { margin-left: 10px; } 
.logoWrap { position: relative; width: 100%; height: 40px; margin-top: 20px; overflow: hidden; white-space: nowrap; background-color: #f1f1f1; border-radius: 10px; } 
.logoWrap .logoBox { display: flex; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); animation: imgmove 20s linear infinite; } 
.logoWrap img { height: 18px; width: auto; margin-right: 14px; } 
.bottomList { margin-top: 20px; font-size: 13px; letter-spacing: -0.05em; } 
.bottomList li { display: flex; } 
.bottomList li:before { display: block; content: "·"; margin-right: 3px; } 

@keyframes imgmove { 
 0% { transform: translate(0, -50%); } 
 100% { transform: translate(-50%, -50%); } 
 }
/* //cardPointWrap */

/* inputBox */
.addBorderBottom { padding-bottom: 20px; border-bottom: 1px solid #ececec; } 
.inputBox input:focus { padding: 0; } 
.inputBox input[type="text"], .inputBox input[type="tel"], .inputBox input[type="number"] { height: 55px; line-height: 55px; padding: 0 15px; } 
.inputBox .inputArea { position: relative; z-index: 1; } 
.inputBox .inputArea input { padding: 0 26px; } 
.inputBox .inputArea input:focus { border: none; outline: 2px solid #505050; } 
.inputBox .inputArea .unitText { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); font-size: 14px; color: #575757; } 
.inputBox .input { position: relative; text-align: right; } 
.inputBox .input::placeholder { font-size: 16px; height: auto; line-height: 55px; font-weight: 400; } 
.inputBox { margin-top: 24px; } 
.inputBox.inputBoxMt0 { margin-top: 0; } 
.inputBox .inputInfoBox { display: flex; justify-content: space-between; align-items: center; position: relative; } 
.inputBox .inputInfoBox > p { font-size: 13px; color: #151515; } 
.inputBox .inputInfoBox > p > strong { margin-right: 6px; } 
.inputBox .inputInfoBox .labelTitle { font-size: 15px; } 
.inputBox .checkbox { position: relative; display: block; } 
.inputBox .checkbox > input[type="checkbox"] { position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; font-size: 0; } 
.inputBox .checkbox > input + label { position: relative; display: inline-block; padding: 0 0 0 20px; font-size: 14px; font-weight: 400; line-height: 20px; } 
.inputBox .checkbox > input + label::before { content: ''; display: block; position: absolute; top: 50%; left: 0; transform: translateY(-50%); z-index: 1; width: 15px; height: 15px; background-image: url(../../public/images/coupon/icon/common/icon-check-square-off.svg); background-size: cover; background-repeat: no-repeat; } 
.inputBox .checkbox > input:checked + label:before { background-image: url(../../public/images/coupon/icon/common/icon-check-square-on.svg); } 
.inputBox.inputDouble .inputInfoBox { flex-direction: column; align-items: start; } 
.inputBox.inputDouble .inputInfoBox > p { color: #575757; } 
.inputBox.inputDouble .inputDoubleBox { position: relative; margin-top: -8px; padding-top: 8px; border-radius: 0 0 10px 10px; background-color: #f1f1f1; } 
.inputBox.inputDouble .inputTop { position: relative; z-index: 1; padding: 0 15px; margin-top: 10px; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 55px; border: 1px solid #f1f1f1; border-radius: 10px; color: #575757; background-color: #fff; } 
.inputBox.inputDouble .inputDoubleBox > span { position: absolute; top: 50%; left: 14px; transform: translateY(calc(-50% + 4px)); z-index: 2; color: #575757; } 
.inputBox.inputDouble .inputTop .input { padding-right: 10px; } 
.inputBox.inputDouble .inputTop .loadMoney { font-size: 16px; font-weight: 700; color: #151515; } 
.inputBox.inputDouble .inputTop .loadMoney .unitText { position: relative; top: -1px; font-size: 14px; } 
.inputBox.inputDouble .inputBottom .input { position: relative; margin-top: 0; background-color: #f1f1f1; } 
.inputBox.inputDouble .inputBottom .input { color: #575757; font-size: 16px; font-weight: 400; } 
.inputBox.inputDouble .errorText { opacity: 0; display: flex; align-items: center; padding-right: 8px; color: #fb3636; font-size: 13px; z-index: 1; } 
.inputBox.inputDouble.error .inputTop .input { position: relative; } 
.inputBox.inputDouble.error .inputBottom .input { color: #fb3636; } 
.inputBox.inputDouble.error .inputBottom .unitText { color: #fb3636; } 
.inputBox.inputDouble.error .errorText { opacity: 1; } 
/* .inputBox.inputDouble .iconArrowRoundDown { position: absolute; top: 50%; right: 18px; } */
.forYou .inputBox .input { text-align: left; } 
.forYou .inputGiftBox .name { width: 41%; } 
.forYou .inputGiftBox .number { margin-left: 10px; } 
.forYou .inputGiftBox .textArea { margin-top: 10px; } 
.forYou input, .forYou textarea { font-weight: 500; } 

.inputBox .subTitle { font-size: 13px; } 
.inputBox .inputInfoBox + .subTitle { margin-top: 24px; } 

/* 충전 */
.load .inputBox .input { text-align: left; } 
.load .inputBox .inputInfoBox > p, .load .inputBox .inputInfoBox .title { font-size: 15px; } 
.load .loadOptionBox { display: flex; margin-top: 10px; } 
.load .loadOptionBox button { width: 25%; background-color: #f1f1f1; font-size: 14px; color: #151515; } 
.load .accountBox .subTitle { font-size: 13px; color: #575757; } 
.load .loadBtnBox { margin-top: 10px; } 
.load .btnAdd { display: flex; justify-content: center; align-items: center; width: 100%; line-height: 53px; padding: 0; border: 1px dashed #e1e1e1; background-color: #fff; font-size: 16px; color: #151515; } 
.load .btnAdd i { margin-right: 7px; } 

.load .inputBox .highlightText { margin-top: 20px; font-size: 15px; font-weight: 700; color: #151515; text-align: center; } 
.load .inputBox .inputLoadBox { position: relative; height: 90px; margin-top: 10px; border: 1px solid #f1f1f1; border-radius: 10px; } 
.load .inputBox .inputLoadBox.focus { box-shadow: 4px 4px 5px rgb(6 0 0 / 15%); border: 2px solid #505050; } 
.load .inputBox .inputLoadBox.focus.error { border: 1px solid #fb3636; } 
.load .inputBox .inputLoadBox .floatText { position: absolute; top: 16px; left: 15px; z-index: 1; font-size: 14px; font-weight: 500; opacity: 0; } 
.load .inputBox .inputLoadBox .btnDel { opacity: 0; } 
.load .inputBox .inputLoad { position: relative; top: 34px; height: 32px; line-height: 32px; font-size: 28px; margin-top: 0; border: none; background-color: transparent; } 
.load .inputBox .inputLoad:focus { box-shadow: none; } 
.load .inputBox .inputLoad::placeholder { font-size: 28px; font-weight: 700; margin-top: 10px; } 
/* .load .inputBox .inputLoadBox.focus .inputLoad { padding-top: 21.5px; } */
.load .inputBox .inputLoadBox.focus .floatText { opacity: 1; } 
.load .inputBox .inputLoadBox.focus .btnDel { opacity: 1; top: auto; bottom: 19px; right: 7px; } 
.load .inputBox .inputLoadBox.focus.error input[type="tel"] { color: #fb3636; } 
.load .inputBox .inputLoadBox.focus.error .floatText { color: #fb3636; } 
.load .inputBox .inputLoadBox.focus .inputLoad { top: 38px; } 

.inputBox.inputDouble .moneyInfoBox { display: flex; flex-direction: row; justify-content: space-between; margin-top: 6px; } 
.inputBox.inputDouble .moneyInfoBox > p span { color: #151515; } 
.inputBox.inputDouble .moneyInfoBox .right { font-size: 16px; font-weight: 700; color: #151515; } 
.inputBox.inputDouble .moneyInfoBox .right .unitText { position: relative; top: -1px; font-size: 14px; } 
.load .inputBox .placeholderText { position: absolute; top: 38px; left: 15px; height: 32px; line-height: 32px; font-size: 28px; font-weight: 700; color: #d5d5d5; } 
.load .inputBox .inputLoadBox.focus .placeholderText { display: none; } 
.load .inputBox .inputLoadBox.focus .placeholderText.show { display: block; } 
/* //inputBox */

/* 구매 완료 */
.successWrap .inputBox .inputInfoBox { margin-top: 24px; flex-direction: row; justify-content: start; } 
.successWrap .inputBox .inputInfoBox .title { margin-right: 6px; } 
.successWrap .infoBox .prdName { display: inline-block; margin-right: 6px; vertical-align: top; } 
.successWrap .CouponDetaiSmalllWrap .infoBox .infoBrand { margin-top: auto; color: #151515; } 
.successWrap .CouponDetaiSmalllWrap .infoBox .infoProduct { margin-bottom: auto; white-space: normal; color: #151515; } 
.successWrap .CouponDetaiSmalllWrap .infoBox .infoProduct.paySuccess { max-height: none; } /* 구매완료 일때만 제품명 말줄임 제거 */
.successWrap .infoBox .prdErrorMsg { display: inline-block; max-height: 36px; margin-bottom: auto; font-size: 13px; font-weight: 400; color: #a2a2a2; text-overflow: ellipsis; overflow: hidden; } 

.successWrap .CouponDetaiSmalllWrap { border-bottom: 1px solid #eee; } 
.successWrap .CouponDetaiSmalllWrap .inputInfoBox { margin-top: 0; } 
.successWrap .inputInfoBox .title { font-size: 14px; } 
.successWrap .inputInfoBox .titleRight { font-size: 13px; } 
.successWrap .subTitle { font-size: 13px; color: #575757; } 
.successWrap .subTitle.sendMsg { margin-top: 7px; } 
.successWrap .borderBold { border-bottom: 2px solid #151515; } 

.modalBtnWrap { text-align: center; } 
.modalBtnWrap .subTitle { margin-top: 43px; } 
.modalBtnWrap .btn { width: 101px; height: 30px; margin-top: 20px; font-size: 13px; background-color: #fff; color: #151515; border: 1px solid #151515; border-radius: 5px; } 
.modalBtnWrap .btnRefresh { width: 130px; } 
.modalBtnWrap .icoRefresh { display: inline-block; width: 12px; height: 11px; margin-right: 6px; background: url('../../public/images/coupon/icon/common/icon-refresh.png') no-repeat center / contain; } 

.btnOption { display: flex; align-items: center; padding: 0 15px; } 
.btnOption img { width: 30px; height: 30px; margin-right: 9px; } 
.btnOption .label { margin-left: 3px; padding: 0 8px; font-size: 10px; color: #ff2b00; background-color: #ffeae2; border-radius: 10px; line-height: 19px; } 

/* bottom */
.bottomFixed button { display: inline-block; width: 100%; height: 100%; line-height: 65px; font-size: 18px; font-weight: 700; color: #fff; background-color: #151515; } 
.bottomFixed button:disabled { background-color: #d5d5d5; } 
/* //bottom */