.SwiperWrapList { padding: 0; background-color: #fff; }
.SwiperWrap { padding: 17px 0; }
.SwiperTitle { font-size: 14px; font-weight: 400; }
.SwiperTitle > span { color: #ff3000; }
.SwiperWrap .swiper-slide { max-width: 160px; }

.dottedWrap { background-image: linear-gradient(to right, #dcdcdc 60%, #fff 60%); background-position: inherit; background-size: 10px 2px; background-repeat: repeat-x; width: calc(100% - 32px); height: 2px; margin: 0 auto; }