.SwiperWrapList { padding: 0; background-color: #fff; }
.SwiperWrap { padding: 17px 0; }
.SwiperTitle { display: flex; justify-content: center; align-items: center; font-size: 14px; font-weight: 400; }
.SwiperTitle > p { margin-right: auto; }
.SwiperTitle > p > span { color: #ff3000; }
.SwiperWrap .swiper-slide { max-width: 160px; }
.SwiperWrap .infoAuto { font-size: 12px; margin-top: -5px; }
.SwiperWrap .infoAuto.on { color: #ff3000; }

.dottedWrap { background-image: linear-gradient(to right, #dcdcdc 60%, #fff 60%); background-position: inherit; background-size: 10px 2px; background-repeat: repeat-x; width: calc(100% - 32px); height: 2px; margin: 0 auto; }

.SwiperTitle .locate { margin-left: auto; display: flex; align-items: center; font-size: 13px; color: #575757; }
.SwiperTitle .locate::after { display: block; content: ""; width: 6px; height: 9.5px; margin-left: 6px; background: url('../../public/images/coupon/icon/common/icon-arrow-right.png') center /contain no-repeat; } 

