.SwiperWrapList { padding: 17px 0; background-color: #fff;  background-image: linear-gradient(to right, #dcdcdc 60%, #fff 60%); background-position: top; background-size: 10px 2px; background-repeat: repeat-x; }
.SwiperTitle { font-size: 14px; font-weight: 400; }
.SwiperTitle > span { color: #ff3000; }
.SwiperWrap .swiper-slide { max-width: 160px; }