.rewardBannerWrap { position: relative; width: 100%; height: auto; margin-top: 45px; } 
.rewardBannerWrap a { display: block; } 
.rewardBannerWrap :global .swiper-pagination { position: absolute; bottom: 10px; right: 20px; left: auto; width: auto; padding: 2px 8px; border-radius: 20px; background-color: rgba(87, 87, 87, 0.5); color: #fff; font-size: 12px; line-height: 18px; font-weight: 400; } 
