.container {padding: 55px 0 0; background-image: linear-gradient(to top, #ff574e, #ff495b, #ff3597);}
.topTextWrap {text-align: center; color: #fff; font-family:  "GmarketSans"; line-height: 1;}
.topTextWrap .text_1 {font-size: 18px; text-shadow: 0px 2px 20px rgba(12, 12, 12, 0.46); letter-spacing: -0.8px;}
.topTextWrap .text_1 span {position: relative; color: #ffeb0e;}
.topTextWrap .text_1 span.dotTop::before {content: ""; display: block; position: absolute; top: -6px; left: 50%; transform: translate(-50%, -50%); width: 2px; height: 2px; border-radius: 50%; background-color: #ffeb0e;}
.topTextWrap .text_2 {margin: 10px 0 15px; font-size: 34px; font-weight: bold; letter-spacing: -1.45px; text-shadow: 0px 2px 20px rgba(12, 12, 12, 0.46)}
.topTextWrap .text_2 span { color: #ffeb0e;}
.topTextWrap .text_3 {display: flex; justify-content: center; align-items: center;  font-size: 13px}
.topTextWrap .text_3 span {display: flex; align-items: center;}
.topTextWrap .text_3 span:last-child::before {transform: translateY(-1px); content: ""; display: block; width: 1px; height: 12.5px; margin: 0 10px; background-color: #e0e3ff;}
.visualImg {width: 100%; height: 0; margin-top: 19px; padding-top: calc(498 / 750 * 100%); background: url('../../public/images/promotion/savePromotion_1.png') center center / cover no-repeat;}
.boxWrap {position: relative; display: flex; margin: 0 20px; }
.boxWrap::before {content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 90%; border-radius: 18px; box-shadow: 7px 18px 11px 2px rgb(0 0 0 / 30%);}
.boxWrap > div {background-color: #fff;}
.boxWrap .leftBox { z-index: 1; flex: 1; padding: 27px 22.5px; border-top-left-radius: 18px; border-bottom-left-radius: 18px; line-height: 1;}
.boxWrap .leftBox .text_1 {font-size: 13px; font-weight: bold;}
.boxWrap .leftBox .text_1 i {font-style: italic;}
.boxWrap .leftBox .text_2 { display: inline-block; position: relative; z-index: 1; margin: 3px 0 13px; font-size: 19px; font-weight: bold;}
.boxWrap .leftBox .text_2::before {content: ""; display: block; position: absolute; bottom: -1px; left: 0; z-index: -1; width: 100%; height: 17px; background-color: #ffeb0e;}
.boxWrap .leftBox .text_2 span {font-size: 25px;}
.boxWrap .leftBox .text_3 { font-size: 13px;}
.boxWrap .leftBox .text_3 span {color: #ff2b8a}
.boxWrap .midBox {display: flex; position: relative; background-color: transparent;}
.boxWrap .midBox::before {content: ""; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 1.5px; height: calc(100% - 24px); background: url('../../public/images/promotion/savePromotion_2.png') center center / contain repeat;}
.boxWrap .midBox div {display: flex; flex-direction: column;}
.boxWrap .midBox div span {flex: 1; background-color: #fff;}
.boxWrap .midBox div:first-child::before { content: ""; display: block; border-style: solid; border-width: 0 7px 7px 0; border-color: transparent transparent #fff transparent;}
.boxWrap .midBox div:first-child::after { content: ""; display: block; border-style: solid; border-width: 0 0 7px 7px; border-color: transparent transparent transparent #fff;}
.boxWrap .midBox div:last-child::before { content: ""; display: block; border-style: solid; border-width: 0 0 7px 7px; border-color: transparent transparent #fff  transparent;}
.boxWrap .midBox div:last-child::after { content: ""; display: block; border-style: solid; border-width: 0 7px 7px 0; border-color: transparent #fff transparent transparent;}
.boxWrap .rightBox {position: relative; z-index: 1; width: 30%; border-top-right-radius: 18px; border-bottom-right-radius: 18px;}
.boxWrap .rightBox .slide {position: absolute; top: 0; left: 0; justify-content: center; width: calc(100% - 7px); height: 100%;}
.boxWrap .rightBox .slide :global .swiper-slide {display: flex; justify-content: center; align-items: center; width: 100%;}
.boxWrap .rightBox .slide :global .swiper-slide img {width: 44px; transition: 0.3s; opacity: 0.4;}
.boxWrap .rightBox .slide :global .swiper-slide.swiper-slide-active img {width: 55px; opacity: 1;}

.container .infoWrap {width: calc(100% - 40px); margin: 20px 20px 0; padding: 20px 0; border-top: 1px solid #fff;}
.container .infoBox {margin-bottom: 20px;}
.container .title { margin-bottom: 20px; color: #fff;}
.container .title .downBtn {content: ""; display: block; width: 10px; margin-left: auto; height: 6px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-down-white.png'); background-size: cover;}
.container .title .downBtn:global.down {transform: rotate(180deg);}
.container .italicRound {border: 1px solid #fff;}
.container .infoBox .infoText {color: #fff;}

.floatBtn {position: fixed; right: 20px; bottom: 18px; display: block; font-size: 10px; color: #fff; width: 83px; height: 83px; background-image: url('../../public/images/promotion/pointFloatBtn.png'); background-size: cover;}
.floatBtn span {position: absolute; left: 26px; top: 3px; font-family: 'GmarketSans';}

.modalWrap {z-index: 10; display: flex; flex-direction: column; align-items: center; position: fixed; bottom: 0; left: 0; width: 100%; padding: 47px 20px 20px;background-color: #fff;border-radius: 16px 16px 0 0; box-shadow: 0 0 32px 0 rgba(6, 0, 0, 0.26); line-height: 1;}
.modalWrap .btnClose { position: absolute; top: 20px; right: 20px; width: 24px; height: 24px; background: url('../../public/images/hotdeal/icon/icon-close.svg') no-repeat center / 18px; font-size: 0; z-index: 10; }
.modalWrap .modalText {padding-top: 72px; font-size: 18px; font-weight: bold; background: url('../../public/images/promotion/img_point.png') no-repeat center top / 46px;}
.modalWrap .price {position: relative; margin-top: 8px; font-size: 30px; font-weight: bold;}
.modalWrap .price::before{content: ""; display: block; position: absolute; bottom: 3px; left: 0; z-index: -1; width: 100%; height: 20px; background-color: #ffeb0e}
.modalWrap .botBtn {display: block; width: 100%; height: 60px; margin-top: 38px; font-size: 18px; font-weight: bold; background-color: #151515; color: #fff; border-radius: 10px;}



