.container { padding: 0; }
.slideWrap { padding: 40px 0; background-color: #fff; }
.card { width: 100%; padding: 0; }
.imgBox { position: relative; width: 100%; min-width: 250px; margin: 0 auto; background-color: #eee; }
.imgBox::after { position: relative; display: block; content: ""; padding-bottom: 100%; background: rgba(0, 0, 0, 0.02); }
.imgBox img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.infoBox { margin: 0 auto; }
.infoBox p { color: #151515; }
.infoBox p > strong { color: #ff2b00; }
.infoBox .infoLabel { display: inline-block; padding: 5px 9px; margin-top: 15px; color: #e6ff00; font-size: 11px; background-color: #000; border-radius: 2.5px; }
.infoBox .infoBrand { font-size: 13px; margin-top: 10px; font-weight: 700; }
.infoBox .infoProduct { font-size: 17px; font-weight: 500; line-height: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.infoBox .infoPrice { font-size: 17px; font-weight: 700; color: #ff2b00; }
.infoBox .infoDcPrice { position: relative; top: -1px; display: inline-block; margin-right: 3px; font-size: 13px; font-weight: 500; color: #a2a2a2; text-decoration: line-through; }
.infoBox .infoDcPriceNormal { position: relative; display: inline-block; margin-right: 3px; font-size: 17px; font-weight: 500; color: #ff2b00; }
.infoBtn { width: 120px; line-height: 20px; margin-top: 20px; border-radius: 3px; border: 1px solid #151515; font-size: 12px; font-weight: 500; text-align: center; color: #151515; }
.iconArrowRight { position: relative; top: 1px; }
.slideWrap .infoBottomText { margin-top: 24px; font-size: 12px; color: #575757; }
.slideWrap .infoBottomText span { font-weight: 700; }

.slideWrap .slick-slide { opacity: .5; transform: scale(0.95);}
.slideWrap .slick-dots { text-align: center; }
.slideWrap .slick-dots li { display: inline-block; margin: 0 5px }
.slideWrap .slick-dots li.slick-active button {background-color: #a2a2a2; }
.slideWrap .slick-dots li button { width: 8px; height: 8px; font-size: 0; border-radius: 2.5px; background-color: #f1f1f1;}
.slideWrap .slick-center { opacity: 1; }

.slideWrap :global .slick-slide { opacity: .5;}
.slideWrap :global .card { padding: 0; }
.slideWrap :global .slick-dots { margin-top: 30px; text-align: center; }
.slideWrap :global .slick-dots li { display: inline-block; margin: 0 5px; }
.slideWrap :global .slick-dots li.slick-active button {background-color: #a2a2a2; }
.slideWrap :global .slick-dots li button { width: 8px; height: 8px; font-size: 0;border-radius: 2.5px; background-color: #f1f1f1;}
.slideWrap :global .slick-center { opacity: 1; }
.slideWrap :global .slick-slide :local(.card) { transform: scale(0.9); transition: all .3s; }
.slideWrap :global .slick-center :local(.card) { transform: scale(1); }

.slickVoid > div { padding: 0 10%; }
.slickVoid .card .imgBox { position: relative; overflow: hidden; min-height: 250px; }
.slickVoid .card .infoBox .infoLabel { position: relative; overflow: hidden; min-width: 50px; min-height: 21px; background-color: #eee; }
.slickVoid .card .infoBox .infoBrand { position: relative; overflow: hidden; background-color: #eee; min-height: 18px; }
.slickVoid .card .infoBox .infoProduct { position: relative; overflow: hidden; background-color: #eee; min-height: 20px; }
.slickVoid .card .infoBox .infoPrice { position: relative; overflow: hidden; background-color: #eee; min-height: 23px; }
.slickVoid .card .infoBox .infoBottomText { position: relative; overflow: hidden; background-color: #eee; min-height: 16px; }
.slickVoid .card .imgBox::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
.slickVoid .card .infoBox .infoLabel::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
.slickVoid .card .infoBox .infoBrand::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
.slickVoid .card .infoBox .infoProduct::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
.slickVoid .card .infoBox .infoPrice::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
.slickVoid .card .infoBox .infoBottomText::after { content: ''; display: block; position: absolute; top: 0%; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); animation: loading 2s infinite linear; }
@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(460px);
  }
}