/* PAY쿠폰 사용 설정 */
.logoImg {display: block; flex: 0 0 auto; width: fit-content; height: 15px; object-fit: contain;}
.titleText {font-size: 16px; font-weight: bold; line-height: 1;}
.subText {margin-top: 12px; color: #575757; font-size: 13px; line-height: 1.46;}
.payCouponAuto {padding: 25px 20px 30px;}
.payCouponAuto .titleText {padding-left: 21px; background-image: url('../../public/images/coupon/icon/mypage/icon-on.png'); background-repeat: no-repeat; background-size: 17px auto; background-position: left center;}
.topCon {display: flex; flex-wrap: wrap; justify-content: space-between;}
.toggleWrap {display: flex; box-sizing: border-box; width: 45px; height: 24px; border-width: 3px; border-style: solid; border-radius: 24px;}
.toggleWrap:global.on {justify-content: flex-end; border-color: #ff2b00; background-color: #ff2b00;}
.toggleWrap:global.off {justify-content: flex-start; border-color: #dfe1e3; background-color: #dfe1e3;}
.toggleWrap .toggleBtn {display: block; width: 18px; height: 18px; border-radius: 50%; background-color: #fff;}
.botCon {width: 100%; margin-top: 22px; padding: 19px; border-radius: 15px; font-size: 11px; background-color: #f1f1f1;}
.botCon p { line-height: 1;}
.botCon ul {display: flex; flex-wrap: wrap; row-gap: 6px; margin-top: 13px;}
.botCon ul li {flex: 0 0 auto; display: flex; align-items: center; margin-right: 13px; background-repeat: no-repeat; background-position: left center;}
.botCon ul li:last-child {margin-right: 0;}
.botCon ul li img {display: block; width: auto; height: 16px; margin-right: 5px;}

.payCouponselect {padding: 30px 20px 0; border-top: 10px solid #f1f1f1;}
.payCouponselect .titleText {padding-left: 21px; background-image: url('../../public/images/coupon/icon/mypage/icon-firstuse.png'); background-repeat: no-repeat; background-size: 14px auto; background-position: left center;}
.payCouponselect .selectBtn {width: 100%; margin-top: 19px; padding: 17px 0; border: 1px solid #151515; border-radius: 5px; line-height: 1;}
.payCouponselect .selectBtn span {padding-right: 14px; font-size :14px; font-weight: bold; background-image: url('../../public/images/coupon/icon/common/icon-arrow-right.svg'); background-repeat: no-repeat; background-size: 6px auto; background-position: right center;}

/* 우선 사용 쿠폰 선택 */
.firstCouponSelect {margin-top: 40px; padding: 40px 20px 40px; text-align: center; background-image: url('../../public/images/coupon/icon/mypage/icon-firstuse.png'); background-repeat: no-repeat; background-size: 23px auto; background-position: center top;}
.firstCouponSelect .titleText {display: inline-flex; position: relative; z-index: 1; font-size: 22px; line-height: 1.23;}
.firstCouponSelect .titleText::before {display: block; position: absolute; z-index: -1; top: 13px; width: 100% ; height: 13px; background-color: #e6ff00; content: "";}
.firstCouponSelect .subText {margin: 17px 0 30px; line-height: 1;}
.firstCouponSelect .selectBtn {display: flex; align-items: center; padding: 0 20px; width: 100%; height: 64px; border: 1px dashed #a2a2a2; border-radius: 15px; background-image: url('../../public/images/coupon/icon/common/icon-arrow-down.svg'); background-repeat: no-repeat; background-size: 10px auto; background-position: right 20px center;}
.firstCouponSelect .selectBtn:global.on {border: 1px solid #151515;}
.firstCouponSelect .selectBtn span {display: block; color: #a2a2a2; background-repeat: no-repeat; background-position: left center;  font-size: 14px; font-weight: bold;}
.firstCouponSelect .selectBtn:global.on span {width: 90%; text-align: left; font-size: 18px; color: #151515;}


/* 선택가능 브랜드 토스트 */
.brandListWrap {padding-bottom: 30px; background-color: #f6f6f6}
.brandListWrap .noList {display: flex; justify-content: center; align-items: center; width: 100%; height: 100px; padding-top: 30px; font-size: 14px; color: #a2a2a2; text-align: center;}
.brandList {display: grid; grid-template-columns: repeat(3, 1fr); gap: 11px; overflow: auto; padding: 20px 20px 0; background-color: #f6f6f6;}
.brandList li {display: flex; flex-direction: column; align-items: center; position: relative; border-radius: 8px; background-color: #fff;}
.brandList li::after {display: block; content: ""; padding-bottom: 100%;}
.brandList li .conBox {position: absolute; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-sizing: border-box; width: 100%; height: 100%; padding: 19px 0 13%; font-size: 13px; line-height: 1;}
.brandList li .conBox .imgWrap {display: flex; justify-content: center; align-items: center; height: 70%; text-align: center;}
.brandList li .conBox img {width: 46%;}
.brandList li:nth-child(1) .conBox img {width: 57%;}

/* 쿠폰상세 */
.modalDetailWrap {padding: 0 20px 30px;}
.modalTopcon { position: relative; display: flex; padding: 0 0 25px;}
.modalTopcon .imgBox {display: flex; justify-content: center; align-items: center; position: relative; width: 100px; height: 100px; margin-right: 16px; border: 1px solid #f1f1f1; border-radius: 10px;}
.modalTopcon .imgBox img {width: 57px; height: fit-content;}
.modalTopcon .infoBox {display: flex; flex-direction: column; justify-content: center;}
.modalTopcon .infoBox .infoBrand { margin-top: 0; font-size: 12px; font-weight: 700; }
.modalTopcon .infoBox .infoProduct { margin-top: 2px; font-size: 14px; max-height: 34px; line-height: 17px; overflow: hidden; text-overflow: ellipsis; }
.modalTopcon .infoBox .infoDcPrice { position: relative; display: inline-block; margin-top: 9px; margin-right: 3px; font-size: 13px; font-weight: 500; color: #a2a2a2; text-decoration: line-through; }
.modalTopcon .infoBox .infoPrice { display: block; margin-top: 8px; font-size: 16px; font-weight: 700; color: #151515; }
.modalDetailWrap .textWrap dl {display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 25px; border-top: 1px solid #ececec; font-size: 13px;}
.modalDetailWrap .textWrap dl dt,
.modalDetailWrap .textWrap dl dd {width: 50%; margin-top: 15px; line-height: 1;}
.modalDetailWrap .textWrap dl dt:nth-child(1),
.modalDetailWrap .textWrap dl dd:nth-child(2) {margin-top: 0}
.modalDetailWrap .textWrap dl dd {text-align: right;}
.modalDetailWrap .textWrap dl dd.grayBox {width: 100%; margin-top: 9px; text-align: left; background-color: #f1f1f1; padding: 16px 20px; border-radius: 10px; line-height: 1.7;}

.firstCouponRadio {padding: 35px 21px; background-color: #f1f1f1;}
.firstCouponRadio:global.float {padding-bottom: 68px;}
.firstCouponRadio .topCon {align-items: flex-end; line-height: 1;}
.firstCouponRadio .leftText {font-size: 15px;}
.firstCouponRadio .leftText span {font-weight: bold;}
.firstCouponRadio .rightText {font-size: 13px;}
.firstCouponRadio .radioWrap {margin-top: 20px;}
.firstCouponRadio .radioWrap .radioBox { display: flex; justify-content: space-between; margin-bottom: 15px; align-items: center; padding: 23px 26px; border-radius: 15px; background-color: #fff; background-repeat: no-repeat; background-size: auto 15px; background-position: 26px 23px;}
.firstCouponRadio .radioWrap .textBox {display: flex; flex-direction: column; width: 75%;}
.firstCouponRadio .radioWrap .textBox .discount { margin-top: 2px; font-size:18px; font-weight: bold;}
.firstCouponRadio .radioWrap .textBox .date {color: #575757; font-size:12px;}
.firstCouponRadio .radioWrap label {display: flex; justify-content: flex-end; width: 25%;height: 100%;}
.firstCouponRadio .radioWrap label .radioCircle {flex-shrink: 0; box-sizing: border-box; width: 19px; height: 19px; border: 3px solid #fff; border-radius: 50%; background-color: #dfdfdf; box-shadow: 0 0 0 1px #151515;}
.firstCouponRadio .radioWrap label input {display: none;}
.firstCouponRadio .radioWrap label input:checked + .radioCircle {background-color: #fb2b00;  box-shadow: 0 0 0 1px #fb2b00;}
.firstCouponRadio .floatBtn {display: block; position: fixed; bottom: 0; left: 0; width: 100%; padding: 25px 0; color: #fff; font-size: 18px; font-weight: bold; line-height: 1; background-color: #151515;}
.firstCouponRadio .firstUse {flex-shrink: 0; display: block; width: 50px; height: 20px; margin-right: 11px; border-radius: 10px; color: #fb2b00; text-align: center; font-size: 11px; letter-spacing: -0.55px; line-height: 20px; background-color: #ffece8;}
