@charset "UTF-8";

/**
* ============================================================
* SwiperBanner : 스위퍼 배너
* ============================================================
*/

.SwiperBannerWrap { position: relative; height: auto; margin-top: -15px; background-color: #fff; }
.SwiperBannerWrap .swiper-slide { text-align: center; }
.SwiperBannerWrap img { width: auto; height: 100px; }
.SwiperBannerWrap .swiper-pagination { position: absolute; right: 15px; bottom: 0; width: 40px; line-height: 18px; margin-bottom: 15px; border-radius: 9px; background: rgba(255, 255, 255, 0.5); font-size: 12px; text-align: center; z-index: 1; }

.SwiperBannerWrap :global .swiper-slide { text-align: center; }
.SwiperBannerWrap :global img { width: 100%; height: auto; }
.SwiperBannerWrap :global .swiper-pagination { position: absolute; right: 15px; bottom: 0; width: 40px; line-height: 18px; margin-bottom: 15px; border-radius: 9px; background: rgba(255, 255, 255, 0.5); font-size: 12px; text-align: center; z-index: 1; }