/* 토스트 */
.toastPopup { position: fixed; bottom: -200px; left: 0; width: 100%; padding-bottom: 20px; text-align: center; transition: bottom .3s; z-index: 100; background: linear-gradient(180deg, rgba(0,0,0,0) 45%, rgba(0,0,0,0.5) 100%); }
.toastPopup .toastImg { position: relative; width: auto; height: 77px; margin-bottom: -40px; z-index: 1; }
.toastPopup .toastBox { padding-top: 60px; height: 140px; border-radius: 10px; font-size: 16px; background-color: #fff; }
.toastPopup .hilightText { font-size: 21px; }
.toastPopup .colorText { color: #ff2b00; }

.toastPopup2 { padding-bottom: 0; box-shadow: 0px -5px 5px 0 rgb(0 0 0 / 10%); z-index: 10; border-radius: 10px 10px 0 0; background-color: #fff; }
.toastPopup2 .toastBox { padding-top: 0; padding-bottom: 20px; height: auto; border-radius: 10px 10px 0 0; text-align: left; }
.toastPopup .toastTitle { margin-top: 17px; font-size: 21px; font-weight: 500; color: #151515; }
.toastPopup .toastSubTitle { margin-top: 2px; margin-bottom: 20px; font-size: 16px; font-weight: 500; color: #575757; }
.toastPopup .toastInfoBox { display: flex; height: 50px; line-height: 50px; padding: 0 20px; background-color: #f1f1f1; border-radius: 10px; justify-content: space-between; }
.toastPopup .toastInfoBox .title { font-size: 14px; font-weight: 500; color: #0c0c0c; }
.toastPopup .toastInfoBox .money { font-size: 19px; font-weight: 700; color: #0c0c0c; }