.imgWrap {background-color: #f1f1f1; border-radius: 10px;}
.imgWrap .imgBox {background-color: #fff;}
.imgWrap .btnWrap {display: flex;}
.imgWrap .delete,.imgWrap .buy {position: relative; padding: 12px 0; width: 50%; font-size: 13px; color: #575757;}
.imgWrap .delete::after {position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background-color: #a2a2a2; content: "";}
.imgWrap .delete span {padding-left: 13px; background-image: url('../../public/images/coupon/icon/mypage/icon-del.png'); background-repeat: no-repeat; background-size: 11px auto; background-position: 0 center;}
.imgWrap .buy span {padding-left: 13px; background-image: url('../../public/images/coupon/icon/mypage/icon-buy2.png'); background-repeat: no-repeat; background-size: 10px auto; background-position: 0 center;}