@charset "utf-8";

@import url(font.css);

/* device default */
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-text-size-adjust:none;text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased
}
html{-ms-touch-action:none}
body{background-color:#f6f6f6}

/* reset */
html,body{height:100%;margin:0;padding:0}
body,p,ul,menu,ol,li,dl,dt,dd,form,table,th,td,fieldset,input,textarea,select,button,h1,h2,h3,h4,h5,h6,pre,address,i,svg{margin:0; padding:0}
html,body,select,input,textarea,button,h1,h2,h3,h4,h5,h6,pre,address{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;line-height:1.4;font-size:1.2rem;color:#111;letter-spacing:-.05rem}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0; padding:0}
fieldset,img {border:0}
img {vertical-align:top; -ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe {max-width:100%}
caption {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}
legend {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden; position:absolute}
table {border-spacing:0px; border-collapse:collapse}
ul,ol,menu{list-style:none}
a {color:#333; text-decoration:none}
address,em,i{font-style:normal}
del{text-decoration:none}
button{overflow:hidden;border:0;background:none;-webkit-appearance:none;text-align:center;cursor:pointer;outline:0}
h1, h2, h3, h4, h5, strong, b{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
.blind{width:0;height:0;line-height:0;visibility:hidden;overflow:hidden}
:focus {outline:0}

/* default */
.mt0{margin-top:0 !important}
.mb0{margin-bottom:0 !important}
.mr0{margin-right:0 !important}
.ml0{margin-left:0 !important}

.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pr0{padding-right:0 !important}
.pb0{padding-bottom:0 !important}
.pl0{padding-left:0 !important}

.brb0{border-bottom:0 !important}

.tc{text-align:center !important}

/* form */
input,textarea,select {vertical-align:middle;-webkit-border-radius:0;-webkit-appearance:none}
textarea{border:1px solid #dbdbdb;width:100%;padding:;line-height:;resize:none;letter-spacing:0}
input[type="checkbox"] {vertical-align:middle; *vertical-align:0}
input[type="radio"] {margin:0; vertical-align:middle; *vertical-align:0}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"]{width:100%;padding:.5rem 1.2rem .7rem;height:5rem;line-height:2.2rem;border:1px solid #dbdbdb;letter-spacing:0;font-weight:500;font-size:1.6rem;color:#333}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{border-color:#3c3e43}
.input{display:inline-block;width:100%;height:5rem;padding-right:1.28rem;padding-left:1.28rem;border:1px solid #dbdbdb;background-color:#fff}
.input input{padding:.5rem 0 .7rem;border:0;background-color:transparent;height:4.9rem}
.input.focus{border-color:#111}tlrks
input[type="file"]{background-color:#fff;border:1px solid #dbdbdb;padding:.65rem .9rem;height:4.3rem}
.input_help{position:relative}
.input_mark{position:relative;background-color:transparent;border:0;z-index:1}
.input_mark input{position:absolute;left:-100%;width:200%;text-align:left;padding:0}
.input_mark.focus{border:0 !important}
.input_mark .mark{position:absolute;top:1.1rem;left:0;right:0;z-index:-1;text-align:center}
.input_mark .mark i{display:inline-block;vertical-align:middle;width:2.7rem;height:2.7rem;margin-left:.8rem;background-color:#e5e5e5;border-radius:50%;-webkit-border-radius:50%}
.input_mark .mark i:first-child{margin-left:0}
.input_mark .mark i:before{content:'';width:1.6rem;height:1.6rem;margin-top:.5rem;background-color:#ee3536;border-radius:50%;-webkit-border-radius:50%}
.input_mark .mark i.on:before{display:inline-block}

.input_myid{position:relative;padding-right:53%}
.input_myid .num{position:absolute;right:0;top:0;width:51%;padding-left:1.5rem}
.input_myid .num:before{content:'';position:absolute;top:2.4rem;left:0;width:.8rem;height:.1rem;background-color:#aaa}
.input_myid .num input{width:2rem;vertical-align:middle;padding-right:;text-align:right}
.input_myid i{-webkit-border-radius:50%;border-radius:50%;display:inline-block;width:.9rem;height:.9rem;background-color:#111;vertical-align:top;margin-top:2rem;margin-left:.7rem}
.input_myid .lbl{left:1.9rem;top:0;width:auto}
.input_myid .lbl i{background-color:#c3c3c3}

.lbl{display:block;position:absolute;top:1.4rem;left:0;width:100%;text-align:center;z-index:10;font-size:1.4rem;color:#aaa}
.placeholder{font-weight:300 !important;color:#aaa !important}
::-webkit-input-placeholder{font-weight:300;font-size:1.3rem;color:#aaa !important}
:-ms-input-placeholder{font-weight:300;font-size:1.3rem;color:#aaa !important}
.effect{font-weight:500 !important;font-size:1.5rem !important;color:#000 !important}

.checkbox{position:relative;display:inline-block;vertical-align:middle}
.checkbox input + label:before{content:'';background-image:url(../../resources/images/checkbox.png);background-repeat:no-repeat;background-size:100% auto;display:inline-block;position:absolute}
.checkbox input{width:1px;height:1px;border:0;margin:-1px;padding:0;overflow:hidden;position:absolute;clip:rect(0,0,0,0)}
.checkbox input + label{display:block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}

.checkbox.circle input + label{padding-left:3.4rem;font-size:1.3rem;color:#aaa}
.checkbox.circle input + label:before{width:2.5rem;height:2.5rem;left:0;top:50%;margin-top:-1.15rem;background-image:url(/images/mobile/checkbox_circle.png)}
.checkbox.circle input + label:active:before,
.checkbox.circle input:checked + label:active:before,
.checkbox.circle input:checked + label:before {background-image:url(/images/mobile/checkbox_circle_on.png)}
.checkbox.circle input:checked + label{color:#111}

.checkbox.circle2 input + label{padding-left:3rem;font-size:1.4rem;color:#aaa}
.checkbox.circle2 input + label:before{width:2.35rem;height:2.35rem;left:0;top:50%;margin-top:-1.15rem;background-image:url(/images/mobile/checkbox_circle2.png)}
.checkbox.circle2 input + label:active:before,
.checkbox.circle2 input:checked + label:active:before,
.checkbox.circle2 input:checked + label:before {background-image:url(/images/mobile/checkbox_circle2_on.png)}
.checkbox.circle2 input:checked + label{color:#111}

.checkbox.square input + label{padding-left:2.7rem;font-size:1.2rem;color:#aaa}
.checkbox.square input + label:before{width:2rem;height:2rem;left:0;top:50%;margin-top:-1rem;background-image:url(/images/mobile/checkbox_square.png)}
.checkbox.square input + label:active:before,
.checkbox.square input:checked + label:active:before,
.checkbox.square input:checked + label:before {background-image:url(/images/mobile/checkbox_square_on.png)}
.checkbox.square input:checked + label{color:#111}
.checkbox.square input + label:before{}

/*input:disabled{background:#f4f4f4;color:#979797;-webkit-text-fill-color:#979797;-webkit-opacity:1}
input[readonly], input[readonly="readonly"]{background-color:transparent;color:#979797;-webkit-text-fill-color:#979797;-webkit-opacity:1}*/

.form_type>ul>li{margin-top:.8rem}
.form_type>ul>li:first-child{margin-top:0}
.form_type li.telecom ul{;margin-bottom:-1px;background-color:#fff;border:1px solid #e1e1e1;border-left:0;line-height:0;vertical-align:top}
.form_type li.telecom ul:after{display:block;clear:both;content:''}
.form_type li.telecom li{float:left;width:25%;border-left:.1rem solid #e1e1e1}
.form_type li.telecom ul.tab3 li{width:33.3%}
.form_type li.telecom ul.tab3 li:first-child{width:33.4%}
.form_type li.telecom button{width:100%;height:4.5rem;vertical-align:top;font-size:1.4rem;color:#aaa}
.form_type li.telecom button.selected{background-color:#3c3e43;color:#fff}
.form_type li.telecom li.last{float:none;width:auto;overflow:hidden}
.form_type li.telecom input{position:relative;z-index:1;margin-top:.8rem}
.form_type li.telecom .brnd{display:block;line-height:1}
.form_type li.capcha{background-color:#fff}
.form_type li.capcha ul:after{display:block;clear:both;content:''}
.form_type li.capcha li{position:relative;float:left;width:50%}
.form_type li.capcha li:first-child{height:5rem;padding:.5rem 0 0 1.2rem;border:1px solid #dbdbdb;border-right:0}
.form_type li.capcha img.temp{width:10rem}
.form_type li.capcha .btn{position:absolute;top:.3rem;right:.7rem}
.form_type li.capcha .btn button{display:block;padding:.2rem}
.form_type li.capcha .btn_speaker{margin-left:.1rem}
.form_type li.capcha .btn_refresh{}
.form_type li.cau{margin-bottom:.8rem;font-size:1.1rem}
.form_type li.numskip{position:relative;margin-top:0}
.form_type li.numskip .time{position:absolute;top:1.5rem;right:1.35rem;font-size:1.4rem;color:#f45552}
.form_type li.resend{margin-top:1.4rem;text-align:right}
.form_type li.resend button{text-decoration:underline;font-weight:400;font-size:1.2rem;color:#c3c3c3}
.form_type li.cau{margin-top:1.2rem;font-size:1.1rem;color:#aaa}

.form_type2>ul{border-bottom:.1rem solid #e3e3e3;background-color:#fff}
.form_type2>ul>li{position:relative;font-size:1.5rem;border:1px solid #e3e3e3;border-bottom:0;height:5rem;padding-top:1.4rem;padding-left:7.5rem}
.form_type2 .stit{position:absolute;top:1.5rem;left:1rem;font-size:1.4rem}
.form_type2 li.master, .form_type2 li.num .input, .form_type2 li.pw .input, .form_type2 li.name{padding-left:7.5rem}
.form_type2 li.num, .form_type2 li.pw, .form_type2 li.tax{padding-top:0;padding-left:0;border:0}
.form_type2 li.buy{padding-top:.9rem}
.form_type2 li.buy b{font-size:2rem}
.form_type2 li.pw{height:auto}
.form_type2 li.pw .error{display:none;margin-top:.7rem;text-align:center}
.form_type2 li.pw .input .lbl{left:7.5rem;width:auto}
.form_type2 li.pw .input.focus{padding-left:7.3rem}
.form_type2 li.pw .input.focus{border:4px solid #f24a3e}
.form_type2 li.pw .input.focus input{padding-top:.55rem;height:4.4rem}
.form_type2 li.tax{height:auto;margin-top:.5rem}
.form_type2 li.tax .checkbox.circle label{font-size:1.2rem;color:#828282}
.form_type2 li.tax .btn_taxchg{position:absolute;top:0;right:0;margin-top:-.1rem;padding:.5rem;text-decoration:underline;font-size:1rem;color:#888}
.form_type2 li.name{display:table;width:100%;padding-top:0}
.form_type2 li.name .logo{display:table-cell;vertical-align:middle;font-size:0}
.form_type2 li.name .logo img{width:54%}
.form_type2 .skipbx{display:none;height:auto;position:absolute;top:-.6rem;right:0;left:0;z-index:10;padding:.4rem 1.1rem 1.1rem;border:1px solid #111;background-color:#fff}
.form_type2 .skipbx select{overflow:hidden;white-space:nowrap;width:100%;height:4rem;line-height:2.2rem;background:#fff url(/images/mobile/select_arr.png) no-repeat 100% 50%;background-size:auto .7rem;border:0;text-align:left;font-size:1.4rem}
.form_type2 .skipbx .row{display:none}
.form_type2 .skipbx .btn_save{margin-top:1.1rem;text-align:center}
.form_type2 .skipbx .btn_save button{width:9rem}
.form_type2 .cau{margin-top:1rem;text-align:center;font-size:1.2rem;color:#aaa}
.form_type2 .cau2{margin-top:1.2rem;text-align:center;font-size:1.5rem;color:#838383}
.form_type2.mty{margin-top:1.2rem}

.check_cm_btm{margin-top:3rem;text-align:center}
.check_cm_btm .btn_reset{margin-bottom:1rem;text-decoration:underline;font-size:1rem;color:#111}

/* text */
.u{text-decoration:underline}
.error{font-size:1.1rem;font-weight:500}
.fc_red{color:#f24a3e !important}
.fc_gry{color:#aaa !important}
.fc_gry2{color:#9d9c9c !important}
.txt_cm_cau{margin:1.25rem 0;text-align:center;font-size:1.2rem;color:#111}
.txt_cm_btm{margin-top:4.5rem;text-align:center;font-size:1rem;color:#aaa}
.txt_cm_btm a, .txt_cm_btm button{text-decoration:underline;font-size:1rem;color:#111}

/* title */
.tit_type{padding-top:1.5rem;text-align:center}
.tit_type h2{font-size:1.8rem}
.tit_type .txt{margin-top:.2rem;font-size:1.1rem;color:#aaa}

/* bg */
.ico_com{display:inline-block;background-image:url(/images/mobile/common.png);background-size:16.5rem auto;vertical-align:middle;color:transparent;white-space:nowrap}
.ico_arr{width:1.4rem;height:1.2rem;background-position:0 0;margin:-.05rem 1rem 0 0}
.ico_arr2{width:1.4rem;height:.9rem;background-position:-1.9rem 0}
.ico_arr3{width:.9rem;height:1.35rem;background-position:-8.7rem -7.5rem}
.ico_cls{width:2rem;height:2rem;background-position:-8.9rem 0}
.ico_speaker{width:1.5rem;height:1.3rem;background-position:-5.1rem 0}
.ico_refresh{width:1.6rem;height:1.2rem;background-position:-6.9rem 0}
.ico_upload{width:4.5rem;height:2.5rem;background-position:-11.8rem 0}
.ico_tel{width:4rem;height:3.9rem;background-position:0 -3rem}
.ico_del{width:3.1rem;height:3.1rem;background-position:0 -12.5rem}
.ico_del2{width:2.3rem;height:2.2rem;background-position:-3.7rem -12.6rem}
.ico_del3{width:1.4rem;height:1.4rem;background-position:-14.3rem -12.5rem}
.ico_del4{width:1.3rem;height:1.3rem;background-position:-9.9rem -7.5rem}
.ico_pw{width:4.2rem;height:3.5rem;background-position:-4rem -3rem}
.ico_folder{width:2.8rem;height:2.5rem;background-position:-8.6rem -3rem}
.ico_tool{width:2.8rem;height:3.6rem;background-position:-11.9rem -3rem}
.ico_cau{width:4.3rem;height:2.75rem;background-position:0 -7.5rem}
.ico_siren{width:3.2rem;height:4rem;background-position:-4.7rem -7.5rem}
.ico_set{width:1.5rem;height:1.6rem;background-position:-6.4rem -12.5rem;margin:-.2rem 0 0 .2rem}
.ico_plus{width:2.6rem;height:2.5rem;background-position:-11rem -12.6rem}
.ico_plus2{width:2.5rem;height:2.5rem;background-position:-11.5rem -7.5rem;margin:-.2rem .5rem 0 0}
.ico_prev{width:1.9rem;height:1.8rem;background-position:0 -16.6rem}
.ico_chk{width:4.8rem;height:4.6rem;background-position:-6.5rem -16.6rem}
.ico_{width:;height:;background-position:}

/* btn */
.btn_x{line-height:3.4rem;text-align:center;display:inline-block;font-weight:500;font-size:1.44rem}
.btn_x2{line-height:4.3rem;text-align:center;display:inline-block;font-weight:500;font-size:1.52rem}
.btn_xr{line-height:4.7rem;text-align:center;display:inline-block;font-weight:500;font-size:1.5rem}
.btn_xr2{line-height:5rem;text-align:center;display:inline-block;font-weight:500;font-size:1.52rem}
.btn_type{background-color:#c5c5c5;color:#fff}
.btn_type.on{background-color:#ee3536;color:#fff}
.btn_type2{background-color:#c3c3c3;color:#fff}
.btn_type{background-color:#;color:#}

.btn_cm_btm{margin-top:3rem;text-align:center}
.btn_cm_btm button{width:100%;padding:1.3rem 0;font-size:1.2rem;color:#888}
.btn_cm_btm.mty{margin-top:1.2rem}

.btn_area{margin-top:5rem}
.btn_area button{width:100%}
.btn_area .go_set{position:relative;margin-bottom:1.4rem;font-size:1.1rem;color:#aaa}
.btn_area .go_set button{position:absolute;bottom:0;right:0;width:auto;text-decoration:underline;font-size:1.1rem;color:#676767}
.btn_area2{margin-top:5rem}
.btn_area2:after{display:block;clear:both;content:''}
.btn_area2 li{float:left}
.btn_area2 button{width:100%}

/* tab */
.tab_type:after{display:block;clear:both;content:''}
.tab_type li{position:relative;float:left;width:50%;text-align:center}
.tab_type li:before{content:'|';position:absolute;top:1.2rem;left:0;font-size:1rem;color:#d1d1d1}
.tab_type li:first-child:before{display:none}
.tab_type button{padding-top:.8rem;padding-bottom:1.6rem;border-top:3px solid #f6f6f6;font-size:1.3rem;color:#c7c7c7}
.tab_type button.active{border-color:#3c3e43;font-weight:500;color:#111}

/* fixed*/
.fix_btm_btn{position:fixed;bottom:0;left:0;right:0;z-index:99}
.fix_btm_btn2{position:fixed;left:0;right:0;bottom:0;z-index:99}
.fix_btm_btn2 li{float:left}
.fix_btm_btn2 button{width:100%}

/* loading */
@keyframes spin{ to{transform:rotate(360deg)} }
@-webkit-keyframes spin{ to{-webkit-transform:rotate(360deg)} }
.loading_motion .span{display: inline-block;width:100%;height:100%;border:.2rem solid #e6e6e6
;border-radius:50%;-webkit-border-radius:50%;	border-top-color:#000;border-right-color:#000;animation: spin 1.5s ease-in-out infinite;-webkit-animation: spin 1.5s ease-in-out infinite}
.loading_motion{display:inline-block;position:relative;width:9.2rem;height:9.2rem}
.loading_motion .ico_tel{position:absolute;top:2.9rem;left:2.5rem}
.loading_motion .ico_pw{position:absolute;top:2.9rem;left:2.5rem}

.loading_circle{position:relative;display:inline-block;width:9.2rem;height:9.2rem;border:.2rem solid #111;-webkit-border-radius:50%;border-radius:50%}
.loading_circle .ico_com{position:absolute}
.loading_circle .ico_tel{top:2.7rem;left:2.5rem}
.loading_circle .ico_del{bottom:0;right:0}
.loading_circle .ico_del2{top:4rem;left:2rem}
.loading_circle .ico_pw{top:2.7rem;left:2.3rem}
.loading_circle .ico_folder{top:3rem;left:3.2rem}
.loading_circle .ico_tool{top:2.5rem;left:3.2rem}
.loading_circle .ico_cau{top:3rem;left:2.5rem}
.loading_circle .ico_siren{top:2.3rem;left:3rem}