.bottom-line { border-bottom: 10px solid #EAEBEC; } 
.card { } 
.card header .container .brand-name { font-family: Pretendard; font-weight: 700; font-size: 20px; letter-spacing: 1.45%; line-height:29px; height: auto; } 
.card .header [class|="btn"] { top: -5px; width: 40px; height: 40px; } 
.card header .btn-back { left: 10px; } 
.card header .btn-close { right: 10px; } 
.card-section { padding: 0 0 20px; } 
.card-section .swiper .card-img { width: 150px; height: 237px; margin: 0 auto; } 
.card-section .swiper .card-img img { width: 100%; height: auto; } 
.card-section .swiper .card-name { font-family: Pretendard; font-weight: 700; font-size: 18px; line-height: 143%; letter-spacing: 0%; text-align: center; color: #303030; margin-top: 30px; } 
.card-section .swiper.empty { margin-bottom: 73px; }
.card-section .swiper.empty .card-name { font-family: Pretendard; font-weight: 600; font-size: 16px; line-height: 143%; letter-spacing: 0%; text-align: center; } 
.card-section .swiper.empty .card-name { font-weight: 400; } 
.card-section .swiper.empty .card-name strong { font-weight: 700; } 
.card-section .swiper .card-info { font-family: Pretendard; font-weight: 400; font-size: 14px; line-height: 143%; letter-spacing: -1.5%; text-align: center; color: #8A8A8A; margin-top: 4px; } 
.card .card-section .swiper-pagination-bullets.swiper-pagination-horizontal { position: relative; bottom: -30px; padding-bottom: 30px; } 
.card .swiper-button-prev:after,.card .swiper-rtl .swiper-button-prev:after { display: none; } 
.card .swiper-button-next:after, .card .swiper-rtl .swiper-button-prev:after { display: none; } 
.card .swiper-button-prev, .card .swiper-button-next { width: 43px; height: 43px; margin-top: -78.5px; border-radius: 100%; } 
.card .swiper-button-prev { background: #fff url(../images/card/ico-arrow-left.png) no-repeat center / contain; } 
.card .swiper-button-next { background: #fff url(../images/card/ico-arrow-right.png) no-repeat center / contain; } 
.card .swiper-button-next.swiper-button-disabled, .card .swiper-button-prev.swiper-button-disabled { display: none; } 
.card .swiper-pagination-bullet { width: 6px; height: 6px; background: #B0B0B0; opacity: 1; } 
.card .swiper-pagination-bullet-active { background: #5C5C5C; } 
.card .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .card .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 2px; } 

.card .container, .card #footer .btn-wrap { padding: 0 20px; } 
.card .my-info-wrap > ul li { margin-bottom: 0;  } 
.card .my-info-wrap > ul li a, .card .my-info-wrap > ul li button { position: relative; font-family: Pretendard; font-weight: 600; font-size: 20px; line-height: 143%; color: #303030; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 100%; background-color: #fff; line-height: 56px; height: 56px; } 
.card .my-info-wrap > ul li a.default, .card .my-info-wrap > ul li button.default {
  color: #C4C4C4;
}
.card .my-info-wrap > ul li a::after, .card .my-info-wrap > ul li button::after { content: ''; background: url(../images/card/ico-right.svg) no-repeat center / contain; width: 7px; height: 12px; display: inline-block; } 
/* .card #content { padding-bottom: 0; }  */
.card .my-info-wrap { margin-top: 20px; margin-bottom: 20px; } 
.card .my-info-wrap .info-wrap-title { font-family: Pretendard;font-weight: 600;font-size: 16px;line-height: 100%;letter-spacing: 0%;color: #8A8A8A; margin-bottom: 20px;}

.card .my-info-wrap > ul li.up a::after, .card .my-info-wrap > ul li.up button::after {
  background: url(../images/card/ico-up.svg) no-repeat center /contain;
  width: 14px;
  height: 14px;
}
.card .my-info-wrap > ul li.down a::after, .card .my-info-wrap > ul li.down button::after {
  background: url(../images/card/ico-down.svg) no-repeat center /contain;
  width: 14px;
  height: 14px;
}
.card .my-info-wrap > ul li.up .status, .card .my-info-wrap > ul li.up .status,
.card .my-info-wrap > ul li.down .status, .card .my-info-wrap > ul li.down .status  {
  margin-left: auto;
  margin-right: 14px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #FF6114;
}

.card .empty-text-wrap {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.41px;
  color: #1C1C1C;
  text-align: center;
  line-height: 100px;
}
.card .empty-text-wrap > p {
  color: #8a8a8a;
}

.card-delivery-status {
  border-radius: 10px;
  background: #F7F7F8;
  padding: 30px 20px;
}

.card-delivery-status .status-message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  color: #1C1C1C;
}

.card-delivery-status .status-message strong {
  font-weight: bold;
}

.card-delivery-status .progress-bar {
  margin-bottom: 20px;
}

.card-delivery-status .progress-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
  position: relative;
  margin: 0;
}

.card-delivery-status .progress-steps::before {
  content: '';
  position: absolute;
  top: 15%;
  height: 2px;
  background-color: #FFC0A1;
  transform: translate(-50%, 0%);
  z-index: 0;
  width: calc(100% - 40px);
  left: 50%;
}

.card-delivery-status .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex: 1;
  position: relative;
}

.card-delivery-status .step .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  /* margin-bottom: 5px; */
  border: 2px solid #ff5a00;
}

.card-delivery-status .step.active .dot {
/*   width: 12px;
  height: 12px; */
  border: 6px solid #ff5a00;
  background-color: #ff5a00;
}

.card-delivery-status .step .label {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #1C1C1C;
  margin-top: 10px;
}

.card-delivery-status .step.active .label {
  color: #ff5a00;
  font-weight: bold;
}

.card-delivery-status .info-box {
  margin-bottom: 20px;
  border-top: 1px solid #CBCBCB;
  padding-top: 30px;
}

.card-delivery-status .info-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;
}
.card-delivery-status .info-row:last-of-type {
  margin-bottom: 0;
}

.card-delivery-status .label {
  color: #303030;
  font-size: 14px;
}

.card-delivery-status .value {
  font-weight: bold;
  font-size: 14px;
}

.card-delivery-status .button-group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card-delivery-status .btn {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.card .my-info-wrap .card-delivery-status a::after, .card .my-info-wrap .card-delivery-status button::after {
  display: none;
}
.card .my-info-wrap > ul li.step:nth-of-type(3) {
  margin-left: 20px;
}
.card .my-info-wrap > ul li .card-delivery-status a, .card .my-info-wrap > ul li .card-delivery-status button {
  justify-content: center;
}
.card .my-info-wrap > ul li:first-of-type {
  align-items: start;
}
.card .my-info-wrap > ul li.first .dot {
  margin-left: 20px;
}
.card .my-info-wrap > ul li.end {
  align-items: end;
}
.card .my-info-wrap > ul li.end .dot {
  margin-right: 20px;
}
.card .my-info-wrap > ul li .button-group a, .card .my-info-wrap > ul li .button-group button {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #1C1C1C;
}

.modal-delivery-detail {
  display: none;
}

.modal-delivery-detail .modal-dialog {
  overflow: hidden;
}

.modal-delivery-detail .modal-content {
  display: flex;
  flex-direction: column;
}

.modal-delivery-detail .modal-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 56px;
}
.modal-delivery-detail .modal-dialog .modal-content {
  padding: 20px 30px;
}

.modal-delivery-detail .modal-title {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  line-height: 56px;
}

.modal-delivery-detail .btn-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/common/icon-close.svg) no-repeat center / 18px auto;
  right: 20px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 20px;
}

.modal.modal-delivery-detail .modal-body {
  padding: 0;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #303030;
  margin-bottom: 20px;
}
.modal.modal-delivery-detail .modal-body .delivery-info {
  width: 100%;
}

.modal-delivery-detail .delivery-info .info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.modal-delivery-detail .delivery-info .info-row:last-of-type {
  margin-bottom: 0;
}

.modal-delivery-detail .delivery-info .label {
  font-weight: 500;
  color: #555;
  min-width: 60px;
}

.modal-delivery-detail .delivery-info .value {
  text-align: right;
  font-weight: bold;
  color: #111;
}

.modal-delivery-detail .delivery-table-wrap {
  margin-top: 20px;
  width: 100%;
}

.modal-delivery-detail .section-title {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #303030;
  margin-bottom: 8px;
  text-align: left;
}

.modal-delivery-detail .delivery-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  text-align: center;
}

.modal-delivery-detail .delivery-table thead {
  background-color: #f6f6f6;
  font-weight: bold;
}

.modal-delivery-detail .delivery-table th,
.modal-delivery-detail .delivery-table td {
  border: 1px solid #ddd;
  padding: 8px 10px;
  vertical-align: middle;
  border-left: 0;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #303030;
  text-align: left;
}
.modal-delivery-detail .delivery-table th:last-of-type,
.modal-delivery-detail .delivery-table td:last-of-type {
  border-right: 0;
}
.modal-delivery-detail .delivery-table th {
  background: #F7F7F8;
}
.modal-delivery-detail .modal-footer {
  text-align: center;
}

.modal-delivery-detail .modal-footer .btn-confirm {
  width: 100%;
  padding: 0;
  background-color: #3e3e3e;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  height: 60px;
}
.modal-delivery-detail.modal-slide .modal-dialog {
  max-height: 494px;
  height: auto;
}

#wrap.step .step-bar {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1;
}
#wrap.step .step-wrap {
  height: 4px;
  background: #EAEBEC;
}
#wrap.step .step-wrap .step {
  background: #FF6114;
  display: inline-block;
  height: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
#wrap.step .step-wrap .step-01 {
  width: 25%;
}
#wrap.step .step-wrap .step-02 {
  width: 50%;
}
#wrap.step .step-wrap .step-03 {
  width: 75%;
}
#wrap.step .step-wrap .step-04 {
  width: 90%;
}
#wrap.step .step-wrap .step-05 {
  width: 100%;
}

.card .forget {
  margin-bottom: 50px;
}
.card .forget > a {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #70737C;
}
.card .forget > p {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #46474C;
}
.card-section .swiper.center .swiper-slide {
  width: 150px;
}
.card-section .swiper.center .card-img img {
  width: 150px;
}
.card-section .swiper.center + .card-info {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 18px;
  line-height: 143%;
  letter-spacing: -1.5%;
  text-align: center;
  color: #303030;
  margin-top: 50px;
  white-space: nowrap;
}
.card-section .swiper.center + .card-info .color {
  color: #FF6114;
}
.card.step .container h2.tit {
  margin-bottom: 50px;
}
/* .card.step .container h2.tit {
  margin-bottom: 104px;
} */
.card.step .custom-input + .custom-input.value {
  margin-top: 40px;
}
.card.step .flex-wrap {
  display: flex;
}
.card.step .auto-width {
  width: auto;
  flex: 0 0 auto; /* 내용만큼 너비 */
  width: 20px;
}

.card.step .flex-grow {
  flex: 1; /* 남은 공간 모두 차지 */
}
.card.step .custom-input.custom-number-wrap.comp .number-wrap {
  justify-content: center;
}
.card.step .custom-input .radio-wrap .check-box > input + label {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 56px;
  color: #B0B0B0;
}
.card.step .custom-input .radio-wrap.type2 .check-box > input + label {
  background: #F7F7F8;
}
.card.step .check-box > input[type="radio"] + label:before {
  display: none;
}
.card.step .check-box > input[type="radio"]:checked + label::after {
  color: #1C1C1C;
}
.card.step .custom-input .radio-wrap .check-box > input[type="radio"]:checked + label {
  color: #1C1C1C;
  background: #fff;
}
.custom-input .sub-tit + .radio-wrap + .noti-text li {
  position: relative;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1.45%;
  padding-left: 8px;
  margin-top: 10px;
  color: #5C5C5C;;
}
.custom-input .sub-tit + .radio-wrap + .noti-text li::before {
  content: '·';
  display: block;
  color: #5C5C5C;
  position: absolute;
  left: 0;
  top: 0;
}
.custom-input .sub-tit + .radio-wrap + .noti-text li strong {
  font-weight: 600;
}

.card.step .card-complete-wrap {
  padding: 0 30px;
  text-align: center;
  font-family: sans-serif;
}

.card.step .icon-complete {
  width: 48px;
  height: 48px;
  margin: 0 auto 40px;
  background: url('../images/card/ico-check-circle.png') no-repeat center/contain;
}

.card.step .complete-title {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 8px;
  color: #222;
}

.card.step .complete-subtext {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #5c5c5c;
  line-height: 1.4;
  margin-bottom: 40px;
}

.card.step .card-info-table {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  margin-bottom: 14px;
  font-size: 14px;
}

.card.step .card-info-table .row {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #B0B0B0;
  align-items: center;
}

.card.step .card-info-table .row:last-child {
  border-bottom: none;
}

.card.step .card-info-table .label {
  width: 70px;
  text-align: left;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #303030;
}

.card.step .card-info-table .value {
  font-family: Pretendard;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
  flex: 1;
  color: #5c5c5c;
  line-height: 1.4;
}

.card.step .card-guide-text {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1%;
  margin-bottom: 32px;
  text-align: left;
  color: #5c5c5c;
}
.card.step .card-guide-text.title {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1%;
  color: #303030;
  margin-bottom: 8px;
}
.card.step .card-guide-text.title + .card-guide-text {
  margin-bottom: 0;
}

.card.step .btn-wrap {
  text-align: center;
}

.card.step .btn-black {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: bold;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
}

/* 
 */
 .card.step .card.select {
  background: none;
  margin-bottom: 40px;
}

.card.step .card.select .card-select-title {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 18px;
  line-height: 143%;
  letter-spacing: 1.45%;
  color: #929292;
  margin-bottom: 10px;
}

.card.step .card.select .card-box {
}

.card.step .card.select .card-summary {
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1.5px solid #303030;
  border-bottom: 1.5px solid #303030;
  padding: 30px 0;
}

.card.step .card.select .card-thumb img {
  width: 60px;
  height: auto;
  border-radius: 6px;
}

.card.step .card.select .card-info {
  margin-left: 20px;
  flex: 1;
}
.card.step .card.select .card-info > dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6px;
}

.card.step .card.select .card-info .title {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #303030;  
}
.card.step .card.select .card-info .info {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5C5C5C;  
}

.card.step .card.select .card-check .icon-check {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/images/icon-check.svg') no-repeat center/cover;
}
.card.step .card.select .toggle-btn {
  display: inline-block;
  background: url(../images/card/ico-down.svg) no-repeat center / contain;
  width: 20px;
  height: 20px;
}

.card.step .card.select .toggle-btn.active {
  background: url(../images/card/ico-up.svg) no-repeat center / contain;
}

.card.step .card.select .card-detail {
  background: #f7f7f7;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.card.step .card.select .card-detail > div {
  padding: 30px 20px;
}

.card.step .card.select .info-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 4px 0;
}

.card.step .card.select .label {
  font-weight: 500;
  color: #666;
}

.card.step .card.select .value {
  font-weight: bold;
  color: #000;
}

.card.step .check-wrap .check-box > input + label {
  padding: 0 0 0 56px;
}
.card.step .check-wrap .check-box > input + label:after {
  width: 26px;
  height: 26px;
}
.card.step .check-wrap .check-box > input:checked + label:after {
  background: #3e3e3e;
}
.card.step .check-wrap .check-box > input + label:before {
  top: -6px;
  width: 13px;
  height: 9px;
}
.card.step .card-complete-wrap.type2 {
  padding: 0 0 30px;
}
.card.step .card-complete-wrap.type2 .card-info-table .label {
  width: 140px;  
}