.container h2.tit { word-break: keep-all; } 
.container .sub-tit { line-height: 1.5; word-break: keep-all; } 
.container .sub-tit b { font-weight: 700; } 
.custom-input.register-email-input input { padding-right: 100px; } 
.btn-register-email { position: absolute; top: 32px; right: 0; line-height: 39px; background-color: #EDEDED; color: #3E3E3E; border-radius: 30px; padding: 0 28px; cursor: pointer; font-size: 18px; } 
.btn-register-email.on { color: #fff; background-color: #3E3E3E; } 
