html,
body {
  width: 100%;
  height: 100%;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 43px;
  text-align: center;
  font-family: 'pretendard', Malgun Gothic, dotumm, gulim, sans-serif;
}
.header [class|='btn'] {
  position: absolute;
  width: 80.47px;
  height: 80.47px;
}
header .btn-close {
  display: inline-block;
  width: 80.47px;
  height: 80.47px;
  background: url(../images/common/icon-close.svg) no-repeat center / 45.26px auto;
  right: 50px;
  cursor: pointer;
}

.showCase {
  position: relative;
  background: #ff6114;
  height: 100%;
  padding-bottom: 70px;
  margin: 0 auto;
}
.showCase header {
  background: transparent;
  height: 80px;
}
.showCase h1 {
  padding-top: 53px;
  height: 80px;
  background: url(../images/showcase/logo.png) no-repeat center / auto 80px;
}
.showCase div > img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.showCase div {
  margin: 0 auto;
}

.showCase .txt_01 {
  margin-top: 112px;
  text-align: center;
  width: 806px;
}
.showCase .txt_02 {
  margin-top: 43px;
  text-align: center;
  max-width: 821px;
}
.showCase .txt_03 {
  position: relative;
  left: -10px;
  margin-top: 151px;
  text-align: center;
  width: 1025px;
}

.showCase .btn {
  display: block;
  max-width: 760px;
  height: 200px;
  background: url('../images/showcase/btn.png') no-repeat center / contain;
  margin: 46px auto 0;
}

.showCase #content {
  padding-bottom: 140px;
}

.showCase2 .header {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showCase2 .header .container {
  height: 100%;
}
.showCase2 .header .brand-name {
  height: 100%;
}
.showCase2 .header .brand-name .my-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.showCase2 > section {
  height: calc(100% - 190px);
}
.showCase2 .container {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
}
.guideBox {
  margin-top: 60px;
  padding: 80px 60px;
  background: #f5f5f7;
  font-family: Pretendard;
  font-size: 31px;
  font-weight: 400;
  line-height: 36.99px;
  text-align: left;
  color: #666666;
  border-radius: 30px;
}
.guideBox .title {
  font-family: Pretendard;
  font-size: 44px;
  font-weight: 900;
  line-height: 52.51px;
  text-align: left;
  color: #000;
  margin-bottom: 40px;
}
.guideBox > ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
}
.guideBox > ul li::before {
  content: '';
  position: absolute;
  left: 0;
}
.guideBox > ul li:nth-of-type(1)::before {
  content: '1.';
}
.guideBox > ul li:nth-of-type(2)::before {
  content: '2.';
}
.guideBox > ul li:nth-of-type(3)::before {
  content: '3.';
}
.guideBox > ul li:nth-of-type(4)::before {
  content: '4.';
}

/* 휴대폰번호 */
.phone-container {
  opacity: 0;
  margin-top: 53px;
}
.phone-header {
  font-family: Pretendard;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.02px;
  letter-spacing: 0.0145em;
  text-align: left;
  color: #000;
}
/* //휴대폰번호 */

.radio-group {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative; /* position을 relative로 설정 */
}

.radio-option input[type='radio'] {
  display: none; /* 기본 라디오 버튼 숨기기 */
}

.radio-option label {
  font-family: Pretendard;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.35px;
  text-align: left;
  color: #333;
  cursor: pointer;
  padding-left: 66px; /* 이미지와 텍스트 사이의 여백 */
  position: relative;
}

.radio-option label::before {
  content: '';
  display: inline-block;
  width: 52px; /* 이미지 너비 */
  height: 52px; /* 이미지 높이 */
  background-image: url('../images/showcase/radio_off.png'); /* 선택되지 않았을 때의 이미지 */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
}
.radio-option label span {
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.41px;
}

.radio-option input[type='radio']:checked + label::before {
  background-image: url('../images/showcase/radio_on.png'); /* 선택되었을 때의 이미지 */
}
.radio-option .btn-del {
  position: absolute;
}

.phone-container {
  margin-bottom: 405px;
}
.phone-amount {
  position: relative;
  border-bottom: 1px solid #000;
}
.phone-amount input[type='text'] {
  border: 0;
  width: 100%;
  height: 120px;
  font-family: Pretendard;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: #000;
}
.phone-amount input[type='text']::placeholder {
  font-family: Pretendard;
}
.phone-amount input[type='text']:active,
.phone-amount input[type='text']:hover,
.phone-amount input[type='text']:focus {
  border: 0;
  outline: none;
}
/* 버튼 */
.btn-wrap {
  margin-top: auto;
  margin-bottom: 140px;
}
.btn-wrap .btn {
  font-family: Pretendard;
  font-size: 55.18px;
  font-weight: 600;
  line-height: 57.69px;
  letter-spacing: -1.1035676002502441px;
  text-align: left;
  color: #fff;
  background-color: #3e3e3e;
  width: 100%;
  height: 160px;
  text-align: center;
  border-radius: 20.06px;
  cursor: pointer;
}
.btn-wrap .btn.btn-default {
  background-color: #dfdfdf;
  color: #fff;
  cursor: auto;
}
/* //버튼 */

.showCase2 {
  height: 100%;
}

/* ----- modal ----- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
  word-break: keep-all;
}

.modal:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.modal-open {
  overflow: hidden;
}

.modal-dialog,
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  clear: both;
}

.modal-dialog:after,
.modal-content:after,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  content: '';
  clear: both;
  display: block;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.modal-content {
  width: 100%;
  min-width: 280px;
  max-width: 716px;
  min-height: 363px;
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
  background: #fff;
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modal-header {
  position: relative;
}

.modal-header .btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 42px 0;
  min-height: 128px;
  font-family: Pretendard;
  font-size: 42.96px;
  font-weight: 400;
  line-height: 42.96px;
  text-align: center;
}
.modal-footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 40px;
}
.modal-footer .btn {
  font-family: Pretendard;
  font-size: 43.9px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: -0.8779492974281311px;
  text-align: center;
  background-color: #3e3e3e;
  color: #fff;
  width: calc(100% - 80px);
  height: 110px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
