@charset "UTF-8";

/**
* ============================================================
* Common : 공통 UI
* ============================================================
*/


/* layout */
.clearfix,
.container { clear: both; }
.clearfix:after,
.container:after { content: ''; clear: both; display: block; }
.container { width: 100%; margin: 0 auto; padding-left: 20px; padding-right: 20px; min-width: 280px; max-width: 700px; } /* 갤럭시 폴드 최대 683px 지원 추가 */

/* icon */
.icon { display: inline-block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.iconEmpty { display: block; margin: 0 auto 16px; width: 25px; height: 25px; background-image: url(../../public/images/hotdeal/icon/icon-list-empty.svg); }
.iconEmptyReady { background-image: url(../../public/images/hotdeal/icon/icon-list-ready.svg); }
.iconEmptyWish { background-image: url(../../public/images/hotdeal/icon/icon-list-wish.svg); }
.iconArrowRight { margin-left: 2px; width: 6px; height: 10px; background-image: url(../../public/images/hotdeal/icon/icon-arrow-right.svg); background-size: 6px 10px; }
.iconQuestion { width: 7px; height: 11px; background-image: url(../../public/images/hotdeal/icon/icon-question.svg); background-size: 7px 11px; }
.iconEmotionHappy { background-image: url(../../public/images/hotdeal/emotion/happy.png); }
.iconEmotionBad { background-image: url(../../public/images/hotdeal/emotion/bad.png); }
.iconEmotionSmile { background-image: url(../../public/images/hotdeal/emotion/smile.png); }

/* button */
.btn { display: inline-block; padding: 5px 15px; width: 100%; height: 60px; background-color: #151515; border-radius: 10px; font-size: 18px; font-weight: 700; color: #fff; line-height: 1.2; }
.btn:disabled { background-color: #d5d5d5; }
.btnMd { height: 50px; font-size: 16px; }
.btnIcon { display: inline-block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: contain; font-size: 0; line-height: 0; text-indent: -100000px; }
.btnWish { background-image: url(../../public/images/hotdeal/icon/icon-heart.svg); }
.btnWish.active { background-image: url(../../public/images/hotdeal/icon/icon-heart-fill.svg); }
.btnShare { background-image: url(../../public/images/hotdeal/icon/icon-share.svg); }
.btnBgGray,
.btnBgGray:disabled { background-color: #f9f9f9; color: #151515; }
.btnBgWhite,
.btnBgWhite:disabled { background-color: #fff; color: #151515; }
.btn .release { display: block; font-size: 12px; font-weight: 400; }
.btn .release .time { color: #ff4a4a; }

/* 하단 버튼 영역 */
.btnBox.btnDetail { position: fixed; left: 0; bottom: 0; padding-top: 20px; padding-bottom: 20px; width: 100%; z-index: 99; }
.btnBox.bgGradientWhite { background: rgb(255,255,255); background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }
.btnBox.bgGradientGray { padding-top: 30px; background: rgb(249,249,249); background: linear-gradient(0deg, rgba(249,249,249,1) 70%, rgba(249,249,249,0) 100%); }
.btnBox p { font-size: 16px; line-height: 1.2; color: #575757; text-align: center; }
.btnBox p + p { margin-top: 13px; }

/* highlight */
.highlight { position: relative; z-index: 1; color: #151515; }
.highlight:before { content: ''; position: absolute; top: 50%; left: 0; z-index: -1; padding: 0 1px; width: 100%; height: 60%; transform: translateY(-40%); display: inline-block; background-color: #e6ff00; }

/* slick slide */
.slick-slide { outline: none; }

@media screen and (max-width: 359px) {
	.btnBox p { font-size: 13px; }
	.btn { font-size: 16px; }
}

/* @2x Images (Pixel Ratio of 1.25+) */
@media not all, only screen and (-webkit-min-device-pixel-ratio: 1.25), not all, only screen and (min-resolution: 1.25dppx) {
	.iconEmotionHappy { background-image: url(../../public/images/hotdeal/emotion/happy@2x.png); }
	.iconEmotionBad { background-image: url(../../public/images/hotdeal/emotion/bad@2x.png); }
	.iconEmotionSmile { background-image: url(../../public/images/hotdeal/emotion/smile@2x.png); }
}
/* @3x Images (Pixel Ratio of 2.25+) */
@media not all, only screen and (-webkit-min-device-pixel-ratio: 2.25), not all, only screen and (min-resolution: 2.25dppx) {
	.iconEmotionHappy { background-image: url(../../public/images/hotdeal/emotion/happy@3x.png); }
	.iconEmotionBad { background-image: url(../../public/images/hotdeal/emotion/bad@3x.png); }
	.iconEmotionSmile { background-image: url(../../public/images/hotdeal/emotion/smile@3x.png); }
}

/* display */
.hidden { display: none !important; }
.textCenter { text-align: center; }

/* text */
.textBody { color: #575757; }
.textBlack { color: #151515; }
.textLight { color: #e6ff00; }
.textDanger { color: #ff4a4a; }
.textError { color: #ff2727; }
.textRed { color: #f93b00; }
.italic { font-style: italic; }
.srOnly { font-size: 0; line-height: 0; text-indent: -100000px; }
