@charset "UTF-8";

/**
* ============================================================
* rankingSlide : 인맥왕 순위 슬라이드
* ============================================================
*/


/* slide */
.rankingSlide { margin: 10px 0 28px; height: 370px; background-color: #3f3f3f; border-radius: 10px; font-size: 0; }
.rankingSlide .list { font-size: 14px; text-align: center; }
.rankingSlide .list span { float: left; width: 25%; }
.rankingSlide .list .name { color: #fff; }
.rankingSlide .list li { clear: both; line-height: 36px; }
.rankingSlide .list li:after { content: ''; clear: both; display: block; }
.rankingSlide .list li { border-bottom: 1px solid #545454; }
.rankingSlide .list1 li { line-height: 52px; }
.rankingSlide .list li:nth-child(10),
.rankingSlide .list1 li:nth-child(7) { border-bottom: 0; }

.rankingSlide .slick-slide { outline: none; }

/* slide dots */
.rankingSlide .slick-dots { position: absolute; left: 50%; bottom: -28px; transform: translateX(-50%); font-size: 0; }
.rankingSlide .slick-dots li { display: inline-block; margin: 0 5px; }
.rankingSlide .slick-dots li button { width: 8px; height: 8px; background-color: #3f3f3f; border-radius: 50%; font-size: 0; text-indent: -100000px; }
.rankingSlide .slick-dots li.slick-active button { background-color: #fff; }

/* react용 */
.rankingSlide :global .slick-slide { outline: none; }
.rankingSlide :global .slick-dots { position: absolute; left: 50%; bottom: -28px; transform: translateX(-50%); font-size: 0; }
.rankingSlide :global .slick-dots li { display: inline-block; margin: 0 5px; }
.rankingSlide :global .slick-dots li button { width: 8px; height: 8px; background-color: #3f3f3f; border-radius: 50%; font-size: 0; text-indent: -100000px; }
.rankingSlide :global .slick-dots li.slick-active button { background-color: #fff; }
