@charset "utf-8";

/* 기본설정 */
@import "variables";
@import "animation";

/* 기본설정 */
.main-view { overflow: hidden; }
i { font-style: italic; }
.main-view {
	.btn_top.float-app-down {
		background: url(../images/100deal/btn-appDown.png) 0/108px 105px no-repeat;
	}
}
.main-view .container {
  margin: 0 auto;

  &::after {
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;

    /* load images */
    content:url(../images/main/top-content-img-03.png) url(../images/main/top-content-img-04.png) url(../images/main/top-content-img-05.png) url(../images/main/top-content-img-06.png) url(../images/main/top-content-img-02.png);
  }
}
header, .header { background-color: #fff; }
.main-view .section {
  position: relative;
  .add-ani {
    opacity: 0;
    margin-top: 30px;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  &.animation {
    .add-ani {
      margin-top: 0;
      opacity: 1;
    }
  }
  &.top-visual {
    background-color: #151515;
    height: 890px;
    padding-top: 76px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: none;
      height: 810px;
      border-radius: 0 0 240px 240px;
      transition: 0.1s;

      &.active {
        opacity: 1;
        height: 716px;
      }

      .bg {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        width: 100%;
        height: 0;
        // opacity: 0;
        background: url(../images/100deal/top-content-bg.png) center center / cover no-repeat;
      }

      .mainText {
				position: relative;
				width: 100%;
        display: flex;
        align-items: center;
				justify-content: space-between;
				flex-direction: row;
        font-size: 78px;
        color: #fff;
        transition: 0.3s;
        z-index: 1;
				// margin-left: 21.35%;
        .firstText, .lastText, .dateText, .leftBox, .rightBox {
          display: block;
          position: relative;
					white-space: nowrap;
          // overflow: hidden;
          // width: 201px;
          // height: 78px;
          p {
            opacity: 0;
            display: block;
          }
          span {
            opacity: 0;
            display: block;
          }
        }
				.leftBox, .rightBox {
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: center;
					opacity: 0;
					transition: 0.3s;
				}
				.leftBox {
					// margin-right: 47px;
          transform: translateX(-100%);
				}
				.rightBox {
					// margin-left: 148px;
          transform: translateX(100%);
					width: 100%;
					&.pc {
						display: flex;
						margin-left: 194px;
						transform: translateX(0);
						left: auto;
					}
					&.mo {
						display: none;
					}
				}
				.rightBoxMo {
					display: none;
				}

        .firstText span {
          // transform: translateX(100%);
        }
        .lastText span {
          // transform: translateX(-100%);
        }
        .dateText span {
          // transform: translateX(-100%);
        }
				.firstText {
					font-size: 34px;
					color: #ff8000;
					font-weight: 700;
				}
				.lastText {
					font-size: 50px;
					line-height: 60px;
					color: #fff;
					font-weight: 300;
					margin-top: 28px;
				}
				.dateText {
					font-size: 26px;
					color: #ddd;
					font-weight: 700;
					margin-top: 46px;
					p {
						display: flex;
						align-items: center;
					}
				}

        .textImg {
          position: relative;
          width: 262px;
          height: 66px;
          margin: 0 28px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-image: url(../images/main/top-content-img-02.png);
          text-align: center;
          opacity: 0;
          animation: bgChangeAni 0.3s 3.8s ease-in-out both;

        }
      }

      .btnWrap {
        display: flex;
        margin-top: 24px;
        z-index: 1;
        opacity: 0;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 280px;
          height: 70px;
          margin: 0;
          border: none;
          border-radius: 12px;
          font-size: 0;
          font-weight: bold;
          color: #151515;
          cursor: pointer;
          &::before {
            display: block;
            content: "";
            margin-right: 8px;
            background-size: cover;
          }

          &.apple::before {
            width: 24px;
            height: 27px;
            background-image: url(../images/main/icon-apple.png);
          }

          &.google::before {
            width: 21px;
            height: 22px;
            background-image: url(../images/main/icon-google.png);
          }
					&.btn-down {
						width: 280px;
						height: 70px;
						background: url(../images/100deal/btn-down.png) no-repeat center;
					}
					&.btn-view {
						width: 280px;
						height: 70px;
						background: url(../images/100deal/btn-view.png) no-repeat center;
					}
        }
      }
      .moText, .moBtn {
        display: none;
      }
			.slideBox {
				width: 402px;
				opacity: 0;
				.slick-list {
					height: 100%;
					border-radius: 22px;
					overflow: hidden;
				}
				.slide-li {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 402px;
					max-width: 402px;
					background-color: #fff;
					border-radius: 22px;
					.topBox {
						position: relative;
						height: 402px;
						background-color: #f7f7f7;
						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: #000;
							opacity: .03;
						}
					}
					.bottomBox {
						position: relative;
						padding: 31px 36px;
						background-color: #f7f7f7;
						.countBox {
							position: absolute;
							top: -19px;
							left: 36px;
							height: 33px;
							padding: 0 8px;
							border-radius: 8px;
							background-color: #FF6C00;
							color: #fff;
							font-size: 22px;
							font-weight: 400;
							display: flex;
							justify-content: center;
							align-items: center;
						}
						.nameBox {
							height: 64px;
							p { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 64px; font-size: 28px; font-weight: 700; color: #151515; white-space: initial; line-height: 32px; overflow: hidden; }
						}
						.priceBox {
							display: flex;
							align-items: center;
							margin-top: 10px;
							span {
								&:first-child {
									font-size: 23px;
									color: #575757;
									text-decoration: line-through;
								}
								&:last-child {
									font-size: 28px;
									color: #ff7a00;
									font-weight: 700;
									margin-left: 7px;
								}
							}
						}
					}
				}
				.slick-dots {
					position: absolute;
					right: 14px;
					top: 369px;
					width: auto;
					font-size: initial;
					text-align: right;
					li {
						display: inline-block;
						margin: 0 3px;
						button {
							font-size: 0;
							width: 9px;
							height: 9px;
							border-radius: 100%;
							background-color: #CBCBCB;
							border: none;
							padding: 0;
						}
						&.slick-active {
							button {
								background-color: #FF6C00;
							}
						}
					}
				}
				&.slideBoxSmall {
					display: flex;
					align-items: center;
					position: absolute;
					left: 450px;
					.bottomBox {
						display: none;
					}
					.slick-slide {
						max-height: 402px;
					}
					.slide-li {
						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: rgba(0,0,0,0.5);
						}
					}
				}
			}
			//slideBox
    }
    .scrollNav {
      position: absolute;
      left: 50%;
      bottom: -18px;
      transform: translateX(-50%);
      width: 34px;
      height: 54px;
      background: url(../images/main/icon-scroll.png) 0 0 / cover no-repeat;
      text-indent: -9999px;

      &.web {
        display: block;

        .dotBox {
          position: absolute;
          left: 50%;
          top: 10px;
          transform: translateX(-50%);
          animation: scrollNavAni2 1s 2s ease-in-out infinite both;

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 13px;
            border-radius: 2px;
            background-color: #ff4600;
          }

          &::after {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            margin-top: 3px;
            border-radius: 2px;
            background-color: #ff4600;
          }
        }
      }

      &.mo {
        display: none;
      }

      &::after {
        position: absolute;
        left: 50%;
        bottom: -22px;
        transform: translateX(-50%);
        display: block;
        content: "";
        width: 65px;
        height: 13px;
        background: url(../images/main/text-scroll.png) 0 0 / cover no-repeat;
      }
    }

    &.animation {
      .container {
				.leftBox, .rightBox { 
				opacity: 1;
				.slick-slide {
					img {
						width: 100%;
						height: 100%;
					}
				}
				}
				.leftBox {
					margin-right: auto;
          transform: translateX(0);
				}
				.rightBox {
					position: relative;
					left: calc(50%);
          transform: translateX(-50%);
				}
        .bg {
          height: 100%;
          opacity: 1;
          border-radius: 0;
          transition: height 0.5s, opacity 0.5s;
          transition-delay: 0.3s;
          transition-timing-function: ease-in-out;
        }
        .circleBg {
          opacity: 1;
          transition: 0.3s;
          transition-delay: 0.7s;
        }
        .mainText {
					max-width: 1100px;
          .textImg {
            opacity: 1;
            transition: opacity 1s;
            transition-delay: 1.5s;
          }
          .firstText, .lastText, .dateText, .leftBox, .rightBox {
            p, span {
              opacity: 1;
              transform: translateX(0);
              transition: 1s;
            }
						.slideBox {
              opacity: 1;
              transform: translateX(0);
              transition: 1s;
						}
          }

					.icon-timer {
						display: inline-block;
						width: 26px;
						height: 29px;
						margin-right: 9px;
						background: url('../images/100deal/icon-time.png') no-repeat center / contain;
					}
        }
        .btnWrap {
          opacity: 1;
          transition: 0.5s;
          transition-delay: 1.5s;
        }
      }
      .scrollNav {
        // animation: scrollNavAni 1.8s 2.4s ease-in-out infinite backwards;
      }
    }
  }
	// top-visual
	
  &.line-up {
		background: #151515 url('../images/100deal/line-up-text.png') no-repeat top 80px center / 337px auto;
		.container {
			width: 100%;
			max-width: none;
			flex-direction: column;
			overflow: hidden;
			padding: 70px 0 130px;
			.main-title {
				text-align: center;
				margin-top: 80px;
				opacity: 0;
        transition: 0.6s;
				transform: translateY(100px);
				.text-box {
					span { font-size: 36px; font-weight: 400; color: #b1b1b1; }
				}
				p { margin-top: 11px; font-size: 40px; color: #ffffff; font-weight: 700;}
			}
			// main-title
			.lineup-slide {
				max-width: 800px;
				padding-top: 60px;
				opacity: 0;
        transition: 0.8s;
				transform: translateY(100px);
				margin: 0 auto;
				.slide-item {
					min-width: 126px;
					max-width: 302px;
					width: 302px;
					.cont-wrap {
						display: flex;
						flex-direction: column;
						width: 100%;
						align-items: center;
						.img-wrap {
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 100%;
							background-color: #fff;
							overflow: hidden;
							width: 100%;
							height: 18.43%;
							max-height: 18.43%;
							img { width: 100%; object-fit: scale-down; }
						}
						.text-wrap {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							.date-alert {
								display: inline-block;
								font-size: 23px;
								font-weight: 500;
								color: #fff;
								border-radius: 16px;
								background-color: #FF3600;
								padding: 5px 16px 4px;
								margin-top: 40px;
								letter-spacing: 1px;
							}
							// date-alert
							.brand-name {
								width: 100%;
								max-width: 354px;
								margin-top: 32px;
								font-size: 23px;
								font-weight: 700;
								color: #e3e3e3;
								text-align: center;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
							}
							.prod-name {
								width: 100%;
								max-width: 354px;
								max-height: 46px;
								margin-top: 10px;
								font-size: 23px;
								font-weight: 400;
								color: #e3e3e3;
								text-align: center;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								padding-bottom: 3px;
							}
						}
					}
				}
				// slide-item
				.swiper-button-prev, .swiper-button-next {}
				&::before, &::after {
					content: '';
					position: absolute;
					top: -100%;
					height: 1700px;
					width: 25%;
					display: block;
					z-index: 5;
					opacity: 1;
				}
				&::before {
					left: -560px;
					background: linear-gradient(to right, #151515 0%, rgba(0, 0, 0, 0) 100%);
				}
				&::after {
					right: -560px;
					background: linear-gradient(to left, #151515 0%, rgba(0, 0, 0, 0) 100%);
				}
				&.slide-type2 {
					display: flex;
					justify-content: center;
					width: 1280px;
					.swiper-wrapper {
						justify-content: center;
					}
					.slide-item {
						margin: 0 10px;
						.cont-wrap {
							.img-wrap {
								width: 100%;
							}
						}
					}
					&::before, &::after {
						display: none;
					}
				}
			}
			// lineup-slide
				.swiper-button-prev {
					margin-top: -40px;
					width: 64px;
					height: 64px;
					left: 40px;
    			background: url(../images/100deal/arrow.png)no-repeat center / 37px 64px;
					transform: scaleX(-1);
					&::before, &::after {
						display: none;
					}
				}
				.swiper-button-next {
					margin-top: -40px;
					width: 64px;
					height: 64px;
					right: 40px;
    			background: url(../images/100deal/arrow.png)no-repeat center / 37px 64px;
					transform: scaleX(1);
					&::before, &::after {
						display: none;
					}
				}
		}
		// container
		&.animation {
			.main-title {
				opacity: 1;
				transform: translateY(0);
			}
			.lineup-slide {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	&::after {
		content: '';
		display: block;
	}
	//line-up

&.third-section {
	background: #FF8C22 url("../images/100deal/third-section-bg.png") no-repeat top 0 left /384px auto;

	.container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 70px 0 130px;
		background: url('../images/100deal/third-section-text.png') no-repeat top 64px center / 384px auto;

		.main-title {
			text-align: center;
			margin-top: 55px;
			.text-box {
				span { font-size: 36px; font-weight: 400; color: #ffffff; }
			}
			p { margin-top: 11px; font-size: 40px; color: #ffffff; font-weight: 700;}
		}
		// main-title

		.card-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
			margin-top: 60px;
			.card-item {
				position: relative;
				width: 427px;
				height: 306px;
				padding: 48px 47px;
				border-radius: 15px;
				background-color: #fff;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: -2.5px;
					display: block;
					width: 6px;
					height: 100%;
					background: url('../images/100deal/card-line.png') no-repeat center;
					z-index: 1;
				}
				&:nth-child(1) {
					background: #fff url("../images/100deal/card-img1.png") no-repeat right 25px bottom -30px;
				}
				&:nth-child(2) {
					background: #fff url("../images/100deal/card-img2.png") no-repeat right 34px bottom 10px;
				}
				&:nth-child(3) {
					background: #fff url("../images/100deal/card-img3.png") no-repeat right 20px bottom 20px;
					&::after {
						display: none;
					}
				}
				.card-title {
					font-size: 33px;
					font-weight: 700;
					color: #ff4600;
					p {
						font-weight: 500;
						color: #575757;
						margin-bottom: 10px;
					}
				}
			}
		}
		// card-wrap
		.imgWrap {
			position: relative;
			height: fit-content;
			padding-top: 118px;

			.autoChargeImg {
				position: absolute;
				left: -110px;
				bottom: 68px;
			}
		}
		.textWrap {
			padding-top: 203px;
		}
	}
}
// third-section

  &.fourth-section {
    height: 752px;
    .container {
      justify-content: space-between;

      .textWrap {
        padding-top: 272px;
      }
      
      .imgWrap {
        position: relative;
        padding-top: 72px;

        .phoneFrame {
          &::before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            padding-top: calc(70 / 267 * 100%);
            background: url(../images/main/fourth-content-frame-1.png) 0 0 / cover no-repeat;
            z-index: 1;
          }
          &::after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            padding-top: calc(55 / 267 * 100%);
            background: url(../images/main/fourth-content-frame-2.png) 0 0 / cover no-repeat;
            z-index: 1;
          }
        }

        img {
          position: absolute;
          
          &.img1 {
            left: -180px;
            top: 292px;
            animation: upDownAni 2s 3s ease-in-out infinite;
          }

          &.img2 {
            right: -120px;
            top: 258px;
            animation: upDownAni 2.2s ease-in-out infinite;
          }

          &.img3 {
            right: -170px;
            top: 430px;
            animation: upDownAni 2.4s ease-in-out infinite;
          }

          &.img4 {
            right: -64px;
            top: 180px;
            z-index: 2;
          }
        }
      }
    }

    &.animation {
      .phoneFrame {
        img {
          animation: frameScrolling 6s 2s ease-in-out infinite both;
        }
      }

      .img4 {
        opacity: 0;
        transition: 0.3s;
        transition-delay: 1.8s;
      }
    }
  }

  &.fifth-section {
    height: 752px;
    .container {
      justify-content: space-between;

      .textWrap {
        padding-top: 272px;
      }
      
      .imgWrap {
        position: relative;
        padding-top: 72px;

        .phoneFrame {
          .frameBox {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(0);
            width: 100%;
            height: auto;
            .firstImg {
              position: static;
              width: 266px;
            }
          }
          .lastImg {
            transform: translateX(100%);
            width: 264px;
          }
        }
        
        .money {
          position: absolute;
          left: 180px;
          top: 210px;
          z-index: 2;
        }

        .button {
          position: absolute;
          top: auto;
          left: 50%;
          bottom: 20px;
          z-index: 2;
          width: 260px;
          transform: translateX(-50%) scale(1);
        }
      }
    }

    &.animation {
      .imgWrap {
        .phoneFrame {
          .frameBox {
            animation: taxAni1 8s 1.5s ease-in-out backwards infinite;
          }
  
          .lastImg {
            animation: taxAni3 8s 4s ease-in-out backwards infinite;
          }
        }
      }

      .money {
        opacity: 0;
        transition: 0.3s;
        transition-delay: 1.6s;
      }

      .container .imgWrap .button {
        opacity: 1;
        transform: translateX(-50%) scale(1);
        animation: taxAni2 8s 3s linear forwards infinite;
      }
    }
  }

  &.app-down {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 712px;
    margin: auto;
    padding: 120px 0;
    background-color: #fff;
    .left-con {
      h3 {
        position: relative;
        font-size: 34px;
        font-weight: 700;
        line-height: 1;
        color: #151515;
        letter-spacing: -0.05em;
        margin-bottom: 16px;
        padding-left: 7px;
        z-index: 1;

        &::before {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 20px;
          background-color: #e6ff00;
          z-index: -1;
        }
      }
      p {
        font-size: 22px;
        color: #767676;
        line-height: 1.3;
        letter-spacing: -0.05em;
        padding-left: 7px;
      }
      a {
        display: inline-flex;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        color: #000;
        border: 1px solid #ddd;
        &::before {
          content: "";
          display: block;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .down-btn {
        display: none;
      }
      .btn-wrap {
        margin-top: 37px;
        a {
          height: 61px;
          padding: 0 21px;
          border-radius: 14px;
          &.kakao-btn {
            &.web {
              display: inline-flex;
            }
            &.mo {
              display: none;
            }
          }
          &.kakao-btn::before {
            width: 32px;
            height: 32px;
            margin-right: 11px;
            background-image: url("../images/main/icon-kakao.png");
          }
        }
      }
    }
    .right-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      img {
        width: 182px;
      }
      p {
        margin-top: 25px;
        font-size: 20px;
        font-weight: 500;
        color: #777777;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
	.main-view {
		.section.line-up .container .lineup-slide {
			// max-width: 1280px;
		}
	} 
}
@media only screen and (max-width: 767px) {
  .main-view {
    .btn_top.on {
      bottom: 100px;
    }
  }
  .main-view header .logo, .main-view .hearder .logo {
    background-position-y: -65px;
  }
  .main-view .section {
    width: 100%;

    .container {
      width: 100%;
    }

    .phoneFrame {
      width: 183px;
      height: 382px;
      border: 4px solid #151515;
      border-radius: 18px;
    }

    .textWrap {
      padding: 0 25px;
      .topText {
        font-size: 19px;

        &.icon-1::before {
          width: 24px;
          height: 16px;
          margin-right: 6px;
          background: url(../images/main/icon-1.png) 0 0/cover no-repeat;
        }
        &.icon-2::before {
          width: 24px;
          height: 24px;
          margin-right: 5px;
          background: url(../images/main/icon-2.png) 0 0/cover no-repeat;
        }
        &.icon-3::before {
          width: 20px;
          height: 23px;
          margin-right: 6px;
          background: url(../images/main/icon-3.png) 0 0/cover no-repeat;
        }
        &.icon-4::before {
          width: 24px;
          height: 23px;
          margin-right: 5px;
          background: url(../images/main/icon-4.png) 0 0/cover no-repeat;
        }
      }
      .titleText {
        margin: 8px 0 22px;
        font-size: 31px;
      }
      .subText {
        font-size: 17px;
        color: #767676;
        line-height: 1.5;
        letter-spacing: -0.05em;
  
        i {
          font-style: italic;
        }
      }
    }
    

    &.top-visual {
      height: 630px;
      padding-top: 0;

      .container {
        height: 630px;
        margin-top: 61px;
        border-radius: 0 0 60px 60px;
				padding-top: 45px;
				padding-bottom: 75px;
        .bg {
          background: url(../images/100deal/mo-top-content-bg.png) center/cover no-repeat;
        }
				.slideBox {
					width: 212px;
					.slick-list {
						border-radius: 15px;
					}
				}
        .circleBg {
          &.small {
            width: 472px;
            height: 472px;
          }
          &.big {
            width: 631px;
            height: 631px;
          }

          &::before, &:after {
            width: 18px;
            height: 18px;
          }

          &::before {
            left: -9px;
          }
          &::after {
            right: -9px;
          }
        }

        .mainText {
					margin-left: 0;
					flex-direction: column;
          .firstText, .lastText, .dateText, .leftBox {
            display: block;
          }
					.pc {
						display: none;
					}
					.mo {
						display: flex;
						&.rightBoxMo {
							align-items: center;
						}
					}
					.leftBox {
						margin: 0 auto;
					}
					.rightBox {
						transform: translateX(0%);
						opacity: 0;
						.slideBox {
							&.slideBoxSmall {
								left: auto;
							}
						}
						&.pc {
							display: none;
						}
						&.mo {
							display: flex;
						}
					}
					.firstText {
						font-size: 17px;
						text-align: center;
					}
					.lastText {
						font-size: 25px;
						margin-top: 15px;
						line-height: 30px;
						text-align: center;
						position: relative;
						top: -5px;
					}
					.dateText {
						font-size: 13px;
						margin-top: 23px;
						position: relative;
						top: -10px;
						p {
							justify-content: center;
						}
					}

          .textImg {
            width: 187px;
            height: 47px;
            .result {
              display: none;
            }
            .rollingImg {
              width: 187px;
              height: 162px;
              top: -64px;
              opacity: 1;
              animation: mainRolling 8s 0.5s both linear infinite;
            }
          }
        }

        .btnWrap {
          display: none;
        }

        .moText {
          display: block;
          position: relative;
          z-index: 2;
          margin-top: 57px;
          font-size: 41px;
          font-weight: bold;
          color: #fff;
          line-height: 1;
          
          span {
            color: #e6ff00;
          }
        }

        .moBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 2;
          width: 280px;
          height: 63px;
					left: 50%;
					transform: translateX(-50%);
          margin-top: 8px;
          font-size: 21px;
          font-weight: bold;
          border: none;
          border-radius: 32px;
          text-align: center;
          box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
          color: #fff;
					background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(255,43,0,1) 100%);

          &.fixed {
            transition: none !important;
            width: calc(100% - 50px);
            bottom: 20px;
            z-index: 1000;
            color: #fff;
            background: linear-gradient(105deg, rgba(255,70,0,1) 0%, rgba(255,122,0,1) 100%);
            &::before {
              background-image: url(../images/main/icon-app_fixed.png);
            }
          }
        }
      }
      .scrollNav {
        &.web {
          display: none;
        }
  
        &.mo {
          display: block;
          bottom: 35px;
          width: fit-content;
          height: auto;
          font-size: 15px;
          background: none;
          text-indent: 0;
          color: #fff;
          animation: scrollNavAni 1.8s 1.8s ease-in-out infinite backwards;

          &::before {
            display: none;
          }

          &::after {
            bottom: -14px;
            background: url(../images/main/mo-icon-scroll.png);
            background-size: cover;
            width: 14px;
            height: 6px;
          }
        }
      }

      &.animation {
        .container .mainText .textImg, .leftBox, .rightBox {
          // transition-delay: 1s;
          // animation-delay: 1s;
        }
        .scrollNav {
          transition-delay: 2s;
        }
				.container {
					.bg {
						transition: none;
					}
					.mainText {
						.slideBox {
							opacity: 1;
							transition: .3s;
							transition-delay: 1s;
							animation-delay: 1s;
							margin-top: 12px;
							.slide-li {
								width: 212px;
								max-width: 212px;
								float: left;
								img {
									width: 100%;
									height: 100%;
								}
								.topBox {
									height: 212px;
								}
								.bottomBox {
									padding: 17.5px 18px;
									.countBox {
										top: -9.5px;
										left: 18px;
										height: 16.5px;
										border-radius: 4px;
										font-size: 11px;
										padding: 0 4px;
									}
									.nameBox {
										height: 32px;
										p { font-size: 14px; line-height: 16px; height: 100%; }
									}
									.priceBox {
										margin-top: 5px;
										span {
											&:first-child {
												font-size: 11.5px;
											}
											&:last-child {
												font-size: 14px;
												margin-left: 3.5px;
											}
										}
									}
								}
							}
							.slick-dots {
								right: 7px;
								top: 189px;
								li {
									button {
										width: 5px;
										height: 5px;
									}
								}
							}
							&.slideBoxBig {
								top: -10px;
							}
							&.slideBoxSmall {
								left: calc(50% + 250px);
    						transform: translateX(-50%);
							}
						}
						.icon-timer {
							width: 13px;
							height: 14.5px;
							margin-right: 4.5px;
						}
						.rightBox {
							transform: translateX(-50%);
							opacity: 1;
							.slideBox {
								width: 212px;
								left: 50%;
								transform: translateX(-50%);
								.slide-li {
									width: 212px;
									max-width: 212px;
									float: left;
									.topBox {
										height: 212px;
									}
									.bottomBox {
										padding: 17.5px 18px;
										.countBox {
											top: -9.5px;
											left: 18px;
											width: 30px;
											height: 16.5px;
											border-radius: 4px;
											font-size: 11px;
										}
										.nameBox {
											p { font-size: 14px; }
										}
										.priceBox {
											margin-top: 5px;
											span {
												&:first-child {
													font-size: 11.5px;
												}
												&:last-child {
													font-size: 14px;
													margin-left: 3.5px;
												}
											}
										}
									}
								}
								&.slideBoxBig {
									margin-top: 22px;
									.slide-li {
										height: 278px;
									}
								}
								&.slideBoxSmall {
									left: calc(50% + 250px);
									transform: translateX(-50%);
									margin-top: 22px;
									z-index: -1;
								}
								.slick-dots {
									right: 7px;
									margin-bottom: 75px;
									li {
										button {
											width: 5px;
											height: 5px;
										}
									}
								}
							}
							//slideBox
						}
					}
				}
      }
    }
		&.line-up {
			height: auto;
			padding: 55px 0;
			background-size: 125px auto;
			background-position: top 38px center;
			.container {
				padding: 0;
				.main-title {
					font-weight: 400;
					margin-top: 10px;
					p {
						font-size: 20px;
						margin-top: 5.5px;
					}
					.text-box {
						span {
							font-size: 18px;
						}
					}
				}
				.lineup-slide {
					padding-top: 28px;
					.slick-list {
						right: 0;
						.slick-slide {
							width: 142px;
							padding: 0 8px;
						}
					}
					.slide-item {
						width: 20.52vw;
						.cont-wrap {
							padding: 0;
							.img-wrap {
								// width: 126px;
								// height: 126px;
								// max-height: 126px;
							}
							.text-wrap {
								.date-alert {
									font-size: 12px;
									margin-top: 18px;
									border-radius: 8px;
									padding: 3px 8px 2px;
									letter-spacing: .5px;
								}
								.brand-name {
									max-width: 142px;
									font-size: 12px;
									margin-top: 12px;
								}
								.prod-name {
									max-width: 142px;
									font-size: 12px;
									margin-top: 5px;
								}
							}
						}
					}
					&::before, &::after {
						display: none;
					}
					.slick-prev {
						margin-top: -55px;
					}
					.slick-next {
						margin-top: -55px;
					}
					&.slide-type2 {
						display: flex;
						justify-content: start;
						max-width: 325px;
						.slide-item {
							width: 126px;
							margin: 0;
							margin: 0 4px;
							.cont-wrap {
								.img-wrap {
									height: 126px;
									max-height: 126px;
								}
							}
						}
						&::before, &::after {
							display: none;
						}
					}
				}
				.swiper-button-prev, .swiper-button-next {
					display: none;
				}
			}
		}
    &.third-section {
      height: auto;
      padding: 35px 0 55px;
			background: #FF8C22 url("../images/100deal/mo-third-section-bg.png") no-repeat top 0 left/433px auto;
			background-position: bottom -200px right -10px;
      .container {
				padding: 0;
				background-size: 172px auto;
				background-position: top center;
				.main-title {
					font-weight: 400;
					margin-top: 27px;
					.text-box {
						span {
							font-size: 18px;
						}
					}
					p {
						margin-top: 6px;
						font-size: 20px;
					}
				}
        .imgWrap {
          width: fit-content;
          margin: auto;
          padding: 0;
          .chargeImg {
            display: block;
            width: 290px;
            margin: 30px auto 0;
          }
          .autoChargeImg {
            width: 153px;
            left: auto;
            right: -27px;
            top: 20px;
            bottom: auto;
          }
        }

        .textWrap {
          padding-top: 0;
        }
				.card-wrap {
					flex-direction: column;
					width: 325px;
					margin: 28px auto 0;
					.card-item {
						display: flex;
						align-items: center;
						width: 100%;
						height: 95px;
						padding: 0;
						padding-left: 24px;
						&:nth-child(1) {
							background: #FFF url("../images/100deal/mo-card-img1.png") no-repeat right 25px bottom -15px / 106px auto
						}
						&:nth-child(2) {
							background: #FFF url("../images/100deal/mo-card-img2.png") no-repeat right 25px center / 81px auto;
						}
						&:nth-child(3) {
							background: #FFF url("../images/100deal/mo-card-img3.png") no-repeat right 25px center / 81px auto;
						}
						.card-title {
							font-size: 17px;
							p {
								font-size: 15px;
								margin-bottom: 5px;
							}
						}
						&::after {
							width: 90%;
							height: 3px;
							background: url("../images/100deal/mo-card-line.png") repeat-x;
							background-size: cover;
							top: auto;
							left: 50%;
							bottom: -1px;
							transform: translateX(-50%);
						}
					}
				}
      }
    }

    &.app-down {
      text-align: center;
      justify-content: center;
      padding: 85px 0 70px;
      .left-con {
        h3 {
          font-size: 24px;

          &::before {
            bottom: -2px;
            height: 15px;
          }
        }
        p {
          font-size: 17px;
        }
        .btn-wrap a {
          height: 50px;
          font-size: 18px;

          &.kakao-btn {
            &.web {
              display: none;
            }
            &.mo {
              display: inline-flex;
            }
          }

          &.kakao-btn::before {
            width: 27px;
            height: 27px;
          }
        }
      }
      .right-con {
        display: none;
      }
    }
  }
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &.active {
    display: block;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 20px;
    .modal-content {
      position: relative;
      padding: 52px 42px;
      .modal-close {
        position: absolute;
        display: inline-block;
        top: -52px;
        right: 0;
        background: url(../images/giftimall/icon/icon-close.svg) no-repeat 10px
          10px / 17px 17px;
        width: 40px;
        height: 40px;
        font-size: 0;
        line-height: 0;
        text-indent: -100000px;
        border: 2px solid $white;
        border-radius: 50%;
        cursor: pointer;
      }
      .modal-body {
        color: $darken;
        .modal-title {
          margin-bottom: 28px;
          font-size: 32px;
          font-weight: $font-weight-normal;
          letter-spacing: -0.04em;
          line-height: 1.2;
          .icon-logo-pop {
            display: inline-block;
            vertical-align: top;
            background: url(../images/giftimall/popup/logo-popup.png) no-repeat
              center / 135px 31px;
            width: 135px;
            height: 31px;
          }
        }
        .modal-title-sub {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: $font-weight-bold;
          .icon-arrow-pop {
            display: inline-block;
            background: url(../images/giftimall/popup/popup-icon-arrow.png)
              no-repeat center / 11px 9px;
            width: 11px;
            height: 1em;
            vertical-align: top;
          }
        }
        .qr-list li {
          display: flex;
          background-color: $white;
          margin-right: 14px;
          padding: 40px;
          border-radius: 8px;
          text-align: center;
          &:last-child {
            margin-right: 0;
          }
          &::after {
            content: "";
            clear: both;
          }
          img {
            width: 100px;
            margin-right: 30px;
          }

          .btn-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            h3:last-child {
              margin-top: 10px;
            }
          }
          a {
            display: flex;
          }
          h3 {
            height: 30px;
            font-size: 18px;
            font-weight: $font-weight-bold;
            color: $dark;
            line-height: 30px;
            [class^="icon"] {
              display: inline-block;
              margin-right: 5px;
              vertical-align: top;
              &.icon-qr-google {
                background: url(../images/giftimall/icon/icon-qr-google.png)
                  no-repeat center / 18px 19px;
                width: 18px;
                height: 30px;
              }
              &.icon-qr-one {
                background: url(../images/giftimall/icon/icon-qr-one.png)
                  no-repeat center / 19px 19px;
                width: 19px;
                height: 30px;
              }
              &.icon-qr-app {
                background: url(../images/giftimall/icon/icon-qr-app.png)
                  no-repeat center 0.4px / 20px 23px;
                width: 20px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes mainRolling {
  0% {
    background-image: url(../images/main/top-content-img-03.png);
  }
  20% {
    background-image: url(../images/main/top-content-img-03.png);
  }
  25% {
    background-image: url(../images/main/top-content-img-04.png);
  }
  45% {
    background-image: url(../images/main/top-content-img-04.png);
  }
  50% {
    background-image: url(../images/main/top-content-img-05.png);
  }
  70% {
    background-image: url(../images/main/top-content-img-05.png);
  }
  75% {
    background-image: url(../images/main/top-content-img-06.png);
  }
  95% {
    background-image: url(../images/main/top-content-img-06.png);
  }
  100% {
    background-image: url(../images/main/top-content-img-03.png);
  }
}

@keyframes spinCircle1 {
  0% {
    transform: translate(-50%, -50%) rotate(30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(390deg);
  }
}

@keyframes spinCircle2 {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(480deg);
  }
}


@keyframes scrollNavAni {
  0% {
    opacity: 0;
    margin-bottom: 0;
  }
  15% {
    opacity: 1;
    margin-bottom: 0;
  }
  100% {
    opacity: 0;
    margin-bottom: -30px;
  }
}

@keyframes scrollNavAni2 {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 8px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes taxAni1 {
  0% {
    top: 0;
    transform: translateY(0);
  }
  10% {
    top: 100%;
    transform: translateY(-100%);
  }
  60% {
    top: 100%;
    transform: translateY(-100%);
  }
  61% {
    top: 0;
    transform: translateY(0);
  }
  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes taxAni2 {
  0% {
    transform: translate(-50%) scale(1);
  }
  3% {
    transform: translate(-50%) scale(1.1);
  }
  5% {
    transform: translate(-50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
}

@keyframes taxAni3 {
  0% {
    transform: translate(100%);
  }
  10% {
    transform: translate(0);
  }
  40% {
    transform: translate(0);
  }
  50% {
    transform: translate(100%);
  }
  100% {
    transform: translate(100%);
  }
}

@keyframes upDownAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bgChangeAni {
  0% {
    background-image: url(../images/main/top-content-img-01.png);
  }
  100% {
    background-image: url(../images/main/top-content-img-02.png);
  }
}

@keyframes frameScrolling {
  0% {
    top: 0;
    transform: translateY(0);
  }
  20% {
    top: 0;
    transform: translateY(0);
  }
  50% {
    top: 100%;
    transform: translateY(-100%);
  }
  80% {
    top: 100%;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    transform: translateY(0);
  }
}