/* Variables */

// Color system
$white: 		#ffffff !default;
$black: 		#000000 !default;

//txt color
$point1:        #ff9e0e !default;
$point2:        #ff3a00 !default;
$point3:        #ff3142 !default;
$dark:          #222222 !default;
$darken:        #151515 !default;
$gray:          #777777 !default;
$hotpink:		#ff3bc4 !default;

//bg color
$bg:            #f6f6f6 !default; // 컨텐츠 bg
$bg-dark:       #e8e8e8 !default; //
$bg-darken:     #e2e2e2 !default; // 엘리먼트 bg

// border color
$border:        #292929;

//size
$max-width:     1280px; // 페이지 가로 사이즈
$min-width:		280px;	// 최소지원사이트
$nav-width:     156px;  // GNB 가로 최소사이즈

// Typography
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold:	 700 !default;

//animation
$duration: .5s;
$delay: .2s;
