.input-container {
  margin-top: 12px;
}

.step2 .phoneNumberWrap {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  border-radius: 12px;
  background-color: #F6F6F9;
  border: 1px solid #E5E5E8;
}

.step2 .phoneNumberWrap .agency {
  margin-right: 8px;
  padding: 0 10px;
  border-radius: 12px;
  color: #454545;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  background-color: #D1D1D5;
}

.step2 .phoneNumberWrap .number {
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.complete-text {
  padding-top: 19.5vh;
  color: #151515;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: -0.02em;
  text-align: center;
}

.account-wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background-color: #F9F9F9;
}
.account-wrap .account-box {
  display: flex;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}
.account-wrap .account-box .bank-text {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
}
.account-wrap .account-box img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.account-wrap .change-btn {
  font-size: 15px;
  font-weight: 700;
}