@charset "UTF-8";

/* reset */
html,body,select,input,textarea,button,h1,h2,h3,h4,h5,h6,pre,address,a{color:#1a1a1a}

/* form */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"]{color:#1a1a1a}
input[type="text"].focus, input[type="password"].focus, input[type="number"].focus, input[type="email"].focus, input[type="tel"].focus, textarea.focus,.input.focus{border-color:#de2e5f}
.lbl{color:#ccc}
.placeholder{color:#ccc !important}
::-webkit-input-placeholder{color:#ccc !important}
:-ms-input-placeholder{color:#ccc !important}
.effect{color:#1a1a1a !important}

.checkbox.ty label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_chk.png);color:#616161}
.checkbox.ty input:checked + label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_chk_on.png);color:#1a1a1a}
.checkbox.ty label.on{background-image:url(../../../../images/custom/yanolja/pc/checkbox_chk_on.png);color:#1a1a1a}
.checkbox.ty2 label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo.png);color:#616161}
.checkbox.ty3 label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo.png);color:#616161}
.checkbox.ty2 input:checked + label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo_on.png);color:#1a1a1a}
.checkbox.ty2 label.on{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo_on.png);color:#1a1a1a}
.checkbox.ty3 input:checked + label{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo_on.png);color:#1a1a1a}
.checkbox.ty3 label.on{background-image:url(../../../../images/custom/yanolja/pc/checkbox_rdo_on.png);color:#1a1a1a}
.form_type li.hp li{font-size:28px}
.form_type li.hp li.bar{padding-top:11px}
.form_type li.hp li.num_last i{background:url(../../../../images/custom/yanolja/pc/common.png) no-repeat 0 -31px}
.form_type li.telecom ul{border:0}
.form_type li.telecom ul li{border:0;margin:0;margin-right:-1px;width:91px}
.form_type li.telecom ul li button{background:#fff;border:1px solid #e1e1e1}
.form_type li.telecom ul li button.selected{position:relative;border:1px solid #0152cc;background:#fff;color:#0152cc;z-index:2}
.form_type li.telecom ul li.last{margin-right:0}
.form_type li.telecom input{margin-top:-1px}
.form_type li.capcha{background-color:#f0f5f5}
.form_type li.cau{color:#616161}
.form_type li.numskip .btn_renum{background-color:#de2e5f;color:#fff}
.form_type li.numskip .time{color:#de2e5f}

/* text */
.fc_reg{color:#de2e5f !important}
.fc_gry{color:#616161 !important}
.txt_cm_cau{color:#616161}
.txt_cm_cau3{color:#616161}
.txt_cm_cau4{color:#616161}
.txt_cm_cau5{color:#de2e5f}

/* title */
.tit_type .txt{color:#616161}

/* icon */
.ico_com{background-image: url(../../../../images/custom/yanolja/pc/common.png)}

/* btn */
.btn_type{background-color:#c5c5c5;border-color:#c5c5c5;color:#fff}
.btn_type.on{background-color:#de2e5f;border-color:#de2e5f;color:#fff}
.btn_type2{background-color:#fff;border-color:#de2e5f;color:#de2e5f}
.btn_type3{background-color:#fff;border:0;color:#616161}
.btn_type4{background-color:#de2e5f;border-color:#de2e5f;color:#fff}
.btn_type5{background-color:#e5e5e5;border-color:#e5e5e5;color:#1a1a1a}
.btn_area2 li.bt1, .btn_area2 li.bt2,
.btn_area3 li.bt1, .btn_area3 li.bt2,
.btn_area4 li.bt1, .btn_area4 li.bt2{width:49%}
.btn_area2 li.bt2,
.btn_area3 li.bt2,
.btn_area4 li.bt2{float:right;padding-left:0}
.btn_area3{border:1px solid #c9c9c9}
.btn_area3 li{border-left:.1rem solid #c9c9c9}
.btn_area5{border-top:1px solid #c9c9c9}
.btn_area .btn_type,
.btn_area2 .btn_type,
.btn_area2 .btn_type2,
.btn_area4 .btn_type,
.btn_area4 .btn_type2{border-radius:4px}

/* tab */
.tab_type{background-color:#e5e5e5}
.tab_type button{color:#616161}
.tab_type button.active{background-color:#0152cc}

/* site.css */
.pw_set .txt, .agree_set li.a>div, .tax_set .caulst li{color:#616161}
.agree_set h2,
.tax_set article.active h3 button,
.bank_slide .btn_bankadm,
.checkbox.ty label span,
.ars_form>ul>li,
.ars_form li.tax .btn_taxchg,
.ars_form li.tax .checkbox.ty label span,
.bankskip .txt_cm_cau,
.btn_area .txt_cm_cau,
.pw_bg .txt_cm_cau{color:#1a1a1a}
.checkbox.ty label span{color:#aaa}
.ly_subphone li button.selected{background-color:#0152cc}
.taxbx .input.focus{z-index:2}
.bank_slide .btn_bankadm{line-height:20px}
.ars_timer h2 .fc_reg.type2{color:#1a1a1a !important} /* ARS 인증 상단 텍스트 */
.input_mark .mark i{background-image: url(../../../../images/custom/yanolja/common2.png) !important} /* 비밀번호 동그라미 */
.input_mark .mark I.on{background-position:-156px -102px !important}
