/* 리또 애니메이션 정지 */
body.stopAni .today::after,
body.stopAni .next .circle,
body.stopAni .rc-slider-handle { animation: none !important; } 

@keyframes heartbeat { 
 from { width: 68px; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 
 50% { width: 60px; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 
 100% { width: 68px; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 
 }

@keyframes spinCircle { 
 from { transform: rotate(0); } 
 100% { transform: rotate(360deg); } 
 }


 @keyframes bounce-top { 
 0% { transform: translateY(0); animation-timing-function: ease-in; } 
 5% { transform: translateY(-5px); animation-timing-function: ease-out; } 
 55% { transform: translateY(-26px); animation-timing-function: ease-in; } 
 95% { transform: translateY(-5px); animation-timing-function: ease-in; } 
 100% { transform: translateY(0); animation-timing-function: ease-in; } 
 }
 
@keyframes twinkle { 
 0% { opacity: 1; } 
 50% { opacity: 0; } 
 100% { opacity: 1; } 
 }

 @keyframes jewelRotate { 
 0% { transform: rotate(0); } 
 50% { transform: rotate(30deg); } 
 100% { transform: rotate(0); } 
 }