.font10 {
  font-size: 10px;
}
.font16Bold {
  font-size: 16px;
  font-weight: bold;
}
.font12Line {
  text-decoration: line-through;
  display: inline-block;
}
.font12Line2 {
  display: inline-block;
  float: right;
}
.winYnTxt {
  color: gray;
  font-weight: bold;
}
.checkBtn {
  position: absolute;
  top: 90px;
}
