@charset "UTF-8";

@import url(font.css);

/* device default */
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-text-size-adjust:none;text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased
}
html{-ms-touch-action:none}
body{background-color:#fff}

/* reset */
html,body{height:100%;margin:0;padding:0}
body,p,ul,menu,ol,li,dl,dt,dd,form,table,th,td,fieldset,input,textarea,select,button,h1,h2,h3,h4,h5,h6,pre,address,i,svg{margin:0; padding:0}
html,body,select,input,textarea,button,h1,h2,h3,h4,h5,h6,pre,address{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;line-height:1.4;font-size:1.2rem;color:#415564;letter-spacing:-.05rem}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0; padding:0}
fieldset,img {border:0}
img {vertical-align:top; -ms-interpolation-mode:bicubic}
/* img,video,audio,object,embed,iframe {max-width:100%} */
caption {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}
legend {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden; position:absolute}
table {border-spacing:0px; border-collapse:collapse}
ul,ol,menu{list-style:none}
a {color:#333; text-decoration:none}
address,em,i{font-style:normal}
del{text-decoration:none}
button{overflow:hidden;border:0;background:none;-webkit-appearance:none;text-align:center;cursor:pointer;outline:0}
h1, h2, h3, h4, h5, strong, b{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
.blind{width:0;height:0;line-height:0;visibility:hidden;overflow:hidden}
:focus {outline:0}
::-ms-clear{display:none}

/* default */
.mt0{margin-top:0 !important}
.mb0{margin-bottom:0 !important}
.mr0{margin-right:0 !important}
.ml0{margin-left:0 !important}

.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pr0{padding-right:0 !important}
.pb0{padding-bottom:0 !important}
.pl0{padding-left:0 !important}

.brb0{border-bottom:0 !important}

.tc{text-align:center !important}

.pull_left{float: left;}
.pull_right{float: right;}

/* form */
input,textarea,select {vertical-align:middle;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none}
select::-ms-expand {display:none}
textarea{border:1px solid #dbdbdb;width:100%;resize:none;letter-spacing:0}
input[type="checkbox"] {vertical-align:middle; *vertical-align:0}
input[type="radio"] {margin:0; vertical-align:middle; *vertical-align:0}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"]{width:100%;padding:.5rem .9rem .7rem;height:5rem;line-height:2.2rem;border:1px solid #dbdbdb;letter-spacing:0;font-weight:500;font-size:1.5rem;color:#333}
input.ls{-webkit-text-stroke-width: .65rem;letter-spacing: .7rem;text-indent:.3rem}
input[type="text"].focus, input[type="password"].focus, input[type="number"].focus, input[type="email"].focus, input[type="tel"].focus, textarea.focus{border-color:#415564}
.input{display:inline-block;width:100%;height:5rem;padding-right:.9rem;padding-left:.9rem;border:1px solid #dbdbdb}
.input input{padding:.5rem 0 .7rem;border:0;background-color:transparent;height:4.9rem}
.input.focus{border-color:#415564}
input[type="file"]{background-color:#fff;border:1px solid #dbdbdb;padding:.65rem .9rem;height:4.3rem}
.input_help{position:relative}
.lbl{display:block;position:absolute;top:1.4rem;left:0;width:100%;text-align:center;z-index:10;font-size:1.4rem;color:#7396aa}
.placeholder{font-weight:300 !important;color:#7396aa !important}
::-webkit-input-placeholder{font-weight:300;font-size:1.3rem;color:#7396aa !important}
:-ms-input-placeholder{font-weight:300;font-size:1.3rem;color:#7396aa !important}
.effect{font-weight:500 !important;font-size:1.5rem !important;color:#000 !important}

.checkbox{display:inline-block;position:relative;text-align:left}
.checkbox input{position:absolute;z-index:1;top:.4rem;left:.2rem;-webkit-appearance:none;outline:none; selector-dummy:expression(this.hideFocus=true)}
.checkbox label{display:block;position:relative;z-index:10;width:auto;background-position:0 0;background-repeat:no-repeat;cursor:pointer}

.checkbox.ty label{display:inline-block;height:1.9rem;line-height:1.8rem;padding-left:2.5rem;background-image:url(../images/checkbox_chk.png);background-size:1.9rem auto;font-size:1.4rem;color:#415564}
/*.checkbox.ty label{height:auto;padding-top:11px;padding-bottom:11px}*/
.checkbox.ty input{width:1.1rem;height:1.1rem}
.checkbox.ty input:checked + label{background-image:url(../images/checkbox_chk_on.png)}
.checkbox.ty label.on{background-image:url(../images/checkbox_chk_on.png)}
.checkbox.ty label span{color:#aaa}

.checkbox.ty2 label{display:inline-block;height:1.9rem;line-height:1.8rem;padding-left:2.5rem;background-image:url(../images/checkbox_rdo.png);background-size:1.9rem auto;font-size:1.4rem;color:#415564}
/*.checkbox.ty2 label{height:auto;padding-top:11px;padding-bottom:11px}*/
.checkbox.ty2 input{width:1.1rem;height:1.1rem}
.checkbox.ty2 input:checked + label{background-image:url(../images/checkbox_rdo_on.png)}
.checkbox.ty2 label.on{background-image:url(../images/checkbox_rdo_on.png)}

.checkbox.ty3 label{display:inline-block;width:2.4rem;height:2.4rem;line-height:2.3rem;background-image:url(../images/checkbox_rdo.png);background-size:2.4rem auto}
/*.checkbox.ty2 label{height:auto;padding-top:11px;padding-bottom:11px}*/
.checkbox.ty3 input{width:1.7rem;height:1.7rem}
.checkbox.ty3 input:checked + label{background-image:url(../images/checkbox_rdo_on.png)}
.checkbox.ty3 label.on{background-image:url(../images/checkbox_rdo_on.png)}

/*input:disabled{background:#f4f4f4;color:#979797;-webkit-text-fill-color:#979797;-webkit-opacity:1}
input[readonly], input[readonly="readonly"]{background-color:transparent;color:#979797;-webkit-text-fill-color:#979797;-webkit-opacity:1}*/

.form_type{margin-top:1.2rem}
.form_type>ul>li{margin-top:.8rem}
.form_type li.hp{*zoom:1}
.form_type li.hp ul:after{display:block;clear:both;content:''}
.form_type li.hp li{float:left;width:47%;color:#c3c3c3;font-size:2.4rem}
.form_type li.hp li.bar{width:6%;text-align:center;padding-top:.5rem}
.form_type li.hp li.num_last input{width:4rem;vertical-align:middle;margin-right:.3rem}
.form_type li.hp li.num_last span{display:inline-block;vertical-align:middle;margin:1rem 0 0 .7rem}
.form_type li.hp li.num_last i{-webkit-border-radius:50%;border-radius:50%;display:inline-block;width:.75rem;height:.75rem;background-color:#c3c3c3;vertical-align:middle;margin-left:.5rem}
.form_type li.telecom ul{*zoom:1;margin-bottom:-1px;border:1px solid #e1e1e1;line-height:0;vertical-align:top}
.form_type li.telecom ul:after{display:block;clear:both;content:''}
.form_type li.telecom li{float:left;width:25%;border-left:1px solid #e1e1e1}
.form_type li.telecom button{width:100%;height:4.5rem;vertical-align:top;font-size:1.4rem}
.form_type li.telecom button.selected{background-color:#415564;color:#fff}
.form_type li.telecom li.last{float:none;width:auto;overflow:hidden}
.form_type li.telecom input{position:relative;z-index:1;margin-top:-2px}
.form_type li.capcha{background-color:#f0f5f5;margin-top:1.7rem;padding:.8rem 1.2rem}
.form_type li.capcha ul{*zoom:1}
.form_type li.capcha ul:after{display:block;clear:both;content:''}
.form_type li.capcha li{overflow:hidden;padding-bottom:1px}
.form_type li.capcha li.key{overflow:visible;position:relative;float:left;width:11.8rem;margin-top:.9rem;margin-right:1.1rem}
.form_type li.capcha img.temp{width:10rem}
.form_type li.capcha .btn_speaker{position:absolute;top:-.5rem;right:-.45rem;padding:.2rem}
.form_type li.capcha .btn_refresh{position:absolute;top:1.3rem;right:-.45rem;padding:.2rem}
.form_type li.cau{margin-bottom:.8rem;font-size:1.1rem;color:#415564}
.form_type li.numskip{position:relative;margin-top:0;padding-right:9.4rem}
.form_type li.numskip .btn_renum{position:absolute;top:0;right:0;width:9.4rem;height:5rem;background-color:#415564;font-size:1.2rem;color:#c3c3c3}
.form_type li.numskip .time{position:absolute;top:1.5rem;right:7.5em;font-size:1.4rem;color:#f45552}

/* text */
.u{text-decoration:underline}
.error{font-size:1.1rem;font-weight:500}
.fc_reg{color:#fd3634 !important}
.fc_gry{color:#7396aa !important}
.txt_cm_cau{font-size:1.1rem;color:#7396aa;text-align:center}
.txt_cm_cau2{font-size:1.2rem;text-align:center}
.txt_cm_cau3{font-size:1.6rem;text-align:center;color:#838383}
.txt_cm_cau4{font-size:1.2rem;color:#7b7b7b;text-align:center}
.txt_cm_cau5{font-size:1.2rem;color:#FF0000;text-align:center;}
.text_left{text-align: left;}

/* title */
.tit_type{padding-top:1.5rem;text-align:center}
.tit_type h2{font-size:1.8rem}
.tit_type .txt{margin-top:.2rem;font-size:1.1rem;color:#7396aa}

/* bg */
.ico_com{display:inline-block;background-image:url(../images/common.png);background-size:16.5rem auto;vertical-align:middle;color:transparent;white-space:nowrap}
.ico_arr{width:1.4rem;height:1.2rem;background-position:0 0;margin:-.05rem 1rem 0 0}
.ico_arr2{width:1.4rem;height:.9rem;background-position:-1.9rem 0}
.ico_arr3{width:.9rem;height:1.35rem;background-position:-8.7rem -7.5rem}
.ico_arr4{width:.9rem;height:1.35rem;background-position:-8.7rem -7.5rem}
.ico_cls{width:2rem;height:2rem;background-position:-8.9rem 0}
.ico_speaker{width:1.5rem;height:1.3rem;background-position:-5.1rem 0}
.ico_refresh{width:1.6rem;height:1.2rem;background-position:-6.9rem 0}
.ico_upload{width:4.5rem;height:2.5rem;background-position:-11.8rem 0}
.ico_tel{width:4rem;height:3.9rem;background-position:0 -3rem}
.ico_del{width:3.1rem;height:3.1rem;background-position:0 -12.5rem}
.ico_del2{width:2.3rem;height:2.2rem;background-position:-3.7rem -12.6rem}
.ico_del3{width:1.4rem;height:1.4rem;background-position:-14.3rem -12.5rem}
.ico_del4{width:1.3rem;height:1.3rem;background-position:-9.9rem -7.5rem}
.ico_pw{width:4.2rem;height:3.5rem;background-position:-4rem -3rem}
.ico_folder{width:2.8rem;height:2.5rem;background-position:-8.6rem -3rem}
.ico_tool{width:2.8rem;height:3.6rem;background-position:-11.9rem -3rem}
.ico_cau{width:4.3rem;height:2.75rem;background-position:0 -7.5rem}
.ico_siren{width:3.2rem;height:4rem;background-position:-4.7rem -7.5rem}
.ico_set{width:1.5rem;height:1.6rem;background-position:-6.4rem -12.5rem;margin:-.2rem 0 0 .2rem}
.ico_plus{width:3rem;height:3rem;background-position:-11rem -12.6rem}
.ico_plus2{width:2.5rem;height:2.5rem;background-position:-11.5rem -7.5rem;margin:-.2rem .5rem 0 0}
.ico_app{width:3.4rem;height:3.9rem;background-position:0 -16.5rem}
.ico_no1{width:1.7rem;height:1.7rem;background-position:-4rem -16.5rem;margin:0 .3rem 0 -2rem}
.ico_no2{width:1.7rem;height:1.7rem;background-position:-6.1rem -16.5rem;margin:0 .3rem 0 -2rem}
.ico_guide{width:1.8rem;height:1.8rem;background-position:-8rem -16rem;background-size:16rem auto}
.btn_guide{line-height: 1.8rem;}
.btn_guide .ico_guide {vertical-align:top}
.ico_event{width:4.5rem;height:4.5rem;background-position:right -16.5rem}
.ico_back{width:2rem;height:2rem;background-image:url(../images/icon_back.png);background-size:2rem auto;background-position:center center;font-size:0;display:block}

/* btn */
.btn_s{line-height:px;border-width:.1rem;border-style:solid;text-align:center;display:inline-block;font-size:px}
.btn_x{line-height:3.4rem;border-width:1px;border-style:solid;text-align:center;display:inline-block;font-weight:500;font-size:1.44rem}
.btn_xr{line-height:4.3rem;border-width:1px;border-style:solid;text-align:center;display:inline-block;font-weight:500;font-size:1.52rem}
.btn_type{background-color:#c5c5c5;border-color:#c5c5c5;color:#fff}
.btn_type.on{background-color:#fd3634;border-color:#fd3634;color:#fff}
.btn_type2{background-color:#fff;border-color:#e1e1e1;color:#676767}
.btn_type3{background-color:#fff;border:0;color:#686868}
.btn_type4{background-color:#fd3634;border-color:#fd3634;color:#fff}
.btn_type5{background-color:#c8d7e1;border-color:#c8d7e1;color:#fff}

.btn_cm_btm{margin-top:3rem;text-align:center}
.btn_cm_btm button{width:100%;padding:.5rem 0;font-size:1.2rem;color:#888}
.btn_cm_btm.mty{margin-top:1.2rem}

.btn_area .txt_cm_cau{margin-bottom:1.5rem}
.btn_area .txt_cm_cau2{margin-bottom:1.5rem}
.btn_area .txt_cm_cau3{margin-bottom:2.3rem}
.btn_area button{width:100%}
.btn_area.v1{margin-top:3.5rem}
.btn_area.v2{margin-top:1.3rem}
.btn_area.v3{margin-top:3.3rem}
.btn_area.v4{margin-top:6.5rem}
.btn_area.v5{margin-top:2.2rem}
.btn_area.v6{margin-top:2.5rem}
.btn_area.v6 .txt_cm_cau{margin-bottom:.4rem}
.btn_area.v7{margin-top:3.1rem}
.btn_area.v7 .txt_cm_cau{margin-bottom:2.5rem}
.btn_area.v8{margin-top:1.7rem}
.btn_area.v9{margin-top:4.2rem}
.btn_area2{margin-top:2.5rem;*zoom:1}
.btn_area2 button{width:100%}
.btn_area2:after{display:block;clear:both;content:''}
.btn_area2 li{float:left}
.btn_area2 li.bt1{width:35%}
.btn_area2 li.bt2{width:65%;padding-left:2px}
.btn_area2 li.bt3{width:100%}
.btn_area2.v1{margin-top:4.5rem}
.btn_area3.v1{margin-top:4.5rem}
.btn_area3{border:1px solid #c9c9c9;*zoom:1}
.btn_area3:after{display:block;clear:both;content:''}
.btn_area3 li{float:left;border-left:.1rem solid #c9c9c9}
.btn_area3 button{width:100%}
.btn_area3 li.bt1{width:35%;border-left:0}
.btn_area3 li.bt2{width:65%}
.btn_area3 li.bt3{width:100%}
.btn_area3 li.bt4{width:50%}
.btn_area3.v1 li.bt1{width:50%}
.btn_area3.v1 li.bt2{width:50%}
.btn_area3.v1 li.bt3{width:100%}
.btn_area4{margin-top:1rem}
.btn_area4 .txt_cm_cau{margin-bottom:1.3rem}
.btn_area4 button{width:100%}
.btn_area4 ul{*zoom:1}
.btn_area4 ul:after{display:block;clear:both;content:''}
.btn_area4 li{float:left}
.btn_area4 li.bt1{width:35%}
.btn_area4 li.bt2{width:65%;padding-left:2px}
.btn_area4 li.bt3{width:100%}
.btn_area5{border-top:1px solid #c9c9c9;*zoom:1}
.btn_area5 li{float:left}
.btn_area5 li.bt3{width:100%;}
.btn_area5 li.bt3 button{width:100%;}

/* tab */
.tab_type{background-color:#e5e5e5;*zoom:1}
.tab_type:after{display:block;clear:both;content:''}
.tab_type li{float:left;width:50%}
.tab_type button{width:100%;height:3.7rem;font-size:1.2rem;color:#7b7b7b}
.tab_type button.active{color:#fff}

/* circle type */
@keyframes spin{ to{-webkit-transform:rotate(360deg);transform:rotate(360deg)} }
@-webkit-keyframes spin{ to{-webkit-transform:rotate(360deg);transform:rotate(360deg)} }
.span{display: inline-block;width:100%;height:100%;border:.2rem solid #e6e6e6
;border-top-color:#000;border-right-color:#000;-webkit-border-radius:50%;border-radius:50%;animation: spin 1.5s ease-in-out infinite;-webkit-animation: spin 1.5s ease-in-out infinite}
.circle_motion{display:inline-block;position:relative;width:9.2rem;height:9.2rem}
.circle_motion .ico_tel{position:absolute;top:2.9rem;left:2.5rem}
.circle_motion .ico_pw{position:absolute;top:3.1rem;left:2.5rem}

.circle{position:relative;display:inline-block;width:9.2rem;height:9.2rem;border:.2rem solid #415564;-webkit-border-radius:50%;border-radius:50%}
.circle .ico_com{position:absolute}
.circle .ico_tel{top:2.9rem;left:2.5rem}
.circle .ico_del{bottom:0;right:0}
.circle .ico_del2{top:4rem;left:2rem}
.circle .ico_pw{top:2.7rem;left:2.3rem}
.circle .ico_folder{top:3rem;left:3.2rem}
.circle .ico_tool{top:2.5rem;left:3.2rem}
.circle .ico_cau{top:3rem;left:2.5rem}
.circle .ico_siren{top:2.3rem;left:3rem}

.circle2{position:relative;display:inline-block;width:6.2rem;height:6.2rem;border:.2rem solid #415564;-webkit-border-radius:50%;border-radius:50%}
.circle2 .ico_com{position:absolute}
.circle2 .ico_pw{top:1.2rem;left:0.83rem}
.circle2 .ico_app{top:1rem;left:1.25rem}

.arsInfoText{ margin-top: 1.7rem; font-size: 1.1rem; text-align: center}
