/*
 * NexonKartGothic
 */
@font-face {
  font-family: 'Nexon Kart Gothic';
  font-style: normal;
  font-weight: 500;
  src: url('NEXON-Kart-Gothic-Kor-OTF-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Nexon Kart Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('NEXON-Kart-Gothic-Kor-OTF-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nexon Kart Gothic';
  font-style: normal;
  font-weight: 900;
  src: url('NEXON-Kart-Gothic-Kor-OTF-ExtraBold.otf') format('opentype');
}
