@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Paperlogy-6SemiBold'), url('Paperlogy-6SemiBold.woff2') format('woff2'), url('Paperlogy-6SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Paperlogy-6SemiBold'), url('Paperlogy-7Bold.woff2') format('woff2'), url('Paperlogy-7Bold.woff') format('woff');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Paperlogy-6SemiBold'), url('Paperlogy-8ExtraBold.woff2') format('woff2'), url('Paperlogy-8ExtraBold.woff') format('woff');
}