@charset "UTF-8";
@import url(font.css);
@import url(font_musinsa.css);

/* device default */
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-text-size-adjust:none;text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased
}
html{-ms-touch-action:none}
body{background-color:#fff}

/* reset */
html,body{height:100%;margin:0;padding:0}
body,p,ul,menu,ol,li,dl,dt,dd,form,table,th,td,fieldset,input,textarea,select,button,h1,h2,h3,h4,h5,h6,pre,address,i,svg{margin:0; padding:0}
html,body,select,input,textarea,button,h1,h2,h3,h4,h5,h6,pre,address{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;line-height:1.4;font-size:1.2rem;color:#415564;letter-spacing:-.05rem}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0; padding:0}
fieldset,img {border:0}
img {vertical-align:top; -ms-interpolation-mode:bicubic}
caption {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}
legend {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden; position:absolute}
table {border-spacing:0px; border-collapse:collapse}
ul,ol,menu{list-style:none}
a {color:#333; text-decoration:none}
address,em,i{font-style:normal}
del{text-decoration:none}
button{overflow:hidden;border:0;background:none;-webkit-appearance:none;text-align:center;cursor:pointer;outline:0}
h1, h2, h3, h4, h5, strong, b{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
.blind{width:0;height:0;line-height:0;visibility:hidden;overflow:hidden}
:focus {outline:0}
::-ms-clear{display:none}

/* form */
input,textarea,select {vertical-align:middle;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none}
textarea{border:1px solid #dbdbdb;width:100%;resize:none;letter-spacing:0}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"]{width:100%;padding:0 15px;height:56px;line-height:58px;border:1px solid #dbdbdb;letter-spacing:0;font-weight:500;font-size:19px;color:#415564}
input[type="text"].focus, input[type="password"].focus, input[type="number"].focus, input[type="email"].focus, input[type="tel"].focus, textarea.focus{border-color:#415564}
.input{display:inline-block;width:100%;height:5rem;padding-right:.9rem;padding-left:.9rem;border:1px solid #dbdbdb}
.input input{padding:.5rem 0 .7rem;border:0;background-color:transparent;height:4.9rem}
.input.focus{border-color:#415564}
.placeholder{font-weight:300 !important;color:#8B8B8B !important}
::-webkit-input-placeholder{font-weight:300;font-size:19px;color:#8B8B8B !important}
:-ms-input-placeholder{font-weight:300;font-size:19px;color:#8B8B8B !important}
html, body, select, input, textarea, button, h1, h2, h3, h4, h5, h6, pre, address {
    font-family: 'Noto Sans', Dotum, Gulim, Sans-serif;
    line-height: 1.4;
    font-size: 1.2rem;
    color: #415564;
    letter-spacing: -.05rem;
}

.musinsa {font-family:'Pretendard'}
.musinsa #header{position:relative;background:url(../images/bg_header.gif) repeat-x 0 100%;background-size:.1rem auto}
.musinsa #header h1{line-height:65px;text-align:center;font-size:24px;font-weight: 500;color:#000;font-family: 'Noto Sans', Dotum, Gulim, Sans-serif;}
.musinsa .container {padding: 0 25px;}
.musinsa .tc {text-align: center;}
.musinsa #ct {padding: 27px 0;}
.musinsa .tit {font-size: 22px;font-weight: 700;color: #000;margin-top: 14px;margin-bottom: 22px;}
.musinsa .tit_sub {font-size: 16px;font-weight: 500;color: #808080;}
.musinsa .btn_area {margin-top: 10px;}
.musinsa .btn_area .btn{color: #fff;line-height: 58px;background-color: #000;font-size: 19px;font-weight: 700;width: 100%;}
.musinsa .btn_area .btn:disabled{background-color: #d4d4d4;}
.musinsa .img img {max-width: 100%;}
.musinsa .txt_cm_cau{font-size:22px;color:#000;text-align:center}
.musinsa .fc_reg{color:#fd3634;}
.musinsa .txt_bold{font-weight: 700;}
.musinsa .mt70 {margin-top: 70px;}
.musinsa .mt60 {margin-bottom: 60px}