#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.benefit-card-container .theme-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 0;
}

.benefit-card-container .main-list {
  gap: 20px;
}

.benefit-card-container .theme-content .theme-list-header-wrap {
  position: relative;
  z-index: 1;
  height: 52px;
  margin-bottom: 16px;
}

.benefit-card-container .theme-content .theme-list-header-wrap.fixed .theme-list {
  position: fixed;
  top: 3px;
  z-index: 10;
  width: 100%;
  max-width: 720px;
  margin-top: 0;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.benefit-card-container .theme-content .theme-list-header-wrap.fixed.scroll-up .theme-list {
  transform: translateY(100%);
}

.benefit-card-container .theme-content .theme-text-wrap {
  margin: 0 0 20px;
  padding: 0 16px;
}

.benefit-card-container .theme-content .theme-text-wrap .theme-title {
  color: #454545;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.benefit-card-container .theme-content .theme-text-wrap .theme-text {
  margin-top: 2px;
  padding: 0;
}

.benefit-card-container .theme-content .reward-btn {
  height: 28px;
  padding: 0 8px;
  border-radius: 8px;
  color: #E0FF63;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.02em;
  background-color: #151515;
}

.benefit-card-container .theme-content .theme-list-wrap {
  margin-bottom: 40px;
}

.benefit-card-container .theme-content .theme-list-wrap:last-child {
  margin-bottom: 0;
}

.benefit-card-container.daily-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.benefit-card-container.daily-container .main-list {
  margin-top: 0;
}

.benefit-card-container.daily-container .daily-tab-btn-wrap {
  display: flex;
  justify-content: center;
  width: 156px;
  margin: 24px auto;
  background: #E5E5E899;
  border-radius: 40px;
}

.benefit-card-container.daily-container .daily-tab-btn-wrap .daily-tab-btn {
  width: 84px;
  height: 38px;
  margin: 0 -6px;
  border-radius: 40px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #151515;
}

.benefit-card-container.daily-container .daily-tab-btn-wrap .daily-tab-btn.active {
  font-weight: 700;
  background-color: #E0FF63;
}

.benefit-card-container.daily-container .main-list {
  gap: 24px;
}