.event-container .card-move-btn {
  display: flex;
  align-items: center;
  width: calc(100% - 32px);
  height: 46px;
  margin: auto;
  padding: 0 16px;
  border-radius: 16px;
  color: #151515;
  font-weight: 500;
  font-size: 13px;
  line-height: 46px;
  letter-spacing: -0.02em;
  text-align: left;
  background-color: #f0ffc8;
}

.event-container .card-move-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/mass/rround-event-img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.event-container .card-move-btn::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../../images/common/icon-arrow-right.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

.event-container .event-content-wrap {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 40px;
}

.event-container .event-content-wrap .event-content {
  margin-bottom: 24px;
}

.event-container .event-content-wrap .event-content:last-child {
  margin-bottom: 0;
}

.event-container .event-content-wrap .event-num-wrap {
  display: flex;
  align-items: center;
}

.event-container .event-content-wrap .event-num {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #f6f6f9;
  color: #454545;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.event-container .event-content-wrap .event-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.event-container .event-bg-text {
  display: inline-block;
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  color: #e0ff63;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.02em;
  background: #151515;
}

.event-container .event-content-wrap .event-title {
  display: inline-block;
  position: relative;
  width: fit-content;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.event-container .event-content-wrap .event-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -28px;
  width: 24px;
  height: 24px;
  background-image: url("../../images/mass/text-deco-img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.event-container .event-content-wrap .event-title b {
  color: #7cac04;
}

.event-container .event-content-wrap .event-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  padding-left: 32px;
}

.event-container .event-content-wrap .event-list li {
  display: flex;
  align-items: center;
  width: 100%;
}

.event-container .event-content-wrap .event-list li .card-img-wrap {
  margin-right: 8px;
}

.event-container .event-content-wrap .event-list li .list-text-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}

.event-container .event-content-wrap .event-list li .list-text-wrap .sub-text {
  color: #151515;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: normal;
}

.event-container .event-content-wrap .event-list {
  position: relative;
}

.event-container .event-content-wrap .event-list::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 11px;
  width: 2px;
  height: calc(100% + 24px);
  border-radius: 4px;
  background-color: #f6f6f9;
}

.event-container
  .event-content-wrap
  .event-list
  li
  .list-text-wrap
  .sub-text
  b {
  color: #151515;
}

.event-container .event-content-wrap .event-list li .view-btn {
  height: 28px;
  padding: 0 8px;
  border-radius: 8px;
  color: #151515;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.02em;
  background-color: #f6f6f9;
}

.event-container .event-content-wrap .event-info {
  position: relative;
  padding-left: 32px;
}

.event-container .event-content-wrap .event-info.left-border::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 11px;
  width: 2px;
  height: calc(100% + 12px);
  border-radius: 4px;
  background-color: #f6f6f9;
}

.event-container .event-content-wrap .event-info .event-info-title {
  margin-top: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.event-container .event-content-wrap .event-info .event-info-title b {
  color: #7cac04;
}

.event-container .event-content-wrap .event-info .event-info-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}

.event-container .event-content-wrap .event-info .event-info-list li {
  position: relative;
  padding-left: 17px;
  color: #454545;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.event-container .event-content-wrap .event-info .event-info-list li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d1d1d5;
}

.event-container .event-content-wrap .event-info .event-info-btn {
  width: 100%;
  height: 44px;
  margin-top: 12px;
  border-radius: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  background-color: #151515;
}

.event-container .event-content-wrap .event-info .event-info-btn:disabled {
  background-color: #d1d1d5;
  pointer-events: none;
}

.event-container .event-detail-wrap {
  padding: 42px 16px 40px;
  border-top: 8px solid #f6f6f9;
}

.event-container .event-detail-wrap .event-detail-title {
  flex-direction: column;
  margin-bottom: 32px;
}

.event-container .event-detail-wrap .event-detail-title .title-text {
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.event-container .event-detail-wrap .event-detail-title .title-text b {
  color: #7cac04;
}

.event-container .event-detail-wrap .event-detail-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.event-container .event-detail-wrap .event-detail-list:last-child {
  margin-bottom: 0;
}

.event-container .event-detail-wrap .event-detail-list dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.event-container .event-detail-wrap .event-detail-list dd {
  color: #151515;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.event-container .event-detail-wrap .event-detail-list dd ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.event-container .event-detail-wrap .event-detail-list dd ul li {
  position: relative;
  padding-left: 12px;
  color: #151515;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.event-container .event-detail-wrap .event-detail-list dd li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d1d1d5;
}

.event-container .notice-wrap {
  padding: 40px 0 108px;
  background: #f6f6f9;
}

.event-container .notice-wrap .notice-title {
  margin-bottom: 12px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.event-container .notice-wrap .tab-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 55px;
  z-index: 10;
  background-color: #f6f6f9;
  padding: 0;
}

.event-container .notice-wrap .tab-btn-wrap .tab-btn {
  flex: 1;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #888888;
  border-bottom: 1px solid #e5e5e8;
}

.event-container .notice-wrap .tab-btn-wrap .tab-btn.active {
  font-weight: 700;
  color: #151515;
  border-bottom: 2px solid #151515;
}

.event-container .notice-wrap .notice-content-wrap {
  padding: 0 16px;
}

.event-container .notice-wrap .notice-content-wrap .notice-content {
  padding: 16px 0;
}

.event-container
  .notice-wrap
  .notice-content-wrap
  .notice-content
  .notice-text {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.event-container
  .notice-wrap
  .notice-content-wrap
  .notice-content
  .notice-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-container
  .notice-wrap
  .notice-content-wrap
  .notice-content
  .notice-list
  li {
  position: relative;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.event-container
  .notice-wrap
  .notice-content-wrap
  .notice-content
  .notice-list
  li::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d1d1d5;
}

.event-container .share-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #f1f8ff;
}

.event-container .share-wrap .text-wrap {
  display: flex;
  flex-direction: column;
}

.event-container .share-wrap .text-wrap .text-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.event-container .share-wrap .text-wrap .text-sub {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.event-container .share-wrap .share-btn {
  height: 34px;
  padding: 0 12px;
  color: #fff;
  background-color: #151515;
  border-radius: 8px;
  line-height: 34px;
}

.event-container .modal-toast.is-btn {
  bottom: 19px;
}
