.pre-event-container .event-list-wrap {
  margin-bottom: 32px;
}

.pre-event-container .event-list-wrap:last-child {
  margin-bottom: 0;
}

.pre-event-container .event-list-wrap .list-text-wrap .main-text b {
  color: #454545;
}

.pre-event-container .card-tab-list {
  position: sticky;
  top: 55px;
  z-index: 10;
  background-color: #fff;
  padding: 16px 0 0;
}

.pre-event-container .card-tab-item-content {
  padding-top: 32px;
}