#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.pre-event-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pre-event-container .event-list-wrap {
  margin-bottom: 32px;
}

.pre-event-container .event-list-wrap:last-child {
  margin-bottom: 0;
}

.pre-event-container .event-list-wrap .list-text-wrap .main-text b {
  color: #454545;
}

.pre-event-container .card-tab-list {
  position: sticky;
  top: 55px;
  z-index: 10;
  background-color: #fff;
  padding: 16px 0 0;
}

.pre-event-container .card-tab-content {
  flex: 1;
}

.pre-event-container .card-tab-item-content {
  display: none;
  flex: 1;
  flex-direction: column;
  padding-top: 0;
}

.pre-event-container .card-tab-item-content.active {
  display: flex;
  padding-top: 32px;
}

.pre-event-container .card-tab-item-content .event-list-wrap .main-list .main-item:nth-child(n + 4) {
  display: none;
}

.pre-event-container .card-tab-item-content .event-list-wrap.more-view .main-list .main-item {
  display: flex;
}

.pre-event-container .card-tab-item-content .event-list-wrap.more-view .more-btn::after {
  transform: rotate(180deg);
}