/* Poppins Regular (400) */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'),
       url('../Poppins/Poppins-Regular.ttf') format('woff2'),
       url('../Poppins/Poppins-Regular.ttf') format('woff');
}

/* Poppins Medium (500) */
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'),
       url('../Poppins/Poppins-Medium.ttf') format('woff2'),
       url('../Poppins/Poppins-Medium.ttf') format('woff');
}

/* Poppins SemiBold (600) */
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'),
       url('../Poppins/Poppins-SemiBold.ttf') format('woff2'),
       url('../Poppins/Poppins-SemiBold.ttf') format('woff');
}

/* Poppins Bold (700) */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'),
       url('../Poppins/Poppins-Bold.ttf') format('woff2'),
       url('../Poppins/Poppins-Bold.ttf') format('woff');
}
