@charset "utf-8"; /* 폰트 */
.fce43934 {
  color: #e43934;
}
.fc917240 {
  color: #917240;
}
.fc878787 {
  color: #878787;
}

.ls-1 {
  letter-spacing: -1px;
}

.t_link {
  color: #787878;
  text-decoration: none;
}
.t_link:a {
  color: #787878;
  text-decoration: none;
}
.t_link:hover {
  color: #4a4a4a;
  text-decoration: none;
}

/* grid */
.flex-row {
  display: flex;
}
.row {
  clear: both;
  margin: 0 -20px;
}
.row:after {
  content: '';
  clear: both;
  display: block;
}
.col {
  float: left;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
.col_8 {
  width: 66.6%;
}
.col_6 {
  width: 50%;
}
.col_5 {
  width: 41.6%;
}
.col_4 {
  width: 33.3%;
}
.col_3 {
  width: 25%;
}
.pd0 {
  padding: 0 !important;
}

/* form */
.form_group {
  display: flex;
}
.form_group_wrap .form_label {
  display: flex;
  align-items: center;
  width: 177px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}
.form_group_wrap input[type='text'],
.form_group_wrap input[type='tel'] {
  width: 465px;
  height: 50px;
  padding: 0 15px;
  border: 1px solid #dadada;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  box-sizing: border-box;
}
.form_group_wrap input[type='text']::placeholder,
.form_group_wrap input[type='tel']::placeholder {
  color: #cccccc;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
}
.form_group_wrap textarea {
  width: 465px;
  height: 140px;
}
.form_group_wrap input[type='checkbox'] {
  display: none;
}
.form_group_wrap input[type='checkbox'] + label {
  display: flex;
  align-items: center;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}
.form_group_wrap input[type='checkbox'] + label::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url(../images/common/ic_checkbox.svg) 0 0 / cover no-repeat;
}
.form_group_wrap input[type='checkbox'] + label:hover::before {
  background: url(../images/common/ic_checkbox_hover.svg) 0 0 / cover no-repeat;
}
.form_group_wrap input[type='checkbox']:checked + label::before {
  background: url(../images/common/ic_checkbox_on.svg) 0 0 / cover no-repeat;
}

/* 1:1문의하기, FAQ/ (추가-20211026) */
.at-sign {
  padding: 0 10px;
  font-size: 15px;
}
.filebox {
  position: relative;
  color: #4a4a4a;
}
.filebox .form-upload {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  vertical-align: middle;
  box-sizing: border-box;
}
.filebox label {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  padding: 13px 30px;
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff url(../images/btn_upload.gif) no-repeat 20px 14px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
}
.filebox input[type='file'] {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}
.upload_group {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
.upload_group .upload-file {
  position: relative;
  margin-top: 5px;
  padding: 12px 150px 12px 46px;
  border: 1px solid #eaeaea;
  background: #fcfcfc url(../images/ic_clip.png) no-repeat 20px 13px;
  box-sizing: border-box;
}
.upload_group .upload-file .name {
  color: #509ae9;
}
.upload_group .upload-file .size {
  position: absolute;
  top: 12px;
  right: 54px;
  color: #9a9a9a;
}
.upload_group .upload-file .btn-del {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 40px;
  height: 40px;
  background: url(../images/btn_file-del.gif) no-repeat center center;
}
.upload_group .total-file {
  margin-top: 10px;
  padding-right: 20px;
  text-align: right;
  font-weight: 400;
}
.tb_agree {
  position: relative;
  width: 100%;
  color: #787878;
  line-height: 18px;
  text-align: center;
  letter-spacing: -1px;
}
.tb_agree thead th,
.tb_agree tbody td {
  padding: 8px 20px;
  border: 1px solid #ddd;
  font-weight: 400;
}

.question_box {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background: #fff;
  text-align: center;
}
.question_box .more_question {
  display: inline-block;
  margin-right: 40px;
  padding: 17px 0 0 90px;
  max-width: 620px;
  min-height: 58px;
  background: url(../images/ic_moreQuestion.png) no-repeat 0px center;
  background-size: 72px 58px;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  box-sizing: border-box;
}
.question_box .onetoone {
  padding-top: 12px;
  vertical-align: top;
}

/* 버튼 */
.btn_txt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  border-radius: 2px;
}
.btn_txt.main {
  height: 32px;
  margin-bottom: 1px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
}
.btn_txt.main.st01 {
  border: 1px solid #4a4a4a;
  color: #fff;
  background: #4a4a4a;
}
.btn_txt.main.st01:hover {
  background: #2a2a2a;
  text-decoration: none;
}
.btn_txt.main.st02 {
  border: 1px solid #c8c8c8;
  color: #4a4a4a;
  background: #fff;
}
.btn_txt.main.st02:hover {
  background: #f3f3f3;
  text-decoration: none;
}
.btn_txt.main.st03 {
  border: 1px solid #9c8b81;
  color: #fff;
  background: #9c8b81;
}
.btn_txt.main.st03:hover {
  background: #8c7d74;
  text-decoration: none;
}
.btn_txt.main.st04 {
  border: 1px solid #d1d1d1;
  color: #2a2a2a;
  background: #fff;
}
.btn_txt.main.st04:hover {
  background: #f3f3f3;
}

.btn_txt.tb {
  height: 17px;
  padding: 3px 10px;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.5px;
}
.btn_txt.tb img {
  vertical-align: middle;
}
.btn_txt.tb.st01 {
  border: 1px solid #d1d1d1;
  color: #4a4a4a;
  background: #fff;
}
.btn_txt.tb.st01:hover {
  background: #f3f3f3;
}

.btn_round {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 20px;
  min-width: 108px;
  border: 1px solid #faa61a;
  background: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #faa61a;
  text-align: center;
  border-radius: 20px;
}
.btn_round:hover {
  background: #faa61a;
  color: #fff;
}

.ibtn.download {
  position: relative;
  height: 17px;
  padding: 8px 20px 8px 43px;
  border: 1px solid #d1d1d1;
  font-size: 15px;
  line-height: 17px;
  color: #2a2a2a;
  font-weight: bold;
  background: #fff;
  background: url(../images/ic_btn_download2.gif) no-repeat 20px 10px;
}
.btn_mail {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 5px 34px 5px 9px;
  height: 17px;
  border: 1px solid #d1d1d1;
  background: url('../images/btn_mail_bg.png') right center no-repeat;
  font-size: 12px;
  line-height: 17px;
  color: #4a4a4a;
}

.img_inline li {
  float: left;
  width: 208px;
  margin: 0 20px 20px 0;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.img_inline li:nth-child(4) {
  margin-right: 0;
}
.img_inline li:nth-child(8) {
  margin-right: 0;
}

.ibtn.togo {
  position: relative;
  height: 17px;
  padding: 8px 20px 8px 43px;
  border: 1px solid #9c8b81;
  font-size: 15px;
  line-height: 17px;
  color: #fff;
  font-weight: bold;
  background: #9c8b81 url(../images/ic_btn_togo.png) no-repeat 20px 10px;
}

/* 셀렉트 박스 */
.selectbox_wrap {
  position: relative;
  z-index: 5;
  width: 180px;
}
.selectbox_wrap .selectbox_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 0px 10px 0px 15px;
  border: 1px solid #dadada;
  border-radius: 6px;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
  text-align: left;
  transition: 300ms;
}
.selectbox_wrap .selectbox_btn:hover {
  border: 1px solid #1d1d1f;
}
.selectbox_wrap .selectbox_btn::after {
  display: block;
  content: '';
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  background: url(../images/common/ic_arrow_down.svg) 0 0 / cover no-repeat;
}
.selectbox_wrap .selectbox_btn.open::after {
  transform: rotate(0);
}
.selectbox_wrap.down .selectbox_btn::after {
  transform: rotate(0);
}
.selectbox_wrap.down .selectbox_btn.open::after {
  transform: rotate(180deg);
}
.selectbox_wrap .list_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: -4px;
  transform: translateY(-100%);
  width: 180px;
  padding: 20px 15px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px #6d6d6d40;
  box-sizing: border-box;
}

.selectbox_wrap.down .list_wrap {
  left: 0;
  top: auto;
  bottom: -4px;
  transform: translateY(100%);
}
.selectbox_wrap .list_wrap li {
  margin-bottom: 15px;
}
.selectbox_wrap .list_wrap li:last-child {
  margin-bottom: 0;
}
.selectbox_wrap .list_wrap li a {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  transition: 300ms;
}
.selectbox_wrap .list_wrap li a:hover {
  color: #ff6114;
}

/* 탭 버튼 */
.tab_btn_wrap {
  display: flex;
  gap: 8px;
}
.tab_btn {
  height: 46px;
  padding: 0 30px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  background-color: #f5f5f7;
}
.tab_btn.on {
  color: #fff;
  background-color: #ff6114;
}
.tab_btn.suit {
  font-family: 'SUIT';
  letter-spacing: 0;
}

/* 탭 컨텐츠 */
.tab_contents {
  display: none;
}

.tab_contents.on {
  display: block;
}

/* new button */
.btn_area {
  clear: both;
  text-align: center;
}
.btn_area:after {
  content: '';
  clear: both;
  display: block;
}
.btn_area .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 15px;
  min-width: 80px;
  border: 0;
  background: #faa61a;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
}
.btn_area .btn[disabled],
.btn_area .btn:disabled,
.btn_area .btn[disabled]:hover,
.btn_area .btn:disabled:hover {
  background: #c8c8c8;
  color: #fff;
}
.btn_area .btn:hover {
  background: #fdbb2a;
}
.btn_area .btn.black {
  background: #4a4a4a;
}
.btn_area .btn:hover.black {
  background: #222;
}

/* 게시판_목록 */
.tb_list {
  position: relative;
  width: 100%;
  border-top: 1px solid #1d1d1f;
  font-size: 14px;
}

.tb_list thead th {
  height: 56px;
  padding: 0 20px;
  border-top: 0;
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;

  background-color: #f5f5f7;
}
.tb_list tbody th,
.tb_list tbody td {
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
  color: #909090;
  font-family: 'SUIT';
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
}
.tb_list tbody .tit {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
}
.tb_list tbody td a {
  color: #1d1d1f;
  text-decoration: none;
}
.tb_list tbody td a:hover {
  color: #2a2a2a;
  text-decoration: none;
}
.tb_list tbody td .lock {
  background: url(../images/ic_lock.gif) no-repeat 0 0;
  width: 13px;
  height: 17px;
  margin: 0 0 -3px 10px;
}
.tb_list tbody td a.btn_mail {
  color: #4a4a4a;
}
.tb_list tbody td a.btn_mail:hover {
  border-color: #faa61a;
}

/* 게시판_읽기/쓰기 */
.tb_read {
  position: relative;
  width: 100%;
  border-top: 2px solid #4a4a4a;
  font-size: 13px;
}
.tb_read tbody th {
  height: 28px;
  padding: 11px 20px;
  border-bottom: 1px solid #e7e7e7;
  line-height: 20px;
  color: #4a4a4a;
  text-align: left;
}
.tb_read tbody td {
  height: 28px;
  padding: 11px 20px 11px 15px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 20px;
  color: #878787;
}
.tb_read tbody td.tit {
  height: 28px;
  padding: 11px 20px 11px 15px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 20px;
  color: #2a2a2a;
  font-weight: bold;
}
.tb_read tbody td.con {
  padding: 45px 20px;
  border-bottom: 1px solid #e7e7e7;
  line-height: 27px;
  color: #4a4a4a;
}
.tb_read tbody td.con img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.tb_read tbody tr .bb {
  border-bottom: 1px solid #c8c8c8;
}

.tb_read tbody td.tit.question {
  height: 28px;
  padding: 11px 20px 11px 88px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 15px;
  line-height: 22px;
  color: #2a2a2a;
  font-weight: bold;
  background: url(../images/ic_question.png) no-repeat 20px 12px;
}
.tb_read tbody td.con.answer {
  padding: 25px 20px 25px 88px;
  border-bottom: 1px solid #e7e7e7;
  line-height: 27px;
  color: #4a4a4a;
  background: #f5f5f5 url(../images/ic_answer.png) no-repeat 20px 25px;
}

/* 테이블하단 영역(버튼,페이징)*/
.tb_bottom_area {
  position: relative;
  margin-top: 20px;
}
.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.paging .pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.paging .pagination a,
.paging .pagination strong {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #909090;
  font-family: 'SUIT';
  font-size: 18px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
}
.paging .pagination a:hover,
.paging .pagination strong.on {
  color: #1d1d1f;
  background-color: #f5f5f7;
}
.paging .btn a {
  display: block;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
}
.paging .prev {
  background: url(../images/common/ic_arrow_left_gray.svg) no-repeat 0 0;
}
.paging .next {
  transform: rotate(180deg);
  background: url(../images/common/ic_arrow_left_gray.svg) no-repeat 0 0;
}
.ie9 .paging .num a,
.ie9 .paging strong,
.ie10 .paging .num a,
.ie10 .paging strong .ie11 .paging .num a,
.ie11 .paging strong {
  line-height: 35px;
}

/* 박스_상단조회 */
.search_des {
  position: relative;
  margin-bottom: -1px;
  padding: 13px 45px 13px 70px;
  border: 1px solid #d4cdc9;
  font-size: 13px;
  color: #2a2a2a;
  line-height: 22px;
  background: #e1dcd9 url('../images/ic_search_des.png') no-repeat 20px 13px;
  z-index: 10;
}
.search {
  position: relative;
  margin-bottom: 20px;
  padding: 20px 45px;
  border: 1px solid #e5e3e4;
  background: #f0edeb;
  z-index: 9;
}
.search .tb_search {
  width: 100%;
  border: 0;
  font-size: 13px;
}
.search .tb_search tbody th {
  height: 28px;
  padding: 7px 5px;
  color: #2a2a2a;
  line-height: 28px;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.search .tb_search tbody td {
  height: 28px;
  padding: 7px 5px;
  color: #4a4a4a;
  line-height: 18px;
}
.search .sub_des {
  margin-left: 15px;
  font-size: 11px;
  color: #9c8b81;
  line-height: 18px;
}

.search .select_box {
  display: inline-block;
  position: relative;
  height: 30px;
  background: #fff url('../images/bg_select.png') no-repeat right -3px;
  background-size: 400px 35px;
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.search .select_box label {
  position: absolute;
  top: 5px;
  left: 10px;
}
.search .select_box select#sel {
  width: 100%;
  height: 28px;
  min-height: 28px;
  line-height: 28px;
  padding: 0 5px;
  font-size: 13px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 8 */
}

/* 결과테이블_좌우형 */
h5 {
  font-size: 23px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: normal;
}
.tb_data {
  width: 100%;
  border-top: 2px solid #555;
}
.tb_data tbody th {
  padding: 15px 15px;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  font-size: 13px;
  line-height: 17px;
  color: #000;
  text-align: left;
  vertical-align: top;
  background: #f5f5f5;
}
.tb_data tbody th.d1 {
  border-right: 1px solid #e5e5e5;
}
.tb_data tbody th.d2 {
  font-weight: normal;
  vertical-align: middle;
  background: #f5f5f5;
}
.tb_data tbody td {
  padding: 15px 15px;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  line-height: 17px;
}
.tb_data .nrl {
  border-right: 0;
}
.tb_data .lbl {
  border-bottom: 1px solid #e5e5e5;
}
.tb_data .dbl {
  border-bottom: 1px solid #9e9e9e;
}
.tb_data .total {
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  font-size: 15px;
  font-weight: bold;
  background: #fafbea;
}

/* 결과테이블_리스트형 */
.liabilities_agree {
  height: 147px;
  overflow: auto;
}
.tb_wrap {
  position: relative;
}
.tb_wrap .infobox_wrap {
  display: none;
  position: absolute;
  right: 34px;
  top: -27px;
  z-index: 10;
  width: 390px;
  padding: 20px 24px;
  background-color: #4a4a4a;
  box-shadow: 0px 0px 10px 0px #00000040;
  color: #fff;
  border-radius: 10px;
}
.tb_wrap .info_btn {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  background: url(../../resources/images/ic_info-mark.png) 0 0 / cover no-repeat;
  cursor: pointer;
}
.tb_wrap .infobox_wrap p {
  margin-bottom: 13px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.tb_data_list {
  position: relative;
  width: 100%;
  border-top: 2px solid #4a4a4a;
}
.tb_data_list thead th {
  position: relative;
  height: 48px;
  padding: 0;
  border-top: 0;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #c8c8c8;
  color: #2a2a2a;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  background: #f5f5f5;
}
.tb_data_list thead th.row1 {
  height: 35px;
  border-bottom: 1px solid #e5e5e5;
}
.tb_data_list thead th.row2 {
  height: 35px;
}
.tb_data_list tbody th,
.tb_data_list tbody td {
  height: 50px;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
  line-height: 18px;
  color: #4a4a4a;
  text-align: center;
}
.tb_data_list tbody td .end {
  color: #818181;
  font-size: 12px;
}
.tb_data_list tbody td.row1 {
  padding: 8px 3px;
  border-bottom: 1px solid #e5e5e5;
}
.tb_data_list tbody td.row2 {
  padding: 8px 3px;
  border-bottom: 1px solid #c8c8c8;
}
.tb_data_list .nrl {
  border-right: 0;
}
.em {
  color: #e43934;
  font-weight: bold;
}
.tb_data_list tbody td a {
  color: #4a4a4a;
  text-decoration: none;
}
.tb_data_list tbody td a:hover {
  color: #2a2a2a;
  text-decoration: none;
}
.tb_data_list .lbl {
  border-bottom: 1px solid #e5e5e5;
}

/* 프린트용 테이블 */
.tb_print {
  width: 100%;
  border: 2px solid #555;
}
.tb_print thead td {
  padding: 7px 10px;
  border-bottom: 1px solid #555;
  line-height: 17px;
  color: #2a2a2a;
  font-weight: bold;
  background: #e0e0e0;
}
.tb_print tbody th {
  padding: 7px 10px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  line-height: 17px;
  color: #2a2a2a;
  text-align: left;
}
.tb_print tbody td {
  padding: 7px 10px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  line-height: 17px;
  color: #4a4a4a;
  text-align: left;
}
.tb_print tbody td .total {
  border-bottom: 2px solid #555;
  font-size: 15px;
  font-weight: bold;
  background: #fafbea;
}
.tb_print tbody td p {
  line-height: 30px;
}

/* 박스_하단검색*/
.find {
  position: relative;
  padding: 12px 20px;
  border: 1px solid #e9e9e9;
  text-align: center;
  background: #f4f4f4;
}
.find div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.find input[type='text'] {
  height: 35px;
  padding: 0 10px 1px;
  font-size: 15px;
  line-height: 32px;
}
.find select {
  width: 100%;
  height: 35px;
  padding-left: 4px;
  font-size: 15px;
  line-height: 23px;
  box-sizing: border-box;
}

/* 탭 */
ul.tab_area {
  position: relative;
  *zoom: 1;
}
ul.tab_area:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
ul.tab_area li {
  position: relative;
  float: left;
  display: table;
}
ul.tab_area.type2 li {
  width: 50%;
} /* 20220117 추가 */
ul.tab_area.type3 li {
  width: 33.33%;
} /* 추가 */
ul.tab_area li a {
  display: table-cell;
  width: 100%;
  height: 43px;
  padding: 0;
  border: 1px solid #d1d1d1;
  border-left: 0;
  font-size: 14px;
  color: #878787;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
} /* 수정 */
ul.tab_area li:first-child a {
  border: 1px solid #d1d1d1;
} /* 수정 */
ul.tab_area li a:hover {
  text-decoration: none;
}
ul.tab_area li.active a {
  border: 1px solid #555;
  color: #fff;
  font-weight: bold;
  background: #555;
}
.tab_area_content {
  position: relative;
  padding-top: 30px;
  display: none;
}
.tab_area_content.on {
  display: block;
}

/* 회사소개 */
.column_main .introduce {
  font-size: 16px;
  color: #2a2a2a;
  line-height: 1.7;
}
.column_main .tc + .introduce {
  padding: 55px 0 0 40px;
}
.column_main .introduce p ~ p {
  margin-top: 1.8em;
}
.column_main .introduce p {
  font-weight: 300;
}
.column_main .introduce strong {
  font-weight: 500;
}
.column_main .history {
  margin-top: 60px;
  font-size: 15px;
  line-height: 24px;
}
.column_main .history ul {
  position: relative;
  margin: 0 0 100px 60px;
}
.column_main .history ul img {
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 30px;
}
.column_main .history li {
  margin: 0 0 0 163px;
  padding-top: 12px;
  text-indent: -38px;
}
.column_main .history li span {
  margin-right: 20px;
  color: #9c8b81;
  font-weight: bold;
}
.column_main .business {
  position: relative;
  width: 900px;
  height: 782px;
  background: url('../images/company_business_01.png') no-repeat 0 0;
}
.column_main .business li {
  position: absolute;
  top: 215px;
  left: 392px;
}
.column_main .business li + li {
  top: 298px;
  left: 268px;
}
.column_main .business li + li + li {
  top: 298px;
  left: 554px;
}
.column_main .business li + li + li + li {
  top: 456px;
  left: 274px;
}
.column_main .business li + li + li + li + li {
  top: 456px;
  left: 565px;
}
.column_main .business li + li + li + li + li + li {
  top: 518px;
  left: 397px;
}
.column_main .business li a {
  position: relative;
  display: block;
  padding: 0 12px;
  background: url('../images/btn_business_icon.png') right bottom no-repeat;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #2a2a2a;
  text-align: center;
}

.g_box {
  position: relative;
  padding: 30px 35px;
  border: 1px solid #e9e9e9;
  background: #ffffff url('../images/bg_g_box.gif') repeat 0 0;
  font-size: 14px;
  color: #787878;
  line-height: 35px;
}
.g_box .d1 {
  display: inline-block;
  width: 80px;
  margin-right: 30px;
  background: url('../images/bu_d1_dot.png') no-repeat right center;
  color: #2a2a2a;
  font-weight: 500;
}
.g_box .tit {
  font-size: 16px;
  color: #917240;
  font-weight: bold;
  line-height: 40px;
  text-decoration: underline;
}

/* 서비스 안내 */
.content_service .main_video {
  position: relative;
  clear: both;
  margin: 50px auto;
  width: 683px;
  height: 384px;
  text-align: center;
}
.content_service .main_video .ie_msg {
  position: relative;
  padding-top: 160px;
  font-size: 15px;
  color: #787878;
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  z-index: 1;
  z-index: 3 \0 / IE9;
}
/* ie10 ~ 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .content_service .main_video .ie_msg {
    z-index: 1;
  }
}
.content_service .main_video .video_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.content_service .box {
  border: 1px solid #d5d5d5;
}
.content_service .box.slide {
  border: 0;
}
.content_service .bx-wrapper {
  position: relative;
}
.content_service .bx-viewport {
  width: 898px !important;
  border: 1px solid #d5d5d5;
}
.content_service .bx-wrapper .bx-pager {
  margin-top: 16px;
  height: 16px;
  text-align: center;
}
.content_service .bx-wrapper .bx-pager-item {
  display: inline-block;
}
.content_service .bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../images/service/slide_controls.png') -16px -100px no-repeat;
  text-indent: -9999px;
}
.content_service .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-position: 0 -100px;
}
.content_service .bx-wrapper .bx-controls-direction a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -33px;
  width: 30px;
  height: 50px;
  background: url('../images/service/slide_controls.png') 0 0 no-repeat;
  text-indent: -9999px;
  z-index: 99;
}
.content_service .bx-wrapper .bx-controls-direction a.bx-next {
  left: auto;
  right: 0;
  background-position: -30px 0;
}
.content_service .bx-wrapper .bx-controls-direction a.bx-prev.disabled {
  background-position: 0 -50px;
}
.content_service .bx-wrapper .bx-controls-direction a.bx-next.disabled {
  background-position: -30px -50px;
}

/* 추가(20210111) */
.content_service .introduce {
  position: relative;
}
.content_service .introduce .bx-viewport {
  border: 0;
}
.content_service .introduce .slideshow {
  position: relative;
  margin: auto;
  width: 684px !important;
  height: 390px;
}
.content_service .introduce .btn_list {
  position: absolute;
  left: 518px;
  bottom: 20px;
  width: 230px;
  z-index: 99;
}
.content_service .introduce .btn_list li {
  margin: 0 0 8px 0;
}
.content_service .introduce .btn_list li a {
  display: block;
  padding: 10px 0;
  border-radius: 19px;
  background: #2a2a2a;
  font-size: 15px;
  color: #fff;
  line-height: 17px;
  text-align: center;
}
.content_service .introduce .btn_list li a:hover {
  background: #4a4a4a;
}
.content_service .box.affiliate {
  padding: 50px;
  text-align: center;
}
.content_service .box.affiliate .btn {
  margin-top: 35px;
}
.content_service .box.affiliate .btn .going {
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  border-radius: 19px;
  background: #2a2a2a;
  font-size: 15px;
  color: #fff;
  line-height: 17px;
}
.content_service .box.affiliate .btn .going:hover {
  background: #4a4a4a;
}

/* 투자정보 (추가-20210820) */
.column_main .finances {
  margin-top: 30px;
}
.column_main .tbtop-area {
  position: relative;
  margin-bottom: 10px;
}
.column_main .tbtop-area:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.column_main .tbtop-area select {
  position: relative;
  width: 120px;
  height: 35px;
  font-size: 17px;
  color: #222;
  font-weight: 500;
}
.column_main .tbtop-area .unit {
  position: absolute;
  right: 0;
  bottom: 0px;
  font-size: 14px;
  color: #9a9a9a;
  text-align: right;
}
.column_main .info-area {
  margin-top: 20px;
  font-size: 14px;
  color: #9a9a9a;
}
.tb_fnc {
  position: relative;
  width: 100%;
  border-top: 2px solid #4a4a4a;
  font-size: 14px;
}
.tb_fnc thead th {
  height: 48px;
  padding: 0;
  border-top: 0;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #e7e7e7;
  color: #222;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
}
.tb_fnc tbody th,
.tb_fnc tbody td {
  height: 20px;
  padding: 15px 10px;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  font-size: 14px;
  line-height: 20px;
  color: #787878;
}
.tb_fnc tbody th {
  font-size: 15px;
  color: #222;
  font-weight: 400;
  text-align: left;
}
.tb_fnc tbody td {
  text-align: right;
}
.tb_fnc tbody tr.sum th,
.tb_fnc tbody tr.sum td {
  font-weight: 500;
  color: #222;
  background: #f8f9fa;
  border-bottom: 1px solid #c8c8c8;
}
.tb_fnc tbody tr.total th,
.tb_fnc tbody tr.total td {
  font-weight: 500;
  color: #222;
  background: #f1f2f3;
}
.tb_fnc .groupline {
  border-right: 1px solid #c8c8c8;
}
.tb_fnc .nrl {
  border-right: 0;
}

/* 투자정보 (추가-20220106) */
.finances h6 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #222;
  font-weight: 500;
}
.column_main .tbtop-area .stock-info:after {
  content: '';
  clear: both;
  display: block;
}
.column_main .tbtop-area .stock-info {
  float: left;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
.column_main .tbtop-area .stock-info li {
  position: relative;
  display: inline-block;
  margin-left: 48px;
}
.column_main .tbtop-area .stock-info li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -26px;
  margin-top: -4px;
  width: 1px;
  height: 10px;
  background-color: #8c8c8c;
  font-size: 0;
}
.column_main .tbtop-area .stock-info li:first-child:before {
  display: none;
}
.column_main .tbtop-area .stock-info li:first-child {
  margin-left: 0;
}
.column_main .tbtop-area .stock-info .current {
  font-size: 40px;
  font-weight: 700;
}
.column_main .tbtop-area .stock-info .tit {
  margin-right: 14px;
  color: #222;
}
.column_main .tbtop-area .stock-info .mark {
  margin-left: 8px;
  font-size: 80%;
}
.column_main .tbtop-area .basetime {
  float: right;
  margin-top: 30px;
  font-size: 14px;
  color: #9a9a9a;
}
.column_main .tbtop-area .basetime .state {
  display: inline-block;
  margin-left: 8px;
  padding: 3px 5px;
  min-width: 50px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
}
.column_main .tbtop-area .basetime .state.during {
  color: #fff;
  background: #555;
}
.column_main .tbtop-area .basetime .state.closing {
  color: #787878;
  background: #e7e7e7;
}
.column_main .tbtop-area .stock-info.stock-up,
.tb_fnc .stock-up {
  color: #fa391a;
}
.column_main .tbtop-area .stock-info.stock-down,
.tb_fnc .stock-down {
  color: #2077e8;
}
.column_main .tbtop-area .stock-info.stock-same,
.tb_fnc .stock-same {
  color: #787878;
}
.tb_fnc .mark {
  display: inline-block;
  width: 20px;
  font-size: 12px;
}

/* 컨텐츠 페이지 */
.top_txt {
  margin-bottom: 60px;
  font-size: 17px;
  color: #878787;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
}
.top_txt .line01 {
  height: 45px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #4a4a4a;
  text-align: center;
  letter-spacing: 0px;
  background: url('../images/bg_grayline.gif') no-repeat center 40px;
}
.top_txt .single_l {
  width: 20px;
  height: 16px;
  margin-right: 10px;
  background: url('../images/bg_single_l.gif') no-repeat 0 0px;
}
.top_txt .single_r {
  width: 20px;
  height: 16px;
  margin-left: 10px;
  background: url('../images/bg_single_r.gif') no-repeat 0 0px;
}

.tip {
  position: relative;
  padding: 20px 45px 20px 90px;
  border: 1px dashed #e7e7e7;
  line-height: 20px;
  background: #fbfbfb url('../images/ic_tip.png') no-repeat 20px 27px;
}
.tip .tit {
  font-size: 13px;
  color: #2a2a2a;
  line-height: 30px;
  font-weight: bold;
}
.tip .con {
  font-size: 12px;
  color: #4a4a4a;
}
.tip span.stit {
  display: inline-block;
  margin: 10px 0 5px;
  padding-left: 10px;
  font-size: 12px;
  color: #917240;
  line-height: 18px;
  font-weight: bold;
  background: url('../images/bu_dot01.gif') no-repeat 1px 8px;
}

/* 레이어팝업 */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #d1d1d1;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 50;
  *zoom: 1;
}
.popup:after {
  content: '';
  clear: both;
  display: block;
}
.popup h1 {
  height: 21px;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background: #323e51;
}
.popup h1 .close {
  position: absolute;
  top: 12px;
  right: 20px;
  background: url(../images/btn_close.gif) no-repeat 0 0;
  width: 19px;
  height: 19px;
}
.popup .con {
  padding: 25px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background: #fff;
}
.popup .con h2 {
  margin: 20px 0;
  font-size: 18px;
  line-height: 18px;
  color: #2a2a2a;
}
.popup .scroll {
  position: relative;
  border: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
  height: 460px;
}

/* 일반팝업 */
.popup2 {
  position: relative;
  background: #fff;
}
.popup2 h1 {
  height: 21px;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background: #323e51;
}
.popup2 h1 .close {
  position: absolute;
  top: 12px;
  right: 20px;
  background: url('../images/btn_close.gif') no-repeat 0 0;
  width: 19px;
  height: 19px;
  z-index: 1;
}
.popup2 .con {
  padding: 25px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background: #fff;
}

/* 공통 */
.ir {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1px;
  text-indent: -999px;
  letter-spacing: -100px;
  color: transparent;
  text-align: left;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg_overlay_90.png') 0 0 repeat;
  z-index: 999999;
}
.pr20 {
  padding-right: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}

/* 모달 */
.modal_confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -180px;
  padding: 40px 30px 30px;
  width: 360px;
  background: #fff;
  border-radius: 30px 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 50;
  *zoom: 1;
}
.modal_confirm p {
  position: relative;
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
.modal_confirm .completion {
  position: relative;
  margin-bottom: 20px;
  height: 98px;
  background: url(../images/ic_completion.png) no-repeat center top;
}
.modal_confirm .emMsg {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
  color: #faa61a;
  font-weight: 500;
  line-height: 22px;
}

/* 약관 */
.privacy_agree {
  padding: 0;
  border: 1px solid #d1d1d1;
  font-size: 0;
}
.privacy_agree_i {
  padding: 10px 15px;
  font-size: 13px;
  color: #787878;
  line-height: 22px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* modal */
.modal_container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}
.modal_container .modal_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}
.modal_container .modal_wrap .modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  padding: 0 16px;
  border-bottom: 1px solid #cbcbcb;
}
.modal_container .modal_wrap .modal_header .logo {
  height: 16px;
}
.modal_container .modal_wrap .modal_body {
  box-sizing: border-box;
}

/* 부채증명서 미납내역 */
.liabilities_list_container .modal_wrap {
  width: 900px;
}
.liabilities_list_container .modal_wrap .modal_body {
  overflow: auto;
  height: calc(100% - 51px);
  padding: 24px 20px 40px;
}
.liabilities_list_container .tb_container {
  overflow: hidden;
}
.liabilities_list_container .tb_wrap .tb_data_list tr {
  display: table;
  width: 100%;
}
.liabilities_list_container .tb_wrap .tb_data_list thead tr :nth-child(1) {
  width: 65px;
}
.liabilities_list_container .tb_wrap .tb_data_list thead tr :nth-child(2) {
  width: 115px;
}
.liabilities_list_container .tb_wrap .tb_data_list thead tr :nth-child(3) {
  width: 173px;
}
.liabilities_list_container .tb_wrap .tb_data_list thead tr :nth-child(4) {
  width: 81px;
}
.liabilities_list_container .tb_wrap .tb_data_list thead tr :nth-child(5) {
  width: 115px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody tr :nth-child(1) {
  width: 66px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody tr :nth-child(2) {
  width: 116px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody tr :nth-child(3) {
  width: 174px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody tr :nth-child(4) {
  width: 82px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody tr :nth-child(5) {
  width: 116px;
}
.liabilities_list_container .tb_wrap .tb_data_list thead {
  width: 860px;
}
.liabilities_list_container .tb_wrap .tb_data_list tbody {
  display: block;
  overflow: auto;
  width: 860px;
  max-height: 151px;
}
.liabilities_list_container .total_money_wrap {
  display: flex;
  float: right;
  margin-top: 23px;
  font-size: 16px;
  line-height: 19.36px;
  color: #000;
}
.liabilities_list_container .total_money_wrap dd {
  margin-left: 20px;
}
.liabilities_list_container .btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.liabilities_list_container .btn_wrap button {
  margin: 0 4px;
}

/* 부채증명서 신규발급 */
.liabilities_issue_container .modal_wrap .modal_body {
  overflow: auto;
  height: calc(100% - 51px);
  padding: 30px;
}
.liabilities_issue_container .logo_wrap {
  display: flex;
  align-items: center;
  padding: 18.5px 17px;
  border-bottom: 1px solid #9b9b9b;
}
.liabilities_issue_container .logo_wrap .logo {
  height: 12px;
}
.liabilities_issue_container .logo_wrap .logo a {
  display: block;
  height: 100%;
}
.liabilities_issue_container .logo_wrap .logo img {
  display: block;
  height: 100%;
}
.liabilities_issue_container .process_contents_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 287px;
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
  color: #000;
  font-size: 13px;
}
.liabilities_issue_container .process_contents_1 dt,
.liabilities_issue_container .process_contents_1 dd {
  margin-bottom: 12px;
}
.liabilities_issue_container .process_contents_1 dt {
  width: 127px;
  font-weight: 700;
}
.liabilities_issue_container .process_contents_1 dd {
  width: calc(100% - 127px);
}
.liabilities_issue_container .process_contents_1 dd input {
  width: 100%;
}
.liabilities_issue_container .process_contents_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 336px;
  padding: 0 0 30px;
  border-bottom: 1px solid #d9d9d9;
  color: #000;
  font-size: 13px;
}
.liabilities_issue_container .process_contents_2 .text_1 {
  font-size: 14px;
  color: #000;
  text-align: center;
}
.liabilities_issue_container .process_contents_2 .text_2 {
  font-size: 13px;
  color: #595959;
  text-align: center;
}
.liabilities_issue_container .process_contents_2 .text_2 b {
  font-size: 13px;
  color: #ff3850;
  line-height: 20px;
}
.liabilities_issue_container .process_contents_2 .border_box {
  max-width: 336px;
  width: 100%;
  margin: 30px auto 20px;
  padding: 26px 58px;
  border: 1px solid #cdcdcd;
}
.liabilities_issue_container .process_contents_2 .border_box {
  text-align: ;
}
.liabilities_issue_container .btn_wrap {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.liabilities_issue_container .btn_wrap button {
  margin: 0 4px;
}
