#container .content {
  max-width: 1140px;
  margin: 0 auto;
}
#container .content .titleWrap.mt120 {
  margin-top: 120px;
}
#container .imgWrap {
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
#container.company .titleWrap {
  height: 216px;
  padding-top: 84px;
}
#container.company .titleWrap .title {
  font-family: Noto Sans KR;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #1d1d1f;
}
#container .imgWrap.company {
}
#container.company .imgBox {
  position: relative;
  height: 760px;
  background: url(../images/company/company.png) no-repeat center / cover;
}
#wrap.company.animation #container.company .imgBox {
  background: url(../images/company/company.png) no-repeat center bottom -60px / cover;
}
#wrap.company .imgBox::before {
  content: '';
  display: block;
  background: #fff;
  height: 300px;
  transition: all 0.5s ease-in-out;
}
#wrap.company.animation .imgBox::before {
  height: 0;
}
#wrap.company.animation .imgBox {
  height: 840px;
}
#wrap.company .imgBox .content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#wrap.company.animation #container.company {
  padding-top: 0;
}
#wrap.company.animation #header {
  background-color: transparent;
}
#wrap.company.animation #header .container {
  background-color: transparent;
}
#wrap.company.animation #container.company .imgBox .titleWrap {
  padding-top: 160px;
}
#wrap.company.animation #header .container .gnb .nav > li > a {
  color: #fff;
}
#wrap.company.animation #container.company .titleWrap .title {
  color: #fff;
}
#container.company .titleWrap .subTitle {
  display: none;
  color: #fff;
  font-family: Noto Sans KR;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  letter-spacing: -0.02em;
  text-align: left;
  transition: all 0.4s ease-in-out;
}
#wrap.company.animation #container.company .titleWrap .title {
  display: none;
}
#wrap.company.animation #container.company .titleWrap .subTitle {
  display: block;
}
#wrap.company #container.company .listWrap {
  display: none;
  margin-top: 108px;
}
#wrap.company #container.company .listWrap > ul {
  display: flex;
  gap: 0 30px;
  position: relative;
}
#wrap.company #container.company .listWrap li {
  position: relative;
  width: 33.3333%;
  min-height: 180px;
  padding: 30px;
  transition: all 0.6s ease-in-out;
}
#wrap.company #container.company .listWrap li > p {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-align: center;
}
#wrap.company #container.company .listWrap li > p .small {
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
#wrap.company #container.company .listWrap li .listWrapTitle {
  font-family: SUIT;
  font-size: 54px;
  font-weight: 700;
  line-height: 70.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
#wrap.company #container.company .listWrap li .listWrapSubTitle {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
  margin-top: 27px;
}

#wrap.company #container.company .listWrap li .listWrapContent {
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 10px;
}

#wrap.company #container.company .listWrap li::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}
#wrap.company.animation #container.company .listWrap {
  display: block;
}

#container.company {
  padding-top: 84px;
}
#container .contents .fullWrap {
  background: #f5f5f7;
  padding-bottom: 120px;
}
#container .contents .fullWrap:nth-of-type(even) {
  background-color: #fff;
}
#container .contents .fullWrap .titleWrap > p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #99989e;
}
#container .contents .fullWrap .titleWrap > h4 {
  font-family: Noto Sans KR;
  font-size: 34px;
  font-weight: 700;
  line-height: 44.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
#container .contents .fullWrap .cardWrap > ul {
  display: flex;
  gap: 0 30px;
  position: relative;
}
#container .contents .fullWrap .cardWrap li {
  position: relative;
  width: 273px;
  min-height: 300px;
  border-radius: 16px;
  box-shadow: 0px 3px 6px 0px #0000001a;
  background-color: #fff;
  padding: 30px;
  transition: all 0.6s ease-in-out;
}
#container .contents .fullWrap .cardWrap li:nth-of-type(1) {
  z-index: 2;
}
#container .contents .fullWrap .cardWrap li:nth-of-type(2) {
  z-index: 3;
  left: -263px;
}
#container .contents .fullWrap .cardWrap li:nth-of-type(3) {
  z-index: 4;
  left: -526px;
}
#container .contents .fullWrap .cardWrap li:nth-of-type(4) {
  z-index: 5;
  left: -789px;
}
#container .contents .fullWrap .cardWrap.move li:nth-of-type(2) {
  left: 0;
}
#container .contents .fullWrap .cardWrap.move li:nth-of-type(3) {
  left: 0;
}
#container .contents .fullWrap .cardWrap.move li:nth-of-type(4) {
  left: 0;
}
#container.company .fullWrap .titleWrap {
  height: auto;
}
#container .contents .fullWrap .cardWrap.mt120 {
  margin-top: 120px;
}
#container .contents .fullWrap .cardWrap .cardWrapTitle {
  font-family: Proxima Nova Extra Condensed;
  font-size: 50px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ff6114;
  margin-bottom: 50px;
}

#container .contents .fullWrap .cardWrap .cardWRapSubTitle {
  font-family: Noto Sans KR;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 20px;
}
#container .contents .fullWrap .cardWrap .cardWrapContent {
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}

#container .contents .flexWrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#container .contents .roundListWrap {
  padding-top: 84px;
}
#container .contents .roundListWrap > ul {
  display: flex;
  gap: 0 16px;
}
#container .contents .roundListWrap li {
  font-family: Noto Sans KR;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  border-radius: 999px;
  padding: 118.5px 0;
  width: 176.67px;
}
#container .contents .roundListWrap li:nth-of-type(1) {
  background-color: #666666;
}
#container .contents .roundListWrap li:nth-of-type(2) {
  background-color: #ff6114;
}
#container .contents .roundListWrap li:nth-of-type(3) {
  background-color: #000000;
}
#container .contents .roundListWrap li > p:first-of-type {
  margin-bottom: 20px;
}

#container .main_contents .section.section_2 .swiper {
  overflow: visible;
  margin-top: 50px;
}
#container .main_contents .section.section_2 .title_wrap h2 p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #99989e;
}

#container .swiper_nav {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}
#container .swiper_1 .arrow {
  position: absolute;
  top: -100px;
  display: inline-block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
#container .swiper_1 .button-prev {
  background: url('../images/service/ico-swiper-arrow-left-on.png') no-repeat center / contain;
  right: 54px;
}
#container .swiper_1 .button-next {
  background: url('../images/service/ico-swiper-arrow-right-on.png') no-repeat center / contain;
  right: 0;
}
#container .swiper_1 .button-prev:hover {
  background: url('../images/service/ico-swiper-arrow-left-hover.png') no-repeat center / contain;
  right: 54px;
}
#container .swiper_1 .button-next:hover {
  background: url('../images/service/ico-swiper-arrow-right-hover.png') no-repeat center / contain;
  right: 0;
}
#container .swiper_1 .button-prev.swiper-button-disabled {
  background: url('../images/service/ico-swiper-arrow-left-off.png') no-repeat center / contain;
  right: 54px;
}
#container .swiper_1 .button-next.swiper-button-disabled {
  background: url('../images/service/ico-swiper-arrow-right-off.png') no-repeat center / contain;
  right: 0;
}

#container .main_contents .section.section_2 .swiper .swiper-wrapper .swiper-slide .service_list li {
  padding: 6px 12px;
}

#container .title h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -0.02em;
  text-align: left;
}
#container .listBox.col-3 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}
#container .listBox.col-3 li {
  flex: 1 1 calc(33.33% - 16px);
  box-sizing: border-box;
  height: 120px;
  max-width: calc(33.33% - 16px);
  border-radius: 12px;
  padding: 30px;
  background-color: #f5f5f7;
}
#container .listBox li h4 {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #99989e;
}
#container .listBox li p {
  font-family: SUIT;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  color: #1d1d1f;
  margin-top: 10px;
}
#container .box:last-of-type {
  margin-bottom: 180px;
}
