.historyList > ul li {
  margin-bottom: 80px;
}
.historyList > ul li:last-of-type {
  margin-bottom: 0;
}
#container.history .leftWrap .snb.column li a {
  background: #f5f5f7;
}
#container.history .leftWrap .snb.column li.on a {
  background: #ff6114;
}

#container.history .leftWrap + .rightWrap {
  width: 562px;
}
#container.history .swiper_1 {
  width: 100%;
  overflow: hidden;
}
#container.history .swiper_1 .swiper-slide {
  height: 1px;
}
#container.history .swiper_1 .swiper-slide-active {
  height: auto;
}
#container.history .swiper-container {
  overflow: hidden;
}
