.historyList > ul li {
  margin-bottom: 80px;
}
.historyList > ul li:last-of-type {
  margin-bottom: 0;
}
#container.history .leftWrap .snb.column li a {
  background: #f5f5f7;
}
#container.history .leftWrap .snb.column li.on a {
  background: #ff6114;
}

#container.history .leftWrap + .rightWrap {
  width: 562px;
}
#container.history .swiper_1 {
  width: 100%;
  overflow: hidden;
}
#container.history .swiper_1 .swiper-slide {
  height: 1px;
}
#container.history .swiper_1 .swiper-slide-active {
  height: auto;
}
#container.history .swiper-container {
  overflow: hidden;
}

/* mo */
@media all and (max-width: 767px) {
  .pc-view {
    display: none !important;
  }
  .mo-view {
    display: block !important;
  }
  #header .container {
    height: 50px;
  }
  #container .content {
    max-width: initial;
    flex-wrap: wrap;
  }
  #container.history .swiper_1 {
    margin-top: 50px;
  }
  #container.history .leftWrap {
    display: block;
    width: 100%;
  }
  #container.history .leftWrap .snb {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
  }
  #container.history .content {
    justify-content: center;
  }
  #container.history .leftWrap .thumnailWrap .thumnail {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 12px;
    background: url(../images/service/thumnail-01-mo.png) no-repeat center / cover;
  }
  #container.history .leftWrap .thumnailWrap .thumnail01 {
    background: url(../images/company/history_img_01.png) no-repeat center / cover;
  }
  #container.history .leftWrap .thumnailWrap .thumnail02 {
    background: url(../images/company/history_img_02.png) no-repeat center / cover;
  }
  #container.history .leftWrap .thumnailWrap .thumnail03 {
    background: url(../images/company/history_img_03.png) no-repeat center / cover;
  }
  #container.history .leftWrap .stickyWrap {
    padding: 0 16px;
  }
  #container.history .leftWrap + .rightWrap {
    width: 100%;
    margin-left: 0;
  }
  #container .swiper_1 .swiper-slide {
    background: transparent;
  }
  #container.history .historyList > ul p {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 15px;
  }
  #container.history .swiper_1 .swiper-slide {
    padding: 0;
  }
  #container.history .historyList > ul dt {
    width: 40px;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 10px;
  }
  #container.history .historyList > ul dd {
  }
  #container.history .historyList > ul dd p:last-of-type {
    margin-bottom: 10px;
  }
  #container.history .historyList > ul dd p {
    font-family: SUIT;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
  }
  #container.history .historyList > ul li {
    margin-bottom: 50px;
  }
  #container.history .historyList > ul li .thumnailWrap .thumnail {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 16px;
    background: url(../images/company/history_img_01.png) no-repeat center / cover;
  }
  #container.history .historyList > ul li .thumnailWrap .thumnail02 {
    background: url(../images/company/history_img_02.png) no-repeat center / cover;
  }
  #container.history .historyList > ul li .thumnailWrap .thumnail03 {
    background: url(../images/company/history_img_03.png) no-repeat center / cover;
  }
  #container.history .historyList > ul li .thumnailWrap .thumnailDate {
    font-family: SUIT;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 14px;
    color: #ff6114;
    margin-top: 14px;
    margin-bottom: 4px;
  }
  #container.history .historyList > ul li .thumnailWrap .thumnailTitle {
    font-family: SUIT;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    margin-top: 4px;
    color: #1d1d1f;
    margin-top: 0;
  }
}
/* //mo */
