/* header */
#header {
  position: relative;
  z-index: 100;
}
#header.normal::before {
  display: block;
  content: '';
  width: 100%;
  height: 80px;
  background-color: transparent;
}
#header .container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: #fff;
  box-sizing: border-box;
  transition: 0.3s;
}
#header.open .container {
  background-color: #fff !important;
}
#header.fixed .container {
  background-color: rgba(255, 255, 255) !important;
  box-shadow: 0px 2px 4px 0px #0000000d;
}
#header.fixed.open .container {
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 2px 4px 0px #0000000d;
}
#header .container .logo .mo_gnb_btn {
  display: none;
  position: relative;
}
#header .container .logo {
  display: flex;
  align-items: center;
  height: 100%;
}
#header .container .gnb {
  z-index: 1;
  padding-top: 30px;
}
#header .container .gnb .nav {
  display: flex;
  gap: 38px;
  padding-bottom: 20px;
}
#header .container .gnb .nav > li {
  position: relative;
  z-index: 1;
  height: 34px;
}
#header .container .gnb .nav > li > a {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 12px 20px 0;
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 34px;
}
#header .container .gnb .nav > li > a.arrow::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 11px;
  width: 7px;
  height: 12px;
  background: url(../images/ic_arrow_link.png) 0 0 / contain no-repeat;
  transition: 300ms;
}
#header .container .gnb .nav > li > a.arrow:hover::after {
  background: url(../images/ic_arrow_link_active.png) 0 0 / contain no-repeat;
}
#header .container .gnb .nav > li a {
  transition: 300ms;
}
#header .container .gnb .nav > li a:hover {
  color: #ff6114 !important;
}
#header .container .gnb .nav .submenu {
  display: none;
}
#header .container .gnb .nav .submenu .dep2 li {
  margin-bottom: 5px;
}
#header .container .gnb .nav .submenu .dep2 li:last-child {
  margin-bottom: 0;
}
#header .container .gnb .nav .submenu .dep2 li a {
  display: block;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
}
#header .container .sidebtn_wrap {
  display: flex;
  padding-top: 28px;
  gap: 12px;
}
#header .container .sidebtn_wrap > a {
  transition: 300ms;
}
#header .container .sidebtn_wrap > a:hover {
  color: #ff6114;
  border: 1px solid #ff6114;
}
#header .container .sidebtn_wrap .admin_btn_wrap {
  display: flex;
  gap: 6px;
}
#header .container .sidebtn_wrap .admin_btn_wrap .adminbtn {
  width: 109px;
  height: 38px;
  border: 1px solid #dadada;
  border-radius: 40px;
  line-height: 38px;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}
#header .container .admin_mo_btn_wrap {
  display: none;
}
#header .container .sidebtn_wrap .lagnuage_wrap {
  position: relative;
  height: 38px;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_btn {
  display: flex;
  align-items: center;
  width: 59px;
  height: 38px;
  color: #1d1d1f;
  font-family: 'SUIT';
  font-weight: 700;
  font-size: 14px;
  transition: 300ms;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_btn:hover {
  color: #ff6114;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_btn::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(../images/ic_language.svg) 0 0 / cover no-repeat;
  transition: 300ms;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_btn:hover::before {
  background: url(../images/ic_language_active.svg) 0 0 / cover no-repeat;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_box {
  position: absolute;
  right: -22px;
  bottom: 0;
  z-index: 10;
  transform: translateY(100%);
  display: none;
  width: 58px;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px #00000040;
  box-sizing: border-box;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_box li {
  margin-bottom: 8px;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_box li:last-child {
  margin-bottom: 0;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_box li a {
  display: block;
  width: 100%;
  height: 22px;
  font-family: 'SUIT';
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  text-align: center;
  transition: 300ms;
}
#header .container .sidebtn_wrap .lagnuage_wrap .language_box li a:hover {
  color: #ff6114;
}
#header .container .gnb_sub_bg {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 240px;
  background: #fff;
}
#header .gnb_dim {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}
/* header END */

/* popup */
.popup-main {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-area .close_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 32px;
  height: 46px;
  font-size: 11px;
  line-height: 24px;
  color: #fff;
  background: #202020;
}
.popup-area .close_area .notview_btn {
  color: #fff;
  font-size: 14px;
}
.popup-area .close_area .btn_close {
  color: #fff;
  font-size: 14px;
}

.popup-main .dimmed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #15151580;
}
.popup-main .popup-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* popup END */

/* footer */
#footer {
  padding: 50px 0 70px;
  border-top: 1px solid #ededed;
}
#footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
  margin: auto;
}
#footer .container .company_name {
  width: 100%;
  color: #1d1d1f;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
#footer .container .left_contents,
#footer .container .right_contents {
  width: 550px;
}
#footer .container .left_contents > p {
  margin-top: 20px;
  color: #1d1d1f;
  font-family: 'SUIT';
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
}
#footer .container .left_contents > p .line {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 5px;
  background-color: #dadada;
}
#footer .container .left_contents .link_wrap {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-top: 28px;
}
#footer .container .left_contents .link_wrap li {
  position: relative;
  padding: 0 15px;
}
#footer .container .left_contents .link_wrap li:first-child {
  position: relative;
  padding: 0 15px 0 0;
}
#footer .container .left_contents .link_wrap li:first-child::before {
  display: none;
}
#footer .container .left_contents .link_wrap li::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #dadada;
}
#footer .container .left_contents .link_wrap li:last-child::after {
  display: none;
}
#footer .container .left_contents .link_wrap li a {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  transition: 300ms;
}
#footer .container .left_contents .link_wrap li a.highlight {
  color: #ff6114;
  font-weight: 700;
}
#footer .container .left_contents .link_wrap li a:hover {
  color: #ff6114;
}

#footer .container .left_contents .copyright {
  margin-top: 40px;
  color: #909090;
  font-family: 'SUIT';
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
#footer .container .right_contents .award_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#footer .container .right_contents .award_wrap .award_box {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 15px;
  border: 1px solid #e9e9ea;
  border-radius: 4px;
  box-sizing: border-box;
}
#footer .container .right_contents .award_wrap .award_box .text_wrap {
  color: #1d1d1f;
  font-size: 10px;
  line-height: 13.5px;
}
#footer .container .right_contents .award_wrap .award_box .text_wrap b {
  color: #1d1d1f;
  font-weight: 700;
}
#footer .container .right_contents .award_wrap .award_box .text_wrap b span {
  color: #ff6114;
}
#footer .container .right_contents .award_wrap .award_box::before {
  display: block;
  content: '';
  margin-right: 15px;
}
#footer .container .right_contents .award_wrap .award_box:nth-child(1)::before {
  width: 48px;
  height: 44px;
  background: url(../images/footer_award_01.png) 0 0 / cover no-repeat;
}
#footer .container .right_contents .award_wrap .award_box:nth-child(2)::before {
  flex: 0 0 auto;
  width: 52px;
  height: 46px;
  background: url(../images/footer_award_02.png) 0 0 / cover no-repeat;
}
#footer .container .right_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#footer .container .right_contents .link_list_wrap {
  display: flex;
}
#footer .container .right_contents .link_list_wrap a {
  color: #1d1d1f;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
}
#footer .container .right_contents .link_list_wrap .link_list {
  width: 140px;
  font-weight: 500;
}
#footer .container .right_contents .link_list_wrap .link_list li {
  margin-bottom: 15px;
}
#footer .container .right_contents .link_list_wrap .link_list li:first-child {
  margin-bottom: 20px;
}
#footer .container .right_contents .link_list_wrap .link_list .first {
  font-weight: 700;
}
#footer .container .right_contents .single_link {
  width: 111px;
  font-weight: 700;
}
#footer .container .right_contents .link_btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
}
#footer .container .bottom_contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}
#footer .container .bottom_contents .copyright {
  margin-top: 40px;
  color: #909090;
  font-family: 'SUIT';
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
#footer .container .bottom_contents .link_btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap {
  display: flex;
  gap: 6px;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-indent: -9999px;
  transition: 300ms;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a.youtube {
  background: url(../images/ic_youtube.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a.instagram {
  background: url(../images/ic_instagram.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a.blog {
  background: url(../images/ic_blog.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a:hover.youtube {
  background: url(../images/ic_youtube_active.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a:hover.instagram {
  background: url(../images/ic_instagram_active.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a:hover.blog {
  background: url(../images/ic_blog_active.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap {
  position: relative;
  width: 180px;
  margin-left: 20px;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0px 10px 0px 15px;
  border: 1px solid #dadada;
  border-radius: 6px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
  text-align: left;
  transition: 300ms;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_btn:hover {
  border: 1px solid #1d1d1f;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_btn::after {
  display: block;
  content: '';
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  background: url(../images/common/ic_arrow_down_gray2.svg) 0 0 / cover no-repeat;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_btn.open::after {
  transform: rotate(0);
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: -4px;
  transform: translateY(-100%);
  width: 100%;
  padding: 20px 15px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px #6d6d6d40;
  box-sizing: border-box;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap li {
  margin-bottom: 15px;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap li:first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap li:last-child {
  margin-bottom: 0;
  padding-top: 15px;
  border-top: 1px solid #f5f5f5;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap li a {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  transition: 300ms;
}
#footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_wrap li a:hover {
  color: #ff6114;
}

/* ----- 가맹점 관리자 ----- */
.merchant_admin {
  position: relative;
  background: #f5f5f5;
  color: #2a2a2a;
}
/*.merchant_admin:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 692px; border-bottom: 2px solid #faa61a; background: #fff url("../image/merchant/admin_main_bg.png") center bottom no-repeat; }*/
.merchant_admin #header {
  clear: both;
  padding: 35px 0 0 70px;
  height: 25px;
  background: #fff;
  z-index: 1;
}
.merchant_admin #header:after {
  content: '';
  clear: both;
  display: block;
}
.merchant_admin #header .logo {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin-right: 28px;
  line-height: 1;
  z-index: 1;
}
.merchant_admin #header .slogan {
  float: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.merchant_admin #container {
  border-bottom: 2px solid #faa61a;
  background: #fff url('../images/merchant/admin_main_bg.png') center bottom no-repeat;
}
.merchant_admin #container .contents {
  margin-bottom: -67px;
  padding-top: 70px;
  overflow: visible;
  background: none;
}

.merchant_admin .page_title {
  font-size: 45px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.merchant_admin .admin_box {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}
.merchant_admin .admin_box .box {
  display: inline-block;
  margin: 0 15px;
  padding: 215px 0 44px;
  width: 358px;
  border: 1px solid #d5d5d5;
  background: #fff url('../images/merchant/admin_box_spay.png') center top no-repeat;
  font-size: 15px;
  line-height: 1.6;
}
.merchant_admin .admin_box .box.pg {
  background-image: url('../images/merchant/admin_box_pg.png');
}
.merchant_admin .admin_box .box.van {
  background-image: url('../images/merchant/admin_box_van.png');
}
.merchant_admin .admin_box .box:hover {
  border-color: #faa61a;
}
.merchant_admin .admin_box .box h3 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
}
.merchant_admin .admin_box .box h3 + p {
  margin: 10px 0 50px;
  color: #787878;
}
.merchant_admin #footer {
  padding: 150px 0 50px;
  text-align: center;
  color: #a3a3a3;
}

/* ----- 거래내역조회 ----- */

.newpage {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  color: #2a2a2a;
}
.newpage.bcfff {
  background: #fff;
}

.newpage #header {
  clear: both;
  padding: 35px 0 0 70px;
  height: 25px;
  background: #fff;
  z-index: 1;
}
.newpage #header:after {
  content: '';
  clear: both;
  display: block;
}
.newpage #header .logo {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin-right: 28px;
  line-height: 1;
  z-index: 1;
}
.newpage #header .slogan {
  float: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}
.newpage #container {
  min-width: 1320px !important;
  border-bottom: 2px solid #faa61a;
  background: #fff url('../image/merchant/admin_main_bg.png') center bottom no-repeat;
}
.newpage #container .contents {
  width: auto;
  margin-bottom: -67px;
  padding-top: 70px;
  overflow: visible;
  background: none;
}
.newpage .page_title {
  font-size: 45px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}
.newpage .box_wrap {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}

.newpage .box_wrap .box {
  display: inline-block;
  margin: 0 15px;
  padding: 215px 0 44px;
  width: 358px;
  border: 1px solid #d5d5d5;
  background: #fff url('../image/merchant/admin_box_spay.png') center top no-repeat;
  font-size: 15px;
  line-height: 1.6;
}

.newpage .box_wrap .box2 {
  display: inline-block;
  margin: 0 15px;
  padding: 215px 0 44px;
  width: 290px;
  border: 1px solid #d5d5d5;
  background: #fff center top no-repeat;
  font-size: 15px;
  line-height: 1.6;
}
.newpage .box_wrap .h2_s {
  margin: 30px 0 45px;
  font-size: 18px;
  color: #2a2a2a;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}
.newpage .box_wrap .h2_s a {
  color: #faa61a;
  text-decoration: underline;
}
.newpage .box_wrap .box2.ch01 {
  background-image: url('../image/transaction/trans_box_ch01.png');
}
.newpage .box_wrap .box2.ch02 {
  background-image: url('../image/transaction/trans_box_ch02.png');
}
.newpage .box_wrap .box2.ch03 {
  background-image: url('../image/transaction/trans_box_ch03.png');
}
.newpage .box_wrap .box2.ch04 {
  background-image: url('../image/transaction/trans_box_ch04.png');
}

.newpage .box_wrap .box:hover,
.newpage .box_wrap .box2:hover {
  border-color: #faa61a;
}
.newpage .box_wrap .box h3,
.newpage .box_wrap .box2 h3 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
}
.newpage .box_wrap .box h3 span,
.newpage .box_wrap .box2 h3 span {
  font-size: 21px;
}

.newpage .box_wrap .box h3 + p,
.newpage .box_wrap .box2 h3 + p {
  margin: 10px 0 50px;
  color: #787878;
}
.newpage #footer {
  padding: 150px 0 50px;
  text-align: center;
  color: #a3a3a3;
}

.newpage .con {
  position: relative;
  margin-top: 30px;
  border-top: 1px solid #a2a2a2;
}
.newpage .con:after {
  content: '';
  clear: both;
  display: block;
}
.newpage .con .column {
  position: relative;
  margin: 0 auto;
  width: 965px;
  min-width: 1000px !important;
}
.newpage .con .column:after {
  content: '';
  clear: both;
  display: block;
}

/* tab_nav */
.tabnav_area {
  position: relative;
  margin-bottom: 40px;
}
.tabnav_area:after {
  content: '';
  clear: both;
  display: block;
}

.tab_nav {
  margin: -3px -5px;
  font-size: 0;
}
.tab_nav * {
  box-sizing: border-box;
}
.tab_nav li {
  display: block;
  float: left;
  padding: 3px 5px;
}
.tab_nav li .btn {
  display: inline-block;
  padding: 9px 20px;
  width: 172px;
  height: 45px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #fff;
  font-size: 15px;
  color: #777;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
}
.tab_nav li .btn:hover {
  border-color: #c4c4c4;
  color: #2a2a2a;
  background: #f5f5f5;
}
.tab_nav li.active .btn {
  border-color: #faa61a;
  color: #faa61a;
  font-weight: 500;
  background: #fff;
}

/* ----- popup ----- */
.popup_terms {
  position: relative;
  width: 100%;
  height: 100%;
}
.popup_terms .header {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #222;
  color: #222;
}
.popup_terms .header .title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.05em;
}
.popup_terms .content {
  position: absolute;
  top: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
/*.popup_terms .terms { width: 100%; height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch; }*/
.popup_terms .tab_area_content {
  padding-top: 0;
}
.popup_terms .footer {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 45px;
  border-top: 1px solid #222;
}

.popup_terms.iframe {
  font-size: 14px;
  line-height: 1.4;
  color: #777;
  word-break: normal;
}
.popup_terms.iframe dl {
  margin-bottom: 30px;
}
.popup_terms.iframe dl dt {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
}

.popup_terms.iframe dl dt .icon_img {
  height: 30px;
  margin-left: 6px;
}

.popup_terms.iframe dl h4 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.popup_terms.iframe .indent {
  margin-left: 20px;
}
.popup_terms .g_box {
  padding: 15px;
  line-height: 1.4;
}
.popup_terms.popup-tab .header .tab_area {
  margin-top: 15px;
  word-break: keep-all;
}
.popup_terms.popup-tab .content {
  top: 140px;
}
.popup_terms .visual_box {
  max-width: 680px;
  margin: 0 auto;
  border: 2px solid #0044CC33;
  margin-bottom: 30px;
  padding: 20px 0 15px;
  text-align: center;
}
.popup_terms .visual_box .visual_title {
  font-size: 16px;
  line-height: 22px;
  color: #222;
  font-weight: 500;
}
.popup_terms .visual_box .icon_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.popup_terms .visual_box .icon_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 200px;
  margin: 15px 0;
}
.popup_terms .visual_box .icon_list li .icon_img {
  width: auto;
  height: 100px;
}
.popup_terms .visual_box .icon_list li .icon_title {
  font-size: 16px;
  line-height: 22px;
  color: #222;
  font-weight: 500;
}
.popup_terms .visual_box .icon_list li .icon_desc {
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
.popup_terms .contents_list {
  margin-bottom: 30px;
}
.popup_terms .contents_list .contents_title {
  font-size: 16px;
  line-height: 22px;
  color: #222;
  font-weight: 500;
}
.popup_terms .contents_list .contents_list_ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 18px;
}
.popup_terms .contents_list .contents_list_ul li {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}


@media only screen and (min-device-width: 992px) {
  .popup_terms .header {
    top: 30px;
    left: 30px;
    right: 30px;
    padding-bottom: 30px;
  }
  .popup_terms .header .title {
    font-size: 28px;
  }
  .popup_terms .content {
    top: 120px;
    left: 30px;
    right: 30px;
    bottom: 30px;
  }
  .popup_terms.popup-tab .header .tab_area {
    margin-top: 30px;
  }
  .popup_terms.popup-tab .content {
    top: 190px;
  }
}

/* 도입문의 추가 */
.contents.introductory_inquiry {
}
.contents.introductory_inquiry .section .title_area .section_info {
  font-size: 20px;
  line-height: 32px;
  color: #878787;
  font-weight: 400;
}
.contents.introductory_inquiry .section .title_area .section_info strong {
  color: #2a2a2a;
}
.contents.introductory_inquiry .section .title_area .section_info .bg {
  position: relative;
}

.contents.introductory_inquiry .contact_form .sub_title {
  font-size: 12px;
  color: #a3a3a3;
  margin-left: 5px;
}
.contents.introductory_inquiry .contact_form .check_group_inline label:not(:last-child) {
  margin-right: 30px;
}
.contents.introductory_inquiry input[type='checkbox'] {
  display: none;
}
.contents.introductory_inquiry .checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.contents.introductory_inquiry .checkbox:not(:last-child) {
  margin-right: 30px;
}
.contents.introductory_inquiry .checkbox > input[type='checkbox'],
.contents.introductory_inquiry .checkbox > input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contents.introductory_inquiry .checkbox > input + label {
  position: relative;
  display: block;
  padding: 3px 0 3px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
  font-weight: 400;
}
.contents.introductory_inquiry .checkbox > input + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: url('../image/ic_checkbox_off.png') no-repeat center / contain;
} /* check icon */
.contents.introductory_inquiry .checkbox > input:checked + label:before {
  background: url('../image/ic_checkbox_on.png') no-repeat center / contain;
}

.contents.introductory_inquiry .checkbox_type2 > input + label {
  color: #787878;
}
.contents.introductory_inquiry .checkbox_type2 > input + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: url('../image/ic_checkbox_type2_off.png') no-repeat center / contain;
} /* check icon */
.contents.introductory_inquiry .check_group_type2 input[type='checkbox'] {
  display: inline-block;
}

.contents.introductory_inquiry .form_set .agree_content {
  min-height: 160px;
  margin-top: 30px;
}
.contents.introductory_inquiry .agree_content h2 {
  font-size: 15px;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.contents.introductory_inquiry .agree_content p {
  font-size: 13px;
  color: #787878;
}
.contents.introductory_inquiry .agree_content .under_line {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
}
.contents.introductory_inquiry .agree_content table {
  word-break: keep-all;
  margin: 10px 0;
  text-align: center;
}
.contents.introductory_inquiry .agree_content table,
.contents.introductory_inquiry .agree_content th,
.contents.introductory_inquiry .agree_content td {
  border: 1px solid #787878;
  border-collapse: collapse;
}

.contents.introductory_inquiry .form_set {
  padding-top: 10px;
}
/* //도입문의 추가 */

/* 새창열림 */
#container .contents.open {
  width: 375px;
  background: none;
}
#container .contents.open .column_main {
  width: 375px;
  margin: 65px 0;
  padding: 0 30px;
}

/* 가맹점 관리자 */
.newpage.merchant_admin .logo_wrap {
  display: flex;
  align-items: center;
  padding: 18.5px 17px;
  border-bottom: 1px solid #9b9b9b;
}
.newpage.merchant_admin .logo_wrap .logo {
  height: 12px;
}
.newpage.merchant_admin .logo_wrap .logo a {
  display: block;
  height: 100%;
}
.newpage.merchant_admin .logo_wrap .logo img {
  display: block;
  height: 100%;
}
.newpage.merchant_admin input[type='tel'] {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  color: #4a4a4a;
}
.newpage.merchant_admin input[type='tel']::placeholder,
.newpage.merchant_admin input[type='text']::placeholder,
.newpage.merchant_admin textarea::placeholder {
  color: #a3a3a3;
  font-size: 12px;
}
.newpage.merchant_admin .container {
  max-width: 375px;
  margin: 0 auto;
}
.newpage.merchant_admin .contents.introductory_inquiry {
  padding: 37px 0 0;
}
.newpage.merchant_admin .container {
  width: auto;
  padding: 0 17.5px;
}
.newpage.merchant_admin .con_top > h3 {
  font-size: 21px;
  text-align: center;
  color: #4a4a4a;
  background: url(../image/sub_title_bar.gif) no-repeat center bottom / 25px 3px;
  padding-bottom: 10px;
}
.newpage.merchant_admin .contents.introductory_inquiry .section .title_area {
  margin-top: 0;
  padding: 10px 0 32px;
}
.newpage.merchant_admin .contents.introductory_inquiry .section .title_area .section_info {
  font-size: 13px;
  line-height: 18px;
}
.newpage.merchant_admin .contents.introductory_inquiry .section .title_area .section_info .bg {
  z-index: 1;
}
.newpage.merchant_admin .contents.introductory_inquiry .form_set {
  padding: 0 10px;
}
.newpage.merchant_admin .form_set .form_group {
  margin-bottom: 8px;
}
.newpage.merchant_admin .form_set .form_control {
  padding: 12.5px;
  font-size: 12px;
}
.newpage.merchant_admin .form_set .form_label {
  position: relative;
  font-size: 10px;
}
.newpage.merchant_admin .form_set .form_label.required {
  padding-right: 8px;
  margin-bottom: 1px;
  background: none;
}
.newpage.merchant_admin .form_set .form_label.required::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 5px;
  height: 5px;
  background-color: #f9a418;
  border-radius: 50%;
}
.newpage.merchant_admin .contents.introductory_inquiry .contact_form .sub_title {
  font-size: 8px;
}
.newpage.merchant_admin .form_set .form_group .info {
  font-size: 9px;
  margin-top: 3.5px;
  letter-spacing: -0.05em;
}
.newpage.merchant_admin .form_set input[type='text'],
.newpage.merchant_admin .form_set input[type='tel'] {
  transition: border 0.2s ease-in-out;
}
.newpage.merchant_admin .form_set input[type='text']:focus,
.newpage.merchant_admin .form_set input[type='tel']:focus,
.newpage.merchant_admin .form_set textarea:focus {
  border: 1px solid #faa61a;
}
.newpage.merchant_admin .form_set input[type='text'].form_control,
.form_set input[type='text'].form_control,
.newpage.merchant_admin .form_set input[type='tel'].form_control {
  height: 35px;
  font-size: 12px;
}

.newpage.merchant_admin .check_group.check_group_inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox {
  flex: 1 1 0px;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox > input + label {
  font-size: 10.5px;
  padding-left: 25px;
  white-space: nowrap;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox > input + label:before {
  width: 20px;
  height: 20px;
  background: url('../image/ic_checkbox_m_off.png') no-repeat center / contain;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox > input:checked + label:before {
  background: url('../image/ic_checkbox_type2_m_on.png') no-repeat center / contain;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox.checkbox_type2 > input + label:before {
  width: 15px;
  height: 15px;
  background: url('../image/ic_checkbox_type2_m_off.png') no-repeat center / contain;
}
.newpage.merchant_admin .contents.introductory_inquiry .checkbox.checkbox_type2 > input + label {
  font-size: 9px;
  padding-top: 1px;
  padding-left: 19px;
}
.newpage.merchant_admin .contents.introductory_inquiry .form_set .agree_content {
  position: relative;
  margin-top: 0;
  min-height: 105px;
  max-height: 140px;
  padding: 10px 8.5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  white-space: nowrap;
}
.newpage.merchant_admin .contents.introductory_inquiry .form_set .agree_content::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2.5px;
  background-color: #e8e8e8;
}
.newpage.merchant_admin .contents.introductory_inquiry .agree_content h2 {
  font-size: 7.5px;
  margin-bottom: 5px;
}
.newpage.merchant_admin .contents.introductory_inquiry .agree_content p {
  font-size: 6.5px;
}
.newpage.merchant_admin .contents.introductory_inquiry .agree_content table {
  font-size: 6.5px;
  margin: 2px 0;
}
.newpage.merchant_admin .contents.introductory_inquiry .agree_content .under_line {
  font-size: 6.5px;
}

.newpage.merchant_admin .contents .checkbox_type2 > input + label:before {
  background: url('../image/ic_checkbox_type2_off.png') no-repeat center / contain;
}
.newpage.merchant_admin .contents .checkbox_type2 .checkbox_type2 > input:checked + label:before {
  background: url('../image/ic_checkbox_type2_m_on.png') no-repeat center / contain;
}
.newpage.merchant_admin .form_set .agree_content ~ .check_group {
  margin-top: 4px;
  margin-bottom: 15.5px;
}

.newpage.merchant_admin .contents .checkbox.checkbox_type2 > input:checked + label:before {
  background: url('../image/ic_checkbox_type2_m_on.png') no-repeat center / contain;
}
.newpage.merchant_admin .form_set ~ .btn_area {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 10px;
}
.newpage.merchant_admin .btn_area .btn {
  width: 100%;
  border-radius: 8px;
}

.simplebar-scrollbar {
  visibility: visible !important;
}
.simplebar-track.simplebar-horizontal {
  height: 2.5px;
}
.simplebar-scrollbar::before {
  background-color: #faa61a !important;
}
.simplebar-scrollbar:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.popup-main {
  display: flex;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #15151580;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  #wrap {
    overflow: hidden;
    width: 100%;
  }
  #header.open {
    background-color: #fff !important;
  }
  #header.normal::before {
    height: 50px;
  }
  #header.open .container {
    background-color: #fff !important;
  }
  #header .container {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  #header.fixed .container {
    background-color: #fff;
  }
  #header .container .logo {
    width: 100%;
    height: 50px;
    padding: 0 16px;
  }
  #header .container .logo a {
    flex: 0 0 auto;
    width: 200px;
    height: 24px;
  }
  #header .container .logo a img {
    width: auto;
    height: 100%;
  }
  #header .container .gnb_sub_bg {
    display: none;
  }
  #header .container .gnb {
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 20px 0 0;
    box-sizing: border-box;
    background-color: #fff;
  }
  #header .container .gnb .nav {
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100%);
    padding: 0 16px;
  }
  #header .container .gnb .nav .submenu {
    display: none;
  }
  #header .container .gnb .nav > li {
    height: auto;
  }
  #header .container .gnb .nav > li > a.down_arrow::after {
    display: block;
    content: '열기';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background: url(../images/common/ic_arrow_down_gray.svg) 0 0 / cover no-repeat;
    text-indent: -9999px;
  }
  #header .container .gnb .nav > li > a.down_arrow.open {
    color: #ff6114 !important;
  }
  #header .container .gnb .nav > li a:hover {
    color: inherit !important;
  }
  #header .container .gnb .nav > li > a.arrow:hover::after {
    background: url(../images/ic_arrow_link.png) 0 0 / contain no-repeat;
  }
  #header .container .gnb .nav > li > a.down_arrow.open::after {
    transform: translateY(-50%) rotate(180deg);
  }
  #header .container .gnb .nav > li > a {
    height: 42px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  #header .container .gnb .nav > li > a.arrow {
    width: max-content;
  }
  #header .container .gnb .nav > li > a.arrow::after {
    right: -12px;
    top: 13px;
  }
  #header .container .sidebtn_wrap {
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
    height: 50px;
    padding: 0;
    gap: 10px;
  }
  #header .container .sidebtn_wrap > a {
    display: none;
  }
  #header .container .gnb .nav .submenu .dep2 li a {
    height: 48px;
    font-family: 'SUIT';
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
  }
  #header .container .sidebtn_wrap .lagnuage_wrap .language_btn {
    width: auto;
  }
  #header .container .sidebtn_wrap .lagnuage_wrap .language_btn:hover {
    color: inherit;
  }
  #header .container .sidebtn_wrap .lagnuage_wrap .language_btn:hover::before {
    background: url(../images/ic_language.svg) 0 0 / cover no-repeat;
  }
  #header .container .sidebtn_wrap .mo_gnb_btn {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../images/common/ic_menu_bar.svg) 0 0 / cover no-repeat;
    transition: 300ms;
  }
  #header.open .container .sidebtn_wrap .mo_gnb_btn {
    background: url(../images/common/ic_menu_close.svg) 0 0 / cover no-repeat;
  }
}

@media (max-width: 767px) {
  #footer {
    padding: 20px;
    box-sizing: border-box;
  }
  #footer .container {
    width: 100%;
  }
  #footer .container .company_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: -0.02em;
  }
  #footer .container .left_contents > p {
    margin-top: 20px;
    font-family: 'SUIT';
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
  }
  #footer .container .left_contents > p.company_info2 {
    margin-top: 15px;
  }
  #footer .container .left_contents,
  #footer .container .right_contents {
    width: 100%;
  }
  #footer .container .left_contents > p .line {
    display: none;
  }
  #footer .container .left_contents .link_wrap {
    margin-top: 9px;
    flex-wrap: wrap;
    white-space: normal;
  }
  #footer .container .left_contents .link_wrap li {
    padding: 0 10px;
    margin-top: 6px;
  }
  #footer .container .left_contents .link_wrap li a {
    display: inline-block;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.02em;
  }
  #footer .container .left_contents .link_wrap li:first-child {
    padding: 0 12px;
    padding-left: 0;
  }
  #footer .container .left_contents .link_wrap li:first-child a {
    padding: 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }
  #footer .container .right_contents {
    margin-top: 30px;
  }
  #footer .container .right_contents .award_wrap {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  #footer .container .right_contents .award_wrap .award_box {
    max-width: 100%;
    padding: 12px;
  }
  #footer .container .right_contents .award_wrap .award_box:nth-child(1)::before {
    width: 40px;
    height: 36px;
  }
  #footer .container .right_contents .award_wrap .award_box:nth-child(2)::before {
    width: 40px;
    height: 36px;
  }
  #footer .container .right_contents .award_wrap .award_box .text_wrap {
    font-size: 10px;
  }
  #footer .container .right_contents .award_wrap .award_box .text_wrap .only_web {
    display: none;
  }
  #footer .container .bottom_contents {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  #footer .container .bottom_contents .link_btn_wrap {
    justify-content: space-between;
    width: 100%;
  }
  #footer .container .bottom_contents .link_btn_wrap .sns_btn_wrap a {
    width: 35px;
    height: 35px;
  }
  #footer .container .bottom_contents .copyright {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  #footer .container .bottom_contents .copyright .only_web {
    display: none;
  }
  #footer .container .bottom_contents .copyright .only_mo {
    display: block;
  }
  #footer .container .bottom_contents .link_btn_wrap .partners_wrap .list_btn {
    font-size: 13px;
  }
  #header .container .sidebtn_wrap .admin_btn_wrap {
    display: none;
  }
  #header .container .admin_mo_btn_wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    padding: 16px 16px 20px;
    box-sizing: border-box;
    border-top: 1px solid #0000001a;
  }
  #header .container .admin_mo_btn_wrap .adminbtn {
    width: 120px;
    height: 42px;
    margin-right: 8px;
    border: 1px solid #0000004d;
    border-radius: 40px;
    line-height: 42px;
    color: #1d1d1f;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .popup-main .popup-area {
    width: calc(100% - 40px);
  }

  .popup-main .popup-area .con img {
    width: 100%;
  }
}
