.suit {
  font-family: SUIT !important;
}
#container .content {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
#container .titleWrap {
  height: 300px;
  padding-top: 84px;
}
#container.history .titleWrap {
  height: auto;
}
#container.service .titleWrap {
  height: 216px;
  padding-top: 84px;
}
#container.banking .titleWrap,
#container.pay .titleWrap,
#container.mytongjang .titleWrap {
  height: 190px;
  padding-top: 80px;
}
#container .titleWrap .title {
  font-family: Noto Sans KR;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #1d1d1f;
}
#container .titleWrap .subTitle {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  color: #99989e;
  margin-top: 20px;
}
#container .imgWrap {
  margin: 0 auto;
  text-align: center;
  height: 420px;
}
#container .imgWrap.service {
  background: url(../images/service/main.png) center / cover;
}

#container .contents .content {
  display: flex;
}
/* leftWrap */
#container .leftWrap {
  margin-top: 40px;
}
#container .leftWrap.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
}
#container .leftWrap .snb {
  width: 220px;
  margin-top: 60px;
}
#container.service .leftWrap .snb {
  position: sticky;
  top: 100px;
}
#container .leftWrap .snb li {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container .leftWrap .snb li.on a {
  color: #fff;
  background: #ff6114;
  border-radius: 50px;
}
#container .leftWrap .snb li a {
  display: block;
  padding: 12px 0 12px 20px;
  transition: color 0.2s ease-in-out;
}
#container .leftWrap .snb li a:hover {
  color: #ff6114;
}
#container .leftWrap .snb li.on a:hover {
  color: #fff;
}
/* //leftWrap */
/* rightWrap */
#container .leftWrap + .rightWrap {
  width: 100%;
  margin-top: 40px;
  margin-left: 69px;
}
#container .rightWrap.sticky {
  padding-left: 220px;
}
#container .rightWrap.sticky .box:first-of-type {
  margin-top: 120px;
}
#container .rightWrap .title {
  position: relative;
  font-family: Noto Sans KR;
  color: #1d1d1f;
  margin: 100px auto 60px;
}
#container .rightWrap .title.mt120 {
  margin-top: 120px;
}
#container .rightWrap .box .subTitle {
  position: relative;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #99989e;
}
#container .leftWrap + .rightWrap .title {
  margin: 0;
}
#container .rightWrap .title h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  letter-spacing: -0.02em;
  text-align: left;
}

#container .rightWrap .title .pointColor {
  color: #ff6114;
}
#container .rightWrap .title .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 44px;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #99989e;
  padding: 0 20px 0 16px;
  background: url('../images/service/ico-arrow-right.png') no-repeat right 0px center / 20px;
  transition: all 0.2s ease-in-out;
}
#container .rightWrap .title .btn:hover {
  background: url('../images/service/ico-arrow-right-hover.png') no-repeat right 0px center / 20px;
  color: #ff6114;
}
#container .rightWrap .box {
  margin-top: 120px;
}
#container .rightWrap .box:first-of-type {
  margin-top: 0;
}
#container .leftWrap + .rightWrap .box:first-of-type {
  margin-top: 60px;
}
#container .rightWrap .box:last-of-type {
  margin-bottom: 180px;
}
#container .rightWrap .box .contentBox {
  margin-top: 0;
}
#container .leftWrap + .rightWrap .box .contentBox {
  margin-top: 40px;
}
#container .rightWrap .box .contentBox .infoBox {
  display: flex;
  justify-content: space-between;
}
#container .rightWrap .box .contentBox .infoBox p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container .rightWrap .box .contentBox .infoBox h3 {
  font-family: Noto Sans KR;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container .rightWrap .box .contentBox .infoBox .qr-img {
  display: inline-flex;
  align-items: start;
  margin-top: 50px;
  border-radius: 6px;
  border: 1px solid #dadada;
  padding: 16px;
}
#container .rightWrap .box .contentBox .infoBox .qr-img img {
  width: 80px;
  height: 80px;
}
#container .rightWrap .box .contentBox .infoBox .qr-img p {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
  margin-left: 18px;
}
#container .rightWrap .box .contentBox .infoBox .qr-img .color {
  color: #ff6114;
}

#container .rightWrap .box .contentBox .listBox {
  margin-top: 40px;
}
#container .rightWrap .box .contentBox .listBox ul {
  display: flex;
  gap: 10px 16px;
}
#container .rightWrap .box .contentBox .listBox li {
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #99989e;
  min-width: 273px;
}
#container .rightWrap .box .contentBox .listBox li .ico {
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-01 {
  background: url('../images/service/ico-01.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-02 {
  background: url('../images/service/ico-02.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-03 {
  background: url('../images/service/ico-03.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-04 {
  background: url('../images/service/ico-04.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-05 {
  background: url('../images/service/ico-05.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-06 {
  background: url('../images/service/ico-06.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-07 {
  background: url('../images/service/banking-ico-07.png') no-repeat center / contain;
}
#container .rightWrap .box .contentBox .listBox li .ico.ico-08 {
  background: url('../images/service/banking-ico-08.png') no-repeat center / contain;
}
/* 결제 페이지 아이콘 */
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-01 {
  background: url('../images/service/pay-ico-01.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-02 {
  background: url('../images/service/pay-ico-02.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-03 {
  background: url('../images/service/pay-ico-03.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-04 {
  background: url('../images/service/pay-ico-04.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-05 {
  background: url('../images/service/pay-ico-05.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-06 {
  background: url('../images/service/pay-ico-06.png') no-repeat center / contain;
}
#container .pay .rightWrap .box .contentBox .listBox li .ico.ico-07 {
  background: url('../images/service/pay-ico-07.png') no-repeat center / contain;
}
/* 결제 페이지 아이콘 */
/* 내통장결제 페이지 아이콘 */
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-01 {
  background: url('../images/service/mytongjang-ico-01.png') no-repeat center / contain;
}
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-02 {
  background: url('../images/service/mytongjang-ico-02.png') no-repeat center / contain;
}
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-03 {
  background: url('../images/service/mytongjang-ico-03.png') no-repeat center / contain;
}
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-04 {
  background: url('../images/service/mytongjang-ico-04.png') no-repeat center / contain;
}
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-05 {
  background: url('../images/service/mytongjang-ico-05.png') no-repeat center / contain;
}
#container.mytongjang .rightWrap .box .contentBox .listBox li .ico.ico-06 {
  background: url('../images/service/mytongjang-ico-06.png') no-repeat center / contain;
}
/* 내통장결제 페이지 아이콘 */
#container .rightWrap .box .contentBox .listBox li h4 {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 10px;
}
#container .rightWrap .box .contentBox .listBox.col-2 ul {
  flex-wrap: wrap;
  gap: 10px 16px;
}
#container .rightWrap .box .contentBox .listBox.col-2 li {
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  height: 100px;
}
#container .rightWrap .box .contentBox .listBox.col-2 li:nth-of-type(3) {
  max-width: 50%;
}
#container .rightWrap .box .contentBox .listBox.col-3 ul {
  flex-wrap: wrap;
  gap: 16px;
}
#container .rightWrap .box .contentBox .listBox.col-3 li {
  flex: 1 1 calc(33.33% - 16px);
  box-sizing: border-box;
  height: 240px;
  max-width: calc(33.33% - 16px);
  border: 1px solid #ededed;
  border-radius: 12px;
  padding: 30px 30px 39px;
}
#container .rightWrap .box .contentBox .listBox.col-3 li h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 12px;
}
#container .rightWrap .box .contentBox .listBox.col-3 li p {
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
/* //rightWrap */

.adWrap {
  text-align: center;
  background: #000 url(../images/service/service-ad.png) no-repeat left center / auto 220px;
  padding: 88px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.adWrap > div {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.adWrap > div > p {
  font-family: Noto Sans KR;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
  margin-left: auto;
}
.adWrap .btn {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
  color: #fff;
  border-radius: 6px;
  padding: 0px;
  margin-left: 30px;
  overflow: hidden;
  width: 151px;
  height: 44px;
}
.adWrap .btn .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.3s ease;
  background: #ff6114;
}
.adWrap .btn:hover .background {
  opacity: 0.9;
}
.adWrap .btn .btn-txt {
  position: relative;
  z-index: 2;
  line-height: 44px;
}
#container .swiper {
  overflow: visible;
  margin-top: 60px;
  max-width: 1140px;
}
#container .swiper .img_box {
  width: 560px;
  height: 350px;
  background: #f5f5f7;
  border-radius: 16px;
}
#container .swiper .img_box img {
  width: 100%;
  height: 100%;
}
#container .swiper .top_box {
  margin-bottom: 50px;
}
#container .swiper .top_box dt {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  color: #ff6114;
  margin-bottom: 20px;
}
#container .swiper .top_box dd {
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  letter-spacing: -0.04em;
  color: #1d1d1f;
}
#container .swiper .service_list li {
  margin-bottom: 10px;
}
#container .swiper .service_list li:last-of-type {
  margin-bottom: 0;
}
#container .swiper .service_list li p {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  color: #ff6114;
  background: #ff611414;
  border-radius: 4px;
  padding: 10px 15px;
}
#container .swiper .service_list li p::before {
  content: '';
  display: inline-block;
  background: url('../images/service/ico-chk.png') center / contain;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#container .swiper .info_box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 130px;
}

#container .swiper_1 .swiper-slide {
  display: flex;
  justify-content: start;
}
#container .swiper_nav {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}
#container .swiper_1 .arrow {
  position: absolute;
  top: -100px;
  display: inline-block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
#container .swiper_1 .button-prev {
  background: url('../images/ic_slide_next.svg') 0 0 / cover no-repeat;
  right: 54px;
  transform: rotate(180deg);
}
#container .swiper_1 .button-next {
  background: url('../images/ic_slide_next.svg') 0 0 / cover no-repeat;
  right: 0;
}
#container .swiper_1 .button-prev:hover {
  background: url('../images/ic_slide_next_active.svg') 0 0 / cover no-repeat;
  right: 54px;
  transform: rotate(180deg);
}
#container .swiper_1 .button-next:hover {
  background: url('../images/ic_slide_next_active.svg') no-repeat center / contain;
  right: 0;
}
#container .swiper_1 .button-prev.swiper-button-disabled {
  background: url('../images/ic_slide_next.svg') 0 0 / cover no-repeat;
  right: 54px;
  transform: rotate(180deg);
  opacity: 0.5;
  cursor: auto;
}
#container .swiper_1 .button-next.swiper-button-disabled {
  background: url('../images/ic_slide_next.svg') 0 0 / cover no-repeat;
  right: 0;
  opacity: 0.5;
  cursor: auto;
}
#container .swiper_1 .slide_1 .img_box {
  background: #f5f5f7 url('../images/service/slide-item-01.png') no-repeat center / auto 261px;
}
#container .swiper_1 .slide_2 .img_box {
  background: #f5f5f7 url('../images/service/slide-item-02.png') no-repeat center / auto 260px;
}
#container .swiper_1 .slide_3 .img_box {
  background: #f5f5f7 url('../images/service/slide-item-03.png') no-repeat center / auto 260px;
}
#container .swiper_1 .slide_4 .img_box {
  background: #f5f5f7 url('../images/service/slide-item-04.png') no-repeat center / auto 260px;
}
#container .swiper_1 .slide_5 .img_box {
  background: #f5f5f7 url('../images/service/slide-item-05.png') no-repeat center / auto 260px;
}
#container .product-specs {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
#container .product-specs .product-specs-item {
  width: 50%;
  background-color: #f5f5f7;
  padding: 30px;
  border-radius: 12px;
  box-sizing: border-box;
}
#container .product-specs .product-specs-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
}
#container .product-specs .product-specs-item h4 {
  font-family: SUIT;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  color: #1d1d1f;
  margin-bottom: 8px;
}
#container .product-specs .product-specs-item p {
  font-family: SUIT;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #666666;
}
#container .product-specs .product-specs-item.product-specs-right p {
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #99989e;
}
#container .product-specs .product-specs-item.product-specs-right p.spec-text {
  font-family: SUIT;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #1d1d1f;
}
#container .product-specs .product-specs-item.product-specs-right p.spec-text > span {
  margin-right: 15px;
}
#container .product-specs .product-specs-item.product-specs-right p.spec-text > span:last-of-type {
  margin-right: 0;
}
#container .product-specs .spec-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#container .product-specs .spec-item:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}
#container .product-specs .spec-item.spec-item-row {
  flex-direction: row-reverse;
  align-items: start;
  justify-content: start;
}
#container .product-specs .spec-item .spec-text {
  font-family: SUIT;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #666666;
  margin-top: 20px;
}
#container .product-specs .spec-item .item {
  margin-left: 0;
  margin-right: 25px;
}
#container .product-specs .spec-item .item1 {
  width: 130px;
  height: 130px;
  background: url('../images/service/kiosk-item-01.png') no-repeat center / contain;
}
#container .product-specs .spec-item .item2 {
  width: 130px;
  height: 130px;
  background: url('../images/service/kiosk-item-02.png') no-repeat center / contain;
}

#container .imgWrap.company {
  background: url(../images/company/company.png) center / cover;
}
#container .imgWrap.company .content {
  max-width: 1140px;
  margin: 0 auto;
}
#container .imgWrap {
  transition: all 0.3s ease-in-out;
}
#container.style .imgWrap {
  height: 844px;
}
#wrap.company.style #header {
  background-color: transparent;
}
#wrap.company.style #header .container {
  background-color: transparent;
  box-shadow: none;
}

/* 회사소개 */
#container.history .leftWrap .stickyWrap {
  position: sticky;
  top: 40px;
  padding-bottom: 200px;
}
#container.history .leftWrap .snb {
  width: 562px;
}
#container.history .leftWrap .snb.column > ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
#container.history .leftWrap .snb li a {
  padding: 12px 20px 12px 20px;
}

#container .leftWrap .snb li a {
  border-radius: 50px;
}
#container.brand .leftWrap .snb {
  position: sticky;
  top: 100px;
}

#container.history .leftWrap + .rightWrap {
  margin-left: 16px;
}
#container.history .rightWrap.sticky {
  padding-left: 562px;
}
#container.history .leftWrap.sticky .snb {
  margin-top: 60px;
}
#container.history .leftWrap {
  margin-top: 0;
}
#container.history .leftWrap + .rightWrap {
  margin-top: 0;
}
#container.history .leftWrap .thumnailWrap {
  height: 300px;
  position: absolute;
  top: 80px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
#container.history .leftWrap.bottomFixed .thumnailWrap.on {
  position: relative;
  bottom: -33px;
  top: auto;
}
#container.history .leftWrap .thumnailWrap .thumnail {
  width: 482px;
  height: 300px;
  border-radius: 16px;
}
#container.history .leftWrap .thumnailWrap.on,
#container.history .leftWrap .thumnailWrap.on .thumnail {
  display: block;
  opacity: 1;
}
#container.history .leftWrap .thumnailWrap .thumnail01 {
  background: url('../images/company/history_img_04.png') no-repeat center / cover;
}
#container.history .leftWrap .thumnailWrap .thumnail02,
#container.history .leftWrap .thumnailWrap .second {
  background: url('../images/company/history_img_02.png') no-repeat center / cover;
}
#container.history .leftWrap .thumnailWrap .thumnail03,
#container.history .leftWrap .thumnailWrap .third {
  background: url('../images/company/history_img_03.png') no-repeat center / cover;
}
#container.history .leftWrap .thumnailWrap .thumnailDate {
  font-family: SUIT;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #ff6114;
  margin-top: 40px;
}
#container.history .leftWrap .thumnailWrap .thumnailTitle {
  font-family: SUIT;
  font-size: 32px;
  font-weight: 800;
  line-height: 41.6px;
  text-align: left;
  color: #1d1d1f;
  margin-top: 10px;
}
#container.history .historyList > ul dl {
  display: flex;
  flex-wrap: wrap;
}
#container.history .historyList > ul p {
  font-family: SUIT;
  font-size: 30px;
  font-weight: 800;
  line-height: 39px;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 20px;
}

#container.history .historyList > ul dt {
  width: 50px;
  font-family: SUIT;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 20px;
}
#container.history .historyList > ul dt:last-of-type {
  margin-bottom: 0;
}
#container.history .historyList > ul dd {
  width: calc(100% - 50px); /* dd의 너비를 dt를 제외한 나머지로 설정 */
  margin-left: 0; /* dd의 왼쪽 여백 제거 */
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container.history .historyList > ul dd p {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
  margin-bottom: 10px;
}
#container.history .historyList > ul dd p:last-of-type {
  margin-bottom: 20px;
}
/* //회사소개 */

/* 브랜드 에셋 */
#container.brand .titleWrap {
  height: 176px;
  padding-top: 84px;
}
#container.brand .leftWrap {
  margin-top: 0;
}
#container.brand .leftWrap + .rightWrap {
  margin-top: 0;
}
#container.brand .rightWrap .title h3 {
  margin-bottom: 40px;
}
#container.brand .rightWrap .title h3 span.eng {
  display: block;
  font-family: SUIT;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #ff6114;
  margin-bottom: 15px;
}
#container.brand .rightWrap .title h3 + p {
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container.brand .rightWrap .title + .btnWrap {
  margin-top: 20px;
}
#container.brand .btnWrap .btn {
  border: 1px solid #dadada;
  border-radius: 6px;
  padding: 11px 43px 11px 20px;
  font-family: SUIT;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  text-align: center;
  color: #1d1d1f;
  transition: all 0.3s ease-in-out;
}
#container.brand .btnWrap .btn {
  margin-right: 8px;
}
#container.brand .btnWrap .btn.btnDown {
  background: url('../images/ic_down.svg') no-repeat right 15px center / 24px;
}
#container.brand .btnWrap .btn:hover {
  color: #ff6114;
  border: 1px solid #ff6114;
  background: url('../images/ic_down_hover.svg') no-repeat right 15px center / 24px;
}
#container.brand .btnWrap .btn:last-of-type {
  margin-right: 0;
}
#container.brand .rightWrap .title .mdText {
  font-family: SUIT;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  text-align: left;
  color: #1d1d1f;
}
#container.brand .rightWrap .title .smText {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container.brand .rightWrap .title .mdText + .smText1 {
  margin-top: 0;
}
#container.brand .rightWrap .title .smText1 {
  margin-bottom: 10px;
  margin-top: 60px;
  font-family: SUIT;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
#container.brand .rightWrap .title .smText2 {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container.brand .rightWrap .title .smTextBullet {
  position: relative;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  color: #99989e;
}
#container.brand .rightWrap .title h3 + .mdText,
#container.brand .rightWrap .title .mdText {
  margin-top: 60px;
  margin-bottom: 30px;
}
#container.brand .rightWrap .colorWrap {
  width: 424px;
  height: 350px;
  border: 1px solid #ededed;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in-out;
}
#container.brand .rightWrap .colorWrap > span {
  width: 33.3333%;
  transition: all 0.7s ease-in-out;
}
#container.brand .rightWrap .colorWrap .color1 {
  background-color: #ff6114;
}
#container.brand .rightWrap .colorWrap .color2 {
  background-color: #000000;
}
#container.brand .rightWrap .colorWrap .color3 {
  background-color: #fff;
}
#container.brand .rightWrap .colorWrap.animation {
  width: 100%;
}
#container.brand .rightWrap .colorWrap.animation .color1 {
  width: 424px;
}
#container.brand .rightWrap .colorWrap.animation .color2,
#container.brand .rightWrap .colorWrap.animation .color3 {
  width: 212px;
}
#container.brand .rightWrap .colorWrap2,
#container.brand .rightWrap .colorWrap3 {
  width: 424px;
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
}
#container.brand .rightWrap .colorWrap2 > span {
  width: 16.6667%;
  transition: all 0.7s ease-in-out;
}
#container.brand .rightWrap .colorWrap2 .color1 {
  background-color: #ff80db;
}
#container.brand .rightWrap .colorWrap2 .color2 {
  background-color: #0291fe;
}
#container.brand .rightWrap .colorWrap2 .color3 {
  background-color: #cfff1e;
}
#container.brand .rightWrap .colorWrap2 .color4 {
  background-color: #2441b7;
}
#container.brand .rightWrap .colorWrap2 .color5 {
  background-color: #25cc9c;
}
#container.brand .rightWrap .colorWrap2 .color6 {
  background-color: #056059;
}
#container.brand .rightWrap .colorWrap2.animation,
#container.brand .rightWrap .colorWrap3.animation {
  width: 100%;
  transition: all 0.7s ease-in-out;
}
#container.brand .rightWrap .colorWrap3 .color1 {
  background-color: #002a57;
}
#container.brand .rightWrap .colorWrap3 .color2 {
  background-color: #ede4be;
}
#container.brand .rightWrap .colorWrap3 .color3 {
  background-color: #bcc7c7;
}
#container.brand .rightWrap .colorWrap3 .color4 {
  background-color: #9d8201;
}
#container.brand .rightWrap .colorWrap3 .color5 {
  background-color: #8bc4cd;
}
#container.brand .rightWrap .colorWrap3 .color6 {
  background-color: #546371;
}
#container.brand .rightWrap .colorWrap3 .color7 {
  background-color: #544f35;
}
#container.brand .rightWrap .colorWrap3 .color8 {
  background-color: #fff69f;
}
#container.brand .rightWrap .colorWrap3 .color9 {
  background-color: #dbdbd1;
}
#container.brand .rightWrap .colorWrap3 .color10 {
  background-color: #edede3;
}
#container.brand .rightWrap .colorWrap3 > span {
  width: 10%;
  transition: all 0.7s ease-in-out;
}
#container .rightWrap .box .contentBox .imgBox + .imgBox {
  margin-top: 20px;
}
#container .rightWrap .box .contentBox .labelWrap {
  margin-top: 15px;
  display: flex;
  gap: 0 5px;
  margin-bottom: 60px;
}
#container .rightWrap .box .contentBox .labelWrap .label {
  font-family: SUIT;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  color: #1d1d1f;
  padding: 6px 10px 6px 10px;
  background: #f5f5f7;
}
#container.brand .rightWrap #typo .title h3 {
  margin-bottom: 20px;
}
#container.brand .leftWrap + .rightWrap #typo .contentBox {
  margin-top: 60px;
}
#container.brand .leftWrap .snb li a {
  color: #1d1d1f;
}
#container.brand .leftWrap .snb li.on a {
  color: #fff;
}
#container.brand #typo.box {
  margin-top: 150px;
}
/* //브랜드 에셋 */

/* 핵심기술 */
#container.tech .rightWrap {
  width: 100%;
}
#container.tech .titleWrap {
  height: 186px;
}
#container.tech .snb.column > ul {
  display: flex;
  gap: 0 8px;
}
#container.tech .snb li {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1f;
}
#container.tech .snb.column li a {
  background: #f5f5f7;
  border-radius: 50px;
}
#container.tech .snb.column li.on a {
  background: #ff6114;
  color: #fff;
}
#container.tech .snb li a:hover {
  color: #ff6114;
  background-color: transparent;
}
#container.tech .snb li a {
  display: block;
  padding: 12px 26px;
  transition: color 0.2s ease-in-out;
}
#container.tech .techListWrap {
  margin-top: 40px;
}
#container.tech .techListWrap > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#container.tech .techListWrap > ul > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(33.33% - 10.7px);
  border-radius: 12px;
  padding: 30px;
  color: #fff;
  height: 320px;
}
#container.tech .techListWrap > ul > li::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(22, 22, 22, 0.2);
  width: 100%;
  height: 100%;
  transition: 300ms;
  border-radius: 14px;
}
#container.tech .techListWrap > ul > li:hover::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #0000004d;
  width: 100%;
  height: 100%;
}
#container.tech .techListWrap > ul > li:nth-of-type(1) {
  background: url(../images/company/tech_slide_01.png) 0 0 / cover no-repeat;
}
#container.tech .techListWrap > ul > li:nth-of-type(2) {
  background: url(../images/company/tech_slide_02.png) 0 0 / cover no-repeat;
}
#container.tech .techListWrap > ul > li:nth-of-type(3) {
  background: url(../images/company/tech_slide_04.png) 0 0 / cover no-repeat;
}
#container.tech .techListWrap > ul > li:nth-of-type(4) {
  background: url(../images/company/tech_slide_03.png) 0 0 / cover no-repeat;
}
#container.tech .techListWrap > ul > li:nth-of-type(5) {
  background: url(../images/company/tech_slide_05.png) 0 0 / cover no-repeat;
}

#container.tech .techListWrap > ul > li .top_box {
  position: relative;
  z-index: 1;
}
#container.tech .techListWrap > ul > li .top_box dt {
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  letter-spacing: -0.02em;
}
#container.tech .techListWrap > ul > li .top_box dd {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}
#container.tech .techListWrap > ul > li .service_list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  color: #fff;
  z-index: 1;
}
#container.tech .techListWrap > ul > li .service_list li {
  border-radius: 36px;
  border: 1px solid #ffffff4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  padding: 6px 12px;
  margin-bottom: 0;
}
#container.tech .swiper {
  margin-top: 20px;
}
#container.tech .swiper_1 {
  margin-top: 60px;
}
/* //핵심기술 */
.pc-view {
  display: block !important;
}
.mo-view {
  display: none !important;
}
#container.brand .rightWrap .box .contentBox .imgBox {
  display: flex;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  height: 360px;
  align-items: center;
  justify-content: center;
}
#container.brand .rightWrap .box .contentBox .imgBox.logo {
  height: 360px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
}
#container.brand .rightWrap .box .contentBox .imgBox.logo img {
  height: 54px;
}
#container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(1) img {
  width: auto;
  height: 209px;
}
#container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) img {
  width: auto;
  height: 156px;
}
#container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(4) img {
  width: auto;
  height: 219px;
}
#container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(6) img {
  width: auto;
  height: 191px;
}
#container.brand .rightWrap .box .contentBox .imgBox {
  border: 1px solid #ededed;
}
#container .rightWrap .box .contentBox .imgBox img {
  width: 100%;
  height: 100%;
}
#container.service .rightWrap .box .contentBox .imgBox {
  overflow: hidden;
  height: 360px;
  border-radius: 16px;
}
#container.service .rightWrap #banking.box .contentBox .imgBox {
  background: url('../images/service/banking-01.png') no-repeat center / cover;
}
#container.service .rightWrap #pay.box .contentBox .imgBox {
  background: url('../images/service/pay-01.png') no-repeat center / cover;
}
#container.service .rightWrap #mytongjang.box .contentBox .imgBox {
  background: url('../images/service/mytongjang-01.png') no-repeat center / cover;
}
#container.banking .rightWrap .box .contentBox .imgBox,
#container.pay .rightWrap .box .contentBox .imgBox,
#container.mytongjang .rightWrap .box .contentBox .imgBox {
  height: 420px;
}
#container.banking .rightWrap #banking.box .contentBox .imgBox {
  background: url('../images/service/banking-main.png') no-repeat center / cover;
  border-radius: 16px;
}
#container.pay .rightWrap #pay.box .contentBox .imgBox {
  background: url('../images/service/pay-main.png') no-repeat center / cover;
  border-radius: 16px;
}
#container.mytongjang .rightWrap #mytongjang.box .contentBox .imgBox {
  background: url('../images/service/mytongjang-main.png') no-repeat center / cover;
  border-radius: 16px;
}
#container.pay .rightWrap .title.mt120 {
  margin-bottom: 20px;
}
#container.mytongjang .rightWrap .box .contentBox .infoBox .infoBox-item {
  width: 570px;
}
#container.mytongjang .rightWrap .title.mt120 {
  margin-bottom: 30px;
}
#container.mytongjang .rightWrap .box .contentBox .listBox {
  margin-top: 0;
}

/* mo */
@media all and (max-width: 767px) {
  .pc-view {
    display: none !important;
  }
  .mo-view {
    display: block !important;
  }
  #header .container {
    height: 50px;
  }
  #container .content {
    max-width: initial;
    flex-wrap: wrap;
  }
  #container .leftWrap + .rightWrap {
    margin-left: 0;
  }
  #container .rightWrap .box .contentBox img {
    width: 100%;
  }
  #container .rightWrap.sticky {
    padding-left: 0;
  }
  #container .rightWrap .box .contentBox .listBox ul {
    flex-wrap: wrap;
    gap: 26px 16px;
  }
  #footer .container {
    width: auto;
  }
  #footer .container .right_contents .award_wrap {
    flex-wrap: wrap;
  }

  #container.service .titleWrap,
  #container.banking .titleWrap,
  #container.mytongjang .titleWrap,
  #container.pay .titleWrap,
  #container.history .titleWrap {
    height: 130px;
    padding: 40px 16px 0;
  }
  #container.tech .titleWrap {
    height: auto;
    padding: 40px 16px 53px;
  }
  #container.brand .titleWrap {
    height: 80px;
    padding: 40px 16px 0;
  }
  #container .titleWrap .title {
    font-family: Noto Sans KR;
    font-size: 26px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1d1d1f;
  }
  #container .titleWrap .subTitle {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: -0.02em;
    margin-top: 15px;
  }
  #container .imgWrap {
    height: 200px;
  }
  #container .leftWrap {
    display: none;
  }
  #container .leftWrap + .rightWrap {
    padding: 50px 16px;
    margin-top: 0;
  }
  #container .rightWrap .title h3 {
    font-family: Noto Sans KR;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  /* 결제서비스 페이지 모바일 폰트수정 0926 */
  #container.pay .rightWrap .title h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.045em;
    text-align: left;
  }
  #container.brand .rightWrap .title h3 {
    margin-bottom: 20px;
  }
  #container.brand .rightWrap #typo .title h3 {
    margin-bottom: 10px;
  }
  #container.brand .rightWrap .title h3 + p {
    font-family: Noto Sans KR;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  #container .leftWrap + .rightWrap .box:first-of-type {
    margin-top: 0;
  }
  #container .rightWrap .title .btn {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: -0.02em;
  }
  #container .leftWrap + .rightWrap .box .contentBox {
    margin-top: 20px;
  }
  #container .rightWrap .box .contentBox .listBox {
    margin-top: 20px;
  }
  #container .rightWrap .box .contentBox .listBox.col-2 ul {
    gap: 26px 0;
    flex-direction: column;
  }
  #container .rightWrap .box .contentBox .listBox li h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
  }
  #container .rightWrap .box .contentBox .listBox.col-2 li {
    height: auto;
  }
  #container .rightWrap .box {
    margin-top: 80px;
  }
  #container .rightWrap .box:last-of-type {
    margin-bottom: 80px;
  }

  /* 뱅킹 */
  #container .content .rightWrap {
    padding: 0 16px;
    overflow: hidden;
  }
  #container .rightWrap .title {
    margin: 50px auto 30px;
  }
  #container .rightWrap .box .contentBox .listBox.col-3 ul {
    gap: 10px;
  }
  #container .rightWrap .box .contentBox .listBox.col-3 li {
    flex: 1;
    max-width: initial;
    height: auto;
    padding: 20px;
  }
  #container .rightWrap .box .contentBox .listBox li .ico {
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
  }
  #container .rightWrap .box .contentBox .listBox.col-3 li h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
  }
  #container .leftWrap + .rightWrap .title {
    margin-top: 50px;
  }
  /* //뱅킹 */
  .adWrap {
    height: 200px;
    background: #000 url('../images/service/service-ad-mo.png') no-repeat center / cover;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
  }
  .adWrap > div {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
  }
  .adWrap > div > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    letter-spacing: -0.02em;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .adWrap .btn {
    margin-left: 0;
    margin-top: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -0.02em;
    padding: 19.5px 0;
    width: 127px;
    height: 39px;
  }
  .adWrap .btn .btn-txt {
    line-height: 1;
    top: -7px;
  }
  #container .rightWrap .box .contentBox .imgBox,
  #container.service .rightWrap .box .contentBox .imgBox {
    height: 180px;
    border-radius: 10px;
  }
  #container .rightWrap .box .contentBox .imgBox img {
    width: 100%;
    height: 100%;
  }
  #container.brand .rightWrap .box .contentBox .imgBox {
    display: flex;
    align-items: start;
  }

  #container.banking .rightWrap #banking.box .contentBox .imgBox,
  #container.pay .rightWrap #pay.box .contentBox .imgBox,
  #container.mytongjang .rightWrap #mytongjang.box .contentBox .imgBox {
    height: 200px;
    border-radius: 10px;
  }

  /* swiper */
  #container .swiper_1 .swiper-slide {
    background: #f5f5f7;
    flex-direction: column-reverse;
    border-radius: 12px;
    padding: 20px 16px;
    box-sizing: border-box;
    width: calc(100% - 19px);
    height: 458px;
  }
  #container .swiper .info_box {
    margin-left: 0;
  }
  #container .swiper .top_box {
    margin-bottom: 20px;
  }
  #container .swiper .top_box dt {
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
  }
  #container .swiper .top_box dd {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    letter-spacing: -0.04em;
  }
  #container .swiper .img_box {
    width: auto;
    height: 220px;
  }
  #container .swiper_1 .arrow {
    display: none;
  }
  #container .swiper .service_list li p {
    font-size: 13px;
    font-weight: 500;
    line-height: 16.9px;
    letter-spacing: -0.02em;
    padding: 8px 10px;
  }
  #container .swiper .service_list li p::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #container .swiper .service_list {
    margin-bottom: 69px;
  }
  #container .swiper_1 .swiper-slide .img_box {
    background-size: contain;
  }
  #container .rightWrap .title.mt120 {
    margin-top: 80px;
  }
  /* swiper */

  /* 키오스크 구성 */
  #container .product-specs {
    flex-direction: column;
    gap: 10px;
  }
  #container .product-specs .product-specs-item {
    width: 100%;
    padding: 20px;
  }
  #container .product-specs .product-specs-item.product-specs-right p {
    font-size: 13px;
    font-weight: 500;
    line-height: 16.9px;
    color: #99989e;
  }
  #container .product-specs .product-specs-item.product-specs-right p.spec-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    color: #1d1d1f;
  }
  #container .product-specs .spec-item .item1,
  #container .product-specs .spec-item .item2 {
    width: 100px;
    height: 100px;
  }
  #container .rightWrap .box .title {
    margin-bottom: 20px;
  }
  #container .rightWrap .box .imgBox + .title {
    margin-bottom: 30px;
  }
  #container .swiper {
    margin-top: 30px;
  }
  #container.tech .swiper_1 {
    margin-top: 30px;
  }
  #container .product-specs .product-specs-item h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }
  #container .product-specs .product-specs-item h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 5px;
  }
  #container .product-specs .product-specs-item p {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
  }
  #container .product-specs .spec-item {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  /* //키오스크 구성 */

  /* 내통장결제 */
  #container.mytongjang .rightWrap .box .contentBox .infoBox {
    flex-direction: column;
  }
  #container.mytongjang .rightWrap .box .contentBox .infoBox .infoBox-left {
    margin-bottom: 30px;
    width: auto;
  }
  #container.mytongjang .rightWrap .box .contentBox .infoBox .infoBox-item {
    width: auto;
  }
  #container.mytongjang .rightWrap .box .contentBox .infoBox h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.04em;
  }
  #container.mytongjang .rightWrap .box .contentBox .infoBox p {
    font-family: Noto Sans KR;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #99989e;
  }
  #container .rightWrap .box .contentBox .infoBox .qr-img {
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
  }
  #container .rightWrap .box .contentBox .infoBox .qr-img img {
    width: 60px;
    height: 60px;
  }
  #container.mytongjang .rightWrap .box .contentBox .infoBox .qr-img p {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: -0.02em;
  }
  /* //내통장결제 */

  /* 연혁 */
  #container .leftWrap .snb li {
    width: 100px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: -0.02em;
  }
  #container.history .leftWrap .snb li a {
    padding: 10.5px 10px;
    text-align: center;
  }
  #container.history .leftWrap .thumnailWrap .thumnailDate {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 14px;
  }
  #container.history .leftWrap .thumnailWrap .thumnailTitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    margin-top: 4px;
  }
  #container.history .leftWrap .thumnailWrap {
    margin-top: 20px;
    display: none;
    position: relative;
    top: 0;
    height: auto;
  }
  #container.history .leftWrap .thumnailWrap.on {
    display: block;
  }
  /* //연혁 */

  /* 브랜드 에셋 */
  #container.brand .rightWrap .box .title {
    margin-top: 10px;
  }
  #container.brand .rightWrap .title h3 span {
    font-family: SUIT;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.9px;
    margin-bottom: 10px;
  }
  #container.brand .rightWrap .title h3 span.eng {
    font-family: SUIT;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.9px;
    text-align: left;
  }
  #container.brand .rightWrap .title h3 span.suit {
    font-family: SUIT;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
  #container.brand .rightWrap .title + .btnWrap {
    display: flex;
    margin-bottom: 30px;
  }
  #container.brand .rightWrap .title + .btnWrap .btn {
    width: 100%;
  }
  #container.brand .rightWrap .box .contentBox .imgBox {
    height: 250px;
    border: 1px solid #ededed;
  }
  #container.brand .rightWrap .box .contentBox .imgBox.logo {
    height: 260px;
  }
  #container.brand .rightWrap .box .contentBox .imgBox.logo img {
    height: 34px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #container.brand .rightWrap .box .contentBox .imgBox + .imgBox {
    margin-top: 10px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(1) img {
    width: auto;
    height: 154px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) img {
    width: auto;
    height: 107px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) p {
    text-align: center;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) .title {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) .sub {
    font-family: Noto Sans KR;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #666;
    margin-top: 8px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) .conTxt {
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1d1d1f;
    margin-top: 20px;
    padding: 0 30px;
    word-break: keep-all;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(2) .conTxt + .sub {
    font-family: Noto Sans KR;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #666;
    margin-top: 8px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(4) img {
    width: auto;
    height: 158px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(6) {
    padding-top: 50px;
    justify-content: normal;
    font-family: Proxima Nova Extra;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(6) img {
    width: auto;
    height: 66px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(6) p {
    margin-top: 20px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox:nth-of-type(6) p.sub {
    color: #666;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
  #container .rightWrap .box .contentBox .imgBox + .labelWrap {
    margin-top: 15px;
    display: flex;
    gap: 0 5px;
    margin-bottom: 60px;
  }
  #container .rightWrap .box .contentBox .labelWrap .label {
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    padding: 6px 5px;
  }
  #container.brand .rightWrap .title h3 + .mdText,
  #container.brand .rightWrap .title .mdText {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #container.brand .rightWrap .title .smText {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
  }
  #container.brand .rightWrap .title .smTextBullet {
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: -0.02em;
  }
  #container.brand .rightWrap .title .smText .suit {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
  }
  #container.brand .rightWrap .colorWrap {
    width: 180px;
    height: 220px;
  }
  #container.brand .rightWrap .colorWrap2 {
    width: 180px;
    height: 220px;
  }
  #container.brand .rightWrap .colorWrap3 {
    width: 180px;
    height: 220px;
  }
  #container.brand #typo.box {
    margin-top: 80px;
  }
  #container.brand .rightWrap #typo.box .contentBox .imgBox img {
    height: 100%;
  }
  /* //브랜드 에셋 */

  /* 결제서비스 */
  #container.pay .product-specs .spec-item.spec-item-row {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  #container.pay .product-specs .spec-item .item {
    margin-left: auto;
    margin-right: 0;
  }
  /* //결제서비스 */
  #container.tech .snb li a {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  #container.tech .snb li {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  #container.tech .coalitionWrap,
  #container.tech .content .coalitionWrap {
    margin-bottom: 30px;
  }
  #container.tech .content .coalitionWrap:first-of-type {
    margin-top: 10px;
  }
  #container.tech .content .coalitionWrap:last-of-type {
    margin-bottom: 80px;
  }
  #container.tech .content .coalitionWrap .coalitionWrapTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.04em;
  }
}

.mo-view-414-up {
  display: none !important;
}
@media all and (min-width: 415px) {
  .mo-view-414-up {
    display: block !important;
  }
}
/* //mo */
