.auth-container {
  padding-top: 24px;
  padding-bottom: 136px;
  max-width: 580px;
}

.bottom-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  z-index: 1;
}

.bottom-wrap .btn-toggle {
  background: url(../../images/common/icon-arrow-up.svg) no-repeat center / contain;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  z-index: 100;
}

.bottom-wrap .btn-toggle.open {
  transform: rotate(0deg);
}

.bottom-wrap .check-all-box {
  display: none;
  margin-bottom: 20px;
  background-color: #fff;
}

.bottom-wrap .check-all-box.show {
  display: block;
}

.bottom-wrap .check-all-box .check-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.bottom-wrap .check-all-box .check-all label {
  font-weight: bold;
}

.bottom-wrap .agree-full-wrap .terms-wrap {
  margin-top: 0;
}

.bottom-wrap .container {
  max-width: 580px;
}

.modal-slide .modal-content {
  max-width: 547px;
  left: 50%;
  transform: translateX(-50%);
}

@media all and (min-width: 768px) {
  .modal-slide.type-select .modal-content {
    width: 360px;
  }
}