#wrap {
  display: block;
  overflow-x: hidden;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  z-index: 100;
  background-color: transparent;
}

#header .header-box .text-btn.left-0 {
  position: absolute;
  left: 16px;
  top: auto;
}

#content {
  min-height: calc((var(--vh, 1vh) * 100));
  background: linear-gradient(180deg, #dffebc 0%, rgba(255, 255, 255, 1) 100%);
}

#content .home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
}

.home-container .contents-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .contents-wrap .head-text {
  z-index: 1;
  margin-bottom: 40px;;
  color: #151515;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
}

.home-container .contents-wrap .text-wrap {
  position: relative;
}

.home-container .contents-wrap .text-wrap .white-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 40px 0 53px;
  border-radius: 24px;
  background-color: #fff;
  text-align: center;
   z-index: 1;
}

.home-container .contents-wrap .text-wrap .title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #151515;
}

.home-container .contents-wrap .text-wrap .sub-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.home-container .contents-wrap .qr-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 164px;
  margin-top: 25px;
  background: url(../../images/web/account/qr-frame-img.png) center / 100% 100% no-repeat;
}

.home-container .contents-wrap .qr-img {
  display: block;
  width: 140px;
  height: 140px;
}

.home-container .contents-wrap .visual-img {
  position: absolute;
  display: block;
}

.home-container .contents-wrap .visual-img.visual-img-1 {
  top: 18px;
  left: -66px;
  width: 91px;
  height: 92px;
  background: url(../../images/web/home/coin-img-01.png) center / 100% 100% no-repeat;
  z-index: 0;
}

.home-container .contents-wrap .visual-img.visual-img-2 {
  top: -122px;
  right: -70px;
  width: 85px;
  height: 87px;
  background: url(../../images/web/home/coin-img-02.png) center / 100% 100% no-repeat;
  z-index: 0;
}

.home-container .contents-wrap .visual-img.visual-img-3 {
  left: -45px;
  bottom: -48px;
  width: 121px;
  height: 127px;
  background: url(../../images/web/home/rround-img.png) center / 100% 100% no-repeat;
  z-index: 1;
}

.button-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  padding: 0 16px 0;
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.button-wrap .btn {
  max-width: 548px;
  width: 100%;
  margin: auto;
}

.button-wrap .btn-logout {
  background-color: #fff;
  color: #888888;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

@media all and (max-width: 548px) {
  .home-container .contents-wrap .head-text {
    font-size: 24px;
  }
}