#content {
  padding-bottom: 0;
}

#content .kyc-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 0;
}

.kyc-container .title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
}

.kyc-container .gray-box {
  margin-top: 20px;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
  border-radius: 16px;
  background: #F6F6F9;
  border: none;
  text-align: center;
}

.kyc-container .qr-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kyc-container .qr-box .qr-img {
  display: block;
  width: 240px;
  height: 240px;
}

.kyc-container .qr-box .rrpay-logo {
  display: block;
  width: 232px;
  height: auto;
  margin-top: 20px;
}

.kyc-container .bottom-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-top: auto;
  padding: 0;
}

.kyc-container .bottom-area::after {
  display: none;
}