#header > .container {
  max-width: 768px;
}

#content .container {
  max-width: 580px;
}

.bottom-area .container {
  max-width: 580px;
}

@media all and (min-width: 768px) {
  .modal-slide .modal-content {
    bottom: 50% !important;
    transform: translate(-50%, 50%) !important;
    border-radius: 24px !important;
  }
}