br.view-mo {
  display: none;
}

@media all and (max-width: 768px) {
  br.view-mo {
    display: block;
  }

  #wrap {
    background-color: #fff;
  }
}

.flex-1 {
  flex: 1;
}

#header {
  max-width: 768px;
  position: sticky;
  top: 0;
  margin: auto;
}

#header > .container {
  max-width: 768px;
}

#wrap {
  background: #0000004D;
  min-height: calc(var(--vh, 1vh) * 100);
  height: auto;
}

#content {
  max-width: 768px;
  width: 100%;
  min-height: calc((var(--vh, 1vh) * 100) - 56px);
  margin: auto;
  padding-top: 0;
  background-color: #fff;
}

#content .container {
  max-width: 580px;
  padding-top: 24px;
}

#content .bottom-area {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  padding: 0 16px 20px;
  background: linear-gradient(0deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 10;
}

#content .bottom-area .container {
  max-width: 580px;
  padding: 0;
}

.modal-slide:not(.modal-agree) .modal-content {
  left: 50%;
  bottom: 50% !important;
  transform: translate(-50%, 50%) !important;
  border-radius: 24px !important;
  width: calc(100% - 32px);
  max-height: calc((var(--vh, 1vh) * 100) - 200px);
}

.modal-slide:not(.modal-agree) .modal-dialog .modal-content .modal-body {
  max-height: calc((var(--vh, 1vh) * 100) - 268px);
  padding-bottom: 12px;
} 

.modal.modal-full::before {
  background-color: transparent;
}

.modal.modal-full .modal-head,
.modal.modal-full .modal-dialog {
  max-width: 768px;
  left: 50%;
  transform: translateX(-50%);
}

.modal.modal-full .modal-head .container {
  max-width: 100%;
}

.modal.modal-full .modal-body {
  padding-top: 56px;
}

.modal.modal-full .modal-body .container {
  padding-top: 16px;
}

.modal.modal-full .modal-body .container p {
  display: block;
  text-align: left;
}

#wrap #content div.nppfs-keypad-div {
  height: auto !important;
  margin-top: auto;
}

@media all and (min-width: 768px) {
  .modal-terms .modal-content .modal-body .title-text {
    width: 100%;
  }

  .modal-terms .modal-content.fixed .modal-body .title-text span {
    transform: translateX(calc(736px / 2 - 50%));
  }
}