.mypage-container {
  padding: 16px 0 0;
}

.mypage-container dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.mypage-container dl dt {
  display: flex;
  align-items: center;
  color: #454545;
  gap: 4px;
}

.mypage-container dl dd {
  display: flex;
  align-items: center;
  color: #151515;
}

.mypage-container .btn-wrap {
  padding: 12px 16px 20px;
  border-bottom: 8px solid #F6F6F9;
}

.mypage-container dl dd .btn {
  height: 28px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  border-radius: 8px;
}

.mypage-container dl dd .icon-arrow-right {
  margin-left: 4px;
}

.mypage-container dl dt .email-status {
  display: inline-block;
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  background-color: #151515;
  color: #E0FF63;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.mypage-container dl dt .email-status.off {
  background-color: #D1D1D5;
  color: #fff;
}