.password-container {
  padding: 24px 0 0;
}

.password-container .headline {
  padding: 0 16px;
}

.password-container .form-type-wrap {
  margin-top: 24px;
  padding: 0 16px 24px;
}

.password-container .checkbox-wrap {
  position: relative;
  top: 100px;
  padding: 24px 16px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #F6F6F9;

}

.password-container .checkbox-wrap.active {
  top: 0;
  opacity: 1;
}

.password-container .checkbox-wrap .sub-title-text {
  color: #151515;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.password-container .checkbox-wrap .checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.password-container .checkbox-wrap .checkbox-group .checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
}

/* 이메일 입력 필드 초기 숨김 */
.password-container .checkbox-item-content {
  display: none;
}

.password-container.email-container .checkbox-wrap {
  display: block;
  top: 0;
  opacity: 1;
  transition: none;
  border: none;
}

.password-container.email-container .email-input input:disabled {
  background-color: #F6F6F9;
  color: #454545;
}

.password-container.email-container .sub-title-text {
  position: absolute;
  top: 36px;
  left: 32px;
  color: #888;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;

}

/* 받을래요 라디오 버튼이 체크되면 이메일 입력 필드 표시 */
.password-container .checkbox-item input[type="radio"]:checked ~ .checkbox-item-content,
.password-container .checkbox-item:has(input[type="radio"]:checked) .checkbox-item-content {
  display: block;
}

.helper-text.email-error {
  color: #FC0626;
}