#content {
  padding-bottom: 0 !important;
}

#content .container.payment-container {
  padding: 0 0 120px;
  max-width: 100%;
}

.payment-container .product-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px 24px;
}
.payment-container .product-section .name {
  color: #888;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
.payment-container .product-section .price {
  color: #151515;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.payment-container .rrpay-point-text {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1.2;
}

.payment-container .rrpay-point-text img {
  width: 21px;
}

.payment-container .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 16px;
}

.payment-container .title-wrap .title-text {
  display: flex;
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.payment-container .title-wrap .icon-arrow-down {
  transform: rotate(180deg);
}

.payment-container .title-wrap .icon-arrow-down.close {
  transform: rotate(0);
}

.payment-container .border-top {
  border-top: 8px solid #F6F6F9;
}

.payment-container .point-section .contents-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px 20px;
}

.payment-container .point-section .contents-wrap .text-wrap {
  display: flex;
  align-items: center;
  gap: 2px;
}

.payment-container .point-section .contents-wrap .input-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-container .point-section .contents-wrap .input-wrap input {
  height: 48px;
  padding: 0 16px;
  border: 1px solid #E5E5E8;
  border-radius: 12px;
  text-align: right;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .point-section .contents-wrap .input-wrap input::placeholder {
  height: auto;
  color: #B0B0B3;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .point-section .contents-wrap .input-wrap input::-webkit-placeholder {
  height: auto;
  color: #B0B0B3;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .point-section .contents-wrap .input-wrap button {
  flex: 0 0 auto;
  height: 48px;
  padding: 0 16px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  background-color: #F6F6F9;
}

.payment-container .point-section .contents-wrap.disabled .input-wrap input {
  background-color: #F6F6F9;
  color: #B0B0B3;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: left;
}

.payment-container .point-section .contents-wrap.disabled .input-wrap button {
  background-color: #D1D1D5;
  color: #fff;
}

.payment-container .point-section .contents-wrap .point-info-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  color: #888;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  gap: 16px;
}

.payment-container .point-section .contents-wrap .point-info-wrap p {
  position: relative;
}

.payment-container .point-section .contents-wrap .point-info-wrap p::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #E5E5E8;
}

.payment-container .point-section .contents-wrap .point-info-wrap p:last-child::after {
  display: none;
}

.payment-container .point-section .contents-wrap .point-info-wrap .available-point {
  color: #F04806;
  font-weight: 500;
}

.payment-container .point-section .contents-wrap.disabled .point-info-wrap {
  display: none;
}

.payment-container .payment-method-section .contents-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 16px 20px;
}

.payment-container .payment-method-section .contents-wrap .banner-img {
  height: 70px;
  margin-top: 12px;
  cursor: pointer;
}

.payment-container .payment-method-section .contents-wrap .checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 52px;
  line-height: 1;
}

.payment-container .payment-method-section .contents-wrap .checkbox .point-text {
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  color: #151515;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -0.02em;
  background: #E0FF63;
}

.payment-container .payment-method-section.disabled .contents-wrap .payment-method-item {
  pointer-events: none;
  opacity: 0.4;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.disabled .checkbox label {
  pointer-events: none;
  opacity: 0.4;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-container {
  display: none;
  width: 260px;
  margin: auto;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.active .swiper-container {
  display: block;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .helper-text {
  color: #F04806;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide .border-box {
  display: flex;
  align-items: center;
  width: 260px;
  height: 124px;
  border: 1px solid #E5E5E8;
  border-radius: 16px;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide.warning-card {
  z-index: 1;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide button {
  pointer-events: none;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide.swiper-slide-active .border-box {
  border: 1px solid #A0D70B;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide.swiper-slide-active button {
  pointer-events: auto;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .img-wrap {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.card-item .border-box {
  padding: 12px;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap {
  margin-bottom: 8px;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap .card-text {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #151515;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap .icon-warning {
  
  width: 20px;
  height: 20px;
  background: url('../../images/web/payment/icon-exclam.svg') 0 0 / cover no-repeat;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap .tooltip-wrap {
  position: static;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap .tooltip-wrap .tooltip-content {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

.payment-container .payment-method-section .payment-method-item .normal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 100%;
}

.payment-container .payment-method-section .payment-method-item.card-item .card-add-box {
  background-color: #FCFFE9;
  padding: 0;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item .swiper-slide .border-box.card-banner-box {
  border: none;
  padding: 0;
}

.payment-container .payment-method-section .payment-method-item.card-item .normal-wrap .icon-card {
  width: 32px;
  height: 32px;
  background: url('../../images/web/payment/icon-card.svg') 0 0 / cover no-repeat;
}

.payment-container .payment-method-section .payment-method-item.card-item .normal-wrap .icon-add-card {
  width: 32px;
  height: 32px;
  background: url('../../images/web/payment/icon-add.svg') 0 0 / cover no-repeat;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .text-wrap .number-text {
  color: #888;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .btn-card-month {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .btn-card-month.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.payment-container .payment-method-section .payment-method-item.card-item .right-wrap .btn-card-month i {
  width: 12px;
  height: 12px;
}

.payment-container .payment-method-section .payment-method-item.card-item .btn-card-benefit {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  color: #888888;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.card-item .img-wrap img {
  width: 35px;
  height: auto;
  object-fit: contain;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.card-item .img-wrap img.rotate {
  transform: rotate(90deg);
  width: auto;
  height: 35px;
}

.payment-container .payment-method-section .contents-wrap .payment-method-item.money-item .swiper-slide .border-box {
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px;
  height: 142px;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .money-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .money-wrap .money-title {
  color: #454545;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .money-wrap .money-amount {
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .money-wrap .charge-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #454545;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .btn-account {
  height: 36px;
  margin-top: auto;
  margin-left: auto;
  padding: 0 12px;
  border-radius: 24px;
  background-color: #F6F6F9;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .btn-account-register {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: auto;
  margin-left: auto;
  color: #888;
  font-size: 14px;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .btn-account-register i {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.payment-container .payment-method-section .payment-method-item.money-item .border-box .btn-account .bank-img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 4px;
}

.payment-container .payment-method-section .payment-method-item .normal-wrap .icon-money-charge {
  width: 32px;
  height: 32px;
  background: url('../../images/web/payment/icon-money.svg') 0 0 / cover no-repeat;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container {
  position: relative;
  margin-top: 16px;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container li {
  padding: 12px 16px;
  border-radius: 16px; 
  color: #454545;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container li .banner-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container .swiper-slide-counter {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 24px;
  height: 20px;
  color: #454545;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  z-index: 10;
  background-color: #15151566;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container .swiper-slide-counter .current-slide {
  color: #fff;
  font-weight: 700;
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container .swiper-slide-counter .separator {
  width: 1px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.payment-container .payment-method-section .contents-wrap .banner-swiper-container .swiper-slide-counter .total-slides {
  color: rgba(255, 255, 255, 0.6);
}

.payment-container .payment-info-section .contents-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 16px 20px;
}

.payment-container .payment-info-section .contents-wrap dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-container .payment-info-section .contents-wrap .info-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #151515;
  font-size: 14px;
}

.payment-container .payment-info-section .contents-wrap .text-green {
  color: #7CAC04;
}

.payment-container .payment-info-section .contents-wrap .top-info-wrap {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #F6F6F9;
}

.payment-container .payment-info-section .contents-wrap .top-info-wrap:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.payment-container .payment-info-section .contents-wrap .top-info-wrap dd b {
  font-size: 16px;
}

.payment-container .payment-info-section .contents-wrap .bottom-info-wrap {
  font-weight: 500;
}

.payment-container .payment-info-section .contents-wrap .bottom-info-wrap dd b {
  font-size: 20px;
}

.payment-container .payment-info-section .contents-wrap dl dt {
  display: flex;
  align-items: center;
  gap: 4px;
}

.payment-container .payment-info-section .contents-wrap .dot-type {
  font-size: 13px;
}

.payment-container .payment-info-section .contents-wrap .dot-type dt {
  position: relative;
  padding-left: 8px;
}

.payment-container .payment-info-section .contents-wrap .dot-type dt::before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.payment-info-section .btn-card-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0 16px;
  border-radius: 16px;
  background: linear-gradient(270deg, #E5F8FF 0%, #FCF1F4 50%, #FFFDD1 100%);
}

.payment-info-section .btn-card-detail i {
  width: 16px;
  height: 16px;
}

.payment-container .bottom-area {
  position: sticky;
  left: 0;
  bottom: 0;
  transform: translateX(0);
  width: 100%;
  max-width: 768px;
  padding: 20px 16px;
  z-index: 100;
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}

.payment-container .bottom-area .balloon-text {
  display: flex;
  align-items: center;
  color: #151515;
  position: absolute;
  left: 50%;
  top: -22px;
  width: max-content;
  height: 28px;
  padding: 1px 8px 0;
  border-radius: 16px;
  transform: translate(-50%, 0);
  font-weight: 700;
  font-size: 11px;
  letter-spacing: -0.02em;
  background-color: #E0FF63;
  cursor: pointer;
}

.payment-container .bottom-area .balloon-text::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #E0FF63;
}

.payment-container .bottom-area .balloon-text i {
  width: 12px;
  height: 12px;
}

.payment-container .bottom-area .agreement-text {
  margin-top: 10px;
  color: #888;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
}

.payment-container .bottom-area .agreement-text button {
  color: #454545;
  font-size: 11px;
  border-bottom: 1px solid #454545;
}

.payment-receipt-section .radio-wrap {
  display: flex;
  gap: 16px;
}

.payment-receipt-section .radio-wrap label {
  font-size: 14px;
  padding-left: 28px;
}

.payment-receipt-section .title-wrap .info-text {
  color: #454545;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.payment-receipt-section .contents-wrap {
  padding: 8px 16px 20px;
}

.payment-receipt-section .contents-wrap .receipt-tab-content {
  display: none;
  margin-top: 8px;
}

.payment-receipt-section .contents-wrap .receipt-tab-content.active {
  display: block;
}

.payment-receipt-section .contents-wrap .input-container {
  margin-top: 8px;
}

.payment-receipt-section .contents-wrap .helper-text {
  display: none;
  color: #FC0626;
}

.payment-receipt-section .contents-wrap .input-container.label-error + .helper-text {
  display: block;
}

.payment-receipt-section .contents-wrap .checkbox {
  margin-top: 16px;
}

.payment-receipt-section .contents-wrap .select-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.payment-receipt-section .contents-wrap .receipt-select-box {
  width: 100%;
  border: 1px solid #E5E5E8;
  border-radius: 12px;
}

.payment-receipt-section .contents-wrap .receipt-select-box.open {
  border: 1px solid #151515;
}

.payment-receipt-section .contents-wrap .receipt-select-box.open .icon-arrow-down {
  transform: rotate(180deg);
}

.payment-receipt-section .contents-wrap .receipt-select-box .select-toggle {
  padding: 14px 16px;
  border-radius: 12px;
  font-size: 15px;
  color: #151515;
  border: none;
}

.payment-receipt-section .contents-wrap .receipt-select-box .select-options {
  display: none;
  position: static;
  top: 100%;
  width: 100%;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  padding: 0 0 8px;
  border-top: 1px solid #E5E5E8;
}

.payment-receipt-section .contents-wrap .receipt-select-box .select-options li {
  padding: 14px 16px;
  font-size: 15px;
  color: #454545;
}

.payment-receipt-section .contents-wrap .receipt-select-box .select-options li:hover {
  background: none;
  cursor: pointer;
}

.payment-receipt-section .contents-wrap .receipt-tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  background-color: #F6F6F9;
}

.payment-receipt-section .contents-wrap .receipt-tab .receipt-tab-item {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  color: #888888;
  font-size: 14px;
}

.payment-receipt-section .contents-wrap .receipt-tab .receipt-tab-item.active {
  color: #151515;
  font-weight: 700;
  background-color: #fff;
  border: 2px solid #F6F6F9;
}

.payment-receipt-section .contents-wrap .receipt-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: #F6F6F9;
}

.payment-receipt-section .contents-wrap .receipt-info-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #151515;
}

.payment-receipt-section .contents-wrap .receipt-info-wrap .text-wrap .title-text {
  font-size: 16px;
  font-weight: 700;
}

.payment-receipt-section .contents-wrap .receipt-info-wrap .text-wrap .receipt-number {
  font-size: 14px;
}

.payment-receipt-section .contents-wrap .receipt-info-wrap .btn-change {
  padding: 8px 12px;
  border: 1px solid #E5E5E8;
  border-radius: 8px;
  background-color: #fff;
  color: #151515;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.tooltip-wrap {
  position: relative;
  z-index: 10;
}

.tooltip-wrap .btn-tooltip {
  display: flex;
  align-items: center;
  color: #888888;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;

}

.tooltip-wrap .btn-tooltip i {
  margin-right: 4px;
}

.point-section .tooltip-wrap .tooltip-content {
  left: -86px;
  top: 24px;
}

.payment-info-section .tooltip-wrap .tooltip-content {
  left: -86px;
  bottom: 24px;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  width: 280px;
  padding: 16px;
  padding-right: 48px;
  box-shadow: 0px 0px 8px 0px #1515151F;
  border-radius: 12px;
  background-color: #fff;
}

.tooltip-wrap .tooltip-content .sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
}

.tooltip-wrap .tooltip-content .title-text {
  margin-bottom: 12px;
  color: #151515;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: left;
  word-break: break-all;
}

.tooltip-wrap .tooltip-content .sub-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.tooltip-wrap .tooltip-content .list-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #454545;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.tooltip-wrap .tooltip-content .list-wrap li {
  position: relative;
  padding-left: 12px;
}

.tooltip-wrap .tooltip-content .list-wrap li::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #D1D1D5;
  border-radius: 50%;
}

.tooltip-wrap .tooltip-content button {
  position: absolute;
  right: 16px;
  top: 16px;
}

@media all and (min-width: 768px) {
  .max-width-548 {
    max-width: 548px !important;
  }
  
  .max-width-358  {
    max-width: 358px !important;
  }
}

.modal-slide.type-select .modal-dialog .modal-body .btn-list {
  padding-bottom: 0;
}

.modal-slide.type-select .modal-dialog .modal-body {
  padding-bottom: 30px;
}

.modal.charge-modal .modal-body {
  padding: 8px 16px 20px;
}

.modal.charge-modal .modal-body .btn-charge {
  margin-top: 16px;
}

.charge-modal .input-wrap {
  position: relative;
  border-bottom: 1px solid #F6F6F9;
  padding-bottom: 16px;
}

.charge-modal .input-wrap .charge-input {
  position: relative;
  margin-top: 0;
}
.charge-modal .input-wrap .charge-input .fake-label {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 286px;
  padding: 30.5px 0 11.5px 17px;
  font-size: 20px;
  font-weight: 700;
  pointer-events: none;
}
.charge-modal .input-wrap .charge-input .fake-label .number {
  opacity: 0;
  font-size: 20px;
  font-weight: 700;
}
.charge-modal .input-wrap .charge-input .fake-label .unit {
  display: none;
  color: #151515;
  line-height: 1.4;
}
.charge-modal .input-wrap .charge-input.error .fake-label .unit {
  color: #fc0626;
}
.charge-modal .input-wrap .charge-info-text {
  display: none;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #888;
}
.charge-modal .input-wrap .add-money-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.charge-modal .input-wrap .charge-info-text + .add-money-btn-wrap {
  margin-top: 16px;
  margin-bottom: 0;
}
.charge-modal .input-wrap .add-money-btn-wrap button {
  height: 36px;
  padding: 8px 13px;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  font-size: 14px;
  line-height: 14.32px;
  text-align: center;
  letter-spacing: -0.03em;
}

.charge-modal .info-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #454545;
  border-top: 1px solid #F6F6F9;
}

.charge-modal .info-list-wrap li {
  position: relative;
  padding-left: 12px;
}

.charge-modal .info-list-wrap li::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #D1D1D5;
  border-radius: 50%;
}

/* 할부 혜택 팝업 */
.installment-benefit-modal.type-title .modal-body {
  padding: 0 16px 16px;
}
.installment-benefit-modal .top-contents-wrap {
  overflow: hidden;
  margin-bottom: 16px;
  border: 1px solid #E5E5E8;
  border-radius: 12px;
}
.installment-benefit-modal .top-contents-wrap.mb-24 {
  margin-bottom: 24px;
}
.installment-benefit-modal .top-contents-wrap .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #F6F6F9;
}

.installment-benefit-modal .top-contents-wrap .title-box h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.installment-benefit-modal .top-contents-wrap .title-box p {
  color: #454545;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.installment-benefit-modal .top-contents-wrap .sub-text-box {
   padding: 16px;
}

.installment-benefit-modal .top-contents-wrap .sub-text-box p {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.02em;
  text-align: left;
}

.installment-benefit-modal .top-contents-wrap .sub-text-box .color-text {
  margin-top: 4px;
  color: #8BC104;
  font-weight: 700;
}

.table-contents-wrap {
  margin-bottom: 24px;
}

.table-contents-wrap:last-child {
  margin-bottom: 0;
}

.table-contents-wrap.promotion .note-list-box {
  padding-bottom: 8px
}

.table-contents-wrap.promotion .note-list-box:last-child {
  border-bottom: 1px solid #151515;
}

.table-contents-wrap.promotion table {
  border-bottom: 1px solid #E5E5E8;
}

.table-contents-wrap.promotion table tr th span {
  color: #454545;
  font-weight: 400;
  font-size: 11px;
  line-height: 15.4px;
  letter-spacing: -2%;

}

.table-contents-wrap .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.table-contents-wrap .title-box h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.table-contents-wrap .title-box p {
  color: #454545;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.table-contents-wrap table {
  width: 100%;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
}

.table-contents-wrap table tr {
  border-bottom: 1px solid #E5E5E8;
}

.table-contents-wrap table tr:last-child {
  border: none;
}
.table-contents-wrap table tr th {
  width: 100px;
  color: #151515;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.02em;
  text-align: center;
}
.table-contents-wrap table tr th .sub-text {
  color: #454545;
  text-align: center;
  font-family: Pretendard;
  font-size: 11px;
  font-weight: 400;
  line-height: 15.4px;
  letter-spacing: -0.22px;
}
.table-contents-wrap table tr td {
  padding: 16px;
  color: #454545;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
  text-align: left;
}

.table-contents-wrap table tr td p {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  line-height: 1.4;
}

.table-contents-wrap table tr td p:last-child {
  margin-bottom: 0;
}

.table-contents-wrap .note-list-box {
  margin-top: 18px;
  color: #454545;
}

.table-contents-wrap .note-list-box li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.table-contents-wrap .note-list-box li::before {
  display: block;
  content: "";
  position: absolute;
  left: 0; 
  top: 7.5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D1D1D5;
}

.info-provide-modal.modal-full {
  max-width: 768px;
  left: 50%;
  transform: translateX(-50%);
}

.info-provide-modal.modal-full .modal-head > .container {
  max-width: 768px;
}

.info-provide-modal .modal-body {
  overflow-y: auto;
  padding-top: 56px;
}

.info-provide-modal .modal-body .info-text {
  padding: 16px;
  color: #151515;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: left;
}



