#wrap {
  display: flex;
  flex-direction: column;
}

#content {
  position: relative;
  min-height: auto;
  flex: 1;
  padding-bottom: 0 !important;
}

#content .plcc-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  padding: 156px 0 20px 0;
  background: linear-gradient(158deg, #DADADC 2.98%, #E3E2E7 101.56%);
}

#content .plcc-container .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

#content .plcc-container .title-text {
  color: #151515;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-align: center;
}

#content .plcc-container .title-text span {
  color: #598E04;
}

#content .plcc-container .visual-wrap {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  margin: 40px auto 50px;
}

#content .plcc-container .visual-img {
  width: 100%;
}

.plcc-container .btn-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 548px;
  width: 100%;
  margin: 0 auto 0;
}

.plcc-container .btn-wrap .btn:first-child {
  grid-column: span 1;
}

.plcc-container .btn-wrap .btn:last-child {
  grid-column: span 2;
}

@media all and (max-width: 768px) {
  #content .plcc-container {
    padding-top: 106px;  
  }

  .plcc-container .btn-wrap {
    display: flex;
    padding: 0 16px;
  }

  #content .plcc-container .title-text {
    font-size :24px;
  }
  #content .plcc-container .visual-wrap {
    margin: 33px auto 45px;
  }
}