@charset "UTF-8";

/* #RESET
------------------------------------------------------------*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; }
html { -ms-touch-action: none; }
body, p, ul, menu, ol, li, dl, dt, dd, form, table, th, td,
fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre, address, i, svg { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { background-color: #fff; font-family: 'Noto Sans KR', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; line-height: 1.4; letter-spacing: -0.03em; color: #222; word-break: keep-all; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block; margin: 0; padding: 0; }
fieldset, img { border: 0; }
img { vertical-align: top; -ms-interpolation-mode:bicubic;/* ie 이미지 계단 현상 해결 */ }
img, video, audio, object, embed, iframe { max-width: 100% }
caption, legend { width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
ul, ol, menu { list-style: none; }
a { color: #666; text-decoration: none; cursor: pointer; }
address, em, i { font-style: normal; }
del { text-decoration: none; }
button { overflow: hidden; border: 0; background: none; cursor: pointer; }
h1, h2, h3, h4, h5 { color: #222; font-weight: 500; line-height: 1.2; }
pre { word-break: break-all; white-space: pre-line; }
strong { font-weight: 700; }
input, select, textarea, button { font-size: 13px; font-family: 'Noto Sans KR', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; }
.sr-only, .sr-only * { margin: 0; font-size: 0; line-height: 0; text-indent: -100000px; }


/* #LAYOUT
------------------------------------------------------------*/
html, body, #wrap { width: 100%; height: 100%; }
.container { margin: auto; padding-left: 24px; padding-right: 24px; min-width: 280px; max-width: 420px; }
.container.full { padding-left: 0; padding-right: 0; }

/* promotion */
.wrap-promotion .container { max-width: 750px; }
.wrap-promotion .section-img .container { padding-bottom: 120px; background-color: #ededed; }
.wrap-promotion .section-img img { width: 100%; height: auto; }

/* footer button */
.wrap-promotion .footer-btn { position: fixed; bottom: 0; left: 0; right: 0; margin-bottom: -100%; -webkit-transition: margin .3s; -moz-transition: margin .3s; -ms-transition: margin .3s; transition: margin .3s; z-index: 10; }
.wrap-promotion .footer-btn .container { padding-top: 15px; padding-bottom: 24px; width: 100%; background: #25513a; background: linear-gradient(180deg, rgba(37,81,58,0) 0, rgba(37,81,58,1) 90%); text-align: center; }
.wrap-promotion .footer-btn .btn { padding: 0; width: 100%; font-size: 17px; color: #fff; font-weight: 700; line-height: 60px; background: #181818; border: 0; border-radius: 7px; }
.wrap-promotion .footer-btn .container.full { padding: 0; background: none; }
.wrap-promotion .footer-btn .container.full .btn { border-radius: 0; line-height: 65px; }
.wrap-promotion .footer-btn.bottom .container { background: transparent; }
.wrap-promotion .footer-btn.fixed { margin-bottom: 0; }
.wrap-promotion .footer-btn .btn span + i { margin-left: 2px; }

/* PASS */
.wrap-promotion.pass #header { position: fixed; width: 100%; height: 44px; background-color: #fff; border-bottom: 1px solid #efefef; z-index: 100; }
.wrap-promotion.pass #header .container { position: relative; }
.wrap-promotion.pass #header .btn-back { position: absolute; top: 0; left: 5px; width: 44px; height: 44px; }
.wrap-promotion.pass .page-title { font-size: 18px; font-weight: 400; text-align: center; line-height: 44px; }
.wrap-promotion.pass.kt #header { display: none; }
.wrap-promotion.pass:not(.kt) #content { padding-top: 44px; }


/* #COMPONENT
------------------------------------------------------------*/
/* ----- icon ----- */
.icon { display: inline-block; }
.icon-triangle-right { width: 0; height: 0; border-style: solid; border-width: 6px 0 6px 8px; border-color: transparent transparent transparent #fff; }
