@charset "UTF-8";
/* 기본설정 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../fonts/pretendard/pretendard-subset.css);
@import url(../fonts/pretendard/pretendard-subset.min.css);
@import url(../fonts/gmarketsans/gmarketsans.css);
@import url(../fonts/gmarketsans/gmarketsans.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */ /* Variables */
* {
  box-sizing: border-box;
}

body {
  font-family: "pretendard", "Malgun Gothic", dotumm, gulim, sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  word-break: keep-all;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 480px;
}

.img-container {
  max-width: 325px;
}

.referral-content {
  width: 100%;
  color: #575757;
  text-align: center;
}

.section {
  padding: 60px 0;
}
.section.visual {
  background-color: #e8f4ff;
  color: #151515;
}
.section.benefit {
  padding-bottom: 24px;
  background-color: #fbfbfb;
}
.section.benefit .benefit-list {
  margin-top: 24px;
  margin-right: -10px;
  padding-right: 10px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  background: url("../images/referral/benefit-img.png") no-repeat right center/contain;
}
.section.benefit .benefit-list li {
  position: relative;
  padding: 43px 0 42px 25px;
  border-bottom: 2px dotted #bfbfbf;
}
.section.benefit .benefit-list li .number {
  display: block;
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 2;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #2378fe url("../images/referral/benefit-number.png") no-repeat 0 0/20px auto;
  font-size: 0;
}
.section.benefit .benefit-list li:nth-child(2) .number {
  background-position: 0 -20px;
}
.section.benefit .benefit-list li:nth-child(3) {
  border: 0;
}
.section.benefit .benefit-list li:nth-child(3) .number {
  background-position: 0 -40px;
}
.section.benefit .benefit-list li strong {
  font-size: 1.143em;
  font-weight: 700;
  color: #151515;
  letter-spacing: -0.05em;
  vertical-align: top;
}
.section.notice {
  padding-bottom: 120px;
  background-color: #3d414c;
  font-size: 12px;
  color: #c0c0c0;
  text-align: left;
}
.section.notice .section-title {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
.section.notice .notice-list {
  margin-top: 10px;
}
.section.notice .notice-list li {
  margin-top: 6px;
  padding-left: 9px;
  text-indent: -9px;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: #2378fe;
  box-shadow: 0 0 30px 12px rgba(49, 52, 60, 0.3);
  transition: box-shadow 0.3s;
}
.fixed-bottom.bottom {
  box-shadow: 0 0 30px 12px rgb(49, 52, 60);
}
.fixed-bottom .banner {
  clear: both;
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  color: #fff;
  text-align: left;
}
.fixed-bottom .banner:after {
  content: "";
  clear: both;
  display: block;
}
.fixed-bottom .banner span {
  display: block;
  float: left;
}
.fixed-bottom .banner .logo {
  margin-right: 10px;
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px 5px rgba(117, 117, 117, 0.4);
}
.fixed-bottom .banner .logo img {
  width: 100%;
}
.fixed-bottom .banner .text {
  margin-top: 6px;
}
.fixed-bottom .banner .text strong {
  color: #fbfa47;
}
.fixed-bottom .banner .download {
  float: right;
  margin-top: 8px;
  padding: 0 15px;
  border-radius: 7px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  color: #2378fe;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal.active {
  display: block;
}
.modal::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2 url(../images/referral/bg-popup.png) no-repeat right 37px top 28px/195px 162px;
  width: 622px;
  height: 420px;
  border-radius: 20px;
  box-sizing: border-box;
}
.modal .modal-dialog .modal-content {
  position: relative;
  padding: 52px 42px;
}
.modal .modal-dialog .modal-content .modal-close {
  position: absolute;
  display: inline-block;
  top: -52px;
  right: 0;
  background: url(../images/referral/icon/icon-close.svg) no-repeat 10px 10px/17px 17px;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  text-indent: -100000px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.modal .modal-dialog .modal-content .modal-body {
  color: #151515;
}
.modal .modal-dialog .modal-content .modal-body .modal-title {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.2;
}
.modal .modal-dialog .modal-content .modal-body .modal-title .icon-logo-pop {
  display: inline-block;
  vertical-align: top;
  background: url(../images/hotdeal/popup/logo-popup.png) no-repeat center/135px 31px;
  width: 135px;
  height: 31px;
}
.modal .modal-dialog .modal-content .modal-body .modal-title strong, .modal .modal-dialog .modal-content .modal-body .modal-title i {
  font-weight: 700;
}
.modal .modal-dialog .modal-content .modal-body .modal-title-sub {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.modal .modal-dialog .modal-content .modal-body .modal-title-sub .icon-arrow-pop {
  display: inline-block;
  background: url(../images/hotdeal/popup/popup-icon-arrow.png) no-repeat center/11px 9px;
  width: 11px;
  height: 1em;
  vertical-align: top;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li {
  float: left;
  background-color: #ffffff;
  width: 170px;
  margin-right: 14px;
  border-radius: 8px;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li:last-child {
  margin-right: 0;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li::after {
  content: "";
  clear: both;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li a {
  display: block;
  height: 180px;
  padding-top: 27px;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li h3 {
  height: 30px;
  margin-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  line-height: 30px;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li h3 [class^=icon] {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li h3 [class^=icon].icon-qr-google {
  background: url(../images/hotdeal/icon/icon-qr-google.png) no-repeat center/18px 19px;
  width: 18px;
  height: 30px;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li h3 [class^=icon].icon-qr-one {
  background: url(../images/hotdeal/icon/icon-qr-one.png) no-repeat center/19px 19px;
  width: 19px;
  height: 30px;
}
.modal .modal-dialog .modal-content .modal-body .qr-list li h3 [class^=icon].icon-qr-app {
  background: url(../images/hotdeal/icon/icon-qr-app.png) no-repeat center 0.4px/20px 23px;
  width: 20px;
  height: 30px;
}

.hidden {
  display: none;
}

.sr-only {
  font-size: 0;
  text-indent: -100000px;
}

.italic {
  font-style: italic;
}

@media only screen and (max-width: 359px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section.benefit .benefit-list {
    font-size: 13px;
  }
  .section.benefit .benefit-list li {
    padding: 34px 0 32px 25px;
  }
  .section.benefit .benefit-list li .number {
    top: 34px;
  }
  .fixed-bottom .banner {
    font-size: 16px;
  }
  .fixed-bottom .banner .download {
    padding: 0 10px;
    font-size: 14px;
  }
}/*# sourceMappingURL=referral.css.map */